//Fonts
@import "fonts/lilicon";

// Primary requirements
@import "variables";
@import "mixins";

@import "contacts/accounts";
@import "contacts/users";

@import "base/icons";
@import "base/header";
@import "base/dropdown";
@import "base/historylist";
@import "base/lists";
@import "base/animate";
@import "base/buttons";
@import "base/forms";
@import "base/filters";
@import "base/widget";
@import "base/tables";

@import "cases/cases";
@import "deals/deals";
@import "mail/inbox";

@import "mail/email";

@import "base/generic";

@import "mail/email";

@import "mail/email";

@import "mail/email";

@import "base/generic";

small {
    text-transform: lowercase;
}

table {
    .table.table-bordered.table-striped.flip-content {
        td, th {
            min-height: 38px;
        }
    }
    th {
        vertical-align: top !important;
    }
}

a {
    &.link-no-decoration {
      text-decoration: none;
      color: inherit;
    }
}

.btn-group {
    &.btn-group-devided {
        .btn {
            min-width: 4em;
        }
    }
}
