@import url('https://fonts.googleapis.com/css?family=Roboto');

$help-text: #d5d5d5;
$darker-help-text: #888;
$app-color-aqua: #2ab8e0;

.login-bg {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #27244c;
    background-position: center;
}

.login-wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

.login-wrapper-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 40px;
}

.login-container,
.register-container {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    padding: 40px;
    margin: 0 auto;
}

.login-container {
    max-width: 300px;
}

.register-container {
    max-width: 500px;
}

.hl-primary-btn-blue {
    color: #fff;
    background: $app-color-aqua;
    border-color: #1b98bc;
    box-sizing: border-box;
    display: inline-block;
    border-width: 1px;
    border-bottom-width: 2px;
    border-style: solid;
    line-height: 36px;
    padding: 0 8px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    margin: 0 3px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        color: #fff;
        background: darken($app-color-aqua, 5);
    }

    &:focus {
        border-color: #1a87a6;
        outline: none;
        color: #fff;
    }
}

.hl-primary-btn {
    color: #27244c;
    background: #fff;
    border-color: #e1e6ef;
    box-sizing: border-box;
    display: inline-block;
    border-width: 1px;
    border-bottom-width: 2px;
    border-style: solid;
    line-height: 36px;
    padding: 0 8px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;

    &:focus {
        border-color: darken(#e1e6ef, 5);
        outline: none;
    }
}

.logo {
    text-align: center;
    margin-bottom: 50px;

    .logo-image {
        max-width: 60px;
    }
}

.field-wrapper {
    position: relative;
    margin-bottom: 20px;

    input,
    select {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0 8px;
        font-size: 14px;
        color: #333;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        line-height: 36px;
        -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.10);
        -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.10);
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.10);

        &:focus {
            transition: border-color, 0.3s;
            outline: none;
            border-color: $app-color-aqua;

            +.errorlist {
                border-color: $app-color-aqua;
                transition: border-color, 0.3s;
            }
        }

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $help-text;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: $help-text;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            color: $help-text;
        }
    }

    select {
        background: #fff;
        color: $help-text;
        -webkit-appearance: none;
        background-image: linear-gradient(45deg, transparent 50%, $darker-help-text 50%), linear-gradient(135deg, $darker-help-text 50%, transparent 50%);
        background-position: calc(100% - 21px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
        background-size: 6px 6px, 6px 6px;
        background-repeat: no-repeat;
    }
}

.field-label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: darken($darker-help-text, 25%);
    opacity: 0.6;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.error {
    font-size: 13px;
    margin-bottom: 20px;
    color: #ff4257;
}

.errorlist {
    position: relative;
    top: -3px;
    color: #ff4257;
    padding: 5px;
    list-style: none;
    margin: 0;
    font-size: 13px;
    border-width: 0 1px 1px;
    border-color: #e5e5e5;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f5f5f5;
}

.align-center {
    text-align: center;
}

.link {
    color: $app-color-aqua;
    font-size: 14px;
    line-height: 20px;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

.col-2-row {
    display: block;
    margin: 0 -5px;

    .column {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 5px;
    }

    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

.spacer-20 {
    height: 20px;
    display: block;
}

.register-text {
    font-size: 0.9em;
}

.help {
    font-size: 0.75em;
    color: $help-text;
}

.hideshowpassword-toggle {
    background: transparent;
    border: 0;
    border-radius: 0.25em;
    color: $darker-help-text;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.5em;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.hideshowpassword-toggle:hover,
.hideshowpassword-toggle:focus {
    background-color: #eee;
    color: #555;
    outline: transparent;
}

strong {
    color: $darker-help-text;
}
