/* SG
# Mixins #

We have mixins in order to keep our cascading style sheets DRY (Don't Repeat
Yourself) and maintainable.
*/

@import "base/prolyfill";

@function text-color($text-color) {
    @if (lightness($text-color) > 75) {
        @return #000;
    } @else {
        @return #fff;
    }
}

@mixin colored-bullet($size, $color) {
    margin-left: 5px;
    padding-left: 3px;

    &:before {
        content: "";
        display: inline-block;
        position: relative;
        left: -5px;
        height: $size;
        width: $size;
        border-radius: $size / 2;
        background: $color;
    }
}

@mixin colored-label($size, $color) {
    color: text-color($color);
    padding: 0 8px;
    line-height: $size;
    background: $color;
    border-radius: 3px;
}

@mixin type-indicator() {
    &.is-deal {
        &:before {
            background: $app-color-mint;
        }
    }

    &.is-case {
        &:before {
            background: $app-color-purple;
        }
    }

    &.is-email {
        &:before {
            background: $app-color-aqua;
        }
    }

    &.is-timelog {
        &:before {
            background: $app-color-grey;
        }
    }

    &.is-note,
    &.is-call {
        &.pinned {
            &:before {
                background: $app-color-red;
            }
        }

        &:before {
            background: $app-color-yellow;
        }
    }
}
