/* SG
# Mixins #

We have mixins in order to keep our cascading style sheets DRY (Don't Repeat
Yourself) and maintainable.
*/

@function text-color($text-color) {
  @if (lightness($text-color) > 60) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin colored-bullet($size, $color) {
  margin-left: 5px;
  padding-left: 3px;

  &:before {
    content: "";
    display: inline-block;
    position: relative;
    left: -5px;
    height: $size;
    width: $size;
    border-radius: $size / 2;
    background: $color;
  }
}

@mixin colored-label($size, $color) {
  color: text-color($color);
  padding: 0 8px;
  line-height: $size;
  background: $color;
  border-radius: 3px;
}
