/* SG
# Variables #

To secure consistency throughout the application we have set a couple of styling
variables. By changing these variables the general look and feel of the application
can be adjusted.

### Variable naming convention ###
Variables should be named in a manner that the values can easily be changed. To
give an example a variable like `$red: #dfba49;` is not a well named variable.
It can never contain a blue value. Instead a variable name like
`$criticalPrioColor: #dfba49;` is prefered. This variable name creates meaning to it.
*/

// NEW COLORS
$app-color-darkBlue: #27244c;
$app-color-purple: #9F5EDC;
$app-color-aqua: #3EB8E0;
$app-color-mint: #55DCC3;
$app-color-red: #FF4257;
$app-color-yellow: #FFD657;
$app-color-grey: #B4B4C0;

$app-border-color: #E1E6EF;

$app-bg-color: #EFF0F8;
$app-link-color: $app-color-aqua;

// Colors
$lightGrey: #f5f6fa;

$lilyBlue: #5b9bd1;
$lilyGrey: #e9ecf3;

$skyGrey: #eff2f9;
$baseBorderColor: #D1D1D6;
$lightBorderColor: #EFF2F8;

$lilyBorderDark: $baseBorderColor;
$lilyBorderLight: #EEF2F6;
$lilyWhiteTone: #fcfcfe;
$lilyWhiteToneHover: #F7F8FD;
$lilyDarkBlue: #5b667b;
$lilyGreen: #01B55F;
$lilyHeaderBg: #edf0f8;

$navyBlue: $lilyDarkBlue;

$bulletColor1: #7dc9fa;
$bulletColor2: #c6a0f0;
$bulletColor3: #94efac;
$bulletColor4: #ffd66f;
$bulletColor5: #6c8ce6;
$bulletColor6: #ff9a4f;

// Item type colors
$caseColor: $app-color-purple;
$emailColor: $app-color-aqua;
$dealColor: $app-color-mint;
$noteColor: $app-color-yellow;
$contactColor: $app-color-grey;
$accountColor: $app-color-grey;

// Priority colors
$lowPrioColor: #A0E0D4;
$mediumPrioColor: #97D5FF;
$highPrioColor: #FFD191;
$criticalPrioColor: #FF7097;

// Borders
$baseBorderRadius: 4px;

// Buttons
$button-height: 30px;

// BREAKPOINTS
$breakpoint-mobile: 420px;
$breakpoint-tablet: 767px;
$breakpoint-laptop: 1030px;
$breakpoint-desktop: 1200px;
$breakpoint-tv: 1800px;
