/* SG
# Variables #

To secure consistency throughout the application we have set a couple of styling
variables. By changing these variables the general look and feel of the application
can be adjusted.

### Variable naming convention ###
Variables should be named in a manner that the values can easily be changed. To
give an example a variable like `$red: #dfba49;` is not a well named variable.
It can never contain a blue value. Instead a variable name like
`$criticalPrioColor: #dfba49;` is prefered. This variable name creates meaning to it.
*/

// Colors
$lightGrey: #f5f6fa;

$lilyBlue: #5b9bd1;
$lilyGrey: #e9ecf3;

$skyGrey: #eff2f9;
$baseBorderColor: #ced9e3;
$lightBorderColor: #e5e9f0;
$navyBlue: #5b667b;

$lilyBorderDark: $baseBorderColor;
$lilyBorderLight: #EEF2F6;
$lilyWhiteTone: #fcfcfe;
$lilyWhiteToneHover: #f6f9fb;
$lilyDarkBlue: #5b667b;
$lilyGreen: #01B55F;
$lilyHeaderBg: #edf0f8;

$bulletColor1: #7dc9fa;
$bulletColor2: #c6a0f0;
$bulletColor3: #94efac;
$bulletColor4: #ffd66f;
$bulletColor5: #6c8ce6;
$bulletColor6: #ff9a4f;

// Item type colors
$caseColor: #9b59b6;
$emailColor: #578ebe;
$dealColor: #1bbc9b;
$noteColor: #ffb848;

// Priority colors
$lowPrioColor: #45b6af;
$mediumPrioColor: #89c4f4;
$highPrioColor: #dfba49;
$criticalPrioColor: #f3565d;

// Borders
$baseBorderRadius: 4px;

// BREAKPOINTS
$breakpoint-mobile: 420px;
$breakpoint-tablet: 780px;
$breakpoint-laptop: 1030px;
$breakpoint-desktop: 1200px;
$breakpoint-tv: 1800px;
