/* SG
# Variables #

To secure consistency throughout the application we have set a couple of styling
variables. By changing these variables the general look and feel of the application
can be adjusted.

### Variable naming convention ###
Variables should be named in a manner that the values can easily be changed. To
give an example a variable like `$red: #dfba49;` is not a well named variable.
It can never contain a blue value. Instead a variable name like
`$critical-prio-color: #dfba49;` is prefered. This variable name creates meaning to it.
*/

// NEW COLORS
$app-color-darkblue: #27244c;
$app-color-purple: #9f5edc;
$app-color-aqua: #2ab8e0;
$app-color-mint: #55dcc3;
$app-color-red: #ff4257;
$app-color-yellow: #ffd600;
$app-color-grey: #b4b4c0;

$app-border-color: #e1e6ef;

$app-bg-color: #eff0f8;
$app-link-color: $app-color-aqua;

// Colors
$light-grey: #f5f6fa;

$lily-blue: #5b9bd1;
$lily-grey: #e9ecf3;

$sky-grey: #eff2f9;
$base-border-color: #d1d1d6;
$light-border-color: #eff2f8;

$lily-border-dark: $base-border-color;
$lily-border-light: #eef2f6;
$lily-white-tone: #fcfcfe;
$lily-white-tone-hover: #f7f8fd;
$lily-dark-blue: $app-color-darkblue;
$lily-green: #01b55f;
$lily-header-bg: #edf0f8;
$navy-blue: $lily-dark-blue;
$bullet-color-1: #7dc9fa;
$bullet-color-2: #c6a0f0;
$bullet-color-3: #94efac;
$bullet-color-4: #ffd66f;
$bullet-color-5: #6c8ce6;
$bullet-color-6: #ff9a4f;
$bullet-color-7: #95c6ff;
$bullet-color-8: #e26060;
$bullet-color-9: #75efff;
$bullet-color-10: #a58f7b;
$bullet-color-11: #b4d395;

$text-muted: #b5b5b5;

// Item type colors
$case-color: $app-color-purple;
$email-color: $app-color-aqua;
$deal-color: $app-color-mint;
$note-color: $app-color-yellow;
$contact-color: $app-color-grey;
$account-color: $app-color-grey;

// Priority colors
$low-prio-color: #a0e0d4;
$medium-prio-color: #97d5ff;
$high-prio-color: #ffd191;
$critical-prio-color: #ff7097;

$alert-warning-color: #f3bf2c;

// Borders
$base-border-radius: 4px;

// Buttons
$button-height: 30px;

// Breakpoints
$breakpoint-mobile: 420px;
$breakpoint-tablet: 767px;
$breakpoint-laptop: 1030px;
$breakpoint-desktop: 1200px;
$breakpoint-tv: 1800px;
