{% extends 'anonymous/form.html' %}

{% load i18n bootstrap3 %}

{% block head-title %}{% trans 'Accept invitation' %}{% endblock %}

{% block page-title %}{% trans 'Accept invitation' %}{% endblock %}

{% block form-title %}{% trans 'Accept invitation' %}{% endblock %}

{% block form-fields %}
    {% for field in form.visible_fields %}
        {% block form-bootstrap-field %}
            {% if field.field.required %}
                {% bootstrap_field field form_group_class="form-group" label_class="required" %}
            {% else %}
                {% bootstrap_field field form_group_class="form-group" %}
            {% endif %}
        {% endblock %}
    {% endfor %}
{% endblock %}

{% block form-actions-btn-text %}
    {% trans 'Submit' %}
    <i class="m-icon-swapright m-icon-white"></i>
{% endblock %}
