{% extends 'anonymous/form.html' %}

{% load bootstrap3 i18n %}


{% block head-title %}{% trans 'Resend activation email' %}{% endblock %}
{% block page-title %}{% trans 'Resend activation email' %}{% endblock %}

{% block help-text %}
    <p>
        {% trans "Didn't receive your activation email?" %}
        <br />
        {% trans "Enter your email address below, and I'll email it again, free of charge!" %}
    </p>
{% endblock %}

{% block form-actions %}
    <button type="submit" class="hl-primary-btn-blue m-b-15 no-margin-left">
        {% trans 'Resend email' %}
    </button>
{% endblock %}

{% block extra-form-links %}
    <a href="{% url 'login' %}">
        {% trans 'Back to login' %}
    </a>
{% endblock %}
