{% extends 'users/registration/_base.html' %}
{% load staticfiles %}

{% block right-panel %}
    <h2 class="align-center">
        Just a little more information.
    </h2>
    <div class="spacer-40"></div>

    <form action="" method="post" class="login-form" novalidate>
        {% csrf_token %}
        {% include 'users/_form_fields.html' with form=form %}

        <div class="spacer-40"></div>
        <button type="submit" class="hl-primary-btn blue">
            Next
        </button>
    </form>

    {{ block.super }}
{% endblock right-panel %}
