.list-link {
    text-decoration: none;
}

.list-link:hover {
    text-decoration: none;
}

.list-link:hover > .list-link-name {
    text-decoration: underline;
}

.fa + .list-link-name {
  margin-left: 5px;
}
