//COLORS
$lightGrey: #f5f6fa;

$lilyBlue: #5b9bd1;
$lilyGrey: #e9ecf3;

//item type colors
$caseColor: #9b59b6;
$emailColor: #578ebe;
$dealColor: #1bbc9b;
$noteColor: #ffb848;

//priority colors
$lowPrioColor: #45b6af;
$mediumPrioColor: #89c4f4;
$highPrioColor: #dfba49;
$criticalPrioColor: #f3565d;


//BORDERS
$baseBorderRadius: 4px;
