@font-face {
    font-family: 'lilicon';
    src:    url('fonts/lilicon/lilicon.eot?ls2e23');
    src:    url('fonts/lilicon/lilicon.eot?ls2e23#iefix') format('embedded-opentype'),
        url('fonts/lilicon/lilicon.ttf?ls2e23') format('truetype'),
        url('fonts/lilicon/lilicon.woff?ls2e23') format('woff'),
        url('fonts/lilicon/lilicon.svg?ls2e23#lilicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lilicon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'lilicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$hl-deals-icon: "\e900";
$hl-deals-filled-icon: "\e901";
$hl-outgoing-icon: "\e902";
$hl-incomming-icon: "\e903";
$hl-incomming-down-icon: "\e904";
$hl-outgoing-up-icon: "\e905";
$hl-phone-icon: "\e906";
$hl-asterix-icon: "\e907";
$hl-edit-icon: "\e908";
$hl-edit-line-icon: "\e909";
$hl-trashcan-icon: "\e90a";
$hl-calender-icon: "\e90b";
$hl-firstday-icon: "\e90c";
$hl-tomorrow-icon: "\e90d";
$hl-cog-icon: "\e90e";
$hl-postpone-icon: "\e90f";
$hl-user-icon: "\e910";
$hl-mail-icon: "\e911";
$hl-case-icon: "\e912";
$hl-person-icon: "\e913";
$hl-note-icon: "\e914";
$hl-home-icon: "\e915";
$hl-company-icon: "\e916";
$hl-stats-icon: "\e917";
$hl-paperclip-icon: "\e918";
$hl-pin-icon: "\e92b";
$hl-options-icon: "\e919";
$hl-low-prio-icon: "\e91a";
$hl-normal-prio-icon: "\e91b";
$hl-high-prio-icon: "\e91c";
$hl-critical-prio-icon: "\e91d";
$hl-toggle-right-icon: "\e91e";
$hl-toggle-left-icon: "\e91f";
$hl-toggle-up-icon: "\e920";
$hl-toggle-down-icon: "\e921";
$hl-close-icon: "\e922";
$hl-arrow-right-icon: "\e923";
$hl-arrow-left-icon: "\e924";
$hl-arrow-up-icon: "\e925";
$hl-arrow-down-icon: "\e926";
$hl-arrow-right-smll-icon: "\e927";
$hl-arrow-left-smll-icon: "\e928";
$hl-arrow-up-smll-icon: "\e929";
$hl-arrow-down-smll-icon: "\e92a";

.hl-deals-icon {
    &:before {
        content: $hl-deals-icon;
    }
}
.hl-deals-filled-icon {
    &:before {
        content: $hl-deals-filled-icon;
    }
}
.hl-outgoing-icon {
    &:before {
        content: $hl-outgoing-icon;
    }
}
.hl-incomming-icon {
    &:before {
        content: $hl-incomming-icon;
    }
}
.hl-incomming-down-icon {
    &:before {
        content: $hl-incomming-down-icon;
    }
}
.hl-outgoing-up-icon {
    &:before {
        content: $hl-outgoing-up-icon;
    }
}
.hl-phone-icon {
    &:before {
        content: $hl-phone-icon;
    }
}
.hl-asterix-icon {
    &:before {
        content: $hl-asterix-icon;
    }
}
.hl-edit-icon {
    &:before {
        content: $hl-edit-icon;
    }
}
.hl-edit-line-icon {
    &:before {
        content: $hl-edit-line-icon;
    }
}
.hl-trashcan-icon {
    &:before {
        content: $hl-trashcan-icon;
    }
}
.hl-calender-icon {
    &:before {
        content: $hl-calender-icon;
    }
}
.hl-firstday-icon {
    &:before {
        content: $hl-firstday-icon;
    }
}
.hl-tomorrow-icon {
    &:before {
        content: $hl-tomorrow-icon;
    }
}
.hl-cog-icon {
    &:before {
        content: $hl-cog-icon;
    }
}
.hl-postpone-icon {
    &:before {
        content: $hl-postpone-icon;
    }
}
.hl-user-icon {
    &:before {
        content: $hl-user-icon;
    }
}
.hl-mail-icon {
    &:before {
        content: $hl-mail-icon;
    }
}
.hl-case-icon {
    &:before {
        content: $hl-case-icon;
    }
}
.hl-person-icon {
    &:before {
        content: $hl-person-icon;
    }
}
.hl-note-icon {
    &:before {
        content: $hl-note-icon;
    }
}
.hl-home-icon {
    &:before {
        content: $hl-home-icon;
    }
}
.hl-company-icon {
    &:before {
        content: $hl-company-icon;
    }
}
.hl-stats-icon {
    &:before {
        content: $hl-stats-icon;
    }
}
.hl-paperclip-icon {
    &:before {
        content: $hl-paperclip-icon;
    }
}
.hl-options-icon {
    &:before {
        content: $hl-options-icon;
    }
}
.hl-low-prio-icon {
    &:before {
        content: $hl-low-prio-icon;
    }
}
.hl-normal-prio-icon {
    &:before {
        content: $hl-normal-prio-icon;
    }
}
.hl-high-prio-icon {
    &:before {
        content: $hl-high-prio-icon;
    }
}
.hl-critical-prio-icon {
    &:before {
        content: $hl-critical-prio-icon;
    }
}
.hl-toggle-right-icon {
    &:before {
        content: $hl-toggle-right-icon;
    }
}
.hl-toggle-left-icon {
    &:before {
        content: $hl-toggle-left-icon;
    }
}
.hl-toggle-up-icon {
    &:before {
        content: $hl-toggle-up-icon;
    }
}
.hl-toggle-down-icon {
    &:before {
        content: $hl-toggle-down-icon;
    }
}
.hl-close-icon {
    &:before {
        content: $hl-close-icon;
    }
}
.hl-arrow-right-icon {
    &:before {
        content: $hl-arrow-right-icon;
    }
}
.hl-arrow-left-icon {
    &:before {
        content: $hl-arrow-left-icon;
    }
}
.hl-arrow-up-icon {
    &:before {
        content: $hl-arrow-up-icon;
    }
}
.hl-arrow-down-icon {
    &:before {
        content: $hl-arrow-down-icon;
    }
}
.hl-arrow-right-smll-icon {
    &:before {
        content: $hl-arrow-right-smll-icon;
    }
}
.hl-arrow-left-smll-icon {
    &:before {
        content: $hl-arrow-left-smll-icon;
    }
}
.hl-arrow-up-smll-icon {
    &:before {
        content: $hl-arrow-up-smll-icon;
    }
}
.hl-arrow-down-smll-icon {
    &:before {
        content: $hl-arrow-down-smll-icon;
    }
}

.hl-pin-icon {
    &:before {
        content: $hl-pin-icon;
    }
}
