{% extends 'mwsadmin/base_app.html' %}

{% load media %}

{% block body %}

    {% block page-header %}
        <!-- Page header -->
        <div id="mws-header">

            <!-- Page header container -->
            <div id="mws-header-container" class="clearfix">
                <!-- Logo container -->
                <div id="mws-logo-container">
                    <div id="mws-logo-wrap">
                        <img src="{% media_url 'mwsadmin/extra/images/logo-hellolily-textonly.png' %}" alt="HelloLily" />
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">

        <!-- Sidebar -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar">
            {% block sidebar %}{% endblock %}
        </div>

        <!-- Main Container -->
        <div id="mws-container" class="clearfix">

            <!-- Inner Container -->
            <div class="container">
                {% block container %}{% endblock %}
            </div>

            {% block page-footer %}
                <!-- Footer -->
                <div id="mws-footer">Copyright HelloLily 2012. All Rights Reserved.</div>
            {% endblock %}
        </div>
    </div>

{% endblock %}
