.mws-i-24{background-repeat:no-repeat;}

.mws-i-24.i-arrow-left{background-image:url(../../../css/icons/24/arrow-left.png);}
.mws-i-24.i-arrow-right{background-image:url(../../../css/icons/24/arrow-right.png);}
.mws-i-24.i-refresh-4{background-image:url(../../../css/icons/24/refresh-4.png);}
