.i-20 { background-repeat: no-repeat; background-position: 6px center; }
.i-20.i-archive { background-image: url(color/20/archive.png); }
.i-20.i-bended-arrow-left { background-image: url(color/20/bended-arrow-left.png); }
.i-20.i-create { background-image: url(color/20/create.png); }
.i-20.i-folder { background-image: url(color/20/folder.png); }
.i-20.i-favorite { background-image: url(color/20/favorite.png); }
