// Deals page
//
// This is the atoms chapter. Atoms are the only parts that contain actual
// class and style definitions. The higher level abastractions are mere
// composites of the existing atoms.
//
// Styleguide 1.0

// Stage for deals
//
//
// #deal-stage - stage of a deal
//
// markup:
// <div id="deal-stage">
//		hoi
// </div>
//
// Styleguide 1.1

// headers
//
//
// .deal-header - header of a deal
// .deal-header blue - blue header of a deal
//
// markup:
// <h1 class="deal-header {$modifiers}">
//		hoi
// </h1>
//
// Styleguide 1.1.1


#deal-stage {
    margin-top: 15px;
    margin-bottom: 15px;
}



.deal-header {
	font-size: 110%;
	color: red;

	&.blue {
		font-color: blue;
		font-size: 50%;
	}
}