<div class="portlet">
    <div class="portlet-body flip-scroll">
        <simple-widget>
            <widget-header>
                <div class="widget-name">
                    Your email accounts
                </div>
            </widget-header>

            <widget-body>
                <table class="table table-bordered">
                    <thead class="flip-content">
                        <tr>
                            <th>
                                <span class="text-nowrap">Primary</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Email address</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Label</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Privacy setting</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Default email template</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Subscribed</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Shared with</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Options</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="account in vm.ownedAccounts">
                            <td class="width-6">
                                <input type="radio" name="primary" ng-model="vm.primaryAccount" ng-value="account.id" ng-click="vm.setPrimaryEmailAccount(account)">
                            </td>
                            <td>
                                {{ account.email_address }}
                            </td>
                            <td>
                                {{ account.label }}
                            </td>
                            <td>
                                {{ account.privacy_display }}
                            </td>
                            <td>
                                {{ account.default_template.name || '-' }}
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-model="account.is_hidden" ng-change="vm.toggleHidden(account)" ng-true-value="false" ng-false-value="true">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td>
                                <span ng-if="account.privacy === vm.publicPrivacy">Public</span>
                                <span ng-if="account.privacy !== vm.publicPrivacy">
                                    <button class="hl-primary-btn" ng-click="vm.openShareAccountModal(account)">
                                        {{ account.shared_with_users.length }} <i class="lilicon hl-entity-icon margin-left-5"></i>
                                    </button>
                                </span>
                            </td>
                            <td>
                                <a ui-sref="base.preferences.emailaccounts.edit({ id: account.id })" class="hl-primary-btn" title="Edit">
                                    <i class="lilicon hl-edit-icon"></i>
                                </a>
                                <delete-confirmation model="EmailAccount" object="account" callback="vm.removeFromList(account)" button-class="hl-primary-btn" display-field="label"></delete-confirmation>
                            </td>
                        </tr>
                        <tr ng-if="!vm.ownedAccounts.length">
                            <td colspan="6">No email accounts setup yet</td>
                        </tr>
                    </tbody>
                </table>
            </widget-body>
        </simple-widget>

        <simple-widget>
            <widget-header>
                <div class="widget-name">
                    Email accounts shared with you
                </div>
            </widget-header>

            <widget-body>
                <table class="table table-bordered flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th>
                                <span class="text-nowrap">Primary</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Email address</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Owned by</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Default email template</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Subscribed</span>
                            </th>
                            <th>
                                <span class="text-nowrap">Shared with</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="account in vm.sharedAccounts">
                            <td>
                                <input type="radio" name="primary" ng-model="vm.primaryAccount" ng-value="account.id" ng-click="vm.setPrimaryEmailAccount(account)">
                            </td>
                            <td>
                                {{ account.email_address }}
                            </td>
                            <td>
                                {{ account.owner.full_name }}
                            </td>
                            <td>
                                {{ account.default_template.name || '-' }}
                            </td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-model="account.is_hidden" ng-change="vm.toggleHidden(account)" ng-true-value="false" ng-false-value="true">
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td>
                                <span ng-if="account.privacy === vm.publicPrivacy">Public</span>
                                <span ng-if="account.privacy !== vm.publicPrivacy">{{ account.shared_with_users.length || '-' }}</span>
                            </td>
                        </tr>
                        <tr ng-if="!vm.sharedAccounts.length">
                            <td colspan="6">No email accounts shared with you</td>
                        </tr>
                    </tbody>
                </table>
            </widget-body>
        </simple-widget>

        <a href="/messaging/email/setup" class="hl-primary-btn-green pull-right no-margin-right"><i class="fa fa-plus"></i> Add email account</a>
    </div>
</div>
