<div class="portlet">
    <div class="portlet-title">
        <div class="caption">Your email templates</div>
    </div>
    <div class="portlet-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="template in vm.emailTemplates track by template.id">
                {{ template.name }}
                <span class="pull-right">
                    <a class="btn btn-xs default" ng-click="vm.makeDefault(template.id)">
                        <span><i class="fa fa-star"></i> Manage defaults</span>
                    </a>
                    <a ui-sref="base.preferences.emailtemplates.edit({id: template.id})" class="btn btn-xs default">
                        <span><i class="lilicon hl-edit-icon"></i> Edit</span>
                    </a>
                    <delete-confirmation model="EmailTemplate" object="template" callback="vm.removeFromList(template)" button-class="btn-xs default">
                        Delete
                    </delete-confirmation>
                </span>
            </li>
            <li class="list-group-item" ng-hide="vm.emailTemplates.length">
                No templates yet. You should create one!
            </li>
            <li class="list-group-item">
                <a ui-sref="base.preferences.emailtemplates.create">Add an email template</a>
            </li>
        </ul>
    </div>
</div>
