<div class="modal-header">
    <h3 class="modal-title">Yes, let me share this email account!</h3>
</div>
<div class="modal-body" slimscroll="{height: 350}">
    <ul class="list-unstyled">
        <li>
            <checkbox model="vm.currentAccount.public">Make it a public account!</checkbox>
        </li>
    </ul>
    <div ng-hide="vm.currentAccount.public">
        No, just share it with these peeps:
        <ul class="list-unstyled">
            <li ng-repeat="user in vm.users" ng-hide="vm.currentAccount.public">
                <checkbox model="user.sharedWith" >{{ user | fullName }}</checkbox>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
