<div class="widget-heading">
    <div class="widget-title">
        <div class="widget-name">Your template variables</div>
    </div>
    <div class="widget-tools">
        <a class="hl-primary-btn pull-right" ui-sref="base.preferences.templatevariables.create"><i class="fa fa-plus"></i> Add an email template variable</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="widget-body">
    <table class="hl-table">
        <thead>
            <tr>
                <th class="hl-table-column">Template variable name</th>
                <th class="hl-table-column align-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="variable in vm.templateVariables">
                <td class="hl-table-column">{{ variable.name }}</td>
                <td class="hl-table-column align-right">
                    <a ng-click="vm.previewTemplateVariable(variable)" class="hl-primary-btn-smll">
                        <span><i class="fa fa-eye"></i> Preview</span>
                    </a>
                    <a ui-sref="base.preferences.templatevariables.edit({id: variable.id})" class="hl-primary-btn-smll">
                        <span><i class="lilicon hl-edit-icon"></i> Edit</span>
                    </a>
                    <delete-confirmation model="TemplateVariable" object="variable" callback="vm.removeFromList(variable)" button-class="hl-primary-btn-smll">
                        Delete
                    </delete-confirmation>
                </td>
            </tr>
            <tr ng-if="!vm.templateVariables.length">
                <td class="hl-table-column" colspan="2">
                    <div class="margin-bottom-10 align-center">No template variables yet. You should create one!</div>
                    <div class="align-center">
                        <a class="hl-primary-btn" ui-sref="base.preferences.templatevariables.create">
                            Add an email template variable
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="spacer-40"></div>

<div class="widget-heading">
    <div class="widget-title">
        <div class="widget-name">Public template variables</div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="widget-body">
    <table class="hl-table">
        <thead>
            <tr>
                <th class="hl-table-column">Template variable name</th>
                <th class="hl-table-column align-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="variable in vm.publicTemplateVariables">
                <td class="hl-table-column">{{ variable.name }}</td>
                <td class="hl-table-column align-right">
                    <a ui-sref="base.preferences.templatevariables.edit({id: variable.id})" class="hl-primary-btn-smll">
                        <span><i class="lilicon hl-edit-icon"></i> Edit</span>
                    </a>
                    <a ng-click="vm.previewTemplateVariable(variable)" class="hl-primary-btn-smll">
                        <span><i class="fa fa-eye"></i> Preview</span>
                    </a>
                </td>
            </tr>
            <tr ng-if="!vm.publicTemplateVariables.length">
                <td class="hl-table-column align-center" colspan="2">
                    No public template variables yet.
                </td>
            </tr>
        </tbody>
    </table>
</div>
