/* Add/Edit */

.mws-form-row a.click-show {
	margin-top: 5px;
	display: inline-block;
}

.mws-form .email_is_primary label span {
    color: #aaa;
    font-weight: normal;
    cursor: auto;
}

.mws-form .email_is_primary .checked,
.mws-form .email_is_primary .state-hover {
    color: #1C76BC;
    font-weight: bold;
    cursor: pointer;
}

.mws-form .formset-delete .i-16 {
    display: block; 
    width: 16px;
    height: 32px;
}

/* List */

.mws-table td {
    overflow: hidden;
}

.mws-table tbody .controls {
    vertical-align: middle;
    text-align: center;
    padding: 0 0 0 3px !important;
    line-height: 16px;
    text-align: left;
}

.mws-table .controls a {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 4px;
    padding: 1px;
    background-position: 50% 50%;
}

.mws-table thead .picture {
	border-left: none !important;
}

.mws-table .picture {
	padding: 0 0 0 10px !important;
    vertical-align: middle;
}

.mws-table .picture img {
	max-width: 36px;
}

.mws-table .personal .name a {
    font-size: 108%;
}

.mws-table .details {
    white-space: nowrap;
}

.mws-table .details .i-16  {
   padding-left: 24px;
}

.mws-table .created,
.mws-table .modified {
    white-space: nowrap;
}

/* Detail */

#details_top {
    padding: 12px;
}

#contact_image {
    margin-right: 20px;
    vertical-align: top;
}

#details_top_personal {
    display: inline-block;
}

#details_top_personal h2 {
    margin:0;
}

#contact_function {
    font-size: 16px;
    color: #777777;
    margin-right: 1em;
    overflow: hidden;
    max-width: 275px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#contact_social {
    margin-top: 16px;
}

#contact_contact span {
    display: block;
    text-align: right;
    padding: 3px 0 3px 35px;
    border-bottom: 1px solid #ccc;
    height: 19px;
}

#contact_contact {
    display: inline-block;
}

#contact_contact .phone,
#contact_contact .mobile_phone,
#contact_contact .email,
#contact_contact .twitter {
	background-repeat: no-repeat;
	background-position: 4px 48%;
}

#contact_contact .phone {
    background-image: url('/static/images/core/phone.png')
}

#contact_contact .mobile_phone {
    background-image: url('/static/images/core/mobile-phone.png');
}

#contact_contact .email {
    background-image: url('/static/images/core/mail.png');
}

#contact_contact .twitter {
    background-image: url('/static/images/core/twitter.png');
}

#details_body {
    margin-bottom: 5px;
}

/* History tab */

#tab-history .mws-form {
    margin-bottom: 8px;
}

.note-textarea {
	vertical-align: bottom;
}

#add-note-button {
	margin-bottom: 0;
}

/* Details tab */

.detail-block {
    margin-bottom: 24px;
}

#detail-addresses h6,
#detail-phones h6,
#detail-emails h6 {
    display: inline-block;
    vertical-align: top;
    min-width: 80px;
    font-weight: normal;
    
}

#detail-addresses .address .inline,
#detail-phones .phone .inline,
#detail-phones .mobile_phone .inline,
#detail-emails .email .inline {
    margin-bottom: 16px;
    margin-left: 12px;
}