#details_top_left {
    width: 65%;
}

#details_top_right {
    width: 35%;
}

#details_top {
    padding: 12px;
}

#details_top_personal {
    display: inline-block;
    vertical-align: middle;
}

#details_top_personal h2 {
    margin:0;
    padding:0;
}

#contact_image {
    margin-right: 20px;
}

#contact_function {
    font-size: 16px;
    color: #777777;
    margin-right: 1em;
    overflow: hidden;
    max-width: 275px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#contact_contact {
    display: inline-block;
}

#contact_contact span {
    display: block;
    text-align: right;
    padding: 3px 0 3px 35px;
    border-bottom: 1px solid #ccc;
    height: 19px;
}

#contact_social {
    margin-top: 16px;
}

#contact_contact .contact_phone {
    background: url('/static/images/core/phone.png') no-repeat 4px 48%;
}

#contact_contact .contact_mobile_phone {
    background: url('/static/images/core/mobile-phone.png') no-repeat 4px 48%;
}

#contact_contact .contact_email {
    background: url('/static/images/core/mail.png') no-repeat 4px 48%;
}

#contact_contact .contact_twitter {
    background: url('/static/images/core/twitter.png') no-repeat 4px 48%;
}

#details_body {
    margin-bottom: 5px;
}

#tab-history h2 {
    margin-bottom: 0px;
}

#add-note-label {
    font-size: 19px;
    color: #777777;
}

#tab-history .mws-form {
    margin-bottom: 8px;
}

.note-textarea {
	vertical-align: bottom;
}

#add-note-button {
	margin-bottom: 0;
}

.mws-panel-header .mws-i-24 .float-right a {
    margin: 0 4px 0 2px;
}