{% verbatim %}
<script id="accounts/directives/detail-widget.html" type="text/ng-template">
    <div class='portlet light'>
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-building-o"></i>
                {{ account.name }}
            </div>
            <div class="actions">
                <a ng-href="https://freedom.voys.nl/client/{{ account.customer_id }}" target="_blank" class="btn btn-circle btn-default" ng-show="account.customer_id">
                    <i class="fa fa-external-link fa-sm"></i>
                    Freedom
                </a>
                <a href="https://freedom.voys.nl/quotes/create/" target="_blank" class="btn btn-circle btn-default" ng-hide="account.customer_id">
                    <i class="fa fa-external-link fa-sm"></i>
                    Write quote
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div>
                <div class="scroll-body" slimscroll="{height: height/2}">
                <!-- Do not put content of paragraph on new line, because of pre-line css that whitespace will show -->
                <p style="white-space: pre-line">{{ account.description || 'No description' }}</p>
            </div>
        </div>
        <div class="scroll-body" slimscroll="{height: height/2}">
                <table class="table table-hover no-margin">
                    <tr ng-show="(account.email_addresses | filter: {status: '!' + 0}).length">
                        <th>
                            <i class="fa">@</i>
                            Email
                        </th>
                        <td>
                            <div ng-repeat="email in account.email_addresses | filter: {status: '!' + 0}">
                                <a ui-sref="base.email.composeEmail({email: email.email_address})">
                                    {{ email.email_address }}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="account.phones">
                        <th>
                            <i class="fa fa-phone"></i>
                            Phone
                        </th>
                        <td>
                            <div ng-repeat="phone in account.phones">
                                {{ phone }}
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="account.website">
                        <th>
                            <i class="fa fa-globe"></i>
                            Website
                        </th>
                        <td>
                            <div ng-repeat="site in account.website">
                                <a href="{{ site }}" target="_blank">
                                    {{ site }}
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="account.assigned_to">
                        <th>
                            <i class="fa fa-child"></i>
                            Assigned to
                        </th>
                        <td>
                            {{ account.assigned_to }}
                        </td>
                    </tr>
                    <tr ng-show="account.address">
                        <th>
                            <i class="fa fa-map-marker"></i>
                            Address
                        </th>
                        <td>
                            <div ng-repeat="address in account.address">
                                {{ address.address_street }} {{ address.address_street_number }}{{ address.address_complement }}, {{ address.address_postal_code }}
                                <br />
                                {{ address.address_city }}, {{ address.address_country }}
                                <br />
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="account.tag">
                        <th>
                            <i class="fa fa-tag"></i>
                            Tags
                        </th>
                        <td>
                            <a class="btn btn-xs btn-default" ng-repeat="tag in account.tag">
                                {{ tag }}
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}
