<div class="profile-sidebar hidden-sm hidden-xs hidden-md">
    <div class="portlet light profile-sidebar-portlet">
        <div class="profile-userpic">
            <div class="profile-avatar" style="background-image: url({{ currentUser.picture }});"></div>

            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    {{ currentUser.fullName }}
                </div>
            </div>
        </div>
        <div class="profile-usermenu" style="padding-bottom: 0 !important;">
            <ul class="nav">
                <li ui-sref-active="active">
                    <a ui-sref="base.preferences.user.profile" ui-sref-opts="{reload:true}">
                        <i class="lilicon hl-entity-icon"></i>
                        My profile
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="base.preferences.user.account" ui-sref-opts="{reload:true}">
                        <i class="lilicon hl-cog-icon"></i>
                        My account
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="base.preferences.user.security" ui-sref-opts="{reload:true}">
                        <i class="fa fa-lock"></i>
                        Security
                    </a>
                </li>
                <li ui-sref-active="active">
                    <feature-unavailable tier="2" label-icon="fa fa-key" label-text="My API token">
                        <a ui-sref="base.preferences.user.token" ui-sref-opts="{reload:true}">
                            <i class="fa fa-key"></i>
                            My API token
                        </a>
                    </feature-unavailable>
                </li>
                <li ui-sref-active="active">
                    <feature-unavailable tier="2" label-icon="fa fa-rocket" label-text="My webhook">
                        <a ui-sref="base.preferences.user.webhook" ui-sref-opts="{reload:true}">
                            <i class="fa fa-rocket"></i>
                            My webhook
                        </a>
                    </feature-unavailable>
                </li>
            </ul>
        </div>
    </div>

    <div class="portlet light profile-sidebar-portlet">
        <div class="profile-usermenu">
            <ul class="nav">
                <li ui-sref-active="active">
                    <a ui-sref="base.preferences.emailaccounts" ui-sref-opts="{reload:true}">
                        <i class="lilicon hl-mail-icon"></i>
                        Email accounts
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="base.preferences.emailtemplates" ui-sref-opts="{reload:true}">
                        <i class="icon-envelope-letter"></i>
                        Email templates
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="base.preferences.templatevariables" ui-sref-opts="{reload:true}">
                        <i class="fa fa-code"></i>
                        Template variables
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="portlet light profile-sidebar-portlet">
        <div class="profile-usermenu">
            <ul class="nav">
                <li ui-sref-active="active">
                    <a ui-sref="base.preferences.company.users" ui-sref-opts="{reload:true}">
                        <i class="lilicon hl-entities-icon"></i>
                        Colleagues
                    </a>
                </li>
                <li ng-if="currentUser.isAdmin" ui-sref-active="active">
                    <feature-unavailable tier="2" label-icon="fa fa-plug" label-text="Integrations">
                        <a ui-sref="base.preferences.admin.integrations" ui-sref-opts="{reload:true}">
                            <i class="fa fa-plug"></i>
                            Integrations
                        </a>
                    </feature-unavailable>
                </li>
                <li ng-if="billingEnabled && currentUser.isAdmin" ui-sref-active="active">
                    <a ui-sref="base.preferences.admin.billing" ui-sref-opts="{reload:true}">
                        <i class="fa fa-credit-card"></i>
                        Billing <trial-remaining></trial-remaining>
                    </a>
                </li>
                <li ng-if="currentUser.isAdmin" ui-sref-active="active">
                    <a ui-sref="base.preferences.admin.import" ui-sref-opts="{reload:true}">
                        <i class="lilicon hl-entities-icon"></i>
                        Import
                    </a>
                </li>
                <li ng-if="currentUser.isAdmin" ui-sref-active="active">
                    <a ui-sref="base.preferences.admin.settings" ui-sref-opts="{reload:true}">
                        <i class="lilicon hl-cog-icon"></i>
                        Settings
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="profile-content">
    <div>
        <div ui-view>
            Here comes a preference pane kind of view.
        </div>
    </div>
</div>
