<form class="form form-horizontal" method="post" role="form">
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">Your email accounts</div>
        </div>
        <div class="portlet-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="account in vm.ownedAccounts">
                    <a ng-click="vm.togglePrimaryAccount(account)" uib-tooltip="Toggle primary">
                        <i ng-class="account.id == vm.currentUser.primary_email_account ? 'fa fa-star' : 'fa fa-star-o'"></i>
                    </a>
                    {{ account.label }} <i>({{ account.email_address }})</i>
                    <span class="pull-right">
                        <button type="button" class="btn btn-xs default" title="Sharing is caring" ng-click="vm.openShareAccountModal(account)">
                            <i class="fa fa-group"></i>
                            <span ng-hide="account.public">{{ account.shared_with_users.length }}</span>
                            <span ng-show="account.public">Public</span>
                        </button>
                        <a class="btn btn-xs default" title="Just manage it" ui-sref="base.preferences.emailaccounts.edit({id: account.id})">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-xs default" title="Throw it away" ng-click="vm.deleteAccount(account.id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </li>
                <li class="list-group-item"  ng-hide="vm.ownedAccounts.length">
                    No email accounts setup yet
                </li>
                <li class="list-group-item">
                    <a href="/messaging/email/setup/">Add an email account</a>
                    <br />
                    <i>Gmail accounts only, link redirects to Google where you can authorize the email account you want to synchronize</i>
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">Email accounts shared with you</div>
        </div>
        <div class="portlet-body">
            <ul class="list-group">
                <li class="list-group-item"  ng-repeat="account in vm.sharedAccounts">
                    <a ng-click="vm.togglePrimaryAccount(account)" uib-tooltip="Toggle primary">
                        <i ng-class="account.id == vm.currentUser.primary_email_account ? 'fa fa-star' : 'fa fa-star-o'"></i>
                    </a>
                    {{ account.label }} <i>({{ account.email_address }})</i>
                    <span class="pull-right">
                        <div class="btn-group">
                            <!-- By comparing with the == operator, we can have a "third" state when the
                            boolean is not yet set at all. (And it is still being loaded by angular). -->
                            <button type="button" class="btn btn-primary btn-xs" ng-class="{'active': account.hidden==false}" ng-click="vm.followShared(account)"><i class="fa fa-eye"></i> Follow</button>
                            <button type="button" class="btn btn-primary btn-xs" ng-class="{'active': account.hidden==true}" ng-click="vm.hideShared(account)"><i class="fa fa-eye-slash"></i> Hide</button>
                        </div>
                    </span>
                </li>
                <li class="list-group-item"  ng-hide="vm.sharedAccounts.length">
                    No email accounts shared with you.
                </li>
            </ul>
        </div>
    </div>
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">Company email accounts</div>
        </div>
        <div class="portlet-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="account in vm.publicAccounts">
                    <a ng-click="vm.togglePrimaryAccount(account)" uib-tooltip="Toggle primary">
                        <i ng-class="account.id == vm.currentUser.primary_email_account ? 'fa fa-star' : 'fa fa-star-o'"></i>
                    </a>
                    {{ account.label }} <i>({{ account.email_address }})</i>
                    <span class="pull-right">
                        <div class="btn-group">
                            <!-- By comparing with the == operator, we can have a "third" state when the
                            boolean is not yet set at all. (And it is still being loaded by angular). -->
                            <button type="button" class="btn btn-primary btn-xs" ng-class="{'active': account.hidden==false}" ng-click="vm.followShared(account)"><i class="fa fa-eye"></i> Follow</button>
                            <button type="button" class="btn btn-primary btn-xs" ng-class="{'active': account.hidden==true}" ng-click="vm.hideShared(account)"><i class="fa fa-eye-slash"></i> Hide</button>
                        </div>
                    </span>
                </li>
                <li class="list-group-item" ng-hide="vm.publicAccounts.length">
                    No company wide email accounts.
                </li>
                <li class="list-group-item">
                    <a href="/messaging/email/setup/">Add an email account</a>
                    <br />
                    <i>Gmail accounts only, link redirects to Google where you can authorize the email account you want to synchronize</i>
                </li>
            </ul>
        </div>
    </div>
</form>
