<div class="portlet">
    <div class="portlet-title">
        <div class="caption">Your template variables</div>
    </div>
    <div class="portlet-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="variable in templateVariables">
                {{ variable.name }}
                <span class="pull-right">
                    <a ng-click="previewTemplateVariable(variable)" class="btn btn-xs default">
                        <span><i class="fa fa-eye"></i> Preview</span>
                    </a>
                    <a ui-sref="base.preferences.templatevariables.edit({id: variable.id})" class="btn btn-xs default">
                        <span><i class="fa fa-edit"></i> Edit</span>
                    </a>
                    <a class="btn btn-xs default" ng-click="deleteTemplateVariable(variable)">
                        <span><i class="fa fa-trash"></i> Delete</span>
                    </a>
                </span>
            </li>
            <li class="list-group-item" ng-hide="templateVariables.length">
                No template variables yet. You should create one!
            </li>
            <li class="list-group-item">
                <a ui-sref="base.preferences.templatevariables.create">Add an email template variable</a>
            </li>
        </ul>
    </div>
</div>

<div class="portlet">
    <div class="portlet-title">
        <div class="caption">Public template variables</div>
    </div>
    <div class="portlet-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="variable in publicTemplateVariables">
                {{ variable.name }}
                <span class="pull-right">
                    <a ng-click="previewTemplateVariable(variable)" class="btn btn-xs default">
                        <span><i class="fa fa-eye"></i> Preview</span>
                    </a>
                </span>
            </li>
            <li class="list-group-item" ng-hide="publicTemplateVariables.length">
                No public template variables yet.
            </li>
        </ul>
    </div>
</div>
