{% extends 'form.html' %}

{% load i18n %}

{% block head-title %}
{% if object.pk %}
    {% trans 'Edit contact' %}
{% else %}
    {% trans 'Add contact' %}
{% endif %}
{% endblock %}

{% block page-title %}
{% if object.pk %}
    {% trans 'Edit contact' %}
{% else %}
    {% trans 'Add contact' %}
{% endif %}
{% endblock %}

{% block form-title %}
{% if object.pk %}
    {% trans 'Edit contact' %}
{% else %}
    {% trans 'Add contact' %}
{% endif %}
{% endblock %}

{% block modals %}
{{ block.super }}
<div class="hidden">
    <div id="emailaccount-configure" class="modal fade" tabindex="-1" role="dialog" data-focus-on=":input:visible:not(.close):first"></div>
    <div id="emailaccount-share" class="modal fade" tabindex="-1" role="dialog"></div>
</div>
{% endblock %}
