{% extends 'form.html' %}

{% load i18n bootstrap3 field_extras media %}

{% block hidden-dialogs %}
    {% if item.pk %}
        {% include 'accounts/mwsadmin/delete_dialog.html' with item=item %}
    {% endif %}

    <div id="dialog-email-configuration-wizard" class="dialog configuration" title="{% trans 'E-mail configuration wizard' %}"></div>
    <div id="dialog-email-share-wizard" class="dialog share" title="{% trans 'E-mail share options' %}"></div>
{% endblock %}

{% block form-title %}
    {% with item=form.instance %}
        {% if item.pk %}
            {% trans 'Edit contact' %}
        {% else %}
            {% trans 'Add contact' %}
        {% endif %}
    {% endwith %}
{% endblock %}