{% extends 'base.html' %}
{% load i18n static thumbnail %} 

{% block title %}{% trans 'Contact list' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jui/jquery.ui.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/contacts.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/responsive.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% url jsi18n packages='lily.contacts' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'utils/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/datatables/jquery.dataTables-min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".mws-datatable-fn").dataTable({
        "sPaginationType": "full_numbers",
        "bAutoWidth": false,
        "aaSorting": [[1,'asc']],
        "aoColumnDefs": [ 
            { "bSearchable": false, "bSortable": false, "aTargets": [0] }
        ]
    });
    
    $('.delete_icon').click(function(event) {
        var location = $(this).attr('href');
        $('#delete-contact-form-dialog form').attr('action', location);
        $('#delete-contact-form-dialog').dialog('open');
        event.preventDefault();
    })
    
    $('#delete-contact-form-dialog').dialog({
        autoOpen: false,
        title: gettext('Delete contact'),
        modal: true,
        width: 640,
        buttons: [
            { 
                'class': 'mws-button red float-left',
                text: gettext('Cancel'),
                click: function() {
                    // cancel form on NO
                    $(this).dialog('close');
                }
            },
            {
                'class': 'mws-button green',
                text: gettext('Continue'),
                click: function() {
                    // submit form on YES
                    $(this).find('form').submit();
                }
            }
        ]
    });
});
</script>
{% endblock %}

{% block content %}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-list-images">{% trans 'Contact list' %}</span>
        </div>
        <div class="mws-panel-body">
            <table class="mws-datatable-fn mws-table">
                <thead>
                    <tr>
                        <th id="contact_picture" title="{% trans 'Picture' %}">{% trans 'Picture' %}</th>
                        <th id="contact_personal" title="{% trans 'Personal' %}">{% trans 'Personal' %}</th>
                        <th id="contact_contact" title="{% trans 'Contact' %}">{% trans 'Contact' %}</th>
                        <th id="contact_created" class="hide_on_small_screen" title="{% trans 'Created' %}">{% trans 'Created' %}</th>
                        <th id="contact_modified" class="hide_on_small_screen" title="{% trans 'Modified' %}">{% trans 'Modified' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td class="contact_picture">
                                <a href="{% url contact_edit pk=object.pk %}" title="{% trans 'Edit' %}" class="edit_icon"></a>
                                <a href="{% url contact_delete pk=object.pk %}" title="{% trans 'Delete' %}" class="delete_icon"></a>
                                {% if object.logo %}
                                    <img src="{% thumbnail object.logo 36x36 %}" alt="{{ object.title }}" class="contact_picture_img" />
                                {% else %}
                                    <img src="{% static 'images/core/unknown_person_36x36.png' %}" alt="{{ object.title }}" class="contact_picture_img" />
                                {% endif %}
                            </td>
                            <td class="contact_personal">
                                <span class="contact_name full-width"><a href="{% url contact_details pk=object.pk %}">{{ object.full_name|truncatechars:"26" }}</a></span>
                                <span class="contact_social">
                                    {% for sm in object.get_social %}
                                        <a href="{{ sm.profile_url }}"><img src="{% static 'images/social/'|add:sm.name|lower|add:'_16.png' %}" alt="{{ sm.name }}" /></a>
                                    {% endfor %}
                                </span> 
                            </td>
                            <td class="contact_contact">
                                {% with object.get_phonenumber as nr %}{% if nr %}<span class="contact_phone">{{ nr }}</span>{% endif %}{% endwith %}
                                {% with object.get_email as mail %}{% if mail %}<span class="contact_mail">{{ mail }}</span>{% endif %}{% endwith %}
                            </td>
                            <td class="contact_created hide_on_small_screen">
                                {{ object.created|date:"d-m-Y" }}
                            </td>
                            <td class="contact_modified hide_on_small_screen">
                                {{ object.modified|date:"d-m-Y" }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="delete-contact-form-dialog" style="display:none;">
                <form class="mws-form" action="" method="post">
                    {% csrf_token %} 
                    <div class="mws-form-inline">
                        <div class="mws-form-row">
                            {% blocktrans with contact.full_name as contact %}Are you sure you want to delete the contact for {{ object }}? All related e-mail addresses, addresses and phone numbers will be deleted as well! If you want to keep this information you might want to consider changing the status.{% endblocktrans %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
