{% extends 'list.html' %}

{% load i18n utils compressed %}

{% block head-title %}{% trans 'Contacts' %}{% endblock %}

{% block page-container %}
    {% verbatim %}
    <div class="portlet" ng-controller="ContactListController" ng-cloak>
        <div class="portlet-title">
            <div class="caption">Contacts</div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn default" href="#" data-toggle="dropdown">
                        Tools
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0)" ng-click="exportToCsv()"><i class="icon-download"></i> Export to csv</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn default" href="#" data-toggle="dropdown">
                        Columns
                        <i class="icon-angle-down"></i>
                    </a>
                    <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                        <checkbox model="table.visibility.name">Name</checkbox>
                        <checkbox model="table.visibility.contactInformation">Contact information</checkbox>
                        <checkbox model="table.visibility.worksAt">Works at</checkbox>
                        <checkbox model="table.visibility.created">Created</checkbox>
                        <checkbox model="table.visibility.modified">Modified</checkbox>
                        <checkbox model="table.visibility.tags">Tags</checkbox>
                    </div>
                </div>

            </div>
        </div>
        <div class="portlet-body dataTables_wrapper form-inline">
            <div class="row">
                <div class="col-md-6 col-sm-12"></div>
                <div class="col-md-6 col-sm-12">
                    <div class="dataTables_filter">
                        <label>
                            Search:
                            <input type="text" class="form-control input-small" ng-model="table.filter"><button class="btn default" ng-click="setFilter('')" ng-disabled="!table.filter">Clear</button>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <th class="table-checkbox"></th>
                        <th ng-show="table.visibility.name" sort-column="last_name" table="table">Name</th>
                        <th ng-show="table.visibility.contactInformation" >Contact information</th>
                        <th ng-show="table.visibility.worksAt" sort-column="account" table="table">Works at</th>
                        <th ng-show="table.visibility.created" sort-column="created" table="table">Created</th>
                        <th ng-show="table.visibility.modified" sort-column="modified" table="table">Modified</th>
                        <th ng-show="table.visibility.tags">Tags</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in table.items">
                            <td>
                                <a href="/contacts/details/{{ ::contact.id }}/" class="btn btn-xs default" title="Edit">
                                    <i class="icon-edit"></i>
                                </a>
                                <button type="button" class="btn btn-xs default" title="Delete" data-target="#confirm-delete" data-source="/contacts/delete/{{ ::contact.id }}" >
                                    <i class="icon-trash"></i>
                                </button>
                            </td>
                            <td ng-show="table.visibility.name">
                                <a href="/contacts/details/{{ ::contact.id }}/" title="{{ ::contact.name }}">{{ contact.name }}</a>
                            </td>
                            <td ng-show="table.visibility.contactInformation">
                                <div ng-repeat="email in contact.email">
                                    <a href="mailto:{{ ::email }}" title="{{ ::email }}">
                                        <i class="icon-envelope-alt"></i>
                                        {{ email }}
                                    </a>
                                </div>
                                <div ng-repeat="phone in contact.phone_work track by $index">
                                    <a href="tel:{{ ::phone }}">
                                        <i class="icon-phone"></i>
                                        {{ phone }}
                                    </a>
                                </div>
                                <div ng-repeat="phone in contact.phone_mobile track by $index">
                                    <a href="tel:{{ ::phone }}">
                                        <i class="icon-mobile-phone"></i>
                                        {{ phone }}
                                    </a>
                                </div>
                            </td>
                            <td ng-show="table.visibility.worksAt">
                                <div ng-repeat="account in contact.account">
                                    <a href="/accounts/details/{{ ::account }}/">{{ ::contact.account_name[$index] }}</a>
                                </div>
                            </td>
                            <td ng-show="table.visibility.created">{{ ::contact.created | date:'medium' }}</td>
                            <td ng-show="table.visibility.modified">{{ ::contact.modified | date:'medium' }}</td>
                            <td ng-show="table.visibility.tags">
                                <span ng-repeat="tag in contact.tag">
                                    <a href="javascript:void(0)" ng-click="setFilter(tag)">{{ ::tag }}</a>
                                    <br>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-7">
                    Showing {{ (table.page - 1) * table.pageSize }} to {{ table.page * table.pageSize }} of {{ table.totalItems | number }} records
                </div>
                <div class="col-md-5">
                    <pagination total-items="table.totalItems" ng-model="table.page" items-per-page="table.pageSize" max-size="5"></pagination>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compressed_js 'angularapp' %}
{% endblock %}
