{% extends 'base.html' %}
{% load i18n static thumbnail %} 

{% block title %}{% trans 'Contact list' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jui/jquery.ui.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/contacts.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/responsive.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% url jsi18n packages='lily.contacts' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/datatables/jquery.dataTables-min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".mws-datatable-fn").dataTable({
            "sPaginationType": "full_numbers",
            "bAutoWidth": false,
            "aaSorting": [[2, 'asc']],
            "aoColumnDefs": [ 
                { "bSearchable": false, "bSortable": false, "aTargets": [0] },
                { "bSearchable": false, "bSortable": false, "aTargets": [1] },
                { "bSearchable": false, "bSortable": false, "aTargets": [3] }
            ]
        });
        
        $('.mws-datatable-fn tr').live({
	        hover: function() {
	            $(this).find('.i-16').toggleClass('blue'); 
	        }
	    });
        
        $('.mws-table .delete_icon').click(function(event) {
            var location = $(this).attr('href');
            $('#delete-contact-form-dialog form').attr('action', location);
            $('#delete-contact-form-dialog').dialog('open');
            event.preventDefault();
        })
        
        $('#delete-contact-form-dialog').dialog({
            autoOpen: false,
            title: gettext('Delete contact'),
            modal: true,
            width: 350,
            buttons: [
                { 
                    'class': 'mws-button red float-left',
                    text: gettext('Cancel'),
                    click: function() {
                        // cancel form on NO
                        $(this).dialog('close');
                    }
                },
                {
                    'class': 'mws-button green',
                    text: gettext('Continue'),
                    click: function() {
                        // submit form on YES
                        $(this).find('form').submit();
                    }
                }
            ]
        });
    });
</script>
{% endblock %}

{% block content %}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>{% trans 'Contacts' %}</span>
        </div>
        <div class="mws-panel-body">
            <table class="mws-datatable-fn mws-table">
                <thead>
                    <tr>
                    	<th class="controls"></th>
                        <th class="picture hide_on_small_screen"></th>
                        <th class="personal" title="{% trans 'Personal' %}">
                        	{% trans 'Personal' %}
                        </th>
                        <th class="contact" title="{% trans 'Contact' %}">
                        	{% trans 'Contact' %}
                        </th>
                        <th class="created hide_on_small_screen" title="{% trans 'Created' %}">
                        	{% trans 'Created' %}
                        </th>
                        <th class="modified hide_on_small_screen" title="{% trans 'Modified' %}">
                        	{% trans 'Last modified' %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr class="height_77">
                        	<td class="controls">
                                <a href="{% url contact_edit pk=object.pk %}" class="i-16 i-edit blue no-decoration inline-block" title="{% trans 'Edit' %}"></a>
                                <a href="{% url contact_delete pk=object.pk %}" class="i-16 i-trash-1 blue no-decoration inline-block delete_icon" title="{% trans 'Delete' %}"></a>
                            <td class="picture hide_on_small_screen">
                            	{% if object.picture %}
                                    <img src="{% thumbnail object.picture 36x36 %}" alt="{{ object.title }}" />
                                {% else %}
                                    <img src="{% static 'images/core/unknown_person_36x36.png' %}" alt="{{ object.title }}" />
                                {% endif %}
                            </td>
                            <td class="personal">
                                <div class="name"><a href="{% url contact_details pk=object.pk %}">{{ object.full_name|truncatechars:"26" }}</a></div>
                                <span class="social">
                                    {% for sm in object.get_social %}
                                        <a href="{{ sm.profile_url }}"><img src="{% static 'images/social/'|add:sm.name|lower|add:'_16.png' %}" alt="{{ sm.name }}" /></a>
                                    {% endfor %}
                                </span> 
                            </td>
                            <td class="details">
                                {% if object.primary_email %}
                                    <div class="i-16 i-mail blue">
                                        <a href="mailto:{{ object.primary_email }}" title="{{ object.primary_email }}">{{ object.primary_email|truncatechars:"20" }}</a>
                                    </div>
                                {% endif %}
                                
                                {% with object.get_work_phone as phone %}
                                    {% if phone.raw_input %}
                                        <div class="i-16 i-phone blue">
                                            <a href="tel:{{ phone.number }}">{{ phone.raw_input }}</a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                                
                                {% with object.get_mobile_phone as phone %}
                                    {% if phone.raw_input %}
                                        <div class="i-16 i-mobile blue">
                                            <a href="tel:{{ phone.number }}">{{ phone.raw_input }}</a>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </td>
                            <td class="created hide_on_small_screen">
                                {{ object.created|date:"d-m-Y | H:i" }}
                            </td>
                            <td class="modified hide_on_small_screen">
                                {{ object.modified|date:"d-m-Y | H:i" }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="delete-contact-form-dialog" style="display:none;">
                <form class="mws-form" action="" method="post">
                    {% csrf_token %} 
                    <div class="mws-form-inline">
                        <div class="mws-form-row">
                            {% blocktrans with contact.full_name as contact %}Are you sure you want to delete the contact for {{ contact }}? This cannot be undone.{% endblocktrans %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
