{% load i18n %} 

<input type="hidden" id="add-contact-submit" value="add" name="submit" />                                    
{% csrf_token %}

{% if form.non_field_errors %}
    <div class="mws-form-row">
        <div class="mws-form-message error no_list_style_type">
            <span class="field_error">{{ form.non_field_errors }}</span>
        </div>
    </div>
{% endif %}
    
<div class="mws-form-inline">
    <div class="mws-form-row">
        <label for="id_{{ form.first_name.html_name }}">{% trans 'Name' %}</label>
        <div class="mws-form-item large">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-3-8 alpha">
                    <div class="mws-form-item">                                     
                        {% if form.first_name.errors %}
                            <span class="field_error">{{ form.first_name }}</span>
                            <div class="mws-error no_list_style_type">
                                  {{ form.first_name.errors }}
                            </div>
                        {% else %}
                               {{ form.first_name }}
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-col-1-8">
                    <div class="mws-form-item">                                     
                        {% if form.preposition.errors %}
                            <span class="field_error">{{ form.preposition }}</span>
                            <div class="mws-error no_list_style_type">
                                  {{ form.preposition.errors }}
                            </div>
                        {% else %}
                               {{ form.preposition }}
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-col-4-8">
                    <div class="mws-form-item">                                    
                        {% if form.last_name.errors %}
                            <span class="field_error">{{ form.last_name }}</span>
                            <div class="mws-error no_list_style_type">
                                  {{ form.last_name.errors }}
                            </div>
                        {% else %}
                               {{ form.last_name }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.email.label_tag }}
        <div class="mws-form-item large">                            
            {% if form.email.errors %}
                <span class="field_error">{{ form.email }}</span>
                <div class="mws-error no_list_style_type">
                      {{ form.email.errors }}
                </div>
            {% else %}
                {{ form.email }}
            {% endif %}
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.phone.label_tag }}
        <div class="mws-form-item large">                            
            {% if form.phone.errors %}
                <span class="field_error">{{ form.phone }}</span>
                <div class="mws-error no_list_style_type">
                      {{ form.phone.errors }}
                </div>
            {% else %}
                {{ form.phone }}
            {% endif %}
        </div>
    </div>
</div>