{% extends 'base.html' %}
{% load i18n static %} 

{% block title %}{% trans 'Add contact' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jui/jquery.ui.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/screwdefaultbuttons/css/styles.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/contacts.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% url jsi18n packages='lily.contacts' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/screwdefaultbuttons/js/jquery.screwdefaultbuttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'utils/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'contacts/js/contacts.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-fountain-pen">{% trans 'Add contact' %}</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form" autocomplete="off" action="" method="post">{% csrf_token %} 
				                
                {% if form.non_field_errors %}
                    <div class="mws-form-row">
                        <div class="mws-form-message error no_list_style_type">
                            <span class="field_error">{{ form.non_field_errors }}</span>
                        </div>
                    </div>
                {% endif %}
                
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <label for="id_{{ form.first_name.html_name }}">{% trans 'Name' %}</label>
                        <div class="mws-form-item large">
                            <div class="mws-form-cols clearfix">
                                <div class="mws-form-col-3-8 alpha">
                                    <div class="mws-form-item">                                     
                                        {% if form.first_name.errors %}
                                            <span class="field_error">{{ form.first_name }}</span>
                                            <div class="mws-error no_list_style_type">
                                                  {{ form.first_name.errors }}
                                            </div>
                                        {% else %}
                                               {{ form.first_name }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mws-form-col-1-8">
                                    <div class="mws-form-item">                                     
                                        {% if form.preposition.errors %}
                                            <span class="field_error">{{ form.preposition }}</span>
                                            <div class="mws-error no_list_style_type">
                                                  {{ form.preposition.errors }}
                                            </div>
                                        {% else %}
                                               {{ form.preposition }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mws-form-col-4-8">
                                    <div class="mws-form-item">                                    
                                        {% if form.last_name.errors %}
                                            <span class="field_error">{{ form.last_name }}</span>
                                            <div class="mws-error no_list_style_type">
                                                  {{ form.last_name.errors }}
                                            </div>
                                        {% else %}
                                               {{ form.last_name }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mws-form-row">
                        {{ form.title.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.title.errors %}
                                <span class="field_error">{{ form.title }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.title.errors }}
                                </div>
                            {% else %}
                                {{ form.title }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="mws-form-row">
                        {{ form.gender.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.gender.errors %}
                                <span class="field_error">{{ form.gender }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.gender.errors }}
                                </div>
                            {% else %}
                                {{ form.gender }}
                            {% endif %}
                        </div>
                    </div>
                    
                    {% comment %}
                    TODO: Inform user when deleting a primary e-mail address and two or more options
                    are available and another was automatically selected as primary OR generate
                    an error on form submit
                    {% endcomment %}
                    <div class="mws-form-row">
                        <label for="id_email_addresses-0-email_address">{% trans 'E-mail addresses' %}</label>
	                    {% for form in email_addresses_formset.forms %}
		                   <div class="mws-form-item large {{ email_addresses_formset.prefix }}-mws-formset">
                                {% if form.instance.pk %}
                                    {{ form.id }}
                                    {% if email_addresses_formset.can_delete %}
                                        <div class="hidden">
                                            {{ form.DELETE }}
                                        </div>
                                    {% endif %}
                                {% endif %}
	                            <div class="mws-form-cols clearfix">
	                                <div class="float-left">
	                                    <div class="mws-form-col-row mws-form-item email_address">
	                                        {% if form.email_address.errors %}
	                                            <span class="field_error float-left">{{ form.email_address }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.email_address.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.email_address }}
	                                        {% endif %}
	                                    </div>
	                                </div>
	                                <div class="float-left center">
	                                    <div class="mws-form-col-row mws-form-item email_address email_is_primary">
	                                        <label>
	                                            <input class="hidden" type="radio" value="{{ form.prefix }}" name="primary-email" />
	                                            <span>{% trans 'primary' %}</span>
	                                        </label>
	                                    </div>
	                                </div>
	                                <div class="float-left">
	                                    <div class="mws-form-col-row mws-form-item formset-delete email_address">
	                                        <a href="javascript:" class="mws-i-24 i-cross email_addresses-delete-row" /></a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                        {% endfor %}
                        <div class="hidden">
                            {% include 'utils/email_address_formset_template.html' with formset_prefix=email_addresses_formset.prefix %}
                        </div>
                        {{ email_addresses_formset.management_form }}
                    </div>
                
                    <hr />

                    <div class="mws-form-row">
                        <label for="id_phone_numbers-0-raw_input">{% trans 'Phone numbers' %}</label>
	                    {% for form in phone_numbers_formset.forms %}
	                    	<div class="mws-form-item large {{ phone_numbers_formset.prefix }}-mws-formset">
                                {% if form.instance.pk %}
                                    {{ form.id }}
                                    {% if phone_numbers_formset.can_delete %}
                                        <div class="hidden">
                                            {{ form.DELETE }}
                                        </div>
                                    {% endif %}
                                {% endif %}
	                            <div class="mws-form-cols clearfix">
	                                <div class="float-left">
	                                    <div class="mws-form-col-row phone_number mws-form-item">
	                                        {% if form.raw_input.errors %}
	                                            <span class="field_error float-left">{{ form.raw_input }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.raw_input.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.raw_input }}
	                                        {% endif %}
	                                    </div>
	                                </div>
	                                <div class="float-left">
	                                    <div class="mws-form-col-row phone_number mws-form-item">
	                                        {% if form.type.errors %}
	                                            <span class="field_error float-left">{{ form.type }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.type.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.type }}
	                                        {% endif %}
	                                    </div>
	                                </div>
	                                <div class="float-left">
	                                    <div class="mws-form-col-row phone_number mws-form-item">
	                                        {{ form.other_type }}
	                                    </div>
	                                </div>
	                                <div class="float-left">
	                                    <div class="formset-delete mws-form-col-row mws-form-item">
	                                        <a href="javascript:" class="mws-i-24 i-cross phone_numbers-delete-row" /></a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                        {% endfor %}
                        <div class="hidden">
                            {% include 'utils/phone_number_formset_template.html' with formset_prefix=phone_numbers_formset.prefix %}
                        </div>
                        {{ phone_numbers_formset.management_form }}
                    </div>
                    
                    {% comment %}
                    TODO: find a proper solution to fix tabindex order
                    {% endcomment %}
                    <div class="mws-form-row">
                        <label for="id_addresses-0-postal_code">{% trans 'Addresses' %}</label>
	                    {% for form in addresses_formset.forms %}
	                        <div class="mws-form-item large {{ addresses_formset.prefix }}-mws-formset">
                                {% if form.instance.pk %}
                                    {{ form.id }}
                                    {% if addresses_formset.can_delete %}
                                        <div class="hidden">
                                            {{ form.DELETE }}
                                        </div>
                                    {% endif %}
                                {% endif %}
	                            <div class="mws-form-cols clearfix">
	                                <div class="float-left">
	                                    <div class="mws-form-col-row address mws-form-item">
	                                        {% if form.postal_code.errors %}
	                                            <span class="field_error float-left">{{ form.postal_code }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.postal_code.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.postal_code }}
	                                        {% endif %}
	                                    </div>
	                                    <div class="mws-form-col-row address mws-form-item">
	                                        {% if form.city.errors %}
	                                            <span class="field_error float-left">{{ form.city }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.city.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.city }}
	                                        {% endif %}
	                                    </div>
	                                    <div class="mws-form-col-row address mws-form-item">
	                                        {% if form.state_province.errors %}
	                                            <span class="field_error float-left">{{ form.state_province }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.state_province.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.state_province }}
	                                        {% endif %}
	                                    </div>
	                                </div>
	                                <div class="float-left">
	                                    <div class="clearfix">
	                                    <div class="mws-form-col-row address mws-form-item float-left">
	                                        {% if form.street_number.errors %}
	                                            <span class="field_error float-left">{{ form.street_number }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.street_number.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.street_number }}
	                                        {% endif %}
	                                    </div>
	                                    <div class="mws-form-col-row address mws-form-item float-left clearfix">
	                                        {% if form.complement.errors %}
	                                            <span class="field_error float-left">{{ form.complement }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.complement.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.complement }}
	                                        {% endif %}
	                                    </div>
	                                    </div>
	                                    <div class="mws-form-col-row address mws-form-item">
	                                        {% if form.street.errors %}
	                                            <span class="field_error float-left">{{ form.street }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.street.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.street }}
	                                        {% endif %}
	                                    </div>
	                                    <div class="mws-form-col-row address mws-form-item">
	                                        {% if form.country.errors %}
	                                            <span class="field_error float-left">{{ form.country }}</span>
	                                            <span class="mws-error inline plain float-left">
	                                                {% for error in form.country.errors %}
	                                                    <strong>{{ error }}</strong>
	                                                {% endfor %}
	                                            </span>
	                                        {% else %}
	                                            {{ form.country }}
	                                        {% endif %}
	                                    </div>
	                                </div>
	                                <div class="float-left">
	                                    <div class="mws-form-col-row address mws-form-item">
	                                        {{ form.type }}
	                                    </div>
	                                </div>
	                                <div class="float-left">
	                                    <div class="formset-delete mws-form-col-row mws-form-item">
	                                        <a href="javascript:" class="mws-i-24 i-cross addresses-delete-row" /></a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                        {% endfor %}
                        <div class="hidden">
                            {% include 'contacts/address_formset_template.html' with formset_prefix=addresses_formset.prefix %}
                        </div>
                        {{ addresses_formset.management_form }}
                    </div>
                    
                    <hr />

                    <div class="mws-form-row">
                        {{ form.status.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.status.errors %}
                                <span class="field_error">{{ form.status }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.status.errors }}
                                </div>
                            {% else %}
                                {{ form.status }}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="mws-form-row">
                        {{ form.description.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.description.errors %}
                                <span class="field_error">{{ form.description }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.description.errors }}
                                </div>
                            {% else %}
                                {{ form.description }}
                            {% endif %}
                        </div>
                    </div>
                    
                    <hr />
                    
                    <div class="mws-form-row">
                        {{ form.accounts.label_tag }}
                        <div class="mws-form-item small">                            
                            {% if form.accounts.errors %}
                                <span class="field_error">{{ form.accounts }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.accounts.errors }}
                                </div>
                            {% else %}
                                {{ form.accounts }}
                            {% endif %}
                        </div>
                    	<div class="mws-form-item large">
                        	{{ form.edit_accounts.label }}                        
	                        {{ form.edit_accounts }}
                        </div>
                    </div>
                    
                    <div class="mws-button-row">
                        <input type="submit" name="submit" value="{% trans 'Add' %}" class="mws-button blue" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
