{% extends 'base.html' %}
{% load i18n media field_extras %} 

{% block title %}{% trans 'Edit functions' %} - {% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% media_url 'contacts/js/functions.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-fountain-pen">{% blocktrans with form.instance.full_name as contact %}Edit functions for {{ contact }}{% endblocktrans %}</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form" autocomplete="off" action="" method="post">{% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="mws-form-row">
                        <div class="mws-form-message error no_list_style_type">
                            <span class="field_error">{{ form.non_field_errors }}</span>
                        </div>
                    </div>
                {% endif %}
           
                <div class="mws-form-inline">
					{% for form in formset.forms %}
						 {% if form.instance.pk %}
                            {{ form.id }}
                            {% if formset.can_delete %}
                                <div class="hidden">
                                    {{ form.DELETE }}
                                </div>
                            {% endif %}
                        {% endif %}
                        
	                    <div class="mws-form-row">
							<div class="mws-panel-header">
							    <div class="hidden">
							        {{ form.account }}
							    </div>
					            <span class="mws-i-24 i-companies">{{ form.account|display_value }}</span>
					        </div>
				        </div>
					
	                    <div class="mws-form-row">
	                        {{ form.title.label_tag }}
	                        <div class="mws-form-item large">                            
	                            {% if form.title.errors %}
	                                <span class="field_error">{{ form.title }}</span>
	                                <div class="mws-error no_list_style_type">
	                                      {{ form.title.errors }}
	                                </div>
	                            {% else %}
	                                {{ form.title }}
	                            {% endif %}
	                        </div>
	                    </div>
	                    
	                    <div class="mws-form-row">
	                        {{ form.department.label_tag }}
	                        <div class="mws-form-item large">                            
	                            {% if form.department.errors %}
	                                <span class="field_error">{{ form.department }}</span>
	                                <div class="mws-error no_list_style_type">
	                                      {{ form.department.errors }}
	                                </div>
	                            {% else %}
	                                {{ form.department }}
	                            {% endif %}
	                        </div>
	                    </div>
	                    
	                    <div class="mws-form-row">
	                        {{ form.manager.label_tag }}
	                        <div class="mws-form-item large">                            
	                            {% if form.manager.errors %}
	                                <span class="field_error">{{ form.manager }}</span>
	                                <div class="mws-error no_list_style_type">
	                                      {{ form.manager.errors }}
	                                </div>
	                            {% else %}
	                                {{ form.manager }}
	                            {% endif %}
	                        </div>
	                    </div>
	                    
	                    <div class="mws-form-row">
	                        {{ form.is_active.label_tag }}
	                        <div class="mws-form-item small">   
	                            {{ form.is_active }}
	                        </div>
	                    </div>
	                    
	                    {% comment %}
                        TODO: Inform user when deleting a primary e-mail address and two or more options
                        are available and another was automatically selected as primary OR generate
                        an error on form submit
                        {% endcomment %}
                        <div class="mws-form-row">
                            <label>{% trans 'E-mail addresses' %}</label>
                            {% for email_addresses_form in form.email_addresses_formset.forms %}
                               <div class="mws-form-item large {{ form.email_addresses_formset.prefix }}-mws-formset">
                                    {% if email_addresses_form.instance.pk %}
                                        {{ email_addresses_form.id }}
                                        {% if form.email_addresses_formset.can_delete %}
                                            <div class="hidden">
                                                {{ form.DELETE }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                    <div class="mws-form-cols clearfix">
                                        <div class="float-left">
                                            <div class="mws-form-col-row mws-form-item email_address">
                                                {% if email_addresses_form.email_address.errors %}
                                                    <span class="field_error float-left">{{ email_addresses_form.email_address }}</span>
                                                    <span class="mws-error inline plain float-left">
                                                        {% for error in email_addresses_form.email_address.errors %}
                                                            <strong>{{ error }}</strong>
                                                        {% endfor %}
                                                    </span>
                                                {% else %}
                                                    {{ email_addresses_form.email_address }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="float-left center">
                                            <div class="mws-form-col-row mws-form-item email_address email_is_primary">
                                                <label>
                                                    <input class="hidden" type="radio" value="{{ form.prefix }}" name="{{ form.email_addresses_formset.prefix }}_primary-email" {% if form.is_primary.value %}checked="checked"{% endif %}/>
                                                    <span {% if form.is_primary.value %}class="checked"{% endif %}>{% trans 'primary' %}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="float-left">
                                            <div class="mws-form-col-row mws-form-item formset-delete email_address">
                                                <a href="javascript:" class="i-16 i-trash-1 blue {{ form.email_addresses_formset.prefix }}-delete-row"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <div class="{{ form.email_addresses_formset.prefix }}-mws-formset"></div>
                            {% endfor %}
                            <div class="hidden">
                                {% include 'utils/email_address_formset_template.html' with formset_prefix=form.email_addresses_formset.prefix %}
                            </div>
                            {{ form.email_addresses_formset.management_form }}
                        </div>
                        
                        <div class="mws-form-row">
                        <label>{% trans 'Phone numbers' %}</label>
                        {% for phone_number_formset in form.phone_numbers_formset.forms %}
                            <div class="mws-form-item large {{ form.phone_numbers_formset.prefix }}-mws-formset">
                                {% if phone_number_formset.instance.pk %}
                                    {{ phone_number_formset.id }}
                                    {% if form.phone_numbers_formset.can_delete %}
                                        <div class="hidden">
                                            {{ phone_number_formset.DELETE }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="mws-form-cols clearfix">
                                    <div class="float-left">
                                        <div class="mws-form-col-row phone_number mws-form-item">
                                            {% if phone_number_formset.raw_input.errors %}
                                                <span class="field_error float-left">{{ phone_number_formset.raw_input }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in phone_number_formset.raw_input.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ phone_number_formset.raw_input }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="float-left">
                                        <div class="mws-form-col-row phone_number mws-form-item">
                                            {% if phone_number_formset.type.errors %}
                                                <span class="field_error float-left">{{ phone_number_formset.type }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in phone_number_formset.type.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ phone_number_formset.type }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="float-left">
                                        <div class="mws-form-col-row phone_number mws-form-item">
                                            {{ phone_number_formset.other_type }}
                                        </div>
                                    </div>
                                    <div class="float-left">
                                        <div class="formset-delete mws-form-col-row mws-form-item">
                                            <a href="javascript:" class="i-16 i-trash-1 blue {{ form.phone_numbers_formset.prefix }}-delete-row"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                                <div class="{{ form.phone_numbers_formset.prefix }}-mws-formset"></div>
                        {% endfor %}
                        <div class="hidden">
                            {% include 'utils/phone_number_formset_template.html' with formset_prefix=form.phone_numbers_formset.prefix %}
                        </div>
                        {{ form.phone_numbers_formset.management_form }}
                    </div>
                        
                        {% if not forloop.last %}
                        <hr />
                        {% endif %}
	                    
					{% endfor %}
					{{ formset.management_form }}
                
                    <div class="mws-button-row">
                    	{% comment %}
                    	TODO: ask if the user is sure when the form has changed to go back
                    	{% endcomment %}
                    	<a href="{% url contact_edit pk=form.instance.pk %}" class="no-decoration">
                            <button type="button" class="mws-button red">
                                {% trans 'Back' %}
                            </button>
                        </a>
                        <input type="submit" value="{% trans 'Save' %}" class="mws-button blue" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
