{% extends 'base_model_list_item.html' %}

{% load i18n static thumbnail utils %}

{% block item-edit-url %}{% url contact_edit pk=item.pk %}{% endblock %}

{% block item-delete-url %}{% url contact_delete pk=item.pk %}{% endblock %}

{% block item-columns %}
    <td class="item-image contact hide_on_small_screen">
        {% if item.picture %}
            <img src="{% thumbnail item.picture 36x36 %}" alt="" />
        {% else %}
            <img src="{% static 'images/core/unknown_person_36x36.png' %}" alt="" />
        {% endif %}
    </td>
    <td class="personal">
        <div class="name"><a href="{% url contact_details pk=item.pk %}" title="{{ item.full_name }}">{{ item.full_name }}</a></div>
        <span class="social">
            {% for sm in item.get_social %}
                <a href="{{ sm.profile_url }}"><img src="{% static 'images/social/'|add:sm.name|lower|add:'_16.png' %}" alt="{{ sm.name }}" /></a>
            {% endfor %}
        </span>
    </td>
    <td class="details">
        {% if item.primary_email %}
            <div class="i-16 i-mail blue">
                <a href="mailto:{{ item.primary_email }}" title="{{ item.primary_email }}">{{ item.primary_email|truncatechars:"35" }}</a>
            </div>
        {% endif %}
    
        {% with item.get_work_phone as phone %}
            {% if phone.raw_input %}
                <div class="i-16 i-phone blue">
                    <a href="tel:{{ phone.number }}">{{ phone.raw_input }}</a>
                </div>
            {% endif %}
        {% endwith %}
    
        {% with item.get_mobile_phone as phone %}
            {% if phone.raw_input %}
                <div class="i-16 i-mobile blue">
                    <a href="tel:{{ phone.number }}">{{ phone.raw_input }}</a>
                </div>
            {% endif %}
        {% endwith %}
    </td>
    <td class="account">
        {% if item.functions.all.0 %}
            <a href="{% url account_details pk=item.functions.all.0.account.pk %}">{{ item.functions.all.0.account.name }}</a>
        {% endif %}
    </td>
    <td class="datetime created hide_on_small_screen">
        <div>
            {{ item.created|date:"d/m/Y" }}
        </div>
        <div>
            {{ item.created|date:"H:i:s" }}
        </div>
    </td>
    <td class="datetime modified hide_on_small_screen">
        <div>
            {{ item.modified|date:"d/m/Y" }}
        </div>
        <div>
            {{ item.modified|date:"H:i:s" }}
        </div>
    </td>
{% endblock %}
