{% extends 'anonymous/page_wide.html' %}

{% load i18n pipeline %}

{% block css %}{% stylesheet 'error' %}{% endblock %}
{% block head-title %}Error 404{% endblock %}
{% block page-title %}Error 404{% endblock %}
{% block body-class %}page-404-full-page{% endblock %}
{% block page-content %}
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number">
        404
        </div>
        <div class="details">
            <h3>{% blocktrans %}Oops! You're lost.{% endblocktrans %}</h3>
            <p>
               {% blocktrans %}We can not find the page you're looking for.{% endblocktrans %}<br />
               <a href="/">{% blocktrans %}Return home{% endblocktrans %}</a>
               {% blocktrans %}or try the search bar below.{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
