{% extends 'anonymous/page_wide.html' %}

{% load i18n pipeline %}

{% block css %}{% stylesheet 'error' %}{% endblock %}
{% block head-title %}Error 500{% endblock %}
{% block page-title %}Error 500{% endblock %}
{% block body-class %}page-500-full-page{% endblock %}
{% block page-content %}
<div class="row">
    <div class="col-md-12 page-500">
        <div class="number">
        500
        </div>
        <div class="details">
            <h3>{% blocktrans %}Oops! Something went wrong.{% endblocktrans %}</h3>
            <p>
               {% blocktrans %}We are fixing it!{% endblocktrans %}<br />
               {% blocktrans %}Please come back in a while.{% endblocktrans %}<br />
            </p>
        </div>
    </div>
</div>
{% endblock %}
