{% load bootstrap3 i18n %}

<form class="form form-horizontal" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} {% if form_prevent_autofill %}autocomplete="off"{% endif %} {% if form_action_url %}action="{{ form_action_url }}" {% endif %}method="post" data-async role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4>
            {% with form.fieldsets|first as first_fieldset %}
                {{ first_fieldset.legend }}
            {% endwith %}
        </h4>
    </div>
    <div class="modal-body">
        {% csrf_token %}

        <div class="form-body">
            {% block form-fields %}
                {% include 'form_fields.html' with disable_first_title=True field_class="col-md-8" label_class="col-md-4" %}
            {% endblock %}
        </div>
        <div data-async-response></div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</button>
        <button type="submit" class="btn btn-primary" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> {% trans 'Sending..' %}">{% trans 'Continue' %}</button>
    </div>
</form>
