{% extends 'base_form.html' %}

{% load i18n crispy_forms_tags %}

{% block form %}
    {% csrf_token %}
    
    {% if form.non_field_errors %}
        <div class="mws-form-row">
            <div class="mws-form-message error no_list_style_type">
                <span class="field_error">{{ form.non_field_errors }}</span>
            </div>
        </div>
    {% endif %}
    
    <div class="mws-form-inline">
        {% block form-content %}
            {% crispy form %}
        {% endblock %}
    </div>
{% endblock %}
