{% load crispy_forms_tags %}

{% block form %}
    <div class="mws-panel-header">
        <span>{% block form-title %}{% endblock %}</span>
    </div>
    <div class="mws-panel-body">
        <form class="mws-form tabthis" action="{{ form_action_url }}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}

            {% block form-content %}
                {% if form and form.helper %}
                    {% crispy form %}
                {% endif %}
            {% endblock %}
        </form>
    </div>
{% endblock %}

<div class="hidden">
    {% block hidden-dialogs %}{% endblock %}

    {% block hidden-formset-templates %}{% endblock %}
</div>
