{% extends 'base_user.html' %}

{% comment %}
Use {% include 'base_model_list.html' with list=list list_item_template=path_to_item_template (optional) %} to use this file.
{% endcomment %}

{% load i18n media thumbnail utils %}

{% block scripts %}
    {{ block.super }}

	{% include_media 'tables.js' %}

    {% block table-scripts %}
        <script type="text/javascript">
            $(document).ready(function() {
                $(".mws-datatable-fn").dataTable({
                    "sPaginationType": "full_numbers",
                    "bAutoWidth": false,
                    "aaSorting": [[{{ order_by }}, '{{ sort_order }}']],
                    "aoColumnDefs": [
                        {% block list-definition %}{% endblock %}
                    ]
                });

                // Help switching icon color on hover
                $('.mws-datatable-fn tr').live({
                    hover: function() {
                        $(this).find('.i-16').toggleClass('blue');
                    }
                });

                {% block delete-dialog-script %}{% endblock %}
            });
        </script>
    {% endblock %}
{% endblock %}

{% block container %}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>{% block model-list-title %}List{% endblock %}</span>
        </div>
        <div class="mws-panel-body clearfix">
            {% block before-list %}{% endblock %}
            {% block table-head %}
                <table class="mws-datatable-fn mws-table">
                    <thead>
                        <tr>
                            {% block list-headings %}<td></td><td>Item</td>{% endblock %}
                        </tr>
                    </thead>
            {% endblock %}
                <tbody>
                    {% block list %}
                        {% if list_item_template %}
                            {% include 'base_list.html' with list=object_list list_item_template=list_item_template %}
                        {% else %}
                            {% include 'base_list.html' with list=object_list list_item_template='base_model_list_item.html' %}
                        {% endif %}
                    {% endblock %}
                </tbody>
                {% block table-foot %}
                    <tfoot>
                        {% block list-footer %}{% endblock %}
                    </tfoot>
                {% endblock %}
            </table>
            {% block after-list %}{% endblock %}
        </div>
    </div>

    <div class="hidden">
        {% block hidden-dialogs %}
            {% include 'base_delete_dialog_list.html' %}
        {% endblock %}
    </div>
{% endblock %}
