{% comment %}
Two usages:
{% include 'utils/base_formset.html' with formset=formset form=form %} to use this file for existing forms.
{% include 'utils/base_formset.html' with formset=formset form=None %} to use this file as a formset template.
{% endcomment %}

{% load i18n %}

{% if form %}
    <div class="mws-form-item large {{ formset.prefix }}-mws-formset">
        {% block form %}
            {% if form.instance.pk %}
                {{ form.id }}
                {% if formset.can_delete %}
                    <div class="hidden">
                        {{ form.DELETE }}
                    </div>
                {% endif %}
            {% endif %}
        {% endblock %}
    </div>
{% else %}
    <!-- Formset template -->
    <div class="hidden">
        <div id="{{ formset.prefix }}-form-template">
            {% block template %}{% endblock %}
        </div>
    </div>
{% endif %}
