{% load compressed statici18n i18n static %}

<!DOCTYPE html>
{% if angular_app %}
<!--[if IE 8]> <html lang="en" class="ie8 no-js" ng-app="lilyApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" ng-app="lilyApp"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js" ng-app="lilyApp" {% block default-controller %}{% endblock %}>> <!--<![endif]-->
{% else %}
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
{% endif %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="MobileOptimized" content="320">
    {% compressed_css 'font-awesome' %}
    {% compressed_css 'metronic-core' %}
    {% block css %}
        {% compressed_css 'notifications' %}
    {% endblock %}
    {% compressed_css 'metronic-theme' %}
    {% compressed_css 'print' %}
    {% compressed_js 'jquery' %}
    <link rel="shortcut icon" href="{% static 'lily/images/core/favicon.ico' %}" />
    {% block head-outer-title %}
        <title>{% block head-title %}HelloLily{% endblock %}</title>
    {% endblock %}
</head>

<body class="page-header-fixed page-sidebar-fixed">
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <div class="header-inner">
            <a class="navbar-brand" href="{% url 'dashboard' %}"><span style="margin-left: 20px;">Hello<strong>Lily</strong></span></a>
            {% block page-header %}{% endblock %}
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="page-container">
        {% block page-menu-bar %}{% endblock %}
        <div class="page-content">
            {% block page-content %}{% endblock %}
        </div>
    </div>
    {% block page-footer %}
    <div class="footer">
        <div class="footer-inner">
            2012 - {% now 'Y' %} &copy; HelloLily
        </div>
        <div class="footer-tools">
            <span class="go-top">
                <i class="icon-angle-up"></i>
            </span>
        </div>
    </div>
    {% endblock %}

    {% block modals %}{% endblock %}

    {% block scripts %}
        <!--[if lt IE 9]>
            {% compressed_js 'ie9' %}
        <![endif]-->
        {% with LANGUAGE_CODE|add:'_translations' as translation_bundle %}
            {% compressed_js translation_bundle %}
        {% endwith %}
        {% compressed_js 'core' %}
        {% compressed_js 'notifications' %}
        <script>
            var load_notifications = function() {
                $.getScript('{% url 'notifications' %}');
            };
            $(function($) {
                {% if messages %}
                    load_notifications();
                {% endif %}
            });
        </script>
    {% endblock %}
    {% block tasks %}
        <script>
            HLTasks.init({
                placeholderUrl: '{% url 'task_status' task_id='000' %}',
                sendMessageSuccess: {message: '{% trans 'I successfully delivered your e-mail!' %}', title: '{% trans 'Yay!' %}'},
                sendMessageError: {message: '{% blocktrans %}Sorry, I couldn\'t deliver your e-mail, but I did save it as a draft so you can try again later.{% endblocktrans %}', title: '{% trans 'Oops!' %}'},
                saveMessageSuccess: {message: '{% trans 'I successfully saved your message as a draft!' %}', title: '{% trans 'Yay!' %}'},
                saveMessageError: {message: '{% blocktrans %}I couldn\'t save your message as a draft, please try again!{% endblocktrans %}', title: '{% trans 'Oops!' %}'}
            });
            {% if request.session.tasks %}
                {% for task_name, task_id in request.session.tasks.items %}
                    HLTasks.getTaskResponse('{{ task_id }}');
                {% endfor %}
            {% endif %}
        </script>
    {% endblock %}
    {% if not debug %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-401436-20']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</body>
</html>
