{% extends 'base_app.html' %}

{% load static crispy_forms_tags %}

{% block jQueryUI-styles %}{% endblock %}
{% block jQueryUI-scripts %}{% endblock %}
{% block jQueryUI-extra-scripts %}{% endblock %}

{% block container %}
    <style type="text/css">
        .password_checker {
            margin: 4px 12px 0 0;   
        }
        
        #password-text {
            margin-top: 0px;
        }
    </style>
    
    {% block form %}
        <div id="mws-login-wrapper" class="tabthis">
        {% block portal %}
            <div id="mws-login">
                <div class="mws-panel">
                    
                    {% block portal-header %}
                        <div class="mws-panel-header">
                            <span>{% block portal-title %}{% endblock %}</span>
                        </div>
                    {% endblock %}
                    
                    <div class="mws-panel-body">
                        <div class="mws-panel-content">
                            <form class="mws-form" action="" method="post">
                                {% block portal-form %}
                                    {% crispy form %}
                                {% endblock %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            {% block portal-bottom-links %}{% endblock %}
            
        {% endblock %}
        </div>
    {% endblock %}
    
{% endblock %}
