{% load i18n media %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <!-- Favicon -->
        <link href="{% media_url 'extra/images/favicon.ico' %}" rel="icon" type="image/x-icon" />
        
        <!-- Page title -->
        <title>{% block page-title %}{% endblock %} HelloLily</title>
        
        <!-- Apple iOS and Android stuff -->
        <meta name="apple-mobile-web-app-capable" content="no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />
        
        {% block styles %}
        	{% include_media 'main.css' %}
        {% endblock %}
        
        {% block scripts %}
        	{% include_media 'main.js' %}
        	{% include_media 'translations.js' language=LANGUAGE_CODE %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>