{% extends 'page.html' %}

{% load bootstrap3 i18n compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'profile' %}
    {% compressed_css 'timeline' %}
{% endblock %}

{% block page-actions-button %}
<div class="pull-right">
    {% block page-actions %}{% endblock %}
</div>
{% endblock %}

{% block content %}
    {% block details-main %}{% endblock %}
    {% block details-tabs %}
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                {% block details-tab-headers %}
                    <li class="active">
                        <a href="#tab-history" data-toggle="tab">
                            {% trans 'History' %}
                        </a>
                    </li>
                {% endblock %}
            </ul>
            <div class="tab-content">
                {% block details-tab-content %}
                    <div class="tab-pane active" id="tab-history">
                        {% include 'notes/note_form.html' %}
                        {% include 'utils/historylist.html' %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block modals %}
{{ block.super }}
<div class="hidden">
    <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog"></div>
</div>
<div class="hidden">
    <div id="object-update" class="modal fade" tabindex="-1" role="dialog" data-focus-on=":input:visible:first"></div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compressed_js 'historylist' %}
{% endblock %}
