{% extends 'page.html' %}

{% load bootstrap3 i18n %}

{% block page-actions-button %}
<div class="btn-group pull-right">
     <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
     <span>{% trans 'Actions' %}</span> <i class="icon-angle-down"></i>
     </button>
     <ul class="dropdown-menu" role="menu">
        {% block page-actions %}{% endblock %}
     </ul>
</div>
{% endblock %}

{% block page-container %}
<div class="tabbable tabbable-custom tabbable-full-width">
    <ul class="nav nav-tabs">
        {% block details-tabs %}
        <li class="active"><a href="#overview" data-toggle="tab">{% trans 'Overview' %}</a></li>
        {% endblock %}
    </ul>
    <div class="tab-content">
        {% block details-content %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block modals %}
{{ block.super }}
<div class="hidden">
    <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static"></div>
</div>
<div class="hidden">
    <div id="object-update" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-focus-on=":input:visible:first"></div>
</div>
{% endblock %}
