{% extends 'page.html' %}

{% load bootstrap3 i18n media %}

{% block css %}
    {{ block.super }}
    {% include_media 'profile.css' %}
    {% include_media 'timeline.css' %}
{% endblock %}

{% block page-actions-button %}
<div class="btn-group pull-right">
     <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
     <span>{% trans 'Actions' %}</span> <i class="icon-angle-down"></i>
     </button>
     <ul class="dropdown-menu" role="menu">
        {% block page-actions %}{% endblock %}
     </ul>
</div>
{% endblock %}

{% block content %}
    {% block details-main %}{% endblock %}
    {% block details-tabs %}
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                {% block details-tab-headers %}
                    <li class="active">
                        <a href="#tab-history" data-toggle="tab">
                            {% trans 'History' %}
                        </a>
                    </li>
                {% endblock %}
            </ul>
            <div class="tab-content">
                {% block details-tab-content %}
                    <div class="tab-pane active" id="tab-history">
                        {% include 'notes/note_form.html' %}
                        {% include 'utils/history_list.html' %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block modals %}
{{ block.super }}
<div class="hidden">
    <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog"></div>
</div>
<div class="hidden">
    <div id="object-update" class="modal fade" tabindex="-1" role="dialog" data-focus-on=":input:visible:first"></div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{#    {% include_media 'history_list.js' %}#}
<script>
$(function($) {
    var historyListSelector = '#history-list .history-list-item';

    var check_history_dates = function() {
        var sort_date_in_seconds = $(historyListSelector).last().data('sort-date');
        var hash = parseInt(window.location.hash.substring(1), 10);

        // in seconds, convert to milliseconds
        var last_sort_date = new Date(sort_date_in_seconds * 1000);
        var hash_date;

        // check if the hash is a number
        if (isNaN(hash) === false) {
            hash_date = new Date(hash * 1000);
        } else {
            hash_date = new Date();
        }

        // check if we need to load more history list items
        if (hash_date < last_sort_date) {
            show_more_history(check_history_dates, true);
        }
    };

    var showMoreButton = $('#tab-history .show-more');

    // show more history on click
    $(showMoreButton).click(function() {
        show_more_history(null, true);
    });

    var show_more_history = function(callback, scroll) {
        $(showMoreButton).button('loading');

        var last_sort_date = $(historyListSelector).last().data('sort-date');
        var jqXHR = $.ajax({
            url: $(showMoreButton).data('remote'),
            data: {'datetime': last_sort_date},
            type: 'GET',
            dataType: 'json'
        });

        jqXHR.done(function(response) {
            if(response.html) {
                $('#history-list').append(response.html);
            } else if(response.redirect_url) {
                redirect_to(response.redirect_url);
            }
            // put the last date in the url
            window.location.hash = $(historyListSelector).last().data('sort-date');

            // change button state
            if(!response.show_more) {
                $(showMoreButton).button('disabled');
                // push to event loop
                setTimeout(function () {
                    $(showMoreButton).attr('disabled', 'disabled');
                }, 0);
            }

            // reset button state
            function reset_show_more() {
                if(response.show_more) {
                    $(showMoreButton).button('reset');
                }
            }
            // reset button after scroll or reset immediately
            if(scroll) {
                $('html, body').animate({
                    scrollTop: $(historyListSelector).last().offset().top
                }, 300, reset_show_more);
            } else {
                reset_show_more();
            }

            if(callback) {
                callback();
            }
        });
    };

    // attempt to show more history on load if necessary
    check_history_dates();
});

</script>
{% endblock %}
