{% load bootstrap3 i18n %}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body form">
                <h3 class="form-title">
                    {% block page-title %}{% endblock %}
                </h3>

                <form role="form" class="form-horizontal" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} {% if form_prevent_autofill %}autocomplete="off"{% endif %} action="{{ request.path }}">
                    {% csrf_token %}

                    {% block form %}
                        <div class="form-body">
                            {% block form-fields %}
                                {% include 'form_fields.html' %}
                            {% endblock %}

                            {% block form-formsets %}
                                {% if formsets %}
                                    <hr>
                                    {% for context_name, formset in formsets.items %}
                                        {% include formset.template with formset=formset.instance label=formset.label %}
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}
                        </div>
                        <div class="form-actions">
                            {% block form-actions %}
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        {% block form-buttons %}
                                            <button type="submit" class="hl-primary-btn-blue" name="submit-form">
                                                <i class="fa fa-check"></i> {% trans 'Save' %}
                                            </button>
                                            <a ng-href="{{ back_url }}" class="hl-primary-btn">
                                                {% trans 'Back' %}
                                            </a>
                                    {% endblock %}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
</div>
