{% load bootstrap3 i18n %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>

{% endif %}

{% for field in form %}
    {% if not field.is_hidden %}
        {% if field.field.is_formset %}
            {{ field }}
        {% else %}
            {% if field.field.required %}
                {% bootstrap_field field field_class=field_class|default:"col-md-4" label_class=label_class|default:"col-md-2"|add:" control-label required" %}
            {% else %}
                {% bootstrap_field field field_class=field_class|default:"col-md-4" label_class=label_class|default:"col-md-2"|add:" control-label" %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
