{% load bootstrap3 i18n %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>

{% endif %}

{% for fieldset in form.fieldsets %}
    <div class="portlet{% if fieldset.classes %} {{ fieldset.classes }}{% endif %}">
        {% if fieldset.legend %}
            {% if forloop.first %}
                {% if not disable_first_title %}
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-reorder"></i>
                            {{ fieldset.legend }}
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-reorder"></i>
                        {{ fieldset.legend }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="portlet-body form">
            {% if fieldset.description %}
                <h4>{{ fieldset.description }}</h4>
            {% endif %}
            <div class="form-body">
                {% for field in fieldset %}
                    {% if not field.is_hidden %}
                        {% if field.field.is_formset %}
                            {{ field }}
                        {% else %}
                            {% if field.field.required %}
                                {% bootstrap_field field field_class=field_class|default:"col-md-4" label_class=label_class|default:"col-md-2"|add:" control-label required" %}
                            {% else %}
                                {% bootstrap_field field field_class=field_class|default:"col-md-4" label_class=label_class|default:"col-md-2"|add:" control-label" %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
