{% extends 'page.html' %}

{% load compressed i18n %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'tables' %}
{% endblock %}

{% block page-container %}
<div class="portlet">
    <div class="portlet-title">
         <div class="caption">{% block list-title %}{% endblock %}</div>
         <div class="actions">{% block list-actions %}{% endblock %}</div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover data-table">
            <thead><tr>{% block list-headings %}{% endblock %}</tr></thead>
            <tbody>
                {% block list %}
{#  For the moment, only load context from ajax #}

{#                    {% for item in object_list %}#}
{#                        <tr>#}
{#                            {% for column in columns %}#}
{#                                {% with ''|add:app_name|add:'/data-tables/'|add:column|add:'.html' as template_url %}#}
{#                                    {% include template_url %}#}
{#                                {% endwith %}#}
{#                            {% endfor %}#}
{#                        </tr>#}
{#                    {% endfor %}#}
                {% endblock %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compressed_js 'tables' %}
    <script>
        $(function($){
            HLList.init({
                DTSelector: '.page-content .data-table',
                DTServerSide: {% if data_tables_server_side %}true{% else %}false{% endif %},
                DTAjaxSource: '{{ data_tables_ajax_source }}',
                DTColumns: {{ data_tables_columns|default:'[]' }},
                DTFilter: {% if data_tables_show_search_field  %}true{% else %}false{% endif %},
                DTColumnsDefs: [{% block list-definition %}{% endblock %}],
                DTSorting: [[{{ order_by }}, '{{ sort_order }}']],
                allText: '{% trans 'All' %}',
                prevText: '{% trans 'Prev' %}',
                nextText: '{% trans 'Next' %}',
                recordText: '{% trans 'Records' %}',
                DTInfoText: '{% trans 'Showing _START_ to _END_ of _TOTAL_ records' %}'
            });
        });
    </script>
{% endblock %}

{% block modals %}
{{ block.super }}
<div class="hidden">
    <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog"></div>
</div>
{% endblock %}
