{% load bootstrap3 humanize i18n utils media %}

{% for item in blogentry_list %}
    <div class="media microblog-item">
        <div class="media-body">
            <div id="entry-{{ item.id }}" class="content" data-entry-id="{{ item.id }}">
                <h4 class="media-heading">
                   {{ item.author }}
                    <span>
                        {{ item.created|naturaltime }}
                        / <a href="{% url blogentry_reply pk=item.id %}" data-target="#blogentry-reply" data-source="{% url blogentry_reply pk=item.id %}">{% trans 'Reply' %}</a>
                        / <a href="{% url blogentry_delete pk=item.id %}" data-target="#confirm-delete" data-source="{% url blogentry_delete pk=item.id %}">{% trans 'Delete' %}</a>
                    </span>
                </h4>
                <p>
                    {{ item.content|linebreaksbr|uri_detect|tags_to_uri|safe }}
                </p>
            </div>
            {% with item.get_replies as reply_list %}
                {% if reply_list or not forloop.last %}
                    <hr />
                {% endif %}
                <div class="replies">
                    {% if reply_list %}
                        {% with 'microblog_list.html' as template %}
                            {# We need the 'with' statement to prevent the infinite loop situation that occurs when we use the string like we do normally #}
                            {% include template with blogentry_list=reply_list %}
                        {% endwith %}
                    {% endif %}
                </div>
            {% endwith %}
        </div>
    </div>
{% endfor %}