{% extends 'form.html' %}

{% load i18n static compressed activelink %}

{% block head-title %}
{% if object.pk %}
    {% trans 'Your profile' %}
{% else %}
    {% trans 'Your profile' %}
{% endif %}
{% endblock %}

{% block form-title %}
{% if object.pk %}
    {% trans 'Your profile' %}
{% else %}
    {% trans 'Your profile' %}
{% endif %}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'profile' %}
{% endblock %}

{% block page-container %}
    <div class="row">
        <div class="col-md-3">
            <div class="portlet">
                <div class="portlet-title">
                     <div class="caption">{% trans 'You' %}</div>
                </div>
                <div class="portlet-body">
                    <div class="profile">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                <a href="{% url 'user_profile_view' %}"{% ifstartswith "user_profile_view" %} class="active"{% endifstartswith %}>
                                    <i class="icon-user"></i>
                                    {% trans 'Profile' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'user_account_view' %}"{% ifstartswith "user_account_view" %} class="active"{% endifstartswith %}>
                                    <i class="icon-cog"></i>
                                    {% trans 'Account' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet">
                <div class="portlet-title">
                     <div class="caption">{% trans 'Your company' %}</div>
                </div>
                <div class="portlet-body">
                    <div class="profile">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                <a href="#">
                                    <i class="icon-cogs"></i>
                                    todo:{% trans 'Account' %}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-group"></i>
                                    todo:{% trans 'Users' %}
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-sitemap"></i>
                                    todo:{% trans 'Workflow' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet">
                <div class="portlet-title">
                     <div class="caption">{% trans 'Your email' %}</div>
                </div>
                <div class="portlet-body">
                    <div class="profile">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                <a href="{% url 'messaging_email_account_list' %}"{% ifstartswith "messaging_email_account_list" %} class="active"{% endifstartswith %}>
                                    <i class="icon-envelope"></i>
                                    {% trans 'Addresses' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'messaging_email_template_list' %}">
                                    <i class="icon-file"></i>
                                    {% trans 'Templates' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {{ block.super }}
        </div>
    </div>
{% endblock %}
