<div ng-if="!vm.case.id" ng-include="'utils/controllers/does_not_exist.html'" class="row">
</div>

<div class="row">
    <div class="col-md-8">
        <div class="widget-container" ng-if="vm.case.id">
            <div class="widget-heading">
                <div class="pull-left radio-button-group" data-toggle="buttons" data-object-id="{{ ::vm.case.id }}">
                    <label class="no-radio-bullets" ng-repeat="status in vm.caseStatuses" for="status-{{ status.id }}" ng-class="{'radio-button': true, 'radio-button active': vm.case.status.status == status.status, 'radio-button disabled': vm.case.is_archived }" ng-click="vm.changeCaseStatus(status.id)">
                        <div class="radio-button-inset">
                            <input class="toggle" type="radio" id="status-{{ status.id }}" name="radio" value="{{ status.id }}" ng-checked="vm.case.status == status.id">
                            {{ status.status }}
                        </div>
                    </label>

                    <label class="radio-button">
                        <div class="radio-button-inset" ng-click="vm.case.is_archived = !vm.case.is_archived">
                            <span ng-if="vm.case.is_archived">Unarchive</span>
                            <span ng-if="!vm.case.is_archived">Archive</span>
                        </div>
                    </label>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="widget-body">
                <table class="widget-table">
                    <tbody>
                        <tr>
                            <td><strong>Case ID:</strong> #{{ vm.case.id }}</td>
                            <td><strong>Type:</strong> {{ vm.case.type.type }}</td>
                            <td><strong>Priority:</strong><i class="margin-left-5 lilicon" ng-class="{0: 'hl-low-prio-icon', 1: 'hl-normal-prio-icon', 2: 'hl-high-prio-icon', 3: 'hl-critical-prio-icon'}[vm.case.priority]"></i> {{ vm.case.priority_display }} priority</td>
                            <td><strong>Expires on:</strong> <postpone class="margin-left-5" type="'Case'" object="vm.case" date-field="'expires'"></postpone></td>
                        </tr>
                    </tbody>
                </table>
                <div class="widget-content" ng-show="vm.case.description">
                    <strong>Description:</strong>
                    <div class="pre-wrap" ng-bind-html="vm.case.description | parseUrls"></div>
                </div>
            </div>
        </div>

        <history-list ng-if="vm.case.id" target="'case'" object="vm.case"></history-list>

        <history-list ng-if="vm.account.id" target="'account'" object="vm.account" date-start="vm.caseStart" date-end="vm.caseEnd" parent-object="vm.case"></history-list>
    </div>

    <div ng-if="vm.case.id" class="col-md-4">
        <dashboard-widget ng-if="vm.case.account" widget-name="'Account info'">
            <widget-header>
                <div class="widget-name">
                    <a ui-sref="base.accounts.detail({ id: vm.case.account.id })">
                        <i class="lilicon hl-company-icon"></i>
                        {{ vm.case.account.name }}
                    </a>
                </div>
            </widget-header>

            <widget-body>
                <div class="widget-content">
                    <table class="widget-content-table">
                        <tbody>
                            <tr ng-if="vm.account.email_addresses.length">
                                <td>E-mail</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="email in vm.account.email_addresses">
                                            <a ui-sref="base.email.composeEmail({email: email.email_address})">{{ email.email_address }}</a> ({{ email.status_name }})
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.account.phone_numbers.length">
                                <td>Phone numbers</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="phonenumber in vm.account.phone_numbers">
                                            <a href="tel:{{ phonenumber.raw_input }}">{{ phonenumber.raw_input }}</a> ({{phonenumber.type}})
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.account.addresses.length">
                                <td>Addresses</td>
                                <td>
                                    <ul ng-repeat="address in vm.account.addresses">
                                        <li>
                                            {{ address.street }} {{ address.street_number }}{{ address.complement }}
                                        </li>
                                        <li>
                                            {{ address.postal_code }}, {{ address.city }}
                                        </li>
                                        <li>
                                            {{ address.country_display }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.account.websites.length">
                                <td>Websites</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="website in vm.account.websites">
                                            <a target="_blank" href="{{website.website}}">{{ website.website | stripScheme }}</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.case.parcel_identifier">
                                <td>Shipment</td>
                                <td><a href="{{ vm.case.parcel_link }}">Track this parcel</a></td>
                            </tr>
                            <tr ng-if="vm.case.account.customer_id && vm.tenant.primary_external_app_link">
                                <td>External</td>
                                <td>
                                    <a ng-href="{{ vm.tenant.primary_external_app_link.getUrl(vm.case.account.customer_id) }}" target="_blank">
                                        <i class="fa fa-external-link fa-sm"></i>
                                        {{ vm.tenant.primary_external_app_link.name }}
                                    </a>
                                </td>
                            </tr>
                            <tr class="has-no-info" ng-if="!vm.account.email_addresses.length && !vm.account.phone_numbers.length && !vm.account.addresses.length && !vm.account.websites.length && !vm.case.parcel_identifier" >
                                <td>No additional information</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </widget-body>
        </dashboard-widget>

        <dashboard-widget ng-if="vm.case.contact" widget-name="'Contact info'">
            <widget-header>
                <div class="widget-name">
                    <a ui-sref="base.contacts.detail({ id: vm.case.contact.id })">
                        <i class="lilicon hl-user-icon"></i>
                        {{ vm.case.contact.name }}
                    </a>
                </div>
            </widget-header>

            <widget-body>
                <div class="widget-content">
                    <table class="widget-content-table">
                        <tbody>
                            <tr ng-if="vm.contact.email_addresses.length">
                                <td>E-mail addresses</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="email in vm.contact.email_addresses">
                                            <a ui-sref="base.email.composeEmail({email: email.email_address})">{{ email.email_address }}</a> ({{ email.status_name }})
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.contact.phone_numbers.length">
                                <td>Phone numbers</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="phonenumber in vm.contact.phone_numbers">
                                            <a href="tel:{{ phonenumber.raw_input }}">{{ phonenumber.raw_input }}</a> ({{phonenumber.type}})
                                        </li>
                                    </ul>
                                </td>
                            </tr>

                            <tr class="has-no-info" ng-if="!vm.contact.email_addresses.length && !vm.contact.phone_numbers.length">
                                <td>No additional information</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </widget-body>
        </dashboard-widget>

        <dashboard-widget widget-name="'More info'">
            <widget-header>
                <div class="widget-name">
                    <i class="fa fa-info"></i>
                    More info
                </div>
            </widget-header>

            <widget-body>
                <div class="widget-content case-detail-info">
                    <table class="widget-content-table">
                        <tbody>
                            <tr>
                                <td>Assigned to</td>
                                <td>
                                    <ul>
                                        <li>
                                            <editable-select field="assigned_to" view-model="vm" type="Case" select-options="{type: 'User', field: 'assignOptions', display: 'full_name'}">
                                                {{ vm.case.assigned_to.full_name || "Nobody"}}
                                            </editable-select>
                                        </li>
                                        <li>
                                            <a ng-if="vm.case.assigned_to.id != currentUser.id" ng-click="vm.assignCase()"><i class="fa fa-anchor"></i> Assign to me</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-if="vm.case.assigned_to_groups.length">
                                <td>Assigned to teams:</td>
                                <td>{{ vm.case.assigned_to_groups | join:'name' }}</td>
                            </tr>

                            <tr><td>Created by</td> <td>{{ vm.case.created_by.full_name || 'Unknown' }}</td></tr>
                            <tr><td>Created on</td> <td>{{ vm.case.created | date:"dd MMMM y H:mm" }}</td></tr>

                            <tr>
                                <td>Expires on</td>
                                <td><postpone type="'Case'" object="vm.case" date-field="'expires'"></postpone></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </widget-body>
        </dashboard-widget>

        <dashboard-widget widget-name="'Tags'">
            <widget-header>
                <div class="widget-name">
                    <i class="fa fa-tag"></i>
                    Tags
                </div>
            </widget-header>

            <widget-body>
                <div class="widget-content">
                    <span ng-if="vm.case.tag" class="case-detail-tag" ng-repeat="tag in vm.case.tag">{{ tag }}</span>
                    <span ng-if="!vm.case.tag">No tags</span>
                </div>
            </widget-body>
        </dashboard-widget>
    </div>
</div>
