<div ng-if="!vm.case.id" ng-include="'utils/controllers/does_not_exist.html'" class="row">
</div>

<div class="row">
    <div class="col-md-8">
        <div class="widget-container" ng-if="vm.case.id">
            <div class="widget-heading">
                <div class="hl-button-group-container">
                    <ul class="hl-button-group" data-toggle="buttons" data-object-id="{{ ::vm.case.id }}">
                        <li class="hl-button-group-btn" ng-repeat="status in vm.caseStatuses" ng-click="vm.changeCaseStatus(status)" ng-class="{'selected': vm.case.status.name == status.name, 'disabled': vm.case.is_archived }">
                            <span class="hl-button-group-btn-link">
                                {{ status.name }}
                            </span>
                        </li>

                        <li class="hl-button-group-btn">
                            <span class="hl-button-group-btn-link" ng-click="vm.case.is_archived = !vm.case.is_archived">
                                <span ng-if="vm.case.is_archived">Unarchive</span>
                                <span ng-if="!vm.case.is_archived">Archive</span>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="widget-body">
                <table class="widget-table align-table">
                    <tbody>
                        <tr>
                            <td><strong>Case ID:</strong> #{{ vm.case.id }}</td>
                            <td>
                                <strong>Type:</strong>
                                <editable-select class="margin-left-10" field="type" view-model="vm" type="Case" select-options="{field: 'caseTypes'}">
                                    {{ vm.case.type.name }}
                                </editable-select>
                            </td>
                            <td>
                                <strong>Priority:</strong>
                                <editable-select class="margin-left-10" field="priority" view-model="vm" type="Case" choice-field="true" select-options="{field: 'casePriorities'}">
                                    <span class="lilicon" ng-class="{0: 'hl-low-prio-icon', 1: 'hl-normal-prio-icon', 2: 'hl-high-prio-icon', 3: 'hl-critical-prio-icon'}[vm.case.priority]"></span>
                                    {{ vm.case.priority_display }} priority
                                </editable-select>
                            </td>
                            <td><strong>Expires on:</strong> <postpone class="margin-left-5" type="'Case'" object="vm.case" date-field="'expires'"></postpone></td>
                        </tr>
                    </tbody>
                </table>
                <div class="widget-content">
                    <div class="widget-content-section">
                        <div><strong>Description</strong></div>
                        <div class="pre-wrap" editable-textarea="vm.case.description" e-rows="4" e-cols="100" onbeforesave="vm.updateModel($data, 'description')" ng-bind-html="(vm.case.description | parseUrls) || 'No description'"></div>
                    </div>
                </div>
            </div>
        </div>

        <checkbox model="vm.mergeHistory" class="pull-right">Merge history lists</checkbox>

        <span ng-if="vm.mergeHistory">
            <history-list ng-if="vm.case.id" target="'case'" object="vm.case" extra-object="{object: vm.case.account, target: 'account'}" date-start="vm.caseStart" date-end="vm.caseEnd"></history-list>
        </span>

        <span ng-if="!vm.mergeHistory">
            <history-list ng-if="vm.case.id" target="'case'" object="vm.case"></history-list>
            <history-list ng-if="vm.case.account.id" target="'account'" object="vm.case.account" date-start="vm.caseStart" date-end="vm.caseEnd" parent-object="vm.case"></history-list>
        </span>
    </div>

    <div ng-if="vm.case.id" class="col-md-4">
        <account-detail-widget ng-if="vm.case.account" account="vm.case.account"></account-detail-widget>

        <contact-detail-widget ng-if="vm.case.contact" contact="vm.case.contact"></contact-detail-widget>

        <widget widget-name="'More info'">
            <widget-header>
                <div class="widget-label"></div>
                <div class="widget-name">
                    <i class="fa fa-info"></i>
                    More info
                </div>
            </widget-header>

            <widget-body>
                <div class="widget-content case-detail-info">
                    <table class="widget-content-table">
                        <tbody>
                            <tr>
                                <td>Assigned to</td>
                                <td>
                                    <editable-select field="assigned_to" view-model="vm" type="Case" search="true"
                                                     select-options="{type: 'User', display: 'full_name', placeholder: 'Assign to...', allowClear: true, sortColumn: 'full_name', nameColumn: 'full_name'}">
                                        {{ vm.case.assigned_to.full_name || 'Nobody'}}
                                    </editable-select>
                                    <a ng-if="vm.case.assigned_to.id != currentUser.id" ng-click="vm.assignCase()">
                                        <i class="fa fa-anchor margin-left-5"></i> Assign to me
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Assigned to teams:</td>
                                <td>
                                    <editable-select field="assigned_to_groups" view-model="vm" type="Case" search="true" multiple="true"
                                                     select-options="{type: 'UserTeams', placeholder: 'Select one or more team(s)', sortColumn: 'name'}">
                                        <div ng-repeat="team in vm.case.assigned_to_groups">
                                            {{ team.name }}
                                        </div>
                                        <span ng-if="!vm.case.assigned_to_groups.length">Not assigned to any team(s)</span>
                                    </editable-select>
                                </td>
                            </tr>

                            <tr><td>Created by</td> <td>{{ vm.case.created_by.full_name || 'Unknown' }}</td></tr>
                            <tr><td>Created on</td> <td>{{ vm.case.created | date:"dd MMMM y H:mm" }}</td></tr>

                            <tr>
                                <td>Expires on</td>
                                <td><postpone type="'Case'" object="vm.case" date-field="'expires'"></postpone></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </widget-body>
        </widget>

        <widget widget-name="'Tags'">
            <widget-header>
                <div class="widget-label"></div>
                <div class="widget-name">
                    <i class="fa fa-tag"></i>
                    Tags
                </div>
            </widget-header>

            <widget-body>
                <div class="widget-content">
                    <editable-tags view-model="vm" type="Case"></editable-tags>
                </div>
            </widget-body>
        </widget>
    </div>
</div>
