<div ng-if="!vm.case.id" ng-include="'utils/controllers/does_not_exist.html'" class="row">
</div>

<div class="row">
    <div class="col-md-8">

        <div class="case-info-heading" ng-class="vm.getPriorityDisplay()">
            <div class="case-info-heading-priority">{{ ::vm.case.priority_name }} Priority</div>
            <div class="case-info-heading-title">
                #{{ vm.case.id }} - [ {{ vm.case.casetype_name }} ] - {{ vm.case.subject }}
            </div>
            <div class="case-info-heading-description" ng-if="vm.case.id" ng-show="::vm.case.body">
                <div ng-bind-html="vm.case.body | nl2br"></div>
            </div>
        </div>

        <div ng-if="vm.case.id">
            <div class="col-md-12 text-center">
                <div id="case-status" class="btn-group" data-toggle="buttons" data-object-id="{{ ::vm.case.id }}">
                    <label ng-repeat="status in vm.caseStatuses" for="status-{{ status.id }}" ng-class="{'btn default': true, 'btn default active': vm.case.status == status.status, 'btn default disabled': vm.case.archived }" ng-click="vm.changeCaseStatus(status.id)">
                        <input class="toggle" type="radio" id="status-{{ status.id }}" name="radio" value="{{ status.id }}" ng-checked="vm.case.status == status.id">
                        {{ status.status }}
                    </label>
                    <div class="btn-group">
                        <a class="btn default" ng-click="vm.unarchive(vm.case.id)" ng-show="vm.case.archived">Unarchive</a>
                        <a class="btn default" ng-click="vm.archive(vm.case.id)" ng-hide="vm.case.archived">Archive</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <history-list ng-if="vm.case.id" target="'case'" object="vm.case"></history-list>
    </div>

    <div ng-if="vm.case.id" class="col-md-4">
        <dashboard-widget ng-if="vm.case.account" widget-name="'Account info'">
            <div name="portlet-caption">
                <a ui-sref="base.accounts.detail({ id: vm.case.account })">
                    <i class="fa fa-building-o"></i>
                    {{ vm.case.account_name }}
                </a>
            </div>

            <div name="portlet-body">
                <ul class="case-detail-block-list">
                    <li ng-if="vm.account.email_addresses.length">
                        <strong>E-mail addresses</strong>
                        <div ng-repeat="email in vm.account.email_addresses">
                            <a ui-sref="base.email.composeEmail({email: email.email_address})">{{ email.email_address }}</a> ({{ email.status_name }})
                        </div>
                    </li>
                    <li ng-if="vm.account.phone_numbers.length">
                        <strong>Phonenumbers: </strong>
                        <div ng-repeat="phonenumber in vm.account.phone_numbers">
                            {{ phonenumber.raw_input }} ({{phonenumber.type}})
                        </div>
                    </li>
                    <li ng-if="vm.account.addresses.length">
                        <strong>Addresses: </strong>
                        <div ng-repeat="address in vm.account.addresses">
                            {{ address.street }} {{ address.street_number }}{{ address.complement }}
                            <br />
                            {{ address.postal_code }}, {{ address.city }}
                            <br />
                            {{ address.country_display }}
                        </div>
                    </li>
                    <li ng-if="vm.account.websites.length">
                        <strong>Websites: </strong>
                        <div ng-repeat="website in vm.account.websites">
                            <a target="_blank" href="{{website.website}}">{{ website.website | stripScheme }}</a>
                        </div>
                    </li>
                    <li ng-if="vm.case.parcel_identifier">
                        <strong>Shipment:</strong>
                        <div><a href="{{ vm.case.parcel_link }}">Track this parcel</a></div>
                    </li>
                </ul>

            </div>
        </dashboard-widget>

        <dashboard-widget ng-if="vm.case.contact" widget-name="'Contact info'">
            <div name="portlet-caption">
                <a ui-sref="base.contacts.detail({ id: vm.case.contact })">
                    <i class="fa fa-user"></i>
                    {{ vm.case.contact_name }}
                </a>
            </div>

            <div name="portlet-body">
                <ul class="case-detail-block-list">
                    <li ng-if="vm.contact.email_addresses.length">
                        <strong>E-mail addresses: </strong>
                        <div ng-repeat="email in vm.contact.email_addresses">
                            <a ui-sref="base.email.composeEmail({email: email.email_address})">{{ email.email_address }}</a> ({{ email.status_name }})
                        </div>
                    </li>
                    <li ng-if="vm.contact.phone_numbers.length">
                        <strong>Phonenumbers: </strong>
                        <div ng-repeat="phonenumber in vm.contact.phone_numbers">
                            {{ phonenumber.raw_input }} ({{phonenumber.type}})
                        </div>
                    </li>
                </ul>
            </div>
        </dashboard-widget>

        <dashboard-widget widget-name="'More info'">
            <div name="portlet-caption">
                <i class="fa fa-info"></i>
                More info
            </div>

            <div name="portlet-body">
                <ul class="case-detail-block-list">
                    <li>
                        <strong>Assigned to:</strong>
                        <span>{{ vm.case.assigned_to_name || 'Nobody' }}</span>
                        <a ng-if="vm.case.assigned_to_id == currentUser.id" ng-click="vm.assignCase()">[remove assignee]</a>
                        <a ng-if="vm.case.assigned_to_id != currentUser.id" ng-click="vm.assignCase()">[<i class="fa fa-anchor"></i> assign to me ]</a>
                    </li>
                    <li><strong>Created by:</strong> {{ vm.case.created_by || 'Unknown' }}</li>
                    <li><strong>Created on:</strong> {{ vm.case.created | date:"dd MMMM y H:mm" }}</li>
                    <li>
                        <strong>Expires on:</strong>
                        <span>{{ vm.case.expires | date:"d MMM y" }}</span>
                        <a ng-if="vm.case" ng-click="vm.openPostponeWidget(vm.case)">
                            <i class="fa fa-history"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </dashboard-widget>

        <dashboard-widget widget-name="'Tags'">
            <div name="portlet-caption">
                <i class="fa fa-tag"></i>
                Tags
            </div>

            <div name="portlet-body">
                <span ng-if="vm.case.tag" class="case-detail-tag" ng-repeat="tag in vm.case.tag">{{ tag }}</span>
                <span ng-if="!vm.case.tag">No tags</span>
            </div>
        </dashboard-widget>
    </div>
</div>
