<div class="row">
    <div class="col-md-12">
        <div class="widget-heading" ng-if="settings.email.sidebar.form">
            <div class="widget-name">
                <div class="widget-title">
                    Add case
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <form novalidate class="hl-form-body" name="caseForm">
            <form-portlet ng-if="!settings.email.sidebar.form" portlet-title="Who was it?">
                <form-group label-title="Account" label-id="id_account" field="caseForm.account">
                    <ui-select ng-model="vm.case.account" theme="select2" class="form-control" name="account" append-to-body="true" autofocus="true">
                        <ui-select-match placeholder="Select an account" allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="account in vm.accounts" refresh="vm.refreshAccounts($select.search)" refresh-delay="300">
                            <div ng-bind-html="account.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </form-group>
                <form-group label-title="Contact" label-id="id_contact" field="caseForm.contact">
                    <ui-select ng-model="vm.case.contact" theme="select2" class="form-control" name="contact" append-to-body="true">
                        <ui-select-match placeholder="Select an contact" allow-clear="true">{{ $select.selected.full_name }}</ui-select-match>
                        <ui-select-choices repeat="contact in vm.contacts" refresh="vm.refreshContacts($select.search)">
                            <div ng-bind-html="contact.full_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </form-group>

                <form-group ng-if="vm.openCases.length">
                    <div class="widget-suggestion">
                        <span class="widget-suggestion-title">
                            <i class="lilicon hl-entity-icon"></i>
                            <span ng-if="vm.openCases.length === 1">There's another open case</span>
                            <span ng-if="vm.openCases.length > 1">There are other open cases</span>
                        </span>
                        <div ng-repeat="case in vm.openCases" class="widget-suggestion-items">
                            <div class="widget-suggestion-item">
                                Check it out: <a ui-sref="base.cases.detail({ id: case.id })">{{ case.subject }}</a>
                            </div>
                            <div class="widget-suggestion-item-action">
                                <a ng-if="!settings.email.sidebar.form" class="hl-primary-btn" ui-sref="base.cases.detail.edit({ id: case.id })">Edit this case</a>
                            </div>
                        </div>
                    </div>
                </form-group>
            </form-portlet>

            <form-portlet portlet-title="What to do?">
                <form-group label-title="Subject" label-id="id_subject" field="caseForm.subject" required="true">
                    <input class="form-control"
                           id="id_subject"
                           name="subject"
                           maxlength="255"
                           placeholder="Subject"
                           type="text"
                           ng-model="vm.case.subject" />
                </form-group>

                <form-group label-title="Description" label-id="id_description" field="caseForm.description">
                    <textarea class="form-control" id="id_description" name="description" placeholder="Description" msd-elastic ng-model="vm.case.description"></textarea>
                </form-group>

                <form-group label-title="Type" label-id="id_type" field="caseForm.type" required="true">
                    <select ng-model="vm.case.type" ng-options="type.name for type in vm.caseTypes track by type.id" class="form-control" name="type">
                        <option value="" hidden>Select a type</option>
                    </select>
                </form-group>

                <form-group label-title="Status" label-id="id_status" field="caseForm.status" required="true">
                    <select ng-model="vm.case.status" ng-options="status as status.name for status in vm.statusChoices track by status.id" class="form-control">
                        <option value="" hidden>Select a status</option>
                    </select>
                </form-group>

                <div ng-if="!settings.email.sidebar.form && vm.case.type == vm.configCaseType">
                    <form-radio-buttons options="['No', 'Yes']" label-title="Billing checked" input-name="billing_checked"
                                        field="vm.case.billing_checked" sidebar="settings.email.sidebar.form">
                    </form-radio-buttons>

                    <form-group label-title="Parcel provider" label-id="id_parcel_provider" field="caseForm.parcel_provider">
                        <ui-select ng-model="vm.case.parcel_provider" theme="select2" class="form-control" name="parcel_provider" search-enabled="false">
                            <ui-select-match placeholder="Select a parcel provider">{{ $select.selected.name }}</ui-select-match>
                                <ui-select-choices repeat="parcel_provider.id as parcel_provider in vm.parcelProviders">
                                <div ng-bind-html="parcel_provider.name"></div>
                            </ui-select-choices>
                        </ui-select>
                    </form-group>

                    <form-group label-title="Parcel identifier" label-id="id_parcel_identifier" field="caseForm.parcel_identifier">
                        <input class="form-control"
                               id="id_parcel_identifier"
                               maxlength="255"
                               subject="parcel_identifier"
                               placeholder="Parcel identifier"
                               type="text"
                               ng-model="vm.case.parcel_identifier">
                    </form-group>
                </div>
            </form-portlet>

            <form-portlet portlet-title="When to do it?">
                <form-group label-title="Priority" label-id="id_priority" field="caseForm.priority" required="true">
                    <div>
                        <label class="priority-button" ng-repeat="priority in vm.casePriorities"
                               ng-class="{0: 'low-priority-indicator', 1: 'medium-priority-indicator', 2: 'high-priority-indicator', 3: 'critical-priority-indicator'}[$index]">
                            {{ priority.name }}
                            <input id="id_priority-{{ $index }}"
                                type="radio"
                                ng-model="vm.case.priority"
                                ng-value="$index"
                                class="pull-right" />
                        </label>
                    </div>
                </form-group>

                <form-group label-title="Expiry date" label-id="id_expires" field="caseForm.expires" required="true">
                    <div class="input-group form-datepicker">
                        <input type="text"
                               class="form-control"
                               ng-model="vm.case.expires"
                               uib-datepicker-popup="dd/MM/yyyy"
                               uib-date-parser=""
                               datepicker-options="vm.datepickerOptions"
                               is-open="vm.pickerIsOpen"
                               date-disabled="vm.disabledDates(date, mode)"
                               datepicker-append-to-body="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.pickerIsOpen = !vm.pickerIsOpen"><i class="lilicon hl-calendar-icon"></i></button>
                        </span>
                    </div>
                </form-group>
            </form-portlet>

            <form-portlet portlet-title="Who is going to do this?">
                <form-group label-title="Assigned to teams" label-id="id_assigned_to_teams" field="caseForm.assigned_to_teams">
                    <ui-select multiple ng-model="vm.case.assigned_to_teams" theme="select2" class="form-control" name="assigned_to_teams" append-to-body="true">
                        <ui-select-match placeholder="Select one or more team(s)">{{ $item.name }}</ui-select-match>
                        <ui-select-choices repeat="team in vm.teams | filterBy:['name']:$select.search">
                            <div ng-bind-html="team.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <button class="btn btn-link assign-me-btn" ng-click="vm.assignToMyTeams()">Assign to my teams</button>
                </form-group>

                <form-group label-title="Assigned to" label-id="id_assigned_to" field="caseForm.assigned_to">
                    <ui-select ng-model="vm.case.assigned_to" theme="select2" class="form-control" name="assigned_to" append-to-body="true">
                        <ui-select-match placeholder="Assign to..." allow-clear="true">{{ $select.selected.full_name }}</ui-select-match>
                        <ui-select-choices repeat="user in vm.users" refresh="vm.refreshUsers($select.search)" refresh-delay="300">
                            <div ng-bind-html="user.full_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <button class="btn btn-link assign-me-btn" ng-click="vm.assignToMe()">Assign to me</button>
                </form-group>
            </form-portlet>

            <form-portlet portlet-title="Tags">
                <form-portlet-body>
                    <form-group label-title="Tags" label-id="id_tags" field="caseForm.tags">
                        <tag-input ng-if="vm.case" object="vm.case" type="case"></tag-input>
                    </form-group>
                </form-portlet-body>
            </form-portlet>

            <div class="hl-form-footer">
                <div class="row">
                    <div ng-class="{'hidden col-xs-12': settings.email.sidebar.form, 'col-xs-12 col-sm-3 col-md-2 col-lg-2': !settings.email.sidebar.form}"></div>
                    <div ng-class="{'col-xs-12': settings.email.sidebar.form, 'col-xs-12 col-sm-9 col-md-8 col-md-7 col-lg-4': !settings.email.sidebar.form}">
                        <button type="button" class="btn blue" ng-click="vm.saveCase(caseForm)" uib-tooltip="{{ messages.tooltips.modEnter.title }}">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <button type="button" class="btn blue" ng-click="vm.saveCase(caseForm, true)">
                            <i class="fa fa-check"></i> Save and archive
                        </button>
                        <button type="button" class="btn default" ng-click="vm.cancelCaseCreation()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
