<div class="portlet light">
    <div class="portlet-title">
        <ul class="hl-button-group">
            <li class="hl-button-group-btn">
                <a class="hl-button-group-btn-link" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-columns"></i>
                    Columns
                    <i class="margin-left-5 small-icon lilicon hl-toggle-down-icon"></i>
                </a>

                <ul class="hl-dropdown js-hold-on-click">
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.caseId">No.</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.subject">Subject</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.client">Client</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.type">Type</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.status">Status</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.priority">Priority</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.created">Created</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.expires">Expires</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.assignedTo">Assigned to</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.createdBy">Created by</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.tags">Tags</checkbox></li>
                </ul>
            </li>
        </ul>

        <ul class="hl-button-group">
            <li class="hl-button-group-btn">
                <a class="hl-button-group-btn-link" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-filter"></i>
                        <span class="hidden-480">
                            <span ng-if="vm.selectedFilters.length >= 2">
                                {{ vm.selectedFilters.length }} filters active
                            </span>
                            <span ng-if="vm.selectedFilters.length < 2" ng-repeat="filter in vm.selectedFilters">
                                {{ filter.name }}
                            </span>
                            <span ng-if="!vm.selectedFilters.length">Filters</span>
                        </span>
                    <i class="margin-left-5 small-icon lilicon hl-toggle-down-icon"></i>
                </a>

                <span class="hl-button-group-btn-clear" ng-click="vm.clearFilters(false)" ng-show="vm.displayFilterClear">
                    <i class="fa fa-remove"></i>
                </span>

                <ul class="hl-dropdown js-hold-on-click">
                    <li class="hl-dropdown-item" ng-repeat="filter in vm.filterList">
                        <checkbox model="filter.selected">{{ filter.name }}</checkbox>
                    </li>
                </ul>
            </li>
        </ul>

        <list-filter filter-label="'Case types'" view-model="vm"></list-filter>

        <div class="widget-filters">
            <due-date-filter filter-store="vm.table.dueDateFilter" type="'case'" class="due-date-filter"></due-date-filter>
            <users-filter users-store="vm.table.usersFilter" storage-name="'caseUsersFilter'" allow-empty="true" class="user-filter"></users-filter>
            <form class="widget-search pull-right">
                <div class="hl-search-field-container">
                    <input type="text" class="hl-search-field" ng-model="vm.table.searchQuery" ng-model-options="{debounce: 300}" placeholder="Search">
                    <button type="button" class="hl-search-btn" ng-click="vm.setSearchQuery('')" ng-disabled="!vm.table.searchQuery"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <div class="scrollable-table-container">
            <div ng-if="vm.showEmptyState" class="empty-state-container">
                <div class="empty-state-overlay"></div>
                <div class="empty-state-description">
                    <h3>Progressional overview of what’s going on</h3>

                    <p>Here you’ll find what needs to be done. Keep track of your tasks.</p>

                    <p>Start right now and add a <a class="hl-primary-btn" ui-sref="base.cases.create" role="button" onclick="ga('send', 'event', 'Case', 'Open', 'Case list empty state');"><i class="fa fa-plus"></i> Case</a></p>
                </div>
            </div>
            <table class="table table-bordered flip-content">
                <thead class="flip-content">
                    <th ng-show="vm.table.visibility.caseId" class="width-4">No.</th>
                    <th ng-show="vm.table.visibility.subject" class="width-20">Subject</th>
                    <th ng-show="vm.table.visibility.client" class="width-20">Client</th>
                    <th ng-show="vm.table.visibility.type" sort-column="type.name" table="vm.table">Type</th>
                    <th ng-show="vm.table.visibility.status" sort-column="status.name" table="vm.table">Status</th>
                    <th ng-show="vm.table.visibility.priority" sort-column="priority" table="vm.table">Priority</th>
                    <th ng-show="vm.table.visibility.created" sort-column="created" table="vm.table" class="width-10">Created</th>
                    <th ng-show="vm.table.visibility.expires" sort-column="expires" table="vm.table" class="width-10">Expires</th>
                    <th ng-show="vm.table.visibility.assignedTo" sort-column="assigned_to.full_name" table="vm.table">Assigned to</th>
                    <th ng-show="vm.table.visibility.createdBy" sort-column="created_by.full_name" table="vm.table">Created by</th>
                    <th ng-show="vm.table.visibility.tags">Tags</th>
                    <th style="width: 60px;">Edit</th>
                </thead>
                <tbody ng-class="vm.showEmptyState ? 'empty-state-space' : ''">
                    <tr ng-repeat="case in vm.table.items">
                        <td ng-show="vm.table.visibility.caseId">
                            {{ ::case.id }}
                        </td>
                        <td ng-show="vm.table.visibility.subject">
                            <strong ng-if="::case.is_archived">(a)</strong>
                            <a ui-sref="base.cases.detail({ id: case.id })" title="{{ ::case.subject }}">{{ ::case.subject }}</a>
                        </td>
                        <td ng-show="vm.table.visibility.client">
                            <a ui-sref="base.contacts.detail({ id: case.contact.id })" ng-if="::case.contact">{{ ::case.contact.full_name }}</a>
                            <span ng-if="case.contact && case.account"> at </span>
                            <a ui-sref="base.accounts.detail({ id: case.account.id })">{{ ::case.account.name }}</a>
                        </td>
                        <td ng-show="vm.table.visibility.type">
                            {{ ::case.type.name }}
                        </td>
                        <td ng-show="vm.table.visibility.status">
                            {{ ::case.status.name }}
                        </td>
                        <td ng-show="vm.table.visibility.priority" class="priority-cell">
                            <editable-select field="priority" view-model="vm" type="Case" object="case" choice-field="true" select-type="icon_select"
                                         select-options="{field: 'casePriorities', 'classPrefix': 'lilicon hl-prio-icon-', 'classValue': 'name'}">
                                <i class="lilicon hl-prio-icon-{{ case.priority_display | lowercase }}" tooltip-placement="left" uib-tooltip="{{ case.priority_display }}"></i>
                            </editable-select>
                        </td>
                        <td ng-show="vm.table.visibility.created">
                            <date date="case.created"></date>
                        </td>
                        <td ng-show="vm.table.visibility.expires" title="{{ case.expires | date:'dd MMMM y HH:mm' }}">
                            <postpone type="'Case'" object="case" date-field="'expires'"></postpone>
                        </td>
                        <td ng-show="vm.table.visibility.assignedTo">
                            <assign-to type="Case" object="case"></assign-to>
                        </td>
                        <td ng-show="vm.table.visibility.createdBy">
                            {{ ::case.created_by.full_name }}
                        </td>
                        <td ng-show="vm.table.visibility.tags">
                            <span ng-repeat="tag in case.tags">
                                <a href="javascript:void(0)" ng-click="vm.setSearchQuery(tag.name)">{{ ::tag.name }}</a>
                                <br>
                            </span>
                        </td>
                        <td>
                            <a ui-sref="base.cases.detail.edit({ id: case.id })" class="base-icon" title="Edit">
                                <i class="lilicon hl-edit-icon"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hl-pagination values="vm.table"></hl-pagination>
</div>
