*.db
*.sqlite
*.pyc
*.pyo

.ropeproject/
.env
.project
.pydevproject
.ropeproject/
.settings/
.DS_Store

.idea/

celeryev.pid

Procfile.dev

lily/media/
lily/files/
lily/site_settings.py
generated_media_dir/
.idea/
celeryev.pid
