*.db
*.sqlite
*.pyc
*.pyo

.env
.project
.pydevproject
.ropeproject/
.settings/
.DS_Store
.idea/
dist-packages/

celerybeat-schedule
celeryev.pid

lily/files/
lily/static/i18n/
node_modules/
Procfile.local
