*.db
*.sqlite
*.pyc
*.pyo

.env
.project
.pydevproject
.ropeproject/
.settings/
.DS_Store
.idea/
.tags
.tags1
dist-packages/

celerybeat-schedule
celeryev.pid

lily/files/
lily/static/
node_modules/
Procfile.local
