[project]
	description = The official HelloLily CRM project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bobvoorneveld
[access "refs/for/refs/*"]
	read = group user/bobvoorneveld
	push = group user/bobvoorneveld
	label-Code-Review = -2..+2 group user/bobvoorneveld
	label-Verified = -1..+1 group user/bobvoorneveld
	rebase = group user/bobvoorneveld
	removeReviewer = group user/bobvoorneveld
	submit = group user/bobvoorneveld
[access "refs/heads/*"]
	read = group user/bobvoorneveld
	create = group user/bobvoorneveld
	push = +force group user/bobvoorneveld
	pushMerge = group user/bobvoorneveld
[access "refs/tags/*"]
	push = +force group user/bobvoorneveld
	pushTag = group user/bobvoorneveld
	pushSignedTag = group user/bobvoorneveld
