[project]
	description = The official HelloLily CRM project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bobvoorneveld (bobvoorneveld)
[access "refs/for/refs/*"]
	read = group user/bobvoorneveld (bobvoorneveld)
	push = group user/bobvoorneveld (bobvoorneveld)
	label-Code-Review = -2..+2 group user/bobvoorneveld (bobvoorneveld)
	label-Verified = -1..+1 group user/bobvoorneveld (bobvoorneveld)
	rebase = group user/bobvoorneveld (bobvoorneveld)
	removeReviewer = group user/bobvoorneveld (bobvoorneveld)
	submit = group user/bobvoorneveld (bobvoorneveld)
[access "refs/heads/*"]
	read = group user/bobvoorneveld (bobvoorneveld)
	create = group user/bobvoorneveld (bobvoorneveld)
	push = +force group user/bobvoorneveld (bobvoorneveld)
	pushMerge = group user/bobvoorneveld (bobvoorneveld)
[access "refs/tags/*"]
	push = +force group user/bobvoorneveld (bobvoorneveld)
	pushTag = group user/bobvoorneveld (bobvoorneveld)
	pushSignedTag = group user/bobvoorneveld (bobvoorneveld)
[submit]
	action = fast forward only
	mergeContent = false
