amqp>=1.4.1
anyjson>=0.3.3
beautifulsoup4>=4.3.1
billiard>=3.3.0.13
boto==2.5.2
celery>=3.1.7
chardet==2.1.1
dj-database-url>=0.2.2
Django>1.4.5,<1.5
django-activelink==0.3
django-bootstrap3
django-bootstrap3-datetimepicker
django-debug-toolbar>=0.9.4
django-extensions>=0.9
django-extra-views>=0.2.5
django-fields>=0.2.0
django-formset-js
django-newrelic-extensions>=0.0.1
django-picklefield>=0.2.1
django-polymorphic>=0.4.2
django-redis-cache>=0.10.2
django-storages==1.1.5
django-templated-email>=0.4.7
easy-thumbnails>=1.1
gevent>=0.13.7
greenlet>=0.4.0
gunicorn>=0.14.6
hiredis>=0.1.2
IMAPClient>=0.10.2
iron_celery>=0.4.0
kombu>=3.0.9
lxml==3.2.3
MarkupSafe==0.18
newrelic>=1.2.1.265
ordereddict==1.1
Pillow==2.1.0
psycopg2>=2.4.5
pycrypto==2.6
python-dateutil==1.5
pytz==2012c
redis>=2.9.0
South>=0.7.6
unicodecsv==0.9.4

# To be replaced in the near future
https://bitbucket.org/flack/django-mediagenerator/get/dbc3c4f57ae9.zip
