{% load i18n email media %}

<div class="clearfix">
    <div class="float-left">
        <strong>{% trans 'From' %}</strong> {{ object.from_combined }}
    </div>

    <div class="float-right">
        {{ object.sent_date|pretty_datetime:"%d-%b-%Y %H:%M" }}
    </div>
</div>

<div>
    <strong>{% trans 'To' %}</strong>
    {{ object.to_combined }}
    {% if object.to_cc_combined %}
        <br />
        <strong>{% trans 'Cc' %}</strong>
        {{ object.to_cc_combined }}
    {% endif %}
</div>

{% if attachments|length > 0 %}
<div id="attachments">
    {% if attachments|length > 1 %}
        <strong>Attached files</strong>
        <ul>
            {% for attachment in attachments %}
            <li><a href="{% url 'email_proxy_view' pk=attachment.pk path=attachment.attachment.name %}">{{ attachment }}</a> ({{ attachment.size|filesizeformat }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>Attached file</strong>
        {% for attachment in attachments %}
            <a href="{% url 'email_proxy_view' pk=attachment.pk path=attachment.attachment.name %}">{{ attachment }}</a> ({{ attachment.size|filesizeformat }})
        {% endfor %}
    {% endif %}
</div>
{% endif %}

<div id="iframe-wrapper">
    <iframe id="email-iframe" src="{% url 'messaging_email_html' pk=object.pk %}"></iframe>
</div>
