{% extends 'mwsadmin/base_empty.html' %}

{% load media %}

{% block styles %}
    {% include_media 'theme.css' %}
    {% include_media 'hallojs.css' %}
    <!--[if lt IE 9]> {% include_media 'hallojs-ie7.css' %} <![endif]-->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // Use parent.$ to enable bubbling events outside the iframe
        var $ = parent.$;
        var jQuery = parent.jQuery;
    </script>

    {% include_media 'hallojs.js' %}

    <script type="text/javascript">
        // Need the iframe context for this to work!
        $(window).load(function() {
            // enable inline editing
            $('#email-content', window.document).hallo({
                editable: true,
                plugins: {
                    'halloformat': {
                        'formattings': {
                            'bold': true,
                            'italic': true,
                            'underline': true,
                            'strikeThrough': true,
                        },
                    },
                    'halloheadings': {},
                    'hallojustify': {},
                    'hallolists': {
                        lists: {
                            ordered: true,
                            unordered: true
                        },
                    },
                    'halloreundo': {},
                    // 'hallolink': {},
                },
                parentElement: $('body', window.document),
                // fixed: true,
                showAlways: true,
                // positionAbove: true,
                toolbar: 'halloToolbarFixed',
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div style="padding: 7px; background: white;">
        <div id="email-content" style="min-height: 8em; outline: none;">
            {{ draft|safe }}
        </div>
    </div>
{% endblock %}
