{% load i18n %}

{% if item %}
    <!-- The visible div on load -->
    <div>
        <div class="object-list-item-title">
            {{ item.sent_date|date:"l d-m-Y" }}
            <span class="object-list-item-subtitle">
                {{ item.sent_date|date:"G:i" }}
            </span>
        </div>
        <div class="object-list-item-content">
            <div class="object-list-item-text">
                {{ item.subject }} <br />
                {% if item.textify %}
                    {{ item.textify|truncatechars:175 }}
                {% else %}
                    {% trans 'This e-mail has not been downloaded yet.' %}
                {% endif %}
            </div>
            <div class="object-list-item-options float-right">
                <a href="{% url messaging_email_reply pk=item.pk %}">Reply</a>
                <a href="{% url messaging_email_forward pk=item.pk %}">Forward</a>
                <a href="{% url messaging_history_list_email_json pk=item.pk %}" class="emailmessage-view">View</a>
                <span class="emailmessage-loading" style="display:none;">Loading</span>
            </div>
            <div class="object-list-item-footer">{{ item.from_combined|truncatechars:"59" }}</div>
        </div>
    </div>
{% endif %}