{% load compressed statici18n i18n static %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>HelloLily | {% block head-title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
        {% compressed_css 'anonymous' %}
        <link rel="shortcut icon" href="{% static 'lily/images/core/favicon.ico' %}" />
    </head>

    <body class="page-header-fixed">

        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="{% url 'login' %}">
                        <p class="logo-default" style="font-size:1.4em;">
                            Hello<strong>Lily</strong>
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="page-container">
            <div class="row">
                <div class="{% block content-width %}col-xs-12 col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3{% endblock %}">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <h3 class="form-title">
                                {% block page-title %}{% endblock %}
                            </h3>
                        </div>

                        <div class="portlet-body">
                            {% block content %}{% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
        <!--[if lt IE 9]>
        {% compressed_js 'global-ie' %}
        <![endif]-->
        {% compressed_js 'anonymous' %}
        {% if messages %}
            <script>
                $( document ).ready(function() {
                    {% for message in messages %}
                        toastr['{{ message.level_tag }}']('{{ message.message }}');
                    {% endfor %}
                });
            </script>
        {% endif %}
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>
