<div class="timeline-item-container">
    <div class="activity-stream-image" ng-style="{'background-image': 'url(' + vm.item.profile_picture + ')'}"></div>

    <div class="activity-stream-item has-email">
        <div class="stream-item-head">
            <div class="stream-item-date" title="Sent on {{ ::vm.item.sent_date | date:'dd MMM yyyy - HH:mm' }}">
                {{ ::vm.item.sent_date | date:'dd MMM yyyy - HH:mm' }}
            </div>
            <div class="stream-item-actions">
                <ul class="stream-item-actions-list">
                    <li class="stream-item-actions-list-item">
                        <a ng-click="vm.replyOnEmail()">
                            <i class="fa fa-mail-reply"></i> Reply
                        </a>
                    </li>
                    <li class="stream-item-actions-list-item">
                        <a ui-sref="base.email.forward({id: vm.item.id})">
                            <i class="fa fa-mail-forward"></i> Forward
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="stream-item-activity">
            <span ng-if="vm.item.privacy !== 2">
                <span ng-if="vm.item.subject">
                    <a ng-if="vm.item.account" ui-sref="base.email.detail({ id: vm.item.id })" class="stream-item-activity-link">
                        {{ ::vm.item.subject | limitTo:50 }}
                        <span ng-if="::vm.item.subject.length >= 45">...</span>
                    </a>
                    <div ng-if="!vm.item.account">
                        {{ ::vm.item.subject | limitTo:50 }}
                        <span ng-if="::vm.item.subject.length >= 45">...</span>
                    </div>
                </span>
                <span ng-if="!vm.item.subject">
                    No subject
                </span>
            </span>

            <span ng-if="vm.item.privacy == 2">
                <span ng-if="!vm.item.subject">[Subject hidden]</span>
            </span>
        </div>

        <div class="stream-item-content is-email">
            <div class="stream-item-meta">
                <div class="stream-item-meta-object">
                    <div class="stream-item-meta-title">From:</div>
                    <span ng-show="vm.item.sender_name">
                        <a ui-sref="base.email.composeEmail({email: vm.item.sender_email})">
                            {{ ::vm.item.sender_name }}
                        </a>
                    </span>
                    <span ng-show="!vm.item.sender_name">
                        <a ui-sref="base.email.composeEmail({email: vm.item.sender_email})">
                            {{ ::vm.item.sender_email }}
                        </a>
                    </span>
                </div>

                <div class="stream-item-meta-object">
                    <div class="stream-item-meta-title">To:</div>
                    <span ng-if="vm.item.received_by_email.length == 1" ng-repeat="recipient in vm.item.received_by_email">
                        <a uib-tooltip="{{ recipient }}" ui-sref="base.email.composeEmail({email: recipient})">
                            {{ recipient }}
                        </a>
                    </span>
                    <span ng-if="vm.item.received_by_email.length > 1 ">
                        <a ui-sref="base.email.detail({ id: vm.item.id })">
                            {{ vm.item.received_by_email.length }} recipients
                        </a>
                    </span>
                </div>
            </div>

            <div class="stream-item-description has-scroll" ng-if="vm.item.account && vm.item.shown">
                <p class="detail-plain-text" ng-bind-html="vm.item.body"></p>
            </div>

            <div class="stream-item-description hidden-content" ng-if="!vm.item.account && vm.item.shown">
                {{ $root.messages.activityStream.emailMetadataMessage }}
            </div>
        </div>
    </div>
</div>
