<div class="timeline-item-container">
    <div class="timeline-avatar" ng-if="vm.item.assigned_to" ng-style="{'background-image': 'url(' + vm.item.assigned_to.profile_picture + ')'}"></div>
    <div class="timeline-avatar" ng-if="!vm.item.assigned_to" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png');"></div>

    <div class="timeline-content-container has-deal">
        <div class="timeline-content-header">
            <span class="timeline-content-title">
                <a ui-sref="base.deals.detail({ id: vm.item.id })">
                    {{ ::vm.item.name }} ({{ ::vm.item.archived ? 'archived' : vm.item.status.name}})
                </a>
            </span>
            <div class="timeline-date" title="Modified on {{ ::vm.item.modified | date:'dd MMM yyyy - HH:mm' }}">
                {{ ::vm.item.modified | date:'dd MMM yyyy - HH:mm' }}
            </div>
        </div>

        <div class="content-details activity-item-body">
            <editable-textarea extra-class="detail-plain-text" view-model="vm" field="description" object="vm.item"></editable-textarea>
        </div>

        <div class="content-details-additional">
            <div class="content-activity-divider"></div>

            <div class="content-activity-container">
                <ul class="content-activity-stream">
                    <li ng-repeat="note in vm.item.notes">
                        <div class="content-activity-note-header">
                            <div class="content-activity-avatar" ng-style="{'background-image': 'url(' + note.author.profile_picture + ')'}"></div>
                            <div class="content-activity-date">{{ ::note.modified | date:'dd MMM yyyy - HH:mm' }}</div>
                        </div>
                        <div class="content-activity-note-body">
                            <editable-textarea view-model="vm" field="content" object="note"></editable-textarea>
                        </div>
                    </li>
                    <li>
                        <div class="content-activity-note-header">
                            <div ng-if="vm.item.created_by" class="content-activity-avatar" ng-style="{'background-image': 'url(' + vm.item.created_by.profile_picture + ')'}"></div>
                            <div ng-if="!vm.item.created_by" class="content-activity-avatar" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png');"></div>
                            <div class="content-activity-desc">
                                {{ ::vm.item.created_by.full_name || 'An unknown entity' }} created the deal <a ui-sref="base.deals.detail({ id: vm.item.id })">{{ ::vm.item.name }}</a>
                            </div>

                            <div class="content-activity-date">{{ ::vm.item.created | date:'dd MMM yyyy - HH:mm' }}</div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="content-activity-container add-note-inline">
                <ul class="content-activity-stream">
                    <li>
                        <div class="content-activity-note-header">
                            <div class="content-activity-avatar is-note">
                                <i class="lilicon hl-note-icon"></i>
                            </div>
                        </div>
                        <div class="content-activity-note-body has-form">
                            <activity-add-note item="vm.item"></activity-add-note>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
