<div class="activity-stream-item-container">
    <div ng-if="vm.item.assigned_to">
        <user-avatar user="vm.item.assigned_to"></user-avatar>
    </div>
    <div class="activity-stream-image" ng-if="!vm.item.assigned_to" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png');"></div>

    <div class="activity-stream-item">
        <div class="stream-item-date" title="Modified on {{ ::vm.item.modified | date:'dd MMM yyyy - HH:mm' }}">
            {{ ::vm.item.modified | date:'dd MMM yyyy - HH:mm' }}
        </div>

        <div class="stream-item-activity">
            <editable-select field="priority" view-model="vm.item" type="Case" object="vm.item" choice-field="true" select-type="icon_select" extra-class="smaller-select"
                            select-options="{field: 'casePriorities', 'classPrefix': 'lilicon hl-prio-icon-', 'classValue': 'name'}">
                <i class="lilicon hl-prio-icon-{{ vm.item.priority_display | lowercase }}" tooltip-placement="left" uib-tooltip="{{ vm.item.priority_display }}"></i>
            </editable-select>

            <a ui-sref="base.cases.detail({ id: vm.item.id })" class="stream-item-activity-link">
                {{ ::vm.item.subject }}
            </a>

            <span class="pull-right">
                <span class="stream-note-toggle" ng-click="vm.item.showNotes = !vm.item.showNotes"><i class="lilicon hl-note-icon"></i></span>
            </span>
        </div>

        <div class="stream-item-content is-case">
            <div class="stream-item-meta">
                <div class="stream-item-meta-object">
                    <div class="stream-item-meta-title">Status:</div>
                    {{ vm.item.status.name }}
                </div>
            </div>

            <div class="stream-item-description">
                <editable-textarea extra-class="detail-plain-text" view-model="vm" field="description" object="vm.item"></editable-textarea>

                <div class="stream-subitem">
                    <div class="stream-subitem-timeline"></div>

                    <div class="stream-subitem-object m-b-20" ng-if="vm.item.showNotes">
                        <div class="stream-subitem-image">
                            <div class="stream-subitem-avatar is-note"><i class="lilicon hl-note-icon"></i></div>
                        </div>
                        <div class="stream-subitem-main small-note-field no-padding">
                            <activity-add-note item="vm.item"></activity-add-note>
                        </div>
                    </div>

                    <div class="stream-subitem-object" ng-repeat="note in vm.item.notes">
                        <div class="stream-subitem-image">
                            <div class="stream-subitem-avatar" ng-style="{'background-image': 'url(' + note.author.profile_picture + ')'}"></div>
                        </div>

                        <div class="stream-subitem-main">
                            <div class="stream-subitem-date">
                                {{ ::note.date | date:'dd MMM yyyy - HH:mm' }}

                                <delete-confirmation model="Note" object="note" callback="vm.removeFromList(note)" button-class="btn-link no-background no-padding pull-right">
                                    Delete
                                </delete-confirmation>
                            </div>
                            <div class="stream-subitem-title">
                                {{ ::note.author.full_name }} created a <i class="lilicon hl-note-icon m-l-5 yellow font-size-16"></i> note
                            </div>
                            <div class="stream-subitem-content">
                                <editable-textarea view-model="vm" field="content" object="note"></editable-textarea>
                            </div>
                        </div>
                    </div>

                    <div class="stream-subitem-object">
                        <div class="stream-subitem-image">
                            <div ng-if="vm.item.created_by" class="stream-subitem-avatar" ng-style="{'background-image': 'url(' + vm.item.created_by.profile_picture + ')'}"></div>
                            <div ng-if="!vm.item.created_by" class="stream-subitem-avatar" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png');"></div>
                        </div>

                        <div class="stream-subitem-main">
                            <div class="stream-subitem-date">{{ ::vm.item.created | date:'dd MMM yyyy - HH:mm' }}</div>
                            <div  class="stream-subitem-title">
                                {{ ::vm.item.created_by.full_name || 'An unknown entity' }} created the <i class="lilicon hl-case-icon purple m-l-5 font-size-16"></i> case <a ui-sref="base.cases.detail({ id: vm.item.id })">{{ ::vm.item.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
