<div class="row">
    <div class="col-md-12">
        <div class="spacer-40" ng-if="parentObject"></div>

        <div class="activity-stream">
            <div ng-if="!parentObject">
                <div class="activity-stream-filter">
                    <ul class="hl-button-list">
                        <li class="hl-button-list-item clickable" ng-repeat="(typeKey, typeVal) in activity.types" ng-if="typeVal.visible" ng-class="{'active': activity.activeFilter == typeKey}" ng-click="activity.filterType(typeKey)">
                            <span class="hl-button-list-option is-{{ typeKey }}">{{ typeVal.name }}</span>
                        </li>
                    </ul>
                </div>

                <div class="activity-stream-comment">
                    <div class="activity-stream-image is-type">
                        <i class="lilicon" ng-class="{'hl-note-icon': activity.addType === 1, 'hl-mail-icon': activity.addType === 2}"></i>
                    </div>

                    <div class="activity-stream-item">
                        <uib-tabset active="active" class="lily-tabs" ng-class="{'no-padding': activity.addType === 2}">
                            <uib-tab index="0" heading="Note" ng-click="activity.addType = 1">
                                <form role="form" name="noteForm" on-mod-enter-key="activity.addNote(note, noteForm)">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <textarea required class="form-control no-resize" id="id_content" msd-elastic ng-model="note.content" name="content" placeholder="Write your note here"></textarea>
                                            <field-error form="noteForm" field="content"></field-error>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="hl-primary-btn-blue pull-right" name="submit-form" ng-click="activity.addNote(note, noteForm)" uib-tooltip="{{ $root.messages.tooltips.modEnter.title }}">
                                            <i class="fa fa-check"></i>
                                            Add note
                                        </button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </uib-tab>

                            <uib-tab index="1" heading="Email" ng-click="activity.addType = 2">
                                <email-editor max-height="500" recipients="activity.recipients"></email-editor>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>

            <div class="activity-stream-filter" ng-if="parentObject">
                <h3 class="text-center">Latest {{ target }} activity</h3>
                <ul class="hl-button-list text-center">
                    <li class="hl-button-list-item clickable" ng-repeat="(typeKey, typeVal) in activity.types" ng-if="typeVal.visible && activity.list.totalItems" ng-class="{'active': activity.activeFilter == typeKey}" ng-click="activity.filterType(typeKey)">
                        <span class="hl-button-list-option is-{{ typeKey }}">{{ typeVal.name }}</span>
                    </li>
                </ul>
            </div>

            <div class="activity-stream-content" id="activityStreamBlockTarget">
                <div ng-if="!activity.list.totalItems">
                    <div class="timeline-item-container">
                        <div class="activity-stream-image">
                            <i class="fa fa-hourglass-start"></i>
                        </div>

                        <div class="activity-stream-item">
                            <div class="stream-item-head">
                                <div class="stream-item-date">
                                    Until now
                                </div>
                            </div>

                            <div class="stream-item-activity">
                                {{ target | ucfirst }} was created
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div ng-show="activity.list.pinned.length">
                    <div class="timeline-time">
                        Pinned
                    </div>
                </div>

                <div ng-repeat="item in activity.list.pinned" class="pinned-items">
                    <activity-stream-item item="item" activity="activity" object="object" delete-callback="activity.removeFromList(item)" update-callback="activity.updateModel"></activity-stream-item>
                </div>

                <div ng-repeat="(key, value) in activity.list.nonPinned" ng-show="value.isVisible">
                    <div class="timeline-time clickable" ng-click="value.collapsed = !value.collapsed">
                        <date date="key" date-format="MMMM yyyy"></date>

                        <span class="pull-right">
                            <i class="lilicon" ng-class="{'hl-toggle-up-icon': !value.collapsed, 'hl-toggle-down-icon': value.collapsed}"></i>
                        </span>
                    </div>

                    <div ng-repeat="item in value.items" class="activity-item" ng-show="(!activity.activeFilter || activity.activeFilter == item.activityType) && !value.collapsed">
                        <activity-stream-item item="item" activity="activity" object="object" delete-callback="activity.removeFromList(item)" update-callback="activity.updateModel"></activity-stream-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
