<div class="row">
    <div class="col-md-12" ng-if="!parentObject">
        <ul class="mix-filter text-center">
            <li ng-repeat="(typeKey, typeVal) in activity.types" ng-if="typeVal.visible" ng-class="{'active': activity.activeFilter == typeKey}" ng-click="activity.filterType(typeKey)">{{ typeVal.name }}</li>
        </ul>
    </div>

    <div class="col-md-12">
        <div class="vertical-line"></div>

        <div class="timeline-item-form-container" ng-if="!parentObject">
            <div class="timeline-avatar is-type">
                <i class="lilicon hl-note-icon"></i>
            </div>

            <div class="timeline-content-container">
                <div class="timeline-content-header">
                    <form role="form" name="noteForm" on-mod-enter-key="activity.addNote(note, noteForm)">
                        <div class="form-body">
                            <div class="form-group">
                                <textarea required class="form-control no-resize" id="id_content" msd-elastic ng-model="note.content" name="content" placeholder="Write your note here"></textarea>
                                <field-error form="noteForm" field="content"></field-error>
                            </div>
                        </div>
                        <div>
                            <ul class="timeline-content-type-buttons">
                                <li ng-model="note.type" uib-btn-radio="0">
                                    <i class="lilicon hl-note-icon"></i>
                                    Note
                                </li>
                               <li ng-model="note.type" uib-btn-radio="1">
                                   <i class="fa fa-phone"></i>
                                   Call
                               </li>
                               <li ng-model="note.type" uib-btn-radio="2">
                                   <i class="lilicon hl-calendar-icon"></i>
                                   Meetup
                               </li>
                            </ul>

                            <button type="submit" class="hl-primary-btn-blue pull-right" name="submit-form" ng-click="activity.addNote(note, noteForm)" uib-tooltip="{{ $root.messages.tooltips.modEnter.title }}">
                                <i class="fa fa-check"></i>
                                Add note
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="activityStreamBlockTarget">
            <div class="timeline-info-header" ng-if="activity.list.totalItems && parentObject">
                <h3 class="text-center">Latest {{ target }} activity</h3>

                <ul class="mix-filter text-center">
                    <li ng-repeat="(typeKey, typeVal) in activity.types" ng-if="typeVal.visible" ng-class="{'active': activity.activeFilter == typeKey}" ng-click="activity.filterType(typeKey)">{{ typeVal.name }}</li>
                </ul>
            </div>

            <div ng-show="activity.list.pinned.length">
                <div class="timeline-time">
                    Pinned
                </div>
            </div>

            <div ng-repeat="item in activity.list.pinned" class="activity-stream-item pinned-items">
                <activity-stream-item item="item" activity="activity" object="object" delete-callback="activity.removeFromList(item)" update-callback="activity.updateModel"></activity-stream-item>
            </div>

            <div ng-repeat="(key, value) in activity.list.nonPinned" class="activity-stream-item" ng-show="value.isVisible">
                <div class="timeline-time">
                    <date date="key" date-format="MMMM yyyy"></date>
                </div>

                <div ng-repeat="item in value.items" class="activity-item" ng-show="!activity.activeFilter || activity.activeFilter == item.activityType">
                    <activity-stream-item item="item" activity="activity" object="object" delete-callback="activity.removeFromList(item)" update-callback="activity.updateModel"></activity-stream-item>
                </div>
            </div>
        </div>
    </div>
</div>
