<div class="timeline-item-container">
    <user-avatar user="vm.item.author"></user-avatar>

    <div class="activity-stream-item">
        <div class="stream-item-head" title="Created on {{ ::vm.item.date | date:'dd MMM yyyy - HH:mm' }}">
            <div class="stream-item-date">
                {{ ::vm.item.date | date:'dd MMM yyyy - HH:mm' }}
            </div>
            <div class="stream-item-actions">
                <ul class="stream-item-actions-list">
                    <li ng-if="!vm.item.is_pinned" class="stream-item-actions-list-item">
                        <a ng-click="vm.activity.pinNote(vm.item, true)">
                            <i class="lilicon hl-pin-icon"></i> Pin note
                        </a>
                    </li>
                    <li ng-if="vm.item.is_pinned" class="stream-item-actions-list-item">
                        <a ng-click="vm.activity.pinNote(vm.item, false)">
                            <i class="fa fa-times"></i>Unpin note
                        </a>
                    </li>

                    <li class="stream-item-actions-list-item">
                        <delete-confirmation model="Note" object="vm.item" callback="vm.activity.removeFromList(vm.item)" button-class="btn-link no-background no-padding">
                            Delete
                        </delete-confirmation>
                    </li>
                </ul>
            </div>
        </div>

        <div class="stream-item-activity">
            {{ ::vm.item.author.full_name }} created a
            <span ng-if="vm.item.is_pinned">pinned <i class="m-l-5 red lilicon hl-note-icon"></i> note</span>
            <span ng-if="!vm.item.is_pinned"><i class="m-l-5 yellow lilicon hl-note-icon"></i> note</span>
        </div>

        <div ng-class="{'pinned': vm.item.is_pinned}" class="stream-item-content is-note">
            <div class="stream-item-description">
                <editable-textarea extra-class="detail-plain-text" view-model="vm" field="content" object="vm.item"></editable-textarea>
            </div>
        </div>
    </div>
</div>
