 <div class="filter-group">
    <label class="filter-group-option" ng-model="vm.dueDateFilter" uib-btn-radio="4">
        Expired
    </label>
    <label class="filter-group-option" ng-model="vm.dueDateFilter" uib-btn-radio="1">
        Today
    </label>
    <label class="filter-group-option" ng-model="vm.dueDateFilter" uib-btn-radio="2">
        Tomorrow
    </label>
    <label class="filter-group-option" ng-model="vm.dueDateFilter" uib-btn-radio="3">
        Next 6 days
    </label>
    <label class="filter-group-option" ng-model="vm.dueDateFilter" uib-btn-radio="0">
        All
    </label>
</div>
