<ul class="hl-button-group">
    <li>
        <a class="due-date-filter-toggle" ng-click="vm.openDueDateFilter($event)">
            <i class="lilicon hl-calendar-icon"></i>
            <i class="small-icon lilicon hl-toggle-down-icon"></i>
        </a>

        <div class="due-date-filter-container">
            <label class="filter-group-option m-l-5" ng-repeat="filter in vm.filterList" ng-model="filter.selected" uib-btn-checkbox>
                {{ filter.name }}
            </label>
        </div>
    </li>
</ul>
