<div class="history-item-body next" on-ctrl-enter-key="vm.addNote()">
    <div class="form-body">
        <div class="form-group">
            <ul class="timeline-content-type-buttons">
                <li ng-model="vm.note.type" uib-btn-radio="0">
                    <i class="lilicon hl-note-icon"></i> Note
                </li>
               <li ng-model="vm.note.type" uib-btn-radio="1">
                   <i class="fa fa-phone"></i> Call
               </li>
               <li ng-model="vm.note.type" uib-btn-radio="2">
                   <i class="lilicon hl-calender-icon"></i> Meetup
               </li>
           </ul>
            <textarea class="form-control" rows="3" ng-model="vm.note.content"></textarea>
        </div>
    </div>

    <div class="form-actions">
        <button class="btn grey-gallery" ng-click="vm.addNote()">Place</button>
    </div>
</div>
