<div class="timeline-badge">
    <i ng-if="vm.item.type == 0" class="fa fa-file-o"></i>
    <i ng-if="vm.item.type == 1" class="fa fa-phone"></i>
    <i ng-if="vm.item.type == 2" class="fa fa-calendar"></i>
</div>
<div class="timeline-panel">
    <div class='timeline-heading'>
        <h4 class='timeline-title'>
            Note
            <div class="btn-group pull-right">
                <a class="text-white" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a ng-click="vm.history.editNote(vm.item)"><i class="fa fa-edit"></i>Edit</a></li>
                    <li class='divider'></li>
                    <li><a ng-click="vm.history.deleteNote(vm.item)"><i class="fa fa-trash"></i>Delete</a></li>
                </ul>
            </div>
        </h4>
    </div>
    <div class="timeline-body">
        <p><em ng-bind-html="::vm.item.content | nl2br"></em></p>
        <ul class="list-inline list-justified">
            <li>
                <small class="text-muted" tooltip="Created on {{ ::vm.item.date | date:'dd MMMM yy' }} at {{ ::vm.item.date | date:'HH:mm' }}">
                    <i class="fa fa-calendar"></i>
                    {{ ::vm.item.date | date:'dd MMMM yy HH:mm' }}
                </small>
            </li>
            <li>
                <small class="text-muted" tooltip="Created by: {{ ::vm.item.author }}">
                    <i class="fa fa-user"></i>
                    {{ ::vm.item.author }}
                </small>
            </li>
        </ul>
    </div>
</div>
