<div class="row">
    <div class="col-md-12">
        <ul class="mix-filter text-center">
            <li ng-repeat="(typeKey, typeVal) in history.types" ng-if="typeVal.visible" ng-class="{'active': history.activeFilter == typeKey}" ng-click="history.filterType(typeKey)">{{ typeVal.name }}</li>
        </ul>
    </div>

    <div class="col-md-12">
        <div ng-if="history.list.totalItems" class="vertical-line"></div>

        <div class="timeline-item-form-container">

            <div class="timeline-avatar is-type">
                <i class="lilicon hl-note-icon"></i>
            </div>

            <div class="timeline-content-container">

                <div class="timeline-content-header">
                    <form role="form">
                        <div class="form-body">
                            <ul class="timeline-content-type-buttons">
                                <li ng-model="note.type" uib-btn-radio="0">
                                    <i class="lilicon hl-note-icon"></i>
                                    Note
                                </li>
                               <li ng-model="note.type" uib-btn-radio="1">
                                   <i class="fa fa-phone"></i>
                                   Call
                               </li>
                               <li ng-model="note.type" uib-btn-radio="2">
                                   <i class="lilicon hl-calender-icon"></i>
                                   Meetup
                               </li>
                           </ul>
                            <div class="form-group">
                                <textarea required class="form-control" id="id_content" ng-model="note.content" name="content" rows="4" placeholder="Write your note here"></textarea>
                            </div>
                        </div>
                        <div class="form-actions text-right">
                            <button type="submit" class="btn btn-sm blue" name="submit-form" ng-click="history.addNote(note)">
                                <i class="fa fa-check"></i>
                                Add note
                            </button>
                            <button type="button" class="btn btn-sm btn-default" ng-click="note = ''">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div ng-repeat="item in history.list.pinned" class="history-list-item">
            <div class="timeline-time">
                Pinned
            </div>

            <history-list-item item="item" history="history" object="object"></history-list-item>
        </div>

        <div ng-repeat="(key, value) in history.list.nonPinned" class="history-list-item" ng-show="value.isVisible">
            <div class="timeline-time">
                <date date="key" date-format="MMMM yyyy"></date>
            </div>

            <div ng-repeat="item in value.items" class="history-item" ng-show="!history.activeFilter || history.activeFilter == item.historyType">
                <history-list-item item="item" history="history" object="object"></history-list-item>
            </div>
        </div>
</div>
