<div class="case-history-item" ng-class="{'case': 'history-item-right'}[vm.item.historyType]">

    <div class="history-item-badge">
        <i class="fa fa-briefcase"></i>
    </div>

    <div class='history-item-heading'>
        <a class="link-no-decoration" ui-sref="base.cases.detail({ id: vm.item.id })">{{ ::vm.item.subject }}</a>

        <div class="btn-group pull-right">
            <a class="text-white" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-angle-down"></i>
            </a>

            <ul class="dropdown-menu pull-right">
                <li><a ui-sref="base.cases.detail({ id: vm.item.id })"><i class="fa fa-eye"></i>View</a></li>
                <li><a ui-sref="base.cases.detail.edit({ id: vm.item.id })"><i class="fa fa-edit"></i>Edit</a></li>
                <li class='divider'></li>
                <li>
                    <a ng-href="/cases/delete/{{ ::vm.item.id }}/" data-target="#confirm-delete" data-source="/cases/delete/{{ ::vm.item.id }}/">
                        <i class="fa fa-trash"></i>Delete
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class='history-item-body first'>

        <div>{{ ::vm.item.body }}</div>
        <div><strong>Status:</strong> {{ ::vm.item.status}} ({{ ::vm.item.archived ? 'active' : 'archived'}})</div>
        <div><strong>Priority:</strong> {{ ::vm.item.priority_name }}</div>
        <div><strong>Type:</strong> {{ ::vm.item.casetype_name }}</div>


        <ul class="list-inline list-justified">
            <li>
                <small class="text-muted" tooltip="Expires on {{ ::vm.item.date | date:'dd MMMM yy' }} at {{ ::vm.item.date | date:'HH:mm' }}">
                    <i class="fa fa-calendar"></i>
                    {{ ::vm.item.date | date:'dd MMMM yy HH:mm' }}
                </small>
            </li>
            <li ng-if="::vm.item.assigned_to_name">
                <small class="text-muted" tooltip="Assigned to: {{ ::vm.item.assigned_to_name }}">
                    <i class="fa fa-child"></i>
                    {{ ::vm.item.assigned_to_name || "Nobody" }}
                </small>
            </li>
            <li>
                <small class="text-muted" tooltip="Created by: {{ ::vm.item.created_by }}">
                    <i class="fa fa-user"></i>
                    {{ ::vm.item.created_by || "Nobody" }}
                </small>
            </li>
        </ul>
    </div>
    <history-add-note item="vm.item"></history-add-note>

    <div class='history-item-body next' ng-repeat="note in vm.item.notes">
        <p class='inline-header'><i class="fa fa-sticky-note"></i> Note</p>
        <p>{{ ::note.content }}</p>
        <ul class="list-inline list-justified">
            <li>
                <small class="text-muted" tooltip="Created on {{ ::note.date | date:'dd MMMM yy' }} at {{ ::note.date | date:'HH:mm' }}">
                    <i class="fa fa-calendar"></i>
                    {{ ::note.date | date:'dd MMMM yy HH:mm' }}
                </small>
            </li>
            <li>
                <small class="text-muted" tooltip="Created by: {{ ::note.author }}">
                    <i class="fa fa-user"></i>
                    {{ ::note.author }}
                </small>
            </li>
        </ul>
    </div>
</div>
