<!-- <div class="note-history-item history-item-right">
    <div class="history-item-badge">
        <span ng-if="vm.item.type == 0">
            <i ng-if="!vm.item.is_pinned" class="fa fa-sticky-note"></i>
            <i ng-if="vm.item.is_pinned" class="fa fa-thumb-tack"></i>
        </span>
        <i ng-if="vm.item.type == 1" class="fa fa-phone"></i>
        <i ng-if="vm.item.type == 2" class="fa fa-calendar"></i>
    </div>

    <div class='history-item-heading'>
        Note
        <div class="btn-group pull-right">
            <a class="text-white" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li><a ng-click="vm.history.editNote(vm.item)"><i class="fa fa-edit"></i>Edit</a></li>
                <li ng-if="!vm.item.is_pinned"><a ng-click="vm.history.pinNote(vm.item, true)"><i class="fa fa-thumb-tack"></i>Pin note</a></li>
                <li ng-if="vm.item.is_pinned"><a ng-click="vm.history.pinNote(vm.item, false)"><i class="fa fa-times"></i>Unpin note</a></li>
                <li class='divider'></li>
                <li><a ng-click="vm.history.deleteNote(vm.item)"><i class="fa fa-trash"></i>Delete</a></li>
            </ul>
        </div>
    </div>

    <div class="history-item-body">
        <p><em class="pre-wrap" ng-bind-html="::vm.item.content | parseUrls"></em></p>
        <ul class="list-inline list-justified">
            <li>
                <small class="text-muted" uib-tooltip="Created on {{ ::vm.item.date | date:'dd MMMM yy' }} at {{ ::vm.item.date | date:'HH:mm' }}">
                    <i class="fa fa-calendar"></i>
                    {{ ::vm.item.date | date:'dd MMMM yy HH:mm' }}
                </small>
            </li>
            <li ng-if="vm.item.showContact">
                <small class="text-muted" uib-tooltip="Note linked to {{ ::vm.item.subject_repr }}">
                    <i class="fa fa-user"></i>
                    <a ui-sref="base.contacts.detail({id: vm.item.object_id})" class="link-no-decoration">{{ ::vm.item.subject_repr }}</a>
                </small>
            </li>
            <li>
                <small class="text-muted" uib-tooltip="Created by: {{ ::vm.item.author }}">
                    <i class="fa fa-user"></i>
                    {{ ::vm.item.author }}
                </small>
            </li>
        </ul>
    </div>
</div>

 -->
<div class="timeline-item-container">
    <div class="timeline-avatar has-date" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png');"></div>

    <div class="timeline-content-container has-note">

        <div class="timeline-content-header">

            <div class="timeline-type">
                <i class="lilicon hl-note-icon"></i>
            </div>

            <div class="timeline-content">
                <span ng-if="vm.item.showContact" class="timeline-content-title"><a ui-sref="base.contacts.detail({id: vm.item.object_id})">{{ ::vm.item.subject_repr }}</a></span>
                <span ng-if="!vm.item.showContact" class="timeline-content-title">{{ ::vm.item.subject_repr }}</span>
                <ul class="timeline-content-details">
                    <li>Created by: {{ ::vm.item.author }}</li>
                </ul>
            </div>

            <div class="timeline-date">
                {{ ::vm.item.modified | date:'dd MMMM yy HH:mm' }}

                <a class="timeline-toggle-details" ng-click="vm.item.shown = !vm.item.shown"><i class="lilicon hl-toggle-left-icon" ng-class="vm.item.shown ? 'hl-toggle-down-icon' : 'hl-toggle-left-icon'"></i></a>
            </div>

        </div>
        <div class="content-details history-item-body" ng-show="vm.item.shown">
            <p ng-bind-html="::vm.item.content | parseUrls"></p>

            <ul class="content-details-actions">
                <li><a ng-click="vm.history.editNote(vm.item)"><i class="fa fa-edit"></i>Edit</a></li>
                <li ng-if="!vm.item.is_pinned"><a ng-click="vm.history.pinNote(vm.item, true)"><i class="fa fa-thumb-tack"></i>Pin note</a></li>
                <li ng-if="vm.item.is_pinned"><a ng-click="vm.history.pinNote(vm.item, false)"><i class="fa fa-times"></i>Unpin note</a></li>
                <li><a ng-click="vm.history.deleteNote(vm.item)"><i class="fa fa-trash"></i>Delete</a></li>
            </ul>
        </div>
    </div>
</div>
