<div class="row">
    <div class="col-md-12">
        <ul class="mix-filter text-center">
            <li ng-repeat="(typeKey, typeVal) in history.types" ng-show="typeVal.visible" ng-class="{'active': history.activeFilter == typeKey}" ng-click="history.activeFilter = typeKey">
                {{ typeVal.name }}
            </li>
        </ul>

        <!-- <div class="portlet light">
            <ul class="history-timeline">
                <li class="history-timeline-list-item">
                    <form role="form">
                        <div class="form-body text-center">
                            <div class="form-group">
                                <textarea required class="form-control" id="id_content" ng-model="note.content" name="content" rows="4" placeholder="Write your note here"></textarea>
                            </div>
                        </div>
                        <div class="form-actions text-right">
                            <button type="submit" class="btn btn-sm blue" name="submit-form" ng-click="history.addNote(note)">
                                <i class="fa fa-check"></i>
                                Add note
                            </button>
                            <button type="button" class="btn btn-sm btn-default" ng-click="note = ''">
                                Cancel
                            </button>
                        </div>
                    </form>
                </li>
                <li class="history-timeline-list-item" ng-class="{'timeline-inverted': item.historyType != 'email' || item.right}" ng-repeat="item in history.list" ng-show="!history.activeFilter || history.activeFilter == item.historyType">
                    <history-list-item item="item" history="history" object="object"></history-list-item>
                </li>
            </ul>
        </div>

        <p class="text-center">
            <button ng-click="history.loadMore()" class="btn btn-primary margin-top-20">{{ history.showMoreText }}</button>
        </p> -->
    </div>

    <div class="col-md-12">
        <div class="timeline-item-container">

            <div class="vertical-line"></div>

            <div class="timeline-avatar is-type">
                <i class="lilicon hl-note-icon"></i>
            </div>

            <div class="timeline-item">

                <form role="form">
                    <div class="form-body text-center">
                        <div class="form-group">
                            <textarea required class="form-control" id="id_content" ng-model="note.content" name="content" rows="4" placeholder="Write your note here"></textarea>
                        </div>
                    </div>
                    <div class="form-actions text-right">
                        <button type="submit" class="btn btn-sm blue" name="submit-form" ng-click="history.addNote(note)">
                            <i class="fa fa-check"></i>
                            Add note
                        </button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="note = ''">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="timeline-item-container">

            <div class="vertical-line"></div>

            <div class="timeline-avatar" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png');">

            </div>

            <div class="timeline-item">

                ASDFSDAF
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
