<!-- <div class="deal-history-item history-item-right">
    <div class="history-item-badge">
        <i class="lilicon hl-deals-filled-icon"></i>
    </div>

    <div class='history-item-heading'>
        <a class="link-no-decoration" ui-sref="base.deals.detail({ id: vm.item.id })">{{ ::vm.item.name }}</a>
        <div class="btn-group pull-right">
            <a class="text-white" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li><a ui-sref="base.deals.detail({ id: vm.item.id })"><i class="fa fa-eye"></i>View</a></li>
                <li><a ui-sref="base.deals.detail.edit({ id: vm.item.id })"><i class="fa fa-edit"></i>Edit</a></li>
                <li class='divider'></li>
                <li><a ng-href="/deals/delete/{{ ::vm.item.id }}/" data-target="#confirm-delete" data-source="/cases/delete/{{ ::vm.item.id }}/"><i class="fa fa-trash"></i>Delete</a></li>
            </ul>
        </div>
    </div>

    <div class="history-item-body first">
        <em class="pre-wrap" ng-bind-html="::vm.item.body | parseUrls"></em>
        <div class="timeline-footer">
            Last changed: {{ ::vm.item.modified | date:'dd MMMM yy HH:mm' }}<br/>
            {{ ::vm.item.new_business ? 'New business' : 'Existing business'}}<br/>
            {{ ::vm.item.feedback_form_sent ? 'Feedback form sent' : 'Feedback form not sent'}}<br/>
            Stage: {{ ::vm.item.stage_name}} ({{ ::vm.item.archived ? 'archived' : 'active'}})<br/>
            Amount once: &euro; {{ ::vm.item.amount_once }}<br/>
            Amount recurring: &euro; {{ ::vm.item.amount_recurring}}<br/><br/>
        </div>
        <ul class="list-inline list-justified">
            <li>
                <small class="text-muted" uib-tooltip="Created on {{ ::vm.item.created| date:'dd MMMM yy' }} at {{ ::vm.item.created| date:'HH:mm' }}">
                    <i class="fa fa-calendar"></i>
                    {{ ::vm.item.created | date:'dd MMM yy HH:mm' }}
                </small>
                <small ng-if="vm.item.next_step_date" class="text-muted margin-left-10" uib-tooltip="Next step on {{ ::vm.item.next_step_date | date:'dd MMMM yy' }} at {{ ::vm.item.next_step_date | date:'HH:mm' }}">
                    <i class="lilicon hl-postpone-icon"></i>
                    {{ ::vm.item.next_step_date | date:'dd MMMM yy HH:mm' }}
                </small>
            </li>
            <li>
                <small class="text-muted" uib-tooltip="Assigned to: {{ ::vm.item.assigned_to_name }}">
                    <i class="fa fa-child"></i>
                    {{ ::vm.item.assigned_to_name || "Nobody" }}
                </small>
            </li>
            <li>
                <small class="text-muted" uib-tooltip="Created by: {{ ::vm.item.created_by }}">
                    <i class="fa fa-user"></i>
                    {{ ::vm.item.created_by || "Nobody" }}
                </small>
            </li>
        </ul>
    </div>
    <history-add-note item="vm.item"></history-add-note>

    <div class='history-item-body next' ng-repeat="note in vm.item.notes">
        <p class='inline-header'><i class="fa fa-sticky-note"></i> Note</p>
        <p>{{ ::note.content }}</p>
        <ul class="list-inline list-justified">
            <li>
                <small class="text-muted" uib-tooltip="Created on {{ ::note.date | date:'dd MMMM yy' }} at {{ ::note.date | date:'HH:mm' }}">
                    <i class="fa fa-calendar"></i>
                    {{ ::note.date | date:'dd MMMM yy HH:mm' }}
                </small>
            </li>
            <li>
                <small class="text-muted" uib-tooltip="Created by: {{ ::note.author }}">
                    <i class="fa fa-user"></i>
                    {{ ::note.author }}
                </small>
            </li>
        </ul>
    </div>
</div>
 -->






<div class="timeline-item-container">
    <div class="timeline-avatar" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png');"></div>

    <div class="timeline-content-container has-deal">

        <div class="timeline-content-header">

            <div class="timeline-type">
                <i class="lilicon hl-deals-filled-icon"></i>
            </div>

            <div class="timeline-content">
                <span class="timeline-content-title"><a class="link-no-decoration" ui-sref="base.deals.detail({ id: vm.item.id })">{{ ::vm.item.name }}</a></span>
                <ul class="timeline-content-details">
                    <li>Stage: {{ ::vm.item.stage_name}} ({{ ::vm.item.archived ? 'archived' : 'active'}})</li>
                    <li>Amount once: &euro; {{ ::vm.item.amount_once }}</li>
                    <li>Amount recurring: &euro; {{ ::vm.item.amount_recurring}}</li>
                    <li>Status: {{ ::vm.item.feedback_form_sent ? 'Feedback form sent' : 'Feedback form not sent'}}</li>
                </ul>
            </div>

            <div class="timeline-date">
                {{ ::vm.item.created | date:'dd MMM yy HH:mm' }}
                <div class="btn-group">
                    <a class="timeline-toggle-details" ng-click="vm.history.toggleContent(vm.item);"><i class="lilicon hl-toggle-left-icon" ng-class="vm.item.shown ? 'hl-toggle-down-icon' : 'hl-toggle-left-icon'"></i></a>
                </div>
            </div>

        </div>

        <div ng-show="vm.item.shown">
            <div class="content-details history-item-body">
                <p ng-bind-html="::vm.item.body | parseUrls"></p>

                <ul class="content-details-actions">
                    <li><a ui-sref="base.deals.detail({ id: vm.item.id })">View</a></li>
                    <li><a ui-sref="base.deals.detail.edit({ id: vm.item.id })">Edit</a></li>
                    <li><a ng-href="/deals/delete/{{ ::vm.item.id }}/" data-target="#confirm-delete" data-source="/cases/delete/{{ ::vm.item.id }}/">Delete</a></li>
                </ul>
            </div>

            <div class="content-details-additional">
                <div class="content-history-divider"></div>

                <div class="content-history-container">
                    <ul class="content-history-list">
                        <li>
                            <div class="content-history-note-header">
                                <div class="content-history-avatar is-note">
                                    <i class="lilicon hl-note-icon"></i>
                                </div>
                            </div>
                            <div class="content-history-note-body has-form">
                                <history-add-note item="vm.item"></history-add-note>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="content-history-container">
                    <ul class="content-history-list">
                        <li ng-repeat="note in vm.item.notes">
                            <div class="content-history-note-header">
                                <div class="content-history-avatar" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png'); "></div>
                                <div class="content-history-desc">
                                    Added a note <span ng-if="note.type === 1">(Callback)</span> <span ng-if="note.type === 2">(Meetup)</span>
                                </div>
                                <div class="content-history-date">{{ ::note.date | date:'dd MMMM yy HH:mm' }}</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="content-history-note-body">
                                {{ note.content }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
