<div class="history-item-body next" on-mod-enter-key="vm.addNote()">
    <div class="form-body">
        <div class="form-group">
            <textarea class="form-control no-resize"
                msd-elastic
                ng-model="vm.note.content"
                placeholder="Write your note here">
            </textarea>
        </div>
    </div>

    <div class="form-actions">
        <ul class="timeline-content-type-buttons">
            <li ng-model="vm.note.type" uib-btn-radio="0">
                <i class="lilicon hl-note-icon"></i> Note
            </li>
            <li ng-model="vm.note.type" uib-btn-radio="1">
                <i class="fa fa-phone"></i> Call
            </li>
            <li ng-model="vm.note.type" uib-btn-radio="2">
                <i class="lilicon hl-calendar-icon"></i> Meetup
            </li>
        </ul>

        <button class="hl-primary-btn-blue pull-right" ng-click="vm.addNote()" uib-tooltip="{{ $root.messages.tooltips.modEnter.title }}">
            <i class="fa fa-check"></i>
            Add note
        </button>
    </div>
</div>
