<!-- <div class="case-history-item" ng-class="{'case': 'history-item-right'}[vm.item.historyType]">
    <div class="history-item-badge">
        <i class="lilicon hl-case-icon"></i>
    </div>

    <div class='history-item-heading'>
        <a class="link-no-decoration" ui-sref="base.cases.detail({ id: vm.item.id })">{{ ::vm.item.subject }}</a>

        <div class="btn-group pull-right">
            <a class="text-white" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-angle-down"></i>
            </a>

            <ul class="dropdown-menu pull-right">
                <li><a ui-sref="base.cases.detail({ id: vm.item.id })"><i class="fa fa-eye"></i>View</a></li>
                <li><a ui-sref="base.cases.detail.edit({ id: vm.item.id })"><i class="fa fa-edit"></i>Edit</a></li>
                <li class='divider'></li>
                <li>
                    <a ng-href="/cases/delete/{{ ::vm.item.id }}/" data-target="#confirm-delete" data-source="/cases/delete/{{ ::vm.item.id }}/">
                        <i class="fa fa-trash"></i>Delete
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class='history-item-body first'>
        <div class="pre-wrap" ng-bind-html="::vm.item.body | parseUrls"></div>
        <div><strong>Status:</strong> {{ ::vm.item.status}} ({{ ::vm.item.archived ? 'archived' : 'active' }})</div>
        <div><strong>Priority:</strong> {{ ::vm.item.priority_name }}</div>
        <div><strong>Type:</strong> {{ ::vm.item.casetype_name }}</div>

        <ul class="list-inline list-justified">
            <li>
                <small class="text-muted" uib-tooltip="Expires on {{ ::vm.item.created | date:'dd MMMM yy' }} at {{ ::vm.item.created | date:'HH:mm' }}">
                    <i class="fa fa-calendar"></i>
                    {{ ::vm.item.created | date:'dd MMMM yy HH:mm' }}
                </small>
                <small class="text-muted margin-left-10" uib-tooltip="Expires on {{ ::vm.item.expires | date:'dd MMMM yy' }} at {{ ::vm.item.expires | date:'HH:mm' }}">
                    <i class="lilicon hl-postpone-icon"></i>
                    {{ ::vm.item.expires | date:'dd MMMM yy HH:mm' }}
                </small>
            </li>
            <li ng-if="::vm.item.assigned_to_name">
                <small class="text-muted" uib-tooltip="Assigned to: {{ ::vm.item.assigned_to_name }}">
                    <i class="fa fa-child"></i>
                    {{ ::vm.item.assigned_to_name || "Nobody" }}
                </small>
            </li>
            <li>
                <small class="text-muted" uib-tooltip="Created by: {{ ::vm.item.created_by }}">
                    <i class="fa fa-user"></i>
                    {{ ::vm.item.created_by || "Nobody" }}
                </small>
            </li>
        </ul>
    </div>
    <history-add-note item="vm.item"></history-add-note>

    <div class='history-item-body next' ng-repeat="note in vm.item.notes">
        <p class='inline-header'><i class="fa fa-sticky-note"></i> Note</p>
        <p>{{ ::note.content }}</p>
        <ul class="list-inline list-justified">
            <li>
                <small class="text-muted" uib-tooltip="Created on {{ ::note.date | date:'dd MMMM yy' }} at {{ ::note.date | date:'HH:mm' }}">
                    <i class="fa fa-calendar"></i>
                    {{ ::note.date | date:'dd MMMM yy HH:mm' }}
                </small>
            </li>
            <li>
                <small class="text-muted" uib-tooltip="Created by: {{ ::note.author }}">
                    <i class="fa fa-user"></i>
                    {{ ::note.author }}
                </small>
            </li>
        </ul>
    </div>
</div> -->



<div class="timeline-item-container">
    <div class="timeline-avatar" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png');"></div>

    <div class="timeline-content-container">

        <div class="timeline-content-header">

            <div class="timeline-type">
                <i class="lilicon hl-case-icon"></i>
            </div>

            <div class="timeline-content">
                <span class="timeline-content-title"><a ui-sref="base.cases.detail({ id: vm.item.id })">{{ ::vm.item.subject }}</a></span>
                <ul class="timeline-content-details">
                    <li>Status: {{ ::vm.item.status}} ({{ ::vm.item.archived ? 'archived' : 'active' }})</li>
                    <li>Priority {{ ::vm.item.priority_name }}</li>
                    <li>Type: {{ ::vm.item.casetype_name }}</li>
                    <li>Expires: {{ ::vm.item.expires | date:'dd MMMM yy HH:mm' }}</li>
                    <li>Assigned to: {{ ::vm.item.assigned_to_name || "Nobody" }}</li>
                    <li>Created by: {{ ::vm.item.created_by || "Nobody" }}</li>
                </ul>
            </div>

            <div class="timeline-date">
                {{ ::vm.item.created | date:'dd MMMM yy HH:mm' }}
                <div class="btn-group">
                    <a class="timeline-toggle-details" data-toggle="dropdown" aria-expanded="false"><i class="lilicon hl-toggle-down-icon"></i></a>
                </div>
            </div>

        </div>

        <div class="content-details history-item-body">
            <p ng-bind-html="::vm.item.body | parseUrls"></p>

            <ul class="content-details-actions">
                <li><a ui-sref="base.cases.detail({ id: vm.item.id })">View</a></li>
                <li><a ui-sref="base.cases.detail.edit({ id: vm.item.id })">Edit</a></li>
                <li>
                    <a ng-href="/cases/delete/{{ ::vm.item.id }}/" data-target="#confirm-delete" data-source="/cases/delete/{{ ::vm.item.id }}/">
                        Delete
                    </a>
                </li>
            </ul>
        </div>

        <div class="content-history-container">
            <history-add-note item="vm.item"></history-add-note>
        </div>

        <div class="content-history-container">
            <ul class="content-history-list">
                <li ng-repeat="note in vm.item.notes">
                    <div class="content-history-avatar" style="background-image: url('vendor/metronic/assets/admin/layout4/img/avatar.png'); "></div>
                    <div class="content-history-desc">
                        <p>{{ ::note.content }}</p>
                    </div>
                    <div class="content-history-date">Posted on {{ ::note.date | date:'dd MMMM yy HH:mm' }} by {{ ::note.author }}</div>
                </li>
            </ul>

        </div>
    </div>
