<span style="position: relative;">
    <a class="no-text-decoration" ng-click="vm.openPostponeModal(vm.object)" tooltip-placement="{{ vm.ttPlacement || 'top' }}" uib-tooltip="Postpone the date">
        <i ng-if="vm.object.next_step_date || vm.object.next_step.name !== 'None'" class="lilicon hl-postpone-icon" ng-if="vm.showIcon"></i>
        <date class="m-l-5" ng-if="vm.object[vm.dateField]" date="vm.object[vm.dateField]"></date>
        <span ng-if="vm.type === 'Deal' && !vm.object.next_step_date && vm.object.next_step.name !== 'None'">Pick a date</span>
    </a>
</span>
