.deal-detail-info {
    div > label {
        width: 160px;
        font-weight: bold;
    }
}

.deal-detail-involved-table-avatar {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px 10px 5px 0;
}

.list-filters .step-type {
    margin-left: 10px;
}

.list-filters .checker {
    margin-left: 5px;
}

.deal-detail-info-table {
    width: 100%;

    td {
        height: 30px;

        label {
            margin-bottom: 0;
        }
    }

    td:first-child {
        width: 160px;
        font-weight: bold;
    }

    .checker {
        margin: 0;
    }
}

.pandadoc-form,
.quotes {
    iframe {
        width: 100%;
        height: 1000px;
    }
}

.document-status {
    &.draft {
        @include colored-bullet(10px, #e9a446)
    }

    &.sent {
        @include colored-bullet(10px, #217dfc)
    }

    &.viewed {
        @include colored-bullet(10px, #6b30a9)
    }

    &.completed {
        @include colored-bullet(10px, #59b671)
    }
}
