#deal-stage {
    margin-top: 15px;
    margin-bottom: 15px;
}

.deal-detail-info {
    div > label {
        width: 160px;
        font-weight: bold;
    }
}

.list-filters .step-type {
    margin-left: 10px;
}

.list-filters .checker {
    margin-left: 5px;
}

.inline-selectable-text {
    margin-left: 1px;
}

.deal-detail-info-table {

    td {
        height: 30px;

        label {
            margin-bottom: 0;
        }
    }

    td:first-child {
        width: 160px;
        font-weight: bold;
    }

    .checker {
        margin: 0;
    }
}
