{% extends 'base.html' %}

{% block html-tag %}<html lang="en">{% endblock html-tag %}

{% block html-title %}<title>Lily | {% block head-title %}{% endblock %}</title>{% endblock html-title %}

{% block html-body %}<body class="page-header-fixed">{% endblock html-body %}

{% block page-spinner %}{% endblock page-spinner %}

{% block page-header %}
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-header-logo-container">
                <a href="{% url 'login' %}" class="page-header-logo">
                    <i class="lilicon hl-lily-icon"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock page-header %}

{% block page-content %}
    <div class="row">
        <div class="{% block content-width %}col-xs-12 col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3{% endblock %}">
            <div class="portlet light">
                <div class="portlet-title">
                    <h3 class="form-title">
                        {% block page-title %}{% endblock page-title %}
                    </h3>
                </div>

                <div class="portlet-body">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}

{% block page-scripts %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60721851-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-60721851-2');
    </script>

    {% if messages %}
    <script>
        $( document ).ready(function() {
            {% for message in messages %}
                toastr['{{ message.level_tag }}']('{{ message.message }}');
            {% endfor %}
        });
    </script>
    {% endif %}
{% endblock page-scripts %}
