{% load i18n pipeline static %}<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="MobileOptimized" content="320">
    {% stylesheet 'base' %}
    {% javascript 'jquery' %}
    {% stylesheet 'notifications' %}
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'lily/images/core/favicon.ico' %}" />
    <title>{% block head-title %}HelloLily{% endblock %}</title>
</head>

<body class="{% block body-class %}login{% endblock %}">
    {% block body-content %}{% endblock %}
    {% block modals %}{% endblock %}
    {% block scripts %}
        <!--[if lt IE 9]>
            {% javascript 'ie9.js' %}
        <![endif]-->
        {% javascript 'core' %}
        {% javascript 'notifications' %}
        <script>
            var load_notifications = function() {
                if (toastr) {
                    toastr.options = {
                        closeButton: true,
                        positionClass: 'toast-bottom-right'
                    };
                }
                $.getScript('{% url 'notifications' %}');
            };

            {% if messages %}
                load_notifications();
            {% endif %}
        </script>
    {% endblock %}
    {% if not debug %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-401436-20']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</body>
</html>
