{% extends 'anonymous/base.html' %}

{% load i18n bootstrap3 %}

{% block content %}
    {% if form.non_field_errors %}
        <div class="error">
            {% for error in form.non_field_errors %}
                {{ error }}
                {% if not forloop.last %}
                    <br />
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <form class="login-form {% block form-class %}{% endblock %}{% if form.non_field_errors %}errors{%endif%}" id="{% block form-id %}{% endblock %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} role="form">
        {% csrf_token %}
        {% block help-text %}{% endblock %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% block form-fields %}
            {% for field in form.visible_fields %}
                {% block form-bootstrap-field %}
                    {% bootstrap_field field form_group_class="form-group" label_class="hidden" %}
                {% endblock %}
            {% endfor %}
        {% endblock %}

        {% block form-actions %}
            <button type="submit" class="btn btn-primary {% block form-actions-extra-class %}{% endblock %}">
                {% block form-actions-btn-text %}{% endblock %}
            </button>
        {% endblock %}
    </form>

    {% block extra-form-links %}{% endblock %}

{% endblock %}
