{% extends 'detail.html' %}

{% load i18n utils compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'cases' %}
{% endblock %}

{% block head-title %}{% trans 'Case' %} - {{ object }}{% endblock %}
{% block page-title %}{% trans 'Case' %} - {{ object }}{% endblock %}
{% block detail-title %}{{ object.subject }}{% endblock %}

{% block page-actions %}
<li><a href="{% url 'case_update' pk=object.pk %}">{% trans 'Edit' %}</a></li>
<li>
{% if not object.is_archived %}
    <a href="{% url 'case_archive' %}" data-form-submit data-form-selector="#case-archive-form">{% trans 'Archive' %}</a>
    <form action="{% url 'case_archive' %}" method="post" id="case-archive-form">
        {% csrf_token %}
        <input type="hidden" name="ids[]" value="{{ object.id }}" class="bulk-ids">
    </form>
{% else %}
     <a href="{% url 'case_update_unarchive' pk=object.pk %}" data-target="#unarchive-case" data-source="{% url 'case_update_unarchive' pk=object.pk %}">{% trans 'Unarchive' %}</a>
{% endif %}
</li>
<li><a href="{% url 'case_delete' pk=object.pk %}" data-target="#confirm-delete" data-source="{% url 'case_delete' pk=object.pk %}">{% trans 'Delete' %}</a></li>
{% endblock %}

{% block details-tabs %}
{{ block.super }}
<li><a href="#history" data-toggle="tab">{% trans 'History' %}</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <ul class="list-unstyled summary-list">
                <li>
                    {% if object.account %}
                    <span class="summary-label">{% trans 'Account' %}</span>
                    <span class="summary-data">
                        <a href="{% url 'account_details' pk=object.account.pk %}">
                            {{ object.account.name }}
                        </a>
                    </span>
                    {% elif object.contact %}
                    <span class="summary-label">{% trans 'Contact' %}</span>
                    <span class="summary-data">
                        <a href="{% url 'contact_details' pk=object.contact.pk %}">
                            {{ object.contact.full_name }}
                        </a>
                    </span>
                    {% endif %}
                </li>
                <li>
                    <span class="summary-label">{% trans 'Case name' %}</span>
                    <span class="summary-data">{{ object }}</span>
                </li>
                <li>
                    <span class="summary-label">{% trans 'Created' %}</span>
                    <span class="summary-data">{{ object.created|date:"d M y H:i" }}</span>
                </li>
                {% if object.expires %}
                    <li>
                        <span class="summary-label">{% trans 'Expires' %}</span>
                        <span class="summary-data">{{ object.expires|date:"d M y" }}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-6 col-xs-6">
            <ul class="list-unstyled summary-list">
                <li>
                    <span class="summary-label">{% trans 'Case Number' %}</span>
                    <span class="summary-data">
                        {{ object.pk}}
                    </span>
                </li>
                {% if object.type %}
                <li>
                    <span class="summary-label">{% trans 'Type' %}</span>
                    <span class="summary-data">
                        {{ object.type.type }}
                    </span>
                </li>
                {% endif %}
                <li>
                    <span class="summary-label">{% trans 'Priority' %}</span>
                    <span class="summary-data">
                        <span class="label label-sm {% if object.is_archived %}label-default{% else %}label-{{ object|priority }}{% endif %}">
                            {{ object.get_priority_display|lower }}
                        </span>
                    </span>
                </li>
                <li>
                    <span class="summary-label">{% trans 'Assigned to' %}</span>
                    <span class="summary-data">
                        <a href="{% url 'contact_details' pk=object.assigned_to.contact.pk %}">
                            {{ object.assigned_to.contact.full_name }}
                        </a>
                    </span>
                </li>
                <li>
                    <span class="summary-label">{% trans 'Status' %}</span>
                    <span id="status" class="summary-data">{{ object.get_status_display }}{% if object.is_archived %} - {% trans 'Archived' %}{% endif %}</span>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 summary-info text-center">
            <div id="case-status" class="btn-group" data-toggle="buttons" data-object-id="{{ object.pk }}">
                {% for value, status in object.STATUS_CHOICES %}
                    <label for="status-{{ value }}" class="btn default{% if object.is_archived %} disabled{% else %}{% if object.status == value %} active{% endif %}{% endif %}">
                        <input class="toggle" type="radio" id="status-{{ value }}" name="radio" value="{{ value }}" {% if not object.is_archived and object.status == value%}checked="checked"{% endif %}>
                        {{ status }}
                    </label>
                {% endfor %}
            </div>
            {% if object.is_archived %}
                <div class="btn-group">
                    <a class="btn blue actions" data-toggle="dropdown">
                        {% trans 'Actions' %}
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="{% url 'case_update_unarchive' pk=object.pk %}" data-target="#unarchive-case" data-source="{% url 'case_update_unarchive' pk=object.pk %}"><i class="icon-check"></i> {% trans 'Unarchive' %}</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    {% if object.description %}
        <div class="row no-margin">
            <div class="well well-md">
                <h4>{% trans 'Description' %}</h4>
                <p>{{ object.description }}</p>
            </div>
        </div>
    {% endif %}
    <div class="row no-margin" id="tab-history">
        {% include 'notes/note_form.html' %}
        {% include 'utils/historylist.html' %}
    </div>
{% endblock %}

{% block modals %}
{{ block.super }}
<div class="hidden">
    <div id="unarchive-case" class="modal fade" tabindex="-1" role="dialog" data-focus-on=":input:visible:not(.close):first"></div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compressed_js 'cases'  %}
{% endblock %}
