{% extends 'form.html' %}

{% load i18n pipeline %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'cases' %}
{% endblock %}

{% block head-title %}
{% if object.pk %}
    {% trans 'Edit case' %}
{% else %}
    {% trans 'Create case' %}
{% endif %}
{% endblock %}

{% block form-title %}
{% if object.pk %}
    {% trans 'Edit case' %}
{% else %}
    {% trans 'Create case' %}
{% endif %}
{% endblock %}

{% block form-buttons %}
    <button type="submit" class="btn btn-primary" name="submit">
        <i class="icon-ok"></i> {% trans 'Save' %}
    </button>
    <button id="archive-button" type="button" class="btn btn-primary" name="archive" data-loading-text="Saving...">
        <i class="icon-ok"></i> <span>{% trans 'Save and archive' %}</span>
    </button>
    <a href="{{ back_url }}" class="btn btn-default">
        {% trans 'Back' %}
    </a>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% javascript 'cases'  %}
    <script>
        HLCases.init({
            caseUpdateUrl: "{% url 'case_update_status_short' %}"
        });

        HLCases.addAssignToMeButton();
    </script>
{% endblock %}
