{% extends 'form.html' %}

{% load i18n compressed %}

{% block head-title %}
{% if object.pk %}
    {% trans 'Edit case' %}
{% else %}
    {% trans 'Create case' %}
{% endif %}
{% endblock %}

{% comment %}
{% block page-title %}
{% if object.pk %}
    {% trans 'Edit case' %}
{% else %}
    {% trans 'Create case' %}
{% endif %}
{% endblock %}
{% endcomment %}

{% block form-title %}
{% if object.pk %}
    {% trans 'Edit case' %}
{% else %}
    {% trans 'Create case' %}
{% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compressed_js 'cases'  %}
    <script>
        HLCases.init({
            caseUpdateUrl: "{% url 'case_update_status_short' %}"
        });
    </script>
{% endblock %}
