{% extends 'form.html' %}

{% load i18n %}

{% block head-title %}
{% if object.pk %}
    {% trans 'Edit case' %}
{% else %}
    {% trans 'Create case' %}
{% endif %}
{% endblock %}

{% block form-title %}
{% if object.pk %}
    {% trans 'Edit case' %}
{% else %}
    {% trans 'Create case' %}
{% endif %}
{% endblock %}

{% block form-buttons %}
    <button type="submit" class="btn btn-primary" name="submit" data-loading-text="Saving...">
        <i class="icon-ok"></i> {% trans 'Save' %}
    </button>
    <button id="archive-button" type="button" class="btn btn-primary" name="archive" data-loading-text="Saving...">
        <i class="icon-ok"></i> <span>{% trans 'Save and archive' %}</span>
    </button>
    <a href="{{ back_url }}" class="btn btn-default">
        {% trans 'Back' %}
    </a>
{% endblock %}

<script>
    HLCases.addAssignToMeButton();
</script>
