{% extends 'detail.html' %}

{% load i18n utils media %}

{% block css %}
    {{ block.super }}
    {% include_media 'cases.css' %}
{% endblock %}

{% block head-title %}{% trans 'Case' %} - {{ object }}{% endblock %}
{% block page-title %}{% trans 'Case' %} - {{ object }}{% endblock %}
{% block detail-title %}{{ object.subject }}{% endblock %}

{% block page-actions %}
<li><a href="{% url case_update pk=object.pk %}">{% trans 'Edit' %}</a></li>
<li>
{% if not object.is_archived %}
    <a href="{% url case_archive %}" data-form-submit data-form-selector="#case-archive-form">{% trans 'Archive' %}</a>
    <form action="{% url case_archive %}" method="post" id="case-archive-form">
        {% csrf_token %}
        <input type="hidden" name="ids[]" value="{{ object.id }}" class="bulk-ids">
    </form>
{% else %}
    <a href="{% url case_unarchive %}" data-form-submit data-form-selector="#case-unarchive-form">{% trans 'Activate' %}</a>
    <form action="{% url case_unarchive %}" method="post" id="case-unarchive-form">
        {% csrf_token %}
        <input type="hidden" name="ids[]" value="{{ object.id }}" class="bulk-ids">
        <input type="hidden" name="success_url" value="{% url case_details object.pk %}">
    </form>
{% endif %}
</li>
<li><a href="{% url case_delete pk=object.pk %}" data-target="#confirm-delete" data-source="{% url case_delete pk=object.pk %}">{% trans 'Delete' %}</a></li>
{% endblock %}

{% block details-tabs %}
{{ block.super }}
<li><a href="#history" data-toggle="tab">{% trans 'History' %}</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <ul class="list-unstyled summary-list">
                <li>
                    {% if object.account %}
                    <span class="summary-label">{% trans 'Account' %}</span>
                    <span class="pull-right">
                        <a href="{% url account_details pk=object.account.pk %}">
                            {{ object.account.name }}
                        </a>
                    </span>
                    {% elif object.contact %}
                    <span class="summary-label">{% trans 'Contact' %}</span>
                    <span class="pull-right">
                        <a href="{% url contact_details pk=object.contact.pk %}">
                            {{ object.contact.full_name }}
                        </a>
                    </span>
                    {% endif %}
                </li>
                <li>
                    <span class="summary-label">{% trans 'Case name' %}</span>
                    <span class="pull-right">{{ object }}</span>
                </li>
                <li>
                    <span class="summary-label">{% trans 'Created' %}</span>
                    <span class="pull-right">{{ object.created|date:"d M y H:i" }}</span>
                </li>
                {% if object.expires %}
                    <li>
                        <span class="summary-label">{% trans 'Expires' %}</span>
                        <span class="pull-right">{{ object.expires|date:"d M y" }}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-6 col-xs-6">
            <ul class="list-unstyled summary-list">
                <li>
                    <span class="summary-label">{% trans 'Priority' %}</span>
                    <span class="pull-right">
                        <span class="label label-sm label-{{ object|priority }}">
                            {{ object.get_priority_display|lower }}
                        </span>
                    </span>
                </li>
                <li>
                    <span class="summary-label">{% trans 'Assigned to' %}</span>
                    <span class="pull-right">
                        <a href="{% url contact_details pk=object.assigned_to.contact.pk %}">
                            {{ object.assigned_to.contact.full_name }}
                        </a>
                    </span>
                </li>
                <li>
                    <span class="summary-label">{% trans 'Status' %}</span>
                    <span id="status" class="pull-right">{{ object.get_status_display }}</span>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 summary-info text-center">
            <div id="case-status" class="btn-group" data-toggle="buttons" data-object-id="{{ object.pk }}">
                {% for value, status in object.STATUS_CHOICES %}
                    <label for="status-{{ value }}" class="btn default{% if object.status == value %} active{% endif %}">
                        <input class="toggle" type="radio" id="status-{{ value }}" name="radio" value="{{ value }}" {% if object.status == value %}checked="checked"{% endif %}>
                        {{ status }}
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>    
    {% if object.description %}
        <div class="row no-margin">
            <div class="well well-md">
                <h4>{% trans 'Description' %}</h4>
                <p>{{ object.description }}</p>
            </div>
        </div>
    {% endif %}
    <div class="row no-margin" id="tab-history">
        {% include 'notes/note_form.html' %}
        {% include 'utils/history_list.html' %}
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include_media 'cases.js' %}
{% endblock %}
