<div class="row m-t-10">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            Klantgeluk Cases last week
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">{{ vm.totalCasesLastWeek }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            Klantgeluk Cases per type last week
            <div class="display" ng-repeat="status in vm.perTypeCountCases">
                <div class="number">
                    <h3 class="font-green-sharp">{{ status.count }}</h3>
                    <small>{{ status.type }}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            Klantgeluk Cases vs Tags
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">{{ vm.countWithTagsCases }}</h3>
                    <small>Cases <strong>with</strong> tags</small>
                </div>
            </div>
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">{{ vm.countWithoutTagsCases }}</h3>
                    <small>Cases <strong>without</strong> tags</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            Klantgeluk Cases per status last week
            <div class="display" ng-repeat="status in vm.countPerStatus">
                <div class="number">
                    <h3 class="font-green-sharp">{{ status.count }}</h3>
                    <small>{{ status.status }}</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-t-10">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            Klantgeluk Cases top tags
            <div class="display" ng-repeat="tag in vm.topTagsCases">
                <div class="number">
                    <h3 class="font-green-sharp">{{ tag.count }}</h3>
                    <small>{{ tag.name }}</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            Follow up! (7-60 days)
            <table class="table table-bordered no-margin" ng-show="vm.dealsUrgentFollowUp.length">
                <thead>
                    <tr>
                        <th>Last name</th>
                        <th>Nr of deals</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.dealsUrgentFollowUp">
                        <td>{{ row.last_name }}</td>
                        <td>{{ row.nrofdeals }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            New won (last 30 days)
            <table class="table table-bordered no-margin" ng-show="vm.dealsWon.length">
                <thead>
                    <tr>
                        <th>Last name</th>
                        <th>Nr of deals won</th>
                        <th>Total amount deals won</th>
                        <th>Avg per deal won</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in vm.dealsWon">
                        <td>{{ row.last_name }}</td>
                        <td>{{ row.nrofdealswon }}</td>
                        <td>{{ row.totalamountdealswon }}</td>
                        <td>{{ row.avgperdealwon }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row m-t-10">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            New lost (last 30 days)
            <table class="table table-bordered no-margin" ng-show="vm.dealsLost.length">
                <thead>
                <tr>
                    <th>Last name</th>
                    <th>Nr of deals lost</th>
                    <th>Total amount deals lost</th>
                    <th>Avg per deal lost</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in vm.dealsLost">
                    <td>{{ row.last_name }}</td>
                    <td>{{ row.nrofnotwondeals }}</td>
                    <td>{{ row.totalamountnotwondeals }}</td>
                    <td>{{ row.avgpernotwondeal }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            Existing won (last 30 days)
            <table class="table table-bordered no-margin" ng-show="vm.dealsAmountRecurring.length">
                <thead>
                <tr>
                    <th>Last name</th>
                    <th>Nr of deals won</th>
                    <th>Total amount deals won</th>
                    <th>Avg per deal won</th>
                    <th>New business</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in vm.dealsAmountRecurring">
                    <td>{{ row.last_name }}</td>
                    <td>{{ row.nrofwondeals }}</td>
                    <td>{{ row.totalamountwondeals }}</td>
                    <td>{{ row.avgperwondeal }}</td>
                    <td>{{ row.new_business }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
