{% extends 'base_visitor_portal.html' %}

{% load i18n static %}

{% block page-title %}{% trans 'Reset password' %} - {% endblock %}

{% block styles %}
    {{ block.super }}
    
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/password_reset.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    <script type="text/javascript" src="{% url jsi18n packages='lily.users' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/password_reset.js' %}"></script>
{% endblock %}

{% block portal-title %}{% trans 'Reset password' %}{% endblock %}