{% extends 'anonymous/base.html' %}

{% load i18n bootstrap3 %}

{% block head-title %}{% trans 'Password reset complete' %}{% endblock %}
{% block page-title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
    <p>
        {% trans 'Your password has been reset. You can go ahead and log in now.' %}
    </p>

    <div>
        <a href="{% url 'login' %}">
            <button type="button" class="btn btn-primary">
                {% trans 'Back to Log in' %}
            </button>
        </a>
    </div>
{% endblock %}