{% extends 'anonymous/page_narrow.html' %}

{% load i18n %}

{% block head-title %}{% trans 'Password reset complete' %}{% endblock %}
{% block content %}
<h3 class="form-title">{% block form-title %}{% trans 'Password reset complete' %}{% endblock %}</h3>
{% block help-text %}
<p>{% trans 'Your password has been reset. You can go ahead and log in now.' %}</p>
{% endblock %}
<div>
<a href="{% url 'login' %}">
    <button type="button" class="btn btn-primary">
        {% trans 'Back to Log in' %}
    </button>
</a>
</div>
{% endblock %}