{% extends 'anonymous/form.html' %}

{% load i18n bootstrap3 %}

{% block head-title %}{% trans 'Reset password' %}{% endblock %}
{% block page-title %}{% trans 'Enter your new password' %}{% endblock %}

{% block help-text %}
    <p>
        {% trans 'Please enter your new password twice so I can verify you typed it in correctly.' %}
    </p>
{% endblock %}

{% block form-class %}form-horizontal{% endblock %}

{% block form-bootstrap-field %}
    {% bootstrap_field field field_class="col-md-8" label_class="col-md-4 control-label" %}
{% endblock %}

{% block form-actions-btn-text %}
    {% trans 'Change my password' %}
    <i class="m-icon-swapright m-icon-white"></i>
{% endblock %}

