{% extends 'users/password_reset/base.html' %}

{% load i18n %}

{% block portal-title %}{% trans 'Password reset unsuccessful' %}{% endblock %}
 
{% block portal-form %}
    {{ block.super }}

    <div class="mws-form-row mws-message-container">
        <div class="mws-form-row mws-reset-message">
            {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
        </div>
    </div>
{% endblock %}

{% block portal-form-buttons %}
    <a href="{% url password_reset %}" class="mws-link-button">
        <button type="button" class="mws-button blue mws-reset-button tabbable">
            {% trans 'Try again' %}
        </button>
    </a>
{% endblock %}
