{% extends 'anonymous/form.html' %}
{% load i18n bootstrap3 %}

{% block head-title %}{% trans title %}{% endblock %}
{% block page-title %}{% trans title %}{% endblock %}

{% block help-text %}
    <p>
    {% if validlink %}
        {% trans 'Please enter your new password twice so I can verify you typed it in correctly.' %}
    {% elif not validlink %}
        {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
    {% endif %}

    </p>
{% endblock %}

{% if validlink %}
    {% block form-class %}form-horizontal{% endblock %}
    {% block form-fields %}
        {% for field in form.visible_fields %}
                {% bootstrap_field field field_class="col-md-8" label_class="col-md-4 control-label" %}
        {% endfor %}

    {% endblock %}
{% endif %}

{% block form-actions %}
    {% if validlink %}
        <button type="submit" class="btn btn-primary">
            {% trans 'Change my password' %}
            <i class="m-icon-swapright m-icon-white"></i>
        </button>
    {% elif not validlink %}
        <div>
            <a href="{% url 'password_reset' %}">
                <button type="button" class="btn btn-primary">
                    {% trans 'Try again' %}
                </button>
            </a>
        </div>
    {% endif %}
{% endblock %}