{% extends 'anonymous/form.html' %}

{% load i18n bootstrap3 %}

{% block head-title %}{% trans 'Reset password' %}{% endblock %}
{% block page-title %}{% trans 'Forgotten your password?' %}{% endblock %}

{% block help-text %}
    <p>
        {% trans "Enter your e-mail address below, and I'll email instructions for setting a new one." %}
    </p>
{% endblock %}

{% block form-actions-extra-class %}margin-bottom-15{% endblock %}

{% block form-actions-btn-text %}
    {% trans 'Reset my password' %}
    <i class="m-icon-swapright m-icon-white"></i>
{% endblock %}

{% block extra-form-links %}
    <a href="{% url 'login' %}">
        {% trans 'Back to login' %}
    </a>
{% endblock %}