{% load i18n humanize utils %}

{% block listitem_open %}<li>{% endblock %}
	<div id="entry-{{ item.id }}" class="blogentry clearfix {% block css_classes %}{% endblock %}" data-entry-id="{{ item.id }}">
		<div>
			<strong>{{ item.author }}</strong>
		</div>
		<div class="blogentry-content">
			<div class="controls">{% if request.user == item.author %}<a href="{% url blogentry_delete pk=item.id %}" class="blogentry-delete">{% trans 'Delete' %}</a> - {% endif %}<a href="javascript:void(0)" class="blogentry-reply">{% trans 'Reply' %}</a></div>
			<div class="content">
				{% if item.reply_to %}<a href="javascript:" class="replied-to" data-replied-to="{{ item.reply_to.id }}">@{{ item.reply_to.author }}</a>: {% endif %}{{ item.content|linebreaksbr|uri_detect|tags_to_uri|safe }}
			</div>
		</div>
		<div class="date created">
			{{ item.created|naturaltime }}
		</div>
	</div>
	{% if item.get_replies|length %}
		{% block render_replies %}
			{% include 'mwsadmin/base_list.html' with list=item.get_replies list_item_template='updates/mwsadmin/list_item.html' %}
		{% endblock %}
	{% endif %}
{% block listitem_close %}</li>{% endblock %}
