<widget ng-if="vm.account" widget-name="'Account info'" widget-scrollable="true" class="js-cq-widget-container">
    <widget-header>
        <div class="widget-name">
            <i class="lilicon hl-company-icon"></i>
            <span ng-show="vm.settings.email.data.account.id">
                <a ui-sref="base.accounts.detail({ id: vm.settings.email.data.account.id })">{{ vm.account.name }}</a>
            </span>
            <span ng-show="!vm.settings.email.data.account">{{ vm.account.name }}</span>
        </div>
    </widget-header>

    <widget-filters>
        <a ng-href="{{ vm.tenant.primary_external_app_link.getUrl(vm.account.customer_id) }}" target="_blank" class="btn btn-circle btn-default" ng-if="vm.account.customer_id && vm.tenant.primary_external_app_link">
            <i class="fa fa-external-link fa-sm"></i>
            <span class="external-link-name">{{ vm.tenant.primary_external_app_link.name }}</span>
        </a>
        <a href="https://freedom.voys.nl/quotes/create/" target="_blank" class="btn btn-circle btn-default" ng-if="!vm.account.customer_id && vm.tenant.isVoysNL()">
            <i class="fa fa-external-link fa-sm"></i>
            <span class="external-link-name">Write quote</span>
        </a>
    </widget-filters>

    <widget-body>
        <table class="widget-table vertical-top-align">
            <tbody>
                <tr>
                    <td><i class="lilicon hl-status-icon"></i> <strong>Status</strong></td>
                    <td>
                        <editable-select field="status" view-model="vm" type="Account">{{ vm.account.status.name }}</editable-select>
                    </td>
                </tr>
                <tr ng-show="(vm.account.email_addresses | filter: {status: '!' + 0}).length">
                    <td><i class="lilicon hl-mail-icon"></i> <strong>Email</strong></td>
                    <td>
                        <editable-related model="vm.account" type="Account" field="email_addresses"></editable-related>
                    </td>
                </tr>

                <tr>
                    <td><i class="lilicon hl-phone-icon"></i> <strong>Phone</strong></td>
                    <td>
                        <editable-related model="vm.account" type="Account" field="phone_numbers"></editable-related>
                    </td>
                </tr>

                <tr>
                    <td><i class="fa fa-globe"></i> <strong>Website</strong></td>
                    <td>
                        <editable-related model="vm.account" type="Account" field="websites"></editable-related>
                    </td>
                </tr>

                <tr ng-show="vm.account.assigned_to">
                    <td><i class="lilicon hl-user-icon"></i> <strong>Assigned to</strong></td>
                    <td>
                        <editable-select field="assigned_to" view-model="vm" type="Account" class="inline-selectable-text" select-options="{type: 'User', field: 'assignOptions', display: 'full_name'}">
                            {{ vm.account.assigned_to.full_name }}
                        </editable-select>
                    </td>
                </tr>

                <tr>
                    <td><i class="fa fa-map-marker"></i> <strong>Address</strong></td>
                    <td>
                        <editable-related model="vm.account" type="Account" field="addresses"></editable-related>
                    </td>
                </tr>

                <tr>
                    <td><i class="fa fa-twitter"></i> <strong>Twitter</strong></td>
                    <td>
                        <!--<editable-link view-model="vm" type="Account" object="vm.account.twitter" field="username" is-social-media="true">-->
                            <a ng-if="vm.account.twitter" ng-href="{{ vm.account.twitter.profile_url }}" target="_blank">{{ vm.account.twitter.username }}</a>
                            <span ng-if="!vm.account.twitter">No Twitter profile</span>
                        <!--</editable-link>-->
                    </td>
                </tr>

                <tr>
                    <td><i class="fa fa-tag"></i> <strong>Tags</strong></td>
                    <td>
                        <editable-tags view-model="vm" type="Account"></editable-tags>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <strong class="margin-bottom-5">Description</strong>
                        <div>
                            <div class="pre-wrap" editable-textarea="vm.account.description" e-rows="4" e-cols="100" onbeforesave="vm.updateCallback($data, 'description')">{{ (vm.account.description | parseUrls) || 'No description' }}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </widget-body>
</widget>
