/*  GENERIC STUFF */
.no-round-right {
    -webkit-border-top-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.list-justified {
    width: 100%;
    display: table;
    table-layout: fixed;
}

    .list-justified li {
        display: table-cell;
        text-align: center;
    }

    .list-justified li:first-of-type {
        text-align: left;
    }

    .list-justified li:last-of-type {
        text-align: right;
        padding-right: 0;
    }
/*  END GENERIC STUFF */

/*  BREADCRUMB STUFF */
.breadcrumb .fa {
    margin: 0 5px 0 4px;
}
/*  END BREADCRUMB STUFF */

/*  TEXT STUFF */
.text-white,
.text-white:hover {
    color:#fff;
}
/*  END TEXT STUFF */

/*  TABLE STUFF */
.table-fixed-layout td {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.table-fixed-layout {
	table-layout: fixed;
}

.table-fixed-layout th.width-4 {
width: 4%;
}
.table-fixed-layout th.width-5 {
width: 5%;
}

.table-fixed-layout th.width-6 {
width: 6%;
}

.table-fixed-layout th.width-20 {
width: 20%;
}

td .label-sm {
display: block;
padding: 4px 6px !important;
}
/*  END TABLE STUFF */

/*  TIMELINE STUFF */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 100px;
        bottom: 35px;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li.note-wrapper {
            display: block;
            opacity: 1;
        }

        .timeline > li.note-wrapper > .note-form-wrapper {
            float:right;
            width:51.8%;
        }

        .timeline > li > .timeline-panel {
            width: 45%;
            float: left;
            border-radius: 2px;
            position: relative;
			background-color: #f5f6fa;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			-o-border-radius: 4px;
			border-radius: 4px;
        }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 16px;
                right: -8px;
                display: inline-block;
                border-top: 8px solid transparent;
                border-left: 8px solid #f5f6fa;
                border-right: 0 solid #f5f6fa;
                border-bottom: 8px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 8px;
                left: -8px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin: 5px 0 5px 0;
    color: inherit;
    text-transform: capitalize;
}

.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 10px;
            left: -14px;
            right: auto;
        }
}

.timeline-body {
  position: relative;
  padding:10px;
  background-color: #f5f6fa;
}
.timeline-body:before, .timeline-body:after {
  content: " ";
  display: table;
}
.timeline-body:after {
  clear: both;
}

.timeline-heading {
	background-color: #ccc ;
	padding:10px;
}


li.history-email .timeline-heading, li.history-email .timeline-badge {
	border-color: #578ebe;
	background-image: none;
	background-color: #578ebe !important;
	color: #FFFFFF;
}

li.history-email > .timeline-panel:after  {
	border-left: 8px solid #578ebe;
	border-right: 0 solid #578ebe;
}

li.history-deal .timeline-heading, li.history-deal .timeline-badge {
	border-color: #1BBC9B;
	background-image: none;
	background-color: #1BBC9B !important;
	color: #FFFFFF;
}

li.history-deal > .timeline-panel:after  {
	border-left: 8px solid #1BBC9B;
	border-right: 0 solid #1BBC9B;
}

li.history-meetup .timeline-heading, li.history-meetup .timeline-badge {
	border-color: #FFB848;
	background-image: none;
	background-color: #FFB848 !important;
	color: #FFFFFF;
}

li.history-meetup > .timeline-panel:after  {
	border-left: 8px solid #FFB848;
	border-right: 0 solid #FFB848;
}

li.history-call .timeline-heading, li.history-call .timeline-badge {
	border-color: #FFB848;
	background-image: none;
	background-color: #FFB848 !important;
	color: #FFFFFF;
}

li.history-call > .timeline-panel:after  {
	border-left: 8px solid #FFB848;
	border-right: 0 solid #FFB848;
}

li.history-note .timeline-heading, li.history-note .timeline-badge {
	border-color: #FFB848;
	background-image: none;
	background-color: #FFB848 !important;
	color: #FFFFFF;
}

li.history-note > .timeline-panel:after  {
	border-left: 8px solid #FFB848;
	border-right: 0 solid #FFB848;
}

li.history-case .timeline-heading, li.history-case .timeline-badge  {
	border-color: #9B59B6;
	background-image: none;
	background-color: #9B59B6 !important;
	color: #FFFFFF;
}

li.history-case .inline-header {
    background-color: #9B59B6;
}

li.history-case > .timeline-panel:after {
	border-left: 8px solid #9B59B6;
	border-right: 0 solid #9B59B6;
}

li.history-account .timeline-heading, li.history-account .timeline-badge,
li.history-contact .timeline-heading, li.history-contact .timeline-badge  {
	border-color: #e9edef;
	background-image: none;
	background-color: #e9edef !important;
	color: #80898e;
}

li.history-account > .timeline-panel:after,
li.history-contact > .timeline-panel:after   {
	border-left: 8px solid #e9edef;
	border-right: 0 solid #e9edef;
}

.timeline-body.first {
	border-bottom:10px solid #fff;
}

li.history-deal .timeline-body.next,
li.history-case .timeline-body.next{
	border-bottom:10px solid #fff;
	padding:0;
}

.inline-body {
	padding: 0 10px 10px 10px;
}

li .inline-header {
	background-color:#1BBC9B;
	color:#fff;
	font-weight: 800;
	padding: 5px 10px 5px 10px;
}

li.deal .inline-header {
	background-color:#1BBC9B;
}

li.case .inline-header {
	background-color:#9B59B6;
}

.inline-body .form-actions {
	margin-bottom:10px;
}

.timeline-panel th, .timeline-panel td {
	vertical-align: top;
}

/*  END TIMELINE STUFF */

/*  MIXFILTER STUFF */
.mix-filter li {
	background:#FFF;
}
/*  END MIXFILTER STUFF */

/*  DASHBOARD STUFF */
.actions select.xsm {
	height: 26px;
}
/*  END DASHBOARD STUFF */

.radio-btns label{
    border:1px solid #2d6ca2 ;
}

.inbox tr.unread td {
    font-weight: 800;
    color: #595959;
}

/* END EMAIL ICON STUFF */

ul.inbox-nav li.mailbox-header span {
    color: #fff;
    text-shadow: none;
    background: #a6aaae;
    display: block;
    font-size: 15px;
    border-left: none;
    text-align: left;
    padding: 8px 14px;
    margin-right: 0;
}

ul.inbox-nav li.mailbox-header span i {
    background: none !important;
}

/* FIX z-index of topnav */
.page-header.navbar.navbar-fixed-top {
    z-index: 3;
}
