{% extends 'base_visitor_portal.html' %}

{% load i18n media %}

{% block page-title %}{% trans 'Invitations' %} - {% endblock %}

{% block styles %}
    {% include_media 'lily.users.css' %}

    {{ block.super }}
{% endblock %}

{% block portal-title %}{% trans 'Verifying invitation unsuccessful' %}{% endblock %}

{% block portal-form %}
    <div class="mws-form-row mws-message-container" >
        <div class="mws-form-row mws-invitation-message">
            {% trans 'The invitation could not be accepted.' %}
        </div>
    </div>
{% endblock %}
