{% extends 'base_visitor.html' %}

{% load i18n %}

{% block page-title %}{% trans 'Accept invitation' %} - {% endblock %}

{% block styles %}
    {% include_media 'lily.users.css' %}
    
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    {{ form.media }}
    
    <script type="text/javascript" src="{% url jsi18n packages='lily.users' %}"></script>
{% endblock %}

{% block container %}
    <div class="mws-panel grid_8">
        {% include 'users/invitation/accept_form.html' %}
    </div>
{% endblock %}
