{% extends 'form.html'%}

{% load i18n bootstrap3 %}

{% block head-title %}{% trans 'Invite others' %}{% endblock %}

{% block page-title %}{% trans 'Invite others' %}{% endblock %}

{% block form-title %}{% trans 'Invite others' %}{% endblock %}


{% block form-formsets %}
    {% include 'users/invitation/invitation_formset.html' %}
{% endblock %}

{% block form-buttons %}
    <button type="submit" class="btn btn-primary" name="submit">
        <i class="icon-ok"></i> {% trans 'Send invitation(s)' %}
    </button>
    <a href="{{ back_url }}" class="btn btn-default">
        {% trans 'Back' %}
    </a>
{% endblock %}
