{% extends 'mwsadmin/base_form.html' %}

{% load i18n %}

{% block form-title %}{% trans 'Invite others' %}{% endblock %}

{% block form-content %}
    {{ formset.management_form }}

    {% if formset.non_form_errors %}
        <div class="mws-form-message error no_list_style_type">
            <span class="field_error">{{ formset.non_form_errors }}</span>
        </div>
    {% endif %}

    {% for form in formset.forms %}
        <div class="mws-form-formset">
            {% if form.non_field_errors %}
                <div class="mws-form-row">
                    <div class="mws-form-message error no_list_style_type">
                        <span class="field_error">{{ form.non_field_errors }}</span>
                    </div>
                </div>
            {% endif %}
            <div class="mws-form-row">
                <div class="mws-form-item large">
                    <div class="mws-form-cols clearfix">
                        <div class="mws-form-col-3-8 alpha">
                            <div class="mws-form-item">
                                {% if form.first_name.errors %}
                                    <span class="field_error">{{ form.first_name }}</span>
                                    <div class="mws-error no_list_style_type">
                                        {{ form.first_name.errors }}
                                    </div>
                                {% else %}
                                    {{ form.first_name }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="mws-form-col-3-8">
                            <div class="mws-form-item">
                                {% if form.email.errors %}
                                    <span class="field_error">{{ form.email }}</span>
                                    <div class="mws-error no_list_style_type">
                                        {{ form.email.errors }}
                                    </div>
                                {% else %}
                                    {{ form.email }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="mws-form-col-2-8 formset-delete">
                            <a href="javascript:" class="i-16 i-trash-1 blue invitation-delete-row"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="mws-button-row">
        <input type="submit" value="{% trans 'Send invitation(s)' %}" class="mws-button blue tabbable" />
    </div>
{% endblock %}

{% block hidden-formset-templates %}
    <div class="formset-custom-template">
        <div class="mws-form-row">
            <div class="mws-form-item large">
                <div class="mws-form-cols clearfix">
                    <div class="mws-form-col-3-8 alpha">
                        <div class="mws-form-item">
                            <input name="form-{{ formset.forms|length|add:"-1" }}-first_name" maxlength="255" placeholder="{% trans 'First name' %}" type="text" class="mws-register-name mws-textinput required tabbable" id="form-{{ formset.forms|length|add:"-1" }}-id_form-0-first_name">
                        </div>
                    </div>
                    <div class="mws-form-col-3-8">
                        <div class="mws-form-item">
                            <input name="form-{{ formset.forms|length|add:"-1" }}-email" maxlength="255" placeholder="{% trans 'E-mail' %}" type="text" class="mws-register-email mws-textinput required tabbable" id="form-{{ formset.forms|length|add:"-1" }}-id_form-0-email">
                        </div>
                    </div>
                   <div class="mws-form-col-2-8 formset-delete">
                        <a href="javascript:" class="i-16 i-trash-1 blue invitation-delete-row"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
