<div class="widget-heading no-border-bottom">
    <div class="widget-name display-inline-block">Users</div>

    <div class="pull-right">
        <a class="hl-primary-btn" ui-sref="base.preferences.company.users.inviteUser">
            <i class="fa fa-plus"></i> User
        </a>

        <button class="hl-primary-btn" ng-click="newTeamForm.$show()" ng-if="currentUser.isAdmin">
            <i class="fa fa-plus"></i> Team
        </button>
    </div>
</div>

<div class="widget-heading">
    <div class="widget-title">
        <ul class="hl-button-group">
            <li class="hl-button-group-btn">
                <a class="hl-button-group-btn-link" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-columns"></i>
                    Columns
                    <i class="m-l-5 small-icon lilicon hl-toggle-down-icon"></i>
                </a>

                <ul class="hl-dropdown js-hold-on-click">
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.full_name">Name</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.teams">Team(s)</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.email">Email</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.phone_number">Phone number</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.internal_number">Internal number</checkbox></li>
                    <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.is_active">Status</checkbox></li>
                    <li class="hl-dropdown-item" ng-if="$root.currentUser.isAdmin"><checkbox model="vm.table.visibility.two_factor">2FA Active</checkbox></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="widget-tools">
        <form>
            <div class="hl-search-field-container">
                <input type="text" class="hl-search-field" ng-model="vm.table.searchQuery" ng-model-options="{debounce: 300}" placeholder="Search">
                <button type="button" class="hl-search-btn" ng-click="vm.setSearchQuery('')" ng-disabled="!vm.table.searchQuery"></button>
            </div>
        </form>
    </div>

    <div class="widget-filters">
        <ul class="hl-button-group">
            <li>
                <a class="user-status-filter-toggle" ng-click="vm.table.statusFilterOpen = !vm.table.statusFilterOpen">
                    <i class="lilicon hl-entity-b-icon"></i><i class="fa fa-angle-down"></i>
                </a>
                <div class="user-status-filter-container" ng-class="{'is-open': vm.table.statusFilterOpen}">
                    <label class="filter-group-option" ng-model="vm.table.statusFilter" uib-btn-radio="">
                        All
                    </label>
                    <label class="filter-group-option" ng-model="vm.table.statusFilter" uib-btn-radio="1">
                        Active
                    </label>
                    <label class="filter-group-option" ng-model="vm.table.statusFilter" uib-btn-radio="0">
                        Inactive
                    </label>
                    <label class="filter-group-option" ng-model="vm.table.statusFilter" uib-btn-radio="2">
                        Invited
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>

<div class="widget-body">
    <table class="hl-table user-list">
        <thead class="flip-content">
            <tr>
                <th class="hl-table-column" ng-show="vm.table.visibility.full_name" sort-column="full_name" table="vm.table">
                    <span class="text-nowrap">Name</span>
                </th>
                <th class="hl-table-column" ng-show="vm.table.visibility.teams" sort-column="teams.name" table="vm.table">
                    <span class="text-nowrap">Team(s)</span>
                </th>
                <th class="hl-table-column" ng-show="vm.table.visibility.email" sort-column="email" table="vm.table">
                    <span class="text-nowrap">Email</span>
                </th>
                <th class="hl-table-column" ng-show="vm.table.visibility.phone_number" sort-column="phone_number" table="vm.table">
                    <span class="text-nowrap">Phone number</span>
                </th>
                <th class="hl-table-column" ng-show="vm.table.visibility.internal_number" sort-column="internal_number" table="vm.table">
                    <span class="text-nowrap">Internal number</span>
                </th>
                <th class="hl-table-column" ng-show="vm.table.visibility.is_active" sort-column="is_active" table="vm.table" width="100px">
                    <span class="text-nowrap">Status</span>
                </th>
                <th class="hl-table-column" ng-show="vm.table.visibility.two_factor" table="vm.table" ng-if="$root.currentUser.isAdmin" width="100px">
                    <span class="text-nowrap">2FA Active</span>
                </th>
                <th class="hl-table-column" width="105px">
                    <span class="text-nowrap">Options</span>
                </th>
            </tr>
        </thead>

        <tr ng-show="newTeamForm.$visible">
            <td colspan="7" class="list-inline-new-item">
                <span editable-text="vm.newTeam.name" e-form="newTeamForm" onbeforesave="vm.addTeam()" blur="ignore"></span>
            </td>
        </tr>
        <tbody>
            <tr ng-repeat="invite in vm.invites" ng-if="vm.table.statusFilter === 2 || vm.table.statusFilter === undefined">
                <td class="hl-table-column" ng-show="vm.table.visibility.full_name">
                    <span>{{ invite.first_name }}</span>
                </td>
                <td class="hl-table-column" ng-show="vm.table.visibility.email">
                    {{ invite.email }}
                </td>
                <td class="hl-table-column" colspan="3"></td>
                <td class="hl-table-column">
                    <span class="label label-sm label-info">Invited</span>
                </td>
                <td class="hl-table-column">
                    <button class="hl-primary-btn-smll" ng-click="vm.resendInvite(invite)" title="Resend invite">
                        <i class="fa fa-undo"></i>
                    </button>

                    <delete-confirmation model="UserInvite" object="invite" button-class="hl-primary-btn-smll" callback="vm.removeInvite()" help-text="Delete invite" message-object="vm.removeInviteMessages" display-field="email"></delete-confirmation>
                </td>
            </tr>
            <tr ng-repeat="user in vm.table.items">
                <td class="hl-table-column" ng-show="vm.table.visibility.full_name">
                    <span ng-if="user.id != currentUser.id">{{ user.full_name }}</span>
                    <span ng-if="user.id == currentUser.id">{{ user.full_name }} (you)</span>
                    <span ng-if="user.is_admin">(admin)</span>
                </td>
                <td class="hl-table-column" ng-show="vm.table.visibility.teams">
                    <div ng-repeat="team in user.teams">{{ team.name }}</div>
                </td>
                <td class="hl-table-column" ng-show="vm.table.visibility.email">
                    {{ user.email }}
                </td>
                <td class="hl-table-column" ng-show="vm.table.visibility.phone_number">
                    {{ user.phone_number }}
                </td>
                <td class="hl-table-column" ng-show="vm.table.visibility.internal_number">
                    <span ng-if="!currentUser.isAdmin">{{ user.internal_number }}</span>
                    <editable-text ng-if="currentUser.isAdmin" field="internal_number" object="user" update-callback="vm.updateModel">{{ user.internal_number || 'No number' }}</editable-text>
                </td>
                <td class="hl-table-column" ng-show="vm.table.visibility.is_active">
                    <span ng-show="user.is_active" class="label label-sm label-success">
                        Active
                    </span>
                    <span ng-hide="user.is_active" class="label label-sm label-default">
                        Inactive
                    </span>
                </td>
                <td class="hl-table-column" ng-show="vm.table.visibility.two_factor" ng-if="$root.currentUser.isAdmin">
                    <span ng-if="user.has_two_factor" uib-tooltip="Active"><i class="fa fa-lock"></i></span>
                </td>
                <td class="hl-table-column">
                    <button class="hl-primary-btn-smll" ng-click="vm.openTeamModal(user)" title="Manage teams">
                        <i class="lilicon hl-entities-icon"></i>
                    </button>

                    <delete-confirmation ng-show="user.is_active && user.id != currentUser.id" model="User" object="user" message-object="vm.alertMessages" callback="vm.toggleStatus(user)" button-class="hl-primary-btn-smll" icon-class="lilicon hl-entity-status-inactive-icon" help-text="Deactivate user">
                    </delete-confirmation>

                    <button ng-hide="user.is_active" class="hl-primary-btn-smll" ng-click="vm.toggleStatus(user)" title="Activate">
                        <i class="lilicon hl-entity-status-active-icon"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="hl-table-column" colspan="8">
                    <hl-pagination values="vm.table"></hl-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
