{% extends 'base.html' %}
{% load i18n static %} 

{% block title %}{% trans 'Add contact' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jui/jquery.ui.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/screwdefaultbuttons/css/styles.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'contacts/css/contacts.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% url jsi18n packages='lily.contacts' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/screwdefaultbuttons/js/jquery.screwdefaultbuttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'utils/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'contacts/js/contacts.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/jqueryautogrow/jquery.autogrowtextarea.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
       $('.autogrow').autoGrow({
           cols: 80,
           rows: 1
       }) 
    });
</script>
{% endblock %}

{% block content %}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-fountain-pen">{% trans 'Edit note' %}</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form" action="{% url note_edit pk=note.pk %}" method="post">
                {% include 'notes/note_form.html' %}
                <div class="mws-button-row">
                    <input type="submit" value="Submit" class="mws-button red">
                    <input type="reset" value="Reset" class="mws-button gray">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
