{% load bootstrap3 i18n %}

<div class="row">
    <div class="form-group">
        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                {% bootstrap_field form.content layout="horizontal" form_group_class="form-group-inline" field_class="col-md-10 col-xs-10 clearfix" show_label=False %}
                <button type="submit" class="btn btn-primary">{% trans 'Add note' %}</button>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>
