{% load i18n activelink utils %}

{% csrf_token %}

{% ifisajax %}
	<div class="mws-form-block">
{% else %}
	{% ifactive 'note_edit' pk=note.pk %}
		<div class="mws-form-inline">
	{% else %}
		<div class="mws-form-block">
	{% endifactive %}
{% endifisajax %}
	{% ifisajax %}
		<div>
	{% else %}
	    {% ifactive "note_edit" pk=note.pk %}
	    	<div class="mws-form-row">
	    {% else %}
	    	<div>
	    {% endifactive %}
	{% endifisajax %}
    	{% ifnotisajax %}
			{% ifactive 'note_edit' pk=note.pk %}
            	<label for="id_note_{{ note.pk }}">{% trans 'Note' %}</label>
			{% endifactive %}
		{% endifnotisajax %}
		
        {% if note.errors %}
            <div class="mws-form-item large">
                <span class="field_error">
                    <textarea id="id_note_{{ note.pk }}" class="autogrow" name="note">{{ note.note }}</textarea>
                </span>
                <div class="mws-error no_list_style_type">
                    {{ note.errors }}
                </div>
            </div>
        {% else %}
            <div class="mws-form-item large">
                <textarea id="id_note_{{ note.pk }}" class="autogrow" name="note">{{ note.note }}</textarea>
            </div>
        {% endif %}
    </div>
</div>