{% load i18n %}

<li class="timeline-yellow history-list-item" data-sort-date="{{ object.sort_by_date|date:'U' }}">
    <div class="timeline-time">
        <a href="{% url 'note_update_date' pk=object.pk %}" class="nav-link" data-target="#object-update" data-source="{% url 'note_update_date' pk=object.pk %}">
            <span class="date">{{ object.sort_by_date|date:"d M y" }}</span>
            <span class="time">{{ object.sort_by_date|date:"G:i" }}</span>
        </a>
    </div>
    <div class="timeline-icon">
        <i class="icon-comment"></i>
    </div>
    <div class="timeline-body">
        <h2>{% trans 'Note' %}</h2>
        <div class="timeline-content">
            {{ object.content|linebreaksbr }}
        </div>
        <div class="timeline-footer">
            <a href="{% url 'note_update' pk=object.pk %}" class="nav-link pull-right" title="{% trans 'Edit' %}" data-target="#object-update" data-source="{% url 'note_update' pk=object.pk %}">
                {% trans 'Edit' %}
                <i class="icon-edit"></i>
            </a>
            <a href="{% url 'note_delete' pk=object.pk %}" class="nav-link pull-right" title="{% trans 'Delete' %}" data-target="#confirm-delete" data-source="{% url 'note_delete' pk=object.pk %}">
                {% trans 'Delete' %}
                <i class="icon-trash"></i>
            </a>
            <a href="#" class="nav-link">
                <i class="icon-user"></i>
                {{ object.author }}
            </a>
            {% if object.content_type.model == 'account' or object.content_type.model == 'contact' %}
            <a href="{% url 'case_create' note_pk=object.pk %}" class="nav-link pull-right" title="{% trans 'Create Case' %}" data-target="#object-update" data-source="{% url 'case_create' note_pk=object.pk %}">
                {% trans 'Create Case' %}
                <i class="icon-archive"></i>
            </a>
            {% endif %}
        </div>
    </div>
</li>
