{% extends 'mwsadmin/base_visitor_portal.html' %}

{% load i18n media %}

{% block page-title %}{% trans 'Account activation failed' %} - {% endblock %}

{% block styles %}
    {% include_media 'lily.users.css' %}

    {{ block.super }}
{% endblock %}

{% block portal-title %}{% trans 'Account activation failed' %}{% endblock %}

{% block portal-form %}
    <div class="mws-form-row mws-message-container" >
        <div class="mws-form-row mws-activate-message">
            {% trans 'Activation failed. This happened because either the link is invalid, the activation period expired or the associated account has already been activated. You can apply for a new activation link or try to log in.' %}
        </div>
    </div>

    <div class="mws-button-row">
        <a href="{% url 'activation_resend' %}">
            <button type="button" class="mws-button blue">
                {% trans 'Try again' %}
            </button></a>
        <a href="{% url 'login' %}">
            <button type="button" class="mws-button blue">
                {% trans 'Back to Log in' %}
            </button></a>
    </div>
{% endblock %}
