{% extends 'mwsadmin/base_visitor_portal.html' %}

{% load i18n media crispy_forms_tags %}

{% block page-title %}{% trans 'Log in' %} - {% endblock %}

{% block styles %}
    {% include_media 'lily.users.css' %}

    {{ block.super }}
{% endblock %}

{% block portal-header %}
    <div class="mws-panel-header">
        <span>{% block portal-title %}HelloLily {% trans 'Log in' %}{% endblock %}</span>
    </div>
    <img src="{% media_url 'mwsadmin/extra/images/logo-hellolily-login.png' %}" id="login-logo" class="hide_on_small_screen" />
{% endblock %}

{% block portal-bottom-links %}
    <a href="{% url 'password_reset' %}" class="float-right tabbable" id="sub-panel-link">{% trans 'Forgot your password?' %}</a>
    <div class="clearfix"></div>
    <a href="{% url 'activation_resend' %}" class="float-right tabbable" id="sub-panel-link">{% trans 'Resend activation e-mail' %}</a>
{% endblock %}
