@import "./base/stylesheets/variables";
@import "./accounts/accounts";
@import "./base/base";
@import "./base/stylesheets/icons";
@import "./base/stylesheets/historylist";
@import "./base/stylesheets/lists";
@import "./cases/cases";
@import "./deals/deals";
@import "./email/inbox";
@import "./users/users";
@import "./utils/animate";

small {
    text-transform: lowercase;
}

table {
    .table.table-bordered.table-striped.flip-content {
        td, th {
            min-height: 38px;
        }
    }
    th {
        vertical-align: top !important;
    }
}

a {
    &.link-no-decoration {
      text-decoration: none;
      color: inherit;
    }
}

.btn-group {
    &.btn-group-devided {
        .btn {
            min-width: 4em;
        }
    }
}
