{% extends 'list.html' %}

{% load i18n media thumbnail utils %}

{% block head-title %}{% trans 'Accounts' %}{% endblock %}
{#{% block page-title %}{% trans 'Accounts' %}{% endblock %}#}
{% block list-title %}{% trans 'Accounts' %}{% if tag %} ({% blocktrans with tag_name=tag.name %}Filtered by tag '{{ tag_name }}'{% endblocktrans %} <a href="{% url 'account_list' %}{% if order_by and sort_order %}?order_by={{ order_by }}&sort_order={{ sort_order }}{% endif %}"><i class="icon-remove"></i></a>){% endif %}{% endblock %}

{% block list-tools %}
<form method="post" id="form_export_csv">
{% csrf_token %}
<input type="hidden" name="export" value="csv" />
<div class="btn-group">
    <a class="btn default" href="#" data-toggle="dropdown">
        {% trans 'Tools' %}
        <i class="icon-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        <li><a href="" id="link_export_csv"><i class="icon-download"></i> {% trans 'Export to csv' %}</a></li>
    </ul>
</div>
<div class="btn-group">
    <a class="btn default" href="#" data-toggle="dropdown">
        Columns
        <i class="icon-angle-down"></i>
    </a>
    <div id="list_column_toggler" class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
        <label><input type="checkbox" checked data-column="2" name="exportable_fields[]" value="account">{% trans 'Account' %}</label>
        <label><input type="checkbox" checked data-column="3" name="exportable_fields[]" value="contact_information">{% trans 'Contact information' %}</label>
        <label><input type="checkbox" checked data-column="4" name="exportable_fields[]" value="created">{% trans 'Created' %}</label>
        <label><input type="checkbox" checked data-column="5" name="exportable_fields[]" value="modified">{% trans 'Modified' %}</label>
        <label><input type="checkbox" checked data-column="6" name="exportable_fields[]" value="tags">{% trans 'Tags' %}</label>
    </div>
</div>
</form>
{% endblock %}

{% block list-headings %}
    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
    <th class="name">{% trans 'Account' %}</th>
    <th class="contact_information">{% trans 'Contact information' %}</th>
    <th class="datetime created hide_on_small_screen">{% trans 'Created' %}</th>
    <th class="datetime modified hide_on_small_screen">{% trans 'Modified' %}</th>
    <th class="tags">{% trans 'Tags' %}</th>
{% endblock %}

{% block list %}
{% for item in object_list %}
<tr>
    <td class="">
        <a href="{% url 'account_edit' pk=item.pk %}" class="btn btn-xs default" title="{% trans 'Edit' %}"><i class="icon-edit"></i></a>
        {% if not item|has_user_in_group:'account_admin' %}
            <button type="button" class="btn btn-xs default" title="{% trans 'Delete' %}" data-target="#confirm-delete" data-source="{% url 'account_delete' pk=item.pk %}" ><i class="icon-trash"></i></button>
        {% endif %}
    </td>
    <td class="name">
        <div>
            <a href="{% url 'account_details' pk=item.pk %}">
                {{ item.name }}
            </a>
        </div>
        {% with item.get_address as address %}
            {% if address.street %}
                <div class="address">{{ address.city }}</div>
            {% endif %}
            {% if address.country %}
                <div class="country">{{ address.get_country_display }}</div>
            {% endif %}
        {% endwith %}
    </td>
    <td class="details">
        {% if item.primary_email %}
            <div>
                <a href="mailto:{{ item.primary_email }}" title="{{ item.primary_email }}">
                    <i class="icon-envelope-alt"></i>
                    {{ item.primary_email|truncatechars:"35" }}
                </a>
            </div>
        {% endif %}

        {% with item.get_work_phone as phone %}
            {% if phone.raw_input %}
                <div>
                    <a href="tel:{{ phone.number }}">
                        <i class="icon-phone"></i>
                        {{ phone.raw_input }}
                    </a>
                </div>
            {% endif %}
        {% endwith %}

        {% with item.get_mobile_phone as phone %}
            {% if phone.raw_input %}
                <div>
                    <a href="tel:{{ phone.number }}">
                        <i class="icon-phone"></i>
                        {{ phone.raw_input }}
                    </a>
                </div>
            {% endif %}
        {% endwith %}
    </td>
    <td class="datetime created hide_on_small_screen">
        <div>
            {{ item.created|date:"d/m/Y H:i:s" }}
        </div>
    </td>
    <td class="datetime modified hide_on_small_screen">
        <div>
            {{ item.modified|date:"d/m/Y H:i:s" }}
        </div>
    </td>
    <td class="tags">
        {% for tag in item.get_tags %}
            <a href="{% url 'account_list_filtered_by_tag' tag.pk %}{% if order_by and sort_order %}?order_by={{ order_by }}&sort_order={{ sort_order }}{% endif %}" class="tag">{{ tag }}</a><br />
        {% endfor %}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block list-definition %}
    { "bSearchable": false, "bSortable": false, "aTargets": [0] },
    { "bSortable": false, "aTargets": [1] },
    { "bSortable": false, "aTargets": [2] },
    { "sType": "date-euro", "aTargets": [3] },
    { "sType": "date-euro", "aTargets": [4] },
    { "bSearchable": false, "bSortable": false, "aTargets": [5] }
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    jQuery(document).ready(function() {
        var oTable =  $('.page-content .data-table').dataTable();

        $('#list_column_toggler input[type="checkbox"]').change(function(){
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var iCol = parseInt($(this).attr("data-column"));
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, (bVis ? false : true));
        });
    });
</script>
<script>
$(function($){
    $('#link_export_csv').click(function( event ){
        event.preventDefault();
        $('#form_export_csv').submit();
    });
});
</script>
{% endblock %}
