{% extends 'detail.html' %}

{% load i18n utils compressed %}

{% block default-controller %}ng-controller="AccountDetailController"{% endblock %}

{% block head-outer-title %}
    <title ng-bind="::account.name"></title>
{% endblock %}

{% block page-title %}
    {% verbatim %}
    <div ng-cloak>{{::account.name}}</div>
    {% endverbatim %}
{% endblock %}

{% block page-actions %}
    {% verbatim %}
    <a ng-href="/accounts/edit/{{ ::account.id }}/" class="btn blue"><i class="icon-edit"></i>Edit</a>
    <a ng-href="/accounts/delete/{{ ::account.id }}/" class="btn blue" data-target="#confirm-delete" data-source="/accounts/delete/{{ ::account.id }}/"><i class="icon-trash"></i>Delete</a>
    {% endverbatim %}
{% endblock %}

{% block details-main %}
    {% verbatim %}
    <div ng-cloak ng-if="::account.description">
        <div class="row">
            <div class="col-md-6">
                <em class="pre-wrap">{{ ::account.description }}</em>
            </div>
        </div>
    </div>
    <div ng-cloak class="row">
        <div class="col-md-6">
            <ul class="list-unstyled summary-list">
                <li>
                    <span class="summary-label">Website</span>
                    <span class="summary-data" ng-repeat="website in ::account.website"><a href="{{ ::website }}">{{ ::website }}</a></span>
                </li>
                <li>
                    <span class="summary-label">Phone number</span>
                     <span class="summary-data">{{ ::account.phone }}</span>
                </li>
                <li>
                    <span class="summary-label">E-mail address</span>
                     <span class="summary-data">{{ ::account.email[0] }}</span>
                </li>
                <li ng-repeat="social in ::account.social">
                    <span class="summary-label">{{ ::social.social_name }}</span>
                    <span class="summary-data">
                        <a href="{{ ::social.social_url }}">{{ ::social.social_profile }}</a>
                    </span>
                </li>
                <li ng-if="::account.address">
	                <span class="summary-label">Main address</span>
	                <span class="summary-data">
	                    {{ ::account.address[0].address_street }} {{ ::account.address[0].address_street_number }}{{ ::account.address[0].address_complement }}<br/>
	                    {{ ::account.address[0].address_postal_code }} {{ ::account.address[0].address_city }}<br/>
	                    {{ ::account.address[0].address_country }}
	                </span>
	            </li>
	            <li class="margin-top-20">
                    <span class="summary-label">Assigned to</span>
                    <span class="summary-data" ng-show="::account.assigned_to">
                        {{ ::account.assigned_to }}
                    </span>
                    <span class="summary-data" ng-hide="::account.assigned_to">
                        Not assigned yet
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-md-6 text-right">
            <div class="clearfix">
                <a style="border: 2px solid #FFF; height: 33px; border-right: 0;" ng-href="/deals/#/?search={{ ::account.name }}" class="btn btn-sm blue pull-right col-md-2 col-sm-11">
                    Deals<span class="badge badge-success pull-right">{{ ::numDeals }}</span>
                </a>
                <a style="border: 2px solid #FFF; height: 33px;" href="javascript:void(0)" data-target="#quickbutton-create" data-source="/deals/create/from_account/{{ ::account.id }}/" class="btn btn-sm blue pull-right col-sm-1"><i class="icon-plus"></i></a>
            </div>
            <div>
                <a style="border: 2px solid #FFF; height: 33px; border-right: 0;" ng-href="/cases/#/?search={{ ::account.name }}" class="btn btn-sm blue pull-right col-md-2 col-sm-11">
                    Cases<span class="badge badge-success pull-right">{{ ::numCases }}</span>
                </a>
                <a style="border: 2px solid #FFF; height: 33px;" href="javascript:void(0)" data-target="#quickbutton-create" data-source="/cases/create/from_account/{{ ::account.id }}/" class="btn btn-sm blue pull-right col-sm-1"><i class="icon-plus"></i></a>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block details-tab-headers %}
    {{ block.super }}
    <li>
        <a href="#tab-contacts" data-toggle="tab">
            {% trans 'Contacts' %}
        </a>
    </li>
    <li>
        <a href="#tab-other" data-toggle="tab">
            {% trans 'Other' %}
        </a>
    </li>
{% endblock %}

{% block details-tab-content %}
    {% verbatim %}
    <div ng-cloak class="tab-pane active" id="tab-history">
        <div class="row">
		    <div class="form-group">
		        <form method="POST" action="/notes/create/">
		            {% endverbatim %}{% csrf_token %}{% verbatim %}
		            <div class="form-group note-input-wrapper">
		                <textarea ng-model="note" required class="form-control" id="id_content" name="content" placeholder="Write your note here" rows="1"></textarea>
		                <input type="hidden" name="content_type" value="account">
		                <input type="hidden" name="object_id" value="{{ ::account.id }}">
		                <button type="submit" class="btn btn-primary col-md-2 col-xs-3">Add note</button>
		                <div class="clearfix"></div>
		            </div>
		        </form>
		    </div>
		</div>
        {% endverbatim %}{% include 'utils/historylist_client.html' %}{% verbatim %}
    </div>

    <div ng-cloak class="tab-pane" id="tab-contacts">
        <div>
            <div class="well well-sm">
                <div class="row no-margin">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>E-mail address</th>
                                <th>Phone number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="worker in ::workers">
                                <td><a href="/contacts/details/{{ ::worker.id }}/">{{ ::worker.name }}</a></td>
                                <td>{{ ::worker.email[0] }}</td>
                                <td>{{ ::worker.phone }}</td>
                            </tr>
                            <tr ng-if="workers.length == 0">
                                <td colspan="3">There are no known contact for this company</td>
                            </tr>
                            <tr>
	                            <td colspan="3">
	                                <a href="javascript:void(0)" data-target="#quickbutton-create" data-source="/contacts/add/from_account/{{ ::account.id }}/" class="btn btn-sm blue col-sm-1"><i class="icon-plus"> Add contact</i></a>
	                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div ng-cloak class="tab-pane" id="tab-other">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h4>Tags</h4>
                <ul class="list-unstyled list-inline no-margin block-list">
                    <li class="no-padding" ng-repeat="tag in ::account.tag"><span class="label label-btn label-btn-sm label-btn-default">{{ ::tag }}</span></li>
                    <li class="no-padding" ng-if="!account.tag"><a ng-href="/accounts/edit/{{ ::account.id }}#id_tags" class="btn btn-sm default">Click to add one</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-6">
                <h4>E-mail addresses</h4>
                <ul class="list-unstyled list-inline no-margin block-list">
                    <li class="no-padding" ng-repeat="email in ::account.email"><a href="#" class="btn btn-sm default">{{ ::email }}</a></li>
                    <li class="no-padding" ng-if="!account.email"><a ng-href="/accounts/edit/{{ ::account.id }}#email_addresses" class="btn btn-sm default">Click to add one</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
               <h4>Phone number</h4>
                <ul class="list-unstyled list-inline no-margin block-list">
                    <li class="no-padding" ng-repeat="phone in ::account.phones"><span class="label label-btn label-btn-sm label-btn-default">{{ ::phone }}</span></li>
                    <li class="no-padding" ng-if="!account.phones"><a ng-href="/accounts/edit/{{ ::account.id }}#phone_numbers" class="btn btn-sm default">Click to add one</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-6">
                <h4>Addresses</h4>
                <ul class="list-unstyled list-inline no-margin block-list">
                    <li class="no-padding" ng-repeat="address in ::account.address_full">
                        <span class="label label-btn label-btn-sm label-btn-default text-left">{{ ::address }}</span>
                    </li>
                    <li class="no-padding" ng-if="!account.address"><a ng-href="/accounts/edit/{{ ::account.id }}#addresses" class="btn btn-sm default">Click to add one</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block scripts %}
    {% compressed_js 'angularapp' %}
    {{ block.super }}
{% endblock %}
