{% extends 'base.html' %}
{% load i18n static field_extras %}

{% block title %}{% trans 'Add account' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jui/jquery.ui.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/input-and-choice/input-and-choice.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/elastic/jquery.elastic.source.js' %}"></script>
<script type="text/javascript" src="{% static 'provide/js/dataprovider.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/js/accounts.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/input-and-choice/input-and-choice.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>{% trans 'Add account' %}</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form tabthis" autocomplete="off" action="" method="post">
                {% csrf_token %}

                {% comment %}
                The following fields are hidden fields which can be filled using Enrich, but can't be edited visually yet.
                {% endcomment %}
                {{ form.legalentity }}
                {{ form.taxnumber }}
                {{ form.bankaccountnumber }}
                {{ form.cocnumber }}
                {{ form.iban }}
                {{ form.bic }}

                {% if form.non_field_errors %}
                    <div class="mws-form-row">
                        <div class="mws-form-message error no_list_style_type">
                            <span class="field_error">{{ form.non_field_errors }}</span>
                        </div>
                    </div>
                {% endif %}

                {% comment %}
                TODO: Check company name via AJAX, if it already exists show a link to edit it
                TODO: Add image upload field for company logo or suggest images from social media
                {% endcomment %}
                <div class="mws-form-inline">
                	<div id="enrich-busy" style="display: none;">
                		<div id="enrich-busy-message"></div>
                		<img src="{% static 'images/blue-loading.gif' %}" alt="" />
                		<p>
                			<a href="javascript:" id="enrich-account-cancel">{% trans 'Cancel' %}</a>
                		</p>
                	</div>
                    <div class="mws-form-row">
                        {{ form.primary_website.label_tag }}
                        <div class="mws-form-item large">
                            <div class="mws-form-cols clearfix">
                                <div class="mws-form-col-4-8 alpha">
                                     <div class="mws-form-item">
                                        {% if form.primary_website.errors %}
                                            <span class="field_error">{{ form.primary_website }}</span>
                                            <div class="mws-error no_list_style_type">
                                                  {{ form.primary_website.errors }}
                                            </div>
                                        {% else %}
                                            {{ form.primary_website }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mws-form-col-2-8 alpha">
                                     <div class="mws-form-item">
                                        <input type="button" id="enrich-account-button" class="mws-button blue tabbable" value="{% trans 'Enrich' %}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mws-form-row">
                        {{ form.name.label_tag }}
                        <div class="mws-form-item large">
                            <div class="mws-form-cols clearfix">
                                <div class="mws-form-col-4-8 alpha">
                                    <div class="mws-form-item">                    
                                        {% if form.name.errors %}
                                            <span class="field_error">{{ form.name }}</span>
                                            <div class="mws-error no_list_style_type">
                                                {{ form.name.errors }}
                                            </div>
                                        {% else %}
                                            {{ form.name }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mws-form-col-4-8">
                                     <div class="mws-form-item">
                                        <a href="#" class="existing-account-link hidden" title="{% trans 'Follow this link to edit an existing account' %}">{% trans 'Edit existing account' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mws-form-row">
                        {{ form.description.label_tag }}
                        <div class="mws-form-item large">
                        	{% if form.description|field_value %}
	                            {% if form.description.errors %}
	                                <span class="field_error">{{ form.description }}</span>
	                                <div class="mws-error no_list_style_type">
	                                      {{ form.description.errors }}
	                                </div>
	                            {% else %}
	                                {{ form.description }}
	                            {% endif %}
                        	{% else %}
								<a href="javascript:" class="click-show" data-click-show="description_wrapper">Add description</a>
								<div id="description_wrapper" class="hidden">
		                            {% if form.description.errors %}
		                                <span class="field_error">{{ form.description }}</span>
		                                <div class="mws-error no_list_style_type">
		                                      {{ form.description.errors }}
		                                </div>
		                            {% else %}
		                                {{ form.description }}
		                            {% endif %}
	                       		</div>
                        	{% endif %}
                        </div>
                    </div>

                    <div class="mws-form-row">
                        {{ form.tags.label_tag }}
                    	<div class="mws-form-cols clearfix">
                            <div class="float-left">
                                {% if form.tags.errors %}
                                    <span class="field_error">
                                        <div class="input-and-choice">
                                            <div>
                                                <input type="text" id="id_tags" class="mws-textinput input-and-choice-input tabbable" />
                                                <input type="button" class="input-and-choice-button mws-button blue tabbable" value="Add" />
                                            </div>
                                            <div>
                                                {{ form.tags }}
                                                <ul class="input-and-choice-list clearfix search-field"></ul>
                                            </div>
                                        </div>
                                    </span>
                                    <div class="mws-error no_list_style_type">
                                          {{ form.tags.errors }}
                                    </div>
                                {% else %}
                                    <div class="input-and-choice">
                                        <div>
                                            <input type="text" id="id_tags" class="mws-textinput input-and-choice-input tabbable" />
                                            <input type="button" class="input-and-choice-button mws-button blue tabbable" value="Add" />
                                        </div>
                                        <div>
                                            {{ form.tags }}
                                            <ul class="input-and-choice-list clearfix search-field"></ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <hr />

                    {% comment %}
                    TODO: Inform user when deleting a primary e-mail address and two or more options
                    are available and another was automatically selected as primary OR generate
                    an error on form submit
                    {% endcomment %}
                    <div class="mws-form-row">
                        <label for="id_email_addresses-0-email_address">{% trans 'E-mail addresses' %}</label>
                        {% for form in email_addresses_formset.forms %}
                           <div class="mws-form-item large {{ email_addresses_formset.prefix }}-mws-formset">
						        <div class="mws-form-cols clearfix">
						            <div class="mws-form-col-2-8 alpha">
						                {% if form.email_address.errors %}
                                            <span class="field_error float-left">{{ form.email_address }}</span>
                                            <span class="mws-error inline plain float-left">
                                                {% for error in form.email_address.errors %}
                                                    <strong>{{ error }}</strong>
                                                {% endfor %}
                                            </span>
                                        {% else %}
                                            {{ form.email_address }}
                                        {% endif %}
						            </div>
						            <div class="mws-form-col-2-8 center email_is_primary">
						                <label>
                                            <input class="hidden" type="radio" value="{{ form.prefix }}" name="{{ email_addresses_formset.prefix }}_primary-email" {% if form.instance.is_primary %}checked="checked"{% endif %}/>
                                            <span class="{% if form.instance.is_primary %}checked {% endif %}tabbable">{% trans 'primary' %}</span>
                                        </label>
						            </div>
						            <div class="mws-form-col-1-8 formset-delete">
						                <a href="javascript:" class="i-16 i-trash-1 blue {{ email_addresses_formset.prefix }}-delete-row"></a>
						            </div>
						        </div>
                            </div>
                        {% empty %}
                            <div class="{{ email_addresses_formset.prefix }}-mws-formset"></div>
                        {% endfor %}
                        <div class="hidden">
                            {% include 'utils/email_address_formset_template.html' with formset_prefix=email_addresses_formset.prefix %}
                        </div>
                        {{ email_addresses_formset.management_form }}
                    </div>

                    <div class="mws-form-row">
                        <label for="id_phone_numbers-0-raw_input">{% trans 'Phone numbers' %}</label>
	                    {% for form in phone_numbers_formset.forms %}
	                    	<div class="mws-form-item large {{ phone_numbers_formset.prefix }}-mws-formset">
	                    		<div class="mws-form-cols clearfix">
						            <div class="mws-form-col-2-8 alpha">
						                {% if form.raw_input.errors %}
                                            <span class="field_error float-left">{{ form.raw_input }}</span>
                                            <span class="mws-error inline plain float-left">
                                                {% for error in form.raw_input.errors %}
                                                    <strong>{{ error }}</strong>
                                                {% endfor %}
                                            </span>
                                        {% else %}
                                            {{ form.raw_input }}
                                        {% endif %}
						            </div>    
						            <div class="mws-form-col-2-8">
						                {% if form.type.errors %}
                                            <span class="field_error float-left">{{ form.type }}</span>
                                            <span class="mws-error inline plain float-left">
                                                {% for error in form.type.errors %}
                                                    <strong>{{ error }}</strong>
                                                {% endfor %}
                                            </span>
                                        {% else %}
                                            {{ form.type }}
                                        {% endif %}
						            </div>
						            <div class="mws-form-col-2-8">
						                {{ form.other_type }}
						            </div>
						            <div class="mws-form-col-1-8 formset-delete">
						                <a href="javascript:" class="i-16 i-trash-1 blue {{ phone_numbers_formset.prefix }}-delete-row"></a>
						            </div>
						        </div>
	                        </div>
	                    {% empty %}
                            <div class="{{ phone_numbers_formset.prefix }}-mws-formset">
                            </div>
                        {% endfor %}
                        <div class="hidden">
                            {% include 'utils/phone_number_formset_template.html' with formset_prefix=phone_numbers_formset.prefix %}
                        </div>
                        {{ phone_numbers_formset.management_form }}
                    </div>

                    {% comment %}
                    TODO: find a proper solution to fix tabindex order
                    {% endcomment %}
                    <div class="mws-form-row">
                        <label for="id_addresses-0-street">{% trans 'Addresses' %}</label>
	                    {% for form in addresses_formset.forms %}
	                        <div class="mws-form-item large {{ addresses_formset.prefix }}-mws-formset">
						        <div class="mws-form-cols clearfix">
						            <div class="mws-form-col-7-8 alpha">
						            	<div class="mws-form-item large">
									        <div class="mws-form-cols clearfix">
									            <div class="mws-form-col-3-8 alpha">
		                                            <div class="mws-form-item">
		                                                {% if form.street.errors %}
		                                                    <span class="field_error float-left">{{ form.street }}</span>
		                                                    <span class="mws-error inline plain float-left">
		                                                        {% for error in form.street.errors %}
		                                                            <strong>{{ error }}</strong>
		                                                        {% endfor %}
		                                                    </span>
		                                                {% else %}
		                                                    {{ form.street }}
		                                                {% endif %}
		                                            </div>
		                                        </div>
		                                        <div class="mws-form-col-2-8">
		                                             <div class="address mws-form-item float-left">
		                                                {% if form.street_number.errors %}
		                                                    <span class="field_error float-left">{{ form.street_number }}</span>
		                                                    <span class="mws-error inline plain float-left">
		                                                        {% for error in form.street_number.errors %}
		                                                            <strong>{{ error }}</strong>
		                                                        {% endfor %}
		                                                    </span>
		                                                {% else %}
		                                                    {{ form.street_number }}
		                                                {% endif %}
		                                            </div>
		                                        </div>
		                                        <div class="mws-form-col-2-8">
		                                            <div class="address mws-form-item float-left clearfix">
		                                                {% if form.complement.errors %}
		                                                    <span class="field_error float-left">{{ form.complement }}</span>
		                                                    <span class="mws-error inline plain float-left">
		                                                        {% for error in form.complement.errors %}
		                                                            <strong>{{ error }}</strong>
		                                                        {% endfor %}
		                                                    </span>
		                                                {% else %}
		                                                    {{ form.complement }}
		                                                {% endif %}
		                                            </div>
		                                        </div>
									            <div class="mws-form-col-1-8 formset-delete">
									                <a href="javascript:" class="i-16 i-trash-1 blue {{ addresses_formset.prefix }}-delete-row"></a>
									            </div>
		                                    </div>
		                                </div>
									    <div class="mws-form-item large">
									        <div class="mws-form-cols clearfix">
									            <div class="mws-form-col-3-8 alpha">
									                <div class="mws-form-item">
		                                                {% if form.postal_code.errors %}
		                                                    <span class="field_error float-left">{{ form.postal_code }}</span>
		                                                    <span class="mws-error inline plain float-left">
		                                                        {% for error in form.postal_code.errors %}
		                                                            <strong>{{ error }}</strong>
		                                                        {% endfor %}
		                                                    </span>
		                                                {% else %}
		                                                    {{ form.postal_code }}
		                                                {% endif %}
		                                            </div>
		                                        </div>
									            <div class="mws-form-col-4-8">
									                <div class="mws-form-item">
		                                                {% if form.city.errors %}
		                                                    <span class="field_error float-left">{{ form.city }}</span>
		                                                    <span class="mws-error inline plain float-left">
		                                                        {% for error in form.city.errors %}
		                                                            <strong>{{ error }}</strong>
		                                                        {% endfor %}
		                                                    </span>
		                                                {% else %}
		                                                    {{ form.city }}
		                                                {% endif %}
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
									    <div class="mws-form-item large">
									        <div class="mws-form-cols clearfix">
									            <div class="mws-form-col-4-8 alpha">
									                <div class="mws-form-item">
		                                                {% if form.country.errors %}
		                                                    <span class="field_error float-left">{{ form.country }}</span>
		                                                    <span class="mws-error inline plain float-left">
		                                                        {% for error in form.country.errors %}
		                                                            <strong>{{ error }}</strong>
		                                                        {% endfor %}
		                                                    </span>
		                                                {% else %}
		                                                    {{ form.country }}
		                                                {% endif %}
		                                            </div>
		                                        </div>
									            <div class="mws-form-col-3-8">
									                <div class="mws-form-item">
		                                                {{ form.type }}
		                                            </div>
		                                        </div>
		                                    </div>
								        </div>
								    </div>
					            </div>
						        <div class="mws-form-cols clearfix">
						            <div class="mws-form-col-6-8 alpha">
						                <br />
						                <hr />
						            </div>
						        </div>
						    </div>
                        {% empty %}
                            <div class="{{ addresses_formset.prefix }}-mws-formset">
                            </div>
                        {% endfor %}
                        <div class="hidden">
                            {% include 'accounts/address_formset_template.html' with formset_prefix=addresses_formset.prefix country_choices=countries %}
                        </div>
                        {{ addresses_formset.management_form }}
                    </div>

                    <div class="mws-form-row">
                        <label for="id_websites-0-website">{% trans 'Extra websites' %}</label>
                        {% for form in websites_formset.forms %}
                            <div class="mws-form-item large {{ websites_formset.prefix }}-mws-formset">
						        <div class="mws-form-cols clearfix">
						            <div class="mws-form-col-4-8 alpha">
                                        {% if form.website.errors %}
                                            <span class="field_error float-left">{{ form.website }}</span>
                                            <div class="mws-error inline plain float-left">
                                                {% for error in form.website.errors %}
                                                    <strong>{{ error }}</strong>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.website }}
                                        {% endif %}
                                    </div>
            						<div class="mws-form-col-1-8 formset-delete">
                                        <a href="javascript:" class="i-16 i-trash-1 blue websites-delete-row"></a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="{{ websites_formset.prefix }}-mws-formset"></div>
                        {% endfor %}
                        <div class="hidden">
                            {% include 'accounts/website_formset_template.html' with formset_prefix=websites_formset.prefix %}
                        </div>
                        {{ websites_formset.management_form }}
                    </div>

                    {% comment %}
                    
	                    <hr />
	
	                    <div class="mws-form-row">
	                        {{ form.twitter.label_tag }}
	                        <div class="mws-form-item large">
	                            {% if form.twitter.errors %}
	                                <span class="field_error">{{ form.twitter }}</span>
	                                <div class="mws-error no_list_style_type">
	                                      {{ form.twitter.errors }}
	                                </div>
	                            {% else %}
	                                {{ form.twitter }}
	                            {% endif %}
	                        </div>
	                    </div>
	
	                    <div class="mws-form-row">
	                        {{ form.linkedin.label_tag }}
	                        <div class="mws-form-item large">
	                            {% if form.linkedin.errors %}
	                                <span class="field_error">{{ form.linkedin }}</span>
	                                <div class="mws-error no_list_style_type">
	                                      {{ form.linkedin.errors }}
	                                </div>
	                            {% else %}
	                                {{ form.linkedin }}
	                            {% endif %}
	                        </div>
	                    </div>
	
	                    <div class="mws-form-row">
	                        {{ form.facebook.label_tag }}
	                        <div class="mws-form-item large">
	                            {% if form.facebook.errors %}
	                                <span class="field_error">{{ form.facebook }}</span>
	                                <div class="mws-error no_list_style_type">
	                                      {{ form.facebook.errors }}
	                                </div>
	                            {% else %}
	                                {{ form.facebook }}
	                            {% endif %}
	                        </div>
	                    </div>
	
	                    <hr />

                        <div class="mws-form-row">
                            {{ form.status.label_tag }}
                            <div class="mws-form-item large">
                                {% if form.status.errors %}
                                    <span class="field_error">{{ form.status }}</span>
                                    <div class="mws-error no_list_style_type">
                                          {{ form.status.errors }}
                                    </div>
                                {% else %}
                                    {{ form.status }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="mws-form-row">
                            {{ form.company_size.label_tag }}
                            <div class="mws-form-item large">
                                {% if form.company_size.errors %}
                                    <span class="field_error">{{ form.company_size }}</span>
                                    <div class="mws-error no_list_style_type">
                                          {{ form.company_size.errors }}
                                    </div>
                                {% else %}
                                    {{ form.company_size }}
                                {% endif %}
                            </div>
                        </div>

                    {% endcomment %}

                    <div class="mws-button-row">
                        <input type="submit" value="{% trans 'Add' %}" class="mws-button blue tabbable" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
