{% extends 'base.html' %}
{% load i18n static %} 

{% block title %}{% trans 'Add account' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jui/jquery.ui.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/input-and-choice/input-and-choice.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'utils/js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/js/accounts.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/input-and-choice/input-and-choice.js' %}"></script>
{% endblock %}

{% block content %} 
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-fountain-pen">{% trans 'Add account' %}</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form" autocomplete="off" action="" method="post">{% csrf_token %} 
                
                {{ email_addresses_formset.management_form }}
                {{ addresses_formset.management_form }}
                {{ phone_numbers_formset.management_form }}
                
                {% if form.non_field_errors %}
                    <div class="mws-form-row">
                        <div class="mws-form-message error no_list_style_type">
                            <span class="field_error">{{ form.non_field_errors }}</span>
                        </div>
                    </div>
                {% endif %}
                
                {% comment %}
                TODO: Check company name via AJAX, if it already exists show a link to edit it
                TODO: Add image upload field for company logo or suggest images from social media
                {% endcomment %}
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        {{ form.name.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.name.errors %}
                                <span class="field_error">{{ form.name }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.name.errors }}
                                </div>
                            {% else %}
                                {{ form.name }}
                            {% endif %}
                        </div>
                    </div>
                    
                    {% comment %}
                    TODO: Inform user when deleting a primary e-mail address and two or more options
                    are available and another was automatically selected as primary OR generate
                    an error on form submit
                    {% endcomment %}
                    <div class="mws-form-row">
                        <label>{% trans 'E-mail addresses' %}</label>
                        <div class="mws-form-item large">
                            <div class="mws-form-cols clearfix">
                                <div class="float-left">
                                    {% for form in email_addresses_formset.forms %}
                                        <div class="mws-form-col-row email_address mws-form-item">
                                            {% if form.email_address.errors %}
                                                <span class="field_error float-left">{{ form.email_address }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.email_address.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.email_address }}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="float-left center">
                                    {% for form in email_addresses_formset.forms %}
                                        <div class="email_is_primary mws-form-col-row mws-form-item">
                                            {% if forloop.first %}
                                                <label class="checked">
                                                    <input class="hidden" type="radio" value="form-{{ forloop.counter0 }}" name="primary-email" checked="checked" />
                                                    <span>{% trans 'primary' %}</span>
                                                </label>
                                            {% else %}
                                                <label>
                                                    <input class="hidden" type="radio" value="form-{{ forloop.counter0 }}" name="primary-email" />
                                                    <span>{% trans 'primary' %}</span>
                                                </label>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="float-left">
                                    {% for form in email_addresses_formset.forms %}
                                        <div class="formset-delete mws-form-col-row mws-form-item">
                                            <a href="javascript:" class="mws-i-24 i-cross" id="id_form-{{ forloop.counter0 }}-email" /></a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mws-form-row">
                        {{ form.website.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.website.errors %}
                                <span class="field_error">{{ form.website }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.website.errors }}
                                </div>
                            {% else %}
                                {{ form.website }}
                            {% endif %}
                        </div>
                    </div>
                
                    <hr />

                    <div class="mws-form-row">
                        <label>{% trans 'Phone numbers' %}</label>
                        <div class="mws-form-item large">
                            <div class="mws-form-cols clearfix">
                                <div class="float-left">
                                    {% for form in phone_numbers_formset.forms %}
                                        <div class="mws-form-col-row phone_number mws-form-item">
                                            {% if form.raw_input.errors %}
                                                <span class="field_error float-left">{{ form.raw_input }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.raw_input.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.raw_input }}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="float-left">
                                    {% for form in phone_numbers_formset.forms %}
                                        <div class="mws-form-col-row phone_number mws-form-item">
                                            {% if form.type.errors %}
                                                <span class="field_error float-left">{{ form.type }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.type.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.type }}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="float-left">
                                    {% for form in phone_numbers_formset.forms %}
                                        <div class="mws-form-col-row phone_number mws-form-item">
                                            {{ form.other_type }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="float-left">
                                    {% for form in phone_numbers_formset.forms %}
                                        <div class="formset-delete mws-form-col-row mws-form-item">
                                            <a href="javascript:" class="mws-i-24 i-cross" id="id_form-{{ forloop.counter0 }}-phone_number" /></a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% comment %}
                    TODO: find a proper solution to fix tabindex order
                    {% endcomment %}
                    <div class="mws-form-row">
                        <label>{% trans 'Addresses' %}</label>
                        <div class="mws-form-item large">
                            <div class="mws-form-cols clearfix">
                                <div class="float-left">
                                    {% for form in addresses_formset.forms %}
                                        <div class="mws-form-col-row address mws-form-item">
                                            {% if form.postal_code.errors %}
                                                <span class="field_error float-left">{{ form.postal_code }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.postal_code.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.postal_code }}
                                            {% endif %}
                                        </div>
                                        <div class="mws-form-col-row address mws-form-item">
                                            {% if form.city.errors %}
                                                <span class="field_error float-left">{{ form.city }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.city.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.city }}
                                            {% endif %}
                                        </div>
                                        <div class="mws-form-col-row address mws-form-item">
                                            {% if form.state_province.errors %}
                                                <span class="field_error float-left">{{ form.state_province }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.state_province.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.state_province }}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="float-left">
                                    {% for form in addresses_formset.forms %}
                                        <div class="clearfix">
                                        <div class="mws-form-col-row address mws-form-item float-left">
                                            {% if form.street_number.errors %}
                                                <span class="field_error float-left">{{ form.street_number }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.street_number.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.street_number }}
                                            {% endif %}
                                        </div>
                                        <div class="mws-form-col-row address mws-form-item float-left clearfix">
                                            {% if form.complement.errors %}
                                                <span class="field_error float-left">{{ form.complement }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.complement.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.complement }}
                                            {% endif %}
                                        </div>
                                        </div>
                                        <div class="mws-form-col-row address mws-form-item">
                                            {% if form.street.errors %}
                                                <span class="field_error float-left">{{ form.street }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.street.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.street }}
                                            {% endif %}
                                        </div>
                                        <div class="mws-form-col-row address mws-form-item">
                                            {% if form.country.errors %}
                                                <span class="field_error float-left">{{ form.country }}</span>
                                                <span class="mws-error inline plain float-left">
                                                    {% for error in form.country.errors %}
                                                        <strong>{{ error }}</strong>
                                                    {% endfor %}
                                                </span>
                                            {% else %}
                                                {{ form.country }}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="float-left">
                                    {% for form in addresses_formset.forms %}
                                        <div class="mws-form-col-row address mws-form-item">
                                            {{ form.type }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="float-left">
                                    {% for form in addresses_formset.forms %}
                                        <div class="formset-delete mws-form-col-row mws-form-item">
                                            <a href="javascript:" class="mws-i-24 i-cross" id="id_form-{{ forloop.counter0 }}-address" /></a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <hr />
                    
                    <div class="mws-form-row">
                        {{ form.twitter.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.twitter.errors %}
                                <span class="field_error">{{ form.twitter }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.twitter.errors }}
                                </div>
                            {% else %}
                                {{ form.twitter }}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="mws-form-row">
                        {{ form.linkedin.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.linkedin.errors %}
                                <span class="field_error">{{ form.linkedin }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.linkedin.errors }}
                                </div>
                            {% else %}
                                {{ form.linkedin }}
                            {% endif %}
                        </div>
                    </div>
    
                    <div class="mws-form-row">
                        {{ form.facebook.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.facebook.errors %}
                                <span class="field_error">{{ form.facebook }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.facebook.errors }}
                                </div>
                            {% else %}
                                {{ form.facebook }}
                            {% endif %}
                        </div>
                    </div>
                    
                    {% comment %}
                    <hr />
                    
                        <div class="mws-form-row">
                            {{ form.status.label_tag }}
                            <div class="mws-form-item large">                            
                                {% if form.status.errors %}
                                    <span class="field_error">{{ form.status }}</span>
                                    <div class="mws-error no_list_style_type">
                                          {{ form.status.errors }}
                                    </div>
                                {% else %}
                                    {{ form.status }}
                                {% endif %}
                            </div>
                        </div>
    
                        <div class="mws-form-row">
                            {{ form.company_size.label_tag }}
                            <div class="mws-form-item large">                            
                                {% if form.company_size.errors %}
                                    <span class="field_error">{{ form.company_size }}</span>
                                    <div class="mws-error no_list_style_type">
                                          {{ form.company_size.errors }}
                                    </div>
                                {% else %}
                                    {{ form.company_size }}
                                {% endif %}
                            </div>
                        </div>
                    
                    {% endcomment %}
                    
                    <hr />
                    
                    <div class="mws-form-row">
                        {{ form.tags.label_tag }}
                        <div class="mws-form-cols clearfix">
                            <div class="mws-form-col-row">
                                <div class="float-left">
                                    {% if form.tags.errors %}
                                        <span class="field_error">
                                            <div class="input-and-choice">
                                                <div>
                                                    <input type="text" id="id_type" class="mws-textinput input-and-choice-input" />            
                                                    <input type="button" class="input-and-choice-button mws-button blue" value="Add" />
                                                </div>
                                                <div>
                                                    {{ form.tags }}                                           
                                                    <ul class="input-and-choice-list clearfix search-field"></ul>
                                                </div>
                                            </div>
                                        </span>
                                        <div class="mws-error no_list_style_type">
                                              {{ form.tags.errors }}
                                        </div>
                                    {% else %}
                                        <div class="input-and-choice">
                                            <div>
                                                <input type="text" id="id_type" class="mws-textinput input-and-choice-input" />            
                                                <input type="button" class="input-and-choice-button mws-button blue" value="Add" />
                                            </div>
                                            <div>
                                                {{ form.tags }}                                           
                                                <ul class="input-and-choice-list clearfix search-field"></ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="mws-form-row">
                        {{ form.description.label_tag }}
                        <div class="mws-form-item large">                            
                            {% if form.description.errors %}
                                <span class="field_error">{{ form.description }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.description.errors }}
                                </div>
                            {% else %}
                                {{ form.description }}
                            {% endif %}
                        </div>
                    </div>
                
                    <div class="mws-button-row">
                        <input type="button" value="{% trans 'Cancel' %}" class="mws-button blue" />
                        <input type="submit" name="submit" value="{% trans 'Add & edit' %}" class="mws-button blue" />
                        <input type="submit" name="submit" value="{% trans 'Add' %}" class="mws-button blue" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
