{% load bootstrap3 i18n %}

<form class="form form-horizontal" action="{% url 'account_add' %}" method="post" data-async role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4>{% trans 'Create account' %}</h4>
    </div>
    <div class="modal-body">
        {% csrf_token %}

        <div class="form-body">
            {% block form-fields %}
                {% for field in form.visible_fields %}
                    {% if field.field.required %}
                        {% bootstrap_field field layout="horizontal" field_class="col-md-8" label_class="col-md-4 required" %}
                    {% else %}
                        {% bootstrap_field field layout="horizontal" field_class="col-md-8" label_class="col-md-4" %}
                    {% endif %}
                {% endfor %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
            {% endblock %}
        </div>
        <div data-async-response></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> {% trans 'Sending..' %}">{% trans 'Continue' %}</button>
        <button type="button" data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</button>
    </div>
</form>
