{% load i18n %}

<form class="form" action="{% url 'account_delete' pk=object.pk %}" method="post" data-async role="form">
    {% csrf_token %}
    <div class="modal-body">
        <div class="note note-danger">
            {% trans 'Deleting this account cannot be undone. Are you sure?' %}
        </div>
        <div data-async-response></div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</button>
        <button type="submit" class="btn red" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> {% trans 'Sending..' %}">{% trans 'Continue' %}</button>
    </div>
</form>
