{% extends 'base_create_or_update_form.html' %}

{% load i18n static field_extras %}

{% block create-form-title %}{% trans 'Add account' %}{% endblock %}

{% block update-form-title %}{% trans 'Edit account' %}{% endblock %}

{% block form-content %}
    {% if form.non_field_errors %}
        <div class="mws-form-row">
            <div class="mws-form-message error no_list_style_type">
                <span class="field_error">{{ form.non_field_errors }}</span>
            </div>
        </div>
    {% endif %}
    
    {{ form.legalentity }}
    {{ form.taxnumber }}
    {{ form.bankaccountnumber }}
    {{ form.cocnumber }}
    {{ form.iban }}
    {{ form.bic }}
    
    <div class="mws-form-inline">
        {% if not item.pk %}
            <div id="enrich-busy" style="display: none;">
                <div id="enrich-busy-message"></div>
                <img src="{% static 'images/blue-loading.gif' %}" alt="" />
                <p>
                    <a href="javascript:" id="enrich-account-cancel">{% trans 'Cancel' %}</a>
                </p>
            </div>
        {% endif %}
        <div class="mws-form-row">
            {{ form.primary_website.label_tag }}
            <div class="mws-form-item large">
                <div class="mws-form-cols clearfix">
                    <div class="mws-form-col-4-8 alpha">
                         <div class="mws-form-item">
                            {% if form.primary_website.errors %}
                                <span class="field_error">{{ form.primary_website }}</span>
                                <div class="mws-error no_list_style_type">
                                      {{ form.primary_website.errors }}
                                </div>
                            {% else %}
                                {{ form.primary_website }}
                            {% endif %}
                        </div>
                    </div>
                    {% if not item.pk %}
                        <div class="mws-form-col-2-8 alpha">
                             <div class="mws-form-item">
                                <input type="button" id="enrich-account-button" class="mws-button blue tabbable" value="{% trans 'Enrich' %}" />
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mws-form-row">
            {{ form.name.label_tag }}
            <div class="mws-form-item large">
                <div class="mws-form-cols clearfix">
                    <div class="mws-form-col-4-8 alpha">
                        <div class="mws-form-item">
                            {% if form.name.errors %}
                                <span class="field_error">{{ form.name }}</span>
                                <div class="mws-error no_list_style_type">
                                    {{ form.name.errors }}
                                </div>
                            {% else %}
                                {{ form.name }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="mws-form-col-4-8">
                         <div class="mws-form-item">
                            <a href="#" class="existing-account-link hidden" title="{% trans 'Follow this link to edit an existing account' %}">{% trans 'Edit existing account' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mws-form-row">
            {{ form.description.label_tag }}
            <div class="mws-form-item large">
                {% if form.description|field_value %}
                    {% if form.description.errors %}
                        <span class="field_error">{{ form.description }}</span>
                        <div class="mws-error no_list_style_type">
                              {{ form.description.errors }}
                        </div>
                    {% else %}
                        {{ form.description }}
                    {% endif %}
                {% else %}
                    <a href="javascript:" class="click-show" data-click-show="full_form_description_wrapper">Add description</a>
                    <div id="full_form_description_wrapper" class="hidden">
                        {% if form.description.errors %}
                            <span class="field_error">{{ form.description }}</span>
                            <div class="mws-error no_list_style_type">
                                  {{ form.description.errors }}
                            </div>
                        {% else %}
                            {{ form.description }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="mws-form-row">
            {{ form.tags.label_tag }}
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-row">
                    <div class="float-left">
                        {% if form.tags.errors %}
                            <span class="field_error">
                                <div class="input-and-choice">
                                    <div>
                                        <input type="text" id="id_tags" class="mws-textinput input-and-choice-input tabbable" placeholder="Tag" />
                                        <input type="button" class="input-and-choice-button mws-button blue tabbable" value="Add" />
                                    </div>
                                    <div>
                                        {{ form.tags }}
                                        <ul class="input-and-choice-list clearfix search-field"></ul>
                                    </div>
                                </div>
                            </span>
                            <div class="mws-error no_list_style_type">
                                  {{ form.tags.errors }}
                            </div>
                        {% else %}
                            <div class="input-and-choice">
                                <div>
                                    <input type="text" id="id_tags" class="mws-textinput input-and-choice-input tabbable" placeholder="Tag" />
                                    <input type="button" class="input-and-choice-button mws-button blue tabbable" value="Add" />
                                </div>
                                <div>
                                    {{ form.tags }}
                                    <ul class="input-and-choice-list clearfix chzn-results search-field"></ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <hr />
        
        {% comment %}
            TODO: Inform user when deleting a primary e-mail address and two or more options
            are available and another was automatically selected as primary OR generate
            an error on form submit
        {% endcomment %}
        <div class="mws-form-row">
            <label for="id_{{ email_addresses_formset.prefix }}-0-email_address">{% trans 'E-mail addresses' %}</label>
            {% for form in email_addresses_formset.forms %}
                {% include 'utils/formset_email_address.html' with formset=email_addresses_formset form=form %}
            {% empty %}
                <div class="{{ email_addresses_formset.prefix }}-mws-formset"></div>
            {% endfor %}
            
            {% include 'utils/formset_email_address.html' with formset=email_addresses_formset form=None %}            
            
            {{ email_addresses_formset.management_form }}
        </div>
        
        <div class="mws-form-row">
            <label for="id_{{ phone_numbers_formset.prefix }}-0-raw_input">{% trans 'Phone numbers' %}</label>
            {% for form in phone_numbers_formset.forms %}
                {% include 'utils/formset_phone_number.html' with formset=phone_numbers_formset form=form %}
            {% empty %}
                <div class="{{ phone_numbers_formset.prefix }}-mws-formset"></div>
            {% endfor %}
        
            {% include 'utils/formset_phone_number.html' with formset=phone_numbers_formset form=None %}
            
            {{ phone_numbers_formset.management_form }}
        </div>
        
        <div class="mws-form-row">
            <label for="id_{{ addresses_formset.prefix }}-0-street">{% trans 'Addresses' %}</label>
            {% for form in addresses_formset.forms %}
                {% include 'accounts/formset_address.html' with formset=addresses_formset country_choices=countries form=form %}
            {% empty %}
                <div class="{{ addresses_formset.prefix }}-mws-formset"></div>
            {% endfor %}
            
            {% include 'accounts/formset_address.html' with formset=addresses_formset country_choices=countries form=None %}
            
            {{ addresses_formset.management_form }}
        </div>
        
        <div class="mws-form-row">
            <label for="id_websites-0-website">{% trans 'Extra websites' %}</label>
            {% for form in websites_formset.forms %}
                {% include 'accounts/formset_website.html' with formset=websites_formset form=form %}
            {% empty %}
                <div class="{{ websites_formset.prefix }}-mws-formset"></div>
            {% endfor %}
            
            {% include 'accounts/formset_website.html' with formset=websites_formset form=None %}
            
            {{ websites_formset.management_form }}
        </div>
    </div>
{% endblock %}

{% block form-cancel-redirect %}{% url account_list %}{% endblock %}

{% block hidden-dialogs %}
    {% if item.pk %}
        {% include 'accounts/delete_dialog.html' with item=item %}
    {% endif %}
{% endblock %}
