{% extends 'base_details.html' %}

{% load i18n media thumbnail utils %}

{% block styles %}    
    {% include_media 'lily.accounts.css' %}
    
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    <script type="text/javascript" src="{% url jsi18n packages='lily.accounts' %}"></script>
{% endblock %}

{% block item-delete-url %}{% url account_delete pk=item.pk %}{% endblock %}

{% block item-edit-url %}{% url account_edit pk=item.pk %}{% endblock %}

{% block dialog-delete %}
    {% include 'accounts/delete_dialog.html' %}
{% endblock %}

{% block image-left %}
    {% if account.logo %}
        <img class="details-image account" src="{% thumbnail account.logo 100x100 %}" alt="" />
    {% else %}
        <img class="details-image account" src="{% media_url 'extra/images/core/unknown_account.png' %}" alt="" />
    {% endif %}
{% endblock %}

{% block item-details %}
    {{ block.super }}
    
    <div id="contact_function">
        {% with item.get_contacts as contacts %}
            {% if contacts|length == 1 %}
                {% url contact_details pk=contacts.0.pk as contact_link  %}
                
                {% blocktrans with contacts|first as first_contact and contact_link as link %}
                    <a href="{{ link }}">{{ first_contact }}</a> works here
                {% endblocktrans %}
            {% elif contacts|length > 0 %}
                {% with contacts|joinby:';' as contacts_csv %}
                    {% url contact_list_filtered b36_pks=contacts_csv as contacts_link %}
                
                    {% with link=contacts_link count=contacts|length %}
                        <a href="{{ link }}">{{ count }} {% trans 'contacts' %}</a>
                    {% endwith %}
                {% endwith %}
            {% else %}
                {% trans 'No known contacts' %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

{% block tabs %}
    {{ block.super }}
    
    {% if item.functions.all|length %}
        <li class="ui-state-default ui-corner-top"><a href="#tab-contacts">{% trans 'Contacts' %}</a></li>
    {% endif %}
    
    {% if item.get_deals|length %}
        <li class="ui-state-default ui-corner-top"><a href="#tab-deals">{% blocktrans count counter=item.get_deals|length %}1 Deal{% plural %}{{ counter }} Deals{% endblocktrans %}</a></li>
    {% endif %}
{% endblock %}

{% block details-tab-content %}
    {% if item.get_addresses|length or item.websites.all|length or item.phone_numbers.all|length or item.email_addresses.all|length %}
        <h2>{% trans 'Contact details' %}</h2>
        <div class="grid_4">
            {% if item.get_addresses|length %} 
                <div id="detail-addresses" class="detail-block">
                    <h4>{% trans 'Addresses' %}</h4>            
                    {% with list=item.get_billing_addresses %}
                        {% include 'base_list.html' with list=list list_item_template='utils/address_details_template.html' %}
                    {% endwith %}
                    
                    {% with list=item.get_shipping_addresses %}
                        {% include 'base_list.html' with list=list list_item_template='utils/address_details_template.html' %}
                    {% endwith %}
                    
                    {% with list=item.get_visiting_addresses %}
                        {% include 'base_list.html' with list=list list_item_template='utils/address_details_template.html' %}
                    {% endwith %}
                    
                    {% with list=item.get_other_addresses %}
                        {% include 'base_list.html' with list=list list_item_template='utils/address_details_template.html' %}
                    {% endwith %}
                </div>
            {% endif %}
            
            {% if item.websites.all|length %}
                <div id="detail-websites" class="detail-block">
                    <h4>{% trans 'Websites' %}</h4>
                    
                    {% for website in item.websites.all %}
                        {% if website.is_primary %}
                                <div class="primary website">
                                    <h6>{% trans 'Primary' %}</h6>
                        {% else %}
                            <div class="website">
                                <h6></h6>
                        {% endif %}
                                <div class="inline">
                                    <a href="{{ website.website }}">{{ website.website }}</a>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="grid_4">
            {% if item.phone_numbers.all|length %}
                <div id="detail-phones" class="detail-block">
                    <h4>{% trans 'Phone numbers' %}</h4>
                    
                    {% for phone in item.phone_numbers.all %}
                        {% if phone.raw_input %}
                            {% if phone.type == 'mobile' %}
                                <div class="mobile_phone">
                            {% else %}
                                <div class="phone">
                            {% endif %}
                                    <h6>{{ phone.get_type_display }}</h6>
                                    <div class="inline">
                                        <a href="tel:{{ phone.number }}">{{ phone.raw_input }}</a>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if item.email_addresses.all|length %}
                <div id="detail-emails" class="detail-block">
                    <h4>{% trans 'E-mail addresses' %}</h4>
                    
                    {% for email in item.email_addresses.all %}
                        {% if email.email_address %}
                                {% if email.is_primary %}
                                    <div class="primary email">
                                        <h6>{% trans 'Primary' %}</h6>
                                {% else %}
                                    <div class="email">
                                        <h6></h6>
                                {% endif %}
                                        <div class="inline">
                                            <a href="mailto:{{ email.email_address }}">{{ email.email_address }}</a>
                                        </div>
                                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
    
    {% if item.get_addresses|length or item.websites.all|length or item.phone_numbers.all|length or item.email_addresses.all|length %}
        {% if item.description or item.tags.all|length %}
            <hr />
        {% endif %}
    {% endif %}
        
    {% if item.description or item.tags.all|length %}
        <h2>{% trans 'Additional information' %}</h2>
        <div class="grid_8">
            {% if item.description %}
                <div class="detail-block">
                    <h4>{% trans 'Description' %}</h4>
                    {{ item.description|linebreaksbr }}
                </div>
            {% endif %}
            
            {% if item.tags.all|length %}
                <div class="detail-block">
                    <h4>{% trans 'Tags' %}</h4>
                    {% comment %}
                        TODO: when searching on tags is possible, change these into links
                    {% endcomment %}
                    
                    {% for tag in item.tags.all %}
                        {{ tag }}
                        {% if not forloop.last %}
                        ,
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block tabs-content %}
    {{ block.super }}
    
    {% if item.functions.all|length %}
        <div id="tab-contacts" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <h2>{% trans 'Contacts' %}</h2>
            <div id="detail-emails" class="detail-block">
                {% include 'base_list.html' with list=item.functions.all list_item_template='accounts/function_list_item.html' %}
            </div>
        </div>
    {% endif %}
    
    {% if item.get_deals|length %}
        <div id="tab-deals" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide clearfix">
            {% if item.get_deals_new|length or item.get_deals_pending|length %}
                <h2>{% trans 'Open' %}</h2>
                <div class="grid_8">
                    {% if item.get_deals_new|length %}
                        <div id="detail-emails" class="detail-block">
                            <h4>{% trans 'New' %}</h4>
                            {% include 'base_list.html' with list=item.get_deals_new list_item_template='accounts/deal_list_item.html' %}
                        </div>
                    {% endif %}
                    
                    {% if item.get_deals_pending|length %}
                        <div id="detail-emails" class="detail-block">
                            <h4>{% trans 'Pending' %}</h4>
                            {% include 'base_list.html' with list=item.get_deals_pending  list_item_template='accounts/deal_list_item.html' %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            
            {% if item.get_deals_new|length or item.get_deals_pending|length %}
                {% if item.get_deals_won|length or item.get_deals_lost|length %}
                    <hr />
                {% endif %}
            {% endif %}
            
            {% if item.get_deals_won|length or item.get_deals_lost|length %}
                <h2>{% trans 'Closed' %}</h2>
                <div class="grid_8">
                    {% if item.get_deals_won|length %}
                        <div id="detail-emails" class="detail-block">
                            <h4>{% trans 'Won' %}</h4>
                            {% include 'base_list.html' with list=item.get_deals_won list_item_template='accounts/deal_list_item.html' %}
                        </div>
                    {% endif %}
                    
                    {% if item.get_deals_lost|length %}
                        <div id="detail-emails" class="detail-block">
                            <h4>{% trans 'Lost' %}</h4>
                            {% include 'base_list.html' with list=item.get_deals_lost list_item_template='accounts/deal_list_item.html' %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
