{% extends 'base_formset.html' %}

{% load i18n %}

{% block template %}
    <div class="mws-form-item large">
        <div class="mws-form-cols clearfix">
            <div class="mws-form-col-4-8 alpha">
                <input name="{{ formset.prefix }}-0-website" value="http://" placeholder="http://" class="mws-textinput tabbable" maxlength="30" type="text" id="id_{{ formset.prefix }}-0-website" />
            </div>
            <div class="mws-form-col-1-8 formset-delete">
                <a href="javascript:" class="i-16 i-trash-1 blue {{ formset.prefix }}-delete-row"></a>
            </div>
        </div>
    </div>
{% endblock %}
