{% extends 'base_model_list_item.html' %}

{% load i18n media thumbnail utils %}

{% block item-edit-url %}{% url account_edit pk=item.pk %}{% endblock %}

{% block item-delete-url %}{% url account_delete pk=item.pk %}{% endblock %}

{% block item-columns %}
    <td class="item-image account hide_on_small_screen item-image account">
        {% if item.logo %}
            <img src="{% thumbnail item.logo 36x36 %}" alt="" />
        {% else %}
            <img src="{% media_url 'extra/images/core/unknown_account.png' %}" alt="" />
        {% endif %}
    </td>
    <td class="name">
        <div>
            <a href="{% url account_details pk=item.pk %}">
                {{ item.name }}
            </a>
        </div>
        {% with item.get_address as address %}
            {% if address.street %}
                <div class="address">{{ address.city }}</div>
            {% endif %}
            {% if address.country %}
                <div class="country">{{ address.get_country_display }}</div>
            {% endif %}
        {% endwith %}
    </td>
    <td class="details">
        {% if item.primary_email %}
            <div class="i-16 i-mail blue">
                <a href="mailto:{{ item.primary_email }}" title="{{ item.primary_email }}">{{ item.primary_email|truncatechars:"35" }}</a>
            </div>
        {% endif %}

        {% with item.get_work_phone as phone %}
            {% if phone.raw_input %}
                <div class="i-16 i-phone blue">
                    <a href="tel:{{ phone.number }}">{{ phone.raw_input }}</a>
                </div>
            {% endif %}
        {% endwith %}

        {% with item.get_mobile_phone as phone %}
            {% if phone.raw_input %}
                <div class="i-16 i-mobile blue">
                    <a href="tel:{{ phone.number }}">{{ phone.raw_input }}</a>
                </div>
            {% endif %}
        {% endwith %}
    </td>
    <td class="datetime created hide_on_small_screen">
        <div>
            {{ item.created|date:"d/m/Y" }}
        </div>
        <div>
            {{ item.created|date:"H:i:s" }}
        </div>
    </td>
    <td class="datetime modified hide_on_small_screen">
        <div>
            {{ item.modified|date:"d/m/Y" }}
        </div>
        <div>
            {{ item.modified|date:"H:i:s" }}
        </div>
    </td>
    <td class="tags">
        {% for tag in item.get_tags %}
            <a href="javascript:void(0)" class="tag">{{ tag }}</a><br />
        {% endfor %}
    </td>
{% endblock %}
