{% extends 'base_quickbutton_form.html' %}

{% load i18n media %}

{% block form-content %}
    <input type="hidden" id="add-account-submit" value="add" name="submit_button" />

    <div id="enrich-busy" style="display: none;">
        <div id="enrich-busy-message"></div>
        <img src="{% media_url 'extra/images/blue-loading.gif' %}" alt="" />
        <p>
            <a href="javascript:" id="enrich-account-cancel">{% trans 'Cancel' %}</a>
        </p>
    </div>
    <div class="mws-form-row">
        {{ form.website.label_tag }}
        <div class="mws-form-item large">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-7-8 alpha">
                     <div class="mws-form-item">
                        {% if form.website.errors %}
                            <span class="field_error">{{ form.website }}</span>
                            <div class="mws-error no_list_style_type">
                                {{ form.website.errors }}
                            </div>
                        {% else %}
                            {{ form.website }}
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-col-1-8 alpha">
                     <div class="mws-form-item">
                        <input type="button" id="enrich-account-quickbutton" class="mws-button blue tabbable" value="{% trans 'Enrich' %}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.name.label_tag }}
        <div class="mws-form-item large">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-4-8 alpha">
                    <div class="mws-form-item">
                        {% if form.name.errors %}
                            <span class="field_error">{{ form.name }}</span>
                            <div class="mws-error no_list_style_type">
                                {{ form.name.errors }}
                            </div>
                        {% else %}
                            {{ form.name }}
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-col-4-8">
                     <div class="mws-form-item">
                        <a href="#" class="existing-account-link hidden" title="{% trans 'Follow this link to edit an existing account' %}">{% trans 'Edit existing account' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.email.label_tag }}
        <div class="mws-form-item large">
            {% if form.email.errors %}
                <span class="field_error">{{ form.email }}</span>
                <div class="mws-error no_list_style_type">
                    {{ form.email.errors }}
                </div>
            {% else %}
                {{ form.email }}
            {% endif %}
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.phone.label_tag }}
        <div class="mws-form-item large">
            {% if form.phone.errors %}
                <span class="field_error">{{ form.phone }}</span>
                <div class="mws-error no_list_style_type">
                      {{ form.phone.errors }}
                </div>
            {% else %}
                {{ form.phone }}
            {% endif %}
        </div>
    </div>
{% endblock %}