{% load i18n %}
{% comment %}
Use {% include 'accounts/websites_formset_template.html' with formset_prefix=websites_formset.prefix %} to use this file.
{% endcomment %}

<div id="{{ formset_prefix }}-form-template">
    <div class="mws-form-item large">
        <div class="mws-form-cols clearfix">
            <div class="float-left">
                <div class="mws-form-col-row mws-form-item website">
                    <input name="{{ formset_prefix }}-0-website" value="http://" class="mws-textinput" maxlength="30" type="text" id="id_{{ formset_prefix }}-0-website" />
                </div>
            </div>
            <div class="float-left">
                <div class="mws-form-col-row mws-form-item formset-delete website">
                    <a href="javascript:" class="mws-i-24 i-cross {{ formset_prefix }}-delete-row"></a>
                </div>
            </div>
        </div>
    </div>
</div>