{% load i18n %}
{% comment %}
Use {% include 'accounts/websites_formset_template.html' with formset_prefix=websites_formset.prefix %} to use this file.
{% endcomment %}

<div id="{{ formset_prefix }}-form-template">
    <div class="mws-form-item large">
        <div class="mws-form-cols clearfix">
            <div class="mws-form-col-4-8 alpha">
                <input name="{{ formset_prefix }}-0-website" value="http://" class="mws-textinput tabbable" maxlength="30" type="text" id="id_{{ formset_prefix }}-0-website" />
            </div>
            <div class="mws-form-col-1-8 formset-delete">
                <a href="javascript:" class="i-16 i-trash-1 blue {{ formset_prefix }}-delete-row"></a>
            </div>
        </div>
    </div>
</div>