{% extends 'form.html' %}

{% load bootstrap3 i18n %}

{% block head-title %}
{% if object.pk %}
    {% trans 'Edit email template' %}
{% else %}
    {% trans 'Create email template' %}
{% endif %}
{% endblock %}

{% block page-container %}
    <form id="file_upload_form" action="" method="post" enctype="multipart/form-data" style="display: none;">
        {% csrf_token %}
        <input id="id_body_file" type="file" class="clearablefileinput" name="body_file" accept="text/html,text/plain">
    </form>
    {{ block.super }}
{% endblock %}

{% block form-fields %}
    {% if form.id.value %}
        {% bootstrap_field form.id field_class="col-md-4" label_class="col-md-2 control-label" %}
    {% endif %}
    {% bootstrap_field form.name field_class="col-md-4" label_class="col-md-2 control-label" %}
    {% bootstrap_field form.subject field_class="col-md-4" label_class="col-md-2 control-label" %}

    <div class="form-group">
        <div class="col-md-offset-2">
            <div class="col-md-4">
                {% trans 'Type your template below or upload your template file' %} <a href="javascript:void(0)" id="body_file_upload" class="body_file_upload" title="upload">here</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">{{ form.variables.label }}</label>
        {% bootstrap_field form.variables form_group_class="" field_class="col-md-2" label_class="hidden" %}
        {% bootstrap_field form.values form_group_class="" field_class="col-md-2" label_class="hidden" %}
        <div class="col-md-4">
            <button type="button" id="id_insert_button" name="variable_submit" class="btn default">{% trans 'Insert' %}</button>
            <button class="btn default" id="variable_preview_button" style="display:none;"><i class="fa fa-eye"></i> Preview</button>
            <span id="id_text_value" class="form-control-static"></span>
        </div>
    </div>
    {% bootstrap_field form.body_html field_class="col-md-10" label_class="col-md-2 control-label" %}
    {% bootstrap_field form.attachments field_class="col-md-10" label_class="col-md-2 control-label margin-top-10" %}
{% endblock %}
