{% verbatim %}
<div class="inbox-header inbox-view-header">
	<h1 class="pull-left">{{ message.subject }}</h1>
	<div class="pull-right">
		<i class="fa fa-print"></i>
	</div>
</div>
<div class="inbox-view-info">
	<div class="row">
		<div class="col-md-7">
			<span class="bold">{{ message.sender.name }}</span>
			<span> &#60;{{ message.sender.email_address }}&#62; </span>
			to
            <span ng-repeat="receiver in message.received_by">
                <span class="bold"> {{ receiver.name }} </span>
                <span> &#60;{{ receiver.email_address }}&#62; </span>
                <span ng-if="!$last"> & </span>
            </span>
			on {{ message.sent_date | relativeDate }}
		</div>
		<div class="col-md-5 inbox-info-btn">
			<div class="btn-group">
				<button data-messageid="23" class="btn blue reply-btn">
				    <i class="fa fa-reply"></i> Reply
                </button>
				<button class="btn blue dropdown-toggle" data-toggle="dropdown">
				    <i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu pull-right">
					<li>
						<a href="#" class="reply-btn">
						<i class="fa fa-reply"></i> Reply </a>
					</li>
					<li>
						<a href="#">
						<i class="fa fa-arrow-right reply-btn"></i> Forward </a>
					</li>
					<li>
						<a href="#">
						<i class="fa fa-print"></i> Print </a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#">
						<i class="fa fa-ban"></i> Spam </a>
					</li>
					<li>
						<a href="javascript:void(0)" ng-click="trashMessage()">
						<i class="fa fa-trash-o"></i> Trash </a>
					</li>
					<li>
						<a href="javascript:void(0)" ng-click="deleteMessage()">
						<i class="fa fa-trash-o"></i> Delete </a>
					</li>
                </ul>
                <a class="btn blue" href="javascript:void(0)" ng-click="archiveMessage()">
                    Archive <i class="fa fa-archive"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="inbox-view" ng-show="message.body_html" id="ifrm_container">
    <iframe resize-iframe ng-src="{{ message.bodyHTMLUrl | trustAsResourceUrl }}" class="col-xs-12 col-md-12 hidden"></iframe>
</div>
<div class="inbox-view" ng-hide="message.body_html">
    {{ message.body_text | nl2br }}
</div>
<hr>
<div class="inbox-attached" ng-show="message.attachments.length">
    <div class="margin-bottom-15">
        <span>
        {{ message.attachments.length }} attachments — </span>
        <a href="#">
        Download all attachments </a>
        <a href="#">
        View all images </a>
    </div>
    <div class="margin-bottom-25" ng-repeat="attachment in message.attachments">
        <div>
            <strong>{{ attachment.attachment }}</strong>
            <span>
            {{ attachment.size / 1024 | number: 0}} KB </span>
            <a href="/messaging/email/attachment/{{ attachment.id }}/">
            Download </a>
        </div>
    </div>
</div>
{% endverbatim %}
