{% load i18n bootstrap3 %}

<form class="form form-horizontal" action="{% url 'messaging_email_account_wizard_template' pk=email_address.id %}" method="post" data-async role="form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4>{% trans 'Configure e-mail account' %}</h4>
        <span class="label label-info">{% trans 'Step' %} {{ wizard.steps.step1 }} {% trans 'of' %} {{ wizard.steps.count }}</span>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        {{ wizard.management_form }}

        <div class="form-body">
            {% if wizard.form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable alert-link">
                    <button class="close" type="button" data-dismiss="alert" aria-hidden="true"></button>
                    {% for error in wizard.form.non_field_errors %}
                        {{ error }}{% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% block form-fields %}
                {% for field in form.visible_fields %}
                    {% bootstrap_field field layout="horizontal" field_class="col-md-8" label_class="col-md-4" %}
                {% endfor %}
                {% with form.preset_name as field %}
                    <div class="form-group {% if not field.value and not field.errors %}hide{% endif %} {% if field.errors  %}has-error{% endif %}">
                        <label class="col-md-4 control-label">{{ field.label }}</label>
                        <div class="col-md-8">
                            <input class="form-control" id="id_{{ wizard.steps.step0 }}-{{ field.name }}" name="{{ wizard.steps.step0 }}-{{ field.name }}" placeholder="{{ field.label }}" value="{% if field.value %}{{ field.value }}{% endif %}" type="text">
                            <span class="help-block">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% else %}
                                    {{ field.help_text }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                {% endwith %}
            {% endblock %}
            {% block scripts %}
                <script>
                    $(function ($) {
                        $('#emailaccount-configure').on('click', '#id_2-share_preset', function () {
                            if ($(this).is(':checked')) {
                                $('#id_2-preset_name').closest('.form-group').removeClass('hide');
                            } else {
                                $('#id_2-preset_name').closest('.form-group').addClass('hide');
                            }
                        });
                    });
                </script>
            {% endblock %}
        </div>
        <div data-async-response></div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">{% trans 'Cancel' %}</button>
        <!-- <button type="button" data-dismiss="modal" class="btn btn-default" {% if wizard.steps.current == '0' %}disabled="disabled"{% endif %}>{% trans 'Previous' %}</button> -->
        <button type="submit" class="btn btn-primary" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> {% trans 'Sending..' %}">{% trans 'Next' %}</button>
    </div>
</form>
