{% extends 'email/emailmessage_base.html' %}

{% load media i18n email bootstrap3 %}

{% block css %}
{{ block.super }}
{% include_media 'editor.css' %}
{% endblock %}

{% block inbox %}
<div class="col-md-10 emailmessage-detail">
    <div class="inbox-header">
        <h1 class="pull-left">{% trans 'Compose' %}</h1>
    </div>
    <div class="inbox-content">
        {{ form.non_field_errors }}

        <form class="inbox-compose form-horizontal" id="fileupload" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="inbox-compose-btn">
                <button type="submit" name="submit-send" class="btn green" data-loading-text="<i class='icon-spinner icon-spin'></i> {% trans 'Sending..' %}"><i class="icon-ok"></i>{% trans 'Send' %}</button>
                <button type="submit" name="submit-discard" class="btn blue" data-loading-text="<i class='icon-spinner icon-spin'></i> {% trans 'Discarding..' %}">{% trans 'Discard' %}</button>
                <button type="submit" name="submit-save" class="btn blue" data-loading-text="<i class='icon-spinner icon-spin'></i> {% trans 'Saving..' %}">{% trans 'Draft' %}</button>
            </div>
            <div class="inbox-form-group mail-from">
                <label class="control-label">{% trans 'From' %}:</label>
                <div class="controls controls-from">
                    {% bootstrap_field form.send_from layout="horizontal" show_label=False field_class="col-md-12" form_group_class="" %}
                </div>
            </div>
            <div class="inbox-form-group mail-to {% if form.errors.send_to_normal %}has-error{% endif %}">
                <label class="control-label">{% trans 'To' %}:</label>
                <div class="controls controls-to">
                    {% bootstrap_field form.send_to_normal layout="horizontal" show_label=False field_class="col-md-12" form_group_class="" %}
                    <span class="inbox-cc-bcc">
                        <span class="inbox-cc">{% trans 'Cc' %}</span>
                        <span class="inbox-bcc">{% trans 'Bcc' %}</span>
                    </span>
                </div>
                <div class="inbox-form-group input-cc display-hide">
                    <a href="javascript:;" class="close"></a>
                    <label class="control-label">{% trans 'Cc' %}:</label>
                    <div class="controls controls-cc">
                        {% bootstrap_field form.send_to_cc layout="horizontal" show_label=False field_class="col-md-12" form_group_class="" %}
                    </div>
                </div>
                <div class="inbox-form-group input-bcc display-hide">
                    <a href="javascript:;" class="close"></a>
                    <label class="control-label">{% trans 'Bcc' %}:</label>
                    <div class="controls controls-bcc">
                        {% bootstrap_field form.send_to_bcc layout="horizontal" show_label=False field_class="col-md-12" form_group_class="" %}
                    </div>
                </div>
            </div>
            <div class="inbox-form-group">
                <label class="control-label">{% trans 'Subject' %}:</label>
                <div class="controls">
                    {% bootstrap_field form.subject layout="horizontal" show_label=False field_class="col-md-12" form_group_class="" %}
                </div>
            </div>
            <div class="inbox-form-group">
                <label class="control-label">{% trans 'Template' %}:</label>
                <div class="controls">
                    {% bootstrap_field form.template layout="horizontal" show_label=False field_class="col-md-12" form_group_class="" %}
                </div>
            </div>
            <div class="inbox-form-group margin-bottom-10">
                {% bootstrap_field form.body_html layout="horizontal" show_label=False field_class=" " form_group_class="" %}
            </div>
            {% with formsets.attachments_formset as formset %}
            <div class="inbox-form-group mail-attachments">
                <label class="control-label">{{ formset.label }}:</label>
                <div class="controls controls-attachments">
                    <div class="col-md-12">
                        {% include formset.template with formset=formset.instance label=None %}
                    </div>
                </div>
            </div>
            {% endwith %}
            <div class="inbox-compose-btn">
                <button type="submit" name="submit-send" class="btn green" data-loading-text="<i class='icon-spinner icon-spin'></i> {% trans 'Sending..' %}"><i class="icon-ok"></i>{% trans 'Send' %}</button>
                <button type="submit" name="submit-discard" class="btn blue" data-loading-text="<i class='icon-spinner icon-spin'></i> {% trans 'Discarding..' %}">{% trans 'Discard' %}</button>
                <button type="submit" name="submit-save" class="btn blue" data-loading-text="<i class='icon-spinner icon-spin'></i> {% trans 'Saving..' %}">{% trans 'Draft' %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% include_media 'forms.js' language='en' %}
{% include_media 'editor.js' %}
<script>
$(function($) {
    Inbox.init();

    var template_list = {{ template_list|safe }};

    var last_selected = $("#id_template option:selected");
    $('#id_template').change(function(e) {
        var value = $(this).val();
        var text = $(this).find('option:selected').text();
        var subject_field = $('#id_subject');
        var html_field = $('#id_body_html');
        var wysihtml5Editor = html_field.data("wysihtml5").editor;
        var confirmation_text = '{% trans 'This will cause you to loose all data already entered within the email body and subject. Click "OK" to continue or "Cancel" to prevent this.' %}';

        if(subject_field.val() !== '' || html_field.val() !== '') {
            if(confirm(confirmation_text)) {
                if (value == '') {
                    subject_field.val('');
                    wysihtml5Editor.setValue('');
                } else {
                    subject_field.val(template_list[value]['subject']);
                    wysihtml5Editor.setValue(template_list[value]['html_part']);
                }
                last_selected = $("#id_template option:selected");
            } else {
                last_selected.attr('selected', true);
            }
        } else {
            subject_field.val(template_list[value]['subject']);
            wysihtml5Editor.setValue(template_list[value]['html_part']);
            last_selected = $("#id_template option:selected");
        }
    });
});
</script>
{% endblock %}
