{% load i18n email bootstrap3 %}

<div class="widget-heading">
    <div class="widget-title">
        <div class="widget-name">{% trans 'Compose' %}</div>
    </div>
    <div class="clearfix"></div>
</div>

<form class="inbox-compose form-horizontal" id="fileupload" method="POST" enctype="multipart/form-data" novalidate action="{{ request.path }}">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <input type="hidden" name="success_url" value="" />

    <div class="widget-sub-heading">
        <div class="hl-button-group-container">
            <ul class="hl-button-group">
                <li class="hl-button-group-btn">
                    <button class="hl-button-group-btn-link" type="submit" name="submit-send" send-checker send-draft><i class="fa fa-check"></i> Send</button>
                </li>

                {% if form.message_type == 'reply' or form.message_type == 'forward' %}
                    <li class="hl-button-group-btn">
                        <button class="hl-button-group-btn-link" type="submit" name="submit-send-archive" send-and-archive><i class="fa fa-archive"></i> {% trans 'Send and archive' %}</button>
                    </li>
                {% endif %}
            </ul>

            <ul class="hl-button-group">
                <li class="hl-button-group-btn">
                    <button class="hl-button-group-btn-link" type="submit" name="submit-save">Draft</button>
                </li>
                <li class="hl-button-group-btn">
                    <button class="hl-button-group-btn-link" type="button" ng-click="vm.discard()" name="submit-discard">Discard</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="inbox-content">
        <span class="text-danger">{{ form.non_field_errors }}</span>

        <div class="email-reply-meta-container">

            <div class="inbox-form-group mail-from">
                <label class="control-label">{% trans 'From' %}:</label>
                <div class="controls controls-from">
                    {% bootstrap_field form.send_from layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                </div>
            </div>

            <div class="mail-to">
                <div class="inbox-form-group {% if form.errors.send_to_normal %}has-error{% endif %}">
                    <label class="control-label">{% trans 'To' %}:</label>
                    <div class="controls controls-to">
                        {% bootstrap_field form.send_to_normal layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                <span class="inbox-cc-bcc">
                    <span class="inbox-cc">{% trans 'Cc' %}</span>
                    <span class="inbox-bcc">{% trans 'Bcc' %}</span>
                </span>
                    </div>
                </div>
                <div class="inbox-form-group input-cc{% if not form.send_to_cc.value %} display-hide{% endif %}">
                    <a href="javascript:void(0)" class="close"></a>
                    <label class="control-label">{% trans 'Cc' %}:</label>
                    <div class="controls controls-cc">
                        {% bootstrap_field form.send_to_cc layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                    </div>
                </div>
                <div class="inbox-form-group input-bcc{% if not form.send_to_bcc.value %} display-hide{% endif %}">
                    <a href="javascript:void(0)" class="close"></a>
                    <label class="control-label">{% trans 'Bcc' %}:</label>
                    <div class="controls controls-bcc">
                        {% bootstrap_field form.send_to_bcc layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                    </div>
                </div>
            </div>

            <div class="inbox-form-group">
                <label class="control-label">{% trans 'Subject' %}:</label>
                <div class="controls">
                    {% bootstrap_field form.subject layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                </div>
            </div>

            {% if template_list %}
                <div class="inbox-form-group">
                    <label class="control-label">{% trans 'Template' %}:</label>
                    <div class="controls">
                        {% bootstrap_field form.template layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                    </div>
                </div>
            {% endif %}

        </div>


        {% bootstrap_field form.body_html layout="horizontal" field_class="email-compose" form_group_class="inbox-form-group" label_class="hidden" %}

        {% if form.existing_attachments %}
            <div class="inbox-form-group mail-attachments">
                <label class="control-label">Forward attachments:</label>
                <div class="controls">
                    <div class="col-md-10">
                        <div class="template-attachment-row">
                            <div class="col-md-4 form-control-static">
                                {% bootstrap_field form.existing_attachments form_group_class="" field_class=field_class|default:"col-md-12" label_class="hidden" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        {% endif %}
        {{ form.attachments }}

        <div class="email-reply-actions-header">
            <ul class="email-inbox-actions">
                <li>
                    <button type="submit" name="submit-send" send-checker send-draft>
                        <i class="fa fa-check"></i>
                        {% trans 'Send' %}
                    </button>
                </li>{% if form.message_type == 'reply' or form.message_type == 'forward' %}<li>
                    <button type="submit" name="submit-send-archive" send-and-archive>
                        <i class="fa fa-archive"></i>
                        {% trans 'Send and archive' %}
                    </button>
                </li>
                {% endif %}
            </ul>
            <ul class="email-inbox-actions">
                <li>
                    <button type="submit" name="submit-save">{% trans 'Draft' %}</button>
                </li><li>
                    <button type="button" ng-click="vm.discard()">{% trans 'Discard' %}</button>
                </li>
            </ul>
        </div>
    </div>
</form>
