{% extends 'profile.html' %}

{% load i18n compressed %}

{% block scripts %}
    {{ block.super }}
    {% compressed_js 'password_strength' %}
{% endblock %}

{% block form %}
    <div class="portlet">
        <div class="portlet-title">
             <div class="caption">{% trans 'Your email accounts' %}</div>
        </div>
        <div class="portlet-body">
            <div class="col-md-8">
                <ul class="list-group">
                    {% for email_account in user_email_accounts %}
                        {% include 'email/emailaccount_list_item.html' %}
                    {% empty %}
                        <li class="list-group-item">
                            {% trans 'No email accounts setup.' %}
                        </li>
                    {% endfor %}
                    <li class="list-group-item">
                        <a href="{% url 'messaging_email_account_setup' %}" data-target="#emailaccount-modal">
                            {% trans 'Add an email account' %}
                        </a>
                        <br>
                        <i>{% trans 'Gmail Accounts only, link redirects to Google where you can authorize the email account you want to synchronize' %}</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet">
        <div class="portlet-title">
             <div class="caption">{% trans 'Email accounts shared with you' %}</div>
        </div>
        <div class="portlet-body">
            <div class="col-md-8">
                <ul class="list-group">
                    {% for email_account in shared_email_accounts %}
                        {% include 'email/emailaccount_list_item.html' %}
                    {% empty %}
                        <li class="list-group-item">
                            {% trans 'No email accounts shared with you.' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet">
        <div class="portlet-title">
             <div class="caption">{% trans 'Company email accounts' %}</div>
        </div>
        <div class="portlet-body">
            <div class="col-md-8">
                <ul class="list-group">
                    {% for email_account in company_email_accounts %}
                        {% include 'email/emailaccount_list_item.html' %}
                    {% empty %}
                        <li class="list-group-item">
                            {% trans 'No company wide email accounts.' %}
                        </li>
                    {% endfor %}
                    <li class="list-group-item">
                        <a href="{% url 'messaging_email_account_setup' %}" data-target="#emailaccount-modal">
                            {% trans 'Add an email account' %}
                        </a>
                        <br>
                        <i>{% trans 'Gmail Accounts only, link redirects to Google where you can authorize the email account you want to synchronize' %}</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
{{ block.super }}
<div class="hidden">
    <div id="emailaccount-modal" class="modal fade" tabindex="-1" role="dialog" data-focus-on=":input:visible:not(.close):first"></div>
</div>
{% endblock %}
