{% extends 'profile.html' %}

{% load i18n pipeline %}

{% block scripts %}
    {{ block.super }}
    {% javascript 'password_strength' %}
{% endblock %}

{% block form %}
    <div class="portlet">
        <div class="portlet-title">
             <div class="caption">{% trans 'Your email templates' %}</div>
        </div>
        <div class="portlet-body">
            <div class="col-md-8">
                <ul class="list-group">
                    {% for email_template in object_list %}
                        <li class="list-group-item">
                            {{ email_template }}
                            <span class="pull-right">
                                {% if email_template.default_for.exists %}
                                    <a class="btn btn-xs default toggle-content" data-source="{% url 'messaging_email_template_set_default' pk=email_template.pk %}" data-target="#emailtemplate-modal">
                                        <span><i class="icon-star"></i></span>
                                        <span style="display: none;"><i class="icon-star-half-empty"></i> {% trans 'Manage defaults' %}</span>
                                    </a>
                                {% else %}
                                    <a class="btn btn-xs default toggle-content" data-source="{% url 'messaging_email_template_set_default' pk=email_template.pk %}" data-target="#emailtemplate-modal">
                                        <span style="display: none;"><i class="icon-star-half-full"></i> {%  trans 'Make default' %}</span>
                                        <span><i class="icon-star-empty"></i></span>
                                    </a>
                                {% endif %}
                                <a href="{% url 'messaging_email_template_update' pk=email_template.pk %}" class="btn btn-xs default"><i class="icon-edit"></i></a>
                                <button class="btn btn-xs default" data-source="{% url 'messaging_email_template_delete' pk=email_template.pk %}" data-target="#emailtemplate-modal">
                                    <i class="icon-trash"></i>
                                </button>
                            </span>
                        </li>

                    {% endfor %}
                    <li class="list-group-item">
                        <a href="{% url 'messaging_email_template_create' %}">
                            {% trans 'Add an email template' %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ block.super }}
    <div class="hidden">
        <div id="emailtemplate-modal" class="modal fade" tabindex="-1" role="dialog" data-focus-on=":input:visible:not(.close):first"></div>
    </div>
{% endblock %}
