{% load i18n email bootstrap3 %}

<div class="inbox-header">
    <h1 class="pull-left">{% trans 'Compose' %}</h1>
</div>
<div class="inbox-content">
    <span class="text-danger">{{ form.non_field_errors }}</span>

    <form class="inbox-compose form-horizontal" id="fileupload" method="POST" enctype="multipart/form-data" novalidate action="{{ request.path }}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class="inbox-compose-btn">
            <button type="submit" name="submit-send" class="btn blue"><i class="fa fa-check"></i> Send</button>
            {% if form.message_type == 'reply' %}
                <button type="submit" name="submit-send-archive" class="btn blue"><i class="fa fa-archive"></i> {% trans 'Send and archive' %}</button>
            {% endif %}
            <button type="submit" name="submit-save" class="btn">Draft</button>
            <button type="submit" name="submit-discard" class="btn inbox-discard-btn">Discard</button>
        </div>
        <div class="inbox-form-group mail-from">
            <label class="control-label">{% trans 'From' %}:</label>
            <div class="controls controls-from">
                {% bootstrap_field form.send_from layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
            </div>
        </div>
        <div class="mail-to">
            <div class="inbox-form-group {% if form.errors.send_to_normal %}has-error{% endif %}">
                <label class="control-label">{% trans 'To' %}:</label>
                <div class="controls controls-to">
                    {% bootstrap_field form.send_to_normal layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                    <span class="inbox-cc-bcc">
                        <span class="inbox-cc">{% trans 'Cc' %}</span>
                        <span class="inbox-bcc">{% trans 'Bcc' %}</span>
                    </span>
                </div>
            </div>
            <div class="inbox-form-group input-cc{% if not form.send_to_cc.value %} display-hide{% endif %}">
                <a href="javascript:void(0)" class="close"></a>
                <label class="control-label">{% trans 'Cc' %}:</label>
                <div class="controls controls-cc">
                    {% bootstrap_field form.send_to_cc layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                </div>
            </div>
            <div class="inbox-form-group input-bcc{% if not form.send_to_bcc.value %} display-hide{% endif %}">
                <a href="javascript:void(0)" class="close"></a>
                <label class="control-label">{% trans 'Bcc' %}:</label>
                <div class="controls controls-bcc">
                    {% bootstrap_field form.send_to_bcc layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                </div>
            </div>
        </div>
        <div class="inbox-form-group">
            <label class="control-label">{% trans 'Subject' %}:</label>
            <div class="controls">
                {% bootstrap_field form.subject layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
            </div>
        </div>
        {% if template_list %}
            <div class="inbox-form-group">
                <label class="control-label">{% trans 'Template' %}:</label>
                <div class="controls">
                    {% bootstrap_field form.template layout="horizontal" label_class="hidden" field_class="no-spacing-right" form_group_class="" %}
                </div>
            </div>
        {% endif %}
        {% bootstrap_field form.body_html layout="horizontal" field_class="email-compose" form_group_class="inbox-form-group margin-bottom-10" label_class="hidden" %}
        {{ form.attachments }}

        <div class="inbox-compose-btn">
            <button type="submit" name="submit-send" class="btn blue"><i class="fa fa-check"></i> {% trans 'Send' %}</button>
            {% if form.message_type == 'reply' %}
                <button type="submit" name="submit-send-archive" class="btn blue"><i class="fa fa-archive"></i> {% trans 'Send and archive' %}</button>
            {% endif %}
            <button type="submit" name="submit-save" class="btn">{% trans 'Draft' %}</button>
            <button type="submit" name="submit-discard" class="btn">{% trans 'Discard' %}</button>
{#            <a href="{% url 'messaging_email_inbox' %}" class="btn btn-default">{% trans 'Cancel' %}</a>#}
        </div>
    </form>
</div>

{% comment %}
<div class="modal fade" id="modal_no_email_address" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans "I'm sorry" %}</h4>
            </div>
            <div class="modal-body">
                {% trans "I couldn't find a recipient, could you please fill in where I need to send this mail." %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">{% trans 'Ok' %}</button>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
