{% load i18n email %}

{% with right=object.sent_from_account %}
<li class="timeline-green history-list-item" data-sort-date="{{ object.sort_by_date|date:'U' }}">
    <div class="timeline-time{% if right %} time-right{% endif %}">
        <span class="date">{{ object.sent_date|date:"d M y" }}</span>
        <span class="time">{{ object.sent_date|date:"G:i" }}</span>
    </div>
    <div class="timeline-icon{% if right %} icon-right{% endif %}">
        <i class="icon-envelope"></i>
    </div>
    <div class="timeline-body{% if right %} body-right{% else %} body-left{% endif %}">
        <h2>{{ object.subject|truncatechars:45|default:_('No subject') }}{% if object.get_email_operation_icon %}<i class="{{ object.get_email_operation_icon }} pull-right timeline-operation-icon"></i>{% endif %}</h2>
        <div class="timeline-content">{{ left }}
            {{ object.textify|truncatechars:265|linebreaks|default:_('No details available') }}
        </div>
        <div class="timeline-footer">
            {% if object.textify %}
                <a href="{% url 'messaging_email_reply' pk=object.pk %}" class="nav-link pull-right">
                    Reply
                    <i class="icon-reply"></i>
                </a>
                <a href="{% url 'messaging_email_forward' pk=object.pk %}" class="nav-link pull-right">
                    Forward
                    <i class="icon-arrow-right"></i>
                </a>
            {% endif %}
            {% if object.is_readable %}
                <a href="{% url 'messaging_email_detail' pk=object.pk %}" class="nav-link pull-right">
                    View
                    <i class="icon-envelope"></i>
                </a>
            {% else %}
                <a href="javascript:void(0)" class="nav-link pull-right" data-target="#emailaccount-configure" data-source="{% url 'messaging_email_account_update' pk=object.account.pk %}" title="{% trans 'Start wizard to set up incoming and outgoing email for this address.' %}">
                    {% trans 'Inactive email account' %} <i class="icon-warning-sign"></i>
                </a>
            {% endif %}
            <a href="#" class="nav-link">
                <i class="icon-user"></i>
                {% if right %}
                    {{ object.account.from_name }}
                {% else %}
                    {% if object.from_name %}
                        <span title="{{ object.from_email }}">
                            {{ object.from_name }}
                        </span>
                    {% else %}
                        {{ object.from_email }}
                    {% endif %}
                {% endif %}
            </a>
        </div>
    </div>
 </li>
{% endwith %}
