{% load pipeline i18n %}

<html>
    <head>
        <style type="text/css">
            body { font-size: 13px; font-family: sans-serif; } pre, code { font-family: monospace; }
            blockquote { border-left: 1px solid darkgray; padding-left: 5px; margin: 5px 5px 5px 15px; }
        </style>
        {% if is_plain %}
            {% stylesheet 'typography' %}
        {% endif %}
    </head>

    {% if is_plain %}
        <body>
            <div style="white-space: pre-wrap;">{{ body|safe|linebreaksbr }}</div>
        </body>
    {% else %}
        {{ body|safe }}
    {% endif %}
</html>
