{% extends 'form.html' %}

{% load compressed bootstrap3 i18n %}

{% block head-title %}
{% if object.pk %}
    {% trans 'Edit email template' %}
{% else %}
    {% trans 'Create email template' %}
{% endif %}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'inbox' %}
    {% compressed_css 'wysihtml5' %}
{% endblock %}

{% block page-container %}
    <form id="file_upload_form" action="" method="post" enctype="multipart/form-data" style="display: none;">
        {% csrf_token %}
        <input id="id_body_file" type="file" class="clearablefileinput" name="body_file" accept="text/html,text/plain">
    </form>
    {{ block.super }}
{% endblock %}

{% block form-fields %}
    {% bootstrap_field form.name field_class="col-md-4" label_class="col-md-2 control-label" %}
    {% bootstrap_field form.subject field_class="col-md-4" label_class="col-md-2 control-label" %}

    <div class="form-group">
        <div class="col-md-offset-2">
            <div class="col-md-4">
                {% trans 'Type your template below or upload your template file' %} <a href="javascript:void(0)" id="body_file_upload" class="body_file_upload" title="upload">here</a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">{{ form.variables.label }}</label>
        {% bootstrap_field form.variables form_group_class="" field_class="col-md-2" show_label=False %}
        {% bootstrap_field form.values form_group_class="" field_class="col-md-2" show_label=False %}
        <div class="col-md-4">
            <button type="button" id="id_insert_button" name="variable_submit" class="btn default">{% trans 'Insert' %}</button>
            <span id="id_text_value" class="form-control-static"></span>
        </div>
    </div>
    {% bootstrap_field form.body_html field_class="col-md-10" label_class="col-md-2 control-label" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compressed_js 'emailtemplate' %}
    {% compressed_js 'wysihtml5' %}
<script>
var parameter_choices = {{ parameter_choices|safe }};
$(function($) {
    Inbox.init();

    $('#id_values').change(function() {

        var text_value_input = $('#id_text_value');
        var text_value = $(this).val();

        if (text_value !== ''){
            text_value_input.html('{% templatetag openvariable %} ' + text_value + ' {% templatetag closevariable %}')
        } else {
            text_value_input.html('');
        }
    });

    $('#id_body_file').change(function() {
        var form = $(this).closest('form');
        var value = form.find('#id_body_file').val();

        if (value) {
            $(form).ajaxStart(function() {
                App.blockUI($(form).nextAll('form').eq(0), false, '');
            }).ajaxStop(function() {
                App.unblockUI($(form).nextAll('form').eq(0));
            }).ajaxSubmit({
                type: 'post',
                dataType: 'json',
                url: '{% url 'messaging_email_template_parse' %}',
                success: function(response) {
                    if(!response.error && response.form) {
                        var fields = ['name', 'subject'];
                        $.each(fields, function(index, field) {
                            if(response.form.hasOwnProperty(field)) {
                                $('#id_' + field).val(response.form[field]);
                            }
                        });

                        // set the html
                        var wedit = $('#id_body_html').data("wysihtml5").editor;
                        wedit.setValue(response.form.body_html);
                        wedit.focus();
                        wedit.composer.element.blur();
                    }

                    // loads notifications if any
                    load_notifications();
                },
                error: function() {
                    // loads notifications if any
                    load_notifications();
                }
            });
            // $(form).ajaxSubmit({
            //     type: 'post',
            //     dataType: 'json',
            //     url: '{% url 'messaging_email_template_parse' %}',
            //     success: function(response) {
            //         if (response.valid) {
            //             if (response.name !== undefined) {
            //                 $('#id_name').val(response.name);
            //             }

            //             if (response.description) {
            //                 var description = $('#id_description');
            //                 description.val(response.description);
            //                 description.trigger('update');
            //             }

            //             if (response.subject) {
            //                 $('#id_subject').val(response.subject)
            //             }

            //             if (response.html_part) {
            //                 var body_html = $('#email-body').contents().find('#email-content');
            //                 body_html.html(response.html_part);
            //             }

            //             if (response.text_part) {
            //                 var body_text = $('#id_body_text');
            //                 body_text.val(response.text_part);
            //                 body_text.trigger('update');
            //             }
            //         } else {
            //             $('#templateDialogMessage').html(response.errors['body_file']);
            //             $("#templateDialog").dialog('open');
            //         }
            //     }, error: function(){
            //         $("#errorDialog").dialog('open');
            //     }
            // });
        }
    });
});
</script>
{% endblock %}
