{% extends 'list.html' %}

{% load i18n utils pipeline %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'inbox' %}
{% endblock %}

{% block head-title %}{% trans 'Email' %}{% endblock %}

{% block page-container %}
    {% verbatim %}
    <div class="portlet" ng-cloak>
        <div class="portlet-title">
            <div class="caption">Email</div>
        </div>
        <div class="portlet-body" ui-view></div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% javascript 'angularapp' %}
{% endblock %}
