{% extends 'email/emailmessage_base.html' %}

{% load i18n email %}

{% block inbox %}
<div class="col-md-10 emailmessage-detail">
    <div class="inbox-header">
        <h1 class="pull-left">{{ folder_name }} {% if active_email_address %}<small>{% trans 'in' %} {{ active_email_account.email.email_address }}</small>{% endif %}</h1>
    </div>
    <div class="inbox-content">
        <div class="inbox-header inbox-view-header">
            <h1 class="pull-left">{{ object.subject }} <a href="{% url messaging_email_account_folder account_id=active_email_account.id folder=object.folder_name|urlencode %}">{{ object.folder_name }}</a></h1>
            {% comment %}
            <div class="pull-right"><i class="icon-print"></i></div>
            {% endcomment %}
        </div>
        <div class="inbox-view-info">
            <div class="row">
                <div class="col-xs-8 col-md-9 col-lg-10">
                   <span class="bold"><abbr title="{{ object.sent_date|pretty_datetime:'%d %B %Y %H:%M' }}">{{ object.sent_date|pretty_datetime_relative }}</abbr></span> {% trans 'by' %} <span class="bold">{{ object.from_name }}</span> {% trans 'from' %}
                    <span>&#60;{{ object.from_email }}&#62;</span> to <span>{{ object.to_email }}</span>
                </div>
                <div class="col-xs-4 col-md-3 col-lg-2 inbox-info-btn">
                    <div class="btn-group">
                        {% if object.all_mail_folder %}
                            <form action="{% url move_messages_view %}" method="post" id="archive-form-{{ object.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="ids[]" value="{{ object.id }}">
                            <input type="hidden" name="folder" value="{{ object.all_mail_folder }}">
                            <input type="hidden" name="next" value="{% url messaging_email_account_folder account_id=active_email_account.id folder=object.folder_name|urlencode %}">
                            </form>
                            <a class="btn blue archive-btn" href="{% url move_messages_view %}" data-form-submit data-form-selector="#archive-form-{{ object.id }}"><i class="icon-archive"></i> {% trans 'Archive' %}</a>
                        {% endif %}
                        <button class="btn blue reply-btn" data-href="{% url messaging_email_reply pk=object.id %}">
                            <i class="icon-reply"></i> {% trans 'Reply' %}
                        </button>
                        <button class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <i class="icon-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="{% url messaging_email_reply pk=object.id %}"><i class="icon-reply"></i> {% trans 'Reply' %}</a>
                            </li>
                            {% comment %}
                            <li>
                                <a href="#"><i class="icon-reply-all"></i> {% trans 'Reply All' %}</a>
                            </li>
                            {% endcomment %}
                            <li>
                                <a href="{% url messaging_email_forward pk=object.id %}"><i class="icon-arrow-right"></i> {% trans 'Forward' %}</a>
                            </li>
                            {% comment %}
                            <li>
                                <a href="#"><i class="icon-print"></i> {% trans 'Print' %}</a>
                            </li>
                            {% endcomment %}
                            <li>
                                <form action="{% url messaging_mark_unread %}" method="post" id="mark-unread-form-{{ object.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="ids[]" value="{{ object.id }}">
                                <input type="hidden" name="next" value="{% url messaging_email_account_folder account_id=active_email_account.id folder=object.folder_name|urlencode %}">
                                </form>
                                <a href="{% url messaging_mark_unread %}" data-form-submit data-form-selector="#mark-unread-form-{{ object.id }}"><i class="icon-fixed-width"></i> {% trans 'Mark as unread' %}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <form action="{% url messaging_move_trash %}" method="post" id="delete-form-{{ object.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="ids[]" value="{{ object.id }}">
                                <input type="hidden" name="next" value="{% url messaging_email_account_folder account_id=active_email_account.id folder=object.folder_name|urlencode %}">
                                </form>
                                <a href="{% url messaging_move_trash %}" data-form-submit data-form-selector="#delete-form-{{ object.id }}"><i class="icon-trash"></i> {% trans 'Delete' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="inbox-loading">
            <i class="icon-spinner icon-spin"></i> {% trans 'Loading..' %}
        </div>
        <div class="inbox-view">
            {% comment %}
            <iframe src="{% url messaging_email_html object.pk %}" class="col-xs-12 col-md-12" data-scroller="true" data-always-visible="1" data-rail-visible="1" scrolling="no"></iframe>
            {% endcomment %}
            <iframe src="{% url messaging_email_html object.pk %}" class="col-xs-12 col-md-12"></iframe>
        </div>
        {% if object.attachments.count > 0 %}
        <hr>
        <div class="inbox-attached">
            <div class="margin-bottom-15">
                <span>{% blocktrans count object.attachments.count as counter %}{{ counter }} attachment{% plural %}{{ counter }} attachments{% endblocktrans %}</span>
            </div>
            {% for attachment in object.attachments.all %}
            <div class="margin-bottom-25">
                <div>
                    <strong>{{ attachment }}</strong>
                    <span>{{ attachment.size|filesizeformat }}</span>
                    <a href="{% url email_attachment_proxy_view pk=attachment.pk path=attachment.attachment.name %}">{% trans 'Download' %}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
