{% load i18n %}

<form class="form form-horizontal" action="" method="post" data-async role="form"><div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4>{% trans 'Wizard finished' %}</h4>
    </div>
    <div class="modal-body">
        {% url 'messaging_email_inbox' as inbox_url %}

        {% blocktrans with inbox_url=inbox_url %}
        Looks like you've finished configuring this e-mail address. To read your e-mail, please give the system a few minutes before heading over to <a href="{{ inbox_url }}">your inbox</a>!
        {% endblocktrans %}
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default" disabled="disabled">{% trans 'Cancel' %}</button>
        <!-- <button type="button" data-dismiss="modal" class="btn btn-default" disabled="disabled">{% trans 'Previous' %}</button> -->
        <button type="button" data-dismiss="modal" class="btn btn-primary">{% trans 'Close' %}</button>
    </div>
</form>
