{% extends 'page.html' %}

{% load pipeline i18n email activelink js_injector static %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'inbox' %}
    {% stylesheet 'tree' %}
{% endblock %}

{% block hor-menu %}
{{ block.super }}
<li>
    <a href="{% url 'messaging_email_template_list' %}">{% trans 'View e-mail templates' %}</a>
</li>
<li>
    <a href="{% url 'messaging_email_template_create' %}">{% trans 'Add an e-mail template' %}</a>
</li>
{% endblock %}

{% block page-content %}
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">{% block page-title %}{% trans 'Mailbox' %} <small>{{ list_title }}</small>{% endblock %}</h3>
        {% block page-actions-button %}{% endblock %}
    </div>
</div>
{% block container %}
<div class="row inbox">
    <div class="col-md-2">
        <div class="inbox-nav margin-bottom-10">
            <div class="compose-btn margin-bottom-20">
                <a href="{% url 'messaging_email_compose' %}" class="btn green btn-block">
                    <i class="icon-edit"></i> {% trans 'Compose' %}
                </a>
            </div>
        </div>
    </div>
    {% block inbox %}{% endblock %}
</div>
{% endblock %}
{% endblock %}

{% block modals %}
{{ block.super }}
<div class="hidden">
    <div id="emailaccount-configure" class="modal fade" tabindex="-1" role="dialog" data-focus-on=":input:visible:not(.close):first"></div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% javascript 'inbox' %}
    <script>
    $(function($) {
        HLInbox.init({
            accountDeactivatedMessage: '{% blocktrans %}Your account doesn\'t seem to be active. Please activate your account to view your email.{% endblocktrans %}',
            inboxFrame: $('.inbox-view iframe')[0],
            overwriteTemplateConfirm: '{% blocktrans %}Selecting a different template will overwrite the text you\'ve typed. Do you want to load the template anyway?{% endblocktrans %}'
        });
    });
    </script>
{% endblock %}
