{% load i18n bootstrap3 %}
<div class="inbox-form-group mail-attachments">
    <label class="control-label">{% trans 'Attachments' %}:</label>
    <div class="controls">
        <div class="col-md-12">
            <div class="attachments_formset_wrapper" id="attachments">
                <div class="formset" data-formset-prefix="{{ formset.prefix }}" data-formset-indent="false">
                    {{ formset.management_form }}
                    <div data-formset-body>
                        <!-- New forms will be inserted in here -->
                        <input id="template-attachment-ids" name="template_attachment_ids" type="hidden" />
                        <div id="empty-template-attachment-row" class="hidden form-group">
                            <div class="template-attachment-row">
                                <div class="col-md-4 form-control-static">
                                    <input type="hidden" class="template-attachment-id" />
                                    <div class="template-attachment-name"></div>
                                </div>
                                <div class="col-md-1">
                                    <a href="javascript:void(0)" data-formset-undo-delete class="btn btn-sm default hidden" title="{% trans 'Undo the deletion of this row' %}">
                                        <i class="icon-undo"></i>
                                    </a>
                                    <a href="javascript:void(0)" data-formset-delete-button class="btn btn-sm default" title="{% trans 'Delete this row' %}">
                                        <i class="icon-trash"></i>
                                    </a>
                                    {% bootstrap_field formset.empty_form.DELETE form_group_class="form-group-inline hidden" %}
                                </div>
                            </div>
                        </div>
                        <div id="template-attachments"></div>
                        {% for form in formset %}
                            <div data-formset-form>
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                <div class="form-group">
                                    {% bootstrap_field form.attachment layout="horizontal" form_group_class="form-group-inline" field_class="col-md-4 form-control-static" show_label=False %}
                                    {% if formset.can_delete %}
                                        <div class="col-md-1">
                                            <a href="javascript:void(0)" data-formset-undo-delete class="btn btn-sm default hidden" title="{% trans 'Undo the deletion of this row' %}">
                                                <i class="icon-undo"></i>
                                            </a>
                                            <a href="javascript:void(0)" data-formset-delete-button class="btn btn-sm default" title="{% trans 'Delete this row' %}">
                                                <i class="icon-trash"></i>
                                            </a>
                                            {% bootstrap_field form.DELETE form_group_class="form-group-inline hidden" %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group add-link">
                        <label class="control-label hide">
                            {{ formset.empty_form.attachment.label }}
                        </label>
                        <div class="form-control-static col-md-4">
                            <a href="javascript:void(0)" data-formset-add>{% trans 'Add an attachment' %}</a>
                        </div>
                    </div>
                    <!-- The empty form template. By wrapping this in a <script> tag, the __prefix__ placeholder can easily be replaced in both attributes and any scripts -->
                    <script type="form-template" data-formset-empty-form>
                        <div data-formset-form>
                            <div class="form-group">
                                {% bootstrap_field formset.empty_form.attachment layout="horizontal" form_group_class="form-group-inline" field_class="col-md-4 form-control-static" show_label=False %}
                                <div class="col-md-1">
                                    <a href="javascript:void(0)" data-formset-undo-delete class="btn btn-sm default hidden" title="{% trans 'Undo the deletion of this row' %}">
                                        <i class="icon-undo"></i>
                                    </a>
                                    <a href="javascript:void(0)" data-formset-delete-button class="btn btn-sm default" title="{% trans 'Delete this row' %}">
                                        <i class="icon-trash"></i>
                                    </a>
                                    {% bootstrap_field formset.empty_form.DELETE form_group_class="form-group-inline hidden" %}
                                </div>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
