<div class="btn-group radio-btns" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input checked="checked" class="" data-skip-uniform="true" data-uniformed="true" id="id_is_public_0"
        name="is_public" title="A public template variable is available to everyone in your organisation"
        type="radio" value="False">
            No
    </label>
    <label class="btn btn-primary ">
        <input class="" data-skip-uniform="true" data-uniformed="true" id="id_is_public_1" name="is_public"
        title="A public template variable is available to everyone in your organisation" type="radio"
        value="True">
            Yes
    </label>
</div>
