{% verbatim %}
<div class="row inbox">
    <div class="col-md-2" ng-controller="LabelListController">
        <ul class="inbox-nav margin-bottom-10">
            <li class="compose-btn">
                <a href="/messaging/email/compose/" data-title="Compose" class="btn green">
                    <i class="fa fa-edit"></i> Compose </a>
            </li>
        </ul>
        <ul class="inbox-nav margin-bottom-10">
            <li class="inbox" ui-sref-active="active">
                <a class="btn" ui-sref="email.list({labelId:'INBOX'})">
                    Inbox <span ng-if="labelCount['INBOX'] > 0"> ({{ labelCount['INBOX'] }})</span>
                </a>
                <b></b>
            </li>
            <li class="sent" ui-sref-active="active">
                <a class="btn" ui-sref="email.list({labelId:'SENT'})">
                    Sent <span ng-if="labelCount['SENT'] > 0"> ({{ labelCount['SENT'] }})</span>
                </a>
                <b></b>
            </li>
            <li class="draft" ui-sref-active="active">
                <a class="btn" ui-sref="email.list({labelId:'DRAFT'})">
                    Draft <span ng-if="labelCount['DRAFT'] > 0"> ({{ labelCount['DRAFT'] }})</span>
                </a>
                <b></b>
            </li>
            <li class="trash" ui-sref-active="active">
                <a class="btn" ui-sref="email.list({labelId:'TRASH'})">
                    Trash <span ng-if="labelCount['TRASH'] > 0"> ({{ labelCount['TRASH'] }})</span>
                </a>
                <b></b>
            </li>
            <li class="allmail">
                <a class="btn" ui-sref="email.list({labelId:''})">All mail</a>
                <b></b>
            </li>
        </ul>
        <ul class="inbox-nav margin-bottom-10" ng-repeat="account in accountList | orderBy:id">
            <li class="mailbox-header">{{ account.label }}</li>
            <li class="inbox" ui-sref-active="active">
                <a class="btn" ui-sref="email.accountList({labelId:'INBOX', accountId: account.id})">
                    Inbox <span ng-if="hasUnreadLabel(account, 'INBOX')"> ({{ unreadCountForLabel(account, 'INBOX') }})</span>
                </a>
                <b></b>
            </li>
            <li class="sent" ui-sref-active="active">
                <a class="btn" ui-sref="email.accountList({labelId:'SENT', accountId: account.id})">
                    Sent <span ng-if="hasUnreadLabel(account, 'SENT')"> ({{ unreadCountForLabel(account, 'SENT') }})</span>
                </a>
                <b></b>
            </li>
            <li class="draft" ui-sref-active="active">
                <a class="btn" ui-sref="email.accountList({labelId:'DRAFT', accountId: account.id})">
                    Draft <span ng-if="hasUnreadLabel(account, 'DRAFT')"> ({{ unreadCountForLabel(account, 'DRAFT') }})</span>
                </a>
                <b></b>
            </li>
            <li class="trash" ui-sref-active="active">
                <a class="btn" ui-sref="email.accountList({labelId:'TRASH', accountId: account.id})">
                    Trash <span ng-if="hasUnreadLabel(account, 'TRASH')"> ({{ unreadCountForLabel(account, 'TRASH') }})</span>
                </a>
                <b></b>
            </li>
            <li ng-repeat="label in account.labels | orderBy:id" class="inbox" ng-if="label.label_type != 0" ui-sref-active="active">
                <a class="btn" ui-sref="email.accountList({labelId: label.label_id, accountId: account.id})">
                    {{ label.name }}<span ng-if="label.unread > 0"> ({{ label.unread }})</span></a>
                <b></b>
            </li>
            <li class="allmail" ui-sref-active="active">
                <a class="btn" ui-sref="email.accountAllList({accountId: account.id})">All mail</a>
                <b></b>
            </li>
        </ul>
    </div>
    <div class="col-md-10" ui-view></div>
</div>
{% endverbatim %}
