{% extends 'form.html' %}

{% load bootstrap3 i18n %}

{% block head-title %}
{% if object.pk %}
    {% trans 'Edit template variable' %}
{% else %}
    {% trans 'Create template variable' %}
{% endif %}
{% endblock %}

{% block page-container %}
    {{ block.super }}
{% endblock %}

{% block form-fields %}
    {% bootstrap_field form.name field_class="col-md-4" label_class="col-md-2 control-label" %}

    <div class="form-group">
        <label class="col-md-2 control-label">{{ form.variables.label }}</label>
        {% bootstrap_field form.variables form_group_class="" field_class="col-md-2" label_class="hidden" %}
        {% bootstrap_field form.values form_group_class="" field_class="col-md-2" label_class="hidden" %}
        <div class="col-md-4">
            <button type="button" id="id_insert_button" name="variable_submit" class="btn default">{% trans 'Insert' %}</button>
            <span id="id_text_value" class="form-control-static"></span>
        </div>
    </div>

    {% bootstrap_field form.text field_class="col-md-10" label_class="col-md-2 control-label" %}

    {% bootstrap_field form.is_public field_class="col-md-4" label_class="col-md-2 control-label" %}
{% endblock %}
