.mws-i-20{background-repeat:no-repeat; background-position: 10px center;}
.mws-i-20.i-abacus{background-image:url(20/abacus.png);}
.mws-i-20.i-acces-denied-sign{background-image:url(20/acces-denied-sign.png);}
.mws-i-20.i-address-book-1{background-image:url(20/address-book-1.png);}
.mws-i-20.i-address-book-2{background-image:url(20/address-book-2.png);}
.mws-i-20.i-address-book-3{background-image:url(20/address-book-3.png);}
.mws-i-20.i-address-book-4{background-image:url(20/address-book-4.png);}
.mws-i-20.i-address-book-5{background-image:url(20/address-book-5.png);}
.mws-i-20.i-address-book{background-image:url(20/address-book.png);}
.mws-i-20.i-adidas-sport-shirt{background-image:url(20/adidas-sport-shirt.png);}
.mws-i-20.i-admin-user-2{background-image:url(20/admin-user-2.png);}
.mws-i-20.i-admin-user{background-image:url(20/admin-user.png);}
.mws-i-20.i-airplane{background-image:url(20/airplane.png);}
.mws-i-20.i-alarm-bell-2{background-image:url(20/alarm-bell-2.png);}
.mws-i-20.i-alarm-bell{background-image:url(20/alarm-bell.png);}
.mws-i-20.i-alarm-clock{background-image:url(20/alarm-clock.png);}
.mws-i-20.i-alert-2{background-image:url(20/alert-2.png);}
.mws-i-20.i-alert{background-image:url(20/alert.png);}
.mws-i-20.i-american-express{background-image:url(20/american-express.png);}
.mws-i-20.i-android{background-image:url(20/android.png);}
.mws-i-20.i-apartment-building{background-image:url(20/apartment-building.png);}
.mws-i-20.i-applications{background-image:url(20/applications.png);}
.mws-i-20.i-archive{background-image:url(20/archive.png);}
.mws-i-20.i-arrow-down{background-image:url(20/arrow-down.png);}
.mws-i-20.i-arrow-left{background-image:url(20/arrow-left.png);}
.mws-i-20.i-arrow-right{background-image:url(20/arrow-right.png);}
.mws-i-20.i-arrow-up{background-image:url(20/arrow-up.png);}
.mws-i-20.i-bag-2{background-image:url(20/bag-2.png);}
.mws-i-20.i-bag{background-image:url(20/bag.png);}
.mws-i-20.i-balloons{background-image:url(20/balloons.png);}
.mws-i-20.i-bandaid{background-image:url(20/bandaid.png);}
.mws-i-20.i-bar-graph{background-image:url(20/bar-graph.png);}
.mws-i-20.i-battery-almost-empty{background-image:url(20/battery-almost-empty.png);}
.mws-i-20.i-battery-almost-full{background-image:url(20/battery-almost-full.png);}
.mws-i-20.i-battery-empty{background-image:url(20/battery-empty.png);}
.mws-i-20.i-battery-full{background-image:url(20/battery-full.png);}
.mws-i-20.i-battery{background-image:url(20/battery.png);}
.mws-i-20.i-bended-arrow-down{background-image:url(20/bended-arrow-down.png);}
.mws-i-20.i-bended-arrow-left{background-image:url(20/bended-arrow-left.png);}
.mws-i-20.i-bended-arrow-right{background-image:url(20/bended-arrow-right.png);}
.mws-i-20.i-bended-arrow-up{background-image:url(20/bended-arrow-up.png);}
.mws-i-20.i-big-brush{background-image:url(20/big-brush.png);}
.mws-i-20.i-bills-stack{background-image:url(20/bills-stack.png);}
.mws-i-20.i-blackberry-2{background-image:url(20/blackberry-2.png);}
.mws-i-20.i-blackberry-3{background-image:url(20/blackberry-3.png);}
.mws-i-20.i-blackberry{background-image:url(20/blackberry.png);}
.mws-i-20.i-blocks-images{background-image:url(20/blocks-images.png);}
.mws-i-20.i-blu-ray{background-image:url(20/blu-ray.png);}
.mws-i-20.i-bluetooth-2{background-image:url(20/bluetooth-2.png);}
.mws-i-20.i-bluetooth{background-image:url(20/bluetooth.png);}
.mws-i-20.i-book-bookmark{background-image:url(20/book-bookmark.png);}
.mws-i-20.i-book-large{background-image:url(20/book-large.png);}
.mws-i-20.i-book{background-image:url(20/book.png);}
.mws-i-20.i-bookmark{background-image:url(20/bookmark.png);}
.mws-i-20.i-books-2{background-image:url(20/books-2.png);}
.mws-i-20.i-books{background-image:url(20/books.png);}
.mws-i-20.i-box-incoming-2{background-image:url(20/box-incoming-2.png);}
.mws-i-20.i-box-incoming{background-image:url(20/box-incoming.png);}
.mws-i-20.i-box-outgoing-2{background-image:url(20/box-outgoing-2.png);}
.mws-i-20.i-box-outgoing{background-image:url(20/box-outgoing.png);}
.mws-i-20.i-bulls-eye{background-image:url(20/bulls-eye.png);}
.mws-i-20.i-calculator{background-image:url(20/calculator.png);}
.mws-i-20.i-calendar-today{background-image:url(20/calendar-today.png);}
.mws-i-20.i-camera-2{background-image:url(20/camera-2.png);}
.mws-i-20.i-camera{background-image:url(20/camera.png);}
.mws-i-20.i-candy-cane{background-image:url(20/candy-cane.png);}
.mws-i-20.i-car{background-image:url(20/car.png);}
.mws-i-20.i-cash-register{background-image:url(20/cash-register.png);}
.mws-i-20.i-cassette{background-image:url(20/cassette.png);}
.mws-i-20.i-cat{background-image:url(20/cat.png);}
.mws-i-20.i-cd{background-image:url(20/cd.png);}
.mws-i-20.i-cell-phone-reception{background-image:url(20/cell-phone-reception.png);}
.mws-i-20.i-chair{background-image:url(20/chair.png);}
.mws-i-20.i-chart-2{background-image:url(20/chart-2.png);}
.mws-i-20.i-chart-3{background-image:url(20/chart-3.png);}
.mws-i-20.i-chart-4{background-image:url(20/chart-4.png);}
.mws-i-20.i-chart-5{background-image:url(20/chart-5.png);}
.mws-i-20.i-chart-6{background-image:url(20/chart-6.png);}
.mws-i-20.i-chart-7{background-image:url(20/chart-7.png);}
.mws-i-20.i-chart-8{background-image:url(20/chart-8.png);}
.mws-i-20.i-chart{background-image:url(20/chart.png);}
.mws-i-20.i-check{background-image:url(20/check.png);}
.mws-i-20.i-chemical{background-image:url(20/chemical.png);}
.mws-i-20.i-chrome{background-image:url(20/chrome.png);}
.mws-i-20.i-clapboard{background-image:url(20/clapboard.png);}
.mws-i-20.i-clipboard-1{background-image:url(20/clipboard-1.png);}
.mws-i-20.i-clipboard{background-image:url(20/clipboard.png);}
.mws-i-20.i-clock-1{background-image:url(20/clock-1.png);}
.mws-i-20.i-clock-2{background-image:url(20/clock-2.png);}
.mws-i-20.i-clock{background-image:url(20/clock.png);}
.mws-i-20.i-cloud-download{background-image:url(20/cloud-download.png);}
.mws-i-20.i-cloud-lightning-rain{background-image:url(20/cloud-lightning-rain.png);}
.mws-i-20.i-cloud-lightning{background-image:url(20/cloud-lightning.png);}
.mws-i-20.i-cloud-rain-shining-sun{background-image:url(20/cloud-rain-shining-sun.png);}
.mws-i-20.i-cloud-rain-sun{background-image:url(20/cloud-rain-sun.png);}
.mws-i-20.i-cloud-upload{background-image:url(20/cloud-upload.png);}
.mws-i-20.i-cloud{background-image:url(20/cloud.png);}
.mws-i-20.i-cog-2{background-image:url(20/cog-2.png);}
.mws-i-20.i-cog-3{background-image:url(20/cog-3.png);}
.mws-i-20.i-cog-4{background-image:url(20/cog-4.png);}
.mws-i-20.i-cog-5{background-image:url(20/cog-5.png);}
.mws-i-20.i-cog{background-image:url(20/cog.png);}
.mws-i-20.i-companies{background-image:url(20/companies.png);}
.mws-i-20.i-computer-imac{background-image:url(20/computer-imac.png);}
.mws-i-20.i-coverflow{background-image:url(20/coverflow.png);}
.mws-i-20.i-create{background-image:url(20/create.png);}
.mws-i-20.i-creditcard{background-image:url(20/creditcard.png);}
.mws-i-20.i-cross{background-image:url(20/cross.png);}
.mws-i-20.i-crosshair{background-image:url(20/crosshair.png);}
.mws-i-20.i-cup{background-image:url(20/cup.png);}
.mws-i-20.i-cut-scissors{background-image:url(20/cut-scissors.png);}
.mws-i-20.i-cut{background-image:url(20/cut.png);}
.mws-i-20.i-day-calendar{background-image:url(20/day-calendar.png);}
.mws-i-20.i-delicious{background-image:url(20/delicious.png);}
.mws-i-20.i-digg-2{background-image:url(20/digg-2.png);}
.mws-i-20.i-digg-3{background-image:url(20/digg-3.png);}
.mws-i-20.i-digg-4{background-image:url(20/digg-4.png);}
.mws-i-20.i-digg{background-image:url(20/digg.png);}
.mws-i-20.i-document-1{background-image:url(20/document-1.png);}
.mws-i-20.i-document{background-image:url(20/document.png);}
.mws-i-20.i-documents-1{background-image:url(20/documents-1.png);}
.mws-i-20.i-documents{background-image:url(20/documents.png);}
.mws-i-20.i-dog-tag{background-image:url(20/dog-tag.png);}
.mws-i-20.i-dog-tags{background-image:url(20/dog-tags.png);}
.mws-i-20.i-download-to-computer{background-image:url(20/download-to-computer.png);}
.mws-i-20.i-download{background-image:url(20/download.png);}
.mws-i-20.i-dress{background-image:url(20/dress.png);}
.mws-i-20.i-dribbble-2{background-image:url(20/dribbble-2.png);}
.mws-i-20.i-dribbble-3{background-image:url(20/dribbble-3.png);}
.mws-i-20.i-dribbble-4{background-image:url(20/dribbble-4.png);}
.mws-i-20.i-dribbble{background-image:url(20/dribbble.png);}
.mws-i-20.i-dropbox{background-image:url(20/dropbox.png);}
.mws-i-20.i-drupal{background-image:url(20/drupal.png);}
.mws-i-20.i-dvd{background-image:url(20/dvd.png);}
.mws-i-20.i-eject{background-image:url(20/eject.png);}
.mws-i-20.i-electricity-input-2{background-image:url(20/electricity-input-2.png);}
.mws-i-20.i-electricity-input-plug{background-image:url(20/electricity-input-plug.png);}
.mws-i-20.i-electricity-input{background-image:url(20/electricity-input.png);}
.mws-i-20.i-electricity-plug{background-image:url(20/electricity-plug.png);}
.mws-i-20.i-excel-document{background-image:url(20/excel-document.png);}
.mws-i-20.i-excel-documents-1{background-image:url(20/excel-documents-1.png);}
.mws-i-20.i-excel-documents{background-image:url(20/excel-documents.png);}
.mws-i-20.i-exit{background-image:url(20/exit.png);}
.mws-i-20.i-expose{background-image:url(20/expose.png);}
.mws-i-20.i-expression-engine{background-image:url(20/expression-engine.png);}
.mws-i-20.i-eyedropper{background-image:url(20/eyedropper.png);}
.mws-i-20.i-facebook-1{background-image:url(20/facebook-1.png);}
.mws-i-20.i-facebook-like{background-image:url(20/facebook-like.png);}
.mws-i-20.i-facebook{background-image:url(20/facebook.png);}
.mws-i-20.i-favorite{background-image:url(20/favorite.png);}
.mws-i-20.i-female-contour{background-image:url(20/female-contour.png);}
.mws-i-20.i-female-symbol{background-image:url(20/female-symbol.png);}
.mws-i-20.i-file-cabinet{background-image:url(20/file-cabinet.png);}
.mws-i-20.i-film-2{background-image:url(20/film-2.png);}
.mws-i-20.i-film-camera-2{background-image:url(20/film-camera-2.png);}
.mws-i-20.i-film-camera{background-image:url(20/film-camera.png);}
.mws-i-20.i-film-strip{background-image:url(20/film-strip.png);}
.mws-i-20.i-film{background-image:url(20/film.png);}
.mws-i-20.i-finish-banner{background-image:url(20/finish-banner.png);}
.mws-i-20.i-finish-flag{background-image:url(20/finish-flag.png);}
.mws-i-20.i-firefox{background-image:url(20/firefox.png);}
.mws-i-20.i-flag-2{background-image:url(20/flag-2.png);}
.mws-i-20.i-flag{background-image:url(20/flag.png);}
.mws-i-20.i-flatscreen{background-image:url(20/flatscreen.png);}
.mws-i-20.i-flip-clock{background-image:url(20/flip-clock.png);}
.mws-i-20.i-folder-1{background-image:url(20/folder-1.png);}
.mws-i-20.i-folder{background-image:url(20/folder.png);}
.mws-i-20.i-footprint{background-image:url(20/footprint.png);}
.mws-i-20.i-footprints{background-image:url(20/footprints.png);}
.mws-i-20.i-fountain-pen{background-image:url(20/fountain-pen.png);}
.mws-i-20.i-frames{background-image:url(20/frames.png);}
.mws-i-20.i-g-key{background-image:url(20/g-key.png);}
.mws-i-20.i-glass{background-image:url(20/glass.png);}
.mws-i-20.i-globe-2{background-image:url(20/globe-2.png);}
.mws-i-20.i-globe{background-image:url(20/globe.png);}
.mws-i-20.i-go-back-from-screen-1{background-image:url(20/go-back-from-screen-1.png);}
.mws-i-20.i-go-back-from-screen{background-image:url(20/go-back-from-screen.png);}
.mws-i-20.i-go-full-screen{background-image:url(20/go-full-screen.png);}
.mws-i-20.i-google-buzz{background-image:url(20/google-buzz.png);}
.mws-i-20.i-google-maps{background-image:url(20/google-maps.png);}
.mws-i-20.i-graph-2{background-image:url(20/graph-2.png);}
.mws-i-20.i-graph{background-image:url(20/graph.png);}
.mws-i-20.i-group-2{background-image:url(20/group-2.png);}
.mws-i-20.i-group{background-image:url(20/group.png);}
.mws-i-20.i-halloween-pumpkin{background-image:url(20/halloween-pumpkin.png);}
.mws-i-20.i-hard-disk{background-image:url(20/hard-disk.png);}
.mws-i-20.i-hd-2{background-image:url(20/hd-2.png);}
.mws-i-20.i-hd-3{background-image:url(20/hd-3.png);}
.mws-i-20.i-hd{background-image:url(20/hd.png);}
.mws-i-20.i-headphones{background-image:url(20/headphones.png);}
.mws-i-20.i-heart-favorite{background-image:url(20/heart-favorite.png);}
.mws-i-20.i-help{background-image:url(20/help.png);}
.mws-i-20.i-home-1{background-image:url(20/home-1.png);}
.mws-i-20.i-home-2{background-image:url(20/home-2.png);}
.mws-i-20.i-home{background-image:url(20/home.png);}
.mws-i-20.i-hour-glass{background-image:url(20/hour-glass.png);}
.mws-i-20.i-ice-cream-2{background-image:url(20/ice-cream-2.png);}
.mws-i-20.i-ice-cream{background-image:url(20/ice-cream.png);}
.mws-i-20.i-ichat{background-image:url(20/ichat.png);}
.mws-i-20.i-ideal{background-image:url(20/ideal.png);}
.mws-i-20.i-image-2{background-image:url(20/image-2.png);}
.mws-i-20.i-image{background-image:url(20/image.png);}
.mws-i-20.i-images-2{background-image:url(20/images-2.png);}
.mws-i-20.i-images{background-image:url(20/images.png);}
.mws-i-20.i-inbox{background-image:url(20/inbox.png);}
.mws-i-20.i-info-about{background-image:url(20/info-about.png);}
.mws-i-20.i-ipad-2{background-image:url(20/ipad-2.png);}
.mws-i-20.i-ipad{background-image:url(20/ipad.png);}
.mws-i-20.i-iphone-3g{background-image:url(20/iphone-3g.png);}
.mws-i-20.i-iphone-4-2{background-image:url(20/iphone-4-2.png);}
.mws-i-20.i-iphone-4{background-image:url(20/iphone-4.png);}
.mws-i-20.i-ipod-classic{background-image:url(20/ipod-classic.png);}
.mws-i-20.i-ipod-nano-2{background-image:url(20/ipod-nano-2.png);}
.mws-i-20.i-ipod-nano{background-image:url(20/ipod-nano.png);}
.mws-i-20.i-ipod-shuffle{background-image:url(20/ipod-shuffle.png);}
.mws-i-20.i-joomla{background-image:url(20/joomla.png);}
.mws-i-20.i-key-2{background-image:url(20/key-2.png);}
.mws-i-20.i-key{background-image:url(20/key.png);}
.mws-i-20.i-keyboard{background-image:url(20/keyboard.png);}
.mws-i-20.i-ladys-purse{background-image:url(20/ladys-purse.png);}
.mws-i-20.i-lamp{background-image:url(20/lamp.png);}
.mws-i-20.i-laptop{background-image:url(20/laptop.png);}
.mws-i-20.i-lastfm-2{background-image:url(20/lastfm-2.png);}
.mws-i-20.i-lastfm{background-image:url(20/lastfm.png);}
.mws-i-20.i-leaf{background-image:url(20/leaf.png);}
.mws-i-20.i-lemonade-stand-2{background-image:url(20/lemonade-stand-2.png);}
.mws-i-20.i-lemonade-stand{background-image:url(20/lemonade-stand.png);}
.mws-i-20.i-light-bulb{background-image:url(20/light-bulb.png);}
.mws-i-20.i-link-2{background-image:url(20/link-2.png);}
.mws-i-20.i-link{background-image:url(20/link.png);}
.mws-i-20.i-linux{background-image:url(20/linux.png);}
.mws-i-20.i-list-image{background-image:url(20/list-image.png);}
.mws-i-20.i-list-images{background-image:url(20/list-images.png);}
.mws-i-20.i-list{background-image:url(20/list.png);}
.mws-i-20.i-loading-bar{background-image:url(20/loading-bar.png);}
.mws-i-20.i-lock-locked{background-image:url(20/lock-locked.png);}
.mws-i-20.i-locked-2{background-image:url(20/locked-2.png);}
.mws-i-20.i-locked-folder{background-image:url(20/locked-folder.png);}
.mws-i-20.i-locked{background-image:url(20/locked.png);}
.mws-i-20.i-looking-glass{background-image:url(20/looking-glass.png);}
.mws-i-20.i-macos{background-image:url(20/macos.png);}
.mws-i-20.i-magic-mouse{background-image:url(20/magic-mouse.png);}
.mws-i-20.i-magnifying-glass-2{background-image:url(20/magnifying-glass-2.png);}
.mws-i-20.i-magnifying-glass{background-image:url(20/magnifying-glass.png);}
.mws-i-20.i-mail-2{background-image:url(20/mail-2.png);}
.mws-i-20.i-mail{background-image:url(20/mail.png);}
.mws-i-20.i-male-contour{background-image:url(20/male-contour.png);}
.mws-i-20.i-male-symbol{background-image:url(20/male-symbol.png);}
.mws-i-20.i-map{background-image:url(20/map.png);}
.mws-i-20.i-marker{background-image:url(20/marker.png);}
.mws-i-20.i-mastercard{background-image:url(20/mastercard.png);}
.mws-i-20.i-medical-case{background-image:url(20/medical-case.png);}
.mws-i-20.i-megaphone{background-image:url(20/megaphone.png);}
.mws-i-20.i-message{background-image:url(20/message.png);}
.mws-i-20.i-mickey{background-image:url(20/mickey.png);}
.mws-i-20.i-microphone{background-image:url(20/microphone.png);}
.mws-i-20.i-mighty-mouse{background-image:url(20/mighty-mouse.png);}
.mws-i-20.i-minus{background-image:url(20/minus.png);}
.mws-i-20.i-mobile-phone-2{background-image:url(20/mobile-phone-2.png);}
.mws-i-20.i-mobile-phone{background-image:url(20/mobile-phone.png);}
.mws-i-20.i-mobypicture{background-image:url(20/mobypicture.png);}
.mws-i-20.i-money-2{background-image:url(20/money-2.png);}
.mws-i-20.i-money{background-image:url(20/money.png);}
.mws-i-20.i-monitor{background-image:url(20/monitor.png);}
.mws-i-20.i-month-calendar{background-image:url(20/month-calendar.png);}
.mws-i-20.i-mouse-{background-image:url(20/mouse-.png);}
.mws-i-20.i-mouse-2{background-image:url(20/mouse-2.png);}
.mws-i-20.i-mouseires{background-image:url(20/mouseires.png);}
.mws-i-20.i-multiple-users{background-image:url(20/multiple-users.png);}
.mws-i-20.i-music-folder{background-image:url(20/music-folder.png);}
.mws-i-20.i-music{background-image:url(20/music.png);}
.mws-i-20.i-musical-keyboard{background-image:url(20/musical-keyboard.png);}
.mws-i-20.i-myspace-2{background-image:url(20/myspace-2.png);}
.mws-i-20.i-myspace{background-image:url(20/myspace.png);}
.mws-i-20.i-new-message{background-image:url(20/new-message.png);}
.mws-i-20.i-next-track{background-image:url(20/next-track.png);}
.mws-i-20.i-nike-sport-shirt{background-image:url(20/nike-sport-shirt.png);}
.mws-i-20.i-note-book{background-image:url(20/note-book.png);}
.mws-i-20.i-off{background-image:url(20/off.png);}
.mws-i-20.i-old-phone{background-image:url(20/old-phone.png);}
.mws-i-20.i-pacman-ghost{background-image:url(20/pacman-ghost.png);}
.mws-i-20.i-pacman{background-image:url(20/pacman.png);}
.mws-i-20.i-paint-brush{background-image:url(20/paint-brush.png);}
.mws-i-20.i-pants{background-image:url(20/pants.png);}
.mws-i-20.i-paperclip{background-image:url(20/paperclip.png);}
.mws-i-20.i-paypal-2{background-image:url(20/paypal-2.png);}
.mws-i-20.i-paypal-3{background-image:url(20/paypal-3.png);}
.mws-i-20.i-paypal-4{background-image:url(20/paypal-4.png);}
.mws-i-20.i-paypal-5{background-image:url(20/paypal-5.png);}
.mws-i-20.i-paypal{background-image:url(20/paypal.png);}
.mws-i-20.i-pdf-document{background-image:url(20/pdf-document.png);}
.mws-i-20.i-pdf-documents-1{background-image:url(20/pdf-documents-1.png);}
.mws-i-20.i-pdf-documents{background-image:url(20/pdf-documents.png);}
.mws-i-20.i-pencil-edit{background-image:url(20/pencil-edit.png);}
.mws-i-20.i-pencil{background-image:url(20/pencil.png);}
.mws-i-20.i-personal-folder-user-folder{background-image:url(20/personal-folder-user-folder.png);}
.mws-i-20.i-phone-2{background-image:url(20/phone-2.png);}
.mws-i-20.i-phone-3{background-image:url(20/phone-3.png);}
.mws-i-20.i-phone-4{background-image:url(20/phone-4.png);}
.mws-i-20.i-phone-hook{background-image:url(20/phone-hook.png);}
.mws-i-20.i-phone{background-image:url(20/phone.png);}
.mws-i-20.i-piggy-bank{background-image:url(20/piggy-bank.png);}
.mws-i-20.i-plane-suitcase{background-image:url(20/plane-suitcase.png);}
.mws-i-20.i-plate-diner{background-image:url(20/plate-diner.png);}
.mws-i-20.i-play{background-image:url(20/play.png);}
.mws-i-20.i-plixi{background-image:url(20/plixi.png);}
.mws-i-20.i-plus{background-image:url(20/plus.png);}
.mws-i-20.i-polaroids{background-image:url(20/polaroids.png);}
.mws-i-20.i-post-card{background-image:url(20/post-card.png);}
.mws-i-20.i-power{background-image:url(20/power.png);}
.mws-i-20.i-powerpoint-document{background-image:url(20/powerpoint-document.png);}
.mws-i-20.i-powerpoint-documents-1{background-image:url(20/powerpoint-documents-1.png);}
.mws-i-20.i-powerpoint-documents{background-image:url(20/powerpoint-documents.png);}
.mws-i-20.i-presentation-1{background-image:url(20/presentation-1.png);}
.mws-i-20.i-presentation{background-image:url(20/presentation.png);}
.mws-i-20.i-preview{background-image:url(20/preview.png);}
.mws-i-20.i-previous-track{background-image:url(20/previous-track.png);}
.mws-i-20.i-price-tag{background-image:url(20/price-tag.png);}
.mws-i-20.i-price-tags{background-image:url(20/price-tags.png);}
.mws-i-20.i-printer{background-image:url(20/printer.png);}
.mws-i-20.i-quicktime-new{background-image:url(20/quicktime-new.png);}
.mws-i-20.i-quicktime{background-image:url(20/quicktime.png);}
.mws-i-20.i-radio-signal{background-image:url(20/radio-signal.png);}
.mws-i-20.i-radio{background-image:url(20/radio.png);}
.mws-i-20.i-rake-and-scoop{background-image:url(20/rake-and-scoop.png);}
.mws-i-20.i-record{background-image:url(20/record.png);}
.mws-i-20.i-recycle-symbol{background-image:url(20/recycle-symbol.png);}
.mws-i-20.i-recycled-bag{background-image:url(20/recycled-bag.png);}
.mws-i-20.i-refresh-2{background-image:url(20/refresh-2.png);}
.mws-i-20.i-refresh-3{background-image:url(20/refresh-3.png);}
.mws-i-20.i-refresh-4{background-image:url(20/refresh-4.png);}
.mws-i-20.i-refresh{background-image:url(20/refresh.png);}
.mws-i-20.i-repeat{background-image:url(20/repeat.png);}
.mws-i-20.i-robot{background-image:url(20/robot.png);}
.mws-i-20.i-rss{background-image:url(20/rss.png);}
.mws-i-20.i-ruler-2{background-image:url(20/ruler-2.png);}
.mws-i-20.i-ruler{background-image:url(20/ruler.png);}
.mws-i-20.i-running-man{background-image:url(20/running-man.png);}
.mws-i-20.i-safari{background-image:url(20/safari.png);}
.mws-i-20.i-save{background-image:url(20/save.png);}
.mws-i-20.i-scan-label-2{background-image:url(20/scan-label-2.png);}
.mws-i-20.i-scan-label-3{background-image:url(20/scan-label-3.png);}
.mws-i-20.i-scan-label{background-image:url(20/scan-label.png);}
.mws-i-20.i-sd-2{background-image:url(20/sd-2.png);}
.mws-i-20.i-sd-3{background-image:url(20/sd-3.png);}
.mws-i-20.i-sd{background-image:url(20/sd.png);}
.mws-i-20.i-settings-1{background-image:url(20/settings-1.png);}
.mws-i-20.i-settings-2{background-image:url(20/settings-2.png);}
.mws-i-20.i-settings{background-image:url(20/settings.png);}
.mws-i-20.i-shades{background-image:url(20/shades.png);}
.mws-i-20.i-shopping-bag{background-image:url(20/shopping-bag.png);}
.mws-i-20.i-shopping-basket-2{background-image:url(20/shopping-basket-2.png);}
.mws-i-20.i-shopping-basket{background-image:url(20/shopping-basket.png);}
.mws-i-20.i-shopping-cart-2{background-image:url(20/shopping-cart-2.png);}
.mws-i-20.i-shopping-cart-3{background-image:url(20/shopping-cart-3.png);}
.mws-i-20.i-shopping-cart-4{background-image:url(20/shopping-cart-4.png);}
.mws-i-20.i-shopping-cart{background-image:url(20/shopping-cart.png);}
.mws-i-20.i-shuffle{background-image:url(20/shuffle.png);}
.mws-i-20.i-sign-post-2{background-image:url(20/sign-post-2.png);}
.mws-i-20.i-sign-post{background-image:url(20/sign-post.png);}
.mws-i-20.i-single-document{background-image:url(20/single-document.png);}
.mws-i-20.i-single-excel-document{background-image:url(20/single-excel-document.png);}
.mws-i-20.i-single-pdf-document{background-image:url(20/single-pdf-document.png);}
.mws-i-20.i-single-powerpoint-document{background-image:url(20/single-powerpoint-document.png);}
.mws-i-20.i-single-user{background-image:url(20/single-user.png);}
.mws-i-20.i-single-word-document{background-image:url(20/single-word-document.png);}
.mws-i-20.i-single-zip-document{background-image:url(20/single-zip-document.png);}
.mws-i-20.i-skype-2{background-image:url(20/skype-2.png);}
.mws-i-20.i-skype{background-image:url(20/skype.png);}
.mws-i-20.i-sleeveless-shirt{background-image:url(20/sleeveless-shirt.png);}
.mws-i-20.i-small-brush{background-image:url(20/small-brush.png);}
.mws-i-20.i-socks{background-image:url(20/socks.png);}
.mws-i-20.i-sound{background-image:url(20/sound.png);}
.mws-i-20.i-speech-bubble-2{background-image:url(20/speech-bubble-2.png);}
.mws-i-20.i-speech-bubble{background-image:url(20/speech-bubble.png);}
.mws-i-20.i-speech-bubbles-1{background-image:url(20/speech-bubbles-1.png);}
.mws-i-20.i-speech-bubbles-2{background-image:url(20/speech-bubbles-2.png);}
.mws-i-20.i-speech-bubbles{background-image:url(20/speech-bubbles.png);}
.mws-i-20.i-sport-shirt{background-image:url(20/sport-shirt.png);}
.mws-i-20.i-sticky-note{background-image:url(20/sticky-note.png);}
.mws-i-20.i-stop{background-image:url(20/stop.png);}
.mws-i-20.i-stopatch{background-image:url(20/stopatch.png);}
.mws-i-20.i-strategy-2{background-image:url(20/strategy-2.png);}
.mws-i-20.i-strategy{background-image:url(20/strategy.png);}
.mws-i-20.i-strike-through-month-calendar{background-image:url(20/strike-through-month-calendar.png);}
.mws-i-20.i-stubleupon{background-image:url(20/stubleupon.png);}
.mws-i-20.i-suitcase-1{background-image:url(20/suitcase-1.png);}
.mws-i-20.i-suitcase-2{background-image:url(20/suitcase-2.png);}
.mws-i-20.i-sweater{background-image:url(20/sweater.png);}
.mws-i-20.i-t-shirt{background-image:url(20/t-shirt.png);}
.mws-i-20.i-table-1{background-image:url(20/table-1.png);}
.mws-i-20.i-table{background-image:url(20/table.png);}
.mws-i-20.i-tag-1{background-image:url(20/tag-1.png);}
.mws-i-20.i-tag{background-image:url(20/tag.png);}
.mws-i-20.i-tags-2{background-image:url(20/tags-2.png);}
.mws-i-20.i-television{background-image:url(20/television.png);}
.mws-i-20.i-text-document{background-image:url(20/text-document.png);}
.mws-i-20.i-text-documents{background-image:url(20/text-documents.png);}
.mws-i-20.i-text-styling-2{background-image:url(20/text-styling-2.png);}
.mws-i-20.i-text-styling-3{background-image:url(20/text-styling-3.png);}
.mws-i-20.i-text-styling{background-image:url(20/text-styling.png);}
.mws-i-20.i-timer{background-image:url(20/timer.png);}
.mws-i-20.i-tools{background-image:url(20/tools.png);}
.mws-i-20.i-traffic-light{background-image:url(20/traffic-light.png);}
.mws-i-20.i-trashcan-2{background-image:url(20/trashcan-2.png);}
.mws-i-20.i-trashcan{background-image:url(20/trashcan.png);}
.mws-i-20.i-travel-suitcase{background-image:url(20/travel-suitcase.png);}
.mws-i-20.i-tree{background-image:url(20/tree.png);}
.mws-i-20.i-trolly{background-image:url(20/trolly.png);}
.mws-i-20.i-truck-2{background-image:url(20/truck-2.png);}
.mws-i-20.i-truck{background-image:url(20/truck.png);}
.mws-i-20.i-tumbler{background-image:url(20/tumbler.png);}
.mws-i-20.i-twitter-1{background-image:url(20/twitter-1.png);}
.mws-i-20.i-twitter-2{background-image:url(20/twitter-2.png);}
.mws-i-20.i-twitter{background-image:url(20/twitter.png);}
.mws-i-20.i-umbrella{background-image:url(20/umbrella.png);}
.mws-i-20.i-under-construction{background-image:url(20/under-construction.png);}
.mws-i-20.i-unfavorite{background-image:url(20/unfavorite.png);}
.mws-i-20.i-universal-acces{background-image:url(20/universal-acces.png);}
.mws-i-20.i-unlock-unlocked{background-image:url(20/unlock-unlocked.png);}
.mws-i-20.i-unlocked{background-image:url(20/unlocked.png);}
.mws-i-20.i-upload{background-image:url(20/upload.png);}
.mws-i-20.i-usb-stick{background-image:url(20/usb-stick.png);}
.mws-i-20.i-user-2{background-image:url(20/user-2.png);}
.mws-i-20.i-user-comment{background-image:url(20/user-comment.png);}
.mws-i-20.i-user{background-image:url(20/user.png);}
.mws-i-20.i-users-2{background-image:url(20/users-2.png);}
.mws-i-20.i-users{background-image:url(20/users.png);}
.mws-i-20.i-v-card-1{background-image:url(20/v-card-1.png);}
.mws-i-20.i-v-card-2{background-image:url(20/v-card-2.png);}
.mws-i-20.i-v-card-3{background-image:url(20/v-card-3.png);}
.mws-i-20.i-v-card{background-image:url(20/v-card.png);}
.mws-i-20.i-vault{background-image:url(20/vault.png);}
.mws-i-20.i-vimeo-2{background-image:url(20/vimeo-2.png);}
.mws-i-20.i-vimeo-3{background-image:url(20/vimeo-3.png);}
.mws-i-20.i-vimeo-4{background-image:url(20/vimeo-4.png);}
.mws-i-20.i-vimeo-5{background-image:url(20/vimeo-5.png);}
.mws-i-20.i-vimeo{background-image:url(20/vimeo.png);}
.mws-i-20.i-visa-2{background-image:url(20/visa-2.png);}
.mws-i-20.i-visa{background-image:url(20/visa.png);}
.mws-i-20.i-wacom-2{background-image:url(20/wacom-2.png);}
.mws-i-20.i-wacom{background-image:url(20/wacom.png);}
.mws-i-20.i-walking-man{background-image:url(20/walking-man.png);}
.mws-i-20.i-wifi-2{background-image:url(20/wifi-2.png);}
.mws-i-20.i-wifi-signal-2{background-image:url(20/wifi-signal-2.png);}
.mws-i-20.i-wifi-signal{background-image:url(20/wifi-signal.png);}
.mws-i-20.i-wifi{background-image:url(20/wifi.png);}
.mws-i-20.i-windows{background-image:url(20/windows.png);}
.mws-i-20.i-wine-glass{background-image:url(20/wine-glass.png);}
.mws-i-20.i-winner-podium{background-image:url(20/winner-podium.png);}
.mws-i-20.i-word-document{background-image:url(20/word-document.png);}
.mws-i-20.i-word-documents-1{background-image:url(20/word-documents-1.png);}
.mws-i-20.i-word-documents{background-image:url(20/word-documents.png);}
.mws-i-20.i-wordpress-2{background-image:url(20/wordpress-2.png);}
.mws-i-20.i-wordpress{background-image:url(20/wordpress.png);}
.mws-i-20.i-youtube-2{background-image:url(20/youtube-2.png);}
.mws-i-20.i-youtube-3{background-image:url(20/youtube-3.png);}
.mws-i-20.i-youtube-4{background-image:url(20/youtube-4.png);}
.mws-i-20.i-youtube{background-image:url(20/youtube.png);}
.mws-i-20.i-zip-documents{background-image:url(20/zip-documents.png);}
.mws-i-20.i-zip-file{background-image:url(20/zip-file.png);}
.mws-i-20.i-zip-files{background-image:url(20/zip-files.png);}