{% load i18n media %}

{% if form_tag %}<form {% if form_action %}action="{{ form_action }}" {% endif %}class="uniForm mws-form{% if form_class %} {{ form_class }}{% endif %}" method="{{ form_method }}"{% if form_id %} id="{{ form_id }}"{% endif %}{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% endif %}
    {% if form_style == 'inlineLabels' %}
        <div class="mws-form-inline">
    {% endif %}
    
        {% if form_method|lower == 'post' %}
            {% csrf_token %}
        {% endif %}
        
        {% comment %}
        TODO: find a better way to deal with this for accounts/create_or_update_form.html and accounts/quickbutton_form.html only
        {% endcomment %}
        {% if not item.pk %}
            <div id="enrich-busy" style="display: none;">
                <div id="enrich-busy-message"></div>
                <img src="{% media_url 'extra/images/blue-loading.gif' %}" alt="" />
                <p>
                    <a href="javascript:" id="enrich-account-cancel">{% trans 'Cancel' %}</a>
                </p>
            </div>
        {% endif %}
    
        {% include "mws-admin/display_form.html" %}
       
        {% if inputs %}
            <div class="buttonHolder mws-button-row">
                {% for input in inputs %}
                    {% include "mws-admin/layout/baseinput.html" %}
                {% endfor %}
            </div>
        {% endif %}
        
    {% if form_style == 'inlineLabels' %}
        </div>
    {% endif %}
{% if form_tag %}</form>{% endif %}
