{% verbatim %}
<script id="deals/detail.html" type="text/ng-template">
    <div class="row">
        <div class="col-md-5">
          <div class="portlet light">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Account:</label> <a ui-sref="base.accounts.detail({ id: deal.id })">{{ ::deal.account_name }}</a><br/>
                            <label>Deal Name:</label> {{ ::deal.name }}<br/>
                            <label>Created:</label> {{ deal.created | relativeDate }}<br/>
                            <label>Closing Date:</label> <span id="closed-date" ng-show="deal.closing_date">{{ deal.closing_date | relativeDate }}</span>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
          <div class="portlet light">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Assigned to:</label> {{ ::deal.assigned_to_name }}<br/>
                            <label>One-time cost:</label> {{ ::deal.amount_once | currency:"€" }}<br/>
                            <label>Recurring costs:</label> {{ ::deal.amount_recurring | currency:"€" }}<br/>
                            <label>Status:</label> {{ deal.stage_name }} <span ng-show="deal.archived">- Archived</span><br/>
                            <label>Feedback form sent:</label> {{ ::deal.feedback_form_sent }}<br/>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="base.deals.detail.edit({ id: deal.id })" class="btn blue"><i class="fa fa-edit"></i> Edit</a>
        <a class="btn blue" ng-click="delete(deal.id)"><i class="fa fa-trash"></i></a>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 summary-info text-center">
            <div id="deal-stage" class="btn-group" data-toggle="buttons" data-object-id="{{ ::deal.id }}">
                    <label ng-repeat="stage in dealStages" for="stage-{{ ::stage[1] | lowercase }}" ng-class="{'btn default': true, 'btn default active': deal.stage == stage[0], 'btn default disabled': deal.archived }" ng-click="changeState(stage[0])">
                        <input class="toggle" type="radio" id="stage-{{ ::stage[1] | lowercase }}" name="radio" value="{{ ::stage[0] }}" ng-checked="deal.stage == stage[0]">
                        {{ ::stage[1] }}
                    </label>
                <div class="btn-group">
                    <a ng-class="{'btn default': true}" ng-click="unarchive(deal.id)" ng-show="deal.archived">Unarchive</a>
                    <a ng-class="{'btn default': deal.archived, 'btn default': !deal.archived}" ng-click="archive(deal.id)" ng-hide="deal.archived">Archive</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row no-margin" ng-show="deal.body">
        <div class="well well-md">
            <h4>Description</h4>
            <p>{{ ::deal.body }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        Historylist
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <div class="form-group note-input-wrapper col-md-10">
                            <textarea ng-model="note" required class="form-control" id="id_content" name="content" placeholder="Write your note here" rows="1"></textarea>
                        </div>
                        <button class="btn btn-primary col-md-2 col-xs-3" ng-click="addNote('deal', deal.id, note)">Add note</button>
                        <div class="clearfix"></div>
                    </div>
                    {% endverbatim %}{% include 'utils/historylist_client.html' %}{% verbatim %}
                </div>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}
