 <div class="btn-group btn-group-devided">
    <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-model="vm.expiresFilter" btn-radio="4">
        Expired
    </label>
    <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-model="vm.expiresFilter" btn-radio="1">
        Today
    </label>
    <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-model="vm.expiresFilter" btn-radio="2">
        Tomorrow
    </label>
    <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-model="vm.expiresFilter" btn-radio="3">
        7 days
    </label>
    <label class="btn btn-transparent grey-salsa btn-circle btn-sm" ng-model="vm.expiresFilter" btn-radio="0">
        All
    </label>
</div>
