{% verbatim %}
    <script id="email/email_list.html" type="text/ng-template">
        <div class="inbox-header">
            <h1 class="pull-left" ng-show="vm.table.filter">Search: {{ vm.table.filter }}</h1>
            <h1 class="pull-left" ng-hide="vm.table.filter">
                <span ng-show="vm.account">{{ vm.account.email_address }}</span>
                <span ng-hide="vm.account">All mailboxes</span>
                <span ng-show="vm.label.name"> - {{ vm.label.name }}</span>
                <span ng-hide="vm.label"> - All mail</span>
            </h1>
            <form class="form-inline pull-right">
                <div class="input-group input-medium">
                    <input type="text" class="form-control" placeholder="Search" ng-model="vm.table.filter">
                    <span class="input-group-btn">
                        <button type="submit" class="btn green"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="inbox-content">
            <table class="table table-striped table-advance table-hover">
            <thead>
                <tr>
                    <th colspan="6">
                        <checkbox model="vm.opts.checkboxesAll" ng-click="vm.toggleCheckboxes()"></checkbox>
                        <div class="btn-group">
                            <span class="pull-left" ng-if="::vm.account">
                                <a class="btn btn-sm blue dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                                    <i class="fa fa-folder"></i> Move to <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu labels">
                                    <li class="inbox" ng-hide="vm.label.label_id == 'INBOX'">
                                        <a href="javascript:void(0)" class="btn" ng-click="vm.moveMessages('INBOX')">Inbox</a>
                                    </li>
                                    <li class="spam" ng-hide="vm.label.label_id == 'SPAM'">
                                        <a href="javascript:void(0)" class="btn" ng-click="vm.moveMessages('SPAM')">Spam</a>
                                    </li>
                                    <li ng-repeat="accountLabel in vm.account.labels" class="inbox" ng-if="accountLabel.label_type != 0 && accountLabel.label_id != vm.label.label_id">
                                        <a href="javascript:void(0)" class="btn" ng-click="vm.moveMessages(accountLabel.label_id)">{{ accountLabel.name }}</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-sm blue dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                                More <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-click="vm.markAsRead()">
                                        <i class="fa fa-pencil"></i> Mark as read</a>
                                </li>
                                <li>
                                    <a ng-click="vm.markAsUnread()">
                                        <i class="fa fa-pencil"></i> Mark as unread</a>
                                </li>
                                <li>
                                    <a ng-show="vm.showReplyOrForwardButtons()" ng-click="vm.replyOnMessage()">
                                        <i class="fa fa-mail-reply"></i> Reply</a>
                                </li>
                                <li>
                                    <a ng-show="vm.showReplyOrForwardButtons()" ng-click="vm.replyAllOnMessage()">
                                        <i class="fa fa-mail-reply-all"></i> Reply all</a>
                                </li>
                                <li>
                                    <a ng-show="vm.showReplyOrForwardButtons()" ng-click="vm.forwardOnMessage()">
                                        <i class="fa fa-mail-forward"></i> Forward</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-ban"></i> Spam</a>
                                </li>
                            </ul>
                        </div>
                        <a class="btn btn-sm red" ng-click="vm.deleteMessages()">
                            <i class="fa fa-trash-o"></i> Delete
                        </a>
                        <a class="btn btn-sm blue" ng-click="vm.archiveMessages()" ng-show="vm.label">
                            <i class="fa fa-archive"></i> Archive
                        </a>
                        <a class="btn btn-sm blue" ng-click="vm.reloadMessages()">
                            <i class="fa fa-refresh"></i> Refresh
                        </a>
                        <div class="pagination-control pull-right">
                            <span class="pagination-info">
                                {{ vm.table.page * vm.table.pageSize + 1}}-{{ [(vm.table.page + 1) * vm.table.pageSize, vm.table.totalItems] | minValue }} of {{ vm.table.totalItems | number }}
                            </span>
                            <a class="btn btn-sm blue" ng-click="vm.setPage(vm.table.page - 1)">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="btn btn-sm blue" ng-click="vm.setPage(vm.table.page + 1)">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in vm.emailMessages" style="cursor: pointer;" ng-class="{'unread': !message.read}">
                    <td class="inbox-small-cells">
                        <checkbox model="message.checked"></checkbox>
                    </td>
                    <td contact-icon message="message"></td>
                    <td class="view-message hidden-xs" ng-show="vm.label.name != 'Sent' && vm.label.name != 'Draft'" ui-sref="base.email.detail({id: message.id})">
                        <span ng-show="message.sender_name" title="{{ message.sender_email }}">{{ message.sender_name }}</span>
                        <span ng-hide="message.sender_name">{{ message.sender_email }}</span>
                    </td>
                    <td class="view-message hidden-xs" ng-show="vm.label.name == 'Sent'" ui-sref="base.email.detail({id: message.id})">
                        <span ng-show="message.received_by_name">{{ message.received_by_name.join(', ') }}</span>
                        <span ng-hide="message.received_by_name">{{ message.received_by_email.join(', ') }}</span>
                    </td>
                    <td class="view-message hidden-xs" ng-show="vm.label.name == 'Draft'" ui-sref="base.email.draft({id: message.id})">
                       {{ message.received_by_email.join(',') }}
                    </td>
                    <td class="view-message" ng-if="vm.label.name == 'Draft'" ui-sref="base.email.draft({id: message.id})">
                        {{ message.subject }}
                    </td>
                    <td class="view-message" ng-if="vm.label.name != 'Draft'" ui-sref="base.email.detail({id: message.id})">
                        {{ message.subject }}
                    </td>
                    <td class="view-message inbox-small-cells" ui-sref="base.email.detail({id: message.id})">
                        <i class="fa fa-paperclip" ng-if="message.has_attachment"></i>
                    </td>
                    <td class="view-message text-right text-nowrap" ui-sref="base.email.detail({id: message.id})">
                        {{ message.sent_date | relativeDate }}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </script>
{% endverbatim %}
