#enrich-account-button {
    margin: 0;
    padding-bottom: 5px;
}

#enrich-busy {
    background-color: rgba(255, 255, 255, .85);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    z-index: 1;
}

#enrich-busy-message {
    margin-top: 18%;
}