@media only screen and (max-width: 1150px) {
    .details-image.account {
        padding-left: 10px !important;
    }
    .details-image.account img {
        padding: 10px 2px;
    }
}

@media only screen and (max-width: 650px) {
    .details-image.account {
        width: 30%;
        padding-left: 35px;
    }
}