{% verbatim %}
<script id="accounts/account-detail.html" type="text/ng-template"/>
    <div class="row">
        <div class="col-md-4">
            <account-detail-widget account="account" height="300"></account-detail-widget>
        </div>
        <div class="col-md-4">
            <contact-list-widget title="Contacts" list="contactList" height="300"></contact-list-widget>
        </div>
        <div class="col-md-4">
            <case-list-widget title="Current cases" list="caseList" height="91"></case-list-widget>
            <deal-list-widget title="Current deals" list="dealList" height="91"></deal-list-widget>
        </div>
    </div>
    <history-list target="'account'" object="account"></history-list>
</script>
{% endverbatim %}
