{% verbatim %}
<script id="top-nav/actions.html" type="text/ng-template">

        <!-- BEGIN LARGE ACTIONS -->
        <div class="btn-group hidden-sm hidden-xs">
            <a class="btn blue btn-sm" href="{% url 'contact_add' %}" role="button"><i class="fa fa-plus-square-o"></i> Contact</a>
            <a class="btn blue btn-sm" href="{% url 'account_add' %}" role="button"><i class="fa fa-plus-square-o"></i> Account</a>
            <a class="btn blue btn-sm" href="{% url 'deal_create' %}" role="button"><i class="fa fa-plus-square-o"></i> Deal</a>
            <a class="btn blue btn-sm" href="{% url 'case_create' %}" role="button"><i class="fa fa-plus-square-o"></i> Case</a>
        </div>
        <!-- END LARGE ACTIONS -->
        <!-- BEGIN SMALL ACTIONS -->
        <div class="btn-group hidden-md hidden-lg">
            <button type="button" class="btn blue btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                {% trans 'Add' %}
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="{% url 'contact_add' %}"><i class="fa fa-plus-square-o"></i> {% trans 'Contact' %}</a>
                </li>
                <li>
                    <a href="{% url 'account_add' %}"><i class="fa fa-plus-square-o"></i> {% trans 'Account' %}</a>
                </li>
                <li>
                    <a href="{% url 'deal_create' %}"><i class="fa fa-plus-square-o"></i> {% trans 'Deal' %}</a>
                </li>
                <li>
                    <a href="{% url 'case_create' %}"><i class="fa fa-plus-square-o"></i> {% trans 'Case' %}</a>
                </li>
            </ul>
        </div>
        <!-- END SMALL ACTIONS -->

</script>
{% endverbatim %}
