{% verbatim %}
<script id="top-nav/search.html" type="text/ng-template">
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <form class="search-form search-form-expanded" action="extra_search.html" method="GET">
        <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
            <span class="input-group-btn">
                <a href="javascript:;" class="btn submit"><i class="fa fa-magnifier"></i></a>
            </span>
        </div>
    </form>
    <!-- END HEADER SEARCH BOX -->
</script>
{% endverbatim %}
