{% extends 'base.html' %}
{% load i18n static activelink %}

{% block title %}{% trans 'Dashboard' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'messages/css/messages.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'messages/js/messages.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mws-panel grid_8">
    <div class="mws-panel-body" style="border: 1px solid #BCBCBC;">
        <div class="mws-panel-content" style="padding: 8px;">
            <a id="quickbutton-account"  href="#" class="no-decoration">
                <button type="button" class="mws-button red">
                    {% trans 'Compose new message' %}
                </button>
            </a>
            <a id="quickbutton-account"  href="#" class="no-decoration">
                <button type="button" class="mws-button gray">
                    {% trans 'Mark all as read' %}
                </button>
            </a>
            <a id="quickbutton-account"  href="#" class="no-decoration">
                <button type="button" class="mws-button gray">
                    {% trans 'Refresh' %}
                </button>
            </a>
        </div>
    </div>
</div>
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-mail">{% trans 'e-mail' %}</span>
    </div>
    <div class="mws-panel-body">
        <div id="email-control-panel">
            <a id="quickbutton-account"  href="#" class="no-decoration">
                <button type="button" class="mws-button red small">
                    {% trans 'Compose new message' %} {{ task_value }}
                </button>
            </a>
            <a id="quickbutton-account"  href="#" class="no-decoration">
                <button type="button" class="mws-button gray small">
                    {% trans 'Mark all as read' %}
                </button>
            </a>
            <a id="quickbutton-account"  href="#" class="no-decoration">
                <button type="button" class="mws-button gray small">
                    {% trans 'Refresh' %}
                </button>
            </a>
        </div>
        <div id="messages-container">
            <div id="messages-busy">
                <div id="messages-spacer">{% trans 'Loading' %}</div>
                <img src="{% static 'images/blue-loading.gif' %}" alt="loading" />
            </div>
            <div id="message-list" style="display: none;">
            </div>
        </div>
    </div>
</div>
{% endblock %}
