{% load i18n staticfiles %}

{% verbatim %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" ng-app="app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" ng-app="app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="app" ng-controller="BaseController">
<!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title ng-bind="settings.page.title + ' - HelloLily'">HelloLily</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="" name="description"/>
        <meta content="Devhouse Spindle" name="author"/>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
        {% endverbatim %}

        <link href="{% static 'vendor/vendor.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'app.css' %}" rel="stylesheet" type="text/css">

        {% verbatim %}
        <!-- END GLOBAL STYLES -->
        {% endverbatim %}<link rel="shortcut icon" href="{% static 'images/core/favicon.ico' %}" />{% verbatim %}
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
    <!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
    <!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
    <!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
    <!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
    <!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
    <!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
    <!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
    <!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo page-on-load page-sidebar-fixed">

        <!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- END PAGE SPINNER -->

        <!-- BEGIN HEADER -->
        <div ng-include="'header.html'" ng-controller="headerController" class="page-header navbar navbar-fixed-top">
        </div>
        <!-- END HEADER -->

        <div class="clearfix"></div>

        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD -->
                    <div class="page-head">
                        <div class="page-head">
                            <!-- BEGIN PAGE TITLE -->
                            <div class="page-title">
                                <h1>
                                    {{ settings.page.header.main }}
                                    <small>{{ settings.page.header.sub }}</small>
                                </h1>
                            </div>

                            <div class="page-toolbar">
                                <div class="btn-group btn-theme-panel">
                                    <a ng-show="$state.current.name.indexOf('detail') > -1 && $state.current.name.indexOf('email') == -1 && !($state.current.name | endsWith: 'edit')" ng-click="$state.go('.edit')" class="btn"><i class="fa fa-edit"></i></a>
                                    <a ng-show="$state.current.name.indexOf('detail') > -1 && $state.current.name.indexOf('email') == -1 && !($state.current.name | endsWith: 'edit')" detail-delete class="btn" data-target="#confirm-delete"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                            <!-- END PAGE TITLE -->
                        </div>
                    </div>
                    <!-- END PAGE HEAD -->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <div ncy-breadcrumb></div>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE CONTENT-->
                    <div class="row">
                        <div class="col-md-12">
                            <div ui-view></div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT -->
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{% static 'vendor/ie-fixes.js' %}" charset="utf-8"></script>
        <![endif]-->
        {% endverbatim %}
        <script type="text/javascript" src="{% static 'vendor/vendor.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'templates.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'app.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'analytics.js' %}" charset="utf-8"></script>
        <script>
            var currentUser = {
                id: parseInt('{{ user.id }}'),
                firstName: '{{ user.first_name }}',
                lastName: '{{ user.last_name }}',
                email: '{{ user.email }}',
                fullName: '{{ user.full_name }}',
                isSuperUser: '{{ user.is_superuser }}' == 'True'
            };
        </script>
        {% verbatim %}
        {% endverbatim %}{% include 'angular/includes.html' %}{% verbatim %}
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>
{% endverbatim %}
