{% load staticfiles %}

{% verbatim %}
<script id="header.html" type="text/ng-template">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a ui-sref="base.dashboard" class="page-header-logo">
                Hello<strong>Lily</strong>
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN MAINNAVIGATION -->
        <ul class="main-nav">
            <li class="main-nav-item">
                <a ui-sref-active="active" ui-sref="base.dashboard">
                    <i class="fa fa-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li class="main-nav-item">
                <a ui-sref-active="active" ui-sref="base.stats">
                    <i class="fa fa-bar-chart"></i>
                    <span class="title">Stats</span>
                </a>
            </li>

            <li class="main-nav-item">
                <a ui-sref-active="active" ui-sref="base.email">
                    <i class="fa fa-envelope-o"></i>
                    <span class="title">Email</span>
                </a>
            </li>
            <li class="main-nav-item">
                <a ui-sref-active="active" ui-sref="base.accounts">
                    <i class="fa fa-building-o"></i>
                    <span class="title">Accounts</span>
                </a>
            </li>
            <li class="main-nav-item">
                <a ui-sref-active="active" ui-sref="base.contacts">
                    <i class="fa fa-user"></i>
                    <span class="title">Contacts</span>
                </a>
            </li>
            <li class="main-nav-item">
                <a ui-sref-active="active" ui-sref="base.deals">
                    <i class="fa fa-money"></i>
                    <span class="title">Deals</span>
                </a>
            </li>
            <li class="main-nav-item">
                <a ui-sref-active="active" ui-sref="base.cases">
                    <i class="fa fa-briefcase"></i>
                    <span class="title">Cases</span>
                </a>
            </li>
        </ul>

        <!-- BEGIN PAGE TOP -->
        <div class="header-user-menu">

            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="#" class="dropdown-user-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <!-- DOC: Add 'username-hide-on-mobile' class to hide on mobile to make space for buttons on this row -->
                        <span class="username">
                            Hello {{ currentUser.fullName }}
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a ui-sref="base.preferences.user.profile">
                                <i class="icon-user"></i>
                                My profile
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.preferences.user.account">
                                <i class="icon-settings"></i>
                                My account
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-briefcase"></i>
                                Company account
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-users"></i>
                                Company users
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-grid"></i>
                                Company workflow
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="base.preferences.emailaccounts">
                                <i class="icon-envelope"></i>
                                E-mail accounts
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.preferences.emailtemplates">
                                <i class="icon-envelope-letter"></i>
                                E-mail templates
                            </a>
                        </li>
                        <li>
                            <a ui-sref="base.preferences.templatevariables">
                                <i class="fa fa-code"></i>
                                Template variables
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout">
                                <i class="icon-key"></i>
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
    <!-- BEGIN SUBHEADER -->
    <div class="clearfix"></div>
    <div class="subheader">
        <!-- BEGIN PAGE ACTIONS -->
        <div class="page-actions">
            <!-- BEGIN LARGE ACTIONS -->
            <div class="hidden-sm hidden-xs">
                <a class="btn blue btn-sm" ui-sref="base.accounts.create" role="button"><i class="fa fa-plus"></i> Account</a>
                <a class="btn blue btn-sm" ui-sref="base.contacts.create" role="button"><i class="fa fa-plus"></i> Contact</a>
                <a class="btn blue btn-sm" ui-sref="base.deals.create" role="button"><i class="fa fa-plus"></i> Deal</a>
                <a class="btn blue btn-sm" ui-sref="base.cases.create" role="button"><i class="fa fa-plus"></i> Case</a>
            </div>
            <!-- END LARGE ACTIONS -->
            <!-- BEGIN SMALL ACTIONS -->
            <div class="btn-group hidden-md hidden-lg">
                <button type="button" class="btn blue btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                    Add
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a ui-sref="base.accounts.create"><i class="fa fa-plus"></i> Account</a>
                    </li>
                    <li>
                        <a ui-sref="base.contacts.create"><i class="fa fa-plus"></i> Contact</a>
                    </li>
                    <li>
                        <a ui-sref="base.deals.create"><i class="fa fa-plus"></i> Deal</a>
                    </li>
                    <li>
                        <a ui-sref="base.cases.create"><i class="fa fa-plus"></i> Case</a>
                    </li>
                </ul>
            </div>
            <!-- END SMALL ACTIONS -->
        </div>
        <div class="clearfix"></div>
        <!-- END PAGE ACTIONS -->
    </div>

</script>
{% endverbatim %}
