{% include 'angular/header.html' %}
{% include 'angular/sidebar.html' %}
{% include 'angular/top_nav/search.html' %}
{% include 'angular/mixins/page_header.html' %}
{% include 'angular/mixins/breadcrumbs.html' %}

{% include 'contacts/angular/includes.html' %}
{% include 'dashboard/angular/includes.html' %}
{% include 'deals/angular/includes.html' %}
{% include 'email/angular/includes.html' %}
{% include 'notes/angular/includes.html' %}
{% include 'preferences/angular/includes.html' %}
{% include 'utils/angular/includes.html' %}
