<feature-unavailable tier="2">
    <div class="portlet light">
        <div class="portlet-title">
            <h2>Import contacts</h2>
            <p>
                {{ $root.messages.pages.integrations.moneybirdContactImportIntro }}
                <br />
            </p>

            <div ng-if="vm.tenant.hasMoneybird">
                <p>
                    {{ $root.messages.pages.integrations.moneybirdContactImportCheckbox }}
                </p>
                <checkbox model="vm.autoSync"></checkbox>

                <p>
                    <strong>Note:</strong> {{ $root.messages.pages.integrations.moneybirdContactImportNote }}
                </p>

                <a class="hl-primary-btn" ng-click="vm.setupSync()">Import Moneybird contacts</a>
            </div>
            <div ng-if="!vm.tenant.hasMoneybird">
                <p>
                    {{ $root.messages.pages.integrations.moneybirdContactImportNoCredentials }}
                    <br />
                    {{ $root.messages.pages.integrations.moneybirdContactImportNoCredentialsSub }}
                </p>
            </div>
        </div>
    </div>
</feature-unavailable>
