<div class="portlet light">
    <div class="portlet-title">
        <h2>PandaDoc</h2>
        <p>Your PandaDoc credentials</p>

        <form novalidate name="integrationForm">
            <form-portlet portlet-title="Credentials">
                <form-group label-title="Client ID" label-id="client_id" field="integrationForm.client_id">
                    <input class="form-control"
                        id="client_id"
                        name="client_id"
                        maxlength="255"
                        placeholder="Client ID"
                        type="text"
                        ng-model="vm.client_id" />
                </form-group>

                <form-group label-title="Client secret" label-id="client_secret" field="integrationForm.client_secret">
                    <input class="form-control"
                        id="client_secret"
                        name="client_secret"
                        maxlength="255"
                        placeholder="Client secret"
                        type="text"
                        ng-model="vm.client_secret" />
                </form-group>
            </form-portlet>

            <div class="hl-form-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2"></div>
                    <div class="col-xs-12 col-sm-9 col-md-8 col-md-7 col-lg-4">
                        <button type="button" class="btn blue" ng-click="vm.getAccessToken(integrationForm)">
                            <i class="fa fa-check"></i> Send
                        </button>
                        <button type="button" class="btn default" ng-click="vm.cancelWebhookEditing()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
