{% load activelink i18n %}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="start{% ifactive "dashboard" %} active{% endifactive %}">
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-home"></i>
                    <span class="title">{% trans 'Dashboard' %}</span>
                </a>
            </li>
            <li{% ifstartswith "contact_list" %} class="active"{% endifstartswith %}>
                <a href="{% url 'contact_list' %}">
                    <i class="fa fa-user"></i>
                    <span class="title">{% trans 'Contacts' %}</span>
                </a>
            </li>
            <li{% ifstartswith "account_list" %} class="active"{% endifstartswith %}>
                <a href="{% url 'account_list' %}">
                    <i class="fa fa-building"></i>
                    <span class="title">{% trans 'Accounts' %}</span>
                </a>
            </li>
            <li{% ifstartswith "messaging_email_inbox" %} class="active"{% endifstartswith %}>
                <a href="{% url 'messaging_email_inbox' %}">
                    <i class="fa fa-inbox"></i>
                    <span class="title">{% trans 'E-mail' %}</span>
                </a>
            </li>
            <li{% ifstartswith "deal_list" %} class="active"{% endifstartswith %}>
                <a href="{% url 'deal_list' %}">
                    <i class="fa fa-money"></i>
                    <span class="title">{% trans 'Deals' %}</span>
                </a>
            </li>
            <li class="last{% ifactive "case_list" %} active{% endifactive %}">
                <a href="{% url 'case_list' %}">
                    <i class="fa fa-briefcase"></i>
                    <span class="title">{% trans 'Cases' %}</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
