/* SG
# Cases/Priority #
Add priority to case headings by adding these classes in the `case-info-heading` div.

`label-success` for low priority

`label-info` for medium priority

`label-warning` for high priority

`label-danger` for critical priority

```
<div class="case-info-heading label-success">
    <div class="case-info-heading-priority">
        Low priority
    </div>
</div>

<div class="case-info-heading label-info">
    <div class="case-info-heading-priority">
        Medium priority
    </div>
</div>

<div class="case-info-heading label-warning">
    <div class="case-info-heading-priority">
        High priority
    </div>
</div>

<div class="case-info-heading label-danger">
    <div class="case-info-heading-priority">
        Critical priority
    </div>
</div>
```
*/

.label-sm {
    padding: 4px 6px !important;
}

td .label-sm {
    display: block;
}

.assign-me-btn {
    float: right;

    &:focus,
    &:hover {
        text-decoration: none;
    }
}

.list-actions {
    padding: 3px 10px;
}

@mixin case-priority-color($color) {
    border: 1px $color solid;
    background: #fff;

    .case-info-heading-priority {
        color: #fff;
        background: $color;
    }
}

.case-info-heading {
    box-sizing: border-box;

    border-radius: $base-border-radius;
    margin-bottom: 25px;

    &.label-success {
        @include case-priority-color($low-prio-color);
    }

    &.label-info {
        @include case-priority-color($medium-prio-color);
    }

    &.label-warning {
        @include case-priority-color($high-prio-color);
    }

    &.label-danger {
        @include case-priority-color($critical-prio-color);
    }
}

.case-info-heading-priority {
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
}

.case-info-heading-title {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.case-info-heading-description {
    border-top: 1px $light-grey solid;
    padding: 10px;
}

.case-detail-block {
    background: #fff;
    border-radius: $base-border-radius;
    margin-bottom: 25px;
}

.case-detail-block-heading {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px $light-grey solid;

    a {
        text-decoration: none;
    }
}

.case-detail-block-content {
    padding: 10px;
}

.case-detail-block-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        line-height: 24px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.case-detail-tag {
    padding: 3px 5px;
    background: $lily-grey;
    border-radius: 4px;
    margin-right: 5px;
    color: #999;
}

.cases-person-selector-dropdown {
    max-height: 300px;
    min-width: 250px;
    max-width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 20px;

    .no-icon-spacing {
        left: 18px;
        position: relative;
    }

    .cases-person-selector-dropdown-option:hover {
        cursor: pointer;
        background-color: #eee;
    }

    .user-option {
        position: relative;
        left: 25px;
        padding: 2px;
    }

    .team-option {
        padding: 2px;
    }

    .cases-person-selector-dropdown-selection-box {
        display: inline-block;
        border: 1px solid #c5c5c5;
        height: 16px;
        width: 16px;
        top: 2px;
        position: relative;

        i {
            &.fa-check {
                position: relative;
                top: -3px;
            }
        }
    }
}

.cases-btn-group-person-selector-padding-left-5 {
    padding-left: 5px;
}

@mixin case-priority-border-indicator($color) {
    border-left: 6px $color solid;
}

.low-priority-color {
    color: $low-prio-color;
}

.medium-priority-color {
    color: $medium-prio-color;
}

.high-priority-color {
    color: $high-prio-color;
}

.critical-priority-color {
    color: $critical-prio-color;
}

.priority-button {
    padding: 5px 12px !important;
    border: 1px solid #e5e5e5;
    border-radius: $base-border-radius;
    width: 49%;
    margin-bottom: 1.5%;

    &.low-priority-indicator {
        @include case-priority-border-indicator($low-prio-color);
        margin-right: 1.5%;
    }

    &.medium-priority-indicator {
        @include case-priority-border-indicator($medium-prio-color);
    }

    &.high-priority-indicator {
        @include case-priority-border-indicator($high-prio-color);
        margin-right: 1.5%;
    }

    &.critical-priority-indicator {
        @include case-priority-border-indicator($critical-prio-color);
    }
}

.case-detail-info {
    div > label {
        width: 160px;
        font-weight: bold;
    }
}
