/* SG
# Cases/Heading  #
```
<div class="case-info-heading label-success">
    <div class="case-info-heading-priority">
        Low priority
    </div>
    <div class="case-info-heading-title">
        Title
    </div>
    <div class="case-info-heading-description">
        Omschrijving
    </div>
</div>
```
*/

/* SG
# Cases/Priority #
Add priority to case headings by adding these classes in the `case-info-heading` div.

`label-success` for low priority

`label-info` for medium priority

`label-warning` for high priority

`label-danger` for critical priority

```
<div class="case-info-heading label-success">
    <div class="case-info-heading-priority">
        Low priority
    </div>
</div>

<div class="case-info-heading label-info">
    <div class="case-info-heading-priority">
        Medium priority
    </div>
</div>

<div class="case-info-heading label-warning">
    <div class="case-info-heading-priority">
        High priority
    </div>
</div>

<div class="case-info-heading label-danger">
    <div class="case-info-heading-priority">
        Critical priority
    </div>
</div>
```
*/

#case-status {
    margin-top: 15px;
    margin-bottom: 15px;
}

.label-sm {
    padding: 4px 6px !important;
}

td .label-sm {
    display: block;
}

.assign-me-btn {
    float: right;
    &:focus, &:hover {
        text-decoration: none;
    }
}

.list-actions {
    padding: 3px 10px;
}

@mixin case-priority-color($color){
    border: 1px $color solid;
    background: white;

    .case-info-heading-priority {
        color: white;
        background: $color;
    }
}

.case-info-heading {
    box-sizing: border-box;

    border-radius: $baseBorderRadius;
    margin-bottom: 25px;

    &.label-success {
        @include case-priority-color($lowPrioColor);
    }

    &.label-info {
        @include case-priority-color($mediumPrioColor);
    }

    &.label-warning {
        @include case-priority-color($highPrioColor);
    }

    &.label-danger {
        @include case-priority-color($criticalPrioColor);
    }
}

.case-info-heading-priority {
    padding: 0px 10px;
    line-height: 40px;
    font-size: 16px;
}

.case-info-heading-title {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.case-info-heading-description {
    border-top: 1px $lightGrey solid;
    padding: 10px;
}

.case-detail-block {
    background: white;
    border-radius: $baseBorderRadius;
    margin-bottom: 25px;
}

.case-detail-block-heading {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px $lightGrey solid;

    a {
        text-decoration: none;
    }
}

.case-detail-block-content {
    padding: 10px;
}

.case-detail-block-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        line-height: 24px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.case-detail-tag {
    padding: 3px 5px;
    background: $lilyGrey;
    border-radius: 4px;
    margin-right: 5px;
    color: #999;
}

.cases-person-selector-dropdown {
    max-height: 300px;
    min-width: 250px;
    max-width: 350px;
    overflow-y: auto;
    overflow-x: hidden;

    .no-icon-spacing {
        left: 18px;
        position: relative;
    }

    .cases-person-selector-dropdown-option:hover {
        cursor: pointer;
        background-color: #eeeeee;
    }

    .user-option {
        position: relative;
        left: 25px;
        padding: 2px;
    }

     .team-option {
         padding: 2px;
     }

    .cases-person-selector-dropdown-selection-box {
        display: inline-block;
        border: 1px solid #c5c5c5;
        height: 16px;
        width: 16px;
        top: 2px;
        position: relative;

        i.fa-check {
            position: relative;
            top: -3px;
        }
    }
}

.cases-btn-group-person-selector-padding-left-5 {
    padding-left: 5px;
}

@mixin case-priority-button($color){
    border-left: 6px $color solid;
}

.low {
    color: $lowPrioColor;
}

.medium {
    color: $mediumPrioColor;
}

.high {
    color: $highPrioColor;
}

.critical {
    color: $criticalPrioColor;
}

.priority-button {
    padding: 5px 12px;
    border: 1px solid #E5E5E5;
    border-radius: $baseBorderRadius;
    width: 49%;
    margin-bottom: 1.5%;

    &.low {
        @include case-priority-button($lowPrioColor);
        margin-right: 1.5%;
    }

    &.medium {
        @include case-priority-button($mediumPrioColor);
    }

    &.high {
        @include case-priority-button($highPrioColor);
        margin-right: 1.5%;
    }

    &.critical {
        @include case-priority-button($criticalPrioColor);
    }
}
