.mws-form .email_is_primary label span {
    color: #aaa;
    font-weight: normal;
    cursor: auto;
}

.mws-form .email_is_primary .checked,
.mws-form .email_is_primary .state-hover {
    color: #50B3DF;
    font-weight: bold;
    cursor: pointer;
}

.mws-form .formset-delete .mws-i-24 {
    display: block; 
    width: 24px; 
    height: 24px;
}

.mws-table td {
    overflow: hidden;
}

#account_controls,
.account_controls {
    padding: 0 40px !important;
    vertical-align: middle;
}

.account_controls a {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 4px;
}


#account_logo {
    width: 14%;
    padding-left: 45px;
}

#account_name {
    width: 20%;
}

#account_details {
    width: 20%;
}

#account_created {
    width: 14%;
}

#account_modified {
    width: 14%;
}

#account_tags {
    width: 18%;
}

.account_logo_img {
    padding: 15px 10px 10px 10px;
    vertical-align: middle;
}

.account_name span.business_name a {
    font-size: 112%;
}

.account_created, .account_modified {
    white-space: nowrap;
}

.account_details {
    white-space: nowrap;
}

.account_tags {
    height: 60px;
}