/*  GENERIC STUFF */
.no-round-right {
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -moz-border-radius-topright: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn.blue {
    background-color: #5B9BD1;
    &:hover {
        background-color: #3175AF;
    }
    &:active, &:focus {
        background-color: #3071A9;
    }
}

.list-justified {
    width: 100%;
    display: table;
    table-layout: fixed;
    li {
        display: table-cell;
        text-align: center;
        &:first-of-type {
            text-align: left;
        }
        &:last-of-type {
            text-align: right;
            padding-right: 0;
        }
    }
}

/*  END GENERIC STUFF */

/*  BREADCRUMB STUFF */

.breadcrumb .fa {
    margin: 0 5px 0 4px;
}

/*  END BREADCRUMB STUFF */

/*  TEXT STUFF */

.text-white {
    color: #fff;
    &:hover {
        color: #fff;
    }
}

/*  END TEXT STUFF */

/*  TABLE STUFF */

.table-fixed-layout {
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    table-layout: fixed;
    th {
        &.width-4 {
            width: 4%;
        }
        &.width-5 {
            width: 5%;
        }
        &.width-6 {
            width: 6%;
        }
        &.width-20 {
            width: 20%;
        }
    }
}

td .label-sm {
    display: block;
    padding: 4px 6px !important;
}

/*  END TABLE STUFF */

/*  MIXFILTER STUFF */

.mix-filter li {
    background: #FFF;
}

/*  END MIXFILTER STUFF */

/*  DASHBOARD STUFF */

.actions {
    display: inline-block;
    margin-left: 10px;

    select.xsm {
        height: 26px;
    }
}

/*  END DASHBOARD STUFF */

.radio-btns label {
    border: 1px solid #2d6ca2;
}

.inbox tr.unread td {
    font-weight: 800;
    color: #595959;
}

/* FIX z-index of topnav */

.page-header.navbar.navbar-fixed-top {
    z-index: 3;
}

/* Contacts freedomlink style */

.contact {
    &.freedom-link {
        padding: 4px;
        float: right;
        border: 1px solid #2f3490;
        border-radius: 5px;
        color: #2f3490;
        font-size: 12px;
    }
    &.freedom-link-arrow {
        font-size: 12px;
    }
}

/* END Contacts freedomlink style */

.font-size-inherit {
    font-size: inherit !important;
}

.required {
    font-weight: bold;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.break {
    word-wrap: break-word;
}

.header {
    font-weight: bold;
}

.form-horizontal .control-label.with-icon {
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.label-icon {
    font-size: 20px;
}

.label-text {
    font-size: 10px;
}

.pre {
    white-space: pre;
}

.form-control.select2-container {
    border: 1px solid #e5e5e5;
}

.padding-top-15 {
    padding-top: 15px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-padding-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.page-header.navbar .page-actions {
    margin-top: 22px;
}

.page-header.navbar .page-logo .logo-default {
    margin-top: 25px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:after {
    right: 22px;
}