{% load i18n two_factor static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Lily CRM system" />
        <meta name="author" content="Devhouse Spindle" />
        <meta name="google-site-verification" content="_xITnxGZwmxCoTvAruAPex70sjtgMAmV8UOXPKszexQ" />
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'app/images/favicons/apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'app/images/favicons/apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'app/images/favicons/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'app/images/favicons/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'app/images/favicons/apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'app/images/favicons/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'app/images/favicons/apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'app/images/favicons/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/images/favicons/apple-touch-icon-180x180.png' %}">
        <link rel="icon" type="image/png" href="{% static 'app/images/favicons/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'app/images/favicons/android-chrome-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'app/images/favicons/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static 'app/images/favicons/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'app/images/favicons/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'app/images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'app/images/favicons/favicon.ico' %}">
        <meta name="apple-mobile-web-app-title" content="Lily">
        <meta name="application-name" content="Lily">
        <meta name="msapplication-TileColor" content="#27244c">
        <meta name="msapplication-TileImage" content="{% static 'app/images/favicons/mstile-144x144.png' %}">
        <meta name="msapplication-config" content="{% static 'app/images/favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#fff">
        <link href="{% static 'app/login.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'vendor/anonymous_vendor.css' %}" rel="stylesheet" type="text/css">
        <title>Lily | Login</title>
    </head>
    <body class="login-bg" style="background-image: url('{% static 'app/images/login-bg.jpg' %}')">
        <div class="login-wrapper">
            <div class="login-wrapper-cell">
                <div class="login-container">
                    <div class="logo"><img class="logo-image" src="{% static 'app/images/logo.svg' %}"></div>

                    {% if wizard.steps.current == 'token' %}
                        {% if device.method == 'call' %}
                            <p>
                                {% blocktrans %}We are calling your phone right now, please enter the digits you hear.{% endblocktrans %}
                            </p>
                        {% elif device.method == 'sms' %}
                            <p>
                                {% blocktrans %}We sent you a text message, please enter the tokens we sent.{% endblocktrans %}
                            </p>
                        {% else %}
                            <p>
                                {% blocktrans %}Please enter the tokens generated by your token generator.{% endblocktrans %}
                            </p>
                        {% endif %}
                    {% elif wizard.steps.current == 'backup' %}
                        <p>
                            {% blocktrans %}
                                Use this form for entering backup tokens for logging in.
                                These tokens have been generated for you to print and keep safe. Please
                                enter one of these backup tokens to login to your account.
                            {% endblocktrans %}
                        </p>
                    {% endif %}

                    <form action="" method="post" class="login-form">
                        {% csrf_token %}

                        {{ wizard.management_form }}
                        {% include 'users/two_factor_auth/_form_fields.html' with form=wizard.form %}

                        {% include 'users/two_factor_auth/_wizard_actions.html' %}

                        {% if other_devices or backup_tokens %}
                            <div class="spacer-20"></div>
                        {% endif %}

                        {% if other_devices %}
                            {% for other in other_devices %}
                                <div class="align-center">
                                    <button name="challenge_device" type="submit" value="{{ other.persistent_id }}" class="link">
                                        {{ other|device_action }}
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if backup_tokens %}
                            <div class="align-center">
                                <button name="wizard_goto_step" type="submit" value="backup" class="link">
                                    {% trans "Use Backup Token" %}
                                </button>
                            </div>
                        {% endif %}
                    </form>

                    {% if wizard.steps.current == 'auth' %}
                        <div class="align-center">
                            <a class="link" href="{% url 'password_reset' %}" id="reset_password">
                                {% trans 'Forgot your password?' %}
                            </a>
                        </div>
                        <div class="align-center">
                            <a class="link" href="{% url 'activation_resend' %}">
                                {% trans 'Resend activation email' %}
                            </a>
                        </div>
                        <div class="spacer-20"></div>
                        <div class="align-center">
                            <div class="register-text">Don’t have an account?</div>
                            <a class="link" href="https://hellolily.com/pricing/">
                                {% trans 'Select a plan and register' %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'vendor/anonymous_vendor.js' %}" charset="utf-8"></script>
        <script>
            document.getElementById('reset_password').addEventListener('click', (event) => {
                email = document.getElementById('id_auth-username').value;

                if(email.length) {
                    event.preventDefault();
                    window.location = "{% url 'password_reset' %}?email=" + encodeURIComponent(email);
                }
            });

            $(document).ready(function() {
                {% for message in messages %}
                    console.log('{{ message.level_tag }}');
                    toastr['{{ message.level_tag }}']('{{ message.message }}');
                {% endfor %}
            });
        </script>
        {% include 'anonymous/analytics.html' %}
    </body>
</html>
