<div class="widget-heading">
    <div class="widget-title">
        <div class="widget-name">Import accounts & contacts</div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="widget-body">
    <div class="widget-content">
        <div class="row">
            <div class="col-md-12">
                <form novalidate name="importAccountsForm">
                    <form-portlet portlet-title="Import accounts">
                        <p>List accounts all at once by importing a .csv file containing account information.</p>
                        <ul class="hl-instruction-list">
                            <li class="hl-instruction-list-item">Only .CSV files are eligible</li>
                            <li class="hl-instruction-list-item">The file should at least contain a column with the header: <strong>company name</strong></li>
                            <li class="hl-instruction-list-item">Optional headers are:
                                <strong>website</strong>,
                                <strong>email address</strong>,
                                <strong>phone number</strong>,
                                <strong>address</strong>,
                                <strong>postal code</strong>,
                                <strong>city</strong>,
                                <strong>twitter</strong>.
                            </li>
                            <li class="hl-instruction-list-item">Information in any additional columns will be added to the description of an account</li>
                            <li class="hl-instruction-list-item">Please note that headers are case sensitive</li>
                        </ul>

                        <form-group field="importAccountsForm.import_file">
                            <div>
                                <div class="hl-select-file">
                                    <input class="hl-select-file-input" size="10" id="import_file" type="file" ngf-select ng-model="vm.csv" name="import_file" accept="text/csv" ngf-max-size="5MB" required>
                                </div>
                                <div class="clearfix"></div>
                                <div class="spacer-20"></div>

                                <input type="hidden" name="import_type" value="accounts" />

                                <button type="button" class="hl-primary-btn-blue" ng-click="vm.importAccounts(importAccountsForm)">
                                    <i class="fa fa-upload"></i> Import
                                </button>
                            </div>
                        </form-group>
                    </form-portlet>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <form-portlet portlet-title="Error" ng-if="vm.import_accounts_result_error.length">
                        <div class="row">
                            <div>
                                <li ng-repeat="company_name in vm.import_accounts_result_error track by $index">
                                {{ company_name }}
                                </li>
                            </div>
                        </div>
                    </form-portlet>

                    <form-portlet portlet-title="Created or updated" ng-if="vm.import_accounts_result_created_updated.length">
                        <div class="row">
                            <div>
                                <li ng-repeat="company_name in vm.import_accounts_result_created_updated track by $index">
                                {{ company_name }}
                                </li>
                            </div>
                        </div>
                    </form-portlet>
                </form>
            </div>
        </div>

    <div class="row">
            <div class="col-md-12">
                <form novalidate name="importContactsForm">
                    <form-portlet portlet-title="Import contacts">
                        <p>List contacts all at once by importing a .csv file containing contact information.</p>
                        <ul class="hl-instruction-list">
                            <li class="hl-instruction-list-item">Only .CSV files are eligible</li>
                            <li class="hl-instruction-list-item">The file should at least contain a column with the header:
                                <strong>first name</strong>,
                                <strong>last name</strong>
                            </li>
                            <li class="hl-instruction-list-item">Optional headers are:
                                <strong>email address</strong>,
                                <strong>phone number</strong>,
                                <strong>mobile</strong>,
                                <strong>address</strong>,
                                <strong>postal code</strong>,
                                <strong>city</strong>,
                                <strong>twitter</strong>,
                                <strong>linkedin</strong>,
                                <strong>company name</strong>.
                            </li>
                            <li class="hl-instruction-list-item">Information in any additional columns will be added to the description of a contact</li>
                            <li class="hl-instruction-list-item">Please note that headers are case sensitve</li>
                        </ul>

                        <form-group field="importContactsForm.import_file">
                            <div>
                                <div class="hl-select-file">
                                    <input class="hl-select-file-input" size="10" id="import_file" type="file" ngf-select ng-model="vm.csv" name="import_file" accept="text/csv" ngf-max-size="5MB" required>
                                </div>
                                <div class="clearfix"></div>
                                <div class="spacer-20"></div>

                                <input type="hidden" name="import_type" value="contacts" />

                                <button type="button" class="hl-primary-btn-blue" ng-click="vm.importContacts(importContactsForm)">
                                    <i class="fa fa-upload"></i> Import
                                </button>
                            </div>
                        </form-group>
                    </form-portlet>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <form-portlet portlet-title="Error" ng-if="vm.import_contacts_result_error.length">
                        <div class="row">
                            <div>
                                <li ng-repeat="full_name in vm.import_contacts_result_error track by $index">
                                {{ full_name }}
                                </li>
                            </div>
                        </div>
                    </form-portlet>

                    <form-portlet portlet-title="Duplicates" ng-if="vm.import_contacts_result_duplicate.length">
                        <div class="row">
                            <div>
                                <li ng-repeat="full_name in vm.import_contacts_result_duplicate track by $index">
                                {{ full_name }}
                                </li>
                            </div>
                        </div>
                    </form-portlet>

                    <form-portlet portlet-title="Created" ng-if="vm.import_contacts_result_created.length">
                        <div class="row">
                            <div>
                                <li ng-repeat="full_name in vm.import_contacts_result_created track by $index">
                                {{ full_name }}
                                </li>
                            </div>
                        </div>
                    </form-portlet>
                </form>
            </div>
        </div>
    </div>
</div>
