{% verbatim %}
<script id="contacts/contact-detail.html" type="text/ng-template">
    <div class="row">
        <div class="col-md-4">
            <contact-detail-widget contact="contact" height="300"></contact-detail-widget>
        </div>
        <div class="col-md-4">
            <div ng-repeat="account in contact.accounts" ng-show="contact.accounts.length">
                <contact-list-widget title="Colleagues at {{ account.name }}" list="account.colleagueList" ng-if="contact.accounts.length == 1" height="300"></contact-list-widget>
                <contact-list-widget title="Colleagues at {{ account.name }}" list="account.colleagueList" ng-if="contact.accounts.length >= 2" height="91"></contact-list-widget>
            </div>
            <div ng-hide="contact.accounts.length">
                <contact-list-widget title="No known workplaces" list="" height="300"></contact-list-widget>
            </div>
        </div>
        <div class="col-md-4">
            <case-list-widget title="cases" list="caseList" height="300"></case-list-widget>
        </div>
    </div>

    <history-list target="'contact'" object="contact"></history-list>
</script>
{% endverbatim %}
