{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="error">
        {% for error in form.non_field_errors %}
            {{ error }}
            {% if not forloop.last %}
                <br />
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% for field in form.visible_fields %}
    <div class="field-wrapper{% if field.name == 'privacy' or field.name == 'terms' %} compact{% endif %}">
        <label class="field-label" for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
