{% extends 'anonymous/base.html' %}

{% load i18n bootstrap3 %}

{% block head-title %}{% trans 'Account activation failed' %}{% endblock %}
{% block page-title %}{% trans 'Account activation failed' %}{% endblock %}

{% block content %}
    <p>
        {% trans 'This happened because either the link is invalid, the activation period expired or the associated account has already been activated. You can apply for a new activation link or try to log in.' %}
    </p>

    <div class="row">
        <div class="col-xs-6">
            <a href="{% url 'activation_resend' %}" class="btn btn-primary">
                {% trans 'Try again' %}
            </a>
        </div>

        <div class="col-xs-6">
            <a href="{% url 'login' %}"  class="btn btn-primary">
                {% trans 'Back to login' %}
            </a>
        </div>
    </div>
{% endblock %}
