{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Password reset' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/activation.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-ui-effects.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/users.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/reset.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="mws-login-wrapper">
        <div id="mws-login">
            <div class="mws-panel">
                <div class="mws-panel-header">
                    <span class="mws-i-24 i-refresh-4">{% trans 'Resend activation e-mail' %}</span>
                </div>
                <div id="mws-login-form"> 
                    <form class="mws-form" autocomplete="off" action="" method="post">
                        <div class="mws-form-row mws-message-container">
                            <div class="mws-form-row mws-activate-message">
                                {% trans "Didn't receive your activation e-mail? Enter your e-mail address below, and we'll e-mail it again, free of charge!" %}
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="mws-form-row">
                            <div class="mws-form-item large">
                                {% if form.email.errors %}
                                    <span class="field_error">{{ form.email }}</span>
                                    <div class="mws-error no_list_style_type">
                                        {{ form.email.errors }}
                                    </div>
                                {% else %}
                                    {{ form.email }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="mws-form-row">
                            <input type="submit" value="{% trans 'Resend activation e-mail' %}" class="mws-button blue mws-reset-button" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="{% url login %}" class="float-right" id="sub-panel-link">{% trans 'Go to log in' %}</a>
    </div>
{% endblock %}
