{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Activation failed' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/activation.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-ui-effects.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/reset.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="mws-login-wrapper">
        <div id="mws-login">
            <div class="mws-panel">
                <div class="mws-panel-header">
                    <span class="mws-i-24 i-refresh-4">{% trans 'Account activation failed' %}</span>
                </div>
                <div id="mws-login-form">
                    <div class="mws-form">
                        <div class="mws-form-row mws-message-container" >
                            <div class="mws-form-row mws-activate-message">
                                {% trans "Activation failed. This happened because either the link is invalid, the activation period expired or the associated account has already been activated. You can apply for a new activation link or try to log in." %}
                            </div>
                        </div>
                        
                        
                        <a href="{% url login %}" class="mws-link-button">
                            <button type="button" class="mws-button blue mws-login-button">
                                {% trans 'Login' %}
                            </button>
                        </a>                        
                        <a href="{% url activation_resend %}" class="mws-link-button">
                            <button type="button" class="mws-button blue mws-reset-button">
                                {% trans 'Resend activation e-mail' %}
                            </button>
                        </a>
                    </div>
                </div>
               </div>
        </div>
    </div>
{% endblock %}
