{% extends 'base_visitor_portal.html' %}

{% load i18n static %}

{% block page-title %}{% trans 'Resend activation e-mail' %} - {% endblock %}

{% block styles %}
    {{ block.super }}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/login.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/activation.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    {% block jQueryUI-scripts %}{% endblock %}
    
    <script type="text/javascript" src="{% static 'users/js/activation.js' %}"></script>    
{% endblock %}

{% block portal-title %}{% trans 'Resend activation e-mail' %}{% endblock %}

{% block portal-bottom-links %}
    <a href="{% url login %}" class="float-right" id="sub-panel-link">{% trans 'Go to log in' %}</a>
{% endblock %}