{% extends 'anonymous/form.html' %}

{% load bootstrap3 i18n %}


{% block head-title %}{% trans 'Resend activation e-mail' %}{% endblock %}
{% block page-title %}{% trans 'Resend activation e-mail' %}{% endblock %}

{% block help-text %}
    <p>
        {% trans "Didn't receive your activation e-mail?" %}
        <br />
        {% trans "Enter your e-mail address below, and I'll e-mail it again, free of charge!" %}
    </p>
{% endblock %}

{% block form-actions-extra-class %}margin-bottom-15{% endblock %}

{% block form-actions-btn-text %}
    {% trans 'Resend activation e-mail' %}
    <i class="m-icon-swapright m-icon-white"></i>
{% endblock %}

{% block extra-form-links %}
    <a href="{% url 'login' %}">
        {% trans 'Back to login' %}
    </a>
{% endblock %}
