{% extends 'anonymous/form.html' %}

{% load bootstrap3 i18n %}


{% block head-title %}{% trans "You're almost there" %}{% endblock %}
{% block page-title %}{% trans "You're almost there" %}{% endblock %}

{% block help-text %}
    <p>
        Please confirm <strong>{{ user.email }}</strong> is your email address by clicking the link in the email we just sent you.
    </p>

    <p>
        Didn't receive your activation email? Click the button to resend the email.
    </p>
{% endblock %}

{% block form-actions %}
    <button type="submit" class="hl-primary-btn-blue margin-bottom-15 no-margin-left">
        {% trans 'Resend email' %}
    </button>
{% endblock %}

{% block extra-form-links %}
    <a href="{% url 'login' %}">
        {% trans 'Back to login' %}
    </a>
{% endblock %}
