{% load i18n two_factor static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Lily CRM system" />
        <meta name="author" content="Devhouse Spindle" />
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'app/images/favicons/apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'app/images/favicons/apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'app/images/favicons/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'app/images/favicons/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'app/images/favicons/apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'app/images/favicons/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'app/images/favicons/apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'app/images/favicons/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/images/favicons/apple-touch-icon-180x180.png' %}">
        <link rel="icon" type="image/png" href="{% static 'app/images/favicons/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'app/images/favicons/android-chrome-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'app/images/favicons/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static 'app/images/favicons/favicon-16x16.png' %}" sizes="16x16">
        <link rel="manifest" href="{% static 'app/images/favicons/manifest.json' %}">
        <link rel="mask-icon" href="{% static 'app/images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'app/images/favicons/favicon.ico' %}">
        <meta name="apple-mobile-web-app-title" content="Lily">
        <meta name="application-name" content="Lily">
        <meta name="msapplication-TileColor" content="#27244c">
        <meta name="msapplication-TileImage" content="{% static 'app/images/favicons/mstile-144x144.png' %}">
        <meta name="msapplication-config" content="{% static 'app/images/favicons/browserconfig.xml' %}">
        <meta name="theme-color" content="#fff">
        <link href="{% static 'app/login.css' %}" rel="stylesheet" type="text/css">
        <title>Lily | You're almost there</title>
    </head>
    <body class="login-bg" style="background-image: url('{% static 'app/images/login-bg.jpg' %}')">
        <div class="login-wrapper">
            <div class="login-wrapper-cell">
                <div class="register-container">
                    <div class="logo"><img class="logo-image" src="{% static 'app/images/logo.svg' %}"></div>
                    <form action="" method="post" class="login-form">
                        {% csrf_token %}

                        <p>
                            Please confirm <strong>{{ user.email }}</strong> is your email address by clicking the link in the email we just sent you.
                        </p>

                        <p>
                            Didn't receive your activation email? Click the button to resend the email.
                        </p>

                        <div class="row">
                            <button type="submit" class="hl-primary-btn-blue">
                                {% trans 'Resend email' %}
                            </button>

                            <div class="spacer-20"></div>

                            <div class="align-center">
                                <a class="link" href="{% url 'login' %}" id="login">
                                    {% trans 'Back to login' %}
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% include 'anonymous/analytics.html' %}
    </body>
</html>
