{% extends 'base_user.html' %}

{% load i18n utils %}

{% block page-titel %}{% trans 'Dashboard' %} - {% endblock %}

{% block container %}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>{% trans 'Welcome to the HelloLily beta!' %}</span>
    </div>
    <div class="mws-panel-body">
        <div class="mws-panel-content">
            <h4></h4>
            <p>
                If you find any bugs or want improvements please <a href="https://getsatisfaction.com/hellolily" target="_blank">report them</a>. We know that support for mobile devices is not perfect yet and it's on our todo list. For a full list of known bugs and features to come check our <a href="https://trello.com/board/hellolily/4f5885b678986de1120affbb" target="_blank">page at Trello</a>.
            </p>
            <hr />
            
            <div id="dashboard-latest" class="clearfix">
                <div class="object-list grid_4">
                    <h2 class="i-32 i-contacts blue">{% trans 'Latest contacts' %}</h2>
                    <div>
                        {% include 'base_list.html' with list=contact_list list_item_template='users/dashboard/latest_contact_list_item.html' %}
                    </div>
                </div>     
                <div class="object-list grid_4">
                    <h2 class="i-32 i-accounts blue">{% trans 'Latest accounts' %}</h2>
                    <div>
                        {% include 'base_list.html' with list=account_list list_item_template='users/dashboard/latest_account_list_item.html' %}
                    </div>
                </div>         
            </div>     

            <hr />
            
            {% if user|in_group:'account_admin' %}
                <h2>Other things you can do</h2>
                <p>
                    <ul class="mws-summary">
                        <li><a href="{% url invitation_invite %}">click</a><span class="things-you-can-do">Send invitations to new users</span></li>
                    </ul>
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
