{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Add an user to this account' %}{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function bindFormset() {
        $('.mws-form-formset').formset({
            formTemplate: '.formset-custom-template',
            prefix: '{{ formset.prefix }}',
            addText: '{% trans "Add another" %}',
            preventEmptyFormset: true,
            addCssClass: 'add-row mws-form-row'
        });
    }

    $(document).ready(function() {
        bindFormset();
        $("#mws-form-dialog").dialog({
            autoOpen: false, 
            title: "{% trans 'User invitation form' %}", 
            modal: true, 
            width: "640", 
            buttons: [{
                text: "{% trans 'Send invitation(s)' %}", 
                click: function() { sendForm($( this )); }
            }],
            close: function(event, ui) { clearForm($(this).find('form.mws-form')); }
        });
        
        $("#mws-form-dialog-mdl-btn").bind("click", function(event) {
            $("#mws-form-dialog").dialog("open");
            event.preventDefault();
        });
    });
</script>
{% endblock %}

{% block content %}
    <!--
    TODO: The formsets do not work with multiple of the same formset on the same page.
          This should not be a problem with different formsets.
          
          The commented div below is how it work when not displayed in a dialog.
          This is commented out because of bug mentioned above and desired behaviour is in dialog.

    -->
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-plus">{% trans 'User invitation form' %}</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form" action="" method="post">
                {% include 'users/invitation_send_form.html' %}
                <div class="mws-button-row">
                    <input type="submit" value="{% trans 'Send invitation(s)' %}" class="mws-button blue" />
                </div>
            </form>
        </div>
    </div>

    <!-- <div class="mws-panel grid_4">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-alert">jQuery-UI Dialog</span>
        </div>
        <div class="mws-panel-body">
            <div class="mws-panel-content">
                <input type="button" id="mws-form-dialog-mdl-btn" class="mws-button green" value="Show Modal Form" />
                                
                <div id="mws-form-dialog">
                    <form class="mws-form" action="?xhr" method="post">
                        {% include 'users/invitation_send_form.html' %}
                    </form>
                </div>
            </div>
        </div>      
    </div> -->
    
    <div class="hidden">
        <div class="formset-custom-template">
            <div class="mws-form-row">
                <div class="mws-form-item large">
                    <div class="mws-form-cols clearfix">
                        <div class="mws-form-col-3-8 alpha">
                            <div class="mws-form-item"> 
                                <input name="form-{{ formset.forms|length|add:"-1" }}-first_name" maxlength="255" placeholder="{% trans 'First name' %}" type="text" class="mws-register-name mws-textinput required" id="form-{{ formset.forms|length|add:"-1" }}-id_form-0-first_name">
                            </div>
                        </div>
                        <div class="mws-form-col-3-8 alpha">
                            <div class="mws-form-item"> 
                                <input name="form-{{ formset.forms|length|add:"-1" }}-email" maxlength="255" placeholder="{% trans 'E-mail' %}" type="text" class="mws-register-email mws-textinput required" id="form-{{ formset.forms|length|add:"-1" }}-id_form-0-email">
                            </div>
                        </div>
                       <div class="mws-form-col-2-8 alpha">
                            <div class="mws-form-item">
                                <button type="button" class="mws-button delete-row small red mws-reset-button">
                                    {% trans 'Delete' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
