{% extends 'base_visitor_portal.html' %}

{% load i18n static %}

{% block page-title %}{% trans 'Log in' %} - {% endblock %}

{% block styles %}
    {{ block.super }}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/core/login.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    <script type="text/javascript" src="{% url jsi18n packages='lily.users' %}"></script>
    <script type="text/javascript" src="{% static 'users/js/login.js' %}"></script>
{% endblock %}

{% block portal-header %}
    <div class="mws-panel-header">
        <span>{% block portal-title %}HelloLily {% trans 'Log in' %}{% endblock %}</span>
    </div>
    <img src="{% static 'extra/images/logo-hellolily-login.png' %}" id="login-logo" class="hide_on_small_screen" />
{% endblock %}
                
{% block portal-form %}
    {{ block.super }}
    
    <div class="mws-form-row">
        <div class="mws-form-item large">
            {{ form.username }}
        </div>
        <div class="mws-form-item large">
            {{ form.password }}
        </div>
    </div>
    <div class="mws-form-row" id="remember-me">
        {{ form.remember_me }} {{ form.remember_me.label_tag }}
    </div>
{% endblock %}

{% block portal-form-buttons %}
    <div class="mws-form-row">
        <input type="submit" value="{% trans 'Log in' %}" class="mws-button blue mws-login-button tabbable" />
    </div>
{% endblock %}

{% block portal-bottom-links %}
    <a href="{% url password_reset %}" class="float-right tabbable" id="sub-panel-link">{% trans 'Forgot your password?' %}</a>
    <div class="clearfix"></div>
    <a href="{% url activation_resend %}" class="float-right tabbable" id="sub-panel-link">{% trans 'Resend activation e-mail' %}</a>
{% endblock %}
