{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Log in' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/screwdefaultbuttons/css/styles.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-ui-effects.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/screwdefaultbuttons/js/jquery.screwdefaultbuttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/users.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/login.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="mws-login-wrapper">
        <div id="mws-login">
            <div class="mws-panel">
                <div class="mws-panel-header">
                    <span class="mws-i-24 i-locked-2">HelloLily</span>
                </div>
                <img src="{% static 'images/logo-hellolily-login.png' %}" id="login-logo"/>
                <form class="mws-form" autocomplete="off" action="" method="post">
                    {% if messages %}
                        <div class="mws-form-row">
                            <div class="mws-form-row mws-login-messages">
                            {% for message in messages %}
                                {{ message|safe }}
                            {% endfor %}
                            </div>
                        </div>
                    {% endif %}
            
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                        <div class="mws-form-row">
                            <div class="mws-form-message error no_list_style_type">
                                <span class="field_error">{{ form.non_field_errors }}</span>
                            </div>
                        </div>
                    {% endif %}
                    
                    <div class="mws-form-row">
                        <div class="mws-form-item large">
                            {{ form.username }}
                        </div>
                        <div class="mws-form-item large">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="mws-form-row" id="remember-me">
                            {{ form.remember_me }} {{ form.remember_me.label_tag }}
                    </div>
                    
                   <div class="mws-form-row">
                        <input type="submit" value="{% trans 'Log in' %}" class="mws-button blue mws-login-button" />
                    </div>
                </form>
            </div>
        </div>
        <a href="{% url password_reset %}" class="float-right" id="sub-panel-link">{% trans 'Forgot your password?' %}</a>
        <div class="clearfix"></div>
        <a href="{% url activation_resend %}" class="float-right" id="sub-panel-link">{% trans 'Resend activation e-mail' %}</a>
    </div>
{% endblock %}
