{% extends 'anonymous/form.html' %}

{% load i18n bootstrap3 %}

{% block head-title %}{% trans 'Login' %}{% endblock %}
{% block page-title %}{% trans 'Login' %}{% endblock %}

{% block content-width %}col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4{% endblock %}

{% block form-actions-btn-text %}
    {% trans 'Login' %}
    <i class="m-icon-swapright m-icon-white"></i>
{% endblock %}

{% block form-actions-extra-class %}pull-right display-inline-block margin-bottom-15{% endblock %}
{% block form-id %}login-form{% endblock %}

{% block extra-form-links %}
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <a href="{% url 'password_reset' %}">
                {% trans 'Forgot your password?' %}
            </a>
        </div>

        <div class="col-xs-12 col-sm-6">
            <a href="{% url 'activation_resend' %}">
                {% trans 'Resend activation e-mail' %}
            </a>
        </div>
    </div>
{% endblock %}
