{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Password reset' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/password_reset.css' %}" media="screen" />
{% endblock %}

{% block body %}
    <div id="mws-login-wrapper">
        <div id="mws-login">
            <div class="mws-panel">
                <div class="mws-panel-header">
                    <span class="mws-i-24 i-locked-2">{% trans 'Password reset successful' %}</span>
                </div>
                <div class="mws-form">
                    <div class="mws-form-row mws-message-container">
                        <div class="mws-form-row mws-reset-message">
                            {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
                        </div>
                    </div>
                    
                    <a href="{% url login %}" class="mws-link-button">
                        <button type="button" class="mws-button blue mws-reset-button">
                            {% trans 'Back to log in' %}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
