{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Password reset' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/password_reset.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-ui-effects.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/users.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/reset.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="mws-login-wrapper">
        <div id="mws-login">
            <div class="mws-panel">
                <div class="mws-panel-header">
                    <span class="mws-i-24 i-locked-2">{% trans 'Password reset' %}</span>
                </div>
                <form class="mws-form" autocomplete="off" action="" method="post">
                    <div class="mws-form-row">
                        <div class="mws-form-row mws-reset-message">
                            {% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
                        </div>
                    </div>
                    
                    {% csrf_token %}
                    
                    <div class="mws-form-row">
                        <div class="mws-form-item large">
                            {% if form.email.errors %}
                                <span class="field_error">{{ form.email }}</span>
                                <div class="mws-error no_list_style_type">
                                    {{ form.email.errors }}
                                </div>
                            {% else %}
                                {{ form.email }}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="mws-form-row">
                        <input type="submit" value="{% trans 'Reset my password' %}" class="mws-button blue mws-reset-button" />
                    </div>
                </form>
            </div>
        </div>
        <a href="{% url login %}" class="float-right" id="sub-panel-link">{% trans 'Back to log in' %}</a>
    </div>
{% endblock %}
