{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Password reset' %} - {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/password_reset.css' %}" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/jquery-ui-effects.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/users.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/reset.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="mws-login-wrapper">
        <div id="mws-login">
            <div class="mws-panel">
                {% if validlink %}
                    <div class="mws-panel-header">
                        <span class="mws-i-24 i-locked-2">{% trans 'Enter new password' %}</span>
                    </div>
                    <div id="mws-login-form"> 
                        <form class="mws-form" autocomplete="off" action="" method="post">
                            <div class="mws-form-row mws-message-container">
                                <div class="mws-form-row mws-reset-message">
                                    {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
                                </div>
                            </div>
                            
                            {% csrf_token %}
                            
                            <div class="mws-form-row">
                                <div class="mws-form-item large">
                                    {% if form.new_password1.errors %}
                                        <span class="field_error">{{ form.new_password1 }}</span>
                                        <div class="mws-error no_list_style_type">
                                            {{ form.new_password1.errors }}
                                        </div>
                                    {% else %}
                                        {{ form.new_password1 }}
                                    {% endif %}
                                </div>
                                <div class="mws-form-item large">
                                    {% if form.new_password2.errors %}
                                        <span class="field_error">{{ form.new_password2 }}</span>
                                        <div class="mws-error no_list_style_type">
                                            {{ form.new_password2.errors }}
                                        </div>
                                    {% else %}
                                        {{ form.new_password2 }}
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="mws-form-row">
                                <input type="submit" value="{% trans 'Change my password' %}" class="mws-button blue mws-reset-button" />
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="mws-panel-header">
                        <span class="mws-i-24 i-locked-2">{% trans 'Password reset unsuccessful' %}</span>
                    </div>
                    <div id="mws-login-form"> 
                        <div class="mws-form">
                            <div class="mws-form-row">
                                <div class="mws-form-row mws-reset-message">
                                    {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
                                </div>
                            </div>
                            
                            <a href="{% url password_reset %}" class="mws-link-button">
                                <button type="button" class="mws-button blue mws-reset-button">
                                    {% trans 'Try again' %}
                                </button>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
