<div ng-if="!account.id" ng-include="'utils/controllers/does_not_exist.html'" class="row">
</div>

<div ng-if="account.id" class="row">
    <div class="col-md-4">
        <account-detail-widget account="account"></account-detail-widget>
    </div>

    <div class="col-md-4">
        <list-widget title="Deals"
                     list="dealList"
                     collapsable-items="true"
                     object="account"
                     add-link="base.deals.create.fromAccount({accountId: {{ account.id }}})">
        </list-widget>
    </div>

    <div class="col-md-4">
        <list-widget title="Cases"
                     list="caseList"
                     collapsable-items="true"
                     object="account"
                     add-link="base.cases.create.fromAccount({accountId: {{ account.id }}})">
        </list-widget>
    </div>
</div>

<div  ng-if="account.id" class="row">
    <div class="col-md-8">
        <history-list ng-if="account.id" target="'account'" object="account"></history-list>
    </div>

    <div class="col-md-4">
        <list-widget title="{{ account.name }}"
                     list="contactList"
                     module="contacts"
                     object="account"
                     add-link="base.contacts.create.fromAccount({accountId: {{ account.id }}})"
                     height="height">
        </list-widget>
    </div>
</div>
