<div ng-if="!account.id" ng-include="'utils/controllers/does_not_exist.html'" class="row">
</div>
<div ng-if="account.id" class="row">
    <div class="col-md-4">
        <account-detail-widget account="account" height="300"></account-detail-widget>
    </div>
    <div class="col-md-4">
        <list-widget title="Contacts" list="contactList" height="300" object="account" add-link="base.contacts.create.fromAccount({accountId: {{ account.id }}})"></list-widget>
    </div>
    <div class="col-md-4">
        <list-widget title="Cases" list="caseList" height="91" add-link="base.cases.create.fromAccount({accountId: {{ account.id }}})" collapsable-items="true"></list-widget>
        <list-widget title="Deals" list="dealList" height="91" add-link="base.deals.create.fromAccount({accountId: {{ account.id }}})"></list-widget>
    </div>
</div>
<history-list ng-if="account.id" target="'account'" object="account"></history-list>
