<div class="row">
    <div class="col-md-12">
        <div class="widget-heading" ng-if="settings.email.sidebar.form">
            <div class="widget-name">
                <div class="widget-title">
                    Add account
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <form novalidate class="hl-form-body" name="accountForm">
            <form-portlet portlet-title="Who was it?">
                <form-group label-title="Primary website" label-id="primary_website" field="accountForm.primaryWebsite">
                    <div class="input-group">
                        <input class="form-control"
                               id="primary_website"
                               name="primaryWebsite"
                               maxlength="255"
                               placeholder="www.example.com"
                               type="text"
                               on-enter-key="vm.checkDomainForDuplicates()"
                               ng-model="vm.account.primaryWebsite" />
                            <span class="input-group-btn">
                                <button autocomplete="off"
                                        class="btn default"
                                        type="button"
                                        ng-click="vm.checkDomainForDuplicates()"
                                        ng-disabled="!accountForm.primaryWebsite.$valid">
                                    <i class="fa fa-magic"></i>
                                </button>
                            </span>
                    </div>
                </form-group>

                <form-group label-title="Company name" label-id="id_name" field="accountForm.name" required="true">
                    <input class="form-control"
                           id="id_name"
                           maxlength="255"
                           name="name"
                           placeholder="Company name"
                           type="text"
                           ng-model="vm.account.name">
                </form-group>

                <form-group label-title="Description" label-id="id_description" field="accountForm.description">
                    <textarea class="form-control" cols="40" id="id_description" name="description" placeholder="Description" rows="3" ng-model="vm.account.description"></textarea>
                </form-group>

                <form-group label-title="Customer ID" label-char="#" label-id="id_customer_id" field="costumer_id">
                    <input class="form-control" id="id_customer_id" maxlength="32" name="customer_id"
                           name="costumer_id" placeholder="Customer ID" type="text"
                           ng-model="vm.account.customer_id"
                           ng-change="vm.setStatusForCustomerId()">
                </form-group>

                <form-group label-title="Status" label-id="id_status" field="accountForm.status">
                    <select name="status" ng-model="vm.account.status"
                            ng-options="status.name for status in vm.statusChoices track by status.id"
                            class="form-control">
                        <option value="" hidden>Select a status</option>
                    </select>
                </form-group>
            </form-portlet>

            <form-portlet portlet-title="Who is handling the account?">
                <form-group label-title="Assigned to" label-id="id_assigned_to" field="accountForm.assigned_to">
                    <ui-select ng-model="vm.account.assigned_to" theme="select2" class="form-control" name="assigned_to">
                        <ui-select-match placeholder="Assign to...">{{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="person.id as person in vm.people | propsFilter: {name: $select.search}">
                            <div ng-bind-html="person.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </form-group>
            </form-portlet>

            <form-portlet portlet-title="Contact information">
                <div ng-class="{'supercard-form': settings.email.sidebar.form}">

                    <form-email-addresses email-addresses="vm.account.email_addresses"
                                          add-related-field="vm.addRelatedField(field)"
                                          remove-related-field="vm.removeRelatedField(field, index, remove)">
                    </form-email-addresses>

                    <form-phone-numbers phone-numbers="vm.account.phone_numbers"
                                        add-related-field="vm.addRelatedField(field)"
                                        remove-related-field="vm.removeRelatedField(field, index, remove)">
                    </form-phone-numbers>

                    <form-addresses addresses="vm.account.addresses"
                                    add-related-field="vm.addRelatedField(field)"
                                    remove-related-field="vm.removeRelatedField(field, index, remove)">
                    </form-addresses>

                    <form-websites websites="vm.account.websites"
                                   double-account-check="vm.checkDomainForDuplicates(form, index)"
                                   add-related-field="vm.addRelatedField(field)"
                                   remove-related-field="vm.removeRelatedField(field, index, remove)">
                    </form-websites>
                </div>
            </form-portlet>

            <form-portlet portlet-title="Tags">
                <form-portlet-body>
                    <form-group label-title="Tags" label-id="id_tags" field="accountForm.tags">
                        <tag-input ng-if="vm.account" object="vm.account"></tag-input>
                    </form-group>
                </form-portlet-body>
            </form-portlet>

            <form-portlet portlet-title="Social media">
                <form-group label-title="Twitter" label-id="twitter" field="accountForm.twitter">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-twitter"></i>
                        </span>
                        <input class="form-control"
                               id="twitter"
                               name="twitter"
                               maxlength="255"
                               placeholder="Twitter"
                               type="text"
                               ng-model="vm.account.twitter">
                    </div>
                </form-group>
            </form-portlet>

            <div class="hl-form-footer">
                <div class="row">
                    <div ng-class="{'hidden col-xs-12': settings.email.sidebar.form, 'col-xs-12 col-sm-3 col-md-2 col-lg-2': !settings.email.sidebar.form}"></div>
                    <div ng-class="{'col-xs-12': settings.email.sidebar.form, 'col-xs-12 col-sm-9 col-md-8 col-md-7 col-lg-4': !settings.email.sidebar.form}">
                	    <button type="button" class="btn blue" ng-click="vm.checkDomainForDuplicates(accountForm)">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <button type="button" class="btn default" ng-click="vm.cancelAccountCreation()">
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
