<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-columns"></i>
                    Columns
                    <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-menu hold-on-click dropdown-checkboxes">
                    <checkbox model="vm.table.visibility.name">Account</checkbox>
                    <checkbox model="vm.table.visibility.contactInformation">Contact information</checkbox>
                    <checkbox model="vm.table.visibility.assignedTo">Assigned to</checkbox>
                    <checkbox model="vm.table.visibility.created">Created</checkbox>
                    <checkbox model="vm.table.visibility.modified">Modified</checkbox>
                    <checkbox model="vm.table.visibility.tags">Tags</checkbox>
                    <checkbox model="vm.table.visibility.customerId">Customer ID</checkbox>
                </div>
            </div>
            <a ng-click="vm.exportToCsv()" class="btn btn-default">Export accounts</a>
        </div>
        <div class="tools col-xs-12 col-md-6">
            <form class="form-inline pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="vm.table.filter" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="button" class="btn red-pink" ng-click="vm.setFilter('')" ng-disabled="!vm.table.filter">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped flip-content">
            <thead class="flip-content">
                <tr>
                    <th class="list-actions" width="75px">
                        <span class="text-nowrap">Options</span>
                    </th>
                    <th ng-show="vm.table.visibility.name" sort-column="name" table="vm.table" class="width-22">
                        <span class="text-nowrap">Account</span>
                    </th>
                    <th ng-show="vm.table.visibility.contactInformation" class="width-22">
                        <span class="text-nowrap">Contact information</span>
                    </th>
                    <th ng-show="vm.table.visibility.assignedTo" sort-column="assigned_to" table="vm.table" class="width-22">
                        <span class="text-nowrap">Assigned to</span>
                    </th>
                    <th ng-show="vm.table.visibility.created" sort-column="created" table="vm.table" class="width-10">
                        <span class="text-nowrap">Created</span>
                    </th>
                    <th ng-show="vm.table.visibility.modified" sort-column="modified" table="vm.table" class="width-10">
                        <span class="text-nowrap">Modified</span>
                    </th>
                    <th ng-show="vm.table.visibility.tags" sort-column="tag" table="vm.table" class="width-10">
                        <span class="text-nowrap">Tags</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="account in vm.table.items">
                    <td>
                        <a ui-sref="base.accounts.detail.edit({ id: account.id })" class="btn btn-xs default" title="Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                        <button type="button" class="btn btn-xs default" title="Delete" ng-click="vm.deleteAccount(account)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td ng-show="vm.table.visibility.name">
                        <a class="list-link" ui-sref="base.accounts.detail({ id: account.id })" title="{{ ::account.name }}">
                            <i class="fa fa-building-o"></i>
                            <span class="list-link-name">{{ ::account.name }}</span>
                        </a>
                    </td>
                    <td ng-show="vm.table.visibility.contactInformation">
                        <div ng-repeat="email in account.email_addresses | filter: {status: '!' + 0}">
                            <a ui-sref="base.email.composeEmail({ email:email.email_address })" title="{{ ::email.email_address }}">
                                <i class="fa fa-envelope-alt"></i>
                                {{ email.email_address }}
                            </a>
                        </div>
                        <div ng-repeat="phone in account.phone_work track by $index">
                            <a href="tel:{{ ::phone }}">
                                <i class="fa fa-phone"></i>
                                {{ phone }}
                            </a>
                        </div>
                        <div ng-repeat="phone in account.phone_mobile track by $index">
                            <a href="tel:{{ ::phone }}">
                                <i class="fa fa-mobile-phone"></i>
                                {{ phone }}
                            </a>
                        </div>
                    </td>
                    <td ng-show="vm.table.visibility.assignedTo">
                        {{ ::account.assigned_to }}
                    </td>
                    <td ng-show="vm.table.visibility.created"><date date="account.created"></date></td>
                    <td ng-show="vm.table.visibility.modified"><date date="account.modified"></date></td>
                    <td ng-show="vm.table.visibility.tags">
                        <span ng-repeat="tag in account.tag">
                            <a href="javascript:void(0)" ng-click="vm.setFilter(tag)">{{ ::tag }}</a>
                            <br>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hl-pagination values="vm.table"></hl-pagination>
</div>
