{% load i18n %}

<!-- BEGIN PAGE ACTIONS -->
<!-- DOC: Remove "hide" class to enable the page header actions -->
<div class="page-actions">
    <div class="btn-group">
        <a class="btn blue btn-sm" href="{% url 'contact_add' %}" role="button">{% trans 'Contact' %} <i class="fa fa-plus-square-o"></i></a>
        <a class="btn blue btn-sm" href="{% url 'account_add' %}" role="button">{% trans 'Account' %} <i class="fa fa-plus-square-o"></i></a>
        <a class="btn blue btn-sm" href="{% url 'deal_create' %}" role="button">{% trans 'Deal' %} <i class="fa fa-plus-square-o"></i></a>
        <a class="btn blue btn-sm" href="{% url 'case_create' %}" role="button">{% trans 'Case' %} <i class="fa fa-plus-square-o"></i></a>
    </div>
</div>
<!-- END PAGE ACTIONS -->
<!-- BEGIN PAGE TOP -->
