<widget widget-name="'Deals to check'" widget-class="'col-md-6'" widget-scrollable="true" widget-closeable="true">
    <widget-header>
        <div class="widget-name">
            <i class="fa fa-phone"></i>
            Deals to check
            <span class="label-amount">{{ vm.table.items.length }}</span>
        </div>
    </widget-header>

    <widget-filters>
        <users-filter users-store="vm.table.usersFilter" storage-name="'dealsToCheck'"></users-filter>
    </widget-filters>

    <widget-body>
        <table id="dealsToCheckBlockTarget" class="widget-table">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Deal</th>
                    <th>Quote</th>
                    <th>Checked?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deal in vm.table.items">
                    <td><a ui-sref="base.accounts.detail({ id: deal.account })">{{ deal.account_name }}</a></td>
                    <td><a ui-sref="base.deals.detail({ id: deal.id })">{{ deal.name }}</a></td>
                    <td><a ng-href="https://freedom.voys.nl/quotes/pdf/{{ deal.quote_id }}/" target="_blank"><i class="fa fa-dashboard"></i> Check</a></td>
                    <td><a ng-click="vm.markDealAsChecked(deal)"><i class="fa fa-check"></i> a ok!</a></td>
                </tr>
                <tr ng-hide="vm.table.items.length">
                    <td colspan="5">No deals to check</td>
                </tr>
            </tbody>
        </table>
    </widget-body>
</widget>
