<widget widget-name="'Deals to check'" widget-class="'col-md-6'" widget-scrollable="true" widget-closeable="true" widget-expandable="true">
    <widget-header>
        <div class="widget-name">
            <i class="lilicon hl-deals-filled-icon"></i>
            Deals to check
            <span class="label-amount">{{ vm.table.items.length }}</span>
        </div>
    </widget-header>

    <widget-filters>
        <users-filter users-store="vm.table.usersFilter" storage-name="dealsToCheck" conditions="vm.table.conditions"></users-filter>
    </widget-filters>

    <widget-body>
        <table id="dealsToCheckBlockTarget" class="widget-table">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Deal</th>
                    <th>Quote</th>
                    <th>Checked?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deal in vm.table.items">
                    <td>
                        <deleted-indicator object="deal.account" field="name">
                            <a ui-sref="base.accounts.detail({ id: deal.account.id })">{{ deal.account.name }}</a>
                        </deleted-indicator>
                    </td>
                    <td><a ui-sref="base.deals.detail({ id: deal.id })">{{ deal.name }}</a></td>
                    <td><a ng-href="https://freedom.voys.nl/quotes/pdf/{{ deal.quote_id }}/" target="_blank" rel="noopener noreferrer"><i class="fa fa-dashboard"></i> Check</a></td>
                    <td><checkbox model="deal.is_checked" ng-click="vm.markDealAsChecked(deal)"></checkbox></td>
                </tr>
                <tr ng-hide="vm.table.items.length">
                    <td colspan="5">Nice! All open deals have been verified.</td>
                </tr>
            </tbody>
        </table>
    </widget-body>
</widget>
