<widget widget-name="'My cases'" widget-class="'col-md-12'" widget-scrollable="true" widget-closeable="true" widget-dynamic-height="true" widget-expandable="true">
    <widget-header>
        <div class="widget-label cases"></div>
        <div class="widget-name">
            <i class="lilicon hl-case-icon"></i>
            My cases
            <span class="label-amount">{{ vm.numOfCases }}</span><span class="label-amount high-prio" ng-if="vm.highPrioCases" uib-tooltip="Critical priority">{{ vm.highPrioCases }}</span>
        </div>
    </widget-header>

    <widget-filters>
        <due-date-filter filter-store="vm.table.dueDateFilter" type="'case'" class="due-date-filter" conditions="vm.table.conditions"></due-date-filter>
        <users-filter users-store="vm.table.usersFilter" storage-name="caseUsersFilter" class="user-filter" conditions="vm.table.conditions"></users-filter>
    </widget-filters>

    <widget-body>
        <table id="myCasesBlockTarget" class="widget-table">
            <thead>
                <tr>
                    <th style="width: 50px;">Nr.</th>
                    <th>Subject</th>
                    <th>Client</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th style="width: 50px;">Priority</th>
                    <th>Expires</th>
                    <th style="width: 80px;">Actions</th>
                </tr>
            </thead>
            <tbody ng-repeat="(key, cases) in vm.table.items">
                <tr class="widget-table-sub-heading" ng-show="cases.length && key.length">
                    <td colspan="8" class="text-capitalize" ng-if="key !== 'newlyAssigned'">{{ key }}</td>
                    <td colspan="8" ng-if="key === 'newlyAssigned'">Newly assigned to you</td>
                </tr>
                <tr ng-repeat="myCase in cases" ng-class="{'newly-assigned': key === 'newlyAssigned'}">
                    <td style="width: 30px;">
                        <a ui-sref="base.cases.detail({ id: myCase.id })">
                            {{ myCase.id }}
                        </a>
                    </td>
                    <td>
                        <a ui-sref="base.cases.detail({ id: myCase.id })">
                            {{ myCase.subject }}
                        </a>
                    </td>
                    <td>
                        <deleted-indicator ng-if="myCase.contact" object="myCase.contact" field="full_name">
                            <a ui-sref="base.contacts.detail({ id: myCase.contact.id })">{{ myCase.contact.full_name }}</a>
                        </deleted-indicator>
                        <span ng-if="myCase.contact && myCase.account"> at </span>
                        <deleted-indicator ng-if="myCase.account" object="myCase.account" field="name">
                            <a ui-sref="base.accounts.detail({ id: myCase.account.id })">{{ myCase.account.name }}</a>
                        </deleted-indicator>
                    </td>
                    <td>
                        <editable-select field="type" view-model="vm" type="Case" object="myCase" select-options="{field: 'caseTypes'}">
                            {{ myCase.type.name }}
                        </editable-select>
                    </td>
                    <td>
                        <editable-select field="status" view-model="vm" type="Case" object="myCase" select-options="{field: 'statuses'}">
                            {{ myCase.status.name }}
                        </editable-select>
                    </td>
                    <td class="priority-cell">
                        <editable-select field="priority" view-model="vm" type="Case" object="myCase" choice-field="true" select-type="icon_select" extra-class="smaller-select"
                                         select-options="{field: 'casePriorities', 'classPrefix': 'lilicon hl-prio-icon-', 'classValue': 'name'}">
                            <i class="lilicon hl-prio-icon-{{ myCase.priority_display | lowercase }}" tooltip-placement="left" uib-tooltip="{{ myCase.priority_display }} priority"></i>
                        </editable-select>
                    </td>
                    <td style="width: 150px; min-width: 150px;">
                        <postpone type="'Case'" object="myCase" date-field="'expires'" callback="vm.getMyCases()"></postpone>
                    </td>
                    <td>
                        <button ng-if="key === 'newlyAssigned'" class="hl-primary-btn round" callback="vm.acceptCase(myCase)" mark-assigned-button
                                uib-tooltip="{{ $root.messages.tooltips.newlyAssignedCase }}" tooltip-append-to-body="true">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-show="vm.numOfCases == 0">
                    <td colspan="8" ng-if="vm.table.conditions.dueDate && vm.table.conditions.user">
                        Great! All of the selected cases have been completed.
                    </td>
                    <td colspan="8" ng-if="!(vm.table.conditions.dueDate && vm.table.conditions.user)">No cases</td>
                </tr>
            </tbody>
        </table>

        <div ng-if="$root.currentUser.objectCounts.cases === 1">
            <div class="empty-state-description no-top">
                <p>Here you’ll find all the unfinished cases.</p>
            </div>
        </div>
    </widget-body>
</widget>
