<dashboard-widget widget-name="'My cases'" widget-class="'col-md-12'" widget-scrollable="true" widget-closeable="true" widget-dynamic-height="true">
    <div name="portlet-caption">
        <i class="fa fa-briefcase"></i>
        <span class="caption-subject bold uppercase"> MY CASES</span>
        <span class="caption-helper">({{ vm.numOfCases }})</span>
        <span class="label label-sm label-danger" ng-if="vm.highPrioCases">{{ vm.highPrioCases }}</span>
    </div>
    <div name="portlet-caption-extra">
        <due-date-filter filter-store="vm.table.dueDateFilter" type="'case'"></due-date-filter>
        <users-filter users-store="vm.table.usersFilter" storage-name="'myCases'"></users-filter>
    </div>
    <div name="portlet-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 55px;">Nr.</th>
                    <th>Subject</th>
                    <th>Client</th>
                    <th style="width: 250px;">Type</th>
                    <th style="width: 150px;">Status</th>
                    <th style="width: 70px;">Priority</th>
                    <th style="width: 10%;">Expires</th>
                    <th style="width: 80px;">Postpone</th>
                </tr>
            </thead>
            <tbody ng-repeat="(key, cases) in vm.table.items">
                <tr class="bg-grey" ng-show="cases.length && key.length">
                    <td colspan="8" class="text-capitalize">{{ key }}</td>
                </tr>
                <tr ng-repeat="myCase in cases">
                    <td>
                        <a ui-sref="base.cases.detail({ id: myCase.id })">
                            {{ myCase.id }}
                        </a>
                    </td>
                    <td>
                        <a ui-sref="base.cases.detail({ id: myCase.id })">
                            {{ myCase.subject }}
                        </a>
                    </td>
                    <td>
                        <a ui-sref="base.contacts.detail({ id: myCase.contact })" ng-if="myCase.contact">
                            {{ myCase.contact_name }}
                        </a>
                        <span ng-if="myCase.contact && myCase.account"> at </span>
                        <a ui-sref="base.accounts.detail({ id: myCase.account })" ng-if="myCase.account">
                            {{ myCase.account_name }}
                        </a>
                    </td>
                    <td>
                        {{ myCase.casetype_name }}
                    </td>
                    <td>
                        {{ myCase.status }}
                    </td>
                    <td>
                        <span class="label label-sm ng-binding" ng-class="{0: 'label-success', 1: 'label-info', 2: 'label-warning', 3: 'label-danger'}[myCase.priority]">
                            {{ myCase.priority_name }}
                        </span>
                    </td>
                    <td>
                        {{ myCase.expires | date:'dd MMMM y' }}
                    </td>
                    <td>
                        <postpone type="'Case'" object="myCase" date-field="'expires'" callback="vm.getMyCases()" display-date="false"></postpone>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-show="vm.numOfCases == 0">
                    <td colspan="8">No cases</td>
                </tr>
            </tbody>
        </table>
    </div>
</dashboard-widget>
