<div class="col-md-6">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-briefcase"></i>
                <span class="caption-subject bold uppercase"> MY CASES</span>
                <span class="caption-helper">({{ vm.table.items.length }})</span>
                <span class="label label-sm label-danger" ng-if="vm.highPrioCases">{{ vm.highPrioCases }}</span>
            </div>
            <div class="tools">
                <a href="" class="collapse" data-original-title="" title=""></a>
                <a href="" class="remove" data-original-title="" title=""></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="scroll-body" slimscroll="{height: 250}">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th sort-column="id" table="vm.table">Case nr.</th>
                            <th>Client</th>
                            <th>Subject</th>
                            <th sort-column="priority" table="vm.table">Prio</th>
                            <th>Status</th>
                            <th sort-column="expires" table="vm.table">Exp date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="myCase in vm.table.items">
                            <td><a ui-sref="base.cases.detail({ id: myCase.id })">{{ myCase.id }}</a></td>
                            <td><a ui-sref="base.accounts.detail({ id: myCase.account })">{{ myCase.account_name }}</a></td>
                            <td><a ui-sref="base.cases.detail({ id: myCase.id })">{{ myCase.subject }}</a></td>
                            <td>
                            <span title="3"></span>
                            <span class="label label-sm ng-binding" ng-class="{0: 'label-success', 1: 'label-info', 2: 'label-warning', 3: 'label-danger'}[myCase.priority]">{{ myCase.priority_name }}</span>
                            </td>
                            <td>{{ myCase.status }}</td>
                            <td><a ng-click="vm.openPostponeWidget(myCase)" tooltip="Aaah, that's too soon!"><i class="fa fa-history"></i> {{ myCase.expires | date }}</a></td>
                        </tr>
                        <tr ng-hide="vm.table.items.length">
                            <td colspan="6">No cases</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
