<widget widget-name="'My deals'" widget-class="'col-md-12'" widget-scrollable="true" widget-closeable="true" widget-dynamic-height="true" widget-expandable="true">
    <widget-header>
        <div class="widget-label deals"></div>
        <div class="widget-name">
            <i class="lilicon hl-deals-filled-icon"></i>
            My deals
            <span class="label-amount">{{ vm.numOfDeals }}</span><span class="label-amount high-prio" ng-if="vm.highPrioDeals" uib-tooltip="Critical priority">{{ vm.highPrioDeals }}</span>
        </div>
    </widget-header>

    <widget-filters>
        <due-date-filter filter-store="vm.table.dueDateFilter" filter-field="next_step_date" type="'deal'" class="due-date-filter" conditions="vm.table.conditions"></due-date-filter>
        <users-filter users-store="vm.table.usersFilter" storage-name="dealUsersFilter" class="user-filter" conditions="vm.table.conditions"></users-filter>
    </widget-filters>

    <widget-body>
        <table id="myDealsBlockTarget" class="widget-table">
            <thead>
                <tr>
                    <th>Deal</th>
                    <th>Client</th>
                    <th>Deal size</th>
                    <th>Status</th>
                    <th>Next step</th>
                    <th style="width: 135px;">Next step date</th>
                    <th style="width: 105px;">Actions</th>
                </tr>
            </thead>
            <tbody ng-repeat="(key, deals) in vm.table.items">
                <tr class="widget-table-sub-heading" ng-show="deals.length && key.length">
                    <td colspan="7" class="text-capitalize" ng-if="key !== 'newlyAssigned'">{{ key }}</td>
                    <td colspan="7" ng-if="key === 'newlyAssigned'">Newly assigned to you</td>
                </tr>
                <tr ng-repeat="myDeal in deals" ng-class="{'newly-assigned': key === 'newlyAssigned'}">
                    <td>
                        <a ui-sref="base.deals.detail({ id: myDeal.id })">
                            {{ myDeal.name }}
                        </a>
                    </td>
                    <td>
                        <span ng-if="myDeal.hasUnarchivedCases" class="danger-icon" uib-tooltip="This account has an unarchived case">
                            <i class="font-size-16 lilicon hl-case-icon"></i>
                        </span>
                        <deleted-indicator object="myDeal.contact" field="full_name">
                            <a ui-sref="base.contacts.detail({ id: myDeal.contact.id })" ng-if="myDeal.contact"> {{ myDeal.contact.full_name }}</a>
                        </deleted-indicator>
                        <span ng-if="myDeal.contact && myDeal.account.name"> at </span>
                        <deleted-indicator object="myDeal.account" field="name">
                            <a ui-sref="base.accounts.detail({ id: myDeal.account.id })" ng-if="myDeal.account"> {{ myDeal.account.name }}</a>
                        </deleted-indicator>
                    </td>
                    <td>
                        <span ng-if="myDeal.amount_recurring"><span ng-bind-html="myDeal.amount_recurring | currencySymbol:myDeal.currency"></span> /month</span>
                        <span ng-if="myDeal.amount_recurring && myDeal.amount_once" class="m-l-5 m-r-5">|</span>
                        <span ng-if="myDeal.amount_once"><span ng-bind-html="myDeal.amount_once | currencySymbol:myDeal.currency"></span> /once</span>
                    </td>
                    <td>
                        {{ myDeal.status.name }}
                    </td>
                    <td>
                        <editable-select field="next_step" view-model="vm" type="Deal" select-type="icon_select" object="myDeal"
                                         select-options="{'classPrefix': 'step-type position-', 'classValue': 'position'}">
                            <span class="step-type position-{{ myDeal.next_step.position }}">
                                {{ myDeal.next_step.name }}
                            </span>
                        </editable-select>
                    </td>
                    <td>
                        <postpone type="'Deal'" object="myDeal" date-field="'next_step_date'" tt-placement="bottom" callback="vm.getMyDeals()"></postpone>
                    </td>
                    <td>
                        <a ng-if="myDeal.account.customer_id && vm.tenant.primary_external_app_link"
                           ng-href="{{ vm.tenant.primary_external_app_link.getUrl(myDeal.account.customer_id) }}"
                           target="_blank" rel="noopener noreferrer" class="hl-primary-btn round">
                            <i class="fa fa-cloud-upload"></i>
                        </a>
                        <button ng-if="key === 'newlyAssigned'" class="hl-primary-btn round" callback="vm.acceptDeal(myDeal)" mark-assigned-button
                                uib-tooltip="{{ $root.messages.tooltips.newlyAssignedDeal }}" tooltip-append-to-body="true">
                            <i class="fa fa-check"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-show="vm.numOfDeals == 0">
                    <td colspan="7" ng-if="vm.table.conditions.dueDate && vm.table.conditions.user">
                        Well done, you’ve completed all your selected deals!
                    </td>
                    <td colspan="7" ng-if="!(vm.table.conditions.dueDate && vm.table.conditions.user)">No deals</td>
                </tr>
            </tbody>
        </table>

        <div ng-if="$root.currentUser.objectCounts.deals === 0">
            <div class="empty-state-description no-top">
                <p>All the deals you need to complete will show up here.</p>
            </div>
        </div>
    </widget-body>
</widget>
