<dashboard-widget widget-name="'My deals'" widget-class="'col-md-12'" widget-scrollable="true" widget-closeable="true" widget-dynamic-height="true">
    <div class="widget-name" name="widget-title">
        <i class="lilicon hl-deals-filled-icon"></i>
        My Deals
        <span class="label-amount">{{ vm.numOfDeals }}</span><span class="label-amount high-prio" ng-if="vm.highPrioDeals" uib-tooltip="Critical priority">{{ vm.highPrioDeals }}</span>
    </div>

    <div name="widget-filters">
        <due-date-filter filter-store="vm.table.dueDateFilter" filter-field="'next_step_date'" type="'deal'"></due-date-filter>
        <users-filter users-store="vm.table.usersFilter" storage-name="'myDeals'"></users-filter>
    </div>

    <div name="portlet-body">
        <table class="widget-table">
            <thead>
                <tr>
                    <th>Deal</th>
                    <th>Client</th>
                    <th>Deal size</th>
                    <th>Next step</th>
                    <th>Next step date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody ng-repeat="(key, deals) in vm.table.items">
                <tr class="widget-table-sub-heading" ng-show="deals.length && key.length">
                    <td colspan="6" class="text-capitalize">{{ key }}</td>
                </tr>
                <tr ng-repeat="myDeal in deals">
                    <td>
                        <a ui-sref="base.deals.detail({ id: myDeal.id })">
                            {{ myDeal.name }}
                        </a>
                    </td>
                    <td>
                        <a ng-if="myDeal.hasUnarchivedCases" ui-sref="base.accounts.detail({ id: deal.account })" class="warning-icon" uib-tooltip="This account has an unarchived case">
                            <i class="font-size-16 lilicon hl-case-icon"></i>
                        </a>
                        <a ui-sref="base.contacts.detail({ id: myDeal.contact })" ng-if="myDeal.contact"> {{ myDeal.contact_name }}</a>
                        <span ng-if="myDeal.contact && myDeal.account_name"> at</span>
                        <a ui-sref="base.accounts.detail({ id: myDeal.account })" ng-if="myDeal.account"> {{ myDeal.account_name }}</a>
                    </td>
                    <td>
                        {{ myDeal.amount_recurring | currency:'&euro; ' }} /month | {{ myDeal.amount_once | currency:'&euro; ' }} /once
                    </td>
                    <td>
                        <span>
                            {{ myDeal.next_step.name }}
                        </span>
                    </td>
                    <td>
                        <postpone type="'Deal'" object="myDeal" date-field="'next_step_date'" callback="vm.getMyDeals()" display-date="false"></postpone>
                        <date date="myDeal.next_step_date"></date>
                    </td>
                    <td>
                        <a ng-href="https://freedom.voys.nl/client/{{ myDeal.account_customer_id }}" target="_blank" ng-if="myDeal.account_customer_id">
                            <i class="fa fa-cloud-upload"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-show="vm.numOfDeals == 0">
                    <td colspan="6">No deals</td>
                </tr>
            </tbody>
        </table>
    </div>
</dashboard-widget>
