<widget widget-name="'Unassigned deals'" widget-class="'col-md-6'" widget-scrollable="true" widget-closeable="true" widget-expandable="true">
    <widget-header>
        <div class="widget-label deals"></div>
        <div class="widget-name">
            <i class="lilicon hl-deals-filled-icon"></i>
            Unassigned deals
            <span class="label-amount">{{ vm.table.items.length }}</span>
        </div>
    </widget-header>

    <widget-filters>
        <list-filter filter-label="'Deal types'" view-model="vm" hide-special="true"></list-filter>
        <list-filter filter-label="'Teams'" view-model="vm" only-special="true" filter-icon="lilicon hl-entities-icon"></list-filter>
    </widget-filters>

    <widget-body>
        <table id="unassignedDealsBlockTarget" class="widget-table">
            <thead>
                <tr>
                    <th>Deal</th>
                    <th>Client</th>
                    <th>Deal size</th>
                    <th>Team(s)</th>
                    <th sort-column="next_step.id" table="vm.table">Next step</th>
                    <th sort-column="next_step_date" table="vm.table">Next step date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="vm.table.items.length">
                    <td colspan="7">
                        There are no unassigned deals
                    </td>
                </tr>
                <tr ng-repeat="deal in vm.table.items">
                    <td><a ui-sref="base.deals.detail({ id: deal.id })">{{ deal.name }}</a></td>
                    <td>
                        <deleted-indicator object="deal.contact" field="full_name">
                            <a ui-sref="base.contacts.detail({ id: deal.contact.id })">{{ ::deal.contact.full_name }}</a>
                        </deleted-indicator>
                        <span ng-if="deal.contact && deal.account"> at </span>
                        <deleted-indicator object="deal.account" field="name">
                             <a ui-sref="base.accounts.detail({ id: deal.account.id })">{{ ::deal.account.name }}</a>
                        </deleted-indicator>
                    </td>
                    <td>
                        <span ng-if="deal.amount_recurring"><span ng-bind-html="deal.amount_recurring | currencySymbol:deal.currency"></span> /month</span>
                        <span ng-if="deal.amount_recurring && deal.amount_once" class="m-l-5 m-r-5">|</span>
                        <span ng-if="deal.amount_once"><span ng-bind-html="deal.amount_once | currencySymbol:deal.currency"></span> /once</span>
                    </td>
                    <td>
                        <div ng-repeat="team in deal.assigned_to_teams">
                            {{ team.name }}
                        </div>
                    </td>
                    <td>
                        <editable-select field="next_step" view-model="vm" type="Deal" select-type="icon_select" object="deal"
                                         select-options="{'classPrefix': 'step-type position-', 'classValue': 'position'}">
                            <span class="step-type position-{{ deal.next_step.position }}">
                                {{ deal.next_step.name }}
                            </span>
                        </editable-select>
                    </td>
                    <td><date date="deal.next_step_date" show-time="true"></date></td>
                    <td><a ng-click="vm.assignToMe(deal)">Assign to me</a></td>
                </tr>
            </tbody>
        </table>
    </widget-body>
</widget>
