<widget widget-name="'Unassigned cases'" widget-class="'col-md-6'" widget-scrollable="true" widget-closeable="true" widget-expandable="true">
    <widget-header>
        <div class="widget-label cases"></div>
        <div class="widget-name">
            <i class="lilicon hl-case-icon"></i>
            Unassigned cases
            <span class="label-amount">{{ vm.table.items.length }}</span><span class="label-amount high-prio" ng-if="vm.highPrioCases" uib-tooltip="Critical priority">{{ vm.highPrioCases }}</span>
        </div>
    </widget-header>

    <widget-filters>
        <list-filter filter-label="'Case types'" view-model="vm" hide-special="true"></list-filter>
        <list-filter filter-label="'Teams'" view-model="vm" only-special="true" filter-icon="lilicon hl-entities-icon"></list-filter>
    </widget-filters>

    <widget-body>
        <table id="unassignedCasesBlockTarget" class="widget-table">
            <thead>
                <tr>
                    <th>Case nr.</th>
                    <th>Subject</th>
                    <th>Client</th>
                    <th sort-column="priority" table="vm.table">Prio</th>
                    <th>Team(s)</th>
                    <th sort-column="created" table="vm.table">Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!vm.table.items.length">
                    <td colspan="7">All cases for the selected types and teams have been assigned.</td>
                </tr>
                <tr ng-repeat="case in vm.table.items">
                    <td><a ui-sref="base.cases.detail({ id: case.id })">{{ case.id }}</a></td>
                    <td><a ui-sref="base.cases.detail({ id: case.id })" title="{{ ::case.subject }}">{{ ::case.subject }}</a></td>
                    <td><a ui-sref="base.accounts.detail({ id: case.account.id })" ng-if="::case.account">{{ ::case.account.name }}</a></td>
                    <td>
                        <editable-select field="priority" view-model="vm" type="Case" object="case" choice-field="true" select-type="icon_select" extra-class="smaller-select"
                                         select-options="{field: 'casePriorities', 'classPrefix': 'lilicon hl-prio-icon-', 'classValue': 'name'}">
                            <i class="lilicon hl-prio-icon-{{ case.priority_display | lowercase }}" tooltip-placement="left" uib-tooltip="{{ case.priority_display }}"></i>
                        </editable-select>
                    </td>
                    <td>
                        <div ng-repeat="team in case.assigned_to_teams">
                            {{ team.name }}
                        </div>
                    </td>
                    <td><date date="case.created" show-time="true"></date></td>
                    <td><a ng-click="vm.assignToMe(case)">Assign to me</a></td>
                </tr>
            </tbody>
        </table>
    </widget-body>
</widget>
