<dashboard-widget widget-name="'Unassigned ' + vm.team.name + ' cases'" widget-class="'col-md-6'" widget-scrollable="true" widget-closeable="true">
    <div class="widget-name" name="widget-title">
        <i class="lilicon hl-case-icon"></i>
        {{vm.team.name}} cases
        <span class="label-amount">{{ vm.table.items.length }}</span><span class="label-amount high-prio" ng-if="vm.highPrioCases" uib-tooltip="Critical priority">{{ vm.highPrioCases }}</span>
    </div>

    <div name="widget-filters">
        <list-filter filter-label="'Case type'" view-model="vm"></list-filter>
    </div>

    <div name="portlet-body">
        <table class="widget-table">
            <thead>
                <tr>
                    <th>Casenr.</th>
                    <th>Subject</th>
                    <th>Client</th>
                    <th sort-column="priority" table="vm.table">Prio</th>
                    <th sort-column="created" table="vm.table">Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="vm.table.items.length">
                    <td colspan="6">There are no unassigned cases for this team...</td>
                </tr>
                <tr ng-repeat="case in vm.table.items">
                    <td><a ui-sref="base.cases.detail({ id: case.id })">{{ case.id }}</a></td>
                    <td><a ui-sref="base.cases.detail({ id: case.id })" title="{{ ::case.subject }}">{{ ::case.subject }}</a></td>
                    <td><a ui-sref="base.accounts.detail({ id: case.account })" ng-if="::case.account">{{ ::case.account_name }}</a></td>
                    <td>
                        <span class="label label-sm" ng-class="{0: 'label-success', 1: 'label-info', 2: 'label-warning', 3: 'label-danger'}[case.priority]">
                            {{ case.priority_name }}
                        </span>
                    </td>
                    <td><date date="case.created" show-time="true"></date></td>
                    <td><a ng-click="vm.assignToMe(case)"><i class="fa fa-anchor"></i> Assign to me</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</dashboard-widget>
