<dashboard-widget widget-name="'Unassigned ' + vm.team.name + ' cases'">
    <div name="portlet-caption">
        <i class="fa fa-suitcase"></i>
        <span class="caption-subject bold uppercase"> {{vm.team.name | uppercase}} CASES</span>
        <span class="caption-helper">({{ vm.table.items.length }})</span>
        <span class="label label-sm label-danger" ng-if="vm.highPrioCases">{{ vm.highPrioCases }}</span>
    </div>
    <div name="portlet-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th sort-column="id" table="vm.table">Casenr.</th>
                    <th>Client</th>
                    <th>Subject</th>
                    <th sort-column="priority" table="vm.table">Prio</th>
                    <th sort-column="created" table="vm.table">Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="vm.table.items.length">
                    <td colspan="6">There are no unassigned cases for this team...</td>
                </tr>
                <tr ng-repeat="case in vm.table.items">
                    <td><a ui-sref="base.cases.detail({ id: case.id })">{{ case.id }}</a></td>
                    <td><a ui-sref="base.accounts.detail({ id: case.account })" ng-if="::case.account">{{ ::case.account_name }}</a></td>
                    <td><a ui-sref="base.cases.detail({ id: case.id })" title="{{ ::case.subject }}">{{ ::case.subject }}</a></td>
                    <td>
                        <span class="label label-sm" ng-class="{0: 'label-success', 1: 'label-info', 2: 'label-warning', 3: 'label-danger'}[case.priority]">
                            {{ case.priority_name }}
                        </span>
                    </td>
                    <td>{{ case.created  | relativeDate }}</td>
                    <td><a ng-click="vm.assignToMe(case)"><i class="fa fa-anchor"></i> Assign to me</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</dashboard-widget>
