<ul class="hl-button-group">
    <li class="hl-button-group-btn">
        <a class="hl-button-group-btn-link" href="javascript:;" data-toggle="dropdown" ng-click="vm.loadTeams()">
            <i class="lilicon hl-entity-icon"></i>

            <span class="hidden-480">
                <span ng-show="vm.usersDisplayNames.length >= 3">
                    {{ vm.usersDisplayNames.length }} selected
                </span>
                <span ng-show="vm.usersDisplayNames.length < 3" ng-repeat="display in vm.usersDisplayNames">
                    {{ display }}{{ $last ? '' : ', '}}
                </span>
            </span>

            <i class="margin-left-5 small-icon lilicon hl-toggle-down-icon"></i>
        </a>

        <ul class="hl-dropdown js-hold-on-click">
            <li class="hl-dropdown-item" ng-click="vm.toggleUser('', vm.currentUser.id)">
                <div class="hl-checkbox" ng-class="{'checked': vm.usersSelection.indexOf(vm.currentUser.id) > -1}"></div>
                {{ vm.currentUser.fullName }}
            </li>
            <div ng-repeat="team in vm.teams">
                <li class="hl-dropdown-item" ng-click="vm.toggleUser(team)">
                    <div class="hl-checkbox" ng-class="{'checked': vm.teamsSelection.indexOf(team.id) > -1}"></div>
                    {{ team.name }}
                </li>

                <li class="hl-dropdown-item padding-left-30" ng-repeat="user in team.users" ng-click="vm.toggleUser(team, user.id)">
                    <div class="hl-checkbox" ng-class="{'checked': vm.usersSelection.indexOf(user.id) > -1}"></div>
                    {{ user.full_name }}
                </li>
            </div>

            <div ng-repeat="user in vm.unassignedUsers">
                <li class="hl-dropdown-item" ng-click="vm.toggleUser('', user.id)">
                    <div class="hl-checkbox" ng-class="{'checked': vm.usersSelection.indexOf(user.id) > -1}"></div>
                    {{ user.full_name }}
                </li>
            </div>
        </ul>
    </li>
</ul>
