{% verbatim %}
<script id="utils/base.html" type="text/ng-template">
    <div class="portlet light">
        <div class="portlet-body">
            <div class="row inbox">
                <div class="col-md-2">
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption">Your email</div>
                        </div>
                        <div class="portlet-body">
                            <div class="profile">
                                <ul class="list-unstyled profile-nav">
                                    <li><a ui-sref="base.settings.emailaccounts" class="active"><i class="fa fa-inbox"></i> Email accounts</a></li>
                                    <li><a href="/messaging/email/templates/"><i class="icon-file"></i>TODO: Templates</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10" ui-view></div>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}
