{% verbatim %}
<script id="utils/history-list.html" type="text/ng-template">
    <div class="row">
        <div class="col-md-12">
            <ul class="mix-filter text-center">
                <li ng-repeat="(typeKey, typeVal) in history.types" ng-show="typeVal.visible" ng-class="{'active': history.activeFilter == typeKey}" ng-click="history.activeFilter = typeKey">
                    {{ typeVal.name }}
                </li>
            </ul>

            <div class="portlet light mix-grid">
                <ul class="timeline">
                    <li class="mix mix_all note-wrapper">
                        <div class="note-form-wrapper">
                            <form role="form">
                                <div class="form-body text-center">
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <label class="btn btn-default" ng-model="note.type" btn-radio="1">
                                                <i class="fa fa-phone"></i>
                                                Call
                                            </label>
                                            <label class="btn btn-default" ng-model="note.type" btn-radio="2">
                                                <i class="fa fa-calendar"></i>
                                                Meetup
                                            </label>
                                            <label class="btn btn-default" ng-model="note.type" btn-radio="0">
                                                <i class="fa fa-file-o"></i>
                                                Note
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea required class="form-control" id="id_content" ng-model="note.content" name="content" rows="4" placeholder="Write your note here"></textarea>
                                    </div>
                                </div>
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-sm blue" name="submit-form" ng-click="history.addNote(note)">
                                        <i class="fa fa-check"></i>
                                        Add note
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="note = ''">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="mix mix_all test history-{{ item.historyType }}" ng-class="{'timeline-inverted': item.historyType != 'email' || item.right}" ng-repeat="item in history.list" ng-show="!history.activeFilter || history.activeFilter == item.historyType">
                        <history-list-item item="item" history="history"></history-list-item>
                    </li>
                </ul>
            </div>

            <p class="text-center">
                <button ng-click="history.loadMore()" class="btn btn-primary margin-top-20">{{ history.showMoreText }}</button>
            </p>
        </div>
    </div>
</script>
{% endverbatim %}
