<widget ng-if="vm.contact" widget-name="'Contact info'" widget-scrollable="true">
    <widget-header>
        <div class="widget-name">
            <i class="lilicon hl-user-icon"></i>
            <span ng-show="vm.settings.email.data.contact.id">
                <a ui-sref="base.contacts.detail({ id: vm.settings.email.data.contact.id })">{{ vm.contact.full_name }}</a>
            </span>
            <span ng-show="!vm.settings.email.data.contact.id">{{ vm.contact.full_name }}</span>
        </div>
    </widget-header>

    <widget-body>
        <table class="widget-table vertical-top-align">
            <tr>
                <td><i class="fa fa-comment-o"></i> <strong>Salutation</strong></td>
                <td>
                    <editable-select field="salutation" view-model="vm" type="Contact" choice-field="true" select-options="{field: 'salutationOptions'}">{{ vm.contact.salutation_display || vm.contact.salutation }}</editable-select><span class="margin-left-5 margin-right-5">/</span>
                    <editable-select field="gender" view-model="vm" type="Contact" choice-field="true" select-options="{field: 'genderOptions'}">{{ vm.contact.gender_display || vm.contact.gender }}</editable-select>
                </td>
            </tr>

            <tr>
                <td><i class="lilicon hl-mail-icon"></i> <strong>Email</strong></td>
                <td>
                    <div ng-if="!vm.contact.email_addresses.length" ng-repeat="account in vm.contact.accounts">
                        <div ng-repeat="email in account.email_addresses">
                            <i class="lilicon hl-company-icon margin-right-10" uib-tooltip="{{ $root.messages.contact.accountInfoTooltip }}"></i>
                            <a ui-sref="base.email.composeEmail({email: email.email_address})">
                                {{ email.email_address }}
                            </a>
                        </div>
                    </div>
                    <editable-related model="vm.contact" type="Contact" field="email_addresses"></editable-related>
                </td>
            </tr>

            <tr>
                <td><i class="lilicon hl-phone-icon"></i> <strong>Phone</strong></td>
                <td>
                    <div ng-if="!vm.contact.phone_numbers.length" ng-repeat="account in vm.contact.accounts">
                        <div ng-repeat="phone in account.phone_numbers">
                            <i class="lilicon hl-company-icon margin-right-10" uib-tooltip="{{ $root.messages.contact.accountInfoTooltip }}"></i>
                            <a href="tel:{{ phone.number }}">
                                {{ phone.number }}
                            </a>
                        </div>
                    </div>
                    <editable-related model="vm.contact" type="Contact" field="phone_numbers"></editable-related>
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-map-marker"></i> <strong>Address</strong></td>
                <td>
                    <div ng-if="!vm.contact.addresses.length" ng-repeat="account in vm.contact.accounts">
                        <div ng-repeat="address in account.addresses">
                            <div class="display-inline-block">
                                <i class="lilicon hl-company-icon margin-right-10" uib-tooltip="{{ $root.messages.contact.accountInfoTooltip }}"></i>
                            </div>
                            <div class="display-inline-block vertical-align-top">
                                {{ address.address }}
                                <br/>
                                {{ address.postal_code }}, {{ address.city }}
                                <br/>
                                {{ address.country }}
                            </div>
                        </div>
                    </div>
                    <editable-related model="vm.contact" type="Contact" field="addresses"></editable-related>
                </td>
            </tr>

            <tr>
                <td><i class="lilicon hl-company-icon"></i> <strong>Works at</strong></td>
                <td>
                    <editable-select field="accounts" view-model="vm" type="Contact" search="true" multiple="true" select-options="{type: 'Account', placeholder: 'Works at...'}">
                        <div ng-repeat="account in vm.contact.accounts">
                            <a ui-sref="base.accounts.detail({id: account.id })">{{ account.name }}</a>
                        </div>
                        <span ng-if="!vm.contact.accounts.length">Not linked to any accounts</span>
                    </editable-select>
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-twitter"></i> <strong>Twitter</strong></td>
                <td>
                    <editable-link view-model="vm" type="Contact" object="vm.contact.twitter" field="username" is-social-media="true">
                        <a ng-if="vm.contact.twitter" ng-href="{{ vm.contact.twitter.profile_url }}" target="_blank">{{ vm.contact.twitter.username }}</a>
                        <span ng-if="!vm.contact.twitter">No Twitter profile</span>
                    </editable-link>
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-linkedin"></i> <strong>LinkedIn</strong></td>
                <td>
                    <editable-link view-model="vm" type="Contact" object="vm.contact.linkedin" field="username" is-social-media="true">
                        <a ng-if="vm.contact.linkedin" ng-href="{{ vm.contact.linkedin.profile_url }}" target="_blank">{{ vm.contact.linkedin.username }}</a>
                        <span ng-if="!vm.contact.linkedin">No LinkedIn profile</span>
                    </editable-link>
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-tag"></i> <strong>Tags</strong></td>
                <td>
                    <editable-tags view-model="vm" type="Contact"></editable-tags>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <strong class="margin-bottom-5">Description</strong>
                    <div>
                        <div class="pre-wrap" editable-textarea="vm.contact.description" e-rows="4" e-cols="100" onbeforesave="vm.updateModel($data, 'description')">{{ (vm.contact.description | parseUrls) || 'No description' }}</div>
                    </div>
                </td>
            </tr>
        </table>
    </widget-body>
</widget>
