<dashboard-widget ng-if="vm.contact" widget-name="'Contact info'" widget-scrollable="true">
    <widget-header>
        <div class="widget-name">
            <i class="lilicon hl-user-icon"></i>
            <span ng-show="vm.settings.email.data.contact.id">
                <a ui-sref="base.contacts.detail({ id: vm.settings.email.data.contact.id })">{{ vm.contact.full_name }}</a>
            </span>
            <span ng-show="!vm.settings.email.data.contact.id">{{ vm.contact.full_name }}</span>
        </div>
    </widget-header>

    <widget-body>
        <table class="widget-table vertical-top-align">
            <tr>
                <td><strong>Salutation</strong></td>
                <td>({{ vm.contact.salutation_display || vm.contact.salutation }} / {{ vm.contact.gender_display || vm.contact.gender }})</td>
            </tr>

            <tr>
                <td><i class="lilicon hl-mail-icon"></i> <strong>Email</strong></td>
                <td>
                    <editable-related model="vm.contact" type="Contact" field="email_addresses"></editable-related>
                </td>
            </tr>

            <tr>
                <td><i class="lilicon hl-phone-icon"></i> <strong>Phone</strong></td>
                <td>
                    <editable-related model="vm.contact" type="Contact" field="phone_numbers"></editable-related>
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-map-marker"></i> <strong>Address</strong></td>
                <td>
                    <editable-related model="vm.contact" type="Contact" field="addresses"></editable-related>
                </td>
            </tr>

            <tr ng-show="vm.contact.accounts.length">
                <td><i class="lilicon hl-company-icon"></i> <strong>Works at</strong></td>
                <td>
                    <div ng-repeat="account in vm.contact.accounts">
                        <a ui-sref="base.accounts.detail({id: account.id })">{{ account.name }}</a>
                    </div>
                </td>
            </tr>

            <tr ng-show="vm.contact.social" ng-repeat="social in vm.contact.social">
                <td><i class="fa fa-{{ social.social_name | lowercase }}"></i> <strong>{{ social.social_name }}</strong></td>
                <td><a ng-href="{{ social.social_url }}" target="_blank">{{ social.social_profile }}</a></td>
            </tr>

            <tr ng-show="vm.contact.tag">
                <td><i class="fa fa-tag"></i> <strong>Tags</strong></td>
                <td>
                    <a class="btn btn-xs btn-default" ng-repeat="tag in vm.contact.tag">
                        {{ tag }}
                    </a>
                </td>
            </tr>

            <tr ng-show="vm.contact.description">
                <td colspan="2">
                    <strong class="margin-bottom-5">Description</strong>
                    <div ng-bind-html="vm.contact.description | parseUrls"></div>
                </td>
            </tr>
        </table>
    </widget-body>
</dashboard-widget>
