<widget ng-if="vm.object" widget-name="'Colleagues'" class="js-cq-widget-container">
    <widget-header>
        <div class="widget-label"></div>
        <div class="widget-name">
            <i class="fa fa-users"></i>
            <span ng-if="vm.object.id && vm.list">
                Colleagues at
                <a ui-sref="base.accounts.detail({id: vm.object.id })">{{ vm.object.name }}</a>
            </span>
            <span ng-if="vm.object.id && !vm.list">
                <a ui-sref="base.contacts.detail.edit({id: vm.object.id})">Edit</a> to link with an account
            </span>
        </div>
    </widget-header>

    <widget-filters>
        <a ng-if="!vm.settings.email.sidebar.contact" ui-sref="{{ vm.addLink || 'base.contacts.create' }}" class="btn btn-circle btn-default" ng-click="vm.googleAnalyticsEvent()">
            <i class="fa fa-plus"></i>
            <span class="external-link-name">Add</span>
        </a>
    </widget-filters>

    <widget-body>
        <table class="widget-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="contact in vm.list">
                    <td><a ui-sref="base.contacts.detail({id: contact.id})">{{ contact.full_name }}</a></td>
                    <td>
                        <a class="no-wrap" ui-sref="base.email.composeEmail({email: contact.email_addresses[0].email_address})" ng-show="contact.email_addresses[0]">
                        {{ contact.email_addresses[0].email_address }}
                        </a>
                        <span ng-hide="contact.email_addresses[0]">-</span>
                    </td>
                    <td>
                        <a href="tel:{{ contact.phone_numbers[0].number || '' }}">{{ contact.phone_numbers[0].number || '-' }}</a>
                    </td>
                </tr>
                <tr ng-hide="vm.list.length">
                    <td colspan="3">No colleagues</td>
                </tr>
            </tbody>
        </table>
    </widget-body>
</widget>
