<widget ng-if="vm.object" widget-name="'Colleagues'" widget-scrollable="true" class="js-cq-widget-container">
    <widget-header>
        <div class="widget-label"></div>
        <div class="widget-name">
            <i class="fa fa-users"></i>
            <span ng-if="vm.object.id && vm.list">
                Contacts at
                <a ui-sref="base.accounts.detail({id: vm.object.id })">{{ vm.object.name }}</a>
            </span>
            <span ng-if="vm.object.id && !vm.list">
                <a ui-sref="base.contacts.detail.edit({id: vm.object.id})">Edit</a> to link with an account
            </span>
        </div>
    </widget-header>

    <widget-filters>
        <div class="hl-button-group-container" ng-if="!vm.settings.email.sidebar.contact">
            <object-limit model="contacts">
                <a class="hl-primary-btn" ui-sref="{{ vm.addLink || 'base.contacts.create' }}" ng-click="vm.googleAnalyticsEvent()" object-limit="contacts">
                    <i class="fa fa-plus"></i>
                    <span class="external-link-name">Contact</span>
                </a>
            </object-limit>
        </div>
    </widget-filters>

    <widget-body>
        <table class="widget-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact information</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="contact in vm.list">
                    <td><a ui-sref="base.contacts.detail({id: contact.id})">{{ contact.full_name }}</a> <span ng-if="!contact.active_at.includes(vm.object.id)">(inactive)</span></td>
                    <td>
                        <div ng-if="!contact.primary_email_address && vm.object.primary_email_address">
                            <i class="lilicon hl-company-icon m-r-5" uib-tooltip="{{ $root.messages.contact.accountListInfoTooltip }}"></i>
                            <a ui-sref="base.email.composeEmail({email: vm.object.primary_email_address})">
                                {{ vm.object.primary_email_address }}
                            </a>
                        </div>

                        <div>
                            <a ui-sref="base.email.composeEmail({email: contact.primary_email_address })" ng-if="contact.primary_email_address">
                                {{ contact.primary_email_address }}
                            </a>
                        </div>

                        <div ng-if="!contact.phone_numbers && account.phone_numbers.length">
                            <i class="lilicon hl-company-icon m-r-5" uib-tooltip="{{ $root.messages.contact.accountListInfoTooltip }}"></i>
                            <a href="tel:{{ vm.object.phone_numbers[0].number }}">{{ vm.object.phone_numbers[0].number }}</a>
                        </div>

                        <div ng-if="contact.phone_numbers">
                            <a href="tel:{{ contact.phone_numbers[0].number }}">
                                {{ contact.phone_numbers[0].number }}
                            </a>
                        </div>
                    </td>
                </tr>
                <tr ng-hide="vm.list.length">
                    <td colspan="3">No contacts</td>
                </tr>
            </tbody>
        </table>
    </widget-body>
</widget>
