.credit-card {
    background: url("../images/vendor/cards-sprite.png") no-repeat;
    width: 32px;
    height: 23px;
    float: left;
    margin-right: 4px;

    .cc-visa {
        background-position: 0 0;
    }

    .cc-mastercard {
        background-position: -45px 0;
    }

    .cc-american-express {
        background-position: -91px 0;
    }

    .cc-discover {
        background-position: -136px 0;
    }

    .cc-diners-club {
        background-position: -181px 0;
    }

    .cc-jcb {
        background-position: -226px 0;
    }
}

.subscription-status {
    padding: 1px 6px;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    display: inline-block;
    color: #fff;

    &.future {
        background: #91388c;
    }

    &.in-trial {
        background: #e8ba4a;
    }

    &.active {
        background: #69ad22;
    }

    &.non-renewing {
        background: #555f78;
    }

    &.cancelled {
        background: #cc3335;
    }
}

.cancel-subscription {
    text-align: right;
    margin-top: 10px;
}

.unavailable-marker {
    font-size: 0.8em;
    padding: 2px;
    border: 2px solid $app-border-color !important;
    border-radius: $base-border-radius;
    margin-top: -2px;
}

.unavailable-feature {
    color: #d8d8d8;
    display: flex;
    justify-content: space-between;

    .drop-down-sub-menu-item {
        width: 20px;
    }
}

.nav {
    li a,
    .unavailable-feature {
        font-size: 16px;
        font-weight: 400;
        display: block;
        padding: 10px 15px;
        text-decoration: none;

        i {
            font-size: 16px;
            margin-right: 8px;
        }
    }
}

.drop-down-sub-menu-item {
    .unavailable-feature {
        width: 100%;
        padding: 0 30px 0 10px;
        display: block;
        text-decoration: none;
        white-space: nowrap;
    }
}
