.integrations-item {
    width: 100px;
    height: 100px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    color: $app-color-darkblue;
    border-color: $app-border-color;
    border-style: solid;
    border-radius: 3px;
    border-width: 0;

    &:hover {
        color: $app-color-aqua;
        text-decoration: none;
    }
}

.field-label {
    display: block;
    font-weight: 500;
}

.field-wrapper {
    margin-bottom: 20px;

    ul {
        list-style: none;
    }

    // scss-lint:disable QualifyingElement
    input[type="text"] {
        @include input-field(30px);
    }

    input[type="number"] {
        @include input-field(30px);
    }
    // scss-lint:enable QualifyingElement
}

.qr-code {
    text-align: center;
}

.col-2-row {
    display: block;
    margin: 0 -5px;

    .column {
        padding: 0 5px;
        width: 50%;
        float: left;

        .hl-primary-btn,
        .hl-primary-btn-blue {
            width: 100%;
        }
    }
}

// scss-lint:disable IdSelector, SelectorFormat
.auth-token-input,
#id_generator-token {
    width: 100% !important;
}
// scss-lint:enable IdSelector, SelectorFormat

.backup-phone-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.email-templates-list {
    .email-template-folder-header {
        padding: 7px 14px;
        border-top: 1px $app-border-color solid;
        border-bottom: 2px $app-border-color solid;
        font-weight: bold;

        .folder-name,
        .lilicon {
            line-height: $button-height - 2px;
        }

        .lilicon {
            color: $app-color-grey;
            cursor: pointer;

            &:not(:first-child) {
                margin-left: 10px;
            }
        }

        .hl-primary-btn {
            padding-bottom: 1px;
        }
    }

    .hl-table-column {
        &.indented {
            padding-left: 50px;
        }
    }

    editable-text {
        div {
            display: inline-block;
        }
    }
}

.pandadoc-event-form {
    .hl-form-field {
        display: inline-block;
        margin: 10px 5px;
    }

    .pandadoc-event-row {
        &.disabled {
            pointer-events: none;
            opacity: 0.50;
        }
    }

    .pandadoc-event-form-actions {
        .hl-primary-btn {
            width: 31px;
        }
    }
}

.profile-sidebar-portlet {
    padding: 0 !important;
    border-radius: 0;
    border: 1px solid $base-border-color;

    .profile-userpic {
        margin: 30px 0;
    }

    .profile-usermenu {
        margin: 0 !important;
        padding: 0 !important;
    }
}
