.timeline-item-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    min-height: 100px;

    &.is-call {
        .activity-stream-image {
            background: #fff;
            -webkit-box-shadow: inset 0 0 0 2px $app-color-yellow;
            -moz-box-shadow: inset 0 0 0 2px $app-color-yellow;
            box-shadow: inset 0 0 0 2px $app-color-yellow;
        }

        .hl-phone-icon {
            color: $app-color-yellow;
        }
    }
}

.timeline-content-type-buttons {
    display: none; //UX experiment
    padding: 0;
    margin-bottom: 0;

    li {
        list-style-type: none;
        display: inline-block;
        background: $lily-header-bg;
        padding: 7px 20px 7px 10px;
        position: relative;
        border: 1px solid $base-border-color;
        color: $lily-dark-blue;
        font-size: 14px;
        margin-bottom: 0;

        &:first-child {
            border-top-left-radius: $base-border-radius;
            border-bottom-left-radius: $base-border-radius;
            border-right: 0;
        }

        &:last-child {
            border-top-right-radius: $base-border-radius;
            border-bottom-right-radius: $base-border-radius;
            border-left: 0;
        }

        &:hover {
            background: $lily-white-tone-hover;
            cursor: pointer;
        }

        &.active {
            background: $lily-white-tone-hover;

            &:after {
                content: " ";
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $lily-white-tone-hover;
                position: absolute;
                top: -10px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
            }

            &:before {
                content: " ";
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $base-border-color;
                position: absolute;
                top: -11px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
            }
        }

        @media (max-width: $breakpoint-mobile) {
            padding-right: 10px;

            i {
                display: none;
            }
        }
    }
}

.activity-stream {
    background: #fff;
    border: $base-border-color 1px solid;
}

.activity-stream-filter {
    border-bottom: $app-bg-color 1px solid;
    padding: 10px 20px;

    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

.activity-stream-comment {
    position: relative;
    margin: 20px 20px 0;
}

.activity-stream-content {
    margin: 0 20px 20px;
    position: relative;
    padding-top: 15px;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 19px;
        width: 16px;
        height: 16px;
        border: 4px $lily-grey solid;
        background: #fff;

    }
}

.activity-stream-comment,
.activity-stream-content {
    &:before {
        content: "";
        top: 0;
        bottom: 0;
        left: 25px;
        width: 4px;
        background: $app-bg-color;
        position: absolute;
    }
}

.activity-stream-image {
    position: absolute;
    width: 54px;
    height: 54px;
    box-sizing: border-box;
    border-radius: 8px;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    border: 4px solid #fff;
    text-align: center;
    overflow: hidden;
    background: $app-bg-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .lilicon,
    .fa {
        font-size: 24px;
        line-height: 46px;
    }
}

.activity-stream-item-container {
    position: relative;
}

.activity-stream-item {
    margin-left: 74px;
    padding: 4px 0;
    position: relative;
}

.stream-item-head {
    display: flex;
    flex-wrap: wrap;

}

.stream-item-date {
    flex-grow: 1;
    line-height: 22px;
    color: $app-color-grey;
}

.stream-item-actions {
    text-align: right;
    flex-grow: 1;
}

.stream-item-actions-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .stream-item-actions-list-item {
        display: inline-block;
        line-height: 22px;
        padding-left: 10px;
        font-size: 13px;

        .btn-link {
            color: $app-color-aqua;
            font-size: 13px;

            &:hover {
                color: $app-color-darkblue;
            }
        }
    }
}

.stream-item-activity {
    color: $app-color-darkblue;
    font-size: 16px;
    font-weight: 500;
}

.stream-item-activity-link {
    color: $app-color-darkblue;

    &:hover {
        color: $app-color-darkblue;
    }
}

.stream-item-content {
    @include type-indicator();

    position: relative;
    padding: 10px 0;
    margin-top: 2px;

    &.is-deal,
    &.is-case,
    &.is-email,
    &.is-note,
    &.is-timelog {
        margin-left: 5px;

        &:before {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            content: "";
            position: absolute;
            top: 10px;
            bottom: 9px;
            left: -3px;
            width: 4px;
        }
    }
}

.stream-item-description {
    margin: -1px 0;
    padding: 10px;
    border: 1px $app-bg-color solid;
    background: #fcfcfe;
    line-height: 22px;

    .editable {
        display: flex;
    }

    &.has-scroll {
        max-height: 400px;
        overflow-y: auto;
    }

    &.hidden-content {
        background: repeating-linear-gradient(45deg, lighten($app-bg-color, 3), lighten($app-bg-color, 3) 10px, #fff 10px, #fff 20px);
        color: $app-color-grey;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 10px;
    }
}

.stream-item-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 28px;
    padding: 10px 0;
    border: 1px $app-bg-color solid;
}

.stream-item-meta-object {
    flex-grow: 1;
    margin: 0 10px;

    .editable {
        display: inline-block;
        margin-left: -5px;
        border: 1px transparent solid;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        &:hover {
            border: 1px $app-bg-color solid;
        }
    }
}

.stream-item-meta-title {
    display: inline-block;
    font-weight: 500;
    line-height: 20px;
}

.stream-subitem {
    margin: 15px 0;
    position: relative;
}

.stream-subitem-object {
    display: flex;
}

.stream-subitem-image {
    width: 40px;
    margin-right: 15px;
    position: relative;
    z-index: 1;
}

.stream-subitem-main {
    padding-bottom: 30px;
    flex-grow: 3;

    &.small-note-field {
        .form-control {
            min-height: 30px;
        }
    }
}

.stream-subitem-timeline {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
    width: 21px;
    border-right: 2px solid $app-bg-color;

    &:after {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        border: 2px $app-bg-color solid;
        height: 8px;
        background: #fcfcfe;
        bottom: 0;
        left: 16px;
        border-radius: 4px;
    }
}

.stream-subitem-title {
    font-weight: 500;
    line-height: 18px;
    color: $app-color-darkblue;
}

.stream-subitem-date {
    color: $app-color-grey;
}

.stream-subitem-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    background: $app-bg-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.timeline-time {
    padding: 10px;
    background: $app-bg-color;
    margin-left: 74px;
    color: $app-color-darkblue;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;

    &:after {
        position: absolute;
        left: -8px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 8px 7px 0;
        border-color: transparent $app-bg-color transparent transparent;
    }

    &:before {
        content: " ";
        display: block;
        background-color: #fff;
        border-radius: 50%;
        border: 4px solid $lily-grey;
        width: 16px;
        height: 16px;
        position: absolute;
        left: -55px;
        top: 10px;
    }

    @media (max-width: $breakpoint-mobile) {
        margin-left: 67px;

        &:before {
            left: -50px;
        }
    }
}

.stream-note-toggle {
    margin-left: 10px;
    color: #b5b5b5;
    cursor: pointer;
    float: right;

    &:hover {
        color: $app-color-yellow;
    }
}

.change-log-toggle {
    color: $lily-grey;
}

.change-log {
    font-size: 13px;
    font-weight: normal;
    border: 1px solid $lily-grey;
    border-radius: $base-border-radius;
    padding: 10px;
    margin-top: 10px;

    .change-normal {
        .step-type {
            margin-left: 0;

            &:before {
                left: 0;
            }
        }
    }

    .change-related {
        border-collapse: separate;
        border-spacing: 10px;
        margin-top: 10px;

        tbody {
            td:first-child {
                font-weight: bold;
                width: 15%;
            }

            .change-item {
                border: 1px solid $lily-grey;
                border-radius: $base-border-radius;
                padding: 4px 8px;
                width: 40%;
                vertical-align: middle;
                background: #fff;

                &.change-item-before {
                    border-left: 4px solid $app-color-red;
                }

                &.change-item-after {
                    border-left: 4px solid $app-color-mint;
                }

                &.change-item-empty {
                    background: #f5f5f5;
                    border: 1px solid $lily-grey;
                }
            }
        }

        .change-items {
            margin-bottom: 0;
            margin-left: 25px;
            width: 60%;
        }
    }

    .change-item-name {
        display: inline-block;
        width: 15%;
    }

    .change-items-header {
        display: inline-block;
        width: 40%;

        .change-items-header-labels {
            div {
                display: inline-block;
                width: 40%;
            }
        }
    }

    ul {
        margin-bottom: 0;
    }
}
