.profile-avatar {
  float: none;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.header-avatar {
    float: left;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
