/* SG
# Buttons/Button group #

In this file you will find all the styling for button groups. Button groups are
a collection of related buttons. We currently use the button group in the email
inbox to display buttons like reply, delete, archive etc.

```
<div class="hl-button-group-container">
    <ul class="hl-button-group">
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="#">
                Email
            </a>
        </li>
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="#">
                Email
            </a>
        </li>
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="#">
                Email
            </a>
        </li>
    </ul>

    <ul class="hl-button-group">
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="#">
                Email
            </a>
        </li>
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="#">
                Email
            </a>
        </li>
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="#">
                Email
            </a>
        </li>
    </ul>

    <ul class="hl-button-group">
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="#">
                Refresh
            </a>
            <span class="hl-button-group-btn-clear">X</span>
        </li>
    </ul>

    <ul class="hl-button-group pull-right">
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="#">
                Email
            </a>
        </li>
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="#">
                Email
            </a>
        </li>
    </ul>
</div>
```
*/

.hl-button-group-container {
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

.hl-button-group {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 10px;
    float: left;

    &.pull-right {
        margin-right: 0;
        margin-left: 10px;

        .hl-dropdown {
            left: auto;
            right: -1px;

            &:before {
                left: auto;
                right: 8px;
            }

            &:after {
                left: auto;
                right: 8px;
            }
        }
    }

    .hl-button-group-btn {
        float: left;
        position: relative;
        line-height: $button-height - 4px;
        font-weight: 400;
        font-size: 14px;
        background: $skyGrey;
        border: 1px $baseBorderColor solid;
        border-left: none;

        &:first-child {
            border-left: 1px $baseBorderColor solid;
            border-top-left-radius: $baseBorderRadius;
            border-bottom-left-radius: $baseBorderRadius;

            .hl-button-group-btn-link {
                border-top-left-radius: $baseBorderRadius;
                border-bottom-left-radius: $baseBorderRadius;
            }
        }

        &:last-child {
            border-top-right-radius: $baseBorderRadius;
            border-bottom-right-radius: $baseBorderRadius;

            .hl-button-group-btn-link {
                border-top-right-radius: $baseBorderRadius;
                border-bottom-right-radius: $baseBorderRadius;
            }
        }

        &:hover {
            background: #fff;
        }

        &.selected {
            background: #fff;
        }

        &.disabled {
            pointer-events: none;

            .hl-button-group-btn-link {
                opacity: 0.3;
                pointer-events: none;
                cursor: not-allowed;
            }

            &.selected {
                background: $skyGrey;
            }

            &:hover {
                background: $skyGrey;
            }
        }

        &.open {
            background: #fff;

            .hl-dropdown {
                display: block;
            }
        }

        .hl-button-group-btn-link {
            cursor: pointer;
            display: inline-block;
            border-top: 1px #fff solid;
            border-bottom: 1px transparent solid;
            padding: 0 10px;
            text-decoration: none;
            color: $lilyDarkBlue;
        }

        .hl-button-group-btn-clear {
            cursor: pointer;
            width: 24px;
            text-align: center;
            position: relative;
            float: right;
            background: $criticalPrioColor;
            color: #fff;
            border: 1px darken($criticalPrioColor, 5) solid;
            border-top-right-radius: $baseBorderRadius;
            border-bottom-right-radius: $baseBorderRadius;
            margin: -1px;
            line-height: $button-height - 2px;

            &:before {
                content:"";
                width: 100%;
                height: $baseBorderRadius;
                display: block;
                position: absolute;
                border-top: 1px #fff solid;
                border-top-right-radius: $baseBorderRadius;
                opacity: 0.3;
            }

            &:hover {
                background: darken($criticalPrioColor, 20);
                border-color: darken($criticalPrioColor, 20);
            }
        }
    }
}
