/* SG
# Buttons / Button #

This are the standard buttons that can be used.

```
<button class="hl-primary-btn">button</button>

<button class="hl-primary-btn-green">button</button>

<button class="hl-primary-btn-blue">button</button>
```

*/


.dropdown-toggle {
    .fa-angle-down {
        margin-left: 10px;
    }

    i:first-child {
        margin-right: 2px;
    }

    &.no-primary-icon {
        i {
            margin: 0;
        }
    }
}

/* SG
# Buttons/Radio Buttons #

Radio buttons can be used to offer the user a selection range.
```
<div class="radio-button-group">
    <label class="radio-button">
        <input type="radio" class="radio-button-input" name="example_1">
        <span class="radio-button-label">Option 1</span>
    </label>

    <label class="radio-button disabled">
        <input type="radio" class="radio-button-input" name="example_1" disabled>
        <span class="radio-button-label">Option 2</span>
    </label>

    <label class="radio-button active">
        <input type="radio" class="radio-button-input" name="example_1" checked>
        <span class="radio-button-label">Option 3</span>
    </label>
</div>

</br>
</br>

<div class="radio-button-group radio-button-list">
    <label class="radio-button">
        <input type="radio" class="radio-button-input" name="example_2">
        <span class="radio-button-label">Option 1</span>
    </label>

    <label class="radio-button">
        <input type="radio" class="radio-button-input" name="example_2" checked>
        <span class="radio-button-label">Option 2</span>
    </label>
</div>
```

By adding the class *.no-radio-bullets* the radio bullets are not being shown.
The radio buttons can also be displayed as a vertical list by adding the class
*.radio-button-list* to the parent container .radio-button-group
*/


.radio-button-group {
    display: inline-block;
    margin: 0;
    padding: 0;

    .radio-button {
        line-height: 31px;
        border: 1px $app-border-color solid;
        border-bottom-width: 2px;
        color: $app-color-darkblue;
        border-left-width: 0;
        background: #fff;
        margin: 0;
        padding: 0 8px;
        display: inline-block;

        &:hover {
            color: $app-color-mint;
        }

        &:first-child {
            border-radius: $base-border-radius 0 0 $base-border-radius;
            border-left-width: 1px;
        }

        &:last-child {
            border-radius: 0 $base-border-radius $base-border-radius 0;
        }

        &.active {
            background: $lily-white-tone-hover;
        }

        &.disabled {
            background: darken($lily-header-bg, 3);
            color: darken($lily-header-bg, 10);
            cursor: not-allowed;
        }
    }

    &.radio-button-list {
        .radio-button {
            line-height: 33px;
            float: none;
            display: block;
            border-bottom-width: 0;
            border-left-width: 1px;

            &:first-child {
                border-radius: $base-border-radius $base-border-radius 0 0;
            }

            &:last-child {
                border-bottom-width: 2px;
                border-radius: 0 0 $base-border-radius $base-border-radius;
            }
        }
    }
}

.radio-button-input {
    display: none;

    +.radio-button-label {
        line-height: 16px;
        position: relative;
        margin-left: 21px;

        &:after {
            position: absolute;
            left: -21px;
            top: 0;
            content: "";
            margin: 0;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            background: #fff;
            border: 1px $app-border-color solid;
            box-sizing: border-box;
            -webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
            -moz-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
            box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
            text-align: center;
            font-family: "FontAwesome";
            font-size: 10px;
            font-weight: 300;
            color: #fff;
            cursor: pointer;
        }
    }

    &:checked {
        +.radio-button-label {

            &:after {
                content: "\f00c";
                background: $app-color-mint;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border: 0;
            }
        }
    }

    &:disabled {
        +.radio-button-label {
            &:after {
                border-color: darken($lily-header-bg, 8);
                pointer-events: none;
                background: transparent;
            }
        }
    }
}


$small-button: 20px;
$large-button: 30px;

@mixin hl-button($button-size) {
    box-sizing: border-box;
    display: inline-block;
    border-width: 1px;
    border-bottom-width: 2px;
    border-color: $app-border-color;
    border-style: solid;
    line-height: $button-size;
    padding: 0 ($button-size / 4);
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    white-space: nowrap;
    margin-right: 6px;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: $app-color-aqua;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.50;
    }
}

.hl-primary-btn,
.hl-primary-btn-green,
.hl-primary-btn-blue,
.hl-primary-btn-smll {
    outline: none;
}

.hl-primary-btn {
    @include hl-button($large-button);
    color: $app-color-darkblue;

    .fa-plus {
        font-size: 10px;
    }

    &.round {
        margin: 0;
        border-radius: 50%;
    }

    i {
        font-size: 14px;
    }
}

.hl-primary-btn-green {
    @include hl-button($large-button);
    background: $app-color-mint;
    border-color: darken($app-color-mint, 15);
    color: #fff;
    font-weight: 700;

    &:hover {
        color: #fff;
        background: darken($app-color-mint, 10);
    }

    &:focus {
        color: #fff;
    }
}

.hl-primary-btn-blue {
    @include hl-button($large-button);
    background: $app-color-aqua;
    border-color: darken($app-color-aqua, 10);
    color: #fff;
    font-weight: 700;

    &:hover {
        color: #fff;
        background: darken($app-color-aqua, 5);
    }

    &:focus {
        color: #fff;
    }
}

.hl-primary-btn-red {
    @include hl-button($large-button);
    background: $app-color-red;
    border-color: darken($app-color-red, 20);
    color: #fff;
    font-weight: 700;

    &:hover {
        color: #fff;
        background: darken($app-color-red, 5);
    }
}

.hl-primary-btn-smll {
    @include hl-button($small-button);
    color: $app-color-darkblue;
    font-size: 12px;

    i {
        font-size: 12px;
    }
}

/* SG
# Buttons/Inline form buttons #

Inline form buttons can be used to include a button after an input field,
for example the magic wand used to get dataprovider data from a website.
```
<div class="input-group">
    <input class="form-control" name="example_2"/>
        <span class="input-group-btn">
            <button autocomplete="off"
                    class="hl-primary-btn hl-inline-form-button"
                    type="button"
                <i class="fa fa-magic"></i>
            </button>
        </span>
</div>
```
*/

.hl-inline-form-button {
    vertical-align: top;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 34px;
    margin-right: 0;

    i {
        position: relative;
        top: 2px;
    }
}
