$checkbox-size: 14px;

.hl-checkbox {
    float: left;
    margin-right: $checkbox-size + 5px;

    &:before {
        content: "";
        border: 1px $base-border-color solid;
        position: absolute;
        width: $checkbox-size;
        height: $checkbox-size;
        background: #fff;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        cursor: pointer;
    }

    &.checked {
        &:before {
            font-size: 12px;
            font-family: "FontAwesome";
            line-height: $checkbox-size - 2px;
            text-align: center;
            content: "\f00c";
        }
    }

    &.indeterminate {
        &:before {
            font-size: 12px;
            font-family: "FontAwesome";
            line-height: $checkbox-size - 2px;
            text-align: center;
            content: "\f068";
        }
    }

    &:after {
        content: "";
        display: inline-block;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 10px;
    margin: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    input {
        display: none;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    border: 1px solid $app-border-color;
    margin: 0;
    height: 24px;
    width: 48px;

    &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 2px;
        bottom: 2px;
        background-color: #fff;
        -webkit-transition: 0.25s;
        transition: 0.25s;
        background: $app-bg-color;
        border: 1px solid $app-border-color;
    }

    &.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}

input:checked + .slider {
    background-color: #dcf9f3;
    border-color: #00b0bd;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: #48dcc3;
    border-color: #00b0bd;
}
