.hl-error-table {
    width: 100%;
    height: 60vh;
    max-width: 1200px;
    margin: 0 auto;

    .hl-error-image {
        text-align: center;
        width: 40%;

        img {
            width: 50%;
        }
    }

    .hl-error-message {
        h1 {
            font-size: 50px;
            color: $app-color-darkblue;
        }

        h2 {
            font-size: 36px;
            color: $app-color-mint;
        }
    }
}

@media (max-width: 660px) {
    .hl-error-image {
        width: 100% !important;
        display: block;
        margin: -30px 0;
    }

    .hl-error-message {
        display: block;
        text-align: center;

        h1 {
            font-size: 30px !important;
        }

        h2 {
            font-size: 20px !important;
        }
    }
}

.toast-success {
    background-color: $app-color-mint;
}

.toast-error {
    background-color: $app-color-red;
}
