.filter-group {
    float: left;
}

.filter-group-option {
    display: inline-block;
    line-height: 23px;
    padding: 0 9px;
    color: #5b667b;
    font-size: 13px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;

    &:hover,
    &.active {
        color: white;
        background: #5b9bd1;
    }
}
