.collapsable-portlet-heading {
    line-height: 50px;
    border-bottom: 1px #e7ecf1 solid;
    color: #5b667b;
    margin-bottom: 10px;
}

.portlet-heading-title {
    font-size: 18px;
    font-weight: 600;
}

.portlet-heading-icon {
    float: right;

    i {
        float: right;
        line-height: 50px;
        font-size: 24px;
        margin: 0;
    }
}

.hl-form-body {
    background: #fff;
    padding: 15px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: $base-border-color;
}

.hl-form-section {
    margin-bottom: 30px;
}

.hl-form-section-heading {
    border-bottom: 1px $lily-border-light solid;
    font-size: 18px;
    font-weight: 600;
    color: $lily-dark-blue;
    padding-bottom: 7px;
    padding-top: 6px;
    text-align: right;

    @media(max-width: $breakpoint-tablet) {
        text-align: left;
    }
}

.hl-form-field {
    margin: 10px 0;

    label {
        color: $lily-dark-blue;
        margin: 0 0 8px;
        padding: 0;
    }
}

.hl-form-table {
    display: table;
    width: 100%;

    &.hl-form-fixed-data {
        background: $sky-grey;
        border-radius: $base-border-radius;
    }
}

.hl-form-table-column {
    height: 40px;
    line-height: 40px;
    display: table-cell;
    vertical-align: top;
    padding: 0 5px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &.entity-icon-container {
        width: 20px;
        padding: 0 10px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .hl-form-table-column.on-small-screen {
        width: 100%;
        float: left;
        padding: 0;
    }
}

.small-cell {
    width: 30px;
}

.supercard-form {
    .hl-form-table-column.on-small-screen {
        width: 100%;
        float: left;
        padding: 0;
    }
}

.hl-form-input {
    float: left;
    width: 100%;
    margin: 5px 0;
}

.hl-form-input-btn {
    margin: 5px 0;
}

.hl-form-icon {
    padding-top: 14px;

    > i {
        margin: 0 9px 0 4px;
    }
}

.user-field-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.user-field-image-clear {
    position: absolute;
    top: 20px;
    left: 85px;
}

.user-field-image-change {
    display: block;
    margin-top: 10px;

    input {
        display: inline;
    }
}

.form-inline {
    .form-inline-section {
        padding: 5px;
        border-radius: $base-border-radius;
        border: 1px dashed $base-border-color;
        margin-bottom: 10px;

        .editable-multi,
        .editable-controls,
        .editable-input {
            width: 100%;
        }

        .editable-controls {
            margin-bottom: 10px;
        }
    }

    .form-inline-input {
        width: 50%;
        display: inline-block;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 0;
        padding-right: 3px;

        &:nth-child(2n+2) {
            padding-right: 0;
            padding-left: 3px;
        }

        input {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .form-control {
            width: 100%;
        }

        .editable-select2 {
            width: 100%;
        }

        &.width-20 {
            width: 20%;
        }

        &.width-40 {
            width: 40%;
        }

        &.width-60 {
            width: 60%;
        }

        &.width-80 {
            width: 80%;
        }

        &.width-100 {
            width: 100%;
        }

    }
}

.js-form-prolyfill {
    @include prolyfill("width < 500px") {
        .form-inline-input {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
