/*  GENERIC STUFF */
.no-round-right {
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -moz-border-radius-topright: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn.blue {
    background-color: #5B9BD1;
    &:hover {
        background-color: #3175AF;
    }
    &:active, &:focus {
        background-color: #3071A9;
    }
}

.list-justified {
    width: 100%;
    display: table;
    table-layout: fixed;
    li {
        display: table-cell;
        text-align: center;
        &:first-of-type {
            text-align: left;
        }
        &:last-of-type {
            text-align: right;
            padding-right: 0;
        }
    }
}

/*  END GENERIC STUFF */

/*  BREADCRUMB STUFF */

.breadcrumb .fa {
    margin: 0 5px 0 4px;
}

/*  END BREADCRUMB STUFF */

/*  TEXT STUFF */

.text-white {
    color: #fff;
    &:hover {
        color: #fff;
    }
}

/*  END TEXT STUFF */

/*  TABLE STUFF */

.table-fixed-layout {
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    table-layout: fixed;
    th {
        &.width-4 {
            width: 4%;
        }
        &.width-5 {
            width: 5%;
        }
        &.width-6 {
            width: 6%;
        }
        &.width-20 {
            width: 20%;
        }
    }
}

td {
    .label-sm {
        display: block;
        padding: 4px 6px !important;
    }
}

/*  END TABLE STUFF */

/*  MIXFILTER STUFF */

.mix-filter li {
    background: #FFF;
}

/*  END MIXFILTER STUFF */

/*  DASHBOARD STUFF */

.actions {
    display: inline-block;
    margin-left: 10px;

    select.xsm {
        height: 26px;
    }
}

/*  END DASHBOARD STUFF */

.radio-btns label {
    border: 1px solid #2d6ca2;
}

.inbox tr.unread td {
    font-weight: 800;
    color: #595959;
}

/* Contacts freedomlink style */

.contact {
    &.freedom-link {
        padding: 4px;
        float: right;
        border: 1px solid #2f3490;
        border-radius: 5px;
        color: #2f3490;
        font-size: 12px;
    }
    &.freedom-link-arrow {
        font-size: 12px;
    }
}

/* END Contacts freedomlink style */

.font-size-inherit {
    font-size: inherit !important;
}

.required {
    font-weight: bold;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding {
    padding: 0 !important;
}

.no-margin-right {
    margin-right: 0;
}

.break {
    word-wrap: break-word;
}

.header {
    font-weight: bold;
}

.form-horizontal .control-label.with-icon {
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.label-icon {
    font-size: 20px;
}

.label-text {
    font-size: 10px;
}

.pre {
    white-space: pre;
}

.padding-top-15 {
    padding-top: 15px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-padding-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu:after {
    right: 22px;
}

.max-height-400 {
    max-height: 400px;
}

.bg-grey {
    background: #eeeeee;
}

input.ui-select-search {
    width: 100% !important;
}

ul[uib-datepicker-popup-wrap] {
    padding: 10px;

    *:focus {
        outline: none;
    }
    .btn-default {
        border: none;
    }
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 4px 20px 4px 4px;
}

.select2-container-multi .select2-search-choice-close {
    left: initial;
    margin-top: 0 !important;
}

.width-50-percent {
    width: 50%;
}

.collapse-content {
    max-height: 9999px;
    overflow: hidden;
    -webkit-transition: max-height cubic-bezier(1, 0, 1, 1) 0.5s;
    transition: max-height cubic-bezier(1, 0, 1, 1) 0.5s;

    &.ng-hide {
        max-height: 0;
        -webkit-transition: max-height cubic-bezier(0, 1, 1, 1) 0.225s;
        transition: max-height cubic-bezier(0, 1, 1, 1) 0.225s;
    }
}

.portlet {
    .collapse-content {
        ul {
            margin-top: 10px;
        }
    }
}

.no-border {
    border: none !important;
}

.pre-wrap {
    white-space: pre-wrap;
}

.clickable {
    cursor: pointer;
}

table {
    .collapsable-cell {
        border: none !important;
        padding: 0 25px !important;
        white-space: pre-wrap;

        ul {
            margin-top: 10px;
        }
    }
}

.table tbody {
    border: initial !important; // reset Metronic styling
}

@mixin rotate($degrees) {
    -webkit-transition: all ease-in-out 0.30s;
    transition: all ease-in-out 0.30s;

    -ms-transform: rotate($degrees + deg); /* IE 9 */
    -webkit-transform: rotate($degrees + deg); /* Chrome, Safari, Opera */
    transform: rotate($degrees + deg);
}

@mixin reset-rotation() {
    -webkit-transition: all ease-in-out 0.30s;
    transition: all ease-in-out 0.30s;

    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}

.collapse-indicator {
    i {
        font-size: 20px;
    }

    .fa-angle-down {
        @include reset-rotation();

        &.rotate {
            @include rotate(90);
        }
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caption {
    .btn-group:not(:last-child) {
        margin-right: 5px;
    }
}

.align-center {
    text-align: center;
}

.no-text-decoration {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.font-size-16 {
    font-size: 16px;
}

.text-overflow-hidden {
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-wrap {
    white-space: nowrap;
}

.margin-left-10 {
    margin-left: 10px;
}
