/*  GENERIC STUFF */

strong {
    font-weight: 600;
}

.no-round-right {
    -webkit-border-top-right-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -moz-border-radius-topright: 0 !important;
    -moz-border-radius-bottomright: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn.blue {
    background-color: #5b9bd1;

    &:hover {
        background-color: #3175af;
    }

    &:active,
    &:focus {
        background-color: #3071a9;
    }
}

.list-justified {
    width: 100%;
    display: table;
    table-layout: fixed;

    li {
        display: table-cell;
        text-align: center;

        &:first-of-type {
            text-align: left;
        }

        &:last-of-type {
            text-align: right;
            padding-right: 0;
        }
    }
}

/*  END GENERIC STUFF */

/*  BREADCRUMB STUFF */

.breadcrumb .fa {
    margin: 0 5px 0 4px;
}

/*  END BREADCRUMB STUFF */

/*  TEXT STUFF */

.text-white {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

/*  END TEXT STUFF */

/*  TABLE STUFF */

.table-fixed-layout {
    table-layout: fixed;

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th {
        &.width-4 {
            width: 4%;
        }

        &.width-5 {
            width: 5%;
        }

        &.width-6 {
            width: 6%;
        }

        &.width-20 {
            width: 20%;
        }
    }
}

td {
    .label-sm {
        display: block;
        padding: 4px 6px !important;
    }
}

/*  END TABLE STUFF */

/*  DASHBOARD STUFF */

.actions {
    display: inline-block;
    margin-left: 10px;
}

/*  END DASHBOARD STUFF */

.radio-btns label {
    border: 1px solid #2d6ca2;
}

.inbox .unread td {
    font-weight: 800;
    color: #595959;
}

/* Contacts freedomlink style */

.contact {
    &.freedom-link {
        padding: 4px;
        float: right;
        border: 1px solid #2f3490;
        border-radius: 5px;
        color: #2f3490;
        font-size: 12px;
    }

    &.freedom-link-arrow {
        font-size: 12px;
    }
}

/* END Contacts freedomlink style */

.font-size-inherit {
    font-size: inherit !important;
}

label {
    &.required {
        &:after {
            vertical-align: middle;
            margin-left: 5px;
            font-size: 10px;
            color: #c9c9c9;
            display: inline-block;
            content: "(required)";
        }
    }

    &.no-label {
        font-weight: normal;
    }

    &.display-block {
        display: block;
    }
}

.help-text {
    font-size: 10px;
    color: #c9c9c9 !important;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding {
    padding: 0 !important;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-margin {
    margin: 0 !important;
}

.break {
    word-wrap: break-word;
}

.header {
    font-weight: bold;
}

.form-horizontal .control-label.with-icon {
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.label-text {
    font-size: 10px;
}

.pre {
    white-space: pre;
}

.padding-top-15 {
    padding-top: 15px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-padding-top-bottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.height-250 {
    height: 250px;
}

.height-300 {
    height: 300px;
}

.height-400 {
    height: 400px;
}

.height-500 {
    height: 500px;
}

.max-height-400 {
    max-height: 400px;
}

.max-height-800 {
    max-height: 800px;
}

.bg-grey {
    background: #eee;
}

.uib-datepicker-popup {
    padding: 10px;
    z-index: 2000;

    *:focus {
        outline: none;
    }

    .btn-default {
        border: 0;
    }

    .btn-success {
        display: none;
    }
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 4px 20px 4px 4px;
}

.select2-container-multi .select2-search-choice-close {
    left: initial;
    margin-top: 0 !important;
}

.collapse-content {
    max-height: 9999px;
    overflow: hidden;
    -webkit-transition: max-height cubic-bezier(1, 0, 1, 1) 0.5s;
    transition: max-height cubic-bezier(1, 0, 1, 1) 0.5s;

    &.ng-hide {
        max-height: 0;
        -webkit-transition: max-height cubic-bezier(0, 1, 1, 1) 0.225s;
        transition: max-height cubic-bezier(0, 1, 1, 1) 0.225s;
    }
}

.portlet {
    .collapse-content {
        ul {
            margin-top: 10px;
        }
    }

    &.light {
        position: relative;
    }
}

.no-border {
    border: none !important;
}

.pre-wrap {
    white-space: pre-wrap;
}

.clickable {
    cursor: pointer;
}

table {
    .collapsable-cell {
        border: none !important;
        padding: 0 25px !important;
        white-space: pre-wrap;

        ul {
            margin-top: 10px;
        }
    }
}

.table tbody {
    border: initial !important; // reset Metronic styling
}

@mixin rotate($degrees) {
    -webkit-transition: all ease-in-out 0.30s;
    transition: all ease-in-out 0.30s;

    -ms-transform: rotate($degrees + deg); /* IE 9 */
    -webkit-transform: rotate($degrees + deg); /* Chrome, Safari, Opera */
    transform: rotate($degrees + deg);
}

@mixin reset-rotation() {
    -webkit-transition: all ease-in-out 0.30s;
    transition: all ease-in-out 0.30s;

    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Chrome, Safari, Opera */
    transform: none;
}

.collapse-indicator {
    i {
        font-size: 20px;
    }

    .fa-angle-down {
        @include reset-rotation();

        &.rotate {
            @include rotate(90);
        }
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caption {
    .btn-group:not(:last-child) {
        margin-right: 5px;
    }
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.no-text-decoration {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-24 {
    font-size: 24px;
}

.text-overflow-hidden {
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-bold {
    font-weight: normal !important;
}

.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    white-space: nowrap !important;
}

.margin-0 {
    margin: 0;
}

.checkbox-list {
    line-height: 20px;

    .checkbox-list-row {
        padding: 2px;
    }
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.lily-checkbox {
    display: inline-block;
    border: 1px solid #c5c5c5;
    height: 16px;
    width: 16px;
    top: 2px;
    position: relative;

    i {
        position: relative;
        top: -3px;
    }
}

.display-inline-block {
    display: inline-block;
}

.display-inline {
    display: inline;
}

.vertical-align-top {
    vertical-align: top;
}

.fa {
    margin-top: 0;
}

.lineheight-28 {
    line-height: 28px;
}

.lineheight-30 {
    line-height: 30px;
}

.small-icon {
    font-size: 10px;
}

.no-background {
    background: none;
}

.dropdown-backdrop {
    position: static;
}

.break-words {
    word-break: break-word;
}

select {
    &.form-control {
        color: #000;

        &.ng-empty {
            color: #999;
        }
    }
}

option {
    color: #000;
}

.hl-dropdown-item {
    .checker {
        margin-top: -3px !important;
        margin-right: 3px !important;
    }
}

.hl-row-sm {
    margin-left: -5px;
    margin-right: -5px;

    [class*='col-'] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.hl-row-xs {
    margin-left: -2px;
    margin-right: -2px;

    [class*='col-'] {
        padding-right: 2px;
        padding-left: 2px;
    }
}

.display-none {
    display: none;
}

.width-8 {
    width: 8%;
}

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.hl-flex-container {
    display: flex;
    align-items: center;

    .hl-flex-1 {
        flex: 1;
    }
}

.swal2-overlay {
    background-color: rgba(39, 36, 76, 0.50);
}

.swal2-modal {
    font-family: 'Roboto', sans-serif !important;
    border-radius: 0;
    border: 1px solid $base-border-color;

    h2 {
        font-size: 18px;
        font-weight: 400;
        color: $app-color-darkblue;
        line-height: inherit;
    }

    .swal2-content {
        font-size: 13px;
        line-height: inherit;
        padding: 20px;
    }

    .swal2-close {
        line-height: inherit;
    }

    hr {
        margin: 0;
    }
}


.spacer-5 {
    height: 5px;
    display: block;
}

.spacer-20 {
    height: 20px;
    display: block;
}

.spacer-40 {
    height: 40px;
    display: block;
}

.auto-margin {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.hide-on-tablet {
    @media (max-width: $breakpoint-tablet) {
        display: none;
    }
}

.deleted-indicator {
    color: $text-muted;
}

.details-main {
    .timeline-avatar {
        float: left;
    }

    .widget-container {
        overflow: hidden;
    }
}

.text-red {
    color: $app-color-red;
}

.text-green {
    color: $app-color-mint;
}

pre {
    code {
        border: 0;
    }
}

code {
    box-shadow: none;
}

address {
    margin-bottom: 0;
    line-height: inherit;
}

.default-line-height {
    line-height: inherit !important;
}

.time-logger {
    text-align: initial;
    font-size: 1em !important;

    h2 {
        text-align: left;
    }
}

.timelog-collaborators {
    border-top: 1px solid $light-border-color;
}

.position-relative {
    position: relative;
}

.float-none {
    float: none;
}

.is-disabled {
    pointer-events: none;
    opacity: 0.35;

    :first-child {
        pointer-events: none;
    }
}

// Generates margins and padding for each side (top, bottom, left, right) with the given amount of pixels.
// Example: m-t-5 -> margin-top: 5px;
// Credits to https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9.
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}

.feature-unavailable-overlay {
    position: absolute;
    top: 60px;
    padding: 10px;
    text-align: center;
    z-index: 3;
    width: 100%;
}

.inline-overlay {
    position: relative;
}

.user-filter-unavailable {
    width: 300px;
}

.cursor-default {
    cursor: default;
}

.text-muted {
    color: $text-muted;
}
