.sub-header {
    padding: 10px 20px;
    background: $skyGrey;
    border-bottom: 1px $baseBorderColor solid;
}

.page-header-logo-container {
    float: left;
    padding: 0 10px 0 20px;
    margin-right: 20px;

    @media (max-width: $breakpoint-mobile) {
        margin-right: 0px;
    }
}

.page-header-logo {
    font-size: 1.4em;
    line-height: 60px;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.page-head {
    margin-bottom: 15px;
}

.page-head .page-title > h1 {
  color: $navyBlue;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.page-head .page-title > h1 > small {
  color: $lilyBlue;
  font-size: 14px;
}

.main-nav {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    @extend .no-select;

    @media (max-width: $breakpoint-mobile) {
        display: none;
        width: 100%;

        &.main-nav-toggled {
            display: block;
        }
    }
}

.main-nav-toggle {
    float: right;
    width: 40px;
    text-align: center;
    display: none;

    i {
        font-size: 18px;
        line-height: 60px;
    }

    @media (max-width: $breakpoint-mobile){
        display: block;
    }
}

.main-nav-item {
    float: left;
    margin: 0 10px;

    &:first-child {
        margin-left: 0px;
    }

    &:last-child {
        margin-right: 0px;
    }

    @media (max-width: $breakpoint-laptop) {
        margin: 0;
    }

    @media (max-width: $breakpoint-mobile) {
        margin: 0;
        display: block;
        width: 100%;
        border-bottom: 1px $lightBorderColor solid;

        &:first-child {
            border-top: 1px $lightBorderColor solid;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        margin: 0;
    }
}

.main-nav-item .title {
    display: inline-block;


    @media (max-width: $breakpoint-laptop){
        display: none;
    }

    @media (max-width: $breakpoint-mobile){
        display: inline-block;
    }
}

.main-nav-item a {
    position: relative;
    border-bottom: 3px transparent solid;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    line-height: 57px;
    padding: 0px 10px;
    display: block;
    color: $navyBlue;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $lilyBlue;
    }

    @media (max-width: $breakpoint-mobile) {
        line-height: 40px;
        border-bottom: 0px;
        border-left: 3px transparent solid;
    }
}

.main-nav-item a i {
    font-size: 18px;
    position: relative;
    top: 2px;

    &.hl-deals-filled-icon {
        font-size: 20px;
    }
}

.main-nav-item a.active {
    color: $lilyBlue;
    border-bottom: 3px $lilyBlue solid;

    @media (max-width: $breakpoint-mobile) {
        border-bottom: 0px transparent solid;
        border-left: 3px $lilyBlue solid;
        margin-top: -1px;
        margin-bottom: -1px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

.header-user-menu {
    margin-right: 20px;
    line-height: 60px;

    a {
        text-decoration: none;
    }
}

.header-user-menu-username-container {
    display: inline-block;
    line-height: 12px;
}

.header-user-menu-username {
    display: inline-block;

    @media (max-width: $breakpoint-laptop) {
        display: block;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @media (max-width: $breakpoint-mobile) {
        display: none;
    }
}

.header-user-menu-item {
    top: 65px;
    line-height: 40px;
}

.sub-header-action-menu .drop-down-item {
    color: white;
    display: block;
    background: $lilyBlue;
    line-height: 28px;
    border-radius: 4px;
    padding: 0 10px;
    text-decoration: none;

    &:hover {
        background: darken($lilyBlue,10);
    }
}

.sub-header-action-menu.open {
    .drop-down-item {
        background: darken($lilyBlue,10);
    }
}

.sub-header-action-menu-item {
    line-height: 40px;
}

.sub-header-action-submenu {
    margin-top: 7px !important;
}

.notification-container {
    height: 30px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    line-height: 30px;
    font-weight: bold;
    position: relative;

    a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
    }

    &.is-error {
        background-color: $criticalPrioColor;
    }

    &.is-alert {
        background-color: $bulletColor4;
    }

    &.is-success {
        background-color: $lilyGreen;
    }
}

.notification-inline {
    padding: 0px 5px;
    background: #ffd66f;
    color: white;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
    margin-top: 10px;
    min-height: 21px;
    line-height: 21px;

    i,
    &:hover {
        color: white;

    }
}

.page-header.navbar.navbar-fixed-top {
    z-index: 999;
}
