@mixin history-item-heading($color) {

    .history-item-heading {
        background: $color;
    }

    .history-item-badge {
        background: $color;
    }

    .inline-header {
        background: $color;
        color: #fff;
        font-weight: 800;
        padding: 5px 10px;
    }

    &.history-item-right {
        margin-right: 50px;

        .history-item-badge {
            right: 0;

            &:before {
                left: -11px;
                border-left: 8px solid  $color;
            }
        }
    }

    &.history-item-left {
        margin-left: 50px;

        .history-item-badge {
            left: 0;

            &:before {
                right: -11px;
                border-right: 8px solid $color;
            }
        }
    }
}

.history-timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.history-timeline-list-item {
    margin-bottom: 20px;
    position: relative;
}

.case-history-item {
    @include history-item-heading($caseColor);
}

.email-history-item {
    @include history-item-heading($emailColor);
}

.deal-history-item {
    @include history-item-heading($dealColor);
}

.note-history-item {
    @include history-item-heading($noteColor);
}

.history-item-badge {
    border-radius: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;

    &:before {
        z-index: 2;
        top: 10px;
        content: "";
        display: block;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    i {
        font-size: 20px;
    }
}

.history-item-heading {
    color: white;
    font-size: 16px;
    line-height: 40px;
    padding: 0 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.history-item-body {
    background: #f5f6fa;
    padding: 10px;
}

.timeline-item-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-height: 70px;
}

.timeline-avatar {
    float: left;
    background: #FFD66F;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid white;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &.is-type {
        i {
            font-size: 25px;
            color: white;
            line-height: 60px;
        }
    }
}

.timeline-item {
    width: 93%;
    padding: 20px;
    float: left;
    background: white;
    margin-left: 25px;
    box-sizing: border-box;
    border: 1px solid $lilyBorderDark;
    position: relative;

    &:after {
        content:" ";
        border-style: solid;
        border-width: 10px 15px 10px 0;
        border-color: transparent white transparent transparent;
        position: absolute;
        left: -14px;
        top: 25px;
    }

    &:before {
        content:" ";
        border-style: solid;
        border-width: 10px 15px 10px 0;
        border-color: transparent $lilyBorderDark transparent transparent;
        position: absolute;
        left: -16px;
        top: 25px;
    }
}

.vertical-line {
    width: 5px;
    background-color: white;
    height: 100%;
    position: absolute;
    left: 70px;
}
