$inline-editable-field-height: 30px;

@mixin input-field($height) {
    border-color: $app-border-color;
    border-width: 1px;
    border-style: solid;
    border-radius: $base-border-radius;
    background: #fff;
    line-height: $height;
    height: $height;
    width: 100%;
    padding: 0 6px;
    transition: border-color, 0.3s;

    &:focus {
        transition: border-color, 0.3s;
        outline: none;
        border-color: darken($app-border-color, 20);
    }
}

.hl-base-input {
    @include input-field(30px);
}

.editable-click,
.editable {
    color: #333;
    margin: 0 -5px;
    padding: 0 5px;
    line-height: $inline-editable-field-height - 2px;
    display: inline-block;
    position: relative;
    border-top-left-radius: $base-border-radius;
    border-bottom-left-radius: $base-border-radius;
    border: 1px transparent solid;

    &:after {
        background: $lily-white-tone-hover;
        border: 1px $base-border-color solid;
        border-top-right-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
        color: $lily-dark-blue;
        text-align: center;
        float: left;
        position: absolute;
        top: -1px;
        overflow: hidden;
        font-family: "lilicon";
        font-size: 1.5rem;
        content: $hl-edit-icon;
        line-height: $inline-editable-field-height - 2px;
        transition: all 0s;
        visibility: hidden;
        width: 0;
        right: 0;
        cursor: pointer;

        &:hover {
            color: $lily-blue;
        }
    }

    &:hover {
        color: $lily-blue;
        border: 1px $base-border-color solid;
        cursor: text;

        &:after {
            transition: all ease-in-out 0.3s;
            visibility: visible;
            width: $inline-editable-field-height;
            right: -$inline-editable-field-height;
            z-index: 99;
        }
    }

    &.addable-click {
        &:after {
            display: none;
        }

        .editable-icons {
            background: $lily-white-tone-hover;
            border-top: 1px $base-border-color solid;
            border-bottom: 1px $base-border-color solid;
            border-right: 1px $base-border-color solid;
            border-left: 0;
            border-top-right-radius: $base-border-radius;
            border-bottom-right-radius: $base-border-radius;
            position: absolute;
            top: -1px;
            right: 0;
            float: left;
            overflow: hidden;
            visibility: hidden;
        }

        .editable-icon {
            width: 0;
            overflow: hidden;
            border-left: 1px $base-border-color solid;
            float: left;
            color: $lily-dark-blue;
            text-align: center;
            font-size: 1.5rem;

            &:hover {
                color: $lily-blue;
            }
        }

        &:hover {
            color: $lily-blue;
            border: 1px $base-border-color solid;
            cursor: text;

            .editable-icons {
                transition: right ease-in-out 0.3s;
                visibility: visible;
                right: -61px;
                cursor: pointer;

                &.no-edit {
                    right: -31px;
                }
            }

            .editable-icon {
                transition: width ease-in-out 0.3s;
                width: 30px;
            }
        }
    }

    .editable-textarea {
        line-height: 20px;

        ul {
            margin-bottom: 0;
        }

        li {
            line-height: 14px;
        }

        p {
            margin: 0;
        }

        p+p {
            margin-top: 0.8em;
        }

        p:last-child {
            margin: 4px 0;
            display: inline-block;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin-bottom: 0;
        }

        blockquote {
            font-size: 1.2em;
            border-left: 2px solid $app-color-darkblue !important;

            p {
                margin-bottom: 0;
                display: inline-block;
            }
        }

        .editable-has-buttons {
            line-height: 20px !important;
        }
    }
}

.editable-buttons button {
    color: $lily-dark-blue;
    background: $lily-white-tone-hover;
    border: 1px $lily-grey solid;
    border-right: 0;
    margin-left: 0;
    border-radius: 0;
    height: $inline-editable-field-height;
    width: $inline-editable-field-height;
    text-align: center;
    padding: 0;
    line-height: $inline-editable-field-height - 2px;

    &:last-child {
        border-top-right-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
        border-right: 1px $lily-grey solid;
    }

    &:hover {
        background: $lily-white-tone-hover;
        border-color: $lily-grey;
        color: $lily-blue;
    }

    &:active,
    &:focus {
        background: $lily-grey !important;
        color: darken($lily-blue, 10) !important;
        border-color: $lily-grey;
    }
}

.editable-has-buttons {
    margin: 0 -5px;
    padding: 0 5px;
    line-height: $inline-editable-field-height - 2px;
    height: $inline-editable-field-height;
    border: 1px $lily-grey solid;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
        border: 1px $lily-grey solid;
    }
}

.editable-input {
    padding: 0 5px;
    line-height: $inline-editable-field-height;
    border-color: $lily-grey;
    border-radius: $base-border-radius;
    resize: vertical;

    &:not(textarea):not(div) {
        max-height: 30px;
    }

    &:focus {
        border-color: $lily-grey;
    }

    .select2-search {
        margin: 5px 0;
    }

    .ui-select-choices-row {
        line-height: initial;
    }

    &.editable-select2 {
        line-height: initial;
        width: 225px;

        &.smaller-select {
            width: 160px;
        }
    }
}

.hl-page-name {
    .editable-input {
        font-size: 25px;
        font-weight: 500;
    }
}

.deal-detail-info,
.case-detail-info {
    div > label {
        line-height: $inline-editable-field-height;
    }
}

.editable-textarea {
    width: 100%;
    position: relative;

    textarea {
        margin-right: -1px;
        border-top-right-radius: 0;
        margin-bottom: $inline-editable-field-height !important;
    }

    .editable-buttons {
        bottom: 1px;
        position: absolute;
        right: 0;
    }

    .editable-controls {
        width: 100%;

        .editable-input {
            margin: 0;
            width: 100%;
        }
    }
}

.editable-empty {
    color: $text-muted;

    &:hover {
        color: $text-muted;
    }
}

.checker {
    margin: 0 !important;
}

.editable-related-actions {
    background: $lily-white-tone-hover;
    border: 1px $lily-grey solid;
    border-radius: $base-border-radius;
    height: $inline-editable-field-height;

    .btn {
        background: inherit;
        height: $inline-editable-field-height - 2;
        color: $lily-dark-blue;
        padding-top: 0;
        line-height: 28px;
    }
}

.editable-multi {
    .editable-select2 {
        margin: 0;
        padding: 0;
    }

    .editable-wrap {
        width: 100%;
    }
}

.editable-wrap {
    &.editable-ui-select {
        min-width: 150px;
    }
}

.editable-text {
    width: 80%;

    .editable-controls {
        width: 100%;

        .editable-input {
            width: 100%;
        }
    }
}

.large-header {
    .editable-text {
        width: initial;
    }

    .editable-input:last-of-type {
        border-radius: 0;
        border-right: 0;
    }

    .editable-buttons {
        font-size: 1rem;

        button {
            margin: 0 -2px;
        }
    }
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: $lily-blue;
    color: #fff;
}

.select2-container {
    .select2-choice {
        background-image: none;
    }
}

.hl-search-field-container {
    position: relative;

    .hl-search-field {
        @include input-field(30px);
        margin-right: 20px;
        padding-right: 32px;

        &.ng-not-empty + .hl-search-btn {
            background: $critical-prio-color;

            &:before {
                content: "\f00d";
            }

            &:hover {
                transition: background, 0s;
                background: darken($critical-prio-color, 20);
            }
        }
    }

    .hl-search-btn {
        background: $app-color-aqua;
        border-width: 0;
        height: 30px;
        width: 26px;
        text-align: center;
        padding: 0 6px;
        line-height: 30px;
        position: absolute;
        right: 0;
        top: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: background, 0.25s;
        outline: none;

        &:before {
            -webkit-font-smoothing: antialiased;
            font-weight: normal;
            font-family: "FontAwesome";
            content: "\f002";
            color: #fff;
        }
    }
}

textarea {
    min-height: 100px;
    max-height: 500px;
}
