.main-nav {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    @extend .no-select;

    @media (max-width: 510px) {
        display: none;
        width: 100%;

        &.main-nav-toggled {
            display: block;
        }
    }
}

.main-nav-toggle {
    float: right;
    width: 40px;
    text-align: center;
    display: none;
    line-height: $header-height;

    i {
        color: rgba(255,255,255,0.5);
        font-size: 18px;
        line-height: $header-height;

        &:hover {
            color: #fff;
        }
    }

    @media (max-width: 510px){
        display: block;
    }
}

.main-nav-item {
    float: left;
    margin: 0 15px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 1085px) {
        margin: 0px;
    }

    @media (max-width: 510px) {
        margin: 0;
        display: block;
        width: 100%;
        border-bottom: 1px rgba(255,255,255,0.3) solid;

        &:first-child {
            border-top: 1px rgba(255,255,255,0.3) solid;
        }
    }

    .title {
        display: inline-block;

        @media (max-width: 910px){
            display: none;
        }

        @media (max-width: 510px){
            display: inline-block;
        }
    }
}

.main-nav-item a {
    color: rgba(255,255,255,0.5);
    line-height: $header-height;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
    display: block;
    -webkit-font-smoothing: antialiased;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;
    }

    &.active {
        color: #fff;
    }

    @media (max-width: 510px) {
        line-height: 40px;
    }

    i {
        margin-right: 5px;
        font-size: 18px;

        &.hl-deals-filled-icon {
            font-size: 20px;
        }
    }
}
