.widget-table {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    color: $app-color-darkblue;

    thead {
        th {
            text-align: left;
            padding: 5px 15px;
            background: #fff;
            border-top: 1px #fff solid;
            border-bottom: 2px $light-border-color solid;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 11px;
            color: $app-color-grey;
        }
    }

    tbody {
        tr {
            &:hover {
                background: lighten($sky-grey, 3);
            }

            &.widget-table-sub-heading {
                td {
                    padding: 5px 15px;
                    background: lighten($sky-grey, 2);
                }
            }
        }

        td {
            padding: 12px 15px;
            border-bottom: 1px lighten($base-border-color, 12) solid;
        }

        &.align-center {
            td {
                text-align: center;
            }
        }
    }

    .widget-table-priority-cell {
        text-align: center;

        i {
            font-size: 18px;
        }
    }

    &.vertical-top-align {

        td:first-child {
            vertical-align: top;
            padding-top: 18px;
        }

    }

    &.align-table {
        // /* Set width of the table cells based on the amount of cells. */
        td:first-child:nth-last-child(1) {
            width: 100%;
        }

        td:first-child:nth-last-child(2),
        td:first-child:nth-last-child(2) ~ td {
            width: 50%;
        }

        td:first-child:nth-last-child(3),
        td:first-child:nth-last-child(3) ~ td {
            width: 33.3333%;
        }

        td:first-child:nth-last-child(4),
        td:first-child:nth-last-child(4) ~ td {
            width: 25%;
        }

    }
}

.table-bordered {
    border-color: $app-border-color;

    thead {
        th {
            text-align: left;
            padding: 5px 15px !important;
            background: #fff;
            border-top: 1px #fff solid;
            border-bottom: 2px $light-border-color solid !important;
            font-weight: 400 !important;
            text-transform: uppercase;
            font-size: 11px !important;
            color: $app-color-grey;

            border-left-width: 0 !important;
            border-right-width: 0 !important;

            &:first-child {
                border-left-width: 1px;
            }

            &:last-child {
                border-right-width: 1px;
            }
        }
    }

    tr:hover {
        background: $lily-white-tone-hover;
    }

    tbody tr td {
        border-bottom-width: 0;
        border-top-width: 1px;
        border-top-color: $light-border-color;
        padding: 12px 15px;
    }

    tr:nth-of-type(even) {
        background: $lily-white-tone;

        &:hover {
            background: $lily-white-tone-hover;
        }
    }

    tr {
        td {
            border-left-width: 0 !important;
            border-right-width: 0 !important;

            &:first-child {
                border-left-width: 1px;
            }

            &:last-child {
                border-right-width: 1px;
            }
        }
    }
}
