.widget-table {
  width: 100%;
  line-height: 20px;
    font-size: 14px;
    color: $app-color-darkBlue;

  thead {
    th {
            text-align: left;
      padding: 5px 15px;
            background: #fff;
      border-top: 1px white solid;
            border-bottom: 2px $lightBorderColor solid;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 11px;
            color: $app-color-grey;
    }
  }

  tbody {
    tr {
      &:hover {
        background: lighten($skyGrey, 3);
      }
    }

    td {
      padding: 12px 15px;
      border-bottom: 1px lighten($baseBorderColor, 12) solid;
    }

    tr.widget-table-sub-heading {
      td {
        padding: 5px 15px;
        background: lighten($skyGrey, 2);
            }
        }

        &.align-center {
            td {
                text-align: center;
      }
    }
  }

  .widget-table-priority-cell {
    text-align: center;

    i {
      font-size: 18px;
    }
  }

  &.vertical-top-align {

    td:first-child {
      vertical-align: top;
      padding-top: 18px;
    }

  }

  &.align-table {
    // /* Set width of the table cells based on the amount of cells. */
    td:first-child:nth-last-child(1) {
      width: 100%;
    }

    td:first-child:nth-last-child(2),
    td:first-child:nth-last-child(2) ~ td {
      width: 50%;
    }

    td:first-child:nth-last-child(3),
    td:first-child:nth-last-child(3) ~ td {
      width: 33.3333%;
    }

    td:first-child:nth-last-child(4),
    td:first-child:nth-last-child(4) ~ td {
      width: 25%;
    }

  }
}

.table-bordered {
    border-color: $app-border-color;

    thead {
        th {
            text-align: left;
            padding: 5px 15px !important;
            background: #fff;
            border-top: 1px white solid;
            border-bottom: 2px $lightBorderColor solid !important;
            font-weight: 400 !important;
            text-transform: uppercase;
            font-size: 11px !important;
            color: $app-color-grey;

            border-left-width: 0 !important;
            border-right-width: 0 !important;

            &:first-child {
                border-left-width: 1px;
            }

            &:last-child {
                border-right-width: 1px;
            }
        }
    }

    tr:hover {
        background: $lilyWhiteToneHover;
    }

    tbody tr td {
        border-bottom-width: 0;
        border-top-width: 1px;
        border-top-color: $lightBorderColor;
    }

    tr:nth-of-type(even) {
        background: $lilyWhiteTone;

        &:hover {
            background: $lilyWhiteToneHover;
        }
    }

    tr {
        td {
            border-left-width: 0 !important;
            border-right-width: 0 !important;

            &:first-child {
                border-left-width: 1px;
            }

            &:last-child {
                border-right-width: 1px;
            }
        }
    }

    tbody {
        tr td {
            padding: 12px 15px;
        }
    }
}
