/* SG
# Widget with cq-prolyfill #

This file contains all styling for our widgets. A specific example is included that shows how the cq-prolyfill
is used to enable container queries and show different styling based upon the width of the element rather than the
width of the entire viewport.

To use the cq-prolyfill you can add a class to the toplevel container of an element and its parent container with
container-queries.

`.js-cq-widget-container:container("width < 500px") {
display: none;
}`

This CSS example shows how the element gets a `display: none;` when the element is less than 500px wide.

The example down below shows the class added to a div, cq-prolyfill targets the container of the element which the
class is applied to, so be sure it has a wrapping container.

```
<div>
<div class="js-cq-widget-container">This div has display none if the parent element is smaller than 500px.</div>
</div>
```

*/

.widget-container {
    margin-bottom: 30px;
    position: relative;
}

.widget-heading {
    background: #fff;
    border: 1px $base-border-color solid;
    border-bottom: 1px $light-border-color solid;
    padding: 10px 15px;
    position: relative;
}

.widget-body {
    background: #fff;
    border-right: 1px $base-border-color solid;
    border-bottom: 1px $base-border-color solid;
    border-left: 1px $base-border-color solid;

    .table {
        margin: 0;

        &.table-bordered {
            border: 0;
        }
    }

    &.no-background {
        background: none;
        border: 0;
    }
}

.widget-content {
    padding: 15px;
}

.widget-content-section {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.widget-title {
    float: left;
}

.widget-tools {
    line-height: $button-height;
    margin-left: 15px;
    float: right;
}

.widget-search {
    line-height: $button-height;
    width: 200px;
}

.widget-collapse,
.widget-close {
    display: inline-block;
    line-height: 24px;
    min-width: 24px;
    text-align: center;
    border-radius: 5px;
    color: #9fa6b6;

    &:hover {
        color: $lily-dark-blue;
        text-decoration: none;
        background: $base-border-color;
    }
}

.widget-name {
    line-height: $button-height;
    font-size: 18px;
    font-weight: 400;
    color: $app-color-darkblue;

}

.widget-name-meta {
    font-size: 13px;
}

.widget-sub-heading {
    padding: 10px 15px;
    background: #fff;
    border-width: 0 1px 2px;
    border-color: $base-border-color;
    border-bottom-color: $app-border-color;
    border-style: solid;
}

.widget-label {
    position: absolute;
    z-index: 2;
    left: -1px;
    top: -1px;
    bottom: -1px;
    float: left;
    width: 5px;
    background: $app-color-grey;

    &.cases {
        background: $case-color;
    }

    &.deals {
        background: $deal-color;
    }

    &.email {
        background: $email-color;
    }

    &.contact {
        background: $contact-color;
    }

    &.account {
        background: $account-color;
    }
}

.label-amount {
    display: inline-block;
    border-radius: 4px;
    border: 1px $base-border-color solid;
    padding: 0 3px;
    margin: 0 3px;
    font-size: 14px;
    text-align: center;
    min-width: 24px;
    line-height: 24px;

    &.high-prio {
        color: #fff;
        border-color: darken($critical-prio-color, 20);
        background: $critical-prio-color;
    }
}

.widget-filters {
    float: right;
}

.widget-info-table {
    width: 100%;

    td {
        padding: 3px 0;
        width: 50%;
        line-height: 28px;
        vertical-align: top;
    }

    hr {
        margin: 10px 0;
    }
}

.widget-content-table {
    background: none;

    td {
        vertical-align: top;
        line-height: 28px;

        &:first-child {
            width: 120px;
        }
    }

    tr {
        margin-bottom: 10px;
        display: block;

        &:last-child {
            margin-bottom: 20px;
        }

        &.has-no-info {
            td {
                width: 100%;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    tbody {
        tr:first-child {
            font-weight: bold;
        }

        tr:last-child {
            margin-bottom: 30px;
        }
    }

    tbody:last-child {
        tr:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        td {
            display: inline;
        }
    }
}

.is-scrollable-fadeout {
    position: absolute;
    height: 14px;
    background-color: lighten($sky-grey, 3);
    opacity: 0.8;
    border-top: 1px solid $lily-border-dark;
    bottom: 1px;
    left: 1px;
    right: 1px;
    z-index: 997;
    text-align: center;

    &:before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background: #fff;
    }

    i {
        color: $lily-border-dark;
        font-size: 10px;
        position: absolute;
        top: 2px;
    }

    &.ng-enter,
    &.ng-leave {
        transition: all linear 0.3s;
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
        opacity: 0.8;
    }
}

.widget-settings-btn {
    display: inline-block;
    margin-bottom: 20px;
}

// .js-cq-widget-container {
//     @include prolyfill("width < 500px") {
//         .external-link-name {
//             display: none;
//         }
//     }
// }

.widget-table {
    .newly-assigned {
        background: #eaffe9;

        &:hover {
            background: #e7f9e6;
        }
    }
}

.widget-suggestion {
    background: lighten($app-color-yellow, 47);
    border: 1px lighten($app-color-yellow, 20) solid;
    padding: 10px;
    border-radius: $base-border-radius;
}

.widget-suggestion-title {
    color: #000;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    i {
        &.fa-building-o {
            color: $app-color-darkblue;
        }

        &.hl-close-icon {
            font-size: 70%;
            vertical-align: middle;
        }
    }
}

.widget-suggestion-items { // container
    font-size: 14px;
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px lighten($app-color-yellow, 20) dotted;

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.widget-suggestion-item { //CHILDS
    width: 100%;
    align-self: center;
}
