/*Portfolio Filter*/
.mix-filter {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;

    li {
        color: #555;
        cursor: pointer;
        padding: 6px 15px;
        margin-right: 2px;
        margin-bottom: 5px;
        display: inline-block;

        &:hover, &.active {
            color: #fff;
            background: #0da3e2;
        }
    }
}
