<h1>
    Hello there, this is the email v3 test project.
</h1>

<h3 style="margin-bottom: 0px;">Authorize new email accounts</h3>
<ul style="margin-top: 0px;">
    <li><a href="{% url 'email_v3_account_add' provider_name='google' %}">New Google account</a></li>
    <li><a href="{% url 'email_v3_account_add' provider_name='microsoft' %}">New Microsoft account</a></li>
</ul>

<h3 style="margin-bottom: 0px;">Existing email accounts</h3>
<ul style="margin-top: 0px;">
    {% for account in account_list %}
        <li>{{ account }}</li>
    {% endfor %}
</ul>

<h3 style="margin-bottom: 0px;">Email messages</h3>
<table width="100%" border="1">
    <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Received</th>
    </tr>
    {% for message in message_list %}
        <tr>
            <td>{{ message.from_recipient }}</td>
            <td><b>{{ message.subject }}</b> - {{ message.snippet }}</td>
            <td>{{ message.received_date_time }}</td>
        </tr>
    {% endfor %}
</table>
