{% extends 'users/mwsadmin/password_reset/base.html' %}

{% load i18n %}

{% block portal-title %}{% trans 'Password reset complete' %}{% endblock %}

{% block portal-form %}
    {{ block.super }}

    <div class="mws-form-row mws-message-container">
        <div class="mws-form-row mws-reset-message">
            {% trans 'Your password has been reset. You can go ahead and log in now.' %}
        </div>
    </div>

    <div class="mws-button-row">
        <a href="{% url 'login' %}">
            <button type="button" class="mws-button blue mws-reset-button">
                {% trans 'Back to log in' %}
            </button>
        </a>
    </div>
{% endblock %}
