<div class="row">
    <div class="col-md-12">
        <form novalidate class="hl-form-body" name="subscriptionForm">
            <form-portlet portlet-title="Current plan">
                <div class="margin-top-10">
                    Name: {{ vm.currentPlan.name }}
                </div>
                <div>
                    Price: <span ng-bind-html="vm.currentPlan.price | currencySymbol:vm.currentPlan.currency_code:true"></span>
                </div>
                <div>
                    Users: {{ vm.subscription.plan_quantity }}
                </div>
            </form-portlet>

            <form-portlet portlet-title="Change your plan">
                <form-group label-title="" label-id="new_plan" field="subscriptionForm.new_plan">
                    <div ng-repeat="plan in vm.plans">
                        <label class="radio-button" for="{{ plan.plan.id }}">
                            <input type="radio" name="{{ plan.plan.id }}" ng-model="vm.selectedPlan" ng-value="plan.plan.id" id="{{ plan.plan.id }}" class="radio-button-input" />
                            <span>{{ plan.plan.name }}</span>
                        </label>
                        <span class="pull-right" ng-bind-html="plan.plan.price | currencySymbol:plan.plan.currency_code:true"></span>
                        <div class="text-muted">{{ plan.plan.description }}</div>
                    </div>
                </form-group>
            </form-portlet>

            <div class="hl-form-footer">
                <div class="row">
                    <button type="button" class="btn blue" ng-click="vm.saveSubsciption(subscriptionForm)">
                        <i class="fa fa-check"></i> Save
                    </button>
                    <button type="button" class="btn default" ng-click="vm.cancelEditSubscription()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>

        <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="max-width: 540px;">
                    <div class="modal-header">
                        <h4 class="modal-title text-center">
                            Payment Information
                        </h4>
                    </div>
                    <div class="modal-body"  data-cb-modal-body="body" style="padding-left: 0px;padding-right: 0px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
