<div ng-if="!vm.deal.id" ng-include="'utils/controllers/does_not_exist.html'" class="row">
</div>

<div ng-if="vm.deal.id" class="row">
    <div>
        <div ng-if="vm.deal.id" class="col-md-4">
            <widget widget-name="'Detail'">
                <widget-header>
                    <div class="widget-label deals"></div>
                    <div class="widget-name">Deal details</div>
                </widget-header>
                <widget-body>
                    <div class="widget-content">
                        <table class="widget-info-table">
                            <tbody>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td>
                                        <editable-text field="name" object="vm.deal" update-callback="vm.updateModel">{{ vm.deal.name }}</editable-text>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>One-time-cost</strong></td>
                                    <td>
                                        <editable-text field="amount_once" object="vm.deal" update-callback="vm.updateModel">
                                            <span ng-bind-html="vm.deal.amount_once | currencySymbol:vm.deal.currency"></span>
                                        </editable-text>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Recurring costs</strong></td>
                                    <td>
                                        <editable-text field="amount_recurring" object="vm.deal" update-callback="vm.updateModel">
                                            <span ng-bind-html="vm.deal.amount_recurring | currencySymbol:vm.deal.currency"></span>
                                        </editable-text>
                                    </td>
                                </tr>

                                <tr ng-if="vm.deal.why_lost">
                                    <td><strong>Why lost</strong></td>
                                    <td><editable-select field="why_lost" view-model="vm" type="Deal">{{ vm.deal.why_lost.name }}</editable-select></td>
                                </tr>

                                <tr ng-if="vm.deal.closed_date">
                                    <td><strong>Closed date</strong></td>
                                    <td><date date="vm.deal.closed_date"></date></td>
                                </tr>

                                <tr ng-if="vm.tenant.isVoysNL() || vm.tenant.isVoysSA()">
                                    <td><strong>Quote</strong></td>
                                    <td>
                                        <editable-link view-model="vm" type="Deal" field="quote_id">
                                            <a ng-if="vm.deal.quote_id && vm.tenant.isVoysNL()" target="_blank" rel="noopener noreferrer" ng-href="https://freedom.voys.nl/quotes/pdf/{{ vm.deal.quote_id }}/">
                                                {{ vm.deal.quote_id }}
                                            </a>
                                            <a ng-if="vm.deal.quote_id && vm.tenant.isVoysSA()" target="_blank" rel="noopener noreferrer" ng-href="https://freedom.voys.co.za/quotes/pdf/{{ vm.deal.quote_id }}/">
                                                {{ vm.deal.quote_id }}
                                            </a>
                                            <span ng-if="!vm.deal.quote_id">No quote ID</span>
                                        </editable-link>
                                    </td>
                                </tr>

                                <tr ng-if="vm.deal.account.customer_id && vm.tenant.primary_external_app_link">
                                    <td><strong>{{ vm.tenant.primary_external_app_link.name }}</strong></td>
                                    <td>
                                        <editable-link view-model="vm" type="Account" object="vm.deal.account" field="customer_id">
                                            <a ng-if="vm.deal.account.customer_id" target="_blank" rel="noopener noreferrer" ng-href="{{ vm.tenant.primary_external_app_link.getUrl(vm.deal.account.customer_id) }}">
                                                {{ vm.deal.account.customer_id }}
                                            </a>
                                            <span ng-if="!vm.deal.account.customer_id">No customer ID</span>
                                        </editable-link>
                                    </td>
                                </tr>

                                <tr ng-if="vm.deal.found_through || vm.deal.contacted_by || vm.deal.why_customer"><td colspan="2"><hr></td></tr>

                                <tr ng-if="vm.deal.found_through">
                                    <td><strong>Found us through</strong></td>
                                    <td><editable-select field="found_through" view-model="vm" type="Deal">{{ vm.deal.found_through.name }}</editable-select></td>
                                </tr>
                                <tr ng-if="vm.deal.contacted_by">
                                    <td><strong>Contacted us by</strong></td>
                                    <td><editable-select field="contacted_by" view-model="vm" type="Deal">{{ vm.deal.contacted_by.name }}</editable-select></td>
                                </tr>
                                <tr ng-if="vm.deal.why_customer">
                                    <td><strong>Why customer</strong></td>
                                    <td><editable-select field="why_customer" view-model="vm" type="Deal">{{ vm.deal.why_customer.name }}</editable-select></td>
                                </tr>

                                <tbody ng-if="vm.tenant.isVoysNL()">
                                    <tr><td colspan="2"><hr></td></tr>

                                    <tr>
                                        <td><strong>Twitter checked</strong></td>
                                        <td><editable-checkbox view-model="vm" type="Deal" field="twitter_checked"></editable-checkbox></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Card sent</strong></td>
                                        <td><editable-checkbox view-model="vm" type="Deal" field="card_sent"></editable-checkbox></td>
                                    </tr>

                                    <tr ng-show="vm.deal.status.id == vm.wonStatus.id">
                                        <td><strong>Quote checked</strong></td>
                                        <td>
                                            <editable-checkbox view-model="vm" type="Deal" field="is_checked"></editable-checkbox>
                                        </td>
                                    </tr>
                                </tbody>
                            </tbody>
                        </table>
                    </div>
                </widget-body>
            </widget>

            <widget widget-name="'Documents'" ng-if="vm.tenant.hasPandaDoc">
                <widget-filters>
                    <div class="hl-button-group-container">
                        <ul class="hl-button-group">
                            <li class="hl-button-group-btn"
                                ng-class="{'disabled': !vm.deal.contact.id}"
                                ng-attr-uib-tooltip="{{!vm.deal.contact.id && 'Please add a contact first' || '' }}">
                                <a class="hl-button-group-btn-link" ui-sref="base.integrations.pandadoc.quotes.create({dealId: vm.deal.id })">
                                    <i class="fa fa-plus"></i>
                                    <span class="external-link-name">Document</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </widget-filters>

                <widget-header>
                    <div class="widget-label"></div>
                    <div class="widget-name">Documents</div>
                </widget-header>

                <widget-body>
                    <table class="widget-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="document in vm.documents" ng-if="vm.documents.length">
                            <tr>
                                <td>
                                    <a href="https://app.pandadoc.com/a/#/documents/{{ document.id }}" target="_blank">{{ document.name }}</a>
                                </td>
                                <td>
                                    <a ui-sref="base.contacts.detail({id: vm.deal.contact.id})">{{ vm.deal.contact.full_name }}</a>
                                </td>
                                <td>
                                    <span class="document-status {{ document.status }}">
                                    {{ document.status | ucfirst }}
                                </td>
                                <td>
                                    <a href="https://app.pandadoc.com/a/#/documents/{{ document.id }}" class="link-no-decoration" target="_blank"><i class="lilicon hl-edit-icon"></i></a>
                                    <a ng-if="vm.deal.contact.email_addresses.length && document.status !== 'completed'"
                                       ui-sref="base.email.composeEmailDocument({email: vm.deal.contact.email_addresses[0].email_address, documentId: document.id})"
                                       class="link-no-decoration margin-left-10">
                                       <i class="fa fa-envelope"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-hide="vm.documents.length">
                            <tr>
                                <td colspan="4">No documents</td>
                            </tr>
                        </tbody>
                    </table>
                </widget-body>
            </widget>

            <widget widget-name="'Involved'">
                <widget-header>
                    <div class="widget-label"></div>
                    <div class="widget-name">Involved</div>
                </widget-header>

                <widget-body>
                    <div class="widget-content">
                        <ul class="case-detail-block-list">
                            <li>
                                <strong>Assigned to: </strong>
                                <div>
                                    <editable-select field="assigned_to" view-model="vm" type="Deal" search="true"
                                                     select-options="{type: 'User', field: 'assignOptions', display: 'full_name', sortColumn: 'full_name', nameColumn: 'full_name'}">
                                        {{ vm.deal.assigned_to.full_name || 'Nobody' }}
                                    </editable-select>

                                    <a ng-if="vm.deal.assigned_to.id != currentUser.id" ng-click="vm.assignDeal()">
                                        <i class="fa fa-anchor margin-left-5"></i> Assign to me
                                    </a>
                                </div>
                            </li>
                            <li>
                                <strong>Assigned to teams: </strong>
                                <div>
                                    <editable-select field="assigned_to_teams" view-model="vm" type="Deal" search="true" multiple="true"
                                                     select-options="{type: 'UserTeams', placeholder: 'Select one or more team(s)', sortColumn: 'name'}">
                                        <div ng-repeat="team in vm.deal.assigned_to_teams">
                                            {{ team.name }}
                                        </div>
                                        <span ng-if="!vm.deal.assigned_to_teams.length">Not assigned to any team(s)</span>
                                    </editable-select>
                                </div>
                            </li>
                            <li>
                                <strong>Created by: </strong>
                                <div>
                                    <span ng-show="vm.deal.created_by" class="margin-right-5">{{ vm.deal.created_by.full_name }} on</span>
                                    <span ng-show="!vm.deal.created_by" class="margin-right-5">An unknown entity on</span>
                                    <date date="vm.deal.created"></date>
                                </div>
                            </li>
                            <li>
                                <strong>Last edited:</strong>
                                <div><date add-time="true" date="vm.deal.modified"></date></div>
                            </li>
                        </ul>
                    </div>
                </widget-body>
            </widget>

            <account-detail-widget ng-if="vm.deal.account" account="vm.deal.account"></account-detail-widget>

            <contact-detail-widget ng-if="vm.deal.contact" contact="vm.deal.contact"></contact-detail-widget>
        </div>
    </div>

    <div class="col-md-8" ng-if="vm.deal.id">
        <div class="widget-container">
            <div class="widget-heading">
                <ul class="hl-button-group">
                    <li class="hl-button-group-btn" ng-repeat="status in vm.statusChoices" ng-click="vm.changeState(status)" ng-class="{'selected': vm.deal.status.id == status.id, 'radio-button disabled': vm.deal.is_archived }">
                        <span class="hl-button-group-btn-link">
                            {{ status.name }}
                        </span>
                    </li>
                </ul>

                <ul class="hl-button-group pull-right">
                   <li class="hl-button-group-btn">
                       <span class="hl-button-group-btn-link" ng-attr-uib-tooltip="{{!vm.deal.is_archived && 'Archive to hide it in lists' || ''}}" ng-click="vm.deal.is_archived = !vm.deal.is_archived">
                           <i class="fa fa-archive"></i>
                           <span ng-if="vm.deal.is_archived">Unarchive</span>
                           <span ng-if="!vm.deal.is_archived">Archive</span>
                       </span>
                   </li>
               </ul>

                <div class="clearfix"></div>
            </div>

            <div class="widget-body">
                <table class="widget-table align-table">
                    <tbody>
                        <tr>
                            <td>
                                <strong class="margin-right-10">Next step:</strong>
                                <editable-select field="next_step" view-model="vm" type="Deal" select-type="icon_select" select-options="{'classPrefix': 'step-type position-', 'classValue': 'position'}">
                                    <span ng-if="vm.deal.next_step" class="step-type position-{{ vm.deal.next_step.position }}">
                                        {{ vm.deal.next_step.name }}
                                    </span>
                                </editable-select>
                            </td>
                            <td  ng-hide="!vm.deal.next_step_date && vm.deal.next_step.name === 'None'">
                                <strong class="margin-right-10">Next step date:</strong>
                                <postpone type="'Deal'" object="vm.deal" date-field="'next_step_date'" tt-placement="bottom"></postpone>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="widget-content">
                    <div class="widget-content-section">
                        <div><strong>Description</strong></div>
                        <editable-textarea view-model="vm" field="description" object="vm.deal"></editable-textarea>
                    </div>

                    <div class="widget-content-section">
                        <div><strong>Tags</strong></div>
                        <editable-tags view-model="vm" type="deal"></editable-tags>
                    </div>

                </div>
            </div>
        </div>

        <checkbox model="vm.mergeStreams" class="pull-right">Merge activity streams</checkbox>

        <span ng-if="vm.mergeStreams">
            <activity-stream ng-if="vm.deal.id" target="'deal'" object="vm.deal" extra-object="{object: vm.deal.account, target: 'account'}" date-start="vm.dealStart" date-end="vm.dealEnd"></activity-stream>
        </span>

        <span ng-if="!vm.mergeStreams">
            <activity-stream ng-if="vm.deal.id" target="'deal'" object="vm.deal"></activity-stream>
            <activity-stream ng-if="vm.deal.account.id" target="'account'" object="vm.deal.account" date-start="vm.dealStart" date-end="vm.dealEnd" parent-object="vm.deal"></activity-stream>
        </span>
    </div>
</div>
