<div class="row">
    <div class="col-md-12">
        <div ng-if="settings.email.sidebar.form" class="inbox-header inbox-view-header">
            <h1 class="pull-left">Add deal</h1>
        </div>

        <form novalidate class="hl-form-body" name="dealForm">
            <form-portlet ng-if="!settings.email.sidebar.form" title="Who is it?">
                <form-group label-title="Account" label-id="id_account" field="dealForm.account" required="true">
                    <ui-select ng-model="vm.deal.account" theme="select2" class="form-control" name="account" append-to-body="true">
                        <ui-select-match placeholder="Select an account" allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="account in vm.accounts | propsFilter: {name: $select.search}" refresh="vm.refreshAccounts($select.search)" refresh-delay="150">
                            <div ng-bind-html="account.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="help-text text-muted">Please type at least 2 characters to begin the search</span>
                </form-group>

                    <form-group label-title="Contact" label-id="id_contact" field="dealForm.contact">
                        <ui-select ng-model="vm.deal.contact" theme="select2" class="form-control" name="contact" append-to-body="true">
                            <ui-select-match placeholder="Select an contact" allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="contact in vm.contacts | propsFilter: {name: $select.search}" refresh="vm.refreshContacts($select.search)">
                                <div ng-bind-html="contact.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-text text-muted">Please type at least 2 characters to begin the search</span>
                    </form-group>

                    <form-radio-buttons options="['Existing', 'New']" label-title="Business"
                                        input-name="new_business"
                                        field="vm.deal.new_business" sidebar="settings.email.sidebar.form">
                    </form-radio-buttons>

                    <form-group label-title="Found us through" label-id="id_found_through" field="dealForm.found_through" required="true">
                        <select name="found_through" ng-model="vm.deal.found_through"
                                ng-options="found_through.value as found_through.display_name for found_through in vm.foundThroughChoices" class="form-control">
                            <option value="" hidden>---------</option>
                        </select>
                    </form-group>

                    <form-group label-title="Contacted us by" label-id="id_contacted_by" field="dealForm.contacted_by" required="true">
                        <select name="contacted_by" ng-model="vm.deal.contacted_by"
                                ng-options="contacted_by.value as contacted_by.display_name for contacted_by in vm.contactedByChoices" class="form-control">
                            <option value="" hidden>---------</option>
                        </select>
                    </form-group>

                    <form-group label-title="Why customer" label-id="id_why_customer" field="dealForm.why_customer" required="true">
                        <select name="why_customer" ng-model="vm.deal.why_customer"
                                ng-options="why_customer.id as why_customer.name for why_customer in vm.whyCustomer track by why_customer.id" class="form-control">
                            <option value="" hidden>---------</option>
                        </select>
                    </form-group>
            </form-portlet>

            <form-portlet title="What is it?">
                <form-group label-title="Subject" label-id="id_name" field="dealForm.name" required="true">
                    <input class="form-control"
                           id="id_name"
                           name="name"
                           maxlength="255"
                           placeholder="Subject"
                           type="text"
                           ng-model="vm.deal.name" />
                </form-group>

                <form-group label-title="Description" label-id="id_description" field="dealForm.description">
                    <textarea class="form-control" cols="40" id="id_description" name="description" placeholder="Description" rows="3" ng-model="vm.deal.description"></textarea>
                </form-group>

                <form-group label-title="Currency" label-id="id_currency" field="dealForm.currency" required="true">
                    <select name="currency" ng-model="vm.deal.currency" ng-options="currency.value as currency.display_name for currency in vm.currencyChoices" class="form-control">
                        <option value="" hidden>---------</option>
                    </select>
                </form-group>

                <form-group label-title="One-time cost" label-id="id_amount_once" field="dealForm.amount_once" required="true">
                    <input class="form-control"
                           id="id_amount_once"
                           name="amount_once"
                           maxlength="255"
                           type="text"
                           autocomplete="off"
                           ng-pattern="/^[0-9]+([.,][0-9]{1,2})?$/"
                           ng-model="vm.deal.amount_once" />
                </form-group>

                <form-group label-title="Recurring costs" label-id="id_amount_recurring" field="dealForm.amount_recurring" required="true">
                    <input class="form-control"
                           id="id_amount_recurring"
                           name="amount_recurring"
                           maxlength="255"
                           type="text"
                           autocomplete="off"
                           ng-pattern="/^[0-9]+([.,][0-9]{1,2})?$/"
                           ng-model="vm.deal.amount_recurring" />
                </form-group>

                <form-group label-title="Freedom quote ID" label-id="id_quote_id" field="dealForm.quote_id">
                        <input class="form-control"
                               id="id_quote_id"
                               maxlength="255"
                               placeholder="Freedom quote ID"
                               type="text"
                               ng-model="vm.deal.quote_id">
                </form-group>
            </form-portlet>

            <form-portlet title="What's the status?">
                <form-group label-title="Status" label-id="id_status" field="dealForm.status" required="true">
                    <select name="stage" ng-model="vm.deal.stage"
                            ng-options="status.value as status.display_name for status in vm.stageChoices" class="form-control">
                        <option value="" hidden>---------</option>
                    </select>
                </form-group>

                <form-group label-title="Next step" label-id="id_next_step" field="dealForm.next_step" required="true">
                    <select name="next_step" ng-model="vm.deal.next_step"
                            ng-options="next_step.name for next_step in vm.nextSteps track by next_step.id" class="form-control">
                        <option value="" hidden>---------</option>
                    </select>
                </form-group>

                <form-group label-title="Next step date" label-id="id_next_step_date" field="dealForm.next_step_date">
                    <div class="input-group form-datepicker">
                        <input type="text"
                               class="form-control"
                               ng-model="vm.deal.next_step_date"
                               uib-datepicker-popup="dd/MM/yyyy"
                               datepicker-options="vm.datepickerOptions"
                               is-open="vm.pickerIsOpen"
                               date-disabled="vm.disabledDates(date, mode)"
                               datepicker-append-to-body="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.pickerIsOpen = !vm.pickerIsOpen"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </form-group>

                <form-group label-title="Assigned to" label-id="id_assigned_to" field="dealForm.assigned_to" required="true">
                    <ui-select ng-model="vm.deal.assigned_to" theme="select2" class="form-control" name="assigned_to" append-to-body="true">
                        <ui-select-match placeholder="Assign to...">{{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="person.id as person in vm.assignOptions | propsFilter: {name: $select.search}">
                            <div ng-bind-html="person.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <button class="btn btn-link assign-me-btn" ng-click="vm.assignToMe()">Assign to me</button>
                </form-group>
            </form-portlet>

            <form-portlet title="Action checklist">
                <form-radio-buttons options="['Nearly', 'Done']" label-title="Twitter checked"
                                    input-name="twitter_checked"
                                    field="vm.deal.twitter_checked" sidebar="settings.email.sidebar.form">
                </form-radio-buttons>

                <form-radio-buttons options="['Almost', 'Done']" label-title="Quote checked"
                                    input-name="is_checked"
                                    field="vm.deal.is_checked" sidebar="settings.email.sidebar.form">
                </form-radio-buttons>

                <form-radio-buttons options="['Writing it now', 'Done']" label-title="Card sent"
                                    input-name="card_sent"
                                    field="vm.deal.card_sent" sidebar="settings.email.sidebar.form">
                </form-radio-buttons>

                <form-radio-buttons options="['Not yet', 'Done']" label-title="Feedback form sent"
                                    input-name="feedback_form_sent"
                                    field="vm.deal.feedback_form_sent" sidebar="settings.email.sidebar.form">
                </form-radio-buttons>
            </form-portlet>

            <div class="hl-form-footer" ng-if="!settings.email.sidebar.form">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" class="btn blue" ng-click="vm.saveDeal(dealForm)">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <button type="button" class="btn blue" ng-click="vm.saveDeal(dealForm, true)">
                            <i class="fa fa-check"></i> Save and archive
                        </button>
                        <button type="button" class="btn default" ng-click="vm.cancelDealCreation()">
                            Back
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
