<div class="row">
    <div class="col-md-12">
        <div class="widget-heading" ng-if="settings.email.sidebar.form">
            <div class="widget-name">
                <div class="widget-title">
                    Add deal
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <form novalidate class="hl-form-body" name="dealForm">
            <form-portlet portlet-title="Who is it?">
                <div ng-if="!settings.email.sidebar.form">
                    <form-group label-title="Account" label-id="id_account" field="dealForm.account">
                        <ui-select ng-model="vm.deal.account" theme="select2" class="form-control" name="account" append-to-body="true" autofocus="true">
                            <ui-select-match placeholder="Select an account" allow-clear="true">{{ $select.selected.name }}</ui-select-match>
                            <ui-select-choices repeat="account in vm.accounts" refresh="vm.refreshAccounts($select.search)" refresh-delay="300">
                                <div ng-bind-html="account.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </form-group>

                    <form-group label-title="Contact" label-id="id_contact" field="dealForm.contact">
                        <ui-select ng-model="vm.deal.contact" theme="select2" class="form-control" name="contact" append-to-body="true">
                            <ui-select-match placeholder="Select an contact" allow-clear="true">{{ $select.selected.full_name }}</ui-select-match>
                            <ui-select-choices repeat="contact in vm.contacts" refresh="vm.refreshContacts($select.search)">
                                <div ng-bind-html="contact.full_name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </form-group>

                    <form-group ng-if="vm.openDeals.length && vm.showSuggestions">
                        <div class="widget-suggestion">
                            <span class="widget-suggestion-title">
                                <i class="lilicon hl-entity-icon"></i>
                                <span ng-if="vm.openDeals.length === 1">There's another open deal</span>
                                <span ng-if="vm.openDeals.length > 1">There are other open deals</span>
                            </span>
                            <span class="small pull-right clickable text-muted" ng-click="vm.showSuggestions = false"><i class="lilicon hl-close-icon"></i></span>

                            <div ng-repeat="deal in vm.openDeals" class="widget-suggestion-items">
                                <div class="widget-suggestion-item">
                                    Check it out: <a ui-sref="base.deals.detail({ id: deal.id })">{{ deal.name }}</a>
                                </div>
                                <div class="widget-suggestion-item-action">
                                    <a ng-if="!settings.email.sidebar.form" class="hl-primary-btn" ui-sref="base.deals.detail.edit({ id: deal.id })">Edit this deal</a>
                                </div>
                            </div>
                        </div>
                    </form-group>
                </div>

                <form-radio-buttons options="['Existing', 'New']" label-title="Business"
                                    input-name="new_business" reverse="true"
                                    field="vm.deal.new_business" sidebar="settings.email.sidebar.form">
                </form-radio-buttons>

                <div ng-if="vm.deal.new_business">
                    <form-group label-title="Found us through" label-id="id_found_through" field="dealForm.found_through" required="true">
                        <select name="found_through" ng-model="vm.deal.found_through"
                                ng-options="found_through.name for found_through in vm.foundThroughChoices track by found_through.id" class="form-control">
                            <option value="" hidden>Select a channel</option>
                        </select>
                    </form-group>

                    <form-group label-title="Contacted us by" label-id="id_contacted_by" field="dealForm.contacted_by" required="true">
                        <select name="contacted_by" ng-model="vm.deal.contacted_by"
                                ng-options="contacted_by.name for contacted_by in vm.contactedByChoices track by contacted_by.id" class="form-control">
                            <option value="" hidden>Select a medium</option>
                        </select>
                    </form-group>

                    <form-group label-title="Why customer" label-id="id_why_customer" field="dealForm.why_customer" required="true">
                        <select name="why_customer" ng-model="vm.deal.why_customer"
                                ng-options="why_customer.name for why_customer in vm.whyCustomer track by why_customer.id" class="form-control">
                            <option value="" hidden>Select a reason</option>
                        </select>
                    </form-group>
                </div>
            </form-portlet>

            <form-portlet portlet-title="What is it?">
                <form-group label-title="Subject" label-id="id_name" field="dealForm.name" required="true">
                    <input class="form-control"
                           id="id_name"
                           name="name"
                           maxlength="255"
                           placeholder="Subject"
                           type="text"
                           ng-model="vm.deal.name" />
                </form-group>

                <form-group label-title="Description" label-id="id_description" field="dealForm.description">
                    <textarea class="form-control" id="id_description" name="description" placeholder="Description" msd-elastic ng-model="vm.deal.description"></textarea>
                </form-group>

                <form-group label-title="Currency" label-id="id_currency" field="dealForm.currency" required="true">
                    <select name="currency" ng-model="vm.deal.currency" ng-options="currency.value as currency.display_name for currency in vm.currencyChoices" class="form-control">
                        <option value="" hidden>Select a currency</option>
                    </select>
                </form-group>

                <form-group label-title="One-time cost" label-id="id_amount_once" field="dealForm.amount_once" required="true">
                    <input class="form-control"
                           id="id_amount_once"
                           name="amount_once"
                           maxlength="255"
                           type="text"
                           autocomplete="off"
                           ng-pattern="vm.currencyRegex"
                           ng-model="vm.deal.amount_once" />
                </form-group>

                <form-group label-title="Recurring costs" label-id="id_amount_recurring" field="dealForm.amount_recurring" required="true">
                    <input class="form-control"
                           id="id_amount_recurring"
                           name="amount_recurring"
                           maxlength="255"
                           type="text"
                           autocomplete="off"
                           ng-pattern="vm.currencyRegex"
                           ng-model="vm.deal.amount_recurring" />
                </form-group>

                <form-group label-title="Freedom quote ID" label-id="id_quote_id" ng-if="vm.tenant.isVoysNL() || vm.tenant.isVoysSA()" field="dealForm.quote_id">
                        <input class="form-control"
                               id="id_quote_id"
                               maxlength="255"
                               placeholder="Freedom quote ID"
                               type="text"
                               ng-model="vm.deal.quote_id">
                </form-group>
            </form-portlet>

            <form-portlet portlet-title="What's the status?">
                <form-group label-title="Status" label-id="id_status" field="dealForm.status" required="true">
                    <select name="status" ng-model="vm.deal.status"
                            ng-options="status.name for status in vm.statusChoices track by status.id" class="form-control">
                        <option value="" hidden>Select a status</option>
                    </select>
                </form-group>

                <form-group label-title="Why lost" label-id="id_why_lost" field="dealForm.why_lost" ng-show="vm.deal.status.id == vm.lostStatus.id && vm.whyLost.length" required="vm.deal.status && vm.whyLost.length == 3 ? true : false">
                    <select name="why_lost" ng-model="vm.deal.why_lost"
                            ng-options="why_lost.name for why_lost in vm.whyLost track by why_lost.id" class="form-control">
                        <option value="" hidden>Select a reason</option>
                    </select>
                </form-group>

                <form-group label-title="Next step" label-id="id_next_step" field="dealForm.next_step" required="true">
                    <ui-select ng-model="vm.deal.next_step" theme="select2" class="form-control" name="next_step" append-to-body="true" search-enabled="false">
                        <ui-select-match placeholder="Select what's next"><span class="step-type position-{{ $select.selected.position }}"></span> {{ $select.selected.name }}</ui-select-match>
                        <ui-select-choices repeat="next_step in vm.nextSteps">
                            <span class="step-type position-{{ next_step.position }}"></span>
                            <span ng-bind-html="next_step.name | highlight: $select.search"></span>
                            <span class="small text-muted" ng-if="next_step.name !== 'None'">
                                (+{{ next_step.date_increment }} days)
                            </span>
                        </ui-select-choices>
                    </ui-select>
                </form-group>

                <form-group label-title="Next step date" label-id="id_next_step_date" field="dealForm.next_step_date">
                    <div class="input-group form-datepicker">
                        <input type="text"
                               class="form-control"
                               ng-model="vm.deal.next_step_date"
                               uib-datepicker-popup="dd/MM/yyyy"
                               datepicker-options="vm.datepickerOptions"
                               is-open="vm.pickerIsOpen"
                               date-disabled="vm.disabledDates(date, mode)"
                               datepicker-append-to-body="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.pickerIsOpen = !vm.pickerIsOpen"><i class="lilicon hl-calendar-icon"></i></button>
                        </span>
                    </div>
                </form-group>
            </form-portlet>

            <form-portlet portlet-title="Who is going to do this?">
                <form-group label-title="Assigned to teams" label-id="id_assigned_to_teams" field="dealForm.assigned_to_teams">
                    <ui-select multiple ng-model="vm.deal.assigned_to_teams" theme="select2" class="form-control" name="assigned_to_teams" append-to-body="true">
                        <ui-select-match placeholder="Select one or more team(s)">{{ $item.name }}</ui-select-match>
                        <ui-select-choices repeat="team in vm.teams | filterBy:['name']:$select.search">
                            <div ng-bind-html="team.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <button class="hl-primary-btn-link pull-right m-t-5" ng-click="vm.assignToMyTeams()">Assign to my teams</button>
                </form-group>

                <form-group label-title="Assigned to" label-id="id_assigned_to" field="dealForm.assigned_to">
                    <ui-select ng-model="vm.deal.assigned_to" theme="select2" class="form-control" name="assigned_to" append-to-body="true">
                        <ui-select-match placeholder="Assign to..." allow-clear="true">{{ $select.selected.full_name }}</ui-select-match>
                        <ui-select-choices repeat="user in vm.users" refresh="vm.refreshUsers($select.search)" refresh-delay="300">
                            <div ng-bind-html="user.full_name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <button class="hl-primary-btn-link pull-right m-t-5" ng-click="vm.assignToMe()">Assign to me</button>
                </form-group>
            </form-portlet>

            <form-portlet ng-if="vm.tenant.isVoysNL()" portlet-title="Action checklist">
                <form-radio-buttons options="['Nearly', 'Done']" label-title="Twitter checked"
                                    input-name="twitter_checked"
                                    field="vm.deal.twitter_checked" sidebar="settings.email.sidebar.form">
                </form-radio-buttons>

                <form-radio-buttons options="['Writing it now', 'Done']" label-title="Card sent"
                                    input-name="card_sent"
                                    field="vm.deal.card_sent" sidebar="settings.email.sidebar.form">
                </form-radio-buttons>

                <form-radio-buttons options="['Almost', 'Done']" label-title="Quote checked"
                                    input-name="is_checked"
                                    field="vm.deal.is_checked" sidebar="settings.email.sidebar.form">
                </form-radio-buttons>
            </form-portlet>

            <form-portlet portlet-title="Tags">
                <form-portlet-body>
                    <form-group label-title="Tags" label-id="id_tags" field="dealForm.tags">
                        <tag-input ng-if="vm.deal" object="vm.deal" type="deal"></tag-input>
                    </form-group>
                </form-portlet-body>
            </form-portlet>

            <div class="hl-form-footer">
                <div class="row">
                    <div ng-class="{'hidden col-xs-12': settings.email.sidebar.form, 'col-xs-12 col-sm-3 col-md-2 col-lg-2': !settings.email.sidebar.form}"></div>
                    <div ng-class="{'col-xs-12': settings.email.sidebar.form, 'col-xs-12 col-sm-9 col-md-8 col-md-7 col-lg-4': !settings.email.sidebar.form}">
                        <button type="button" class="hl-primary-btn-blue" ng-click="vm.saveDeal(dealForm)" uib-tooltip="{{ messages.tooltips.modEnter.title }}">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <button type="button" class="hl-primary-btn" ng-click="vm.cancelDealCreation()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
