<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-columns"></i>
                    Columns
                    <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-menu hold-on-click dropdown-checkboxes">
                    <checkbox model="vm.table.visibility.name">Subject</checkbox>
                    <checkbox model="vm.table.visibility.client">Client</checkbox>
                    <checkbox model="vm.table.visibility.stage">Stage</checkbox>
                    <checkbox model="vm.table.visibility.nextStep">Next step</checkbox>
                    <checkbox model="vm.table.visibility.nextStepDate">Next step date</checkbox>
                    <checkbox model="vm.table.visibility.assignedTo">Assigned to</checkbox>
                    <checkbox model="vm.table.visibility.amountOnce">One-time cost</checkbox>
                    <checkbox model="vm.table.visibility.amountRecurring">Recurring costs</checkbox>
                    <checkbox model="vm.table.visibility.newBusiness">New business</checkbox>
                    <checkbox model="vm.table.visibility.feedbackFormSent">Feedback form sent</checkbox>
                    <checkbox model="vm.table.visibility.created">Created</checkbox>
                    <checkbox model="vm.table.visibility.tags">Tags</checkbox>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-filter"></i>
                    Filter on
                    <i class="fa fa-angle-down"></i>
                </button>
                <button class="btn red-pink" ng-click="vm.clearFilters()" ng-show="vm.displayFilterClear"><i class="fa fa-remove"></i></button>
                <div class="dropdown-menu hold-on-click dropdown-checkboxes list-filters">
                    <div ng-repeat="filter in vm.filterList">
                        <checkbox model="filter.selected" ng-if="!filter.isSpecialFilter" ng-click="vm.updateFilterQuery()">{{filter.name}}</checkbox>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-filter"></i>
                    Next step
                    <i class="fa fa-angle-down"></i>
                </button>
                <button class="btn red-pink" ng-click="vm.clearFilters(true)" ng-show="vm.displaySpecialFilterClear"><i class="fa fa-remove"></i></button>
                <div class="dropdown-menu hold-on-click dropdown-checkboxes list-filters">
                    <div ng-repeat="filter in vm.filterList">
                        <checkbox model="filter.selected" ng-if="filter.isSpecialFilter" ng-click="vm.updateFilterQuery()">
                            <span class="step-type" ng-class="{0: 'position-1', 1: 'position-2', 2: 'position-3', 3: 'position-4', 4: 'position-5', 5: 'position-6'}[filter.position]"></span>
                            {{filter.name}}
                        </checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="tools col-xs-12 col-md-6">
            <form class="form-inline pull-right">
                <div class="input-group">
                    <input type="text" class="form-control search-input" ng-model="vm.table.searchQuery" placeholder="Search..">
                    <span class="input-group-btn">
                        <button type="button" class="btn red-pink" ng-click="vm.setSearchQuery('')" ng-disabled="!vm.table.searchQuery">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </form>
            <users-filter users-store="vm.table.usersFilter" storage-name="'dealUsersFilter'" allow-empty="true" class="pull-right margin-right-10"></users-filter>
            <due-date-filter filter-store="vm.table.dueDateFilter" filter-field="'next_step_date'" type="'deal'" class="list-actions pull-right"></due-date-filter>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped flip-content">
            <thead class="flip-content">
                <th>Edit</th>
                <th ng-show="vm.table.visibility.name" table="vm.table" class="width-20">Subject</th>
                <th ng-show="vm.table.visibility.client" class="width-10">Client</th>
                <th ng-show="vm.table.visibility.stage" sort-column="stage" table="vm.table">Stage</th>
                <th ng-show="vm.table.visibility.nextStep" sort-column="next_step.name" table="vm.table">Next step</th>
                <th ng-show="vm.table.visibility.nextStepDate" sort-column="next_step_date" table="vm.table">Next step date</th>
                <th ng-show="vm.table.visibility.assignedTo" sort-column="assigned_to_name" table="vm.table">Assigned to</th>
                <th ng-show="vm.table.visibility.amountOnce" sort-column="amount_once" table="vm.table">One-time cost</th>
                <th ng-show="vm.table.visibility.amountRecurring" sort-column="amount_recurring" table="vm.table">Recurring costs</th>
                <th ng-show="vm.table.visibility.newBusiness" sort-column="new_business" table="vm.table">Business</th>
                <th ng-show="vm.table.visibility.feedbackFormSent" sort-column="feedback_form_sent" table="vm.table">Feedback form sent</th>
                <th ng-show="vm.table.visibility.created" sort-column="created" table="vm.table" class="width-10">Created</th>
                <th ng-show="vm.table.visibility.tags">Tags</th>
            </thead>
            <tbody>
                <tr ng-repeat="deal in vm.table.items">
                    <td>
                        <a ui-sref="base.deals.detail.edit({ id: deal.id })" class="btn btn-xs default" title="Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td ng-show="vm.table.visibility.name">
                        <a ui-sref="base.deals.detail({ id: deal.id })" title="{{ deal.name }}">{{ deal.name }}</a>
                    </td>
                    <td ng-show="vm.table.visibility.client">
                        <a ui-sref="base.contacts.detail({ id: deal.contact })" ng-if="::deal.contact">{{ ::deal.contact_name }}</a>
                        <span ng-if="deal.contact && deal.account"> at </span>
                        <a ui-sref="base.accounts.detail({ id: deal.account })">{{ ::deal.account_name }}</a>
                    </td>
                    <td ng-show="vm.table.visibility.stage">
                        {{ deal.stage_name }}
                    </td>
                    <td ng-show="vm.table.visibility.nextStep">
                        <span class="step-type" ng-class="{0: 'position-1', 1: 'position-2', 2: 'position-3', 3: 'position-4', 4: 'position-5', 5: 'position-6'}[deal.next_step.position]">
                            {{ deal.next_step.name }}
                        </span>
                    </td>
                    <td ng-show="vm.table.visibility.nextStepDate">
                        {{ deal.next_step_date | date:'dd MMMM y' }}
                    </td>
                    <td ng-show="vm.table.visibility.assignedTo">
                        {{ deal.assigned_to_name }}
                    </td>
                    <td ng-show="vm.table.visibility.amountOnce">
                        {{ deal.amount_once |currency:'&euro; ' }}
                    </td>
                    <td ng-show="vm.table.visibility.amountRecurring">
                        {{ deal.amount_recurring |currency:'&euro; ' }}
                    </td>
                    <td ng-show="vm.table.visibility.newBusiness">
                        <span ng-if="deal.new_business">New</span>
                        <span ng-if="!deal.new_business">Existing</span>
                    </td>
                    <td ng-show="vm.table.visibility.feedbackFormSent">
                        <span ng-if="deal.feedback_form_sent"><i class="fa fa-check text-success font-size-inherit"></i></span>
                        <span ng-if="deal.feedback_form_sent" class="text-success">Done</span>

                        <span ng-if="!deal.feedback_form_sent"><i class="fa fa-remove text-warning"></i></span>
                        <span ng-if="!deal.feedback_form_sent" class="text-warning">Not yet</span>
                    </td>
                    <td ng-show="vm.table.visibility.created">
                        <date date="deal.created"></date>
                    </td>
                    <td ng-show="vm.table.visibility.tags">
                        <span ng-repeat="tag in deal.tag">
                            <a href="javascript:void(0)" ng-click="vm.setSearchQuery(tag)">{{ tag }}</a>
                            <br>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hl-pagination values="vm.table"></hl-pagination>
</div>
