<div class="widget-container">
    <div class="widget-heading hl-card-heading">
        <div class="widget-title">
            <ul class="hl-button-group">
                <li class="hl-button-group-btn">
                    <a class="hl-button-group-btn-link" href="javascript:;" data-toggle="dropdown">
                        <i class="fa fa-columns"></i>
                        Columns
                        <i class="m-l-5 small-icon lilicon hl-toggle-down-icon"></i>
                    </a>
                    <ul class="hl-dropdown js-hold-on-click">
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.name">Subject</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.client">Client</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.status">Status</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.lostReason">Lost reason</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.nextStep">Next step</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.nextStepDate">Next step date</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.assignedTo">Assigned to</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.assignedTeams">Assigned team(s)</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.amountOnce">One-time cost</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.amountRecurring">Recurring costs</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.newBusiness">New business</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.created">Created</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.closedDate">Closed date</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.createdBy">Created by</checkbox></li>
                        <li class="hl-dropdown-item"><checkbox model="vm.table.visibility.tags">Tags</checkbox></li>
                    </ul>
                </li>
            </ul>
            <ul class="hl-button-group">
                <li class="hl-button-group-btn">
                    <a class="hl-button-group-btn-link" href="javascript:;" data-toggle="dropdown">
                        <i class="fa fa-filter"></i>
                         <span class="hidden-480">
                            <span ng-if="vm.selectedFilters.length >= 2">
                                {{ vm.selectedFilters.length }} filters active
                            </span>
                            <span ng-if="vm.selectedFilters.length < 2" ng-repeat="filter in vm.selectedFilters">
                                {{ filter.name }}
                            </span>
                            <span ng-if="!vm.selectedFilters.length">Filters</span>
                        </span>
                        <i class="m-l-5 small-icon lilicon hl-toggle-down-icon"></i>
                    </a>

                    <span class="hl-button-group-btn-clear" ng-click="vm.clearFilters()" ng-show="vm.displayFilterClear">
                        <i class="fa fa-remove"></i>
                    </span>

                    <ul class="hl-dropdown js-hold-on-click">
                        <li class="hl-dropdown-item" ng-repeat="filter in vm.filterList">
                            <checkbox model="filter.selected">{{ filter.name }}</checkbox>
                        </li>
                    </ul>
                </li>
            </ul>

            <list-filter filter-label="'Next steps'" view-model="vm"></list-filter>
        </div>

        <div class="widget-filters">
            <due-date-filter filter-store="vm.table.dueDateFilter" filter-field="next_step_date" type="'deal'" class="due-date-filter"></due-date-filter>
            <users-filter users-store="vm.table.usersFilter" storage-name="dealUsersFilter" class="user-filter"></users-filter>
        </div>
        <div class="widget-tools">
            <form class="widget-search">
                <div class="hl-search-field-container">
                    <input type="text" class="hl-search-field" ng-model="vm.table.searchQuery" ng-model-options="{debounce: 300}" placeholder="Search">
                    <button type="button" class="hl-search-btn" ng-click="vm.setSearchQuery('')" ng-disabled="!vm.table.searchQuery"></button>
                </div>
            </form>
        </div>

    </div>
    <div class="widget-body">
        <div ng-if="vm.showEmptyState" class="empty-state-container">
            <div class="empty-state-overlay"></div>
            <div class="empty-state-description">
                <h3>Close that deal</h3>

                <p>Track the status of your deals with this extensive overview.</p>
                <p>You can see what’s expired and what needs to be done in the nearby future.</p>

                <p>Add your first real deal, to find out: <a class="hl-primary-btn" ui-sref="base.deals.create" role="button" onclick="ga('send', 'event', 'Deal', 'Open', 'Deal list empty state');"><i class="fa fa-plus"></i> Deal</a></p>
            </div>
        </div>

        <table class="hl-table" id="tableBlockTarget">
            <thead class="flip-content">
                <th class="hl-table-column" ng-show="vm.table.visibility.name" table="vm.table">Subject</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.client">Client</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.status" sort-column="status" table="vm.table">Status</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.lostReason" sort-column="why_lost" table="vm.table">Lost reason</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.nextStep" sort-column="next_step__name" table="vm.table">Next step</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.nextStepDate" sort-column="next_step_date" table="vm.table">Next step date</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.assignedTo" sort-column="assigned_to" table="vm.table">Assigned to</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.assignedTeams">Assigned team(s)</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.amountOnce" sort-column="amount_once" table="vm.table">One-time cost</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.amountRecurring" sort-column="amount_recurring" table="vm.table">Recurring costs</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.newBusiness" sort-column="new_business" table="vm.table">Business</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.created" sort-column="created" table="vm.table">Created</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.closedDate" sort-column="closed_date" table="vm.table">Closed date</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.createdBy" sort-column="created_by__full_name" table="vm.table">Created by</th>
                <th class="hl-table-column" ng-show="vm.table.visibility.tags">Tags</th>
                <th class="hl-table-column" style="width: 60px;">Actions</th>
            </thead>
            <tbody ng-class="vm.showEmptyState ? 'empty-state-space' : ''">
                <tr ng-repeat="deal in vm.table.items">
                    <td class="hl-table-column" ng-show="vm.table.visibility.name">
                        <strong ng-if="::deal.is_archived">(a)</strong>
                        <a ui-sref="base.deals.detail({ id: deal.id })" title="{{ deal.name }}">{{ deal.name }}</a>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.client">
                        <deleted-indicator object="deal.contact" field="full_name">
                             <a ui-sref="base.contacts.detail({ id: deal.contact.id })">{{ ::deal.contact.full_name }}</a>
                        </deleted-indicator>
                        <span ng-if="deal.contact && deal.account"> at </span>
                        <deleted-indicator object="deal.account" field="name">
                             <a ui-sref="base.accounts.detail({ id: deal.account.id })">{{ ::deal.account.name }}</a>
                        </deleted-indicator>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.status">
                        {{ deal.status.name }}
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.lostReason">
                        {{ deal.why_lost }}
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.nextStep">
                        <editable-select field="next_step" view-model="vm" type="Deal" select-type="icon_select" object="deal"
                                         select-options="{'classPrefix': 'step-type position-', 'classValue': 'position'}">
                            <span class="step-type position-{{ deal.next_step.position }}">
                                {{ deal.next_step.name }}
                            </span>
                        </editable-select>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.nextStepDate">
                        <postpone type="'Deal'" object="deal" date-field="'next_step_date'" callback="vm.updateDeals()"></postpone>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.assignedTo">
                        <editable-select field="assigned_to" view-model="vm" type="Deal" search="true" object="deal"
                                         select-options="{type: 'User', display: 'full_name', placeholder: 'Assign to...', allowClear: true, sortColumn: 'full_name', nameColumn: 'full_name'}">
                            {{ deal.assigned_to.full_name || 'Nobody'}}
                        </editable-select>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.assignedTeams">
                        <div ng-repeat="team in deal.assigned_to_teams">{{ team.name }}</div>
                        <div ng-if="!deal.assigned_to_teams">
                            <a ng-click="vm.assignToMyTeams(deal)">Assign to my team(s)</a>
                        </div>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.amountOnce">
                        <span ng-bind-html="deal.amount_once | currencySymbol:deal.currency"></span>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.amountRecurring">
                        <span ng-bind-html="deal.amount_recurring | currencySymbol:deal.currency"></span>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.newBusiness">
                        <span ng-if="deal.new_business">New</span>
                        <span ng-if="!deal.new_business">Existing</span>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.created">
                        <date date="deal.created"></date>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.closedDate">
                        <date date="deal.closed_date"></date>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.createdBy">
                        {{ ::deal.created_by.full_name }}
                        <span ng-hide="deal.created_by.full_name">Unknown</span>
                    </td>
                    <td class="hl-table-column" ng-show="vm.table.visibility.tags">
                        <span ng-repeat="tag in deal.tags">
                            <a href="javascript:void(0)" ng-click="vm.setSearchQuery(tag.name)">{{ ::tag.name }}</a>
                            <br>
                        </span>
                    </td>
                    <td class="hl-table-column">
                        <a ui-sref="base.deals.detail.edit({ id: deal.id })" class="hl-primary-btn-smll" title="Edit">
                            <i class="lilicon hl-edit-icon"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="hl-table-column" colspan="15"><hl-pagination values="vm.table"></hl-pagination></td>
            </tfoot>

        </table>
    </div>
</div>
