<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-angle-down"></i>
                    Columns&nbsp;
                    <i class="fa fa-columns"></i>
                </button>
                <div class="dropdown-menu hold-on-click dropdown-checkboxes">
                    <checkbox model="table.visibility.account">Account</checkbox>
                    <checkbox model="table.visibility.stage">Stage</checkbox>
                    <checkbox model="table.visibility.created">Created</checkbox>
                    <checkbox model="table.visibility.name">Subject</checkbox>
                    <checkbox model="table.visibility.amountOnce">One-time cost</checkbox>
                    <checkbox model="table.visibility.amountRecurring">Recurring costs</checkbox>
                    <checkbox model="table.visibility.assignedTo">Assigned to</checkbox>
                    <checkbox model="table.visibility.closingDate">Closing date</checkbox>
                    <checkbox model="table.visibility.newBusiness">New business</checkbox>
                    <checkbox model="table.visibility.feedbackFormSent">Feedback form sent</checkbox>
                    <checkbox model="table.visibility.tags">Tags</checkbox>
                </div>
            </div>
            &nbsp;
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-angle-down"></i>
                    Filter on
                    <i class="fa fa-filter"></i>
                </button>
                <button class="btn red-pink" ng-click="clearFilters()" ng-show="displayFilterClear"><i class="fa fa-remove"></i></button>
                <div class="dropdown-menu hold-on-click dropdown-checkboxes list-filters">
                    <div ng-repeat="filter in filterList">
                        <checkbox model="filter.selected" ng-click="updateFilterQuery()">{{filter.name}}</checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="tools col-xs-12 col-md-6">
            <form class="form-inline pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="table.searchQuery" placeholder="Search..">
                    <span class="input-group-btn">
                        <button type="button" class="btn red-pink" ng-click="setSearchQuery('')" ng-disabled="!table.searchQuery">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped flip-content">
            <thead class="flip-content">
                <th>Edit</th>
                <th ng-show="table.visibility.account" class="width-10">Account</th>
                <th ng-show="table.visibility.stage" sort-column="stage" table="table">Stage</th>
                <th ng-show="table.visibility.created" sort-column="created" table="table" class="width-10">Created</th>
                <th ng-show="table.visibility.name" table="table" class="width-20">Subject</th>
                <th ng-show="table.visibility.amountOnce" sort-column="amount_once" table="table">One-time cost</th>
                <th ng-show="table.visibility.amountRecurring" sort-column="amount_recurring" table="table">Recurring costs</th>
                <th ng-show="table.visibility.assignedTo" sort-column="assigned_to_name" table="table">Assigned to</th>
                <th ng-show="table.visibility.closingDate" sort-column="closing_date" table="table" class="width-10">Closing date</th>
                <th ng-show="table.visibility.newBusiness" sort-column="new_business" table="table">New business</th>
                <th ng-show="table.visibility.feedbackFormSent" sort-column="feedback_form_sent" table="table">Feedback form sent</th>
                <th ng-show="table.visibility.tags">Tags</th>
            </thead>
            <tbody>
                <tr ng-repeat="deal in table.items">
                    <td>
                        <a ui-sref="base.deals.detail.edit({ id: deal.id })" class="btn btn-xs default" title="Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td ng-show="table.visibility.account">
                        <a ui-sref="base.accounts.detail({ id: deal.account })">{{ deal.account_name }}</a>
                    </td>
                    <td ng-show="table.visibility.stage">
                        {{ deal.stage_name }}
                    </td>
                    <td ng-show="table.visibility.created">
                        {{ deal.created | relativeDate }}
                    </td>
                    <td ng-show="table.visibility.name">
                        <a ui-sref="base.deals.detail({ id: deal.id })" title="{{ deal.name }}">{{ deal.name }}</a>
                    </td>
                    <td ng-show="table.visibility.amountOnce">
                        {{ deal.amount_once |currency:'&euro; ' }}
                    </td>
                    <td ng-show="table.visibility.amountRecurring">
                        {{ deal.amount_recurring |currency:'&euro; ' }}
                    </td>
                    <td ng-show="table.visibility.assignedTo">
                        {{ deal.assigned_to_name }}
                    </td>
                    <td ng-show="table.visibility.closingDate">
                        {{ deal.closing_date | relativeDate }}
                    </td>
                    <td ng-show="table.visibility.newBusiness">
                        <span ng-if="deal.new_business">Yes</span>
                        <span ng-if="!deal.new_business">No</span>
                    </td>
                    <td ng-show="table.visibility.feedbackFormSent">
                        <span ng-if="deal.feedback_form_sent"><i class="fa fa-check text-success font-size-inherit"></i></span>
                        <span ng-if="deal.feedback_form_sent" class="text-success">Done :)</span>

                        <span ng-if="!deal.feedback_form_sent"><i class="fa fa-remove text-warning"></i></span>
                        <span ng-if="!deal.feedback_form_sent" class="text-warning">Not yet</span>
                    </td>
                    <td ng-show="table.visibility.tags">
                        <span ng-repeat="tag in deal.tag">
                            <a href="javascript:void(0)" ng-click="setSearchQuery(tag)">{{ tag }}</a>
                            <br>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-7">
            Showing {{ (table.page - 1) * table.pageSize }} to {{ table.page * table.pageSize }} of {{ table.totalItems | number }} records
        </div>
        <div class="col-md-5">
            <pagination total-items="table.totalItems" ng-model="table.page" items-per-page="table.pageSize" max-size="5"></pagination>
        </div>
    </div>
</div>
