#case-status {
    margin-top: 15px;
    margin-bottom: 15px;
}

.label-sm {
    padding: 4px 6px !important;
}

td .label-sm {
    display: block;
}

.assign-me-btn {
    float: right;
}

.assign-me-btn:focus,
.assign-me-btn:hover {
    text-decoration: none;
}
