#case-status {
    margin-top: 15px;
    margin-bottom: 15px;
}

.label-sm {
    padding: 4px 6px !important;
}

td .label-sm {
    display: block;
}

.assign-me-btn {
    float: right;
    &:focus, &:hover {
        text-decoration: none;
    }
}

.list-actions {
    padding: 3px 10px;
}

@mixin case-priority-color($color){
    border: 1px $color solid;
    background: white;

    .case-info-heading-priority {
        color: white;
        background: $color;
    }
}

.case-info-heading {
    box-sizing: border-box;

    border-radius: $baseBorderRadius;
    margin-bottom: 25px;

    &.label-success {
        @include case-priority-color($lowPrioColor);
    }

    &.label-info {
        @include case-priority-color($mediumPrioColor);
    }

    &.label-warning {
        @include case-priority-color($highPrioColor);
    }

    &.label-danger {
        @include case-priority-color($criticalPrioColor);
    }
}

.case-info-heading-priority {
    padding: 3px;
    text-align: center;
}

.case-info-heading-title {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.case-info-heading-description {
    border-top: 1px $lightGrey solid;
    padding: 10px;
}

.case-detail-block {
    background: white;
    border-radius: $baseBorderRadius;
    margin-bottom: 25px;
}

.case-detail-block-heading {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px $lightGrey solid;

    a {
        text-decoration: none;
    }
}

.case-detail-block-content {
    padding: 10px;
}
