#case-status {
    margin-top: 15px;
    margin-bottom: 15px;
}

.label-sm {
    padding: 4px 6px !important;
}

td .label-sm {
    display: block;
}

.assign-me-btn {
    float: right;
    &:focus, &:hover {
        text-decoration: none;
    }
}

.list-actions {
    padding: 3px 10px;
}
