.text-in-row {
	min-height: 34px;
	line-height: 34px;
}

li.i-16.i-tag
{
	height: 19px; 
	line-height: 19px !important; 
}
.i-16.i-tag,
.i-16.i-tag.green,
.i-16.i-tag.yellow,
.i-16.i-tag.orange,
.i-16.i-tag.red
{ 
	padding-left: 24px !important;
	background-position: 4px center !important; 
	background-repeat: no-repeat !important;
}

.mws-table .i-16.i-tag,
.mws-table .i-16.i-tag.green,
.mws-table .i-16.i-tag.yellow,
.mws-table .i-16.i-tag.orange,
.mws-table .i-16.i-tag.red
{
	width: 24px;
	height: 24px;
}

.mws-table td.priority span
{
	display: none;
}

.i-16.i-tag.green {	background-image:url(../../extra/css/icons/color/16/tag_green.png) !important; }
.i-16.i-tag.orange { background-image:url(../../extra/css/icons/color/16/tag_orange.png) !important; }
.i-16.i-tag.red { background-image:url(../../extra/css/icons/color/16/tag_red.png) !important; }
.i-16.i-tag.yellow { background-image:url(../../extra/css/icons/color/16/tag_yellow.png) !important; }

.i-32.i-tag,
.i-32.i-tag.green,
.i-32.i-tag.yellow,
.i-32.i-tag.orange,
.i-32.i-tag.red
{ 
	background-repeat: no-repeat !important;
	display: inline-block;
	vertical-align: bottom;
	width: 32px;
	height: 32px;
}

.i-32.i-tag.green {	background-image:url(../../extra/css/icons/color/32/tag_green.png) !important; }
.i-32.i-tag.yellow { background-image:url(../../extra/css/icons/color/32/tag_yellow.png) !important; }
.i-32.i-tag.orange { background-image:url(../../extra/css/icons/color/32/tag_orange.png) !important; }
.i-32.i-tag.red { background-image:url(../../extra/css/icons/color/32/tag_red.png) !important; }


#tab-cases .mws-collapsible
{
	display: block;
	width: 100%;
	padding: 6px 5px;
}

#tab-cases .mws-collapsible .mws-collapse-button
{
	display: inline-block;
	vertical-align: bottom;
}

#tab-cases .mws-collapsible .mws-collapse-button span
{
	display: block;
	padding: 0;
	margin: 3px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	background-color: #1C76BC;
	background-image: url(../../extra/images/core/mws-panel-button-icon-min.png);
}

#tab-cases .mws-collapsible.mws-collapsed .mws-collapse-button span
{
	background-color: #1C76BC;
	background-image: url(../../extra/images/core/mws-panel-button-icon-plus.png);
}

#tab-cases .mws-collapsible.mws-collapsed .mws-collapsible-body
{
	display: none;
}