{% extends 'list.html' %}

{% load i18n utils compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'deals' %}
{% endblock %}

{% block head-title %}{% trans 'Deals' %}{% endblock %}

{% block page-container %}
    {% verbatim %}
    <div class="portlet" ng-controller="DealListController" ng-cloak>
        <div class="portlet-title">
            <div class="caption">
                <div class="btn-group">
                    <a class="btn-link btn-default" data-toggle="dropdown">
                        <i class="icon-reorder"></i>
                        <span ng-if="!table.archived">Deals</span>
                        <span ng-if="table.archived">Archived Deals</span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0)" ng-click="toggleArchived()">
                                <span ng-if="table.archived">Deals</span>
                                <span ng-if="!table.archived">Archived Deals</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn default" href="#" data-toggle="dropdown">
                        Columns
                        <i class="icon-angle-down"></i>
                    </a>
                    <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                        <checkbox model="table.visibility.account">Account</checkbox>
                        <checkbox model="table.visibility.stage">Stage</checkbox>
                        <checkbox model="table.visibility.created">Created</checkbox>
                        <checkbox model="table.visibility.name">Subject</checkbox>
                        <checkbox model="table.visibility.amountOnce">One-time cost</checkbox>
                        <checkbox model="table.visibility.amountRecurring">Recurring costs</checkbox>
                        <checkbox model="table.visibility.assignedTo">Assigned to</checkbox>
                        <checkbox model="table.visibility.closingDate">Closing date</checkbox>
                        <checkbox model="table.visibility.newBusiness">New business</checkbox>
                        <checkbox model="table.visibility.feedbackFormSent">Feedback form sent</checkbox>
                        <checkbox model="table.visibility.tags">Tags</checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body dataTables_wrapper form-inline">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn default" href="#" data-toggle="dropdown">
                                Filter on
                                <i class="icon-angle-down"></i>
                            </a>
                            <div class="dropdown-menu hold-on-click dropdown-checkboxes list-filters">
                                <div ng-repeat="filter in filterList">
                                    <checkbox model="filter.selected" ng-click="updateFilterQuery()">{{filter.name}}</checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="dataTables_filter">
                        <label>
                            Search:
                            <input type="text" class="form-control input-small" ng-model="table.searchQuery"><button class="btn default" ng-click="setSearchQuery('')" ng-disabled="!table.searchQuery">Clear</button>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row no-margin">
                <table class="table table-striped table-bordered table-hover table-fixed-layout">
                    <thead>
                        <th class="table-checkbox width-4"></th>
                        <th ng-show="table.visibility.account" class="width-10">Account</th>
                        <th ng-show="table.visibility.stage" sort-column="stage" table="table">Stage</th>
                        <th ng-show="table.visibility.created" sort-column="created" table="table" class="width-10">Created</th>
                        <th ng-show="table.visibility.name" table="table" class="width-20">Subject</th>
                        <th ng-show="table.visibility.amountOnce" sort-column="amount_once" table="table">One-time cost</th>
                        <th ng-show="table.visibility.amountRecurring" sort-column="amount_recurring" table="table">Recurring costs</th>
                        <th ng-show="table.visibility.assignedTo" sort-column="assigned_to_name" table="table">Assigned to</th>
                        <th ng-show="table.visibility.closingDate" sort-column="closing_date" table="table" class="width-10">Closing date</th>
                        <th ng-show="table.visibility.newBusiness" sort-column="new_business" table="table">New business</th>
                        <th ng-show="table.visibility.feedbackFormSent" sort-column="feedback_form_sent" table="table">Feedback form sent</th>
                        <th ng-show="table.visibility.tags">Tags</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="deal in table.items">
                        <td>
                            <a href="/deals/update/{{ ::deal.id }}/" class="btn btn-xs default" title="Edit">
                                <i class="icon-edit"></i>
                            </a>
                            <button type="button" class="btn btn-xs default" title="Delete" data-target="#confirm-delete" data-source="/deals/delete/{{ ::deal.id }}/" >
                                <i class="icon-trash"></i>
                            </button>
                        </td>
                        <td ng-show="table.visibility.account">
                            {{ ::deal.account_name }}
                        </td>
                        <td ng-show="table.visibility.stage">
                            {{ ::deal.stage_name }}
                        </td>
                        <td ng-show="table.visibility.created">
                            {{ ::deal.created | relativeDate }}
                        </td>
                        <td ng-show="table.visibility.name">
                            <a href="/deals/details/{{ ::deal.id }}/" title="{{ ::deal.name }}">{{ ::deal.name }}</a>
                        </td>
                        <td ng-show="table.visibility.amountOnce">
                            {{ ::deal.amount_once |currency:'&euro; ' }}
                        </td>
                        <td ng-show="table.visibility.amountRecurring">
                            {{ ::deal.amount_recurring |currency:'&euro; ' }}
                        </td>
                        <td ng-show="table.visibility.assignedTo">
                            {{ ::deal.assigned_to_name }}
                        </td>
                        <td ng-show="table.visibility.closingDate">
                            {{ ::deal.closing_date | relativeDate }}
                        </td>
                        <td ng-show="table.visibility.newBusiness">
                            <span ng-if="deal.new_business"><i class="icon-ok text-success"></i></span>
                            <span ng-if="!deal.new_business"><i class="icon-remove text-danger"></i></span>
                        </td>
                        <td ng-show="table.visibility.feedbackFormSent">
                            <span ng-if="deal.feedback_form_sent"><i class="icon-ok text-success"></i></span>
                            <span ng-if="!deal.feedback_form_sent"><i class="icon-remove text-danger"></i></span>
                        </td>
                        <td ng-show="table.visibility.tags">
                            <span ng-repeat="tag in deal.tag">
                                <a href="javascript:void(0)" ng-click="setSearchQuery(tag)">{{ ::tag }}</a>
                                <br>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-7">
                    Showing {{ (table.page - 1) * table.pageSize }} to {{ table.page * table.pageSize }} of {{ table.totalItems | number }} records
                </div>
                <div class="col-md-5">
                    <pagination total-items="table.totalItems" ng-model="table.page" items-per-page="table.pageSize" max-size="5"></pagination>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% compressed_js 'angularapp' %}
{% endblock %}
