{% extends 'base_details.html' %}

{% load i18n static %}

{% block styles %}
    {{ block.super }}
    
    <link rel="stylesheet" type="text/css" href="{% static 'deals/css/deals.css' %}" media="screen"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    <script type="text/javascript" src="{% static 'utils/js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'deals/js/deals.js' %}"></script>
{% endblock %}

{% block item-delete-url %}{% url deal_delete pk=item.pk %}{% endblock %}

{% block item-edit-url %}{% url deal_edit pk=item.pk %}{% endblock %}

{% block dialog-delete %}
    {% include 'deals/delete_dialog.html' %}
{% endblock %}

{% block item-details %}
    {{ block.super }}
    
    <div>
        {% trans 'Amount' %}:
        {{ item.amount }}&nbsp;{{ item.get_currency_display }}
    </div>
    <div>
        {% trans 'Account' %}: 
        <a href="{% url account_details pk=item.account.pk %}">
            {{ item.account.name }}
        </a>    
    </div>
    <div>
        {% trans 'Assigned to' %}: 
         <a href="{% url contact_details pk=item.assigned_to.pk %}">
            {{ item.assigned_to }}
        </a>  
    </div>
    {% if item.description %}
        <p></p>
        <div>
            {% trans 'Description' %}: 
            <p>{{ item.description }}</p>
        </div>
    {% endif %}
{% endblock %}

{% block contact-details %}
    <p id="deal-stage" data-object-id="{{ item.pk }}">
        <input type="radio" id="stage-new" name="radio" value="0" {% if item.stage == 0 %}checked="checked"{% endif %}/>
        <input type="radio" id="stage-lost" name="radio" value="1" {% if item.stage == 1 %}checked="checked"{% endif %} />
        <input type="radio" id="stage-pending" name="radio" value="2" {% if item.stage == 2 %}checked="checked"{% endif %} />
        <input type="radio" id="stage-won" name="radio" value="3" {% if item.stage == 3 %}checked="checked"{% endif %} />
        
        <label for="stage-new" class="deal-stage-label new">{% trans 'New' %}</label><label for="stage-lost" class="deal-stage-label lost">{% trans 'Lost' %}</label><label for="stage-pending" class="deal-stage-label pending">{% trans 'Pending' %}</label><label for="stage-won" class="deal-stage-label won">{% trans 'Won' %}</label>
    </p>
    {% trans 'Expected closing date' %}: {{ item.expected_closing_date|date:"d/m/Y" }} 
{% endblock %}

{% block tabs %}{% endblock %}
