{% extends 'base_model_list.html' %}

{% load i18n media %}

{% block styles %}
    {% include_media 'lily.deals.css' %}
    
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    
    <script type="text/javascript" src="{% url jsi18n packages='lily.deals' %}"></script>
{% endblock %}

{% block list-definition %}
    { "bSearchable": false, "bSortable": false, "aTargets": [0] },
    { "sType": "date-euro", "aTargets": [6] },
    { "sType": "date-euro", "aTargets": [7] }
{% endblock %}

{% block model-list-title %}{% trans 'Deals' %}{% endblock %}

{% block list-headings %}
    <th class="controls"></th>
    <th class="name">{% trans 'Name' %}</th>
    <th class="account">{% trans 'Account' %}</th>
    <th class="stage">{% trans 'Stage' %}</th>
    <th class="amount">{% trans 'Amount' %}</th>
    <th class="assigned-to">{% trans 'Assigned to' %}</th>
    <th class="closed hide_on_small_screen">{% trans 'Closed' %}</th>
    <th class="created hide_on_small_screen">{% trans 'Created' %}</th>
{% endblock %}
