{% extends 'base_model_list_item.html' %}

{% load i18n static thumbnail utils %}

{% block item-edit-url %}{% url deal_edit pk=item.pk %}{% endblock %}

{% block item-delete-url %}{% url deal_delete pk=item.pk %}{% endblock %}

{% block item-columns %}
    <td class="name">
        <a href="{% url deal_details pk=item.pk %}">
            {{ item.name }}
        </a>
    </td>
    <td class="account">
        <div>
            <a href="{% url account_details pk=item.account.pk %}">
                {{ item.account.name }}
            </a>
        </div>
        {% with item.account.get_address as address %}
            {% if address.street %}
                <div class="address">{{ address.city }}</div>
            {% endif %}
            {% if address.country %}
                <div class="country">{{ address.get_country_display }}</div>
            {% endif %}
        {% endwith %}
    </td>
    <td class="stage">
        {{ item.get_stage_display }}
    </td>
    <td class="amount">
        {{ item.currency }}&nbsp;{{ item.amount }}
    </td>
    <td class="assigned-to">
        <a href="{% url contact_details pk=item.assigned_to.pk %}">
            {{ item.assigned_to }}
        </a>
    </td>
    <td class="datetime closed hide_on_small_screen">
        <div>
            {{ item.expected_closing_date|date:"d/m/Y" }}
        </div>
    </td>
    <td class="datetime created hide_on_small_screen">
        <div>
            {{ item.created|date:"d/m/Y" }}
        </div>
        <div>
            {{ item.created|date:"H:i:s" }}
        </div>
    </td>
{% endblock %}
