{% extends 'base_quickbutton_form.html' %}

{% load i18n field_extras %} 

{% block form-content %}
    <input type="hidden" id="add-deal-submit" value="add" name="submit_button" />

    {% if form.non_field_errors %}
        <div class="mws-form-row">
            <div class="mws-form-message error no_list_style_type">
                <span class="field_error">{{ form.non_field_errors }}</span>
            </div>
        </div>
    {% endif %}
    
    <div class="mws-form-row">
        {{ form.name.label_tag }}
        <div class="mws-form-item">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-5-8 alpha">
                    {% if form.name.errors %}
                        <span class="field_error">{{ form.name }}</span>
                        <div class="mws-error no_list_style_type">
                            {{ form.name.errors }}
                        </div>
                    {% else %}
                        {{ form.name }}
                    {% endif %}
                </div>
            </div>                    
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.description.label_tag }}
        <div class="mws-form-item">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-6-8 alpha">
                    {% if form.description.errors %}
                        <span class="field_error">{{ form.description }}</span>
                        <div class="mws-error no_list_style_type">
                              {{ form.description.errors }}
                        </div>
                    {% else %}
                        {{ form.description }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.account.label_tag }}
        <div class="mws-form-item">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-5-8 alpha">
                    {% if form.account.errors %}
                        <span class="field_error">{{ form.account }}</span>
                        <div class="mws-error no_list_style_type">
                            {{ form.account.errors }}
                        </div>
                    {% else %}
                        {{ form.account }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.amount.label_tag }}
        <div class="mws-form-item">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-3-8 alpha">
                     <div class="mws-form-item">
                        {% if form.currency.errors %}
                            <span class="field_error">{{ form.currency }}</span>
                            <div class="mws-error no_list_style_type">
                                  {{ form.currency.errors }}
                            </div>
                        {% else %}
                            {{ form.currency }}
                        {% endif %}
                    </div>
                </div>
                <div class="mws-form-col-2-8 alpha">
                     <div class="mws-form-item">
                        {% if form.amount.errors %}
                            <span class="field_error">{{ form.amount }}</span>
                            <div class="mws-error no_list_style_type">
                                  {{ form.amount.errors }}
                            </div>
                        {% else %}
                            {{ form.amount }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.expected_closing_date.label_tag }}
        <div class="mws-form-item">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-2-8 alpha">                 
                    {% if form.expected_closing_date.errors %}
                        <span class="field_error">{{ form.expected_closing_date }}</span>
                        <div class="mws-error no_list_style_type">
                              {{ form.expected_closing_date.errors }}
                        </div>
                    {% else %}
                        {{ form.expected_closing_date }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.stage.label_tag }}
        <div class="mws-form-item">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-2-8 alpha">
                    {% if form.stage.errors %}
                        <span class="field_error">{{ form.stage }}</span>
                        <div class="mws-error no_list_style_type">
                            {{ form.stage.errors }}
                        </div>
                    {% else %}
                        {{ form.stage }}
                    {% endif %}
                 </div>
             </div>
        </div>
    </div>
    <div class="mws-form-row">
        {{ form.assigned_to.label_tag }}
        <div class="mws-form-item">
            <div class="mws-form-cols clearfix">
                <div class="mws-form-col-5-8 alpha">
                    {% if form.assigned_to.errors %}
                        <span class="field_error">{{ form.assigned_to }}</span>
                        <div class="mws-error no_list_style_type">
                            {{ form.assigned_to.errors }}
                        </div>
                    {% else %}
                        {{ form.assigned_to }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}