<i class="lilicon hl-entity-icon margin-right-10" ng-if="er.type === 'Contact' && !er.items.length" uib-tooltip="{{ $root.messages.contact.contactInfoTooltip }}"></i>
<span ng-show="!er.formVisible" class="editable editable-click addable-click">
    <div ng-repeat="email in er.items | filter: {status: '!' + 0}">
        <a ui-sref="base.email.composeEmail({email: email.email_address})">
            {{ email.email_address }}
        </a>
    </div>
    <div ng-if="!er.items.length">
        <span ng-if="er.type !== 'Contact'">No email address</span>
        <span ng-if="er.type === 'Contact' ">No personal email address</span>
    </div>

    <div class="editable-icons" ng-class="{'no-edit': !er.items.length}">
        <span ng-if="er.items.length" class="editable-icon js-edit"><i class="lilicon hl-edit-icon"></i></span>
        <span class="editable-icon js-add"><i class="fa fa-plus"></i></span>
    </div>
</span>

<form name="{{ er.formName }}" class="form-inline js-form-prolyfill" ng-if="er.formVisible">
    <div ng-repeat="email in er.items" class="form-inline-section">
        <div class="form-inline-input width-60">
            <input class="form-control"
                   maxlength="255"
                   placeholder="Email address"
                   ng-readonly="email.is_deleted"
                   ng-model="email.email_address" />
        </div>

        <div class="form-inline-input width-40">
            <select class="form-control"
                    ng-readonly="email.is_deleted"
                    ng-model="email.status"
                    ng-options="o.v as o.n for o in [{ n: 'Primary', v: 2 }, { n: 'Other', v: 1 }, { n: 'Inactive', v: 0}]"
                    ng-change="er.setPrimaryEmailAddress(email, er.items)">
            </select>
        </div>

        <div class="form-inline-input">
            <i class="margin-left-5 clickable"
               ng-class="{'fa fa-minus-circle': !email.is_deleted, 'fa fa-undo': email.is_deleted}"
               ng-click="er.removeRelatedField(email)"></i>
        </div>
    </div>

    <div class="editable-related-actions">
        <button type="button" class="btn" ng-click="er.addRelatedField()"><i class="fa fa-plus"></i></button>

        <div class="pull-right">
            <button type="submit" class="btn" ng-click="er.submit()"><i class="fa fa-check"></i></button>
            <button type="button" class="btn" ng-click="er.closeForm()"><i class="fa fa-close"></i></button>
        </div>
    </div>
</form>
