<span ng-show="!er.formVisible" class="editable editable-click addable-click">
    <div ng-repeat="phone in er.items">
        <a href="tel:{{ phone.raw_input }}">
            {{ phone.raw_input }}
        </a>
    </div>
    <div ng-if="!er.items.length">No phone numbers</div>

    <div class="editable-icons">
        <span class="editable-icon"><i class="lilicon hl-edit-icon"></i></span>
        <span class="editable-icon"><i class="fa fa-plus"></i></span>
    </div>
</span>

<form name="{{ er.formName }}" ng-show="er.formVisible" class="form-inline">
    <div ng-repeat="phone in er.items">
        <div class="form-group">
            <input class="form-control"
                   maxlength="255"
                   placeholder="Phone number"
                   ng-blur="er.formatPhoneNumber(phone)"
                   ng-model="phone.raw_input" />
        </div>

        <div class="form-group">
            <select class="form-control"
                    ng-model="phone.type"
                    ng-options="type.key as type.value for type in er.telephoneTypes">
            </select>
        </div>

        <div class="form-group">
            <i class="margin-left-5 clickable"
               ng-class="{'fa fa-minus-circle': !phone.is_deleted, 'fa fa-undo': phone.is_deleted}"
               ng-click="er.removeRelatedField(phone)"></i>
        </div>
    </div>

    <div class="editable-related-actions">
        <button class="btn" ng-click="er.addRelatedField()"><i class="fa fa-plus"></i></button>

        <div class="pull-right">
            <button class="btn" ng-click="er.submit()"><i class="fa fa-check"></i></button>
            <button class="btn" ng-click="er.closeForm()"><i class="fa fa-close"></i></button>
        </div>
    </div>
</form>
