<div>
    <div ng-if="$root.currentUser.tenant.planTier >= $ctrl.tier">
        <ng-transclude></ng-transclude>
    </div>
    <div ng-if="!$ctrl.tier || $root.currentUser.tenant.planTier < $ctrl.tier">
        <div ng-if="$ctrl.inline">
            <ng-transclude></ng-transclude>
        </div>
        <div ng-if="!$ctrl.inline">
            <div ng-if="!$ctrl.labelText">
                <div class="widget-heading">
                    <div class="widget-name">Feature unavailable</div>
                </div>
                <div class="widget-body">
                    <div class="widget-content">
                        <p>
                            <span ng-bind-html="$root.messages.general.featureUnavailableInline || $root.messages.general.featureUnavailable"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.labelText" class="unavailable-feature">
                <span>
                    <i class="{{ $ctrl.labelIcon }}"></i> {{ $ctrl.labelText }}</span>
                    <span ng-if="!$root.currentUser.isAdmin" class="unavailable-marker cursor-default" uib-tooltip="{{ $ctrl.message }}" tooltip-append-to-body="true">Unavailable</span>
                    <span ng-if="$root.currentUser.isAdmin" class="unavailable-marker clickable" uib-tooltip="{{ $ctrl.message }}" tooltip-append-to-body="true" ui-sref="base.preferences.admin.billing">Unavailable</span>
            </div>
        </div>
    </div>
</div>
