<div>
    <div ng-if="$root.currentUser.tenant.planTier >= tier">
        <ng-transclude></ng-transclude>
    </div>
    <div ng-if="!tier || $root.currentUser.tenant.planTier < tier">
        <div ng-if="inline">
            <ng-transclude></ng-transclude>
        </div>
        <div ng-if="!inline">
            <div ng-if="!labelText">
                <div class="widget-heading">
                    <div class="widget-name">Feature unavailable</div>
                </div>
                <div class="widget-body">
                    <div class="widget-content">
                        <p>This feature isn't available for your current plan. Please <a ui-sref="base.preferences.admin.billing">upgrade</a> to use this feature.</p>
                    </div>
                </div>
            </div>
            <div ng-if="labelText" class="unavailable-feature">
                <span><i class="{{ labelIcon }}"></i> {{ labelText }}</span> <span class="unavailable-marker clickable" uib-tooltip="{{ $root.messages.tooltips.featureUnavailable }}" tooltip-append-to-body="true" ui-sref="base.preferences.admin.billing">Unavailable</span>
            </div>
        </div>
    </div>
</div>
