<ul class="hl-button-group">
    <li class="hl-button-group-btn">
        <a class="hl-button-group-btn-link" href="javascript:;" data-toggle="dropdown">
            <i class="fa fa-filter"></i>
            {{ vm.filterDisplayName }}
            <i class="margin-left-5 small-icon lilicon hl-toggle-down-icon"></i>
        </a>

        <ul class="hl-dropdown js-hold-on-click">
            <li class="hl-dropdown-item" ng-click="vm.toggleAll()">
                <div class="hl-checkbox" ng-class="{'checked': vm.allSelected}"></div>
                <span ng-show="vm.allSelected" >All selected</span>
                <span ng-hide="vm.allSelected" >Select all</span>
            </li>

            <li class="hl-dropdown-item" ng-if="!vm.viewModel.filterSpecialList" ng-repeat="filter in vm.viewModel.filterList" ng-click="vm.toggleFilter(filter)">
                <div class="hl-checkbox" ng-class="{'checked': filter.selected}"></div>
                {{ filter.name }}
            </li>

            <li class="hl-dropdown-item" ng-if="vm.viewModel.filterSpecialList" ng-repeat="filter in vm.viewModel.filterSpecialList" ng-click="vm.toggleFilter(filter)">
                <div class="hl-checkbox" ng-class="{'checked': filter.selected}"></div>
                {{ filter.name }}
            </li>
        </ul>
    </li>
</ul>
