<div ng-hide="vm.widgetInfo.status === 0">
    <div class="{{ vm.widgetClass }}">
        <div class="widget-container">
            <div ng-if="vm.showFade" class="is-scrollable-fadeout clickable" ng-click="vm.heightToggle()">
                <i class="lilicon hl-toggle-down-icon" ng-if="!vm.widgetInfo.expandHeight"></i>
                <i class="lilicon hl-toggle-up-icon" ng-if="vm.widgetInfo.expandHeight"></i>
            </div>
            <div class="widget-heading hl-card-heading">
                <div class="widget-title" ng-transclude="widgetHeader"></div>
                <div class="widget-filters" ng-transclude="widgetFilters"></div>
                <div class="widget-tools">
                    <a class="widget-collapse" ng-click="vm.toggleCollapse()">
                        <i class="lilicon" ng-class="{1: 'hl-toggle-up-icon', 2: 'hl-toggle-down-icon', 3: 'hl-toggle-left-icon'}[vm.widgetInfo.status]"></i>
                    </a>
                    <a class="widget-close" ng-if="vm.widgetCloseable" ng-click="vm.removeWidget()">
                        <i class="lilicon hl-close-icon"></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="widget-body" ng-show="[1, 3].indexOf(vm.widgetInfo.status) > -1">
                <div ng-if="vm.widgetScrollable && vm.widgetDynamicHeight" hl-scroll-indicator ng-class="{'max-height-400': !vm.widgetInfo.expandHeight, 'max-height-800': vm.widgetInfo.expandHeight}" slimscroll="{allowPageScroll: true}" class="scroll-body" ng-transclude="widgetBody"></div>
                <div ng-if="vm.widgetScrollable && !vm.widgetDynamicHeight" hl-scroll-indicator ng-class="{'height-250': !vm.widgetInfo.expandHeight, 'height-500': vm.widgetInfo.expandHeight}" slimscroll="{allowPageScroll: true}" class="scroll-body" ng-transclude="widgetBody"></div>
                <div ng-if="!vm.widgetScrollable" ng-transclude="widgetBody"></div>
            </div>
        </div>
    </div>
</div>
