{% if item.get_any_email_address %}
    <div>
         <a href="mailto:{{ item.get_any_email_address }}" title="{{ item.get_any_email_address }}">
             <i class="icon-envelope-alt"></i>
             {{ item.get_any_email_address|truncatechars:"35" }}
        </a>
    </div>
 {% endif %}

{% with item.get_work_phone as phone %}
    {% if phone.raw_input %}
        <div>
            <a href="tel:{{ phone.number }}">
                <i class="icon-phone"></i>
                {{ phone.raw_input }}
            </a>
        </div>
    {% endif %}
{% endwith %}

{% with item.get_mobile_phone as phone %}
    {% if phone.raw_input %}
        <div>
            <a href="tel:{{ phone.number }}">
                <i class="icon-mobile-phone"></i>
                {{ phone.raw_input }}
            </a>
        </div>
    {% endif %}
{% endwith %}
