{% extends 'base.html' %}
{% load i18n static activelink %}

{% block title %}{% trans 'Dashboard' %} - {% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-mail">{% trans 'e-mail' %}</span>
        </div>
        <div class="mws-panel-body">
            <form class="mws-form" action="" method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="mws-form-row">
                        <div class="mws-form-message error no_list_style_type">
                            <span class="field_error">{{ form.non_field_errors }}</span>
                        </div>
                    </div>
                {% endif %}

                <div class="mws-form-inline">
                    {% for field in form %}
                        <div class="mws-form-row">
                            {{ field.label_tag }}
                            <div class="mws-form-item small">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}


<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span class="mws-i-24 i-list">Inline Form</span>
    </div>
    <div class="mws-panel-body">
        <form class="mws-form" action="form_layouts.html">
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label>Small text field</label>
                    <div class="mws-form-item small">
                        <input type="text" class="mws-textinput" />
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Medium text field</label>
                    <div class="mws-form-item medium">
                        <input type="text" class="mws-textinput" />
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Large text field</label>
                    <div class="mws-form-item large">
                        <input type="text" class="mws-textinput" />
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Textarea</label>
                    <div class="mws-form-item large">
                        <textarea rows="100%" cols="100%"></textarea>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Dropdown List</label>
                    <div class="mws-form-item small">
                        <select>
                            <option>Option 1</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Checkboxes</label>
                    <div class="mws-form-item clearfix">
                        <ul class="mws-form-list inline">
                            <li><input type="checkbox" /> <label>Checkbox 1</label></li>
                            <li><input type="checkbox" /> <label>Checkbox 2</label></li>
                            <li><input type="checkbox" /> <label>Checkbox 3</label></li>
                            <li><input type="checkbox" /> <label>Checkbox 4</label></li>
                        </ul>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label>Radio Buttons</label>
                    <div class="mws-form-item clearfix">
                        <ul class="mws-form-list inline">
                            <li><input type="radio" /> <label>Radio 1</label></li>
                            <li><input type="radio" /> <label>Radio 1</label></li>
                            <li><input type="radio" /> <label>Radio 1</label></li>
                            <li><input type="radio" /> <label>Radio 1</label></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="submit" value="Submit" class="mws-button red" />
                <input type="reset" value="Reset" class="mws-button gray" />
            </div>
        </form>
    </div>
</div>
