{% load utiltags %}

<tr class="{% if '\\Seen' in object.message_flags %}message-read{% else %}message-new{% endif %}">
    <td class="message-row-options"><input type="checkbox"></td>
    <td class="message-row-from">{% if object.from_name %}{{ object.from_name }}{% else %}{{ object.from_email }}{% endif %}</td>
    <td class="message-row-preview">{{ object.subject }} - {{ object.message_text }}</td>
    <td class="message-row-date" title="{{ object.date|date:'l  d-m-Y  H:i:s' }}">{{ object.date|naturaldatetime }}</td>
    <td class="message-row-type"></td>
</tr>