{% load i18n %}

<div id="{{ email_addresses_formset.prefix }}-form-template">
    <div class="mws-form-item large">
        <div class="mws-form-cols clearfix">
            <div class="float-left">
                <div class="mws-form-col-row mws-form-item email_address">
                    <input name="{{ email_addresses_formset.prefix }}-0-email_address" maxlength="255" placeholder="{% trans 'E-mail address' %}" type="text" class="mws-textinput" id="id_{{ email_addresses_formset.prefix }}-0-email_address" />
                </div>
            </div>
            <div class="float-left center">
                <div class="mws-form-col-row mws-form-item email_address email_is_primary">
                    <label>
                        <input class="hidden" type="radio" value="{{ email_addresses_formset.prefix }}-0" name="primary-email" />
                        <span>{% trans 'primary' %}</span>
                    </label>
                </div>
            </div>
            <div class="float-left">
                <div class="mws-form-col-row mws-form-item formset-delete email_address">
                    <a href="javascript:" class="mws-i-24 i-cross email_addresses-delete-row" /></a>
                </div>
            </div>
        </div>
    </div>
</div>