{% extends 'base_formset.html' %}

{% load i18n crispy_forms_tags %}

{% block template %}
    <div class="mws-form-item large">
        <div class="mws-form-cols clearfix">
            <div class="mws-form-col-2-8 alpha">
                <input name="{{ formset.prefix }}-0-email_address" maxlength="255" placeholder="{% trans 'E-mail address' %}" type="text" class="mws-textinput tabbable" id="id_{{ formset.prefix }}-0-email_address" />
            </div>
            <div class="mws-form-col-2-8 center email_is_primary">
                <label>
                    <input class="hidden" type="radio" value="{{ formset.prefix }}-0" name="{{ formset.prefix }}_primary-email" />
                    <span class="tabbable">{% trans 'primary' %}</span>
                </label>
            </div>
            <div class="mws-form-col-1-8 email-configuration-wizard">
            </div>
            <div class="mws-form-col-1-8 email-share-wizard">
            </div>
            <div class="mws-form-col-1-8 formset-delete">
                <a href="javascript:" class="i-16 i-trash-1 blue {{ formset.prefix }}-delete-row"></a>
            </div>
        </div>
    </div>
{% endblock %}
