{% load i18n bootstrap3 formset_tags %}

<div class="address_formset_wrapper" id="addresses">
    <div class="formset" data-formset-prefix="{{ formset.prefix }}">
        {{ formset.management_form }}

        <div data-formset-body>
            <!-- New forms will be inserted in here -->
            {% for form in formset %}
                <div data-formset-form>
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    <div class="form-group">
                        {% bootstrap_field form.street layout="horizontal" form_group_class="form-group-inline" %}
                        {% bootstrap_field form.street_number layout="horizontal" form_group_class="form-group-inline" field_class="col-md-2" show_label=False %}
                        {% bootstrap_field form.complement layout="horizontal" form_group_class="form-group-inline" field_class="col-md-1" show_label=False %}

                        {% if formset.can_delete %}
                            <div class="col-md-1">
                                <a href="javascript:void(0)" data-formset-undo-delete class="btn btn-sm default hidden" title="{% trans 'Undo the deletion of this row' %}">
                                    <i class="icon-undo"></i>
                                </a>
                                <a href="javascript:void(0)" data-formset-delete-button class="btn btn-sm default" title="{% trans 'Delete this row' %}">
                                    <i class="icon-trash"></i>
                                </a>
                                {% bootstrap_field form.DELETE form_group_class="form-group-inline hidden" %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.postal_code layout="horizontal" form_group_class="form-group-inline" field_class="col-md-4 col-md-offset-2" show_label=False %}
                        {% bootstrap_field form.city layout="horizontal" form_group_class="form-group-inline" field_class="col-md-3" show_label=False %}
                    </div>
                    <div class="form-group">
                        {% bootstrap_field form.country layout="horizontal" form_group_class="form-group-inline" field_class="col-md-4 col-md-offset-2" show_label=False %}
                        {% bootstrap_field form.type layout="horizontal" form_group_class="form-group-inline" field_class="col-md-3" show_label=False %}
                    </div>
                </div>
            {% endfor %}
        </div>
         <div class="form-group add-link">
             <label class="col-md-2 control-label{% if formset|length %} hide{% endif %}">
                 {{ formset.empty_form.street.label }}
             </label>
             <div class="col-md-10 form-control-static{% if formset|length %} col-md-offset-2{% endif %}">
                 <a href="javascript:void(0)" data-formset-add>{% trans 'Add an address' %}</a>
             </div>
         </div>
        <!-- The empty form template. By wrapping this in a <script> tag, the __prefix__ placeholder can easily be replaced in both attributes and any scripts -->
        <script type="form-template" data-formset-empty-form>
            <div data-formset-form>
                <div class="form-group">
                    {% bootstrap_field formset.empty_form.street layout="horizontal" form_group_class="form-group-inline" %}
                    {% bootstrap_field formset.empty_form.street_number layout="horizontal" form_group_class="form-group-inline" field_class="col-md-2" show_label=False %}
                    {% bootstrap_field formset.empty_form.complement layout="horizontal" form_group_class="form-group-inline" field_class="col-md-2" show_label=False %}

                    <div class="col-md-1">
                        <a href="javascript:void(0)" data-formset-undo-delete class="btn btn-sm default hidden" title="{% trans 'Undo the deletion of this row' %}">
                            <i class="icon-undo"></i>
                        </a>
                        <a href="javascript:void(0)" data-formset-delete-button class="btn btn-sm default" title="{% trans 'Delete this row' %}">
                            <i class="icon-trash"></i>
                        </a>
                        {% bootstrap_field formset.empty_form.DELETE form_group_class="form-group-inline hidden" %}
                    </div>
                </div>
                <div class="form-group">
                    {% bootstrap_field formset.empty_form.postal_code layout="horizontal" form_group_class="form-group-inline" field_class="col-md-4 col-md-offset-2" show_label=False %}
                    {% bootstrap_field formset.empty_form.city layout="horizontal" form_group_class="form-group-inline" show_label=False %}
                </div>
                <div class="form-group">
                    {% bootstrap_field formset.empty_form.country layout="horizontal" form_group_class="form-group-inline" field_class="col-md-4 col-md-offset-2" show_label=False %}
                    {% bootstrap_field formset.empty_form.type layout="horizontal" form_group_class="form-group-inline" show_label=False %}
                </div>
            </div>
        </script>
    </div>
</div>