{% load i18n utils %}

{% verbatim %}
<div class="text-center">
    <button ng-repeat="type in ::history_types"
    ng-class="{'active': opts.history_type==type.type}"
    class="btn btn-primary" ng-click="opts.history_type=type.type">{{type.name}}</button>
</div><br/>
<ul class="timeline" id="history-list">
    <li ng-if="$index < limitSize" ng-repeat="item in history | filter:{history_type:opts.history_type}" class="history-list-item" ng-class="'timeline-' + item.color">
        <div ng-if="::item.history_type=='case'">
            <div class="timeline-time">
                <span class="date">{{ ::item.date | date:'dd MMM yy' }}</span>
                <span class="time">{{ ::item.date | date:'HH:mm' }}</span>
            </div>
            <div class="timeline-icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <div class="timeline-body">
            Expires: {{ ::item.date | date:'dd MMMM yy HH:mm' }}
                <h2>{{ ::item.subject }}</h2>
                <div class="timeline-content">
                    <em style="white-space: pre-wrap;">{{ ::item.body }}</em>
                </div>
                <div class="timeline-footer">
                    <br/>
                    Status: {{ ::item.status}} ({{ ::item.archived ? 'active' : 'archived'}})<br/>
                    Priority: {{ ::item.priority_name }}<br/>
                    Type: {{ ::item.casetype_name}}<br/>
                    <br/>
                    <div ng-repeat="note in ::item.notes">
                        <div class="bg-yellow">
                            <div>Note <i class="fa fa-comment"></i> {{ ::note.date | date:'dd MMMM yy HH:mm' }}</div>
                            <div><em style="white-space: pre-wrap;">{{ ::note.content }}</em></div>
                            <div><i class="fa fa-user"></i>{{ ::note.author }}</div>
                        </div><br/>
                    </div>
                    <a ui-sref="base.cases.detail.edit({ id: item.id })" class="nav-link pull-right">
                        Edit<i class="fa fa-edit"></i>
                    </a>
                    <a ng-href="/cases/delete/{{ item.id }}/" class="nav-link pull-right" data-target="#confirm-delete" data-source="/cases/delete/{{ ::item.id }}/">
                        Delete<i class="fa fa-trash"></i>
                    </a>
                    <a ui-sref="base.cases.detail({ id: item.id })"  class="nav-link pull-right"> View<i class="fa fa-eye"></i></a>
                    <br/>
                    <i class="fa fa-user"></i>{{ ::item.created_by }}
                    <span ng-if="::item.assigned_to_name"><small>assigned to</small> {{ ::item.assigned_to_name }}</span>
                </div>
            </div>
        </div>
        <div ng-if="::item.history_type=='deal'">
            <div class="timeline-time">
                <span class="date">{{ ::item.date | date:'dd MMM yy' }}</span>
                <span class="time">{{ ::item.date | date:'HH:mm' }}</span>
            </div>
            <div class="timeline-icon">
                <i class="fa fa-money"></i>
            </div>
            <div class="timeline-body">
            Closing: {{ ::item.date | date:'dd MMMM yy HH:mm' }}<br/>
            Created: {{ ::item.created | date:'dd MMMM yy HH:mm' }}
                <h2>{{ ::item.name }}</h2>
                <div class="timeline-content">
                    <em style="white-space: pre-wrap;">{{ ::item.body }}</em>
                </div>
                <div class="timeline-footer">
                    <br/>
                    {{ ::item.new_business ? 'New business' : 'Existing business'}}<br/>
                    {{ ::item.feedback_form_sent ? 'Feedback form sent' : 'Feedback form not sent'}}<br/>
                    Stage: {{ ::item.stage_name}} ({{ ::item.archived ? 'archived' : 'active'}})<br/>
                    Amount once: {{ ::item.amount_once }}<br/>
                    Amount recurring: {{ ::item.amount_recurring}}<br/><br/>
                    <div ng-repeat="note in ::item.notes">
                        <div class="bg-yellow">
                            <div>Note <i class="fa fa-comment"></i> {{ ::note.date | date:'dd MMMM yy HH:mm' }}</div>
                            <div><em style="white-space: pre-wrap;">{{ ::note.content }}</em></div>
                            <div><i class="fa fa-user"></i>{{ ::note.author }}</div>
                        </div><br/>
                    </div>
                    <a ui-sref="base.deals.detail.edit({ id: item.id })" class="nav-link pull-right">
                        Edit<i class="fa fa-edit"></i>
                    </a>
                    <a ng-href="/deals/delete/{{ ::item.id }}/" class="nav-link pull-right" data-target="#confirm-delete" data-source="/deals/delete/{{ ::item.id }}/">
                        Delete<i class="fa fa-trash"></i>
                    </a>
                    <a ui-sref="base.deals.detail({ id: item.id })"  class="nav-link pull-right">View</a>
                    <br/>
                    <i class="fa fa-user"></i>{{ ::item.assigned_to_name }}
                </div>
            </div>
        </div>
        <div ng-if="::item.history_type=='note'">
            <div class="timeline-time">
                <a ng-href="/notes/update_date/{{ ::item.id }}/" class="nav-link" data-target="#object-update" data-source="/notes/update_date/{{ ::item.id }}/">
                    <span class="date">{{ ::item.date | date:'dd MMM yy' }}</span>
                    <span class="time">{{ ::item.date | date:'HH:mm' }}</span>
                </a>
            </div>
            <div class="timeline-icon">
                <i class="fa fa-comment"></i>
            </div>
            <div class="timeline-body">
            {{ ::item.date | date:'dd MMMM yy HH:mm' }}
                <h2>Note</h2>
                <div class="timeline-content">
                    <em style="white-space: pre-wrap;">{{ ::item.content }}</em>
                </div>
                <div class="timeline-footer">
                    <a class="nav-link pull-right" ng-click="editNote(item)">
                        Edit<i class="fa fa-edit"></i>
                    </a>
                    <a ng-href="/notes/delete/{{ ::item.id }}/" class="nav-link pull-right" data-target="#confirm-delete" data-source="/notes/delete/{{ ::item.id }}/">
                        Delete<i class="fa fa-trash"></i>
                    </a>
                    <br/>
                    <i class="fa fa-user"></i>
                    {{ ::item.author }}
                </div>
            </div>
        </div>
        <div ng-if="::item.history_type=='email'">
            <div class="timeline-time">
                <span class="date">{{ ::item.date | date:'dd MMM yy' }}</span>
                <span class="time">{{ ::item.date | date:'HH:mm' }}</span>
            </div>
            <div class="timeline-icon">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="timeline-body" ng-class="{'body-right': item.right, 'body-left': !item.right}">
            {{ ::item.date | date:'dd MMMM yy HH:mm' }}
                <h2>{{ ::item.subject | limitTo:45 }}<span ng-if="::item.subject.length >= 45">...</span></h2>
                <div class="timeline-content">{{ left }}
                    <em style="white-space: pre-wrap;">{{ ::item.body | limitTo:265 }}<span ng-if="::item.body_text.length >= 265">...</span></em>
                </div>
                <div class="timeline-footer">
                    <a href="javascript:alert('TODO')" class="nav-link pull-right">
                        Reply
                        <i class="fa fa-reply"></i>
                    </a>
                    <a href="javascript:alert('TODO')" class="nav-link pull-right">
                        Forward
                        <i class="fa fa-arrow-right"></i>
                    </a>
                    <a ui-sref="base.email.detail({id: message.id })" class="nav-link pull-right">
                        View
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a href="#" class="nav-link">
                        <i class="fa fa-user"></i>
                        <span>{{ ::item.sender_name }}</span>
                    </a>
                </div>
            </div>
        </div>
    </li>
</ul>
<p class="text-center">
    <button ng-click="loadHistoryFromButton()" class="btn btn-primary margin-top-20">{{ showMoreText }}</button>
</p>
{% endverbatim %}
