{% load i18n %}
{% comment %}
Use {% include 'utils/phone_number_formset_template.html' with formset_prefix=phone_numbers_formset.prefix %} to use this file.
{% endcomment %}

<div id="{{ formset_prefix }}-form-template">
    <div class="mws-form-item large">
        <div class="mws-form-cols clearfix">
            <div class="float-left">
                <div class="mws-form-col-row mws-form-item">
                    <input name="{{ formset_prefix }}-0-raw_input" placeholder="{% trans 'Phone number' %}" class="mws-textinput" type="text" id="id_{{ formset_prefix }}-0-raw_input" />
                </div>
            </div>
            <div class="float-left">
                <div class="mws-form-col-row mws-form-item">
                    <select id="id_{{ formset_prefix }}-0-type" class="other" name="{{ formset_prefix }}-0-type">
                        {% block phone_number_types %}
                        <option value="work" selected="selected">{% trans 'Work' %}</option>
                        <option value="mobile">{% trans 'Mobile' %}</option>
                        <option value="home">{% trans 'Home' %}</option>
                        <option value="fax_home">{% trans 'Fax (home)' %}</option>
                        <option value="fax_work">{% trans 'Fax (work)' %}</option>
                        <option value="data">{% trans 'Data' %}</option>
                        <option value="pager">{% trans 'Pager' %}</option>
                        <option value="other">{% trans 'Other' %}</option>
                        {% endblock %}
                    </select>                                      
                </div>
            </div>
            {% block other_phone_number_type %}
            <div class="float-left">
                <div class="mws-form-col-row mws-form-item">
                    <input id="id_{{ formset_prefix }}-0-other_type" type="text" class="mws-textinput other hidden" name="{{ formset_prefix }}-0-other_type" maxlength="15" />
                </div>
            </div>
            {% endblock %}
            <div class="float-left">
                <div class="formset-delete mws-form-col-row mws-form-item">
                    <a href="javascript:" class="mws-i-24 i-cross {{ formset_prefix }}-delete-row"></a>
                </div>
            </div>
        </div>
    </div>
</div>