{% load bootstrap3 i18n %}

<div{% if attrs.container_class %} class="{{ attrs.container_class }}"{% endif %}>
    <div id="wysihtml5-toolbar" style="display: none;" class="width-100">
        <ul class="wysihtml5-toolbar">
            <li class="dropdown">
                <a class="btn default dropdown-toggle" tabindex="-1" data-toggle="dropdown" title="{% trans 'Text type' %}">
                    <i class="fa fa-font"></i>
                    <span class="current-font">{% trans 'Normal Text' %}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="div">{% trans 'Normal Text' %}</a></li>
                    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">{% trans 'Heading 1' %}</a></li>
                    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">{% trans 'Heading 2' %}</a></li>
                    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">{% trans 'Heading 3' %}</a></li>
                    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4">{% trans 'Heading 4' %}</a></li>
                    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5">{% trans 'Heading 5' %}</a></li>
                    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6">{% trans 'Heading 6' %}</a></li>
                </ul>
            </li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="bold" title="{% trans 'Make bold' %}"><i class="fa fa-bold"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="italic" title="{% trans 'Make italic' %}"><i class="fa fa-italic"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="underline" title="{% trans 'Make underlined' %}"><i class="fa fa-underline"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="insertUnorderedList" title="{% trans 'Create an unordered list' %}"><i class="fa fa-list-ul"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="insertOrderedList" title="{% trans 'Create an ordered list' %}"><i class="fa fa-list-ol"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="Indent" title="{% trans 'Indent, move right' %}"><i class="fa fa-indent"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="Outdent" title="{% trans 'Outdent, move left' %}"><i class="fa fa-outdent"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-action="change_view" title="{% trans 'Edit raw html' %}"><i class="fa fa-code"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="createLink" title="{% trans 'Create a link' %}"><i class="fa fa-link"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="insertImage" title="{% trans 'Add an image' %}"><i class="fa fa-image"></i></a></li>
            <li><a class="btn default" tabindex="-1" data-wysihtml5-command="restoreEmail" title="{% trans 'Restore previous email' %}"><i class="fa fa-wrench"></i></a></li>
        </ul>
        <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
        <div data-wysihtml5-dialog="createLink" style="display: none;">
            <div class="form-group">
                <label class="sr-only" for="wysihtml5-link">Link:</label>
                <input id="wysihtml5-link" data-wysihtml5-dialog-field="href" value="http://" class="text form-control" placeholder="Enter link">
            </div>
            <div class="btn-group">
                <a class="btn btn-default" data-wysihtml5-dialog-action="save">{% trans 'OK' %}</a>
                <a class="btn btn-default" data-wysihtml5-dialog-action="cancel">{% trans 'Cancel' %}</a>
            </div>
        </div>

        <div data-wysihtml5-dialog="insertImage" style="display: none;">
            <div class="form-group">
                <label class="sr-only" for="wysihtml5-image">Image URL:</label>
                <input id="wysihtml5-image" data-wysihtml5-dialog-field="src" class="text form-control" value="http://" placeholder="Enter URL">
            </div>
            <div class="btn-group">
                <a class="btn btn-default" data-wysihtml5-dialog-action="save">{% trans 'OK' %}</a>
                <a class="btn btn-default" data-wysihtml5-dialog-action="cancel">{% trans 'Cancel' %}</a>
            </div>
        </div>
    </div>

    <div style="padding: 10px;">
        <textarea {% for key, value in attrs.items %} {{ key }}="{{ value }}"{% endfor %}>{{ value|default:"" }}</textarea>
    </div>
</div>
