{% extends 'mwsadmin/base_create_or_update_form.html' %}

{% load i18n %}

{% block create-form-title %}{% trans 'Add contact' %}{% endblock %}

{% block update-form-title %}{% trans 'Edit contact' %}{% endblock %}

{% block hidden-dialogs %}
    {% if item.pk %}
        {% include 'contacts/mwsadmin/delete_dialog.html' with item=item %}
    {% endif %}

    <div id="dialog-email-configuration-wizard" class="dialog configuration" title="{% trans 'E-mail configuration wizard' %}"></div>
    <div id="dialog-email-share-wizard" class="dialog share" title="{% trans 'E-mail share options' %}"></div>
{% endblock %}
