.inbox {
    .emailmessage-detail {
        .inbox-loading {
            display: block;
        }

        .inbox-view {
            display: none;

            iframe {
                border: 0;
            }
        }

        .inbox-header small {
            font-weight: 300;
        }
    }

    .emailmessage-list .inbox-header small {
        font-weight: 300;
    }
}

.inbox-form-group {
    &.has-error {
        border: 1px solid #b94a48;
    }

    .form-control {
        border: 0;
    }

    &.email-template-attachments {
        border: 1px solid #eee;
        padding-top: 10px;
    }
}

.btn-group.btn-group-spaced .btn:not(:first-child):not(.dropdown-toggle) {
    margin-left: 5px;
}

.email-detail-extra-btn {
    top: 2px;
    padding-left: 17px !important;
    padding-right: 17px !important;
}

.btn.email-list-extra-btn {
    padding-left: 16px;
    padding-right: 16px;
}

.mail-actions .mail-checkbox {
    pointer-events: all;
}

.inbox-content {
    .select2-container .select2-choice,
    .select2-container-multi .select2-choices {
        border: 0;
        padding: 4px 0 0 8px;
    }
}

.select2-results {
    .select2-match {
        text-decoration: none;
        font-weight: bold;
    }
}

.no-spacing-right {
    padding-right: 0;
    margin-right: 0;
}

.dropdown-menu.labels a {
    text-align: left !important;
}

.email-template-body {
    border: solid 1px #eee;

    .inbox-form-group {
        margin-bottom: 0;
        position: relative;
        border-bottom: solid 1px #eee;
    }

    .wysihtml5 {
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
    }

    .wysihtml5-sandbox {
        padding: 0 !important;
        margin: 0 !important;
        display: block !important;
        border: 0 !important;
        margin-top: 5px;
        width: 100% !important;
        border-left: 0;
        border-right: 0;
        border-color: #eee;
    }

    .wysihtml5-toolbar {
        border: 0;
        border-bottom: 1px solid #eee;
        padding-left: 20px;

        > li {
            height: 34px;
            margin-right: 0;
            margin-bottom: 0;

            > {
                a,
                div > a {
                    background: #fff;
                }
            }
        }

        .dropdown.open .dropdown-toggle {
            background: #eee !important;
        }
    }
}

ul {
    &.wysihtml5-toolbar {
        background: #fff;

        a {
            &.btn.wysihtml5-command-active {
                background: #eee !important;
            }
        }
    }
}

.template-attachment-name {
    padding: 1px 3px;

    &.mark-deleted {
        background-color: #f9f9f9 !important;
    }
}

.email-recipients {
    height: 1.30em;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.inbox-view-info {
    border-top: 0;

    .inbox-info-btn .btn {
        top: 2px;
        font-size: 13px;
        padding: 3px 10px;
    }

    .row {
        padding-right: 15px;
        padding-left: 15px;
    }

    .email-info-top {
        span {
            vertical-align: middle;
        }
    }

    .email-recipients {
        color: #a5a5a5;
        display: inline-block;
        overflow: hidden;
    }
}

.email-info-top .inbox-info-btn {
    display: inline-block;
    margin-left: 10px;
}

.email-template-attachments .add-link {
    margin-left: 0;
    margin-right: 0;
}

.show-more-recipients {
    background: none !important;

    &:hover {
        color: #545b5e !important;
    }

    &:active,
    &:focus {
        color: #94a4ab !important;
    }
}

.detail-plain-text {
    white-space: pre-line;
    word-wrap: break-word;
}

.inbox-attached {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 20px;
}

.mail-attachments .form-group {
    margin-bottom: 0;
}
