<div ng-if="!contact.id" ng-include="'utils/controllers/does_not_exist.html'" class="row">
</div>

<div ng-if="contact.id" class="row">
    <div class="col-md-4">
        <contact-detail-widget contact="contact"></contact-detail-widget>
    </div>

    <div class="col-md-4">
        <list-widget title="Deals"
                     list="dealList"
                     collapsable-items="true"
                     object="contact"
                     add-link="base.deals.create.fromContact({contactId: {{ contact.id }}})">
        </list-widget>
    </div>

    <div class="col-md-4">
        <list-widget title="Cases"
                     list="caseList"
                     collapsable-items="true"
                     object="contact"
                     add-link="base.cases.create.fromContact({contactId: {{ contact.id }}})">
        </list-widget>
    </div>
</div>

<div ng-if="contact.id" class="row">
    <div class="col-md-8">
        <history-list ng-if="contact.id" target="'contact'" object="contact"></history-list>
    </div>

    <div ng-if="contact.accounts.length" class="col-md-4" ng-repeat="account in contact.accounts">
        <list-widget title="{{ account.name }}"
                     list="account.colleagueList"
                     module="contacts"
                     object="account"
                     add-link="base.contacts.create.fromAccount({accountId: {{ account.id }}})"
                     height="height">
        </list-widget>
    </div>
    <div ng-if="!contact.accounts.length" class="col-md-4">
        <list-widget title="Contacts" height="height" object="contact"></list-widget>
    </div>
</div>
