<form novalidate class="form-horizontal" name="contactForm">
    <div class="form-body">
        <form-portlet title="Who was it?">
            <form-portlet-body>
                <form-radio-buttons options="['Formal', 'Informal']" label-title="Salutation" input-name="salutation" required="true" field="vm.contact.salutation"></form-radio-buttons>
                <form-radio-buttons options="['Male', 'Female', 'Unknown/Other']" label-title="Gender" input-name="gender" required="true" field="vm.contact.gender"></form-radio-buttons>
                <form-group label-title="Name" label-icon="building-o" required="true" ng-class="{'has-error': contactForm.last_name.$invalid}">
                    <div class="col-md-9">
                        <div class="form-group-inline">
                            <div class="col-md-2 no-padding-left">
                                <input class="form-control"
                                       id="id_first_name"
                                       maxlength="255"
                                       name="first_name"
                                       placeholder="First name"
                                       type="text"
                                       ng-model="vm.contact.first_name">
                            </div>
                        </div>

                        <div class="form-group-inline">
                            <div class="col-md-1">
                                <input class="form-control"
                                       id="id_preposition"
                                       maxlength="255"
                                       name="preposition"
                                       placeholder="Preposition"
                                       type="text"
                                       ng-model="vm.contact.preposition">
                            </div>
                        </div>

                        <div class="form-group-inline">
                            <div class="col-md-2">
                                <input class="form-control"
                                       id="id_last_name"
                                       maxlength="255"
                                       name="last_name"
                                       placeholder="Last name"
                                       type="text"
                                       ng-model="vm.contact.last_name">
                            </div>
                        </div>

                        <span class="help-block" ng-show="contactForm.last_name.$error.message">{{ contactForm.last_name.$error.message }}</span>
                    </div>
                </form-group>
                <form-group label-title="Works at" label-icon="child" label-id="id_account" field="contactForm.accounts">
                    <div class="col-md-4">
                        <ui-select multiple ng-model="vm.contact.accounts" theme="select2" class="form-control" name="accounts">
                            <ui-select-match placeholder="Select one or more account(s)">{{ $item.name }}</ui-select-match>
                            <ui-select-choices repeat="account in vm.accounts" refresh="vm.refreshAccounts($select.search)" refresh-delay="150">
                                <div ng-bind-html="account.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </form-group>
                <form-group label-title="Description" label-icon="info" label-id="id_description" field="contactForm.description">
                    <div class="col-md-4">
                        <textarea class="form-control" cols="40" id="id_description" name="description" placeholder="Description" rows="3" ng-model="vm.contact.description"></textarea>
                    </div>
                </form-group>
                </form-group>
            </form-portlet-body>
        </form-portlet>
        <form-portlet title="Contact information">
            <form-portlet-body>
                <form-email-addresses email-addresses="vm.contact.email_addresses"
                                      add-related-field="vm.addRelatedField(field)"
                                      remove-related-field="vm.removeRelatedField(field, index, remove)">
                </form-email-addresses>
                <form-phone-numbers phone-numbers="vm.contact.phone_numbers"
                                    add-related-field="vm.addRelatedField(field)"
                                    remove-related-field="vm.removeRelatedField(field, index, remove)">
                </form-phone-numbers>
                <form-addresses addresses="vm.contact.addresses"
                                add-related-field="vm.addRelatedField(field)"
                                remove-related-field="vm.removeRelatedField(field, index, remove)">
                </form-addresses>
            </form-portlet-body>
        </form-portlet>
        <form-portlet title="Tags">
            <form-portlet-body>
                <form-group label-title="Tags" label-id="id_tags" label-icon="tags" field="contactForm.tags">
                    <div class="col-md-4">
                        <div class="show-and-hide-input">
                            <div class="form-control-static">
                                <a href="javascript:void(0)" class="toggle-original-form-input" data-action="show">
                                    Add&nbsp;<i class="fa fa-angle-down"></i>
                                </a>
                            </div>

                            <div class="original-form-widget hide">
                                <ui-select multiple tagging ng-model="vm.contact.tags" theme="bootstrap" tagging-label="(new tag)" style="width: 100%;">
                                    <ui-select-match placeholder="Add tags...">{{ $item }}</ui-select-match>
                                    <ui-select-choices repeat="tag in vm.tags | filter:$select.search">
                                        {{ tag }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-control-static hide">
                                <a href="javascript:void(0)" class="toggle-original-form-input" data-action="hide">
                                    Cancel&nbsp;<i class="fa fa-angle-up"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form-group>
            </form-portlet-body>
        </form-portlet>
        <form-portlet title="Social media">
             <form-portlet-body>
                <form-group label-title="Twitter" label-icon="twitter" label-id="twitter" field="contactForm.twitter">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-twitter"></i>
                            </span>
                            <input class="form-control"
                                   id="twitter"
                                   name="twitter"
                                   maxlength="255"
                                   placeholder="Twitter"
                                   type="text"
                                   ng-model="vm.contact.twitter">
                        </div>
                    </div>
                </form-group>
                <form-group label-title="LinkedIn" label-icon="linkedin" label-id="linkedin" field="contactForm.linkedin">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-linkedin"></i>
                            </span>
                            <input class="form-control"
                                   id="linkedin"
                                   name="linkedin"
                                   maxlength="255"
                                   placeholder="LinkedIn"
                                   type="text"
                                   ng-model="vm.contact.linkedin">
                        </div>
                    </div>
                </form-group>
            </form-portlet-body>
        </form-portlet>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <button type="button" class="btn blue" ng-click="vm.saveContact(contactForm)">
                    <i class="fa fa-check"></i> Save
                </button>
                <a ng-href="/#/contacts" class="btn default">
                    Back
                </a>
            </div>
        </div>
    </div>
</form>
