<div class="row">
    <div class="col-md-12">
        <div class="widget-heading" ng-if="settings.email.sidebar.form">
            <div class="widget-name">
                <div class="widget-title">
                    {{ vm.contact.id ? "Edit" : "Add" }} contact
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <form novalidate class="hl-form-body" name="contactForm">
            <form-portlet portlet-title="Who was it?">
                <form-radio-buttons options="['Formal', 'Informal']" label-title="Salutation" input-name="salutation" required="true" field="vm.contact.salutation" sidebar="settings.email.sidebar.form"></form-radio-buttons>
                <form-radio-buttons options="['Male', 'Female', 'Unknown/Other']" label-title="Gender" input-name="gender" required="true" field="vm.contact.gender" sidebar="settings.email.sidebar.form"></form-radio-buttons>

                <div class="hl-form-field">
                    <form-group label-title="Name" required="true" ng-class="{'has-error': contactForm.first_name.$invalid || contactForm.last_name.$invalid}">
                        <table class="hl-form-table">
                            <tbody>
                                <tr>
                                    <td class="hl-form-table-column on-small-screen">
                                        <input class="form-control"
                                               maxlength="255"
                                               name="first_name"
                                               placeholder="First name"
                                               type="text"
                                               ng-blur="vm.checkExistingContact()"
                                               ng-model="vm.contact.first_name" />

                                        <field-error form="contactForm" field="first_name"></field-error>
                                    </td>
                                    <td class="hl-form-table-column on-small-screen">
                                        <input class="form-control"
                                               maxlength="255"
                                               name="last_name"
                                               placeholder="Last name"
                                               type="text"
                                               ng-blur="vm.checkExistingContact()"
                                               ng-model="vm.contact.last_name" />

                                        <field-error form="contactForm" field="last_name"></field-error>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form-group>
                </div>

                <form-group ng-if="vm.contactSuggestions.name.length && vm.showSuggestions.name">
                    <div class="widget-suggestion">
                        <span class="widget-suggestion-title"><i class="lilicon hl-entity-icon"></i> It looks like this contact already exists</span>
                        <span class="small pull-right clickable text-muted" ng-click="vm.showSuggestions.name = false"><i class="lilicon hl-close-icon"></i></span>

                        <div ng-repeat="suggestion in vm.contactSuggestions.name" class="widget-suggestion-items">
                            <div class="widget-suggestion-item">
                                Is this
                                <a ui-sref="base.contacts.detail({ id: suggestion.contact.id })">{{ suggestion.contact.full_name }}</a>
                                <span ng-if="suggestion.contact.accounts"> from <a ng-if="suggestion.contact.accounts" ui-sref="base.accounts.detail({ id: suggestion.contact.accounts[0].id })">{{ suggestion.contact.accounts[0].name }}</a></span>
                                ?
                            </div>
                            <div class="widget-suggestion-item-action">
                                <a ng-if="!settings.email.sidebar.form" class="hl-primary-btn" ui-sref="base.contacts.detail.edit({ id: suggestion.contact.id, contactForm: vm.contact })">Merge with contact</a>
                                <a ng-if="settings.email.sidebar.form" class="hl-primary-btn" ng-mousedown="vm.mergeContactData(suggestion.contact.id)">Merge</a>
                            </div>
                        </div>
                    </div>
                </form-group>

                <form-group label-title="Works at" label-id="id_account" field="contactForm.accounts">
                    <ui-select multiple ng-model="vm.contact.accounts" theme="bootstrap" class="form-control" name="accounts">
                        <ui-select-match placeholder="Select one or more account(s)">{{ $item.name }}</ui-select-match>
                        <ui-select-choices repeat="account in vm.accounts | filterItems:vm.contact.accounts" refresh="vm.refreshAccounts($select.search)" refresh-delay="300">
                            <div ng-bind-html="account.name | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            <div class="contact-add-account" ng-click="vm.addAccount($select)">
                                <i class="fa fa-plus"></i>Add <strong>{{ $select.search }}</strong> as a new account
                            </div>
                        </ui-select-no-choice>
                    </ui-select>
                </form-group>

                <form-group label-title="Description" label-id="id_description" field="contactForm.description">
                    <textarea class="form-control" id="id_description" name="description" placeholder="Description" msd-elastic ng-model="vm.contact.description"></textarea>
                </form-group>
            </form-portlet>

            <form-portlet portlet-title="Contact information">
                    <form-group label-title="Email">
                        <table class="hl-form-table hl-form-fixed-data m-b-10" ng-if="vm.account.email_addresses">
                            <tbody>
                                <tr ng-repeat="emailAddress in vm.account.email_addresses">
                                    <td class="hl-form-table-column entity-icon-container">
                                        <i class="lilicon hl-company-icon" ng-if="$first" uib-tooltip="{{ $root.messages.contact.accountInfoTooltip }}"></i>
                                    </td>
                                    <td class="hl-form-table-column">
                                        <span>{{ emailAddress.email_address }}</span>
                                        <span>({{ emailAddress.status_name }})</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <form-email-addresses email-addresses="vm.contact.email_addresses"
                                              add-related-field="vm.addRelatedField(field)"
                                              remove-related-field="vm.removeRelatedField(field, index, remove)"
                                              show-icon="vm.account.email_addresses.length"
                                              blur-callback="vm.searchEmailAddress">
                            <i class="lilicon hl-entity-icon"></i>
                        </form-email-addresses>
                    </form-group>

                    <div class="widget-suggestion" ng-if="vm.accountSuggestions.email.length && vm.showSuggestions.email">
                        <span class="widget-suggestion-title">
                            <div>
                                <i class="lilicon hl-entity-icon"></i>
                                The entered email address is already linked to an account.
                            </div>

                            <span class="pull-right clickable text-muted" ng-click="vm.showSuggestions.email = false"><i class="lilicon hl-close-icon"></i></span>
                        </span>


                        <div ng-repeat="suggestion in vm.accountSuggestions.email" class="widget-suggestion-items">
                            <div class="widget-suggestion-item">
                                Add
                                <a ui-sref="base.accounts.detail({ id: suggestion.account.id })">{{ suggestion.account.name }}</a></span>
                                to 'Works at'?
                            </div>
                            <div class="widget-suggestion-item-action">
                                <button class="hl-primary-btn" ng-click="vm.addWorksAt(suggestion.account, 'email')">Add to Works at</button>
                            </div>
                        </div>
                    </div>

                    <suggestions suggestions="vm.contactSuggestions.email" display="vm.showSuggestions.email" field="emailAddress" type="contact"></suggestions>

                    <form-group label-title="Phone number">
                        <table class="hl-form-table hl-form-fixed-data m-b-10" ng-if="vm.account.phone_numbers">
                            <tbody>
                                <tr ng-repeat="phoneNumber in vm.account.phone_numbers">
                                    <td class="hl-form-table-column entity-icon-container">
                                        <i class="lilicon hl-company-icon" ng-if="$first" uib-tooltip="{{ $root.messages.contact.accountInfoTooltip }}"></i>
                                    </td>
                                    <td class="hl-form-table-column">
                                        <span>{{ phoneNumber.number }}</span>
                                        <span>({{ phoneNumber.type | ucfirst }})</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <form-phone-numbers phone-numbers="vm.contact.phone_numbers"
                                            add-related-field="vm.addRelatedField(field)"
                                            remove-related-field="vm.removeRelatedField(field, index, remove)"
                                            show-icon="vm.account.phone_numbers.length"
                                            address="vm.account.addresses[0] || vm.contact.addresses[0]"
                                            blur-callback="vm.searchPhoneNumber">
                            <i class="lilicon hl-entity-icon"></i>
                        </form-phone-numbers>
                    </form-group>

                    <div class="widget-suggestion" ng-if="vm.accountSuggestions.phone.length && vm.showSuggestions.phone">
                        <span class="widget-suggestion-title">
                            <div>
                                <i class="lilicon hl-entity-icon"></i>
                                The entered phone number is already linked to an account.
                            </div>

                            <span class="pull-right clickable text-muted" ng-click="vm.showSuggestions.phone = false"><i class="lilicon hl-close-icon"></i></span>
                        </span>

                        <div ng-repeat="suggestion in vm.accountSuggestions.phone" class="widget-suggestion-items">
                            <div class="widget-suggestion-item">
                                Add
                                <a ui-sref="base.accounts.detail({ id: suggestion.account.id })">{{ suggestion.account.name }}</a></span>
                                to 'Works at'?
                            </div>
                            <div class="widget-suggestion-item-action">
                                <button class="hl-primary-btn" ng-click="vm.addWorksAt(suggestion.account, 'phone')">Add to Works at</button>
                            </div>
                        </div>
                    </div>

                    <suggestions suggestions="vm.contactSuggestions.phone" display="vm.showSuggestions.phone" field="phoneNumber" type="contact"></suggestions>

                    <form-group label-title="Address">
                        <table class="hl-form-table hl-form-fixed-data m-b-10" ng-if="vm.account.addresses">
                            <tbody ng-repeat="address in vm.account.addresses">
                                <tr>
                                    <td class="hl-form-table-column entity-icon-container" rowspan="3">
                                        <i class="lilicon hl-company-icon" ng-if="$first" uib-tooltip="{{ $root.messages.contact.accountInfoTooltip }}"></i>
                                    </td>
                                    <td class="hl-form-table-column">
                                        {{ address.address }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="hl-form-table-column">{{ address.postal_code }} {{ address.city }}, {{ address.country_display }}</td>
                                </tr>
                                <tr>
                                    <td class="hl-form-table-column">{{ address.type | ucfirst }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <form-addresses addresses="vm.contact.addresses"
                                        add-related-field="vm.addRelatedField(field)"
                                        remove-related-field="vm.removeRelatedField(field, index, remove)"
                                        show-icon="vm.account.addresses.length">
                             <i class="lilicon hl-entity-icon"></i>
                        </form-addresses>
                    </form-group>
                </form-portlet-body>
            </form-portlet>

            <form-portlet portlet-title="Tags">
                <form-portlet-body>
                    <form-group label-title="Tags" label-id="id_tags" field="contactForm.tags">
                        <tag-input ng-if="vm.contact" object="vm.contact" type="contact"></tag-input>
                    </form-group>
                </form-portlet-body>
            </form-portlet>

            <form-portlet portlet-title="Social media">
                <form-portlet-body>
                    <form-group label-title="Twitter" label-id="twitter" field="contactForm.twitter">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-twitter"></i>
                            </span>
                            <input class="form-control"
                                   id="twitter"
                                   name="twitter"
                                   maxlength="255"
                                   placeholder="Twitter"
                                   type="text"
                                   ng-model="vm.contact.twitter">
                        </div>
                    </form-group>
                    <form-group label-title="LinkedIn" label-id="linkedin" field="contactForm.linkedin">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-linkedin"></i>
                            </span>
                            <input class="form-control"
                                   id="linkedin"
                                   name="linkedin"
                                   maxlength="255"
                                   placeholder="LinkedIn"
                                   type="text"
                                   ng-model="vm.contact.linkedin">
                        </div>
                    </form-group>
                </form-portlet-body>
            </form-portlet>
            <div class="hl-form-footer">
                <div class="row">
                    <div ng-class="{'hidden col-xs-12': settings.email.sidebar.form, 'col-xs-12 col-sm-3 col-md-2 col-lg-2': !settings.email.sidebar.form}"></div>
                    <div ng-class="{'col-xs-12': settings.email.sidebar.form, 'col-xs-12 col-sm-9 col-md-8 col-md-7 col-lg-4': !settings.email.sidebar.form}">
                        <button type="button" class="hl-primary-btn-blue" ng-click="vm.saveContact(contactForm)" uib-tooltip="{{ messages.tooltips.modEnter.title }}">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <button type="button" class="hl-primary-btn" ng-click="vm.cancelContactCreation()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
