<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-angle-down"></i>
                    Columns&nbsp;
                    <i class="fa fa-columns"></i>
                </button>
                <div class="dropdown-menu hold-on-click dropdown-checkboxes">
                    <checkbox model="table.visibility.name">Name</checkbox>
                    <checkbox model="table.visibility.contactInformation">Contact information</checkbox>
                    <checkbox model="table.visibility.worksAt">Works at</checkbox>
                    <checkbox model="table.visibility.created">Created</checkbox>
                    <checkbox model="table.visibility.modified">Modified</checkbox>
                    <checkbox model="table.visibility.tags">Tags</checkbox>
                </div>
            </div>
            <a ng-click="exportToCsv()" class="btn btn-default">Export contacts</a>
        </div>
        <div class="tools col-xs-12 col-md-6">
            <form class="form-inline pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="table.filter" placeholder="Search..">
                    <span class="input-group-btn">
                        <button type="button" class="btn red-pink" ng-click="setFilter('')" ng-disabled="!table.filter">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped flip-content">
            <thead class="flip-content">
                <tr>
                    <th class="list-actions" width="75px">
                        <span class="text-nowrap">
                            Options
                        </span>
                    </th>
                    <th ng-show="table.visibility.name" sort-column="last_name" table="table" class="width-22">
                        <span class="text-nowrap">
                            Name
                            </span>
                    </th>
                    <th ng-show="table.visibility.contactInformation" class="width-22">
                        <span class="text-nowrap">
                            Contact information
                        </span>
                    </th>
                    <th ng-show="table.visibility.worksAt" sort-column="accounts.name" table="table" class="width-22">
                        <span class="text-nowrap">
                            Works at
                        </span>
                    </th>
                    <th ng-show="table.visibility.created" sort-column="created" table="table" class="width-10">
                        <span class="text-nowrap">
                            Created
                        </span>
                    </th>
                    <th ng-show="table.visibility.modified" sort-column="modified" table="table" class="width-10">
                        <span class="text-nowrap">
                            Modified
                        </span>
                    </th>
                    <th ng-show="table.visibility.tags">
                        <span class="text-nowrap">
                            Tags
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in table.items">
                    <td>
                        <a ui-sref="base.contacts.detail.edit({ id: contact.id })" class="btn btn-xs default" title="Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                        <button type="button" class="btn btn-xs default" title="Delete" ng-click="deleteContact(contact)" >
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <td ng-show="table.visibility.name">
                        <a class="list-link" ui-sref="base.contacts.detail({ id: contact.id })" title="{{ ::contact.name }}">
                            <i class="fa fa-user"></i>
                            <span class="list-link-name">{{ ::contact.name }}</span>
                        </a>
                    </td>
                    <td ng-show="table.visibility.contactInformation">
                        <div ng-repeat="email in contact.email_addresses | filter: {status: '!'+ 0}">
                            <a ui-sref="base.email.composeEmail({ email: email.email_address })" title="{{ ::email.email_address }}">
                                <i class="fa fa-envelope-alt"></i>
                                {{ email.email_address }}
                            </a>
                        </div>
                        <div ng-repeat="phone in contact.phone_work track by $index">
                            <a href="tel:{{ ::phone }}">
                                <i class="fa fa-phone"></i>
                                {{ phone }}
                            </a>
                        </div>
                        <div ng-repeat="phone in contact.phone_mobile track by $index">
                            <a href="tel:{{ ::phone }}">
                                <i class="fa fa-mobile-phone"></i>
                                {{ phone }}
                            </a>
                        </div>
                    </td>
                    <td ng-show="table.visibility.worksAt">
                        <div ng-repeat="account in contact.accounts">
                            <a ui-sref="base.accounts.detail({id: account.id})">{{ account.name }}</a>
                        </div>
                    </td>
                    <td ng-show="table.visibility.created" title="{{ contact.created | date:'dd MMMM y HH:mm' }}">
                        {{ ::contact.created | relativeDate }}
                    </td>
                    <td ng-show="table.visibility.modified" title="{{ contact.modified | date:'dd MMMM y HH:mm' }}">
                        {{ ::contact.modified | relativeDate }}
                    </td>
                    <td ng-show="table.visibility.tags">
                        <span ng-repeat="tag in contact.tag">
                            <a href="javascript:void(0)" ng-click="setFilter(tag)">{{ ::tag }}</a>
                            <br>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hl-pagination values="table"></hl-pagination>
</div>
