<div class="row">
    <div class="no-padding" ng-class="{'col-md-9': emailSettings.sidebar.isVisible, 'col-md-12': !emailSettings.sidebar.isVisible}">
        <div class="col-md-2" ui-view="labelList"></div>
        <div class="col-md-10" ui-view></div>
    </div>

    <div class="col-md-3" ng-show="emailSettings.sidebar.isVisible">
        <div ng-if="emailSettings.sidebar.form">

                <div class="row inbox">
                    <div class="col-md-12">
                        <!-- Setting ui-view to emailSettings.sidebar.form doesn't update the view if a different form is clicked. So doing ng-if instead -->
                        <div class="create-sidebar" ng-if="emailSettings.sidebar.form == 'createAccount'" ui-view="createAccount"></div>
                        <div class="create-sidebar" ng-if="emailSettings.sidebar.form == 'createContact'" ui-view="createContact"></div>
                        <div class="create-sidebar" ng-if="emailSettings.sidebar.form == 'createCase'" ui-view="createCase"></div>
                    </div>
                </div>
        </div>

        <div ng-if="emailSettings.sidebar.account && emailSettings.accountId">
            <div ui-view="showAccount">
                <account-detail-widget account="account" height="300"></account-detail-widget>
                <list-widget ng-if="!emailSettings.contactId" title="{{ account.name }}" module="contacts" list="contactList" height="300" object="account"></list-widget>
            </div>
        </div>

        <div ng-if="emailSettings.sidebar.contact && emailSettings.contactId">
            <div ui-view="showContact">
                <contact-detail-widget contact="contact" height="300"></contact-detail-widget>
                <div ng-repeat="account in contact.accounts" ng-show="contact.accounts.length">
                    <list-widget title="{{ account.name }}" module="contacts" object="account" list="account.colleagueList" height="height"></list-widget>
                </div>
            </div>
        </div>

        <div ng-if="emailSettings.sidebar.case && emailSettings.sidebar.form != 'createCase' && emailSettings.caseList">
            <div ui-view="showCases">
                <list-widget title="Cases" list="emailSettings.caseList" height="300" add-link="base.email.createCase" collapsable-items="true"></list-widget>
            </div>
        </div>
    </div>
</div>
