<div ng-if="vm.message.id" class="widget-heading">
    <div class="widget-title">
        <div class="widget-name">{{ vm.message.subject}}</div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="widget-sub-heading">
    <ul class="hl-button-group">
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" ui-sref="base.email.reply({ id: vm.message.id })">
                <i class="fa fa-mail-reply"></i> Reply
            </a>
        </li>
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" data-toggle="dropdown">
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="hl-dropdown">
                <li class="hl-dropdown-item">
                    <a class="hl-dropdown-item-link" ui-sref="base.email.replyAll({ id: vm.message.id })">
                        <i class="fa fa-reply-all reply-btn"></i> Reply all
                    </a>
                </li>

                <li class="hl-dropdown-item">
                    <a class="hl-dropdown-item-link" ui-sref="base.email.forward({ id: vm.message.id })">
                        <i class="fa fa-mail-forward reply-btn"></i> Forward
                    </a>
                </li>
                <li class="hl-dropdown-item">
                    <a class="hl-dropdown-item-link" ng-click="vm.markAsUnread()">
                        <i class="fa fa-envelope reply-btn"></i> Mark as unread
                    </a>
                </li>
                <li class="hl-dropdown-item">
                    <a class="hl-dropdown-item-link" ng-click="vm.toggleSpam()">
                        <i class="fa fa-envelope reply-btn"></i>
                        <span ng-if="!vm.message.is_spam">Mark as spam</span>
                        <span ng-if="vm.message.is_spam">Unmark as spam</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="hl-button-group">
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" ng-click="vm.archiveMessage()">
                <i class="fa fa-archive"></i> Archive
            </a>
        </li>
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" ng-click="vm.trashMessage()"><i class="lilicon hl-trashcan-icon"></i> Delete </a>
        </li>
    </ul>

    <ul class="hl-button-group" ng-if="vm.showMoveToButton() && vm.currentInbox !== 'SENT'">
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" href="javascript:void(0)" data-toggle="dropdown">
                <i class="fa fa-folder"></i> Move to <i class="m-l-5 small-icon lilicon hl-toggle-down-icon"></i>
            </a>

            <ul class="hl-dropdown">
                <li class="hl-dropdown-item" ng-if="vm.currentInbox !== 'INBOX'">
                    <a class="hl-dropdown-item-link" ng-click="vm.moveMessage('INBOX')">Inbox</a>
                </li>
                <li class="hl-dropdown-item" ng-repeat="accountLabel in vm.emailAccount.labels | orderBy:'name'" ng-if="accountLabel.label_type != 0 && accountLabel.label_id !== vm.currentInbox">
                    <a class="hl-dropdown-item-link" ng-click="vm.moveMessage(accountLabel.label_id)">{{ accountLabel.name }}</a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="hl-button-group pull-right" ng-if="settings.email.sidebar">
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" ng-click="vm.toggleSidebar('account')">
                <i ng-class="{'fa fa-eye': settings.email.data.account.id, 'fa fa-plus': !settings.email.data.account.id}"></i> Account
            </a>
        </li>
        <li class="hl-button-group-btn">
            <a class="hl-button-group-btn-link" ng-click="vm.toggleSidebar('contact')">
                <i ng-class="{'fa fa-eye': settings.email.data.contact.id, 'fa fa-plus': !settings.email.data.contact.id}"></i> Contact
            </a>
        </li>
        <li class="hl-button-group-btn" ng-if="settings.email.data.account.id || settings.email.data.contact.id">
            <a class="hl-button-group-btn-link" ng-click="vm.toggleSidebar('cases')">
                <i class="fa fa-plus"></i> Case
            </a>
        </li>
        <li class="hl-button-group-btn" ng-if="settings.email.data.cases">
            <a class="hl-button-group-btn-link" ng-click="vm.toggleSidebar('cases', true)">
                <i class="fa fa-eye"></i> Cases
            </a>
        </li>
        <li class="hl-button-group-btn" ng-if="settings.email.data.account.id || settings.email.data.contact.accounts">
            <a class="hl-button-group-btn-link" ng-click="vm.toggleSidebar('deals')">
                <i class="fa fa-plus"></i> Deal
            </a>
        </li>
        <li class="hl-button-group-btn" ng-if="settings.email.data.deals">
            <a class="hl-button-group-btn-link" ng-click="vm.toggleSidebar('deals', true)">
                <i class="fa fa-eye"></i> Deals
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="email-content-container" ng-repeat="message in vm.thread" ng-class="{'message-collapsed': message.collapsed}">
    <div class="inbox-view-info">
        <div ng-if="!message.id" ng-include="'utils/controllers/does_not_exist.html'" class="row"></div>

        <div ng-if="message.id" class="row">
            <div class="email-info-top">
                <div class="display-inline-block" ng-click="vm.toggleCollapse(message)" ng-class="{'clickable': !$last}">
                    <span class="bold">{{ message.sender.name }}</span>&nbsp;<span>&lt;{{ message.sender.email_address }}&gt;</span>
                </div>

                <div class="pull-right">
                    <i class="clickable" ng-class="{'fa fa-star': message.is_starred, 'fa fa-star-o': !message.is_starred}" ng-click="vm.toggleStarred()"></i>
                    <span class="bold"><date date="message.sent_date" add-time="true"></date></span>
                </div>
            </div>

            <div ng-if="!message.collapsed" class="m-t-5">
                <div class="email-recipients" ng-show="message.received_by.length">
                    <span>to </span>
                    <span ng-repeat="receiver in message.all_recipients">
                        <span ng-if="receiver.name" uib-tooltip="{{ receiver.email_address }}">
                            <span ng-if="receiver.contact_id"><a ui-sref="base.contacts.detail({ id: receiver.contact_id })">{{ receiver.name }}</a></span>
                            <span ng-if="!receiver.contact_id">{{ receiver.name }}</span><span ng-if="!$last">, </span>
                        </span>
                        <span ng-if="!receiver.name">
                            <span>{{ receiver.email_address }}</span><span ng-if="!$last">, </span>
                        </span>
                    </span>
                </div>
                <button class="btn show-more-recipients" ng-show="message.received_by.length > 2" ng-click="vm.toggleOverlay()">
                    <i class="fa" ng-class="{true: 'fa-caret-square-o-up', false: 'fa-caret-square-o-down'}[vm.displayAllRecipients]"></i>
                </button>

                <div class="pull-right">
                    <a class="pull-right" ng-show="!vm.onlyPlainText && message.bodyHTMLUrl && message.body_text" ng-click="vm.toggleEmailVariant()">Plain text email</a>
                    <a class="pull-right" ng-show="vm.onlyPlainText && message.bodyHTMLUrl" ng-click="vm.toggleEmailVariant()">HTML email</a>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!message.collapsed">
        <div ng-if="message.id" class="inbox-view clearfix" ng-hide="vm.onlyPlainText" id="ifrm_container">
            <iframe resize-iframe height="500px" ng-src="{{ message.bodyHTMLUrl | trustAsResourceUrl }}" class="email-content" frameBorder="0"></iframe>
        </div>

        <div ng-if="message.id" class="inbox-view detail-plain-text" ng-show="vm.onlyPlainText">
            {{ message.body_text }}
        </div>

        <div ng-if="message.id" class="inbox-attached m-b-25" ng-show="message.attachments.length">
            <div ng-repeat="attachment in normal_attachments = (message.attachments | filter: {inline: false})">
                <div>
                    <strong>{{ attachment.name }}</strong>
                    <span>
                    {{ attachment.size / 1024 | number: 0}} KB </span>
                    <a ng-href="{{ attachment.url }}" target="_blank" rel="noopener noreferrer">
                        Download
                    </a>
                </div>
            </div>

            <div ng-init="inlineAttachmentsVisible = false" ng-show="normal_attachments.length < message.attachments.length">
                There are {{ message.attachments.length - normal_attachments.length }} inline attachments.
                <a ng-click="inlineAttachmentsVisible = !inlineAttachmentsVisible" ng-hide="inlineAttachmentsVisible">
                    Show
                </a>
                <a ng-click="inlineAttachmentsVisible = !inlineAttachmentsVisible" ng-show="inlineAttachmentsVisible">
                    Hide
                </a>
                <div ng-show="inlineAttachmentsVisible">
                    <div ng-repeat="attachment in message.attachments | filter: {inline: true}">
                        <div>
                            <strong>{{ attachment.name }}</strong>
                        <span>
                        {{ attachment.size / 1024 | number: 0}} KB </span>
                            <a ng-href="{{ attachment.url }}" target="_blank" rel="noopener noreferrer">
                                Download
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
