<div class="widget-heading">
    <div class="widget-title">
        <div class="widget-name" ng-show="vm.table.searchQuery">Search: {{ vm.table.searchQuery }}</div>
        <div class="widget-name" ng-hide="vm.table.searchQuery">
            <span ng-show="vm.account">{{ vm.account.email_address }}</span>
            <span ng-hide="vm.account">All mailboxes</span>
            <span ng-show="vm.label.name"> - {{ vm.label.name }}</span>
            <span ng-hide="vm.label"> - All mail</span>
        </div>
    </div>

    <div class="widget-tools">
        <form class="widget-search">
            <div class="hl-search-field-container">
                <input type="text" class="hl-search-field" ng-model="vm.table.searchQuery" ng-model-options="{debounce: 300}" placeholder="Search">
                <button type="button" class="hl-search-btn" ng-click="vm.setSearchQuery('')" ng-disabled="!vm.table.searchQuery"></button>
            </div>
        </form>
    </div>

    <div class="clearfix"></div>
</div>

<div class="inbox-content">
    <div ng-if="vm.showEmptyState" class="empty-state-container is-inbox">
        <div class="empty-state-overlay"></div>
        <div class="empty-state-description">
            <h3>This is where the magic happens.</h3>

            <p>From today on, you won’t need another email client.</p>
            <p>Lily handles your email seamlessly and links them <br />
                automagically with your Contacts, Deals and Cases. </p>
            <p>You will have all communication just a click away.</p>

            <p>To see Lily’s magic, add your <a class="hl-primary-btn" ui-sref="base.preferences.emailaccounts" role="button" onclick="ga('send', 'event', 'Email Account', 'Add', 'Email list empty state');"><i class="fa fa-plus"></i> Email account</a></p>
        </div>
    </div>
    <div ng-if="vm.syncMessage" class="empty-state-container is-inbox">
        <div class="empty-state-overlay"></div>
        <div class="empty-state-description">
            <h3>Email magic is almost there!</h3>
            <p>Lily is currently importing your email from the Gmail
                account you just added.</p>
            <p>Click
                <a class="hl-primary-btn" role="button" ng-click="vm.reloadMessages()">
                    <i class="fa fa-refresh"></i> <span class="email-inbox-action-desc">Refresh</span>
                </a>
                in a few minutes and your email should start coming in. Rock on!</p>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="9">
                    <div class="pull-left m-r-10 lineheight-30">
                        <checkbox model="vm.opts.checkboxesAll" ng-click="vm.toggleCheckboxes()"></checkbox>
                    </div>

                    <ul class="hl-button-group">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.archiveMessages()" ng-show="vm.label">
                                <i class="fa fa-archive"></i> <span class="email-inbox-action-desc">Archive</span>
                            </a>
                        </li>
                        <li class="hl-button-group-btn" ng-if="vm.label.id != 'TRASH'">
                            <a class="hl-button-group-btn-link" ng-click="vm.trashMessages()">
                                <i class="lilicon hl-trashcan-icon"></i> <span class="email-inbox-action-desc">Delete</span>
                            </a>
                        </li>
                        <li class="hl-button-group-btn" ng-if="vm.label.id == 'TRASH'">
                            <a class="hl-button-group-btn-link" ng-click="vm.deleteMessages()">
                                <i class="lilicon hl-trashcan-icon"></i> <span class="email-inbox-action-desc">Delete</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="hl-button-group" ng-if="vm.account && (vm.emailMessages | where:{checked: true}).length && vm.label.label_id !== 'SENT' && vm.showMoveToButton()">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" href="javascript:void(0)" data-toggle="dropdown">
                                <i class="fa fa-folder"></i> Move to <i class="m-l-5 small-icon lilicon hl-toggle-down-icon"></i>
                            </a>

                            <ul class="hl-dropdown">
                                <li class="hl-dropdown-item" ng-if="vm.label.label_id !== 'INBOX'">
                                    <a class="hl-dropdown-item-link" href="javascript:void(0)" ng-click="vm.moveMessages('INBOX')">Inbox</a>
                                </li>
                                <li class="hl-dropdown-item" ng-repeat="accountLabel in vm.account.labels | orderBy:'name'" ng-if="accountLabel.label_type != 0 && accountLabel.label_id != vm.label.label_id">
                                    <a class="hl-dropdown-item-link" href="javascript:void(0)" ng-click="vm.moveMessages(accountLabel.label_id)">{{ accountLabel.name }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="hl-button-group">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.markAsRead()">
                                <i class="fa fa-eye"></i> <span class="email-inbox-action-desc">Mark as read</span>
                            </a>
                        </li>
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.markAsUnread()">
                                <i class="fa fa-eye-slash"></i> <span class="email-inbox-action-desc">Mark as unread</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="hl-button-group">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.reloadMessages()">
                                <i class="fa fa-refresh"></i> <span class="email-inbox-action-desc">Refresh</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="hl-button-group" ng-show="vm.showReplyOrForwardButtons()">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.replyOnMessage()">
                                <i class="fa fa-mail-reply"></i> <span class="email-inbox-action-desc">Reply</span></a>
                        </li>
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.replyAllOnMessage()">
                                <i class="fa fa-mail-reply-all"></i> <span class="email-inbox-action-desc">Reply all</span></a>
                        </li>
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.forwardOnMessage()">
                                <i class="fa fa-mail-forward"></i> <span class="email-inbox-action-desc">Forward</span></a>
                        </li>
                    </ul>

                    <div class="pull-right">
                        <ul class="email-pagination">
                            <li class="email-pagination-info">
                                {{ vm.table.page * vm.table.pageSize + 1}}-{{ [(vm.table.page + 1) * vm.table.pageSize, vm.table.totalItems] | minValue }} of {{ vm.table.totalItems | number }}
                            </li>
                        </ul>

                        <ul class="hl-button-group pull-right">
                            <li class="hl-button-group-btn" ng-class="{'disabled': !vm.table.page}">
                                <a class="hl-button-group-btn-link" ng-click="vm.setPage(vm.table.page - 1)">
                                    <i class="fa fa-caret-left"></i>
                                </a>
                            </li>
                            <li class="hl-button-group-btn" ng-class="{'disabled': vm.table.page + 1 > vm.table.totalItems / vm.table.pageSize}">
                                <a class="hl-button-group-btn-link" ng-click="vm.setPage(vm.table.page + 1)">
                                    <i class="fa fa-caret-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </th>
                <div class="clearfix"></div>
            </tr>
            <div class="clearfix"></div>
        </thead>
        <tbody ng-class="vm.showEmptyState || vm.syncMessage ? 'empty-state-space' : ''">
            <tr ng-repeat="message in vm.emailMessages" style="cursor: pointer;" ng-class="{'unread': !message.read}">
                <td class="inbox-small-cells">
                    <checkbox model="message.checked" ng-click="vm.handleSelect($index, $event)"></checkbox>
                </td>
                <td class="inbox-small-cells">
                    <i ng-class="{'fa fa-star': message.is_starred, 'fa fa-star-o': !message.is_starred}" ng-click="vm.toggleStarred(message)"></i>
                </td>
                <td ng-if="!vm.account">
                    <div class="account-label" uib-tooltip="{{ message.account.email }}" ng-style="{'border-left-color': vm.colorCodes[message.account.id]}">
                        {{ message.account.name || message.account.email }}
                    </div>
                </td>
                <td contact-icon message="message"></td>
                <td class="view-message hidden-xs" ng-show="vm.label.name != 'Sent' && vm.label.name != 'Draft'" ui-sref="base.email.detail({id: message.id})">
                    <span ng-show="message.sender_name" title="{{ message.sender_email }}">{{ message.sender_name }}</span>
                    <span ng-hide="message.sender_name">{{ message.sender_email }}</span>
                </td>
                <td class="view-message hidden-xs" ng-show="vm.label.name == 'Sent'" ui-sref="base.email.detail({id: message.id})">
                    <span ng-show="message.received_by_name">{{ message.received_by_name.join(', ') }}</span>
                    <span ng-hide="message.received_by_name">{{ message.received_by_email.join(', ') }}</span>
                </td>
                <td class="view-message hidden-xs" ng-show="vm.label.name == 'Draft'" ui-sref="base.email.draft({id: message.id})">
                    {{ message.received_by_email.join(',') }}
                </td>
                <td class="inbox-small-cells">
                    <thread-info message_id="message.id"></thread-info>
                </td>
                <td class="view-message inbox-small-cells" ui-sref="base.email.detail({id: message.id})">
                    <i class="lilicon hl-paperclip-icon" uib-tooltip="There is a file attached" tooltip-placement="left" ng-if="message.has_attachment"></i>
                </td>
                <td class="view-message" ng-if="vm.label.name == 'Draft'" ui-sref="base.email.draft({id: message.id})">
                    <a class="link-no-decoration">{{ message.subject }}</a>
                </td>
                <td class="view-message" ng-if="vm.label.name != 'Draft'" ui-sref="base.email.detail({id: message.id})">
                    <a class="link-no-decoration">{{ message.subject }}</a>
                </td>
                <td title="{{ message.sent_date | date:'dd MMMM y H:mm' }}" class="view-message text-right text-nowrap" ui-sref="base.email.detail({id: message.id})">
                    <date date="message.sent_date" show-time="true"></date>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="9">
                    <div class="pull-right">
                        <ul class="email-pagination">
                            <li class="email-pagination-page-info">
                                {{ vm.table.page * vm.table.pageSize + 1}}-{{ [(vm.table.page + 1) * vm.table.pageSize, vm.table.totalItems] | minValue }} of {{ vm.table.totalItems | number }}
                            </li>
                        </ul>
                        <ul class="hl-button-group">
                            <li class="hl-button-group-btn" ng-class="{'disabled': !vm.table.page}">
                                <a class="hl-button-group-btn-link" ng-click="vm.setPage(vm.table.page - 1)">
                                    <i class="fa fa-caret-left"></i>
                                </a>
                            </li>
                            <li class="hl-button-group-btn" ng-class="{'disabled': vm.table.page + 1 > vm.table.totalItems / vm.table.pageSize}">
                                <a class="hl-button-group-btn-link" ng-click="vm.setPage(vm.table.page + 1)">
                                    <i class="fa fa-caret-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
