<div class="widget-heading">
    <div class="widget-title">
        <div class="widget-name" ng-show="vm.table.filter">Search: {{ vm.table.filter }}</div>
        <div class="widget-name" ng-hide="vm.table.filter">
            <span ng-show="vm.account">{{ vm.account.email_address }}</span>
            <span ng-hide="vm.account">All mailboxes</span>
            <span ng-show="vm.label.name"> - {{ vm.label.name }}</span>
            <span ng-hide="vm.label"> - All mail</span>
        </div>
    </div>

    <div class="widget-tools">
        <form class="widget-search pull-right">
            <div class="hl-search-field-container">
                <input type="text" class="hl-search-field" placeholder="Search" ng-model="vm.table.filter">
                <button type="button" ng-click="vm.table.filter = ''" class="hl-search-btn"></button>
            </div>
        </form>
    </div>

    <div class="clearfix"></div>
</div>

<div class="inbox-content">
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="8">
                    <div class="pull-left margin-right-10 lineheight-30">
                        <checkbox model="vm.opts.checkboxesAll" ng-click="vm.toggleCheckboxes()"></checkbox>
                    </div>

                    <ul class="hl-button-group">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.archiveMessages()" ng-show="vm.label">
                                <i class="fa fa-archive"></i> <span class="email-inbox-action-desc">Archive</span>
                            </a>
                        </li>
                        <li class="hl-button-group-btn" ng-if="vm.label.id != 'TRASH'">
                            <a class="hl-button-group-btn-link" ng-click="vm.trashMessages()">
                                <i class="lilicon hl-trashcan-icon"></i> <span class="email-inbox-action-desc">Delete</span>
                            </a>
                        </li>
                        <li class="hl-button-group-btn" ng-if="vm.label.id == 'TRASH'">
                            <a class="hl-button-group-btn-link" ng-click="vm.deleteMessages()">
                                <i class="lilicon hl-trashcan-icon"></i> <span class="email-inbox-action-desc">Delete</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="hl-button-group" ng-if="::vm.account">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" href="javascript:void(0)" data-toggle="dropdown">
                                <i class="fa fa-folder"></i> Move to <i class="margin-left-5 small-icon lilicon hl-toggle-down-icon"></i>
                            </a>

                            <ul class="hl-dropdown">
                                <li class="hl-dropdown-item" ng-if="!vm.label.label_id == 'INBOX'">
                                    <a class="hl-dropdown-item-link" href="javascript:void(0)" ng-click="vm.moveMessages('INBOX')">Inbox</a>
                                </li>
                                <li class="hl-dropdown-item" ng-repeat="accountLabel in vm.account.labels" ng-if="accountLabel.label_type != 0 && accountLabel.label_id != vm.label.label_id">
                                    <a class="hl-dropdown-item-link" href="javascript:void(0)" ng-click="vm.moveMessages(accountLabel.label_id)">{{ accountLabel.name }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="hl-button-group">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.markAsRead()">
                                <i class="fa fa-eye"></i> <span class="email-inbox-action-desc">Mark as read</span>
                            </a>
                        </li>
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.markAsUnread()">
                                <i class="fa fa-eye-slash"></i> <span class="email-inbox-action-desc">Mark as unread</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="hl-button-group">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.reloadMessages()">
                                <i class="fa fa-refresh"></i> <span class="email-inbox-action-desc">Refresh</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="hl-button-group" ng-show="vm.showReplyOrForwardButtons()">
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.replyOnMessage()">
                                <i class="fa fa-mail-reply"></i> <span class="email-inbox-action-desc">Reply</span></a>
                        </li>
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.replyAllOnMessage()">
                                <i class="fa fa-mail-reply-all"></i> <span class="email-inbox-action-desc">Reply all</span></a>
                        </li>
                        <li class="hl-button-group-btn">
                            <a class="hl-button-group-btn-link" ng-click="vm.forwardOnMessage()">
                                <i class="fa fa-mail-forward"></i> <span class="email-inbox-action-desc">Forward</span></a>
                        </li>
                    </ul>

                    <div class="pull-right">
                        <ul class="email-pagination">
                            <li class="email-pagination-info">
                                {{ vm.table.page * vm.table.pageSize + 1}}-{{ [(vm.table.page + 1) * vm.table.pageSize, vm.table.totalItems] | minValue }} of {{ vm.table.totalItems | number }}
                            </li>
                        </ul>

                        <ul class="hl-button-group pull-right">
                            <li class="hl-button-group-btn">
                                <a class="hl-button-group-btn-link" ng-click="vm.setPage(vm.table.page - 1)">
                                    <i class="fa fa-caret-left"></i>
                                </a>
                            </li>
                            <li class="hl-button-group-btn">
                                <a class="hl-button-group-btn-link" ng-click="vm.setPage(vm.table.page + 1)">
                                    <i class="fa fa-caret-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </th>
                <div class="clearfix"></div>
            </tr>
            <div class="clearfix"></div>
        </thead>
        <tbody>
            <tr ng-repeat="message in vm.emailMessages" style="cursor: pointer;" ng-class="{'unread': !message.read}">
                <td class="inbox-small-cells">
                    <checkbox model="message.checked"></checkbox>
                </td>
                <td class="inbox-small-cells">
                    <i ng-class="{'fa fa-star': message.is_starred, 'fa fa-star-o': !message.is_starred}" ng-click="vm.toggleStarred(message)"></i>
                </td>
                <td contact-icon message="message"></td>
                <td class="view-message hidden-xs" ng-show="vm.label.name != 'Sent' && vm.label.name != 'Draft'" ui-sref="base.email.detail({id: message.id})">
                    <span ng-show="message.sender_name" title="{{ message.sender_email }}">{{ message.sender_name }}</span>
                    <span ng-hide="message.sender_name">{{ message.sender_email }}</span>
                </td>
                <td class="view-message hidden-xs" ng-show="vm.label.name == 'Sent'" ui-sref="base.email.detail({id: message.id})">
                    <span ng-show="message.received_by_name">{{ message.received_by_name.join(', ') }}</span>
                    <span ng-hide="message.received_by_name">{{ message.received_by_email.join(', ') }}</span>
                </td>
                <td class="view-message hidden-xs" ng-show="vm.label.name == 'Draft'" ui-sref="base.email.draft({id: message.id})">
                    {{ message.received_by_email.join(',') }}
                </td>
                <td class="inbox-small-cells">
                    <thread-info message_id="message.id"></thread-info>
                </td>
                <td class="view-message inbox-small-cells" ui-sref="base.email.detail({id: message.id})">
                    <i class="lilicon hl-paperclip-icon" uib-tooltip="There is a file attached" tooltip-placement="left" ng-if="message.has_attachment"></i>
                </td>
                <td class="view-message" ng-if="vm.label.name == 'Draft'">
                    <a class="link-no-decoration" ui-sref="base.email.draft({id: message.id})">{{ message.subject }}</a>
                </td>
                <td class="view-message" ng-if="vm.label.name != 'Draft'">
                    <a class="link-no-decoration" ui-sref="base.email.detail({id: message.id})">{{ message.subject }}</a>
                </td>
                <td title="{{ message.sent_date | date:'dd MMMM y H:mm' }}" class="view-message text-right text-nowrap" ui-sref="base.email.detail({id: message.id})">
                    <date date="message.sent_date" show-time="true"></date>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="8">
                    <div class="pull-right">
                        <ul class="email-pagination">
                            <li class="email-pagination-page-info">
                                {{ vm.table.page * vm.table.pageSize + 1}}-{{ [(vm.table.page + 1) * vm.table.pageSize, vm.table.totalItems] | minValue }} of {{ vm.table.totalItems | number }}
                            </li>
                        </ul>
                        <ul class="hl-button-group">
                            <li class="hl-button-group-btn">
                                <a class="hl-button-group-btn-link" ng-click="vm.setPage(vm.table.page - 1)">
                                    <i class="fa fa-caret-left"></i>
                                </a>
                            </li>
                            <li class="hl-button-group-btn">
                                <a class="hl-button-group-btn-link" ng-click="vm.setPage(vm.table.page + 1)">
                                    <i class="fa fa-caret-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
