<ul class="email-compose-button-container">
    <li ui-sref-active="active">
        <a ui-sref="base.email.compose" data-title="Compose" class="email-compose-button">
            <i class="font-size-16 no-bold lilicon hl-mail-icon"></i> Compose
        </a>
    </li>
</ul>

<ul class="email-nav">
    <collapsable name="all-accounts">
        <li class="email-nav-header">
            <div class="email-nav-header-title" ng-click="vm.clickAccountHeader()">
                All mailboxes
            </div>
            <collapsable-button></collapsable-button>
            <div class="clearfix"></div>
        </li>
        <li class="email-nav-syncing" tooltip-placement="bottom" uib-tooltip="Fetching your email. This could take a moment" ng-if="!vm.fullAllSyncFinished">
            Importing your email
        </li>
        <collapsable-content>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.list({labelId:'INBOX'})" ui-sref-opts="{reload:true}">
                    Inbox <span class="label-count" ng-if="vm.labelCount['INBOX']">{{ vm.labelCount['INBOX'] }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.list({labelId:'SENT'})" ui-sref-opts="{reload:true}">
                    Sent <span class="label-count" ng-if="vm.labelCount['SENT']">{{ vm.labelCount['SENT'] }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.list({labelId:'DRAFT'})" ui-sref-opts="{reload:true}">
                    Draft <span class="label-count" ng-if="vm.labelCount['DRAFT']">{{ vm.labelCount['DRAFT'] }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.list({labelId:'TRASH'})" ui-sref-opts="{reload:true}">
                    Trash <span class="label-count" ng-if="vm.labelCount['TRASH']">{{ vm.labelCount['TRASH'] }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.list({labelId:''})" ui-sref-opts="{reload:true}">All mail</a>
            </li>
        </collapsable-content>
    </collapsable>
</ul>
<collapsable name="account-{{ account.id }}" ng-repeat="account in vm.accountList">
    <ul class="email-nav">
        <li class="email-nav-header">
            <div class="email-nav-header-title" ng-click="vm.clickAccountHeader(account)" ng-class="{'active-account': account.id == $state.params.accountId}">
                <i class="fa fa-star" ng-show="account.id == vm.primaryEmailAccountId" uib-tooltip="Primary account"></i>
                {{ account.label }}
            </div>
            <collapsable-button></collapsable-button>
            <div class="clearfix"></div>
        </li>
        <li class="email-nav-syncing" tooltip-placement="bottom" uib-tooltip="Fetching your email. This could take a moment" ng-if="!account.full_sync_finished">
            Importing your email
        </li>
        <li ng-if="!account.is_authorized" >
            <a ui-sref="base.preferences.emailaccounts" class="notification-inline">
                <i class="lilicon hl-critical-prio-icon"></i>
                    Unable to load email
            </a>
        </li>
        <collapsable-content>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.accountList({labelId:'INBOX', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Inbox <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'INBOX')">{{ vm.unreadCountForLabel(account, 'INBOX') }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.accountList({labelId:'SENT', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Sent <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'SENT')">{{ vm.unreadCountForLabel(account, 'SENT') }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.accountList({labelId:'DRAFT', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Draft <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'DRAFT')">{{ vm.unreadCountForLabel(account, 'DRAFT') }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.accountList({labelId:'TRASH', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Trash <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'TRASH')">{{ vm.unreadCountForLabel(account, 'TRASH') }}</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.accountList({labelId:'SPAM', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Spam <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'SPAM')">{{ vm.unreadCountForLabel(account, 'SPAM') }}</span>
                </a>
            </li>
            <li ng-repeat="label in account.labels | orderBy:'name'" ng-if="label.label_type != 0" ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.accountList({labelId: label.label_id, accountId: account.id})" ui-sref-opts="{reload:true}">
                    {{ label.name }}<span class="unread-count" ng-show="label.unread">{{ label.unread }}</span></a>
            </li>
            <li ui-sref-active="active">
                <a class="email-nav-item" ui-sref="base.email.accountAllList({accountId: account.id})">All mail</a>
            </li>
        <collapsable-content>
    </ul>
</collapsable>
