<ul class="email-compose-button-container">
    <li ui-sref-active="active">
        <a ui-sref="base.email.compose" data-title="Compose" class="hl-primary-btn-green width-100 align-center">
            <i class="font-size-16 no-bold lilicon hl-mail-icon"></i> Compose
        </a>
        <a ui-sref="base.email.newCompose" data-title="Compose" class="hl-primary-btn-blue width-100 align-center">
            <i class="font-size-16 no-bold lilicon hl-mail-icon"></i> Compose
        </a>
    </li>
</ul>

<ul class="email-nav">
    <collapsable name="all-accounts">
        <li class="email-nav-header">
            <div class="email-nav-header-title no-border" ng-click="vm.clickAccountHeader()" ng-class="{'active-account': !$state.params.accountId}">
                All mailboxes
            </div>
            <collapsable-button></collapsable-button>
            <div class="clearfix"></div>
        </li>
        <li class="email-nav-syncing" tooltip-placement="bottom" uib-tooltip="Fetching your email. This could take a moment" ng-if="vm.syncInProgress">
            Importing your email
        </li>
        <collapsable-content>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.list({labelId:'INBOX'})" ui-sref-opts="{reload:true}">
                    Inbox
                </a>
            </li>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.list({labelId:'SENT'})" ui-sref-opts="{reload:true}">
                    Sent
                </a>
            </li>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.list({labelId:'DRAFT'})" ui-sref-opts="{reload:true}">
                    Draft
                </a>
            </li>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.list({labelId:'TRASH'})" ui-sref-opts="{reload:true}">
                    Trash
                </a>
            </li>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.list({labelId:''})" ui-sref-opts="{reload:true}">All mail</a>
            </li>
        </collapsable-content>
    </collapsable>
</ul>
<collapsable name="account-{{ account.id }}" ng-repeat="account in vm.accountList">
    <ul class="email-nav">
        <li class="email-nav-header">
            <div class="email-nav-header-title" ng-click="vm.clickAccountHeader(account)" ng-class="{'active-account': account.id == $state.params.accountId}" ng-style="{'border-left-color': account.color}">
                <i class="fa fa-star" ng-show="account.id == vm.primaryEmailAccountId" uib-tooltip="Primary account"></i>
                {{ account.label }}
            </div>
            <collapsable-button></collapsable-button>
            <div class="clearfix"></div>
        </li>
        <li class="email-nav-syncing" tooltip-placement="bottom" uib-tooltip="Fetching your email. This could take a moment" ng-if="account.is_syncing">
            Importing your email
        </li>
        <li ng-if="!account.is_authorized" >
            <a ui-sref="base.preferences.emailaccounts" class="notification-inline">
                <i class="lilicon hl-critical-prio-icon"></i>
                    Unable to load email
            </a>
        </li>
        <collapsable-content>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.accountList({labelId:'INBOX', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Inbox <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'INBOX')">{{ vm.unreadCountForLabel(account, 'INBOX') }}</span>
                </a>
            </li>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.accountList({labelId:'SENT', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Sent <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'SENT')">{{ vm.unreadCountForLabel(account, 'SENT') }}</span>
                </a>
            </li>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.accountList({labelId:'DRAFT', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Draft <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'DRAFT')">{{ vm.unreadCountForLabel(account, 'DRAFT') }}</span>
                </a>
            </li>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.accountList({labelId:'TRASH', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Trash <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'TRASH')">{{ vm.unreadCountForLabel(account, 'TRASH') }}</span>
                </a>
            </li>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.accountList({labelId:'SPAM', accountId: account.id})" ui-sref-opts="{reload:true}">
                    Spam <span class="unread-count" ng-if="vm.hasUnreadLabel(account, 'SPAM')">{{ vm.unreadCountForLabel(account, 'SPAM') }}</span>
                </a>
            </li>
            <li ng-repeat="label in account.labels" ng-if="label.label_type != 0 && !label.parent" ui-sref-active="active" ng-include="'tree_item_renderer.html'"></li>
            <li ui-sref-active="active" class="email-nav-item">
                <a ui-sref="base.email.accountAllList({accountId: account.id})">All mail</a>
            </li>
        <collapsable-content>
    </ul>
</collapsable>

<script type="text/ng-template" id="tree_item_renderer.html">
    <div class="email-nav-item p-l-{{ 15 + label.level * 20 }}">
        <a ui-sref="base.email.accountList({labelId: label.label_id, accountId: account.id})" ui-sref-opts="{reload:true}">
            {{ label.name }}
        </a>

        <span ng-if="label.children.length" ng-click="vm.toggleLabel(label)" class="clickable pull-right">
            <i class="lilicon hl-toggle-up-icon" ng-class="{'hl-toggle-up-icon': !label.collapsed, 'hl-toggle-down-icon': label.collapsed}"></i>
        </span>
    </div>

    <ul ng-if="label.children.length && !label.collapsed" class="list-unstyled">
        <li ng-repeat="label in label.children" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>
