<ul class="inbox-nav margin-bottom-10">
    <li class="compose-btn" ui-sref-active="active">
        <a ui-sref="base.email.compose" data-title="Compose" class="btn green">
            <i class="fa fa-edit"></i> Compose
        </a>
        <b></b>
    </li>
    <collapsable name="all-accounts">
        <li class="mailbox-header">
            <span>
                All Mailboxes
                <collapsable-button></collapsable-button>
            </span>
        </li>
        <collapsable-content>
            <li class="inbox" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.list({labelId:'INBOX'})">
                    Inbox <span ng-if="vm.labelCount['INBOX']"> ({{ vm.labelCount['INBOX'] }})</span>
                </a>
                <b></b>
            </li>
            <li class="sent" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.list({labelId:'SENT'})">
                    Sent <span ng-if="vm.labelCount['SENT']"> ({{ vm.labelCount['SENT'] }})</span>
                </a>
                <b></b>
            </li>
            <li class="draft" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.list({labelId:'DRAFT'})">
                    Draft <span ng-if="vm.labelCount['DRAFT']"> ({{ vm.labelCount['DRAFT'] }})</span>
                </a>
                <b></b>
            </li>
            <li class="trash" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.list({labelId:'TRASH'})">
                    Trash <span ng-if="vm.labelCount['TRASH']"> ({{ vm.labelCount['TRASH'] }})</span>
                </a>
                <b></b>
            </li>
            <li class="allmail">
                <a class="btn" ui-sref="base.email.list({labelId:''})">All mail</a>
                <b></b>
            </li>
        </collapsable-content>
    </collapsable>
</ul>
<collapsable name="account-{{ account.id }}" ng-repeat="account in vm.accountList">
    <ul class="inbox-nav margin-bottom-10">
        <li class="mailbox-header">
        <span>
            <i class="fa fa-star" ng-show="account.id == vm.primaryEmailAccountId" tooltip="Primary account"></i>
            {{ account.label }}
            <collapsable-button></collapsable-button>
        </span>
        </li>
        <collapsable-content>
            <li class="inbox" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.accountList({labelId:'INBOX', accountId: account.id})">
                    Inbox <span ng-if="vm.hasUnreadLabel(account, 'INBOX')"> ({{ vm.unreadCountForLabel(account, 'INBOX') }})</span>
                </a>
                <b></b>
            </li>
            <li class="sent" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.accountList({labelId:'SENT', accountId: account.id})">
                    Sent <span ng-if="vm.hasUnreadLabel(account, 'SENT')"> ({{ vm.unreadCountForLabel(account, 'SENT') }})</span>
                </a>
                <b></b>
            </li>
            <li class="draft" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.accountList({labelId:'DRAFT', accountId: account.id})">
                    Draft <span ng-if="vm.hasUnreadLabel(account, 'DRAFT')"> ({{ vm.unreadCountForLabel(account, 'DRAFT') }})</span>
                </a>
                <b></b>
            </li>
            <li class="trash" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.accountList({labelId:'TRASH', accountId: account.id})">
                    Trash <span ng-if="vm.hasUnreadLabel(account, 'TRASH')"> ({{ vm.unreadCountForLabel(account, 'TRASH') }})</span>
                </a>
                <b></b>
            </li>
            <li ng-repeat="label in account.labels | orderBy:'name'" class="inbox" ng-if="label.label_type != 0" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.accountList({labelId: label.label_id, accountId: account.id})">
                    {{ label.name }}<span ng-show="label.unread"> ({{ label.unread }})</span></a>
                <b></b>
            </li>
            <li class="allmail" ui-sref-active="active">
                <a class="btn" ui-sref="base.email.accountAllList({accountId: account.id})">All mail</a>
                <b></b>
            </li>
        <collapsable-content>
    </ul>
</collapsable>
