{% extends 'base_form.html' %}
{% load i18n media crispy_forms_tags %}

{% block form %}
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>{% block form-title %}{% trans 'New e-mail message' %}{% endblock %}</span>
        </div>
        <div class="mws-panel-body">
                <form class="mws-form tabthis" action="{{ form_action_url }}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>

                {% block form-content %}
                    {% if form and form.helper %}
                        {% crispy form %}
                    {% endif %}
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}
