{% load i18n email media %}

<div class="clearfix">
    <div class="float-left">
        <strong>{% trans 'From' %}</strong> {{ object.from_combined }}
    </div>

    <div class="float-right">
        {{ object.sent_date|pretty_datetime:"%d-%b-%y %H:%M" }}
    </div>
</div>

<div>
    <strong>{% trans 'To' %}</strong>
    {{ object.to_combined }}
    {% if object.to_cc_combined %}
        <br />
        <strong>{% trans 'Cc' %}</strong>
        {{ object.to_cc_combined }}
    {% endif %}
</div>

<div id="iframe-wrapper">
    <iframe src="{% url messaging_email_html pk=object.pk %}"></iframe>
</div>

{% if object.has_attachments %}

    {% comment %}
    <hr />

    {% for attachment in object.attachments %}
        <div>
            {{ attachment.attachment.file_name }} <br />
            {{ attachment.size }} <a href="#">Download</a>
        </div>
        <br />
    {% endif %}
    {% endcomment %}

{% endif %}
