{% extends 'base_model_div_list.html' %}

{% load i18n media %}

{% block styles %}
    {{ block.super }}

    <style type="text/css">
        html,
        body {
            height: 100% !important;
        }

        #mws-container,
        .container,
        #emailbox-header,
        #email-wrapper,
        #email,
        #iframe-wrapper,
        iframe {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        #mws-wrapper,
        #mws-container {
            width: 100%;
            border: none;
            height: 100%;
            height: auto;
            min-height: 100%;
            position: relative;
        }

        #iframe-wrapper {
            width: 100%;
            border: none;
            border-top: 1px solid #808080;
            overflow: auto;
            position: relative;
            margin-top: 6px;
        }

        iframe {
            width: 100%;
            border: none;
        }

        #email {
            width: 100%;
            border: none;
            overflow: auto;
            height: auto;
            position: relative;
        }

        #mws-container {
            width: auto;
        }

        .container {
            height: auto;
            position: relative;
            margin-bottom: 0px !important;
            padding-bottom: 0px !important;
            float: none !important;
        }
        .container > div {
            height: auto;
            height: 100%;
            min-height: 100%;
            position: relative;
        }
        .container .mws-panel {
            margin-bottom: 0;
        }
        .container .mws-panel-body {
            height: auto;
            position: relative;
        }

        #mws-footer {
            padding: 8px 0 0 !important;
            margin: 10px auto 0 2% !important;
            width: 93%;
            position: static !important;
        }

        #emailbox-header {
            margin-right: -166px;
            overflow: hidden;
            padding-right: 170px;
            text-overflow: ellipsis;
            width: 100%;
        }
        #emailbox-top-subject {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .email-toolbar {
            right: 12px;
        }
        .email-toolbar a {
            width: 16px;
            display: inline-block;
            height: 24px;
            position: relative;
        }
        .email-toolbar .mws-i-24 {
            height: 100%;
            width: 100%;
            display: block;
            padding-left: 0 !important;
        }
        .email-toolbar .next-page {
            margin-left: 16px;
        }
        .email-toolbar .next-page.jump {
            margin-left: 7px;
        }
        .email-toolbar .jump span {
            display: inline-block;
            width: 5px;
        }
        .email-toolbar .prev-page.jump span {
            background-position: -3px center;
        }
        .email-toolbar .next-page .mws-i-24 {
            background-position: -16px center !important;
        }
        .email-toolbar .refresh {
            width: 24px;
        }
        .email-toolbar .refresh .mws-i-24 {
            background-position: 0px center !important;
        }
        .email-toolbar .templates {
            width: 24px;
        }
        .email-toolbar .templates .mws-i-24 {
            background-position: 0px center !important;
        }

        .mws-email-list {
            padding-left: 3px;
            padding-right: 3px;
            margin-right: -1px;
            width: auto;
        }
        .mws-email-list.small {
            display: none;
        }
        .mws-email-list .action {
            width: 24px;
        }
        .mws-email-list .action.no-width,
        .mws-email-list .action.no-width .priority {
            width: 0px;
        }

        .mws-email-list .mws-inset .action {
            width: 24px !important;
        }
        .mws-inset .action .priority {
            width: 17px !important;
        }

        .action .priority {
            width: 17px;
            height: 17px;
            margin-bottom: 2px;
        }
        .action .priority:hover {
            cursor: pointer;
        }
        .action .high {
            background-color: steelblue;
            background-color: rgba(28,118,188, .9);
        }
        .action .medium {
            background-color: skyblue;
            background-color: rgba(28,118,188, .6);
        }
        .action .low {
            background-color: lightblue;
            background-color: rgba(28,118,188, .3);
        }
        .action .priority:hover {email
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wLCAwWIUKnM+cAAAAIdEVYdENvbW1lbnQA9syWvwAAAChJREFUOMtjYBgFJANFRcX/hNQwUcOiwWMIIzlhcP/+fcbRgB0FpAIAoOYG0sWTENQAAAAASUVORK5CYII=); /* black */
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wLCA0DCthsRoQAAAAoSURBVDjLY2AYBSSD/////yekhokaFg0eQxjJCQNGRkbG0YAdBaQCAAgxDAYkiUYnAAAAAElFTkSuQmCC); /* white */
        }

        .mws-email-list .divider {
            height: 3px;
        }
        .mws-email-list .divider hr {
            margin: 0;
        }

        .single-message {
            padding: 14px 0 10px;
            width: 100%;
            white-space: nowrap;
            border-radius: 4px 4px 4px 4px;
        }
        .single-message {
            background-color: #e7e7e7;
        }
        .single-message.mws-inset,
        .single-message.unread {
            background-color: #ffffff;
        }
        .single-message.unread .sender,
        .single-message.unread .subject {
            font-weight: 700;
        }
        .single-message .controls,
        .single-message .action {
            float: left;
        }
        .sender-time-email {
            white-space: nowrap;
            overflow: hidden;
        }
        .single-message .controls {
            vertical-align: top;
            padding-right: 3px;
        }
        .single-message .email {
            padding: 0 10px 0 3px;
            margin-left: 20px;
            height: 100%;
        }
        .single-message .email:hover {
            cursor: pointer;
        }
        .single-message .email .message-draft-link {
            color: #323232;
            text-decoration: none;
        }
        .single-message .email .sender,
        .single-message .email .subject,
        .single-message .email .body.preview {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            min-height: 17px;
            margin-top: 1px;
            margin-bottom: 1px;
        }
        .single-message .email .sender {
            margin-right: 65px;
        }
        .single-message .email .time {
            color: #777777;
            text-align: right;
            float: right;
            width: 65px;
        }
        .single-message .email .body.preview {
            height: auto;
            color: #777777;
        }

        .email-content {
            padding: 0;
            position: relative;
            overflow: hidden;
            width: auto;
        }
        .email-content .container-busy {
            padding-top: 86px;
            text-align: center;
            background-color: rgba(255, 255, 255, .95);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 3;
        }
        .email-content .mws-panel-toolbar {
            width: 100%;
        }
        .email-content .wrapper {
            margin: 0 auto;
        }

        #email-wrapper {
            padding: 12px 6px 6px;
            min-height: 250px;
        }

        #email {
            overflow: hidden;
        }

        #iframe-wrapper {
            padding-right: 1px;
        }
    </style>
{% endblock %}


{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
        var jqXHR = null;
        var hide_action_timeout = null;

        function back_to_list(abort) {
            // clear email data
            $('#email').data('id', -1);
            $('#email').html('');
            // show email messages list
            $('.mws-email-list').removeClass('small').css('width', '');
            // hide email message content
            $('.email-content').hide();
            // hide subject
            $('#emailbox-top-subject').hide();
            // show accounts and paginator
            $('#emailbox-top-info').show();
            // cancel running background requests
            if(abort && jqXHR) {
                jqXHR.abort();
            }
        }

        function mark_unread(ids) {
            // mark message as unread
            $.each(ids, function(index, id) {
                $('.single-message[data-id="' + id + '"]').addClass('unread');
            });

            // call server to sync
            // try this
            jqXHR = $.ajax({
                url: '{% url messaging_mark_unread %}',
                data: $.param({'ids': ids}),
                type: 'POST',
                beforeSend: addCSRFHeader,
                dataType: 'json',
            })
            // on success
            jqXHR.done(function(data, status, xhr) {
                $.jGrowl(gettext('Message marked as unread.'), {
                    sticky: true,
                    theme: 'info mws-ic-16 ic-accept'
                });
            });
            // on error
            jqXHR.fail(function() {
                $.jGrowl(gettext('Unable to mark this message as unread.'), {
                    sticky: true,
                    theme: 'error mws-ic-16 ic-cross'
                });
            });
            // finally do this
            jqXHR.always(function() {
                // remove request object
                jqXHR = null;
            });

            // go back to list
            back_to_list();
        }

        function mark_read(ids) {
            // mark message as read
            $.each(ids, function(index, id) {
                $('.single-message[data-id="' + id + '"]').removeClass('unread');
            });

            // call server to sync
            // try this
            jqXHR = $.ajax({
                url: '{% url messaging_mark_read %}',
                data: $.param({'ids': ids}),
                type: 'POST',
                beforeSend: addCSRFHeader,
                dataType: 'json',
            })
            // on success
            jqXHR.done(function(data, status, xhr) {
                $.jGrowl(gettext('Message marked as read.'), {
                    sticky: true,
                    theme: 'info mws-ic-16 ic-accept'
                });
            });
            // on error
            jqXHR.fail(function() {
                $.jGrowl(gettext('Unable to mark this message as read.'), {
                    sticky: true,
                    theme: 'error mws-ic-16 ic-cross'
                });
            });
            // finally do this
            jqXHR.always(function() {
                // remove request object
                jqXHR = null;
            });

            // go back to list
            back_to_list();
        }

        function delete_messages(ids) {
            // delete message from remote and origin
            $.each(ids, function(index, id) {
                var element = $('.single-message[data-id="' + id + '"]');
                $(element).next('.divider').next('.divider').remove()
                $(element).next('.divider').remove()
                $(element).remove();
            });

            // go back to list
            back_to_list();
        }

        function email_frame_auto_resize() {
            if($('#email-iframe').is(':visible')) {
                var ifDoc, ifRef = document.getElementById('email-iframe');
                try {
                    ifDoc = ifRef.contentWindow.document.documentElement;
                } catch( e ) {
                    try {
                        ifDoc = ifRef.contentDocument.documentElement;
                    } catch(ee) {}
                }

                if( ifDoc ) {
                    var max_height = $('body').outerHeight() - $('#email-iframe').offset().top - 12 - $('#mws-footer').outerHeight() - 6;
                    if(ifDoc.scrollHeight > max_height) {
                        ifRef.height = max_height;
                    } else {
                        ifRef.height = ifDoc.scrollHeight;
                    }
                }
            }
        }

        $(window).resize(email_frame_auto_resize);

        $(document).ready(function() {
            // $('.mws-email-list .single-message').hover(
            //     function(event) {
            //         $('.mws-email-list .action:not(.no-width)').addClass('no-width');
            //         clearTimeout(hide_action_timeout);
            //         $(event.target).closest('.single-message').find('.action').removeClass('no-width');
            //     },
            //     function(event) {
            //         hide_action_timeout = setTimeout(function() {
            //             $(event.target).closest('.single-message').find('.action').addClass('no-width');
            //         }, 1000);
            //     }
            // );

            $('.email-content .mws-panel-toolbar .back-button a, .email-content .container-busy.email .container-cancel.email').click(function(event) {
                back_to_list(true);

                event.preventDefault();
            });

            $('.mws-email-list .email:not(.draft)').click(function(event) {
                if(jqXHR==null) {
                    var table = $('.mws-email-list');
                    if (!$(table).hasClass('small')) {
                        $(table).addClass('small');
                    }

                    // show we're busy
                    $('.email-content').show().find('.container-busy').show();
                    $('#emailbox-top-subject').hide();
                    $('#emailbox-top-info').hide();

                    // try this
                    jqXHR = $.ajax({
                        url: '/messaging/email/json/' + $(this).closest('.single-message').data('id'),
                        type: 'GET',
                        dataType: 'json',
                    })
                    // on success
                    jqXHR.done(function(data, status, xhr) {
                        $(event.target).closest('.single-message')
                            .removeClass('unread')
                            .find('.body.preview').html(data.flat_body);
                        $('#email')
                            .html(data.body)
                            .data('id', data.id);
                        $('#emailbox-top-subject')
                            .show()
                            .text(data.subject)
                            .attr('title', data.subject);
                        $('#emailbox-top-info').hide();
                    });
                    // on error
                    jqXHR.fail(function() {
                        $('#emailbox-top-subject').hide();
                        $('#emailbox-top-info').show();
                        $.jGrowl(gettext('E-mail message not found on the server.'), {
                            sticky: true,
                            theme: 'error mws-ic-16 ic-cross'
                        });
                        back_to_list();
                    });
                    // finally do this
                    jqXHR.always(function() {
                        setTimeout(function() {
                            // hide overlay
                            $('.email-content .container-busy').hide();
                            // auto size
                            email_frame_auto_resize();
                            // remove request object
                            jqXHR = null;
                        }, 800);
                    });
                }
                event.preventDefault();
            });

            $('#delete-single').on('click', function(event) {
                var id = $('#email').data('id');
                delete_messages([id]);

                event.preventDefault();
            });

            $('#mark-read-single').on('click', function(event) {
                var id = $('#email').data('id');
                mark_read([id]);

                event.preventDefault();
            });

            $('#mark-unread-single').on('click', function(event) {
                var id = $('#email').data('id');
                mark_unread([id]);

                event.preventDefault();
            });

            $('#reply-message').on('click', function(event) {
                var id = $('#email').data('id');
                window.location.href = '{{ SITE }}/messaging/email/reply/' + id;
            });

            $('#forward-message').on('click', function(event) {
                var id = $('#email').data('id');
                window.location.href = '{{ SITE }}/messaging/email/forward/' + id;
            });

            $('.mws-email-list .action .priority').click(function(event) {
                var priority = $(event.target).attr('class');
            });
        });
    </script>
{% endblock %}

{% block before-list %}

{% endblock %}

{% block model-list-title %}
    {% if list_title|length %}
        <div id="emailbox-top-info">
            <div id="emailbox-header" class="float-left"  title="{{ list_title }}">
                {{ page_obj.start_index }}-{{ page_obj.end_index }} {% blocktrans with total_count=page_obj.paginator.count accounts=accounts %}of {{ total_count }} e-mails in {{ list_title }} {% endblocktrans %}
            </div>
            <div class="float-right email-toolbar">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page=1" title="{% trans 'Show first page' %}" class="prev-page jump"><span class="mws-i-24 i-arrow-left"></span><span class="mws-i-24 i-arrow-left"></span></a>
                {% endif %}

                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" title="{% trans 'Show previous page' %}" class="prev-page"><span class="mws-i-24 i-arrow-left"></span></a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" title="{% trans 'Show next page' %}" class="next-page"><span class="mws-i-24 i-arrow-right"></span></a>
                {% else %}
                    <span style="width: 32px; display: inline-block"></span>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page=last" title="{% trans 'Show last page' %}" class="next-page jump"><span class="mws-i-24 i-arrow-right"></span><span class="mws-i-24 i-arrow-right"></span></a>
                {% else %}
                    <span style="width: 23px; display: inline-block"></span>
                {% endif %}
                <a href="{{ request.path }}?page={{ page_obj.number }}" title="{% trans 'Force refresh' %}" class="refresh"><span class="mws-i-24 i-refresh-4"></span></a>
                <a href="{% url messaging_email_template_list %}" title="{% trans 'Templates' %}" class="templates" id="messaging-templates-button"><span class="mws-i-24 i-document"></span></a>
            </div>
        </div>
        <div id="emailbox-top-subject" class="hidden"></div>
    {% else %}
        <div id="emailbox-header" class="inline">
            {% trans 'No message accounts available.' %}
        </div>
    {% endif %}
{% endblock %}

{% block list-head %}
<div class="mws-email-list">{% endblock %}

{% block list %}
    {% if empty_template %}
        {% for message in object_list %}
            {% include list_item_template with item=message %}
        {% empty %}
            {% include empty_template with list=object_list %}
        {% endfor %}
    {% else %}
        {% for message in object_list %}
            {% include list_item_template with item=message %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block list-foot %}{% endblock %}

{% block after-list %}
    <div class="email-content hidden" data-id="-1">
        <div class="container-busy email" style="display: none;">
            <img src="{% media_url 'extra/images/blue-loading.gif' %}" alt="" />
            <p>
                <a href="javascript:" class="container-cancel email">{% trans 'Cancel' %}</a>
            </p>
        </div>
        <div class="mws-panel-toolbar top clearfix">
            <ul>
                <li class="back-button"><a href="javascript:">Back</a></li>
                <li class=""><a href="#" id="mark-unread-single">Mark as unread</a></li>
                <li class=""><a href="#" id="mark-read-single">Mark as read</a></li>
                <li class=""><a href="#" id="delete-single">Move to trash</a></li>
                <li class=""><a href="#" id="reply-message">Reply</a></li>
                <li class=""><a href="#" id="forward-message">Forward</a></li>
            </ul>
        </div>
        <div id="email-wrapper">
            <div id="email"></div>
        </div>
    </div>
{% endblock %}
