{% extends 'mwsadmin/base_quickbutton_dialog.html' %}

{% load i18n %}

{% block dialog-id %}-case{% endblock %}

{% block dialog-class %} deal{% endblock %}

{% block dialog-title %}{% trans 'New case' %}{% endblock %}

{% block dialog-form-url %}{% url case_add %}{% endblock %}

{% block dialog-form %}{% include 'cases/mwsadmin/quickbutton_form.html' with form=quickbutton_formsets.case %}{% endblock %}

{% block quick-button-scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // add contact dialog
            $('#quickbutton-dialog-case').dialog({
                autoOpen: false,
                modal: true,
                width: 640,
                height: 710, // TODO don't use a fixed height, but rather find a elegant solution using z-index to fix the not visible dropdown menu options
                open: function() {
                    enableChosen($(this));
                    var prio_classes = ['', 'green', 'yellow', 'orange', 'red'];
					$(this).find('.priority-select').each(function(index, element) {
						$(element).next('.chzn-container').find('.chzn-single').addClass('i-16 i-tag').addClass(prio_classes[$(element)[0].selectedIndex]);
					});
                },
                buttons: [
                    {
                        'class': 'mws-button red float-left',
                        text: gettext('Cancel'),
                        click: function() {
                            $(this).dialog('close');
                        }
                    },
                    {
                        'class': 'mws-button green',
                        text: gettext('Save'),
                        click: function() {
                            sendForm( $(this) );
                        },
                        name: 'submit',
                        value: 'add'
                    },
                ],
                close: function() {
                    clearForm( $(this).find('form') );
                }
            });

            $('#quickbutton-dialog-case form').submit(function(event) {
                sendForm( $('#quickbutton-dialog-case') );
                event.preventDefault();
            });

            // show add contact dialog
            $('.quickbutton.case').click(function(event) {
                $('#quickbutton-dialog-case').dialog('open');
                event.preventDefault();
            });
        });
    </script>
{% endblock %}
