{% extends 'users/users_base.html' %}
{% load staticfiles %}

{% block title %}
    Lily | Reset password
{% endblock title %}

{% block right-panel %}
    <h2 class="align-center">
        Please fill in your email address
    </h2>

    <div class="center-picture align-center">
        <img src="{% static 'users/images/key.svg' %}">
    </div>

    <p class="align-center">
        Lily will send you an email with a password reset link,
        after clicking on the link you can reset your password.
    </p>

    <div class="spacer-20"></div>

    <form action="" method="post" class="login-form" novalidate>
        {% csrf_token %}
        {% include 'users/_form_fields.html' with form=form %}


        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="hl-primary-btn blue">
                    Reset password
                </button>
                <div class="spacer-20"></div>
                <div class="align-center">
                    <a href="{% url 'login' %}">
                        Go back to login
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
{% endblock right-panel %}
