{% extends 'form.html' %}
{% load utils %}

{% load i18n %}

{% block head-title %}
{% if reply_to %}
    {% trans 'Reply to' %}: {{ reply_to.author }}
{% else %}
    {% trans 'Add blogpost' %}
{% endif %}
{% endblock %}

{% block page-title %}
{% if reply_to %}
    {% trans 'Reply to' %}: {{ reply_to.author }}
{% else %}
    {% trans 'Add blogpost' %}
{% endif %}
{% endblock %}

{% block form-title %}
{% if reply_to %}
    {% trans 'Reply to' %}: {{ reply_to.author }}
{% else %}
    {% trans 'Add blogpost' %}
{% endif %}
{% endblock %}

{% block form %}
    {% if reply_to %}
        <div class="original-post">
            <p>
                {{ reply_to.author }} {% trans 'wrote on' %} {{ reply_to.created|date:"d M Y" }}:
            </p>
            <p>
                {{ reply_to.content|linebreaksbr|uri_detect|tags_to_uri|safe }}
            </p>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}