<div ng-repeat="address in vm.addresses">
    <div class="form-group">
        <div class="form-group-inline">
            <label for="id_addresses-street-{{ $index }}"
                   ng-show="$first"
                   ng-class="{'col-xs-12': vm.sideBar, 'control-label col-md-2': !vm.sideBar}">Address</label>
            <!-- <label ng-if="vm.sideBar" for="id_addresses-street-{{ $index }}" class="col-md-2 control-label with-icon icons-text" ng-show="$first">
                <div class="text-center">
                    <div class="pre">
                        <i class="fa fa-building-o label-icon"></i>&nbsp;<i class="fa fa-map-marker label-icon"></i><br/>
                    </div>
                    <div class="label-text">Address</div>
                </div>
            </label>
            -->
            <div ng-class="{'col-xs-12 ': vm.sideBar, 'col-md-4': !vm.sideBar, 'col-md-offset-2': !$first && !vm.sideBar, 'has-error': form['addresses-street-{{ $index }}'].$invalid }">
                <input class="form-control"
                       id="id_addresses-street-{{ $index }}"
                       maxlength="255"
                       name="addresses-street-{{ $index }}"
                       placeholder="Address"
                       type="text"
                       ng-model="address.street"
                       ng-readonly="address.is_deleted">
                <field-error form="form" field="addresses-street" index="$index"></field-error>
            </div>
        </div>
        <div class="form-group-inline" ng-class="{ 'has-error': form['addresses-street_number-{{ $index }}'].$invalid }">
            <label class="hidden control-label" for="id_addresses-street_number-{{ $index }}">Street number</label>
            <div ng-class="{'col-xs-6 padding-top-15': vm.sideBar, 'col-md-2 field_wrapper': !vm.sideBar}">
                <input class="form-control"
                       id="id_addresses-street_number-{{ $index }}"
                       maxlength="255"
                       name="addresses-street_number-{{ $index }}"
                       placeholder="Street Number"
                       type="text"
                       ng-model="address.street_number"
                       ng-readonly="address.is_deleted">
                <field-error form="form" field="addresses-street_number" index="$index"></field-error>
            </div>
        </div>
        <div class="form-group-inline">
            <label class="hidden control-label" for="id_addresses-complement-{{ $index }}">Complement</label>
            <div ng-class="{'col-xs-6 padding-top-15': vm.sideBar, 'col-md-2 field_wrapper': !vm.sideBar}">
                <input class="form-control"
                       id="id_addresses-complement-{{ $index }}"
                       maxlength="255"
                       name="addresses-complement-{{ $index }}"
                       placeholder="Complement"
                       type="text"
                       ng-model="address.complement"
                       ng-readonly="address.is_deleted">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group-inline">
            <label class="hidden control-label" for="id_addresses-postal_code-{{ $index }}">Postal code</label>
            <div ng-class="{'col-xs-12': vm.sideBar, 'col-md-4 col-md-offset-2': !vm.sideBar, 'col-md-offset-2': !$first && !vm.sideBar }">
                <input class="form-control"
                       id="id_addresses-postal_code-{{ $index }}"
                       maxlength="255"
                       name="addresses-postal_code-{{ $index }}"
                       placeholder="Postal code"
                       type="text"
                       ng-model="address.postal_code"
                       ng-readonly="address.is_deleted">
            </div>
        </div>
        <div class="form-group-inline">
            <label class="hidden control-label" for="id_addresses-city-{{ $index }}">City</label>
            <div ng-class="{'col-xs-12 padding-top-15': vm.sideBar, 'col-md-4 field_wrapper': !vm.sideBar}">
                <input class="form-control"
                       id="id_addresses-city-{{ $index }}"
                       maxlength="255"
                       name="addresses-city-{{ $index }}"
                       placeholder="City"
                       type="text"
                       ng-model="address.city"
                       ng-readonly="address.is_deleted">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group-inline">
            <label class="hidden control-label" for="id_addresses-country-{{ $index }}">Country</label>
            <div ng-class="{'col-xs-12': vm.sideBar, 'col-md-4 field_wrapper col-md-offset-2': !vm.sideBar, 'col-md-offset-2': !$first && !vm.sideBar }">
                <country-selector address="address"></country-selector>
            </div>
        </div>
        <div class="form-group-inline">
            <div ng-class="{'col-xs-10 padding-top-15': vm.sideBar, 'col-md-4 field_wrapper': !vm.sideBar}">
                <select class="form-control"
                        id="id_addresses-type-{{ $index }}"
                        name="addresses-type-{{ $index }}"
                        ng-model="address.type"
                        ng-options="labelType.key as labelType.value for labelType in vm.addressTypes"
                        ng-readonly="address.is_deleted">
                </select>
            </div>
        </div>
        <div ng-class="{'col-xs-2 padding-top-15': vm.sideBar, 'col-md-2 field_wrapper': !vm.sideBar}">
            <a ng-click="vm.removeRelatedField({field: 'address', index: $index, remove: false})" class="btn btn-sm default" title="Undo the deletion of this row" ng-show="address.is_deleted">
                <i class="fa fa-undo"></i>
            </a>
            <a ng-click="vm.removeRelatedField({field: 'address', index: $index, remove: true})" class="btn btn-sm default" title="Delete this row" ng-hide="address.is_deleted">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
</div>
<div class="form-group">
    <label ng-hide="vm.addresses.length"
           ng-class="{'col-xs-12': vm.sideBar, 'control-label col-md-2': !vm.sideBar}">Address</label>

    <!--<label ng-if="vm.sideBar" class="col-md-2 control-label with-icon icons-text" ng-hide="vm.addresses.length">
        <div class="text-center">
            <div class="pre">
                <i class="fa fa-building-o label-icon"></i>&nbsp;<i class="fa fa-map-marker label-icon"></i><br/>
            </div>
            <div class="label-text">Address</div>
        </div>
    </label>
    -->
    <div class="col-md-9" ng-class="{ 'col-md-offset-2': vm.addresses.length && !vm.sideBar}">
        <a ng-click="vm.addRelatedField({field: 'address'})" class="form-control-static">Add an address</a>
    </div>
</div>
