<div class="togglable-portlet">
    <div class="togglable-portlet-heading clickable" ng-click="vm.collapsed = !vm.collapsed">
        <span class="portlet-heading-title">{{ vm.title }}</span>
        <span class="portlet-heading-icon" ng-if="vm.isComplete">
            <i class="fa fa-check text-success"></i>
        </span>
        <span class="portlet-heading-icon clickable">
            <i class="fa fa-angle-up" ng-class="{'rotate': vm.collapsed}"></i>
        </span>
    </div>

    <div ng-show="vm.collapsable && !vm.collapsed" class="togglable-portlet-body">
        <ng-transclude></ng-transclude>
    </div>
</div>
