<div class="hl-related-form-field" ng-repeat="emailAddress in vm.emailAddresses" ng-class="{'has-error': form['email_addresses-email_address-' + $index].$invalid }">
    <div class="row hl-row-sm">
        <div class="col-md-7 create-sidebar-input-col hl-flex-container">
            <i class="hl-form-icon" ng-if="vm.showIcon" ng-transclude uib-tooltip="{{ $root.messages.contact.contactInfoTooltip }}"/>
            <input class="form-control hl-form-input hl-flex-1 create-sidebar-m-b-10px"
                   id="id_email_addresses-email_address-{{ $index }}"
                   maxlength="255"
                   name="email_addresses-email_address-{{ $index }}"
                   placeholder="Email address"
                   ng-class="{'hl-form-input-deleted': emailAddress.is_deleted}"
                   ng-model="emailAddress.email_address"
                   ng-readonly="emailAddress.is_deleted"
                   ng-blur="vm.onBlur(emailAddress.email_address)">
        </div>

        <div class="col-md-5 create-sidebar-input-col hl-flex-container">
            <label class="hidden control-label" for="id_email_addresses-is_primary-{{ $index }}">
                Primary email
            </label>

            <select class="form-control hl-form-input m-r-10 hl-flex-1"
                    id="id_email_addresses-is_primary-{{ $index }}"
                    name="email_addresses-is_primary-{{ $index }}"
                    ng-model="emailAddress.status"
                    ng-options="o.v as o.n for o in [{ n: 'Primary', v: 2 }, { n: 'Other', v: 1 }, { n: 'Inactive', v: 0}]"
                    ng-disabled="emailAddress.is_deleted"
                    ng-class="{'hl-form-input-deleted': emailAddress.is_deleted}"
                    ng-change="vm.setPrimaryEmailAddress(emailAddress, vm.emailAddresses)">
            </select>

            <a ng-click="vm.removeRelatedField({field: 'emailAddress', index: $index, remove: false})"
               class="hl-primary-btn hl-form-input-btn" title="Undo the deletion of this row" ng-if="emailAddress.is_deleted">
                <i class="fa fa-undo"></i>
            </a>
            <a ng-click="vm.removeRelatedField({field: 'emailAddress', index: $index, remove: true})"
               class="hl-primary-btn hl-form-input-btn" title="Delete this row" ng-if="!emailAddress.is_deleted">
               <i class="lilicon hl-trashcan-icon"></i>
            </a>
            <a ng-click="vm.addRelatedField({field: 'emailAddress'})"
               class="m-l-5 hl-primary-btn hl-form-input-btn" title="Add new email address" ng-if="$index === (vm.emailAddresses.length - 1)">
               <i class="fa fa-plus"></i>
            </a>
            <div class="form-add-spacer" ng-if="$index !== (vm.emailAddresses.length - 1)"></div>
        </div>
    </div>
    <field-error form="form" field="email_addresses-email_address" index="$index"></field-error>
</div>
