<div class="form-group" ng-class="{'has-error': field.$invalid}">
    <label for="{{ labelId }}"
           ng-class="{'col-xs-12': vm.sideBar, 'control-label col-md-2': !vm.sideBar, 'required':required}">
        {{ labelTitle }}
    </label>
    <!--
    <label ng-if="vm.sideBar" class="col-md-2 control-label icons-text" for="{{ labelId }}"
           ng-class="{'required':required, 'with-icon':(labelIcon || labelChar)}">
        <div class="text-center">

            <div>
                <i title="{{ labelTitle }}" ng-if="labelIcon" class="label-icon" ng-class="'fa fa-' + labelIcon"></i>
            </div>

            <div title="{{ labelTitle }}" ng-if="labelChar" class="label-icon"><strong>{{ labelChar }}</strong></div>

            <div class="label-text">{{ labelTitle }}</div>
        </div>
        <div ng-if="!(labelIcon || labelChar)">
            {{ labelTitle }}
        </div>
    </label>
    -->
    <ng-transclude></ng-transclude>
    <span class="help-block" ng-show="field.$error.message" ng-class="{'col-xs-12': vm.sideBar}">{{ field.$error.message }}</span>
</div>
