<div class="form-group" ng-class="{'has-error': field.$invalid}">
    <!-- <label class="visible-xs-block col-md-2 control-label" for="{{ labelId }}"
    ng-class="{'required':required, 'with-icon':(labelIcon || labelChar)}">
        <div class="text-center">

            <div>
                <i title="{{ labelTitle }}" ng-if="labelIcon" class="label-icon" ng-class="'fa fa-' + labelIcon"></i>
            </div>

            <div title="{{ labelTitle }}" ng-if="labelChar" class="label-icon"><strong>{{ labelChar }}</strong></div>

            <div class="label-text">{{ labelTitle }}</div>
        </div>
        <div ng-if="!(labelIcon || labelChar)">
            {{ labelTitle }}
        </div>
    </label> -->
    <label class="col-md-2 control-label" for="{{ labelId }}" ng-class="{'required':required}">
        {{ labelTitle }}
    </label>
    <ng-transclude></ng-transclude>
    <span class="help-block" ng-show="field.$error.message">{{ field.$error.message }}</span>
</div>
