<div class="form-group" ng-repeat="phoneNumber in vm.phoneNumbers">
    <label for="id_phone_numbers-type-{{ $index }}" ng-show="$first" class="col-md-2 control-label">Phone number</label>
    <!-- <label for="id_phone_numbers-type-{{ $index }}" class="visible-xs-block col-md-2 control-label with-icon" ng-show="$first">
        <div class="text-center">
            <div class="pre">
                <i class="fa fa-building-o label-icon"></i>&nbsp;<i class="fa fa-phone label-icon"></i>
            </div>
            <div class="label-text">Phone Number</div>
        </div>
    </label> -->
    <div class="col-md-4" ng-class="{ 'col-md-offset-2': !$first }">
        <input class="form-control"
               id="id_phone_numbers-phone_number-{{ $index }}"
               maxlength="255"
               name="phone_numbers-phone_number-{{ $index }}"
               placeholder="Phone number"
               type="text"
               ng-model="phoneNumber.raw_input"
               ng-readonly="phoneNumber.is_deleted">
    </div>
    <label class="hidden control-label" for="id_phone_numbers-type-{{ $index }}">Phone number type</label>
    <div class="col-md-4">
        <select class="form-control"
                id="id_phone_numbers-type-{{ $index }}"
                name="phone_numbers-type-{{ $index }}"
                ng-model="phoneNumber.type"
                ng-options="labelType.key as labelType.value for labelType in vm.telephoneTypes"
                ng-readonly="phoneNumber.is_deleted">
        </select>
    </div>
    <div class="col-md-2">
        <div class="col-md-1">
            <a ng-click="vm.removeRelatedField({field: 'phoneNumber', index: $index, remove: false})" class="btn btn-sm default" title="Undo the deletion of this row" ng-show="phoneNumber.is_deleted">
                <i class="fa fa-undo"></i>
            </a>
            <a ng-click="vm.removeRelatedField({field: 'phoneNumber', index: $index, remove: true})" class="btn btn-sm default" title="Delete this row" ng-hide="phoneNumber.is_deleted">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
</div>
<div class="form-group">
    <label ng-hide="vm.phoneNumbers.length" class="col-md-2 control-label">Phone number</label>
    <!-- <label class="visible-xs-block col-md-2 control-label with-icon" ng-hide="vm.phoneNumbers.length">
        <div class="text-center">
            <div class="pre">
                <i class="fa fa-building-o label-icon"></i>&nbsp;<i class="fa fa-phone label-icon"></i>
            </div>
            <div class="label-text">Phone Number</div>
        </div>
    </label> -->
    <div class="col-md-10" ng-class="{ 'col-md-offset-2': vm.phoneNumbers.length }">
        <a ng-click="vm.addRelatedField({field:'phoneNumber'})" class="form-control-static">Add a phone number</a>
    </div>
</div>
