<div class="hl-related-form-field" ng-repeat="phoneNumber in vm.phoneNumbers" ng-class="{'has-error': form['phone_numbers-number-' + $index].$invalid }">
    <div class="row hl-row-sm">
        <div class="col-md-7 create-sidebar-input-col hl-flex-container">
            <i class="hl-form-icon" ng-if="vm.showIcon" ng-transclude uib-tooltip="{{ $root.messages.contact.contactInfoTooltip }}"/>
            <input class="form-control hl-form-input hl-flex-1 create-sidebar-m-b-10px"
                   id="id_phone_numbers-number-{{ $index }}"
                   maxlength="255"
                   name="phone_numbers-number-{{ $index }}"
                   placeholder="Phone number"
                   ng-class="{'hl-form-input-deleted': phoneNumber.is_deleted}"
                   type="text"
                   ng-model="phoneNumber.number"
                   ng-readonly="phoneNumber.is_deleted"
                   ng-blur="vm.onBlur(phoneNumber)">
        </div>

        <div class="col-md-5 create-sidebar-input-col hl-flex-container">
            <label class="hidden control-label" for="id_phone_numbers-type-{{ $index }}">
                Phone number type
            </label>

            <select class="form-control hl-form-input m-r-10 hl-flex-1"
                    id="id_phone_numbers-type-{{ $index }}"
                    name="phone_numbers-type-{{ $index }}"
                    ng-class="{'hl-form-input-deleted': phoneNumber.is_deleted}"
                    ng-model="phoneNumber.type"
                    ng-options="labelType.key as labelType.value for labelType in vm.telephoneTypes"
                    ng-disabled="phoneNumber.is_deleted">
            </select>

            <a ng-click="vm.removeRelatedField({field: 'phoneNumber', index: $index, remove: false})"
               class="hl-primary-btn hl-form-input-btn" title="Undo the deletion of this row" ng-if="phoneNumber.is_deleted">
                <i class="fa fa-undo"></i>
            </a>
            <a ng-click="vm.removeRelatedField({field: 'phoneNumber', index: $index, remove: true})"
               class="hl-primary-btn hl-form-input-btn" title="Delete this row" ng-if="!phoneNumber.is_deleted">
                <i class="lilicon hl-trashcan-icon"></i>
            </a>
            <a ng-click="vm.addRelatedField({field:'phoneNumber'})"
               class="m-l-5 hl-primary-btn hl-form-input-btn" title="Add new phone number" ng-if="$index === (vm.phoneNumbers.length - 1)">
               <i class="fa fa-plus"></i>
            </a>
            <div  class="form-add-spacer" ng-if="$index !== (vm.phoneNumbers.length - 1)"></div>
        </div>
    </div>
    <field-error form="form" field="phone_numbers-number" index="$index"></field-error>
</div>
