<form-group label-title="{{ vm.labelTitle }}" label-id="{{ vm.labelId }}" required="{{ vm.required }}">
    <div ng-class="{'has-error': field.$invalid}">
        <div ng-class="{'col-xs-12': vm.sidebar, 'col-md-4': !vm.sidebar}">
            <div class="btn-group radio-btns" data-toggle="buttons">
                <label ng-repeat="option in vm.options"
                       class="btn btn-primary"
                       ng-class="{'active': vm.field == $index}"
                       ng-click="vm.setValue($index)">
                    <input id="id_{{ vm.inputName }}-{{ $index }}"
                        type="radio"
                        ng-value="$index">
                    {{ option }}
                </label>
            </div>
        </div>
    </div>
</form-group>
