<div class="form-group" ng-repeat="website in vm.websites | filter: {is_primary:false}">
    <div class="form-group-inline">
        <label class="col-md-2 control-label" for="id_website-{{ $index }}" ng-show="$first">Websites</label>
        <div class="col-md-4" ng-class="{ 'col-md-offset-2': !$first }">
            <input class="form-control"
                   id="id_website-{{ $index }}"
                   maxlength="255"
                   name="website-{{ $index }}"
                   placeholder="www.example.com"
                   type="url"
                   ng-model="website.website"
                   ng-readonly="website.is_deleted">
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-md-1">
            <a ng-click="vm.removeRelatedField({field: 'website', index: website, remove: false})" class="btn btn-sm default" title="Undo the deletion of this row" ng-show="website.is_deleted">
                <i class="fa fa-undo"></i>
            </a>
            <a ng-click="vm.removeRelatedField({field: 'website', index: website, remove: true})" class="btn btn-sm default" title="Delete this row" ng-hide="website.is_deleted">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" ng-hide="(vm.websites|filter:{is_primary:false}).length">Websites</label>
    <div class="col-md-10" ng-class="{ 'col-md-offset-2': (vm.websites|filter:{is_primary:false}).length }">
        <a ng-click="vm.addRelatedField({field:'website'})" class="btn btn-default btn-sm">Add a website</a>
    </div>
</div>
