<div class="hl-form-field" ng-repeat="website in vm.websites | filter: {is_primary:false}">
    <label for="id_website-{{ $index }}" ng-show="$first" class="col-xs-12">
        Extra website
    </label>
    <table class="hl-form-table">
        <tbody>
            <tr>
                <td class="hl-form-table-column" ng-class="{'has-error': form['websites-website-' + $index].$invalid }">
                    <input class="form-control"
                           id="id_website-{{ $index }}"
                           maxlength="255"
                           name="websites-website-{{ $index }}"
                           placeholder="www.example.com"
                           type="text"
                           ng-model="website.website"
                           ng-blur="vm.doubleAccountCheck({index: $index})"
                           ng-readonly="website.is_deleted">
                    <field-error form="form" field="websites-website" index="$index"></field-error>
                </td>

                <td class="hl-form-table-column small-cell">
                    <a ng-click="vm.removeRelatedField({field: 'website', index: $index, remove: false})" class="btn btn-sm default" title="Undo the deletion of this row" ng-show="website.is_deleted">
                        <i class="fa fa-undo"></i>
                    </a>
                    <a ng-click="vm.removeRelatedField({field: 'website', index: $index, remove: true})" class="btn btn-sm default" title="Delete this row" ng-hide="website.is_deleted">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="hl-form-field">
    <label ng-hide="(vm.websites|filter:{is_primary:false}).length">
        Extra website
    </label>
    <div><a ng-click="vm.addRelatedField({field:'website'})" class="form-control-static">Add a website</a></div>
</div>
