<div class="row">
    <div class="col-md-12">
        <p>{{ $root.messages.alerts.widgetSettings }}</p>
        <ul class="list-unstyled align-left">
            <li class="clickable" ng-repeat="(cookieName, widgetInfo) in db.widgetSettings">
                <div class="checker">
                    <span ng-class="{1: 'checked'}[widgetInfo.status]">
                        <input id="{{ cookieName }}" type="checkbox" data-skip-uniform ng-model="widgetInfo.status" ng-false-value="0" ng-true-value="1">
                    </span>
                </div>
                <label for="{{ cookieName }}">{{ widgetInfo.name }}</label>
            </li>
        </ul>
    </div>
</div>
