#dashboard-latest h2.mws-i-24 {
	padding-left: 40px;
	background-position: 8px center;
}

#dashboard-latest .object-list {
    margin: 0 0 1em;
}

#dashboard-latest .object-title {
	display: inline-block;
	line-height: 24px;
	font-size: 16px;
	width: 68%;
	vertical-align: top;
}

#dashboard-latest .object-more {
    display: inline-block;
    width: 28%;
}

#dashboard-latest .object-creation-time {
	display: inline-block;
	line-height: 24px;
	font-size: 11px;
	color: #333333;
}
