div#mws-login /* div#mws-login */
{
    background-image:none;
    background-color:white;
    padding:0;
    
    border:1px solid #c0c0c0;
    
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -khtml-border-radius:6px;
    border-radius:6px;
}

div#mws-login .mws-panel
{
    margin-bottom:0;
}

div#mws-login .mws-message-container
{
    padding:0;
}

div#mws-login .mws-login-message
{
    padding:10px 3px 15px;
}

div#mws-login .mws-form-message.error
{
    background-image:none;
    border:none;
}

div#mws-login .mws-form-message
{
    padding:4px;
}

div#mws-login .mws-form /* div#mws-login form */
{
    background:none;
    position:relative;
    padding:12px 16px;
}

.mws-form label {
    cursor:default;
}

div#mws-login .mws-form-item.large
{
    margin-bottom:5px;
}

div#mws-login input.mws-reset-email,
div#mws-login input.mws-reset-password
{
    padding:8px 8px 8px 32px;
    border:1px solid #b2b2b2;
    background-color:#ffffff !important;
    
    -webkit-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);
    -o-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);
    -khtml-box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);
    box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.15);   
}

div#mws-login input.mws-reset-email
{
    background-image:url(../../css/icons/16/email.png) !important;
    background-repeat:no-repeat;
    background-position:8px center;
}

div#mws-login input.mws-reset-password
{
    background-image:url(../../css/icons/16/key.png) !important;
    background-repeat:no-repeat;
    background-position:8px center;
}

div#mws-login input.mws-reset-email.error
{
    border-color:#f3797f;
}

div#mws-login input.mws-reset-button
{
    width:269px;
    border:none;
    margin:0;
}
