/**
 *     CSS for HelloLily which overrides the MWS admin (v1.5).
 */

/**
 *     Button Stylesheet (button.css)
 */

.ui-button /* .mws-button */
{
    border:0;
    outline:none;
    padding:6px 9px;
    margin:2px;
    cursor:pointer;
    font-family:'PTSansRegular', Arial, Helvetica, sans-serif;

    /* CSS 3 */

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;

    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4) !important;

    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);
    -o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);
    -khtml-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.15);
}

.mws-link-button, .mws-link-button button
{
    text-decoration:none;
    display:block;
    width:100%;
}

.ui-button.ui-state-active /* .mws-button:active */
{
    /* CSS 3 */

    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
    -o-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
    -khtml-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
    box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2) !important;
}

.mws-button.blue, /* .mws-button.blue */
.ui-button
{
    background-color:#1C76BC;
    color:#ffffff;
    border:1px solid #416b8b;

    background-image:none;
}


.ui-button.ui-state-disabled /* .mws-button:disabled */
{
    background-color:#e0e0e0;
    color:#aaaaaa;
    cursor:auto;
    text-shadow:none;
    border:1px solid #a0a0a0;

    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    -o-box-shadow:none !important;
    box-shadow:none !important;
}


.ui-buttonset /* .ui-buttonset */
{
    margin-right: 7px;
}

/**
 *     Core Stylesheet (core.css)
 */
html
{
    overflow-y:scroll;
}

div#mws-header /* div#mws-header */
{
    background-image:none;
}

#mws-header-container,
#mws-wrapper
{
    max-width:1140px;
    margin:0 auto;
}

div#mws-logo-container /* div#mws-logo-container */
{
    height:53px;
    padding:5px 0 0;
    background:transparent;
}

div#mws-logo-container #mws-logo-wrap /* div#mws-logo-container #mws-logo-wrap */
{
    height:53px;
}


div#mws-user-tools #mws-user-info /* div#mws-user-tools #mws-user-info */
{
    /*display:block;*/
    background-image: none;
}

div#mws-user-tools #mws-user-info #mws-user-functions ul li a /* div#mws-user-tools #mws-user-info #mws-user-functions ul li a */
{
    color:steelBlue;
}

div#mws-sidebar /* div#mws-sidebar */
{
    padding-top:100px;
}

div#mws-sidebar-bg /* div#mws-sidebar-bg */
{
    background-image:none;
}

div#mws-search-container
{
    padding:9px 0;
    overflow:hidden;
}

form#mws-searchbox /* div#mws-searchbox */
{
    height:40px;
    border:none;
    padding:0;
    position:relative;
    clear:none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
}

form#mws-searchbox .mws-search-input /* div#mws-searchbox .mws-search-input */
{
    /*background:none;*/
    padding:6px 38px 6px 7px;
    width:100%;
    height:40px;
    color:#323232;
}

form#mws-searchbox .mws-search-submit /* div#mws-searchbox .mws-search-submit */
{
    text-indent:-9999px;
    text-transform:capitalize;
    width:24px; height:24px;
    position:absolute;
    top:50%;
    right:7px;
    margin-top:-12px;
    border:none;
    cursor:pointer;
    background:#1C76BC url(../../images/core/mws-search-icon.png) no-repeat center center;

    /* CSS 3 */

    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
}

div#mws-navigation ul /* div#mws-navigation ul */
{
    padding-top:0;
    background:none;
}

div#mws-navigation > ul
{
    background:#ffffff;
    border:1px solid #bcbcbc;
    border-width:1px 0 1px 1px;
}

div#mws-navigation ul li /* div#mws-navigation ul li */
{
    background:none;
}

div#mws-navigation ul li.mws-dropdown-menu
{
    background:none;
}

div#mws-navigation ul li ul li:hover, /* div#mws-navigation ul li ul li:hover */
div#mws-navigation ul li ul li.active
{
    background:url(../../images/core/mws-sub-nav-bg.png);
}

div#mws-navigation ul li a,   /* div#mws-navigation ul li a,  */
div#mws-navigation ul li span /* div#mws-navigation ul li span */
{
    color:#000000;
}

div#mws-navigation > ul > li.active
{
    background:#1C76BC !important;
}

div#mws-navigation > ul > li.active > a,
div#mws-navigation > ul > li.active > a:hover
{
    color:#ffffff !important;
}

div#mws-navigation ul li.active ul
{
    background:#d8d8d8;
}

div#mws-navigation ul li.active ul a
{
    font-weight:normal;
}

div#mws-navigation ul li ul li a,   /* div#mws-navigation ul li ul li a,  */
div#mws-navigation ul li ul li span /* div#mws-navigation ul li ul li span */
{
    color:#000000 !important;
}

div#mws-container /* div#mws-container */
{
    background:none;
}

div#mws-container .container /* div#mws-container .container */
{
    margin:0 29px;
}

div#mws-quickbutton-container
{
    float:left;
    height:53px;
    padding:5px 0 0;
    margin:0 9px 0 52px;
}

div#mws-quickbutton-container button
{
    margin:9px 0 0 0;
}

#loadingDialog
{
    background: url(../images/blue-loading.gif) no-repeat 50%;
}

/**
 *     Form Stylesheet (form.css)
 */
.mws-form .mws-button-row /* .mws-form .mws-button-row */
{
    background:#f8f8f8;
}

.mws-form .mws-form-inline
{
    position:relative;
}

.mws-form .mws-search-input /* .mws-form select, .mws-form textarea, .mws-form .mws-textinput */
{
    border:1px solid #c5c5c5;
    padding:6px 7px;
    color:#323232;
    margin:0;

    background-color:#ffffff;
    outline:none;

    /* CSS 3 */

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;

    -moz-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    -o-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    -webkit-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    -khtml-box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    box-shadow:inset 0px 1px 3px rgba(128, 128, 128, 0.1);
}


.mws-form input,
.mws-form select,
.mws-form .mws-textinput,
.mws-form textarea /* .mws-form textarea */
{
    font: 13px/1.5 'PTSansRegular', Arial, Helvetica, sans-serif;
}

.mws-form textarea /* .mws-form textarea */
{
    height:6em;
}

.mws-form select /* .mws-form select, .mws-form textarea, .mws-form .mws-textinput */
{
    padding:5px 7px;
}

:-moz-placeholder
{
    color: #b3a9b3 !important;
}

.mws-form select.disabled,        /* .mws-form select.disabled, */
.mws-form textarea.disabled,      /* .mws-form textarea.disabled, */
.mws-form .mws-textinput.disabled /* .mws-form .mws-textinput.disabled */
{
    color: #868686;
    background-color: #F0F0F0;
}

.mws-form select:focus,
.mws-form input:focus,
.mws-form textarea:focus
{
    border-color:#1C76BC !important;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
}

.mws-form-col-1-8 label, .mws-form-col-1-8 .mws-form-item,
.mws-form-col-2-8 label, .mws-form-col-2-8 .mws-form-item,
.mws-form-col-3-8 label, .mws-form-col-3-8 .mws-form-item,
.mws-form-col-4-8 label, .mws-form-col-4-8 .mws-form-item,
.mws-form-col-5-8 label, .mws-form-col-5-8 .mws-form-item,
.mws-form-col-6-8 label, .mws-form-col-6-8 .mws-form-item,
.mws-form-col-7-8 label, .mws-form-col-7-8 .mws-form-item,
.mws-form-col-8-8 label, .mws-form-col-8-8 .mws-form-item
{
    display:block !important;
    width:100% !important;
    margin:0 !important;
    float:none !important;
}

.mws-form .mws-form-item .mws-error ul.errorlist {
    margin-bottom:0px;
}

.mws-form .mws-form-item span.field_error input,
.mws-form .mws-form-item span.field_error textarea,
.mws-form .mws-form-item span.field_error select {
    border-color:#eb979b !important;
}

.mws-form .mws-form-item .mws-error.plain,
.mws-form .mws-form-item label.error.plain,
.mws-form .mws-form-item span.error.plain,
.mws-form .mws-form-item div.error.plain
{
    width:auto;
}

.mws-form .mws-form-item .mws-error.plain {
    margin-left:10px;
    cursor:auto;
}

.mws-form .add-row,
.mws-form .email_addresses-add-row,
.mws-form .phone_numbers-add-row,
.mws-form .addresses-add-row,
.mws-form .websites-add-row
{
    margin:5px 0 0 0;
    padding-top:0 !important;
    display:inline-block;
    color:#4682B4;
}

.mws-form .mws-form-item .mws-error,
.mws-form .mws-form-item label.error,
.mws-form .mws-form-item span.error,
.mws-form .mws-form-item div.error
{
    margin: -4px 0 4px 0 !important;
}

.mws-form-divider
{
	border-top: 1px solid #BCBCBC;
	padding: 0;
	margin: 12px 0;
}

/**
 *     Login Form Stylesheet
 */
div#mws-login /* div#mws-login */
{
    /*background-image:none;*/
    /*background-color:white;*/
    padding:0;

    border:none;

    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius:0px;

    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -khtml-box-shadow:none;
    box-shadow:none;
}

div#mws-login #login-logo
{
    position:absolute;
    left:247px;
    top:-126px;
}

div#mws-login .mws-panel
{
    margin-bottom:0;
}

div#mws-login .mws-panel .mws-panel-content
{
    padding:0;
}

div#mws-login .mws-message-container
{
    padding:0;
}

div#mws-login .mws-login-message
{
    padding:10px 3px 15px;
}

div#mws-login .mws-form-message.error
{
    background-image:none;
    border:none;
}

div#mws-login .mws-form-message
{
    padding:4px;
}

div#mws-login .mws-form /* div#mws-login form */
{
    background:none;
    position:relative;
    padding:12px 16px;
}

.mws-form label {
    cursor:default;
}

div#mws-login .mws-form-item.large
{
    margin-bottom:5px;
}

div#mws-login input.mws-login-email /* div#mws-login input.mws-login-username */
{
    background-image:url(../../css/icons/16/email.png) !important;
    background-repeat:no-repeat;
    background-position:8px center;
}

div#mws-login input.mws-login-email,   /* div#mws-login input.mws-login-username, */
div#mws-login input.mws-login-password /* div#mws-login input.mws-login-password */
{
    padding:8px 8px 8px 32px;
    border:1px solid #b2b2b2;
}

div#mws-login #remember-me
{
    padding:4px;
}

div#mws-login .mws-button-row
{
	background-color: transparent !important;
}

div#mws-login input.mws-login-button /* div#mws-login input.mws-login-button */
{
    width:269px;
    border:none;
    margin:0;
}

/**
 *     Misc. Elements Stylesheet (misc.css)
 */
.full-width {
    display:block;
    width:100%;
}

.hidden
{
    display:none;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}

.justify {
    text-align:justify;
}

.float-none {
    float:none;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.inline {
    display:inline-block;
}

.inline.float-left {
    float:left !important;
}

.no_list_style_type,
.no_list_style_type ul {
    list-style-type:none;
}

.no_list_style_type li {
    margin-left:0;
}

.no_list_padding,
.no_list_padding ul,
.no_list_padding li {
    padding-left:0;
    margin-left:0;
}

/**
 *     Panel Stylesheet (panels.css)
 */
.mws-panel .mws-panel-header /* .mws-panel .mws-panel-header */
{
    background-image:url(../images/core/mws-panel-header-bg.png);
    padding:12px 12px 10px 16px;
    border-bottom:none;
    font-size:18px;

    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    -khtml-border-radius:0px;
    border-radius:0px;
}

.mws-panel .mws-panel-body /* .mws-panel .mws-panel-body */
{
    background-color:#ffffff;
    margin:0;
}

/**
 *     Plugin Stylesheet (plugins.css)
 */
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer /* div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer */
{
    -ms-filter:none;
    filter:none;

    border:none;
    font-family:inherit;
}

div.jGrowl div.jGrowl-closer {
    padding-left:23px;
    padding-right:23px;
    border:1px solid;
    border-color:#789FCC;
    background-color:#1C76BC;
}

div.jGrowl div.jGrowl-notification
{
    border:1px solid;
    padding-left:36px;
    background-repeat:no-repeat;
    background-position:10px 11px;
    min-height:0 !important;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
}

div.jGrowl div.jGrowl-notification.info
{
    border-color:#789FCC !important;
    background-color:#1C76BC;
}

div.jGrowl div.jGrowl-notification.success
{
    border-color:#789FCC !important;
    background-color:#1C76BC !important;
}

div.jGrowl div.jGrowl-notification.warning
{
    border-color:#789FCC !important;
    background-color:#1C76BC !important;
}

div.jGrowl div.jGrowl-notification.error
{
    color:#FBE3E4 !important;
    border-color:#FBC2C4 !important;
    background-color:#8A1F11 !important;
    opacity:1!important;
}

.chzn-container-single .chzn-single
{
    height:23px !important;
    line-height:25px !important;
    border:1px solid #C5C5C5;
}

.chzn-container .chzn-results .highlighted
{
    background:#1C76BC !important;
}

.chzn-container-active
{
    border-color:#1C76BC;
    box-shadow:none;
}

.chzn-container-active .chzn-single,
.chzn-container-active .chzn-single-with-drop,
.chzn-container-active .chzn-drop
{
    border-color:#1C76BC;
    box-shadow:none;
}

.chzn-drop .result-selected
{
    background-color:rgba(28, 118, 188, 0.30);
}

#id_contact_quickbutton_account_chzn.chzn-container .chzn-results
{
    max-height:90px !important;
}

/**
 *     Media Queries Stylesheet (responsive.css)
 */
@media only screen and (min-width: 600px) and (max-width : 1024px) /* @media only screen and (min-width: 600px) and (max-width : 1024px) */
{

    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_full
    {
        float:left !important;
    }

    div#mws-header-container
    {
        height:96px;
    }

    div#mws-logo-container
    {
        width:100px;
    }

    div#mws-user-tools
    {
        margin-left:128px;
        float:none;
        padding:9px 0 0;
    }

    div#mws-quickbutton-container
    {
        margin-left:134px;
        float:none;
        padding-top:0;
    }

    div#mws-quickbutton-container button
    {
        margin-top:0;
    }

    div#mws-container /* div#mws-container */
    {
        margin-left:100px;
    }

    div#mws-container,
    div#mws-sidebar
    {
        padding-top:138px;
    }

    div#mws-sidebar-stitch /* div#mws-sidebar-stitch */
    {
        left:91px;
    }

    div#mws-navigation ul li a.mws-i-24,    /* div#mws-navigation ul li a.mws-i-24, */
    div#mws-navigation ul li span.mws-i-24, /* div#mws-navigation ul li span.mws-i-24, */
    div#mws-navigation ul li a.mws-ic,      /* div#mws-navigation ul li a.mws-ic, */
    div#mws-navigation ul li span.mws-ic,   /* div#mws-navigation ul li span.mws-ic */
    div#mws-navigation ul li a.i-32,
    div#mws-navigation ul li span.i-32
    {
        padding:0 !important;
        padding-top:40px !important;
        padding-bottom:6px !important;
        background-position:center 8px;
    }

    div#mws-navigation ul li span.mws-nav-tooltip /* div#mws-navigation ul li span.mws-nav-tooltip */
    {
        margin:0; right:3px;
        left:60%; top:2px;
    }

    div#mws-wrapper
    {
        margin-right:36px;
    }

    div#mws-container .container
    {
        float:none;
    }

    .hide_on_small_screen
    {
        display:none;
    }

    .hide_on_small_screen_img
    {
        display:none !important;
    }
}

@media only screen and (max-width: 768px) /* @media only screen and (max-width : 768px) */
{
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_full /* .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_full */
    {
        float:left;
    }
}

@media only screen and (max-width : 599px) /* @media only screen and (max-width : 599px) */
{

    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_full
    {
        margin-left:auto !important;
    }

    div#mws-header-container
    {
        height:96px;
    }

    div#mws-logo-container /* div#mws-logo-container */
    {
        display:none;
    }

    div#mws-header /* div#mws-header */
    {
        border-top:none;
    }

    div#mws-header #mws-user-tools /* div#mws-header #mws-user-tools */
    {
        padding: 9px 0;
    }

    div#mws-header #mws-user-info
    {
        margin-left:12px;
    }

    div#mws-quickbutton-container
    {
        margin-left:12px;
        float:none;
        padding-top:0;
        height:38px;
    }

    div#mws-quickbutton-container button
    {
        margin-top:0;
    }

    div#mws-wrapper
    {
        margin-right:36px;
    }

    div#mws-sidebar /* div#mws-sidebar */
    {
        width:auto;
        padding-top:96px;
        margin:0 12px;
    }

    div#mws-navigation /* div#mws-navigation */
    {
        background-color:#ffffff;
        background-image:url(icons/blue/24/bended-arrow-down.png);
        background-position-y:8px;
    }

    div#mws-navigation.toggled /* div#mws-navigation.toggled */
    {
        padding-bottom:0px;
        background-image:url(icons/blue/24/bended-arrow-up.png);
    }

    div#mws-navigation.toggled > ul
    {
        border-left:none !important;
        border-bottom:none !important;
    }

    div#mws-container .container /* div#mws-container .container */
    {
        float:none;
        margin:0 12px;
        width:auto;
    }

    div.dataTables_wrapper .dataTables_length, /* div.dataTables_wrapper .dataTables_length, */
    div.dataTables_wrapper .dataTables_filter  /* div.dataTables_wrapper .dataTables_filter */
    {
        background:none;
    }

    .hide_on_small_screen
    {
        display:none;
    }

    .hide_on_small_screen_img
    {
        display:none !important;
    }
}

@media only screen and (max-width : 447px)
{
    #gs-widget a.fdbk_tab_right
    {
        left:auto !important;
        right:auto !important;
        margin-left:410px !important;
        margin-right:auto !important;
        position:absolute !important;
    }
}

/**
 *     Shared Stylesheet (shared.css)
 */
body, #mws-header, #mws-wrapper /* body */
{
    color:#323232;
    font:13px/1.5 'PTSansRegular', Arial, Helvetica, sans-serif;
}

body, #mws-header
{
    min-width:447px;
}

#mws-wrapper
{
    min-width:410px;
}

/**
 *     Table Stylesheet (table.css)
 */
table.mws-table /* table.mws-table */
{
    border-bottom:1px solid #aaa;
}

table.mws-table tbody td, /* table.mws-table tbody td, */
table.mws-table tfoot td  /* table.mws-table tfoot td */
{
    padding:8px 16px;
    border-left:none;
}

table.mws-table tbody tr.height_77
{
    height:77px;
    min-height:77px;
    max-height:77px;
}

table.mws-table tbody tr.odd td.sorting_1 /* table.mws-table tbody tr.odd td.sorting_1 */
{
    background-color:inherit;
}

table.mws-table tbody tr.even td.sorting_1 /* table.mws-table tbody tr.odd td.sorting_1 */
{
    background-color:inherit;
}

div.dataTables_wrapper /* div.dataTables_wrapper */
{
    background:#d8d8d8;
}

.dataTables_wrapper table thead th.sorting_asc,  /* .dataTables_wrapper table thead th.sorting_asc, */
.dataTables_wrapper table thead th.sorting_desc, /* .dataTables_wrapper table thead th.sorting_desc, */
.dataTables_wrapper table thead th.sorting       /* .dataTables_wrapper table thead th.sorting */
{
    background-position:right center;
    padding:10px 22px 10px 14px;
}

.dataTables_wrapper table thead th.sorting /* .dataTables_wrapper table thead th.sorting */
{
    background-image:url(../images/core/sort_padded.png);
}

.dataTables_wrapper table thead th.sorting_asc /* .dataTables_wrapper table thead th.sorting_asc */
{
    background-image:url(../images/core/sort_asc_padded.png);
}

.dataTables_wrapper table thead th.sorting_desc /* .dataTables_wrapper table thead th.sorting_desc */
{
    background-image:url(../images/core/sort_desc_padded.png);
}

div.dataTables_wrapper .dataTables_filter /* div.dataTables_wrapper .dataTables_filter */
{
    background:none;
}

div.dataTables_wrapper .dataTables_info /* div.dataTables_wrapper .dataTables_info */
{
    color:#000000;
}

div.dataTables_wrapper .dataTables_paginate /* div.dataTables_wrapper .dataTables_paginate */
{
    padding:0;
    margin:8px;
    border:1px solid #333333;

    background:none;

    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -khtml-box-shadow:none;
    box-shadow:none;
}

/*div.dataTables_wrapper .dataTables_paginate div
{
    width:20px; height:20px;
    float:left;
    display:block;
    cursor:pointer;
}*/

div.dataTables_wrapper .dataTables_paginate .paginate_button, /* div.dataTables_wrapper .dataTables_paginate .paginate_button, */
div.dataTables_wrapper .dataTables_paginate .paginate_active  /* div.dataTables_wrapper .dataTables_paginate .paginate_active */
{
    padding:1px 15px;
    border-right:none;
}

div.dataTables_wrapper .dataTables_paginate .paginate_button_disabled /* div.dataTables_wrapper .dataTables_paginate .paginate_button_disabled */
{
    color:#969696;
}

div.dataTables_wrapper .dataTables_paginate .paginate_active /* div.dataTables_wrapper .dataTables_paginate .paginate_active */
{
    color:#ffffff;
    border-right:1px solid #232323;
    border-left:1px solid #666;
    border-left:1px solid rgba(255, 255, 255, 0.15);
    background-image:none;

    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -khtml-box-shadow:none;
    box-shadow:none;
}

/* 960 grid (fluid.css) */
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_full /* .grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_full */
{
    margin-left:3px;
    margin-right:auto;
}

/* MWS theme (mws.theme.css) */

div#mws-sidebar-bg,                                                  /* div#mws-sidebar-bg, */
div#mws-header,                                                      /* div#mws-header, */
.mws-panel .mws-panel-header,                                        /* .mws-panel .mws-panel-header, */
div#mws-error-container,                                             /* div#mws-error-container, */
div#mws-login,                                                       /* div#mws-login, */
div#mws-login .mws-login-lock,                                       /* div#mws-login .mws-login-lock, */
.ui-accordion .ui-accordion-header,                                  /* .ui-accordion .ui-accordion-header, */
.ui-tabs .ui-tabs-nav,                                               /* .ui-tabs .ui-tabs-nav, */
.ui-datepicker,                                                      /* .ui-datepicker, */
.fc-event-skin,                                                      /* .fc-event-skin, */
.ui-dialog .ui-dialog-titlebar,                                      /* .ui-dialog .ui-dialog-titlebar, */
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer,    /* div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer, */
div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box,             /* div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box, */
div#mws-user-tools .mws-dropdown-menu.toggled a.mws-dropdown-trigger /* div#mws-user-tools .mws-dropdown-menu.toggled a.mws-dropdown-trigger */
{
    background-color:#1C76BC;
}

div#mws-sidebar-bg
{
    background-color:#ffffff;
}

div#mws-login,
div#mws-login .mws-login-lock
{
    background-color:transparent;
}

div#mws-header /* div#mws-header */
{
    background-color:white;
    border-color:#1C76BC;
}

.mws-panel .mws-panel-header span,                                   /* .mws-panel .mws-panel-header span, */
div#mws-navigation ul li.active a,                                   /* div#mws-navigation ul li.active a, */
div#mws-navigation ul li.active span,                                /* div#mws-navigation ul li.active span, */
div#mws-user-tools #mws-username,                                    /* div#mws-user-tools #mws-username, */
div#mws-navigation ul li span.mws-nav-tooltip,                       /* div#mws-navigation ul li span.mws-nav-tooltip, */
div#mws-user-tools #mws-user-info #mws-user-functions #mws-username, /* div#mws-user-tools #mws-user-info #mws-user-functions #mws-username, */
.ui-dialog .ui-dialog-title,                                         /* .ui-dialog .ui-dialog-title, */
.ui-state-default,                                                   /* .ui-state-default, */
.ui-state-active,                                                    /* .ui-state-active, */
.ui-state-hover,                                                     /* .ui-state-hover, */
.ui-state-focus,                                                     /* .ui-state-focus, */
.ui-state-default a,                                                 /* .ui-state-default a, */
.ui-state-active a,                                                  /* .ui-state-active a, */
.ui-state-hover a,                                                   /* .ui-state-hover a, */
.ui-state-focus a                                                    /* .ui-state-focus a */
{
    font-weight:bold;
    color:#323232;
    text-shadow:none;
}

.mws-panel .mws-panel-header span
{
    color:white;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
}

.ui-dialog .ui-dialog-title
{
    color:white !important;
}

div#mws-searchbox input.mws-search-submit,                               /* div#mws-searchbox input.mws-search-submit, */
.mws-panel .mws-panel-header .mws-collapse-button span,                  /* .mws-panel .mws-panel-header .mws-collapse-button span, */
div.dataTables_wrapper .dataTables_paginate .paginate_disabled_previous, /* div.dataTables_wrapper .dataTables_paginate .paginate_disabled_previous, */
div.dataTables_wrapper .dataTables_paginate .paginate_enabled_previous,  /* div.dataTables_wrapper .dataTables_paginate .paginate_enabled_previous,  */
div.dataTables_wrapper .dataTables_paginate .paginate_disabled_next,     /* div.dataTables_wrapper .dataTables_paginate .paginate_disabled_next, */
div.dataTables_wrapper .dataTables_paginate .paginate_enabled_next,      /* div.dataTables_wrapper .dataTables_paginate .paginate_enabled_next, */
div.dataTables_wrapper .dataTables_paginate .paginate_active,            /* div.dataTables_wrapper .dataTables_paginate .paginate_active, */
.mws-table tbody tr.odd:hover td,                                        /* .mws-table tbody tr.odd:hover td, */
.mws-table tbody tr.even:hover td,                                       /* .mws-table tbody tr.even:hover td, */
.mws-table tbody tr.odd:hover td a,
.mws-table tbody tr.even:hover td a,
.fc-state-highlight,                                                     /* .fc-state-highlight,*/
.ui-slider-horizontal .ui-slider-range,                                  /* .ui-slider-horizontal .ui-slider-range, */
.ui-slider-vertical .ui-slider-range,                                    /* .ui-slider-vertical .ui-slider-range, */
.ui-progressbar .ui-progressbar-value,                                   /* .ui-progressbar .ui-progressbar-value, */
.ui-datepicker td.ui-datepicker-current-day,                             /* .ui-datepicker td.ui-datepicker-current-day, */
.ui-datepicker .ui-datepicker-prev .ui-icon,                             /* .ui-datepicker .ui-datepicker-prev .ui-icon, */
.ui-datepicker .ui-datepicker-next .ui-icon,                             /* .ui-datepicker .ui-datepicker-next .ui-icon, */
.ui-accordion-header .ui-icon,                                           /* .ui-accordion-header .ui-icon, */
.ui-dialog-titlebar-close .ui-icon                                       /* .ui-dialog-titlebar-close .ui-icon*/
{
    background-color:#1C76BC !important;
    color: white !important;
}

.ui-dialog .ui-dialog-titlebar-close span
{
    background-color: white !important;
}

div.dataTables_wrapper .dataTables_paginate .paginate_active
{
    background-color:#444 !important;
}

#sub-panel-link
{
    margin:4px 6px 0 0;
    color:#4682B4;
}

.existing-account-link
{
    line-height:34px;
}

#enrich-account-quickbutton
{
    margin:0;
    padding-bottom:5px;
}

/* 960 grid (text.css) */
.no-bottom-radius
{
  -webkit-border-bottom-left-radius : 0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-radius-bottomleft     : 0px !important;
  -moz-border-radius-bottomright    : 0px !important;
  border-bottom-left-radius         : 0px !important;
  border-bottom-right-radius        : 0px !important;
}

a
{
    color:#4682B4;
}

a:hover
{
    color:#1C76BC;
}

.no-decoration
{
    text-decoration:none;
}

h1, h2, h3 {
  color:#1C76BC;
}

h4, h5, h6 {
  color:#777777;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure
{
    margin-bottom:16px;
}

/**
 *     jQuery UI Accordion (jquery.ui.accordion.css)
 */
.ui-accordion .ui-accordion-header /* .ui-accordion .ui-accordion-header */
{
    background:url(../images/core/mws-panel-header-bg.png) repeat-x;
}

/**
 *     jQuery UI Datepicker (jquery.ui.datepicker.css)
 */
.ui-datepicker /* .ui-datepicker */
{
    background-color:white;
    border:1px solid #777777;
    width: 17em;
/*    padding: .2em .2em 0;*/
    display: none;
}

.ui-datepicker .ui-datepicker-header /* .ui-datepicker .ui-datepicker-header */
{
    background:#1C76BC;
    color:#ffffff;

    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -khtml-box-shadow:none;
    box-shadow:none;
}

.ui-datepicker table /* .ui-datepicker table */
{
    margin:0 0 .4em;
    font-size:.9em;
}

.ui-datepicker table thead /* .ui-datepicker table thead */
{
    background:none;
}

.ui-datepicker th /* .ui-datepicker th */
{
    padding:.7em .3em;
    font-weight:bold;
    border:0;
    color:#323232;
}

.ui-datepicker td /* .ui-datepicker td */
{
    border:0;
    background-color:#eae8f1;
    text-align:center;
}

.ui-datepicker td span, .ui-datepicker td a /* .ui-datepicker td span, .ui-datepicker td a */
{
    text-align:inherit;
}

.ui-datepicker td span, .ui-datepicker td a:hover,
.ui-datepicker .ui-state-highlight, .ui-widget-content .ui-state-highlight /* .ui-datepicker .ui-state-highlight, .ui-widget-content .ui-state-highlight */
{
    border-color:#1C76BC;
    color:#1C76BC !important;
}

.ui-datepicker td.ui-state-disabled /* .ui-datepicker td.ui-state-disabled */
{
    background-color:#EAE8F1;
    opacity:.35;
    filter:Alpha(35);
}

.ui-datepicker .ui-state-active
{
    color:#ffffff !important;
}

.ui-datepicker .ui-state-active.ui-state-hover {
    color:#ffffff !important;
}

.ui-datepicker .ui-datepicker-next .ui-icon-circle-triangle-e,
.ui-datepicker .ui-datepicker-prev .ui-icon-circle-triangle-w {
    background-color:#ffffff !important;
}

.ui-datepicker {
    z-index:9999 !important;
}

/**
 *     jQuery UI Dialog (jquery.ui.dialog.css)
 */
.ui-dialog .ui-dialog-titlebar /* .ui-dialog .ui-dialog-titlebar */
{
    margin:0;
    background:url(../images/core/mws-panel-header-bg.png);

    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
}

.ui-dialog .ui-dialog-titlebar-close span /* .ui-dialog .ui-dialog-titlebar-close span */
{
    background-color:white;
}

.ui-dialog .ui-dialog-content /* .ui-dialog .ui-dialog-content */
{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -o-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
}

/**
 *     jQuery UI Tabs (jquery.ui.tabs.css)
 */
.ui-tabs .ui-tabs-nav li /* .ui-tabs .ui-tabs-nav li */
{
    border:1px solid #bcbcbc;
    background-color:#eaeaea;
}

.ui-tabs .ui-tabs-nav li a /* .ui-tabs .ui-tabs-nav li a */
{
    padding:5px 1em !important;
    color:#777777;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected /* .ui-tabs .ui-tabs-nav li.ui-tabs-selected */
{
    background-color:#ffffff;
}

.ui-tabs .ui-tabs-panel /* .ui-tabs .ui-tabs-panel */
{
    border-top:1px solid #BCBCBC;
    background-color:#ffffff;
}

.ui-tabs .ui-tabs-nav /* .ui-tabs .ui-tabs-nav */
{
    background:none !important;
}

/**
 *     jQuery UI CSS Framework (jquery.ui.theme.css)
 */
.ui-widget-content, .ui-widget-header /* .ui-widget-content, .ui-widget-content a */
{
    color:#323232;
}

.ui-widget-content a, .ui-widget-header a /* .ui-widget-header, .ui-widget-header a */
{
    color:#4682B4;
}

/**
 *     Other
 */
div#mws-navigation ul li a.i-32,
div#mws-navigation ul li span.i-32 {
    padding-left: 40px;
}

.mws-panel-header a.i-32 {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-position: left -4px;
}

textarea.single-line,
.single-line textarea {
    height: 31px;
}

.customfile {
    padding: 4px 7px;
}
