{% verbatim %}
<script id="page-header.html" type="text/ng-template">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>
                {{ pageTitleBig || 'Insert Title' }}
                <small>{{ page_title_small || 'Insert Subtitle' }}</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li ng-repeat="breadCrumb in breadCrumbList">
            <a href="{{ crumb.link }}">{{ crumb.text }}</a>
            <i class="fa fa-circle" ng-hide="$last"></i>
        </li>
        <li ng-hide="BreadCrumbList.length">Insert breadcrumb</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- END PAGE HEADER-->
</script>
{% endverbatim %}
