{% verbatim %}
<script id="page-header.html" type="text/ng-template">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>
                {{ conf.pageTitleBig || 'Insert Title' }}
                <small>{{ conf.pageTitleSmall || 'Insert Subtitle' }}</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
</script>
{% endverbatim %}
