{% load i18n %}

<div class="row">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-angle-down"></i> Columns <i class="fa fa-columns"></i>
                    </button>
                    <div class="dropdown-menu hold-on-click dropdown-checkboxes">
                        <label model="table.visibility.name">
                            <div class="checker">
                                <span ng-class="{checked: model}" class="checked">
                                    <input type="checkbox" data-skip-uniform="" ng-model="model">
                                </span>
                            </div>
                            <ng-transclude>
                                <span class="ng-scope">{% trans 'Name' %}</span>
                            </ng-transclude>
                        </label>
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-filter"></i>
                            {% trans 'Filter' %}
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <div class="dropdown-menu hold-on-click dropdown-checkboxes list-filters">
                            <div ng-repeat="filter in filterList" class="ng-scope">
                                <label model="filter.selected" ng-click="updateFilterQuery()">
                                    <div class="checker">
                                        <span ng-class="{checked: model}" class="checked">
                                            <input type="checkbox" data-skip-uniform="" ng-model="model">
                                        </span>
                                    </div>
                                    <ng-transclude>
                                        <span class="ng-scope">{% trans 'Show archived' %}</span>
                                    </ng-transclude>
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn red-pink">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="tools col-xs-12 col-md-6">
                <form class="form-inline pull-right" action="index.html">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button type="submit" class="btn green">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn red-pink">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="portlet-body flip-scroll">
            <table class="table table-bordered table-striped flip-content">
                <thead class="flip-content">
                    <tr>
                        <th width="75px">
                            <span class="text-nowrap">
                                Options
                            </span>
                        </th>
                        <th>
                            <span class="text-nowrap">
                                <i class="fa fa-sort text-muted"></i>
                                Company
                            </span>
                        </th>
                        <th class="numeric">
                            <span class="text-nowrap">
                                <i class="fa fa-sort text-muted"></i>
                                Price
                            </span>
                        </th>
                        <th class="numeric">
                            <span class="text-nowrap">
                                <i class="fa fa-sort text-muted"></i>
                                Change
                            </span>
                        </th>
                        <th class="numeric">
                            <span class="text-nowrap">
                                <i class="fa fa-sort text-muted"></i>
                                Change %
                            </span>
                        </th>
                        <th class="numeric">
                            <span class="text-nowrap">
                                <i class="fa fa-sort text-muted"></i>
                                Open
                            </span>
                        </th>
                        <th class="numeric">
                            <span class="text-nowrap">
                                <i class="fa fa-sort text-muted"></i>
                                High
                            </span>
                        </th>
                        <th class="numeric">
                            <span class="text-nowrap">
                                <i class="fa fa-sort text-muted"></i>
                                Low
                            </span>
                        </th>
                        <th class="numeric">
                            <span class="text-nowrap">
                                <i class="fa fa-sort text-muted"></i>
                                Volume
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="/cases/update/1231/" class="btn btn-xs default" title="Edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button type="button" class="btn btn-xs default" title="Delete" data-target="#confirm-delete" data-source="/cases/delete/1231/">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        <td>AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                        <td class="numeric">&nbsp;</td>
                        <td class="numeric">-0.01</td>
                        <td class="numeric">-0.36%</td>
                        <td class="numeric">$1.39</td>
                        <td class="numeric">$1.39</td>
                        <td class="numeric">&nbsp;</td>
                        <td class="numeric">9,395</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/cases/update/1231/" class="btn btn-xs default" title="Edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button type="button" class="btn btn-xs default" title="Delete" data-target="#confirm-delete" data-source="/cases/delete/1231/">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        <td>AUSTRALIAN AGRICULTURAL COMPANY LIMITED.</td>
                        <td class="numeric">&nbsp;</td>
                        <td class="numeric">-0.01</td>
                        <td class="numeric">-0.36%</td>
                        <td class="numeric">$1.39</td>
                        <td class="numeric">$1.39</td>
                        <td class="numeric">&nbsp;</td>
                        <td class="numeric">9,395</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
